@import url(https://fonts.googleapis.com/css?family=Open+Sans:800,400);
*, *:before, *:after {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: #333;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.ghst-btn {
  position: relative;
  display: inline-block;
  top: 35%;
  width: auto;
  height: auto;
  max-width: 20rem;
  min-height: 1rem;
  padding: 1rem 2rem 0.8rem 2rem;
  border: 2px solid rgba(255,255,255,0.1);
  background-color: rgba(255,255,255,0);
  background-image:
    radial-gradient(#333 0%, #333 70%, transparent 71%, transparent 100%),
    radial-gradient(#333 0%, #333 70%, transparent 71%, transparent 100%),
    radial-gradient(#333 0%, #333 70%, transparent 71%, transparent 100%);
  background-size: 0 0, 0 0, 0 0;
  background-repeat: no-repeat;
  background-position: 30% 50%, 70% 50%, 50% 80%;
  text-decoration: none;
  color: rgba(255,255,255,0.3);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border-radius: 0;
  transform: rotate(0);
  transition:
    border 2.5s 1s,
    color 2s 0.6s,
    max-width 0.05s 0.6s, 
    min-height 0.05s 0.6s, 
    background-color 0.4s,
    background-size 0s,
    transform 0.4s,
    border-radius 0.4s;
}
.ghst-btn:hover {
  max-width: 10rem;
  min-height: 10rem;
  color: rgba(255,255,255,0);
  border: 2px solid rgba(255,255,255,0);
  border-radius: 50%;
  background-color: rgba(255,255,255,0.1);
  background-size: 1.5rem 1.5rem, 1.5rem 1.5rem, 1.5rem 1rem;
  transform: rotate(400grad);
  transition:
    border 0.1s,
    color 0.15s,
    max-width 0.25s, 
    min-height 0.25s, 
    background-color 0.25s,
    background-size 0.15s 0.45s,
    transform 0.4s,
    border-radius 0.25s 0.3s;
}
.ghst-btn:before,
.ghst-btn:after {
  position: absolute;
  transition: all 0.25s;
}
.ghst-btn:before {
  content:'boo';
  top: 50%;
  left: 50%;
  color: rgba(255,255,255,0.3);
  font-weight: 800;
  letter-spacing: 0;
  transform: scale(0) translateX(0) translateY(0);
  transition:
    color 0s,
    transform 0s;
}
.ghst-btn:after {
  content:'';
  top: 70%;
  left: 20%;
  width: 60%;
  height: 7%;
  background: none;
  border-radius: 50%;
  box-shadow: 0 5rem 15px rgba(0,0,0,0.15);
  opacity: 0;
  transition: opacity 0.05s;
}
.ghst-btn:hover:before {
  color: rgba(255,255,255,0.3);
  transform: scale(1.3) translateX(55%) translateY(-110%);
  transition:
    color 0.05s 0.8s,
    transform 0.1s 0.8s;
}
.ghst-btn:hover:after {
  opacity: 1;
  transition: opacity 0.2s 0.5s;
}