<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="theme-color" content="#ff6680">
<!-- Copyright © David Bushell | @dbushell -->
<link rel="dns-prefetch" href="https://unpkg.com">
<link rel="dns-prefetch" href="https://p.typekit.net">
<link rel="dns-prefetch" href="https://use.typekit.net">
<link rel="preload" href="/assets/js/app.min.js?v={{siteVer}}" as="script">
<link rel="preload" href="https://unpkg.com/react@16.3.2/umd/react.production.min.js" as="script" crossorigin="crossorigin">
<link rel="preload" href="https://unpkg.com/react-dom@16.3.2/umd/react-dom.production.min.js" as="script" crossorigin="crossorigin">
<title>{{pageTitle}}</title>
<link rel="manifest" href="/manifest.webmanifest?v={{siteVer}}">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/ico/apple-touch-icon.png?v={{siteVer}}">
<link rel="icon" type="image/png" href="/assets/ico/favicon-32x32.png?v={{siteVer}}" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/ico/favicon-16x16.png?v={{siteVer}}" sizes="16x16">
<link rel="shortcut icon" href="/assets/ico/favicon.ico?v={{siteVer}}">
<meta name="theme-color" content="#ff6680">
{{#if pageDesc}}
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@dbushell"/>
<meta name="twitter:title" content="{{pageHeading}}"/>
<meta name="twitter:description" content="{{pageDesc}}"/>
<meta name="twitter:image" content="{{siteURL 'assets/ico/apple-touch-icon.png'}}"/>
{{/if}}
<link rel="canonical" href="{{siteURL pagePath}}">
<link rel="alternate" type="application/rss+xml" title="dbushell.com RSS Feed" href="{{siteURL 'rss.xml'}}">
<script type="text/javascript">
  var d = document.documentElement;
  d.classList.remove('no-js');
  d.classList.add('js');
</script>
<style>
{{ inlineAsset pageCSS }}
</style>
</head>
<body>
