<link rel="apple-touch-icon" sizes="180x180" href="/assets/ico/apple-touch-icon.png?v={{siteVer}}">
<link rel="icon" type="image/png" href="/assets/ico/favicon-32x32.png?v={{siteVer}}" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/ico/favicon-16x16.png?v={{siteVer}}" sizes="16x16">
<link rel="manifest" href="/assets/ico/manifest.json?v={{siteVer}}">
<link rel="mask-icon" href="/assets/ico/safari-pinned-tab.svg?v={{siteVer}}" color="#ff6680">
<link rel="shortcut icon" href="/assets/ico/favicon.ico?v={{siteVer}}">
<meta name="msapplication-config" content="/assets/ico/browserconfig.xml?v={{siteVer}}">
<meta name="theme-color" content="#ff6680">
