#wrapper {
    display: inline-block;
}
#results-c1, #results-c2 {
    width: 390px;
    min-height: 40px;
    display: inline-block;
    background: #ffc;
    padding: 5px;
    margin: 0 6px 15px 0;
    float: left;
}