*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div{
  width: 100vw;
  height: 100vh;
  padding: 15px;
  --bg-color: #639;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

input{
  width: 100%;
  padding: 10px;
  border: 0;
  border-bottom: 3px solid #ebebeb;
  background: transparent;
  opacity: .7;
  box-shadow: none;
  outline: 0;
  font-size: 40px;
  text-align: center;
  color: #fff;
}