html {
  --x: 110;
  background: #000021;
  height: 100%;
}

body {
  display: flex;
  width: 600px;
  min-height: 100%;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.title {
  display: inline-block;
  margin: 0;
  font-size: 4rem;
  font-weight: 600;
  background-image: none;
  background-image: linear-gradient(45deg, #fff070 0%, #fff070 35%, #00c9d3 66%, #00c9d3 100%);
  background-image: linear-gradient(45deg, #fff070 0%, #fff070 calc(var(--x) * .1 * 1%), #00c9d3 calc(var(--x) * .4 * 1%), #00c9d3 calc(var(--x) * .7 * 1%));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: 'Playfair Display', serif;
}
