/* The basic stuff to make it work */
/* line 6, ../sass/style.scss */
.contenedor {
  width: 100vw;
  height: 100vh;
  background: deeppink;
  position: relative;
  display: flex;
  align-items: center;
}
/* line 14, ../sass/style.scss */
.contenedor form {
  box-sizing: border-box;
  text-align: center;
  padding: 22px;
  display: inline-flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  justify-content: center;
}
/* line 24, ../sass/style.scss */
.contenedor form input {
  height: 0;
  margin: 12px 0;
  z-index: 1;
}
/* line 29, ../sass/style.scss */
.contenedor form input:checked {
  outline: 0;
  border: 0;
}
/* line 34, ../sass/style.scss */
.contenedor form input:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid rgba(255, 255, 255, 0.81);
  border-radius: 11px;
  cursor: pointer;
  transition: all 0.25s linear;
}
/* line 46, ../sass/style.scss */
.contenedor form input:checked:before {
  background-color: white;
}
/* line 50, ../sass/style.scss */
.contenedor form input:after {
  content: "" attr(titulo) "";
  position: relative;
  left: 30px;
  opacity: 0;
  color: white;
  font-size: 9px;
  display: block;
  min-width: 80px;
  transition: all 0.25s linear;
}
/* line 62, ../sass/style.scss */
.contenedor form input:checked:after {
  opacity: 1;
  left: 20px;
}
/* line 67, ../sass/style.scss */
.contenedor form input:hover:after:not(label) {
  opacity: 1;
}
/* line 72, ../sass/style.scss */
.contenedor form input:nth-of-type(1):checked ~ .labels label {
  transform: translateY(-0%);
}
/* line 72, ../sass/style.scss */
.contenedor form input:nth-of-type(2):checked ~ .labels label {
  transform: translateY(-100%);
}
/* line 72, ../sass/style.scss */
.contenedor form input:nth-of-type(3):checked ~ .labels label {
  transform: translateY(-200%);
}
/* line 72, ../sass/style.scss */
.contenedor form input:nth-of-type(4):checked ~ .labels label {
  transform: translateY(-300%);
}
/* line 72, ../sass/style.scss */
.contenedor form input:nth-of-type(5):checked ~ .labels label {
  transform: translateY(-400%);
}
/* line 72, ../sass/style.scss */
.contenedor form input:nth-of-type(6):checked ~ .labels label {
  transform: translateY(-500%);
}
/* line 72, ../sass/style.scss */
.contenedor form input:nth-of-type(7):checked ~ .labels label {
  transform: translateY(-600%);
}
/* line 78, ../sass/style.scss */
.contenedor form .labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* line 87, ../sass/style.scss */
.contenedor form .labels label {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2B2B38;
  z-index: 0;
  transition: all 0.75s cubic-bezier(0.75, 0.25, 0, 1.05);
}
/* line 98, ../sass/style.scss */
.contenedor form .labels label:nth-child(odd) {
  background-color: #F5004F;
  color: white !important;
}

/* Fancy style */
/* line 108, ../sass/style.scss */
body {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: white;
}

/* line 117, ../sass/style.scss */
.content {
  width: 100%;
  box-sizing: border-box;
  padding: 0 110px;
}
/* line 122, ../sass/style.scss */
.content .block {
  width: inherit;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5;
  margin: 42px 0;
  display: flex;
  justify-content: center;
}
/* line 133, ../sass/style.scss */
.content .block span, .content .block span i {
  margin: 0 42px;
}
/* line 136, ../sass/style.scss */
.content .block span i {
  margin-bottom: 22px;
}
/* line 141, ../sass/style.scss */
.content .block span i:before {
  font-size: 30px;
}

/* line 149, ../sass/style.scss */
.Slide:nth-child(even) .content .block {
  color: #717171;
}

/* line 153, ../sass/style.scss */
.icon {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  font-size: 11px;
  text-align: center;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

/* line 165, ../sass/style.scss */
#Slide5 .content .block {
  flex-direction: column;
}
/* line 168, ../sass/style.scss */
#Slide5 .content .block i {
  margin: 0 12px;
  vertical-align: middle;
}

/* line 174, ../sass/style.scss */
strong {
  font-weight: 400;
}

/* line 178, ../sass/style.scss */
h1 {
  text-transform: uppercase;
}

/* line 182, ../sass/style.scss */
ol {
  text-align: left;
  list-style-type: decimal;
}

/* line 187, ../sass/style.scss */
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.25s linear;
}
/* line 192, ../sass/style.scss */
a:hover {
  color: rebeccapurple;
}
