
// Custom Jade Code Here
.container
	.check
		input(id="check" type="checkbox")
		label(for="check")
			.box
				i.fa.fa-check
		
	.check
		input(id="check1" type="checkbox")
		label(for="check1")
			.box
				i.fa.fa-check
		
	.check
		input(id="check2" type="checkbox")
		label(for="check2")
			.box
				i.fa.fa-check
		
	.check
		input(id="check3" type="checkbox")
		label(for="check3")
			.box
				i.fa.fa-check