.container-fluid
	.blog-card
		.media.col-sm-6.col-xs-6(style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/bg_24.png)")
		.card-body.col-sm-6.col-xs-6
			p.tagline.text-center Featured
			h3.title.text-center Blue Ocean Waves Crash
			.divider
			p.paragraph.text-justify
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam a incidunt fuga, ducimus nisi iusto ipsum sit deleniti suscipit atque aliquid, velit at? At quasi magni voluptates molestiae aperiam
				
			a.read-more.glyphicon.glyphicon-chevron-down
			