<div class="control-content"></div>
{{#if controller.currentRouteIsViewController}}
    {{#link-to "viewController.controlWebView" this tagName="div" class="inner-control"}}{{/link-to}}
{{else}}
    {{#link-to "scene.controlWebView" this tagName="div" class="inner-control"}}{{/link-to}}
{{/if}}
