<div class="control-content">{{title}}</div>
{{#if controller.currentRouteIsViewController}}
    {{#link-to "viewController.controlButton" this tagName="div" class="inner-control"}}{{/link-to}}
{{else}}
    {{#link-to "scene.controlButton" this tagName="div" class="inner-control"}}{{/link-to}}
{{/if}}
