<div class="control-content">
    <div class="watch-slider-minus">&#9472;</div>
    <div class="watch-slider-dash dash-green">&#9473;</div>
    <div class="watch-slider-dash dash-green">&#9473;</div>
    <div class="watch-slider-dash dash-gray">&#9473;</div>
    <div class="watch-slider-dash dash-gray">&#9473;</div>
    <div class="watch-slider-plus">&#9547;</div>
    <div class="watch-slider-left-row"></div>
    <div class="watch-slider-image"></div>
    <div class="watch-slider-right-row"></div>
</div>
{{#link-to "controlWatchSlider" this tagName="div" class="inner-control"}}{{/link-to}}
