<div class="control-content">
    <div class="watch-switch-title">{{title}}</div>
    <div class="watch-switch-image"></div>
</div>
{{#link-to "controlWatchSwitch" this tagName="div" class="inner-control"}}{{/link-to}}
