@import url(https://fonts.googleapis.com/css?family=Raleway:100,300);
/* line 5, ../sass/style.scss */
html, body {
  min-height: 100%;
  height: 100%;
}

/* line 13, ../sass/style.scss */
body {
  background-color: #ccc;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBmODY2YiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjM2Y5YTg1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGY4NjZiIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0f866b), color-stop(50%, #3f9a85), color-stop(100%, #0f866b));
  background-image: -moz-linear-gradient(top, #0f866b 0%, #3f9a85 50%, #0f866b 100%);
  background-image: -webkit-linear-gradient(top, #0f866b 0%, #3f9a85 50%, #0f866b 100%);
  background-image: linear-gradient(to bottom, #0f866b 0%, #3f9a85 50%, #0f866b 100%);
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100vw;
  color: rgba(255, 255, 255, 0.5);
}

/* line 24, ../sass/style.scss */
#title {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 20px;
  letter-spacing: 0.1em;
  z-index: 100;
}

/* line 33, ../sass/style.scss */
ul {
  position: fixed;
  top: 35px;
  left: 10px;
  list-style: none;
}
/* line 38, ../sass/style.scss */
ul > li {
  display: inline-block;
  padding-right: 10px;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 43, ../sass/style.scss */
ul > li:hover {
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* line 48, ../sass/style.scss */
#container {
  width: 100%;
  height: 100%;
}

/* line 53, ../sass/style.scss */
#waves {
  position: absolute;
  z-index: 20;
}
