.football-pitch
    .outline.marking
    .box.left.marking
    .box-d.left.marking
    .box.left.small.marking
    .box.right.marking
    .box-d.right.marking
    .box.right.small.marking
    .spot.left.marking
    .spot.right.marking
    .spot.center.marking
    .center-line.marking
    .center-circle.marking
    .corner.top.left.marking
    .corner.top.right.marking
    .corner.bottom.left.marking
    .corner.bottom.right.marking
    .grass
    