@import "https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext";
/* line 2, ../sass/style.scss */
body {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAFfKj/FAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF4OXp8PX50NXZBLxR6QAAAEhJREFUeNpiYGJgYGACCCAGMAAIIDiDCSCAGLAAgABCEcbBBAggGIORQhogwNCcwIjddKgQI6ojUbkgWSYMo+BCjKiOR9PLBAAchAAxHFDBbwAAAABJRU5ErkJggg==");
}

/* line 3, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/style.scss */
h1 {
  text-align: center;
  font-family: comfortaa;
  font-weight: 900;
  font-size: 3em;
  color: #fff;
  text-shadow: 0em 0.05em 0 rgba(0, 0, 0, 0.35);
}

/* line 5, ../sass/style.scss */
button {
  color: #454545;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #454545;
  position: relative;
  margin: 1em;
  display: inline-block;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-family: comfortaa;
  font-weight: bold;
}

/* line 7, ../sass/style.scss */
button:before, button:after {
  content: '';
  display: block;
  position: absolute;
  border-color: #454545;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out;
}

/* line 8, ../sass/style.scss */
button:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}

/* line 9, ../sass/style.scss */
button:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

/* line 10, ../sass/style.scss */
button:hover:before, button:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #fff;
}

/* line 12, ../sass/style.scss */
button:hover {
  color: #353535;
  background-color: #fff;
  border-color: #fff;
}

/* line 13, ../sass/style.scss */
.panel {
  max-width: 960px;
  text-align: center;
  position: relative;
  margin: auto;
}

/* line 16, ../sass/style.scss */
.pink button {
  color: #eb1777;
  border-color: #eb1777;
}

/* line 17, ../sass/style.scss */
.pink button:before, .pink button:after {
  border-color: #eb1777;
}

/* line 18, ../sass/style.scss */
.pink button:hover:before, .pink button:hover:after {
  border-color: #eb1777;
}

/* line 19, ../sass/style.scss */
.pink button:hover {
  color: #fff;
  background-color: #eb1777;
  border-color: #eb1777;
}

/* line 20, ../sass/style.scss */
.pink .panel {
  max-width: 960px;
  text-align: center;
  position: relative;
  margin: auto;
}

/* line 23, ../sass/style.scss */
.blue button {
  color: #3bb4e5;
  border-color: #3bb4e5;
}

/* line 24, ../sass/style.scss */
.blue button:before, .blue button:after {
  border-color: #3bb4e5;
}

/* line 25, ../sass/style.scss */
.blue button:hover:before, .blue button:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #3bb4e5;
  transform: rotateY(180deg);
}

/* line 27, ../sass/style.scss */
.blue button:hover {
  color: #3bb4e5;
  background-color: transparent;
  border-color: #3bb4e5;
}

/* line 28, ../sass/style.scss */
.blue .panel {
  max-width: 960px;
  text-align: center;
  position: relative;
  margin: auto;
}

/* line 30, ../sass/style.scss */
.borderless button {
  border-color: transparent;
  color: #999;
}

/* line 31, ../sass/style.scss */
.borderless button:hover {
  border-color: #353535;
  background-color: transparent;
  color: #353535;
}

/* line 32, ../sass/style.scss */
.borderless button:before, .borderless button:after {
  border-color: transparent;
}

/* line 33, ../sass/style.scss */
.borderless button:hover:before, .borderless button:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #353535;
}

/* line 35, ../sass/style.scss */
.bw button {
  color: #fff;
  border-color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

/* line 38, ../sass/style.scss */
.bw button:before, .bw button:after {
  border-color: #fff;
}

/* line 39, ../sass/style.scss */
.bw button:hover:before, .bw button:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #353535;
}

/* line 41, ../sass/style.scss */
.bw button:hover {
  color: #fff;
  background-color: #353535;
  border-color: #353535;
}

/* line 42, ../sass/style.scss */
.blue .panel {
  max-width: 960px;
  text-align: center;
  position: relative;
  margin: auto;
}
