/* line 1, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 7, ../sass/style.scss */
.app {
  position: relative;
  width: 400px;
  height: 100vh;
  margin-left: calc(50% - 200px);
  padding-top: 30px;
}

/* line 15, ../sass/style.scss */
.text {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  letter-spacing: -1px;
}

/* line 22, ../sass/style.scss */
.container {
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 30px;
}

/* line 28, ../sass/style.scss */
.card {
  position: absolute;
  width: 90%;
  height: 90px;
  transform-origin: 50% 50% 0px;
  will-change: transforms;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  border-radius: 4px;
  cursor: -webkit-grab;
  text-align: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 52px;
  padding-top: 14px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 500px) {
  /* line 51, ../sass/style.scss */
  .app {
    width: 100%;
    margin-left: 0px;
  }

  /* line 55, ../sass/style.scss */
  .text {
    margin-left: 5%;
  }

  /* line 58, ../sass/style.scss */
  .card {
    margin-left: 5%;
  }
}
