@import 'reset.scss';

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

#kiwi {
	transition: transform 2.2s cubic-bezier(.4,.25,.3,1.3);
	width: 200px;
	height: 200px;
	background-color: #9dcb78;
	border: 6px solid #555643;
	border-radius: 50%;
	z-index: 0;
	cursor: pointer;
	section {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 25%;
		position: absolute;
		top: 37.5%;
		left: 0;
		z-index: 2;
		div {
			width: 35%;
			height: 100%;
			background-color: #8fc267;
			&::after {
				content: '';
				width: 25%;
				height: 17.5%;
				position: absolute;
				top: 50%;
				left: 50%;
				background-color: #424852;
				transform: translate(-50%, -50%);
				border-radius: 100%;
			}
			
			&:first-child {
				border-top-left-radius: 80%;
				border-bottom-left-radius: 80%;
				border-top-right-radius: 85%;
				border-bottom-right-radius: 85%;
			}
			
			&:last-child {
				border-top-left-radius: 85%;
				border-bottom-left-radius: 85%;
				border-top-right-radius: 80%;
				border-bottom-right-radius: 80%;
			}
		}
 		&:nth-of-type(2) {transform: rotate(45deg)}
		&:nth-of-type(3) {transform: rotate(-45deg)}
		&:last-of-type {transform: rotate(90deg)}
	}
	
	&::after {
		content: '';
		width: 50%;
		height: 50%;
		background-color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: 1;
	}
}

hgroup {
	position: absolute;
	bottom: 2rem;
	left: 3rem;
	color: #424852;
	font-family: 'Josefin Sans', sans-serif;
	h2 {
		font-size: 1.1rem;
		margin-bottom: .5rem;
	}
	
	h1 {
		font-size: 2.25rem;
		font-weight: 600;
		span {
			font-size: 1.1em;
			font-weight: 300;
		}
	}
}
