html {
	display: flex;
	width:100vw;
	height:100vh;
	display: flex;
  align-items: center;
  justify-content: center;
}

#heart {
	border-radius: 50%;
	height: 65vh;
	width: 65vh;
	transform-origin: center center;
	
	@media all and (max-aspect-ratio: #{1/1})  {
		height: 65vw;
		width: 65vw;	
	}	
}

//COLORS
#heart {
	background: rgba(white, 0.9);
}
html {
	//background: rgba(desaturate(blue,80%), 0.9);
	background: rgba(#000, 0.8);
}