
<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo">
      <%= image_tag("/assets/logos/polity_logo_bg.png") %>
    </a>
    <div class="hero-copy">
      <h1>Polity Chicago</h1>
      <p>DragonHawks FOR LIFE.</p>
    </div>
    <button class="btn btn-red btn-large">
      <a href="#learn_more">Learn More</a>
    </button>
  </div>
</div>
  <section class="first">
    <div class="bullets">
      <div class="bullet three-col-bullet">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x" style="color: #477dca"></i>
          <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
        </span>
        <div class="bullet-content">
          <h2>Educate</h2>
          <p>You have the right to access info about your Local Politician.<hr /> Polity makes it easy to learn about your representative and their voting decisions.</p>
        </div>
      </div>
      <div class="bullet three-col-bullet">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x" style="color: #47caaa"></i>
          <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
        </span>
        <div class="bullet-content">
          <h2>Voice Opinions</h2>
          <p>You have the right to communicate with your Local Politicians.<hr /> Polity encourages giving feedback to your representative, through our simple toolset.</p>
        </div>
      </div>
      <div class="bullet three-col-bullet">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x" style="color: #a9ca47"></i>
          <i class="fa fa-group fa-stack-1x fa-inverse"></i>
        </span>
        <div class="bullet-content">
          <h2>Community</h2>
          <p> You have the right to organise with your fellow community members.<hr /> Polity helps you connect with your neighbors, encouraging positive community contributions.</p>
        </div>
      </div>
    </div>
    <a name="learn_more"></a>
  </section>
