
// Custom Jade Code Here
.container
	.checkboxes
		.check
			input(id="check" type="checkbox")
			label(for="check")
				.box
					i.fa.fa-check

		.check
			input(id="check1" type="checkbox")
			label(for="check1")
				.box
					i.fa.fa-check

		.check
			input(id="check2" type="checkbox")
			label(for="check2")
				.box
					i.fa.fa-check

		.check
			input(id="check3" type="checkbox")
			label(for="check3")
				.box
					i.fa.fa-check
				
				
				
	p This is updated version of checkboxes. Used css3 transform to achive better performance! Thank you for your <3.
