a:link {
  color: black;
}

a:visited {
  color: gray;
}

a:hover {
  color: pink;
}

a:active {
  color: yellow;
}

.background-switch {
  text-align: center;
  padding: 1em;
  max-width: 250px;
  font-size: 2.2em;
  border-radius: 30px;
  background-color: pink;
}

.background-switch:hover {
  background-color: lightblue;
  color: white;
}

.hover-rotate {
  margin-left: 30px;
}

.hover-rotate:hover {
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.hover-outline {
  margin-left: 30px;
  margin-top: 10px;
}

.hover-outline:hover {
  outline: 5px solid gray;
  outline-offset: 10px;
}
