/* line 3, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/style.scss */
html, body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #3d4340;
  font-family: "Dosis";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
  background: #212121;
}

/* VARS */
/* $teal: #79BB9F; */
/* STYLES */
/* line 43, ../sass/style.scss */
button {
  -webkit-appearance: none;
  outline: none;
  background: tranparent;
  border: none;
  display: block;
  cursor: pointer;
}

/* line 54, ../sass/style.scss */
.login {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -moz-box-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
}

/* line 72, ../sass/style.scss */
.terminal.state--frozen .pwd__btn {
  cursor: default;
  pointer-events: none;
}
/* line 76, ../sass/style.scss */
.terminal.state--warp {
  -moz-animation: warpOut 0.35s ease;
  -webkit-animation: warpOut 0.35s ease;
  animation: warpOut 0.35s ease;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 81, ../sass/style.scss */
.terminal-title {
  text-transform: uppercase;
  color: rgba(87, 200, 144, 0.8);
  padding-bottom: 48px;
}
/* line 85, ../sass/style.scss */
.terminal-title span, .terminal-title h3 {
  opacity: 0;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 89, ../sass/style.scss */
.terminal-title span {
  display: block;
  font-size: 14px;
  -moz-animation: shiftInUp 0.35s ease 0.2s;
  -webkit-animation: shiftInUp 0.35s ease 0.2s;
  animation: shiftInUp 0.35s ease 0.2s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* line 95, ../sass/style.scss */
.terminal-title h3 {
  font-size: 42px;
  font-weight: 600;
  -moz-animation: shiftInUp 0.35s ease 0.3s;
  -webkit-animation: shiftInUp 0.35s ease 0.3s;
  animation: shiftInUp 0.35s ease 0.3s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 105, ../sass/style.scss */
.seq-pad {
  padding: 24px 24px 0 24px;
  border: 1px solid rgba(87, 200, 144, 0.15);
  position: relative;
  opacity: 0;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-animation: warpIn 0.45s ease;
  -webkit-animation: warpIn 0.45s ease;
  animation: warpIn 0.45s ease;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 114, ../sass/style.scss */
.seq-pad__cnr {
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #57c890;
}
/* line 119, ../sass/style.scss */
.seq-pad__cnr.cnr--tp-lt {
  top: 2px;
  left: 2px;
}
/* line 123, ../sass/style.scss */
.seq-pad__cnr.cnr--tp-rt {
  top: 2px;
  right: 2px;
}
/* line 126, ../sass/style.scss */
.seq-pad__cnr.cnr--bt-lt {
  bottom: 2px;
  left: 2px;
}
/* line 130, ../sass/style.scss */
.seq-pad__cnr.cnr--bt-rt {
  bottom: 2px;
  right: 2px;
}

/* line 139, ../sass/style.scss */
.seq-pad__inr {
  overflow: hidden;
}

/* line 143, ../sass/style.scss */
.pad-btn, .pad-btn--blnk {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 6px;
  margin-bottom: 26px;
}
/* line 149, ../sass/style.scss */
.pad-btn:nth-child(8n + 1), .pad-btn--blnk:nth-child(8n + 1) {
  clear: left;
}

/* line 153, ../sass/style.scss */
.pad-btn {
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(87, 200, 144, 0.8);
  font-family: "Dosis";
  font-size: 38px;
  font-weight: 400;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 162, ../sass/style.scss */
.pad-btn:hover {
  color: #57c890;
  background-color: rgba(255, 255, 255, 0.15);
}
/* line 166, ../sass/style.scss */
.pad-btn.state--active {
  color: #c2b769;
  background-color: rgba(194, 160, 105, 0.15);
}
/* line 169, ../sass/style.scss */
.pad-btn.state--active .pad-btn__bdr {
  background-color: rgba(194, 160, 105, 0.65);
}
/* line 173, ../sass/style.scss */
.pad-btn.state--error {
  color: #cc6570;
  background-color: rgba(189, 93, 104, 0.15);
}
/* line 176, ../sass/style.scss */
.pad-btn.state--error .pad-btn__bdr {
  background-color: rgba(189, 93, 104, 0.65);
}
/* line 180, ../sass/style.scss */
.pad-btn.state--success {
  color: #76c160;
  background-color: rgba(61, 102, 69, 0.15);
}
/* line 183, ../sass/style.scss */
.pad-btn.state--success .pad-btn__bdr {
  background-color: rgba(61, 102, 69, 0.85);
}

/* line 192, ../sass/style.scss */
.pad-btn__sqrs {
  position: absolute;
  left: 8px;
  bottom: 8px;
  overflow: hidden;
}
/* line 197, ../sass/style.scss */
.pad-btn__sqrs .pad-btn__sqr {
  width: 4px;
  height: 4px;
  display: block;
  float: left;
  margin-right: 2px;
  background-color: #57c890;
}

/* line 207, ../sass/style.scss */
.pad-btn__bdr {
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: rgba(87, 200, 144, 0.4);
}
/* line 211, ../sass/style.scss */
.pad-btn__bdr:before, .pad-btn__bdr:after {
  content: "";
  position: absolute;
  display: block;
  background-color: inherit;
}
/* line 216, ../sass/style.scss */
.pad-btn__bdr.bdr--tp, .pad-btn__bdr.bdr--bt {
  height: 1px;
  width: calc(100% - 12px);
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}
/* line 221, ../sass/style.scss */
.pad-btn__bdr.bdr--tp:before, .pad-btn__bdr.bdr--tp:after, .pad-btn__bdr.bdr--bt:before, .pad-btn__bdr.bdr--bt:after {
  width: 2px;
  height: 1px;
  top: 0;
  left: -6px;
}
/* line 226, ../sass/style.scss */
.pad-btn__bdr.bdr--tp:after, .pad-btn__bdr.bdr--bt:after {
  left: auto;
  right: -6px;
}
/* line 230, ../sass/style.scss */
.pad-btn__bdr.bdr--bt {
  top: auto;
  bottom: 0;
}
/* line 233, ../sass/style.scss */
.pad-btn__bdr.bdr--rt, .pad-btn__bdr.bdr--lt {
  width: 1px;
  height: calc(100% - 12px);
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
/* line 239, ../sass/style.scss */
.pad-btn__bdr.bdr--lt {
  left: 0;
  right: auto;
}

/* line 245, ../sass/style.scss */
.terminal-footer {
  position: relative;
  width: 100%;
  margin-top: 26px;
  clear: both;
  text-align: center;
  min-height: 40px;
}

/* line 253, ../sass/style.scss */
.btn--clr {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  padding: 0 12px;
  font-weight: 500;
  border: none;
  background-color: #8F1934;
  color: #1a1a1a;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all, 0.25s;
  -o-transition: all, 0.25s;
  -webkit-transition: all, 0.25s;
  transition: all, 0.25s;
  -moz-transform: translate3d(0, -6px, 0);
  -ms-transform: translate3d(0, -6px, 0);
  -webkit-transform: translate3d(0, -6px, 0);
  transform: translate3d(0, -6px, 0);
}
/* line 270, ../sass/style.scss */
.btn--clr.state--visible {
  visibility: visible;
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 276, ../sass/style.scss */
.verify-msg {
  display: inline-block;
  vertical-align: top;
  line-height: 26px;
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  -moz-transform: translate3d(0, 6px, 0);
  -ms-transform: translate3d(0, 6px, 0);
  -webkit-transform: translate3d(0, 6px, 0);
  transform: translate3d(0, 6px, 0);
  -moz-transition: width 0.25s, -moz-transform 0.25s;
  -o-transition: width 0.25s, -o-transform 0.25s;
  -webkit-transition: width 0.25s, -webkit-transform 0.25s;
  transition: width 0.25s, transform 0.25s;
  -moz-animation: blink 0.35s ease infinite alternate;
  -webkit-animation: blink 0.35s ease infinite alternate;
  animation: blink 0.35s ease infinite alternate;
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
/* line 287, ../sass/style.scss */
.verify-msg.state--play {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-animation-play-state: running;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  width: 150px;
}
/* line 292, ../sass/style.scss */
.verify-msg.state--error {
  color: #cc6570;
}
/* line 295, ../sass/style.scss */
.verify-msg.state--success {
  color: #76c160;
}

/* line 299, ../sass/style.scss */
.terminal-load-bar {
  height: 2px;
  width: 50%;
  display: block;
  position: relative;
  margin-top: 10px;
}
/* line 305, ../sass/style.scss */
.terminal-load-bar:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  margin: auto;
  width: 0;
  background: rgba(118, 193, 96, 0.35);
  -moz-transition: width 1.8s;
  -o-transition: width 1.8s;
  -webkit-transition: width 1.8s;
  transition: width 1.8s;
}
/* line 312, ../sass/style.scss */
.terminal-load-bar.state--loading:before {
  width: 100%;
}

/* line 319, ../sass/style.scss */
.welcome {
  display: none;
  width: 340px;
}
/* line 322, ../sass/style.scss */
.welcome h2 {
  font-size: 22px;
  text-transform: uppercase;
  color: #57c890;
  line-height: 1;
}
/* line 328, ../sass/style.scss */
.welcome p {
  font-size: 14px;
  line-height: 20px;
  color: rgba(87, 200, 144, 0.7);
  padding: 26px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 336, ../sass/style.scss */
.welcome .btn--rst {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  padding: 0 12px;
  font-weight: 500;
  border: none;
  background-color: #8F1934;
  color: #1a1a1a;
}

@-moz-keyframes shiftInUp {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes shiftInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes shiftInUp {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes warpIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }
}
@-moz-keyframes warpOut {
  0% {
    opacity: 1;
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    -moz-transform-origin: center center;
    transform-origin: center center;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -moz-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    -moz-transform-origin: center center;
    transform-origin: center center;
  }
}
@-webkit-keyframes warpOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }
}
@keyframes warpOut {
  0% {
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }
}
