.wrapper {
  width: 400px;
  margin: auto;
  padding: 20px;
}
.wrapper h1, .wrapper p {
  margin: 12px;
}

.field-wrapper {
  display: block;
  margin: 30px 10px;
}

.field-wrapper .field-wrapper-item {
  position: relative;
  outline: none;
  line-height: .875em;
  width: 100%;
}
.field-wrapper .field-wrapper-item.focused label {
  transition: all .2s;
  position: absolute;
  top: -20px;
}

.field-wrapper .field-wrapper-item label {
  max-width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1em;
  color: #b5b5b5;
  position: absolute;
  top: 0px;
  display: inline-block;
  background: #FFF;
  margin: .5em .3125em;
  line-height: 1.4em;
  padding: 0 10px;
  transition: all .2s;
  text-transform: capitalize;
}

.field-wrapper-children input {
  padding: 10px;
  width: 300px;
  border: 1px solid #b5b5b5;
}
