@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Crimson+Text:400,400italic,700italic,700);

html {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  line-height: 1.3;
  @media (max-width: 520px) {
    font-size: 16px; 
  }
}

.page-wrap {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
}

.article-header {
  text-align: center;
  @media (max-width: 520px) {
    h2 {
      font-size: 1.2rem;
    }
  }
}

.classification-header {
  text-transform: uppercase;
  color: red;
  letter-spacing: 0.1rem;
}

.intro-ps {
  columns: 2;
  margin: 0 0 2rem 0;
  > p:first-child {
    text-indent: 0;
    strong {
      font-size: 125%;
      letter-spacing: -1px;
      line-height: 0;
    }
  }
  @media (max-width: 520px) {
    columns: 1; 
  }
}

.in-brief {
  text-align: center;
  margin: 0 0 2rem 0;
  h3 {
    text-transform: uppercase;
    text-align: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: inline-block;
    padding: 0 20px;
    color: #999;
    letter-spacing: 0.2rem;
    font-size: 80%;
    margin: 0;
    background: white;
    position: relative;
    top: 1px;
  }
}
.in-brief-content {
  columns: 3;
  font-size: 0.8rem;
  text-align: left;
  border: 1px solid #ccc;
  padding: 20px;
  @media (max-width: 520px) {
    columns: 2; 
  }
}

h1 {
  
}
h2 {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}
h3 {
  
}
h4 {
  font-family: 'Montserrat', sans-serif;
}
p {
  text-indent: 2rem;
  margin: 0;  
}

.article-header {
  padding: 0 50px;
  margin: 0 0 30px 0;
}
.byline {
  font-style: italic;
}
.article-body {
  font-size: 0.9rem;
  max-width: 500px;
  margin: 0 auto;
  h3 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
  }
}

figure {
  margin: 1rem 0;
  figcaption {
    font-weight: bold;
    letter-spacing: -0.03rem;
  }
  img {
    margin: 0 0 5px 0;
  }
}
img {
  max-width: 100%;
  display: block;
}