//- arrays
- var btnTypes = {'border-o':'Border - Open','border':'Border','border-rev-o':'Border Reversed - Open','border-rev':'Border Reversed','fill-vert-o':'Fill Vertical - Open','fill-vert':'Fill Vertical','fill-horz-o':'Fill Horizontal - Open','fill-horz':'Fill Horizontal'}
- var btnColors = {'green':'Emerald','blue':'Peter River','purple':'Amethyst','navy':'Wet Asphalt','orange':'Carrot','red':'Alizarin'}

.main-container
	h1 Colorful CSS Buttons
	each name,type in btnTypes
		section
			h2= name
			each text,color in btnColors
				button(class="btn btn-"+color+" btn-"+type)= text