@import "https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700";
/* line 3, ../sass/style.scss */
*, *:after, *:before {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/style.scss */
.svg-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

/* line 17, ../sass/style.scss */
svg path {
  transition: .1s;
}
/* line 21, ../sass/style.scss */
svg:hover path {
  d: path("M 800 300 Q 400 250 0 300 L 0 0 L 800 0 L 800 300 Z");
}

/* line 26, ../sass/style.scss */
body {
  background: #fff;
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
}

/* line 33, ../sass/style.scss */
h3 {
  font-weight: 400;
}

/* line 37, ../sass/style.scss */
header {
  color: #fff;
  padding-top: 10vw;
  padding-bottom: 30vw;
  text-align: center;
}

/* line 44, ../sass/style.scss */
main {
  background: linear-gradient(to bottom, #ffffff 0%, #dddee1 100%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10vh 0 80vh;
  position: relative;
  text-align: center;
  overflow: hidden;
}
/* line 52, ../sass/style.scss */
main::after {
  border-right: 2px dashed #eee;
  content: '';
  position: absolute;
  top: calc(10vh + 1.618em);
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 100%;
}

/* line 64, ../sass/style.scss */
footer {
  background: #dddee1;
  padding: 5vh 0;
  text-align: center;
  position: relative;
}

/* line 71, ../sass/style.scss */
small {
  opacity: .5;
  font-weight: 300;
}
/* line 75, ../sass/style.scss */
small a {
  color: inherit;
}
