@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
body {
  background: #8e825c;
  font-family: 'Titillium Web', sans-serif;
}

canvas {
  background: #2d2c2a;
  box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -250px;
}

.header {
  width: 500px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -310px 0 0 -250px;
  height: 50px;
}
.header h1 {
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  color: black;
  color: #2d2c2a;
}

.generation {
  width: 500px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: 260px 0 0 -250px;
  height: 50px;
  font-weight: 300;
  text-align: center;
}
