@import '../../node_modules/angular-material/angular-material';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.flip {
  transform: rotate3d(1, 0, 0, 180deg);
}

.toolbar-input {
  > input {
    appearance: none;
    border: none;
    display: block;
    width: 100%;
    outline: none;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 8px;
    font-size: 16px;
  }
}

md-list-item .active {
  font-weight: 700;
}


md-list-item.active {
  background-color: rgba(158,158,158,0.2);
}