/**
 * Marching ants selection
 */
rect {
  stroke: black;
  stroke-width: 2px;
  stroke-dasharray: 5px 3px;
  animation: marching-ants .6s linear infinite;
  fill: none;
}

svg {
  width: 600px;
  height: 400px;
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -8px;
  }
}
