@import "https://fonts.googleapis.com/css?family=Quicksand";
body {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  color: whitesmoke;
}

p {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  margin-top: 1em;
}
