@import url(https://fonts.googleapis.com/css?family=Quattrocento%20Sans);
/* 1 */
/* line 3, ../sass/style.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
  font-family: "Quattrocento Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 4, ../sass/style.scss */
html, body {
  height: 100%;
  background-color: #333;
}

/* line 5, ../sass/style.scss */
#contenedor {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 50px auto;
  width: 640px;
}

/* line 13, ../sass/style.scss */
.rowDiv {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

/* line 20, ../sass/style.scss */
#control label {
  display: inline-block;
  width: 25%;
  height: 2em;
}

/* line 21, ../sass/style.scss */
#control [type=range]:disabled {
  opacity: .4;
}

/* line 24, ../sass/style.scss */
.radioDiv {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2em;
  width: 100%;
}

/* line 36, ../sass/style.scss */
input[type=radio] {
  margin: .25em 1em .25em 0;
}

/* line 37, ../sass/style.scss */
#control {
  width: 640px;
  padding-top: 2em;
}

/* line 38, ../sass/style.scss */
#contenedor h1 {
  font-size: 180%;
  width: 100%;
  text-align: center;
  margin: 1em 0;
}

/* line 40, ../sass/style.scss */
.inputDiv {
  width: 640px;
  height: 480px;
  position: relative;
  overflow: hidden;
}

/* line 41, ../sass/style.scss */
.inputDiv div {
  position: absolute;
  overflow: hidden;
}

/* line 42, ../sass/style.scss */
.inputDiv #typeRange {
  position: absolute;
  bottom: 0px;
}

/* line 44, ../sass/style.scss */
#filterImg img {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}

/* line 49, ../sass/style.scss */
#filterImg {
  width: calc(640px * .65);
  border-right: 10px solid rgba(0, 0, 0, 0.3);
}

/* line 50, ../sass/style.scss */
#typeRange {
  display: block;
  width: 640px;
  height: 480px;
  background-color: transparent;
}

/* line 51, ../sass/style.scss */
#typeRange:focus {
  outline: none;
}

/* 2 */
/* line 56, ../sass/style.scss */
#typeRange, #typeRange::-webkit-slider-runnable-track, #typeRange::-webkit-slider-thumb {
  -webkit-appearance: none;
}

/* line 59, ../sass/style.scss */
#typeRange, #typeRange::-moz-range-thumb, #typeRange::-moz-range-thumb {
  -moz-appearance: none;
  position: relative;
}

/* 2.1 THUMB */
/* line 64, ../sass/style.scss */
#typeRange::-webkit-slider-thumb {
  height: 480px;
  width: 15px;
  background-color: transparent;
  cursor: col-resize;
}

/* line 65, ../sass/style.scss */
#typeRange::-moz-range-thumb {
  height: 480px;
  width: 15px;
  background-color: transparent;
  cursor: col-resize;
  border: none;
}

/* line 66, ../sass/style.scss */
#typeRange::-ms-thumb {
  height: 480px;
  width: 15px;
  background-color: transparent;
  cursor: col-resize;
}

/* 2.2 TRACK */
/* line 72, ../sass/style.scss */
#typeRange::-webkit-slider-runnable-track {
  height: 480px;
  background: transparent;
}

/* line 73, ../sass/style.scss */
#typeRange:focus::-webkit-slider-runnable-track {
  outline: none;
}

/* line 75, ../sass/style.scss */
#typeRange::-moz-range-track {
  outline: none;
  background: none;
}

/*****************************/
/* line 85, ../sass/style.scss */
input[type=range].plain {
  position: relative;
  top: 1px;
  width: 60%;
  margin: 0 1em;
  -webkit-align-self: flex-start;
  -ms-flex-align: start;
  align-self: flex-start;
}

/* line 95, ../sass/style.scss */
p {
  line-height: 200%;
  color: #ddd;
  margin: 1em 0;
}
