.container-fluid
	.col-lg-6.col-lg-offset-0.col-md-6.col-md-offset-0.col-sm-10.col-sm-offset-1.col-xs-12
		figure
			.media(style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/bg_15.png)")
			figcaption
				svg(viewBox="0 0 200 200" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg")
					defs
						mask(id="mask" x="0" y="0" width="100%" height="100%")
							//- alpha rectangle
							rect(id="alpha" x="0" y="0" width="100%" height="100%")
							//- All text that you want
							text(class="title" dx="50%" dy="2.5em") ENJOY
							text(class="title" dx="50%" dy="3.5em") EVERY
							text(class="title" dx="50%" dy="4.5em") MOMENT
					rect(id="base" x="0" y="0" width="100%" height="100%")
				.body
					p Enamel pin selvage health goth edison bulb, venmo glossier tattooed hella butcher cred iPhone.
			a(href="#")
	.col-lg-6.col-md-6.hidden-sm.hidden-xs
		figure
			.media(style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/bg_5.png)")
			figcaption
				svg(viewBox="0 0 200 200" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg")
					defs
						mask(id="mask" x="0" y="0" width="100%" height="100%")
							//- alpha rectangle
							rect(id="alpha" x="0" y="0" width="100%" height="100%")
							//- All text that you want
							text(class="title" dx="50%" dy="2.5em") ENJOY
							text(class="title" dx="50%" dy="3.5em") EVERY
							text(class="title" dx="50%" dy="4.5em") MOMENT
					rect(id="base" x="0" y="0" width="100%" height="100%")
				.body
					p Enamel pin selvage health goth edison bulb, venmo glossier tattooed hella butcher cred iPhone. Plaid skateboard man braid wayfarers.
			a(href="#")