/* Number of elements (one less than in Haml) */
/* Animation duration in seconds */
/* Radius of a circle in percent */
/* The percent of the radius that each dot moves in an animation */
/* The keyframe at which the dots reach full size */
/* Max of total size scaled to in animation */
/* Divides dots into circles */
/* line 11, ../sass/style.scss */
body {
  background-color: black;
}

/* line 12, ../sass/style.scss */
.container {
  position: relative;
  max-width: 100vh;
  max-height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
/* line 18, ../sass/style.scss */
.container:before {
  content: "";
  display: block;
  margin-top: 100%;
}

/* line 24, ../sass/style.scss */
.dot {
  width: 10%;
  height: 10%;
  position: absolute;
  left: 45%;
  top: 45%;
}
/* line 30, ../sass/style.scss */
.dot .inner {
  width: 100%;
  height: 100%;
  animation: move 2s linear infinite;
}
/* line 35, ../sass/style.scss */
.dot .inner::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: scale 2s linear infinite;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(1) {
  transform: rotate(-25.71429deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(1) .inner {
  animation-delay: -0.03571s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(1) .inner::after {
  animation-delay: -0.03571s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(2) {
  transform: rotate(-51.42857deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(2) .inner {
  animation-delay: -0.07143s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(2) .inner::after {
  animation-delay: -0.07143s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(3) {
  transform: rotate(-77.14286deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(3) .inner {
  animation-delay: -0.10714s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(3) .inner::after {
  animation-delay: -0.10714s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(4) {
  transform: rotate(-102.85714deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(4) .inner {
  animation-delay: -0.14286s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(4) .inner::after {
  animation-delay: -0.14286s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(5) {
  transform: rotate(-128.57143deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(5) .inner {
  animation-delay: -0.17857s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(5) .inner::after {
  animation-delay: -0.17857s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(6) {
  transform: rotate(-154.28571deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(6) .inner {
  animation-delay: -0.21429s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(6) .inner::after {
  animation-delay: -0.21429s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(7) {
  transform: rotate(-180deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(7) .inner {
  animation-delay: -0.25s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(7) .inner::after {
  animation-delay: -0.25s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(8) {
  transform: rotate(-205.71429deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(8) .inner {
  animation-delay: -0.28571s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(8) .inner::after {
  animation-delay: -0.28571s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(9) {
  transform: rotate(-231.42857deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(9) .inner {
  animation-delay: -0.32143s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(9) .inner::after {
  animation-delay: -0.32143s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(10) {
  transform: rotate(-257.14286deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(10) .inner {
  animation-delay: -0.35714s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(10) .inner::after {
  animation-delay: -0.35714s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(11) {
  transform: rotate(-282.85714deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(11) .inner {
  animation-delay: -0.39286s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(11) .inner::after {
  animation-delay: -0.39286s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(12) {
  transform: rotate(-308.57143deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(12) .inner {
  animation-delay: -0.42857s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(12) .inner::after {
  animation-delay: -0.42857s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(13) {
  transform: rotate(-334.28571deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(13) .inner {
  animation-delay: -0.46429s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(13) .inner::after {
  animation-delay: -0.46429s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(14) {
  transform: rotate(-360deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(14) .inner {
  animation-delay: -0.5s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(14) .inner::after {
  animation-delay: -0.5s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(15) {
  transform: rotate(-385.71429deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(15) .inner {
  animation-delay: -0.53571s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(15) .inner::after {
  animation-delay: -0.53571s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(16) {
  transform: rotate(-411.42857deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(16) .inner {
  animation-delay: -0.57143s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(16) .inner::after {
  animation-delay: -0.57143s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(17) {
  transform: rotate(-437.14286deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(17) .inner {
  animation-delay: -0.60714s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(17) .inner::after {
  animation-delay: -0.60714s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(18) {
  transform: rotate(-462.85714deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(18) .inner {
  animation-delay: -0.64286s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(18) .inner::after {
  animation-delay: -0.64286s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(19) {
  transform: rotate(-488.57143deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(19) .inner {
  animation-delay: -0.67857s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(19) .inner::after {
  animation-delay: -0.67857s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(20) {
  transform: rotate(-514.28571deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(20) .inner {
  animation-delay: -0.71429s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(20) .inner::after {
  animation-delay: -0.71429s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(21) {
  transform: rotate(-540deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(21) .inner {
  animation-delay: -0.75s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(21) .inner::after {
  animation-delay: -0.75s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(22) {
  transform: rotate(-565.71429deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(22) .inner {
  animation-delay: -0.78571s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(22) .inner::after {
  animation-delay: -0.78571s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(23) {
  transform: rotate(-591.42857deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(23) .inner {
  animation-delay: -0.82143s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(23) .inner::after {
  animation-delay: -0.82143s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(24) {
  transform: rotate(-617.14286deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(24) .inner {
  animation-delay: -0.85714s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(24) .inner::after {
  animation-delay: -0.85714s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(25) {
  transform: rotate(-642.85714deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(25) .inner {
  animation-delay: -0.89286s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(25) .inner::after {
  animation-delay: -0.89286s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(26) {
  transform: rotate(-668.57143deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(26) .inner {
  animation-delay: -0.92857s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(26) .inner::after {
  animation-delay: -0.92857s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(27) {
  transform: rotate(-694.28571deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(27) .inner {
  animation-delay: -0.96429s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(27) .inner::after {
  animation-delay: -0.96429s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(28) {
  transform: rotate(-720deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(28) .inner {
  animation-delay: -1s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(28) .inner::after {
  animation-delay: -1s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(29) {
  transform: rotate(-745.71429deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(29) .inner {
  animation-delay: -1.03571s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(29) .inner::after {
  animation-delay: -1.03571s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(30) {
  transform: rotate(-771.42857deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(30) .inner {
  animation-delay: -1.07143s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(30) .inner::after {
  animation-delay: -1.07143s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(31) {
  transform: rotate(-797.14286deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(31) .inner {
  animation-delay: -1.10714s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(31) .inner::after {
  animation-delay: -1.10714s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(32) {
  transform: rotate(-822.85714deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(32) .inner {
  animation-delay: -1.14286s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(32) .inner::after {
  animation-delay: -1.14286s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(33) {
  transform: rotate(-848.57143deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(33) .inner {
  animation-delay: -1.17857s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(33) .inner::after {
  animation-delay: -1.17857s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(34) {
  transform: rotate(-874.28571deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(34) .inner {
  animation-delay: -1.21429s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(34) .inner::after {
  animation-delay: -1.21429s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(35) {
  transform: rotate(-900deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(35) .inner {
  animation-delay: -1.25s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(35) .inner::after {
  animation-delay: -1.25s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(36) {
  transform: rotate(-925.71429deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(36) .inner {
  animation-delay: -1.28571s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(36) .inner::after {
  animation-delay: -1.28571s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(37) {
  transform: rotate(-951.42857deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(37) .inner {
  animation-delay: -1.32143s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(37) .inner::after {
  animation-delay: -1.32143s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(38) {
  transform: rotate(-977.14286deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(38) .inner {
  animation-delay: -1.35714s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(38) .inner::after {
  animation-delay: -1.35714s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(39) {
  transform: rotate(-1002.85714deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(39) .inner {
  animation-delay: -1.39286s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(39) .inner::after {
  animation-delay: -1.39286s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(40) {
  transform: rotate(-1028.57143deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(40) .inner {
  animation-delay: -1.42857s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(40) .inner::after {
  animation-delay: -1.42857s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(41) {
  transform: rotate(-1054.28571deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(41) .inner {
  animation-delay: -1.46429s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(41) .inner::after {
  animation-delay: -1.46429s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(42) {
  transform: rotate(-1080deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(42) .inner {
  animation-delay: -1.5s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(42) .inner::after {
  animation-delay: -1.5s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(43) {
  transform: rotate(-1105.71429deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(43) .inner {
  animation-delay: -1.53571s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(43) .inner::after {
  animation-delay: -1.53571s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(44) {
  transform: rotate(-1131.42857deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(44) .inner {
  animation-delay: -1.57143s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(44) .inner::after {
  animation-delay: -1.57143s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(45) {
  transform: rotate(-1157.14286deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(45) .inner {
  animation-delay: -1.60714s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(45) .inner::after {
  animation-delay: -1.60714s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(46) {
  transform: rotate(-1182.85714deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(46) .inner {
  animation-delay: -1.64286s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(46) .inner::after {
  animation-delay: -1.64286s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(47) {
  transform: rotate(-1208.57143deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(47) .inner {
  animation-delay: -1.67857s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(47) .inner::after {
  animation-delay: -1.67857s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(48) {
  transform: rotate(-1234.28571deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(48) .inner {
  animation-delay: -1.71429s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(48) .inner::after {
  animation-delay: -1.71429s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(49) {
  transform: rotate(-1260deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(49) .inner {
  animation-delay: -1.75s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(49) .inner::after {
  animation-delay: -1.75s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(50) {
  transform: rotate(-1285.71429deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(50) .inner {
  animation-delay: -1.78571s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(50) .inner::after {
  animation-delay: -1.78571s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(51) {
  transform: rotate(-1311.42857deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(51) .inner {
  animation-delay: -1.82143s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(51) .inner::after {
  animation-delay: -1.82143s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(52) {
  transform: rotate(-1337.14286deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(52) .inner {
  animation-delay: -1.85714s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(52) .inner::after {
  animation-delay: -1.85714s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(53) {
  transform: rotate(-1362.85714deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(53) .inner {
  animation-delay: -1.89286s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(53) .inner::after {
  animation-delay: -1.89286s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(54) {
  transform: rotate(-1388.57143deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(54) .inner {
  animation-delay: -1.92857s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(54) .inner::after {
  animation-delay: -1.92857s;
}

/* line 47, ../sass/style.scss */
.dot:nth-of-type(55) {
  transform: rotate(-1414.28571deg);
}
/* line 49, ../sass/style.scss */
.dot:nth-of-type(55) .inner {
  animation-delay: -1.96429s;
}
/* line 51, ../sass/style.scss */
.dot:nth-of-type(55) .inner::after {
  animation-delay: -1.96429s;
}

@keyframes move {
  to {
    transform: translateX(300%);
  }
}
@keyframes scale {
  /* Scale */
  0%, 100% {
    transform: scale(0);
  }
  70% {
    transform: scale(0.55);
  }
  /* Colors */
  /* Offset to not stop transforms */
  0.001% {
    background: #e83030;
  }
  10.001% {
    background: #e89f30;
  }
  20.001% {
    background: #c3e830;
  }
  30.001% {
    background: #55e830;
  }
  40.001% {
    background: #30e87a;
  }
  50.001% {
    background: #30e8e8;
  }
  60.001% {
    background: #307ae8;
  }
  70.001% {
    background: #5530e8;
  }
  80.001% {
    background: #c330e8;
  }
  90.001% {
    background: #e8309f;
  }
  99.999% {
    background: #e83030;
  }
}
