/* line 1, ../sass/style.scss */
body {
  background: black;
  font-family: 'Poppins', sans-serif;
  color: white;
}

/* line 7, ../sass/style.scss */
.external {
  position: relative;
  overflow: hidden;
  min-height: 800px;
}

/* line 13, ../sass/style.scss */
.hero-area {
  width: 60%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* line 20, ../sass/style.scss */
.textarea {
  margin-top: -40px;
  text-align: right;
  width: 100%;
  position: absolute;
}
/* line 25, ../sass/style.scss */
.textarea button {
  float: right;
}
/* line 28, ../sass/style.scss */
.textarea .staggerP {
  padding-top: 40px;
  max-width: 300px;
  right: -10px;
  opacity: 0;
  position: absolute;
}
/* line 34, ../sass/style.scss */
.textarea .staggerP p {
  font-weight: 300;
  display: block;
  text-align: left;
  position: relative;
  line-height: 1.4em;
}

/* line 44, ../sass/style.scss */
h1 {
  font-size: 50px;
}

/* line 48, ../sass/style.scss */
g path {
  mix-blend-mode: screen;
}

/* line 52, ../sass/style.scss */
.bookmark {
  writing-mode: vertical-rl;
  color: white;
  position: fixed;
  left: 40px;
  bottom: 50px;
  display: inline;
}
/* line 59, ../sass/style.scss */
.bookmark span {
  opacity: 0.3;
  padding-top: 10px;
}
/* line 63, ../sass/style.scss */
.bookmark svg {
  float: left;
}

/* line 68, ../sass/style.scss */
#triangle, #square {
  opacity: 0;
}

/* line 72, ../sass/style.scss */
#g1, #g2, #g3, #g4 {
  visibility: hidden;
}
/* line 74, ../sass/style.scss */
#g1 path, #g2 path, #g3 path, #g4 path {
  stroke-linecap: round;
  stroke-width: 9;
}

/* line 80, ../sass/style.scss */
.iconBrand {
  position: fixed;
  top: 10px;
  left: 20px;
  width: 100px;
  opacity: 0.3;
}

/* line 88, ../sass/style.scss */
.watermark {
  position: absolute;
  bottom: 40px;
  right: 30px;
  width: 300px;
  opacity: 0.15;
}

/* line 96, ../sass/style.scss */
.search {
  position: fixed;
  top: 40px;
  right: 40px;
  display: inline-block;
  vertical-align: middle;
}
/* line 102, ../sass/style.scss */
.search .searchtext {
  opacity: 0.3;
  vertical-align: top;
}
/* line 106, ../sass/style.scss */
.search .searchicon {
  margin-left: 10px;
  width: 17px;
}

/* line 113, ../sass/style.scss */
.button {
  display: block;
  padding: 10px 30px;
  border: none;
  width: 170px;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  border: 3px solid white;
  font-family: 'Poppins', sans-serif;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  margin-top: -15px;
  overflow: hidden;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

/* line 134, ../sass/style.scss */
.button:focus {
  outline: none;
}

/* line 137, ../sass/style.scss */
.button > span {
  vertical-align: top;
}
/* line 139, ../sass/style.scss */
.button > span svg {
  vertical-align: top;
}

/* line 143, ../sass/style.scss */
.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: #37474f;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

/* line 159, ../sass/style.scss */
.button:hover {
  color: black;
  border-color: white;
  cursor: pointer;
}

/* line 164, ../sass/style.scss */
.button:hover::before {
  opacity: 1;
  background-color: white;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

@media screen and (max-width: 600px) {
  /* line 174, ../sass/style.scss */
  h1 {
    font-size: 32px;
    margin-top: 30px;
  }

  /* line 178, ../sass/style.scss */
  button, p {
    font-size: 14px;
  }

  /* line 181, ../sass/style.scss */
  .iconBrand {
    width: 50px;
  }

  /* line 184, ../sass/style.scss */
  .search {
    top: 20px;
    right: 20px;
    opacity: 0.3;
  }
  /* line 188, ../sass/style.scss */
  .search .searchtext {
    display: none;
  }

  /* line 192, ../sass/style.scss */
  .bookmark {
    left: 20px;
  }
}
/* line 197, ../sass/style.scss */
.share, .home {
  display: none;
  opacity: 0;
}
