.wrap
  .pro-a
    .container
      .title 
        Bohemia Suits & Spa 
        %br - Adults Only
      .location 
        %i.fa.fa-map-marker
        %span Playa del Ingles, Spanien
      .cost
        %span
          From 
          %b $ 2.500 
          for 8 nights
        .rating
          %span 9.1
          <svg viewBox="0 0 320 320" width="60" height="60" xml:space="preserve" id="svg" xmlns="http://www.w3.org/2000/svg" style="transform: rotate(-90deg);">
          <circle id="uway" cx="160" cy="160" r="100" stroke="black" fill="transparent" stroke-width="6" stroke-linecap="round"></circle>
          <circle id="path" cx="160" cy="160" r="100" stroke="white" fill="rgba(0, 0, 0, 0.3)" stroke-width="7" stroke-linecap="round"></circle>
          </svg>
  .pro-b
    .container
      .menu
        <svg xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF" height="18" viewBox="0 0 24 24" width="18">
        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        
      .preview
      .main
        .title
          %span 
            Bohemia 
            %br Suits & Spa
          .rating
            %span 9.1
            <svg viewBox="0 0 320 320" width="50" height="50" xml:space="preserve" id="svg" xmlns="http://www.w3.org/2000/svg" style="transform: rotate(-90deg);">
            <circle id="uway" cx="160" cy="160" r="100" stroke="black" fill="transparent" stroke-width="6" stroke-linecap="round"></circle>
            <circle id="path" cx="160" cy="160" r="100" stroke="#58a195" fill="transparent" stroke-width="9" stroke-linecap="round"></circle>
            </svg>
          
        .location
          %i.fa.fa-map-marker
          %span Playa del Ingles, Spanien
          
        .description
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a tristique est, sed molestie eros. In pulvinar ligula ac semper elementum.
      .order
        .cost
          %span
            From 
            %b $ 2.500 
            for 8 nights
        .link
          %a Book now >










/ Author 
.author

  .logo
    .left-side
      .tri
    .right-side
      .squ
      .tri
      
  %ul.social.jump
    %li
      %a{:href=>"",:title=>"GitHub"}
        %i.fa.fa-github 
    %li
      %a{:href=>"",:title=>"Twitter"}
        %i.fa.fa-twitter  
    %li      
      %a{:href=>"https://codepen.io/badurski/",:target=>"_blank",:title=>"CodePen"}
        %i.fa.fa-codepen