/* line 6, ../sass/style.scss */
body {
  overflow: hidden;
  background: #000;
}

/* line 11, ../sass/style.scss */
#container {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/grunge2.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 1300px;
  max-height: 650px;
  margin: auto;
  overflow: hidden;
}

/* line 21, ../sass/style.scss */
.opener, .winning, .hangry {
  position: absolute;
  width: 60vw;
  background: black;
  font-size: 1.1em;
  left: 50%;
  color: white;
  margin-left: -33.33333vw;
  margin-top: 10vh;
  border-radius: 10px;
  font-family: 'Fira Mono', monospace;
  padding: 10vmin 4%;
  line-height: 2em;
  overflow: scroll;
}

/* line 38, ../sass/style.scss */
.opener {
  z-index: 7000;
}

/* line 42, ../sass/style.scss */
.winning, .hangry, .twitter {
  z-index: 30000;
  font-size: 1em;
  text-align: center;
  min-height: 60px;
}
/* line 47, ../sass/style.scss */
.winning a, .hangry a, .twitter a {
  color: #00ffff;
  transition: 0.3s color ease;
  vertical-align: top;
  text-decoration: none;
}
/* line 52, ../sass/style.scss */
.winning a:hover, .hangry a:hover, .twitter a:hover {
  color: #0ecece;
}

/* line 58, ../sass/style.scss */
h1.winning, h1.hangry-text {
  text-align: center;
  font-size: 20px;
}

/* line 63, ../sass/style.scss */
.award, .hangry-svg {
  width: 85px;
  height: 90px;
  display: table;
  margin: 30px auto;
}

/* line 70, ../sass/style.scss */
.award {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/award-export.svg") no-repeat;
}

/* line 74, ../sass/style.scss */
.hangry-svg {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/hangry-export.svg") no-repeat;
}

/* line 78, ../sass/style.scss */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: #ff0032;
}

/* line 89, ../sass/style.scss */
.overlayOpener {
  z-index: 6000;
}

/* line 93, ../sass/style.scss */
.overlayLosing, .overlayWinning {
  z-index: 20000;
}

/* line 97, ../sass/style.scss */
.overlayMargarita {
  z-index: 6000;
  visibility: hidden;
  opacity: 0;
  background: #cbdf26;
}

/* line 104, ../sass/style.scss */
.loseContainer, .winContainer {
  visibility: hidden;
  opacity: 0;
}

/* line 109, ../sass/style.scss */
.mutebutton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 10000;
}

/* line 117, ../sass/style.scss */
.start {
  padding: .5em 1em;
  background: #00ffff;
  color: black;
  border-radius: 4px;
  border: none;
  margin: 30px auto 0;
  display: table;
  transition: background 0.5s ease;
}

/* line 128, ../sass/style.scss */
.start:hover {
  background: #13d0d0;
  transition: background 0.3s ease;
}

/* line 133, ../sass/style.scss */
.dots {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/dot3.svg);
  background-size: 30px;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  position: absolute;
}

/* line 142, ../sass/style.scss */
#app {
  position: relative;
}

/* line 146, ../sass/style.scss */
.bk-clouds {
  position: absolute;
  left: -5vw;
  top: 30px;
  width: 40vw;
}

/* line 153, ../sass/style.scss */
.cloud {
  position: absolute;
  top: 30px;
  width: 40vw;
}

/* line 159, ../sass/style.scss */
.cloud2 {
  position: absolute;
  bottom: 10px;
  width: 20vw;
  opacity: 0.3;
}

/* line 166, ../sass/style.scss */
.cloud3 {
  position: absolute;
  top: 200px;
  width: 30vw;
  opacity: 0.5;
}

/* line 173, ../sass/style.scss */
.controls {
  position: absolute;
  right: -3vw;
  width: 30vw;
  top: 40vh;
}
/* line 178, ../sass/style.scss */
.controls #up, .controls #down, .controls #left, .controls #right {
  cursor: pointer;
}

/* line 183, ../sass/style.scss */
.elephantContainer {
  position: absolute;
  top: 15vh;
  left: 35vw;
  width: 30vw;
}

/* line 190, ../sass/style.scss */
.taco {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/taco-export.svg");
  background-size: cover;
  width: 95px;
  height: 65px;
}

/* line 197, ../sass/style.scss */
.margarita {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/margarita-export.svg");
  background-size: cover;
  width: 65px;
  height: 75px;
}

/* line 204, ../sass/style.scss */
.tacoContainer, .textContainer, .margaritaContainer {
  position: absolute;
  transform: translate3d(105vw, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* line 211, ../sass/style.scss */
.heartmeter {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -6vw;
  width: 15vw;
  z-index: 3000;
}

/* line 220, ../sass/style.scss */
.wow {
  background-size: cover;
  width: 150px;
  position: absolute;
  right: 0;
  top: 50px;
  visibility: hidden;
}

/* line 229, ../sass/style.scss */
.inWow {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/wow.png") no-repeat;
  height: 120px;
}

/* line 234, ../sass/style.scss */
.deWow {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/bang2.png") no-repeat;
  height: 150px;
}

/* line 239, ../sass/style.scss */
.mWow {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/margarita-pow.png") no-repeat;
  height: 250px;
  width: 400px;
}

/* line 245, ../sass/style.scss */
.relative {
  position: relative;
}

/* line 249, ../sass/style.scss */
pre {
  position: absolute;
  top: 70vh;
  left: 35vw;
  width: 30vw;
  background: #eee;
  opacity: 0.8;
  z-index: 100000000;
}

/* line 259, ../sass/style.scss */
.controls-top {
  z-index: 3000;
}

/* line 263, ../sass/style.scss */
.mute {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 6000;
  cursor: pointer;
}

/* line 271, ../sass/style.scss */
.st0 {
  fill: #e2dfd8;
  stroke: #050606;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

/* line 271, ../sass/style.scss */
.st1 {
  fill: #e2dfd8;
  stroke: #050505;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

/* line 271, ../sass/style.scss */
.st2 {
  fill: #050606;
}

/* line 271, ../sass/style.scss */
.st3 {
  fill: #020202;
}

/* line 271, ../sass/style.scss */
.st4 {
  fill: none;
  stroke: #020202;
  stroke-miterlimit: 10;
}
