@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
/* you simply need to change the color of the background of each div - these are at the bottom of the css */
/* line 5, ../sass/style.scss */
.icon {
  float: left;
  margin: 20px;
  width: 120px;
  height: 200px;
  background: #000;
  border-radius: 6px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 130px;
  font-size: 50px;
  padding-left: 20px;
  text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 600;
  perspective: 600;
  -webkit-transform: perspective(600);
  -moz-transform: perspective(600);
  -ms-transform: perspective(600);
  -o-transform: perspective(600);
  transform: perspective(600);
}

/* line 33, ../sass/style.scss */
.icon:before {
  content: '';
  float: right;
  width: 40px;
  height: 40px;
  background-image: -webkit-linear-gradient(top right, white 50%, rgba(255, 255, 255, 0.4) 50%);
  background-image: linear-gradient(to bottom left, white 50%, rgba(255, 255, 255, 0.4) 50%);
  border-radius: 0 0 0 6px;
}

/* line 42, ../sass/style.scss */
.icon:after {
  content: '';
  float: right;
  width: 40px;
  height: 40px;
  background-image: -webkit-linear-gradient(top right, rgba(0, 0, 0, 0.4) 50%, transparent 50%);
  background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.4) 50%, transparent 50%);
  position: relative;
  top: -130px;
  left: 0px;
}

/* line 53, ../sass/style.scss */
.icon:hover {
  -webkit-transform: translateZ(200px);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

/* just need to change the backgrounds */
/* line 59, ../sass/style.scss */
.pdf {
  background: #c7211d;
}

/* line 62, ../sass/style.scss */
.doc {
  background: #4766b3;
}

/* line 65, ../sass/style.scss */
.xls {
  background: #63b345;
}
