/* line 6, ../sass/style.scss */
html {
  height: 100%;
  display: flex;
}

/* line 11, ../sass/style.scss */
body {
  position: relative;
  margin: auto;
  background: #28303A;
}

/* line 17, ../sass/style.scss */
.panel {
  width: 40vmin;
  height: 14vmin;
  background: #FEFFFE;
  border-radius: 2vw;
  position: relative;
  box-shadow: inset 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
  transform: rotate(90deg);
  transform-origin: 50% 50%;
}
/* line 29, ../sass/style.scss */
.panel:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  width: 70%;
  height: 20%;
  border-radius: 0 1vmin 1vmin 0;
  background: #15191F;
  transform: translateY(-50%);
}

/* line 43, ../sass/style.scss */
.circles {
  width: calc(100% - 5vmin);
  height: 100%;
  margin: auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  filter: url("#goo");
}
/* line 54, ../sass/style.scss */
.circles__element {
  width: 8vmin;
  height: 8vmin;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #D6DAE7;
  border-radius: 50%;
  color: white;
  font-size: 1.5em;
  box-shadow: inset 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
}
/* line 71, ../sass/style.scss */
.circles__control {
  position: absolute;
  background: #FB5652;
  left: 0;
  transform-origin: 50% 50%;
}

/* line 173, ../sass/style.scss */
.panel__input {
  -webkit-appearance: none;
  width: auto;
  background: transparent;
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
/* line 115, ../sass/style.scss */
.panel__input:focus {
  outline: none;
}
/* line 119, ../sass/style.scss */
.panel__input::-webkit-slider-runnable-track {
  width: auto;
  height: 8vmin;
  cursor: pointer;
  animation: 0.2s;
  border-radius: 0px;
  background: transparent;
}
/* line 125, ../sass/style.scss */
.panel__input::-webkit-slider-thumb {
  width: 8vmin;
  height: 8vmin;
  cursor: pointer;
  border-radius: 100%;
  background: transparent;
  transform: translateY(-50%);
  -webkit-appearance: none;
}
/* line 130, ../sass/style.scss */
.panel__input:focus::-webkit-slider-runnable-track {
  background: transparent;
}
/* line 134, ../sass/style.scss */
.panel__input::-moz-range-track {
  width: auto;
  height: 8vmin;
  cursor: pointer;
  animation: 0.2s;
  border-radius: 0px;
  background: transparent;
}
/* line 140, ../sass/style.scss */
.panel__input::-moz-range-thumb {
  width: 8vmin;
  height: 8vmin;
  cursor: pointer;
  border-radius: 100%;
  background: transparent;
  transform: translateY(-50%);
}
/* line 144, ../sass/style.scss */
.panel__input::-ms-track {
  width: auto;
  height: 8vmin;
  cursor: pointer;
  animation: 0.2s;
  color: transparent;
  background: transparent;
}
/* line 150, ../sass/style.scss */
.panel__input::-ms-fill-lower {
  border-radius: 0px;
  background: transparent;
}
/* line 155, ../sass/style.scss */
.panel__input::-ms-fill-upper {
  border-radius: 0px;
  background: transparent;
}
/* line 160, ../sass/style.scss */
.panel__input::-ms-thumb {
  width: 8vmin;
  height: 8vmin;
  cursor: pointer;
  border-radius: 100%;
  background: transparent;
  transform: translateY(-50%);
}
/* line 164, ../sass/style.scss */
.panel__input:focus::-ms-fill-lower {
  background: transparent;
}
/* line 168, ../sass/style.scss */
.panel__input:focus::-ms-fill-upper {
  background: transparent;
}
