body {
	background: #f0f0f0;
	font-family: 'Trebuchet MS';
}

.centre {
	position: absolute;
}

.wrap {
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%) scale(2,2);
}

input {
	display: none;
}

label {
	font-size: 24px;
	color: #bfbfbf;
	display: inline-block;
	padding: 0 0 0 1em;
	cursor: pointer;
}
.checkbox{
	
}
label:before {
	content: '';
	display: inline-block;
	background: #55D8C6;
	position: absolute;
	left: 0;
	top: 5px;
	height: 20px;
	width: 20px;
	margin-right: 10px;
	border-radius: 80%;
	box-shadow: 0px 1px 0 0 rgba(0, 0, 0, .2);
	box-sizing: border-box;
	border: 10px solid #fff;
	transition: border .3s ease;
}

input:checked + label:before {
	border-color: #fff;
	border-width: 3px;
}
input + label {
	transition: color .7s ease;
}
input:checked + label {
	color: #5D5D5D;
}
