/* line 1, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 3, ../sass/style.scss */
html, body {
  margin: 0;
  background-color: #ff4136;
  display: flex;
  flex-direction: column;
  font-family: hobeaux-rococeaux-background;
}

/* line 11, ../sass/style.scss */
html {
  height: 100%;
}

/* line 15, ../sass/style.scss */
.wrapper {
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 1px;
  width: 100vw;
  padding: 10px 10px;
  height: 100vh;
}

/* line 25, ../sass/style.scss */
.col.new {
  grid-row: 2/13;
}

/* line 29, ../sass/style.scss */
.col {
  margin: 0;
  padding: 0;
  transition: all .6s ease;
  color: #ff4136;
  grid-row: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vw;
  background-color: white;
}
/* line 42, ../sass/style.scss */
.col:hover {
  opacity: .5;
  cursor: pointer;
}

/* line 47, ../sass/style.scss */
.season {
  grid-column: 1/20;
  background-color: black;
  color: white;
  font-size: 20vw;
}
