/* line 1, ../sass/style.scss */
html, body * {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* line 3, ../sass/style.scss */
body {
  padding-top: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https://dl.dropboxusercontent.com/u/22006283/Preview/codepen/nature-forest-trees-fog.jpeg) no-repeat center center fixed;
  background-size: cover;
}

/* line 10, ../sass/style.scss */
a {
  text-decoration: none;
  text-transform: uppercase;
  width: 220px;
  height: 50px;
  font-size: 10px;
}

/* line 18, ../sass/style.scss */
.btn {
  margin: 0 auto;
  text-align: center;
  letter-spacing: 3px;
  position: relative;
  border: 1px solid #1aa97a;
  width: 200px;
  height: 50px;
  padding: 17px 26px 10px 0px;
  color: white;
  transition: all ease .5s;
}

/* line 31, ../sass/style.scss */
.btn:hover {
  color: #1aa97a;
}

/* line 35, ../sass/style.scss */
.btn:before {
  content: "";
  position: relative;
  border-bottom: 1px solid #1aa97a;
  width: 30px;
  height: 1px;
  left: -15px;
  top: 5px;
  float: left;
  transition: all ease .5s;
}

/* line 47, ../sass/style.scss */
.btn:hover:before {
  left: 185px;
}
