html, body {padding:0; margin:0; width:100%; height:100%;}
body {
background:url(../images/back.jpg) fixed no-repeat center bottom;
background-size:cover;
}

header, section, article, nav, footer {display:block; padding:0; margin:0;}

section {width:100%; max-width:1200px; min-width:320px; height:860px; position:relative; margin:0 auto; background:transparent;
-webkit-transition:0.5s;
-moz-transition:0.5s;
-o-transition:0.5s;
transition:0.5s;
}
header {background:url(../images/beach.png) no-repeat; height:150px;}
header h1 {font:normal 60px/60px 'Shadows Into Light Two', arial, sans-serif; color:#000; margin:0; padding:45px 0 0 150px;
-webkit-transition:0.5s;
-moz-transition:0.5s;
-o-transition:0.5s;
transition:0.5s;
}

article {width:31.3%; height:300px; margin:0 1%; position:absolute; background:url(../images/content.png);
box-shadow:0 15px 10px -15px rgba(0,0,0,0.6);
-webkit-transition:0.5s;
-moz-transition:0.5s;
-o-transition:0.5s;
transition:0.5s;
}
article img {display:block; margin:10px; float:left; border:1px solid #ddd;
box-shadow:0 15px 10px -15px rgba(0,0,0,0.6);
}
article h1 {font:normal 25px/30px 'Ubuntu Condensed', arial, sans-serif; color:#000; margin:0; padding:5px 0 0 0;}
article h3 {font:normal 20px/30px 'Ubuntu Condensed', arial, sans-serif; color:#c00; margin:0; padding:0;}
article p {display:block; clear:left; padding:0 20px; margin:0; font:normal 15px/22px 'Ubuntu', arial, sans-serif;}
article p.info {color:#c00;}
article p a {margin:0; padding:0; font:normal 14px/18px 'Ubuntu', arial, sans-serif; color:#fff; padding:5px 10px; background:#069; text-decoration:none; border-radius:5px;}

article:nth-of-type(1) {left:0; top:200px;
-webkit-transition-delay: 0.5s;
-moz-transition-delay: 0.5s;
-o-transition-delay: 0.5s;
transition-delay: 0.5s;
}
article:nth-of-type(2) {left:33.3%; top:200px;
-webkit-transition-delay:0.4s;
-moz-transition-delay:0.4s;
-o-transition-delay:0.4s;
transition-delay:0.4s;
}
article:nth-of-type(3) {left:66.6%; top:200px;
-webkit-transition-delay:0.3s;
-moz-transition-delay:0.3s;
-o-transition-delay:0.3s;
transition-delay:0.3s;
}
article:nth-of-type(4) {left:0%; top:510px;
-webkit-transition-delay:0.2s;
-moz-transition-delay:0.2s;
-o-transition-delay:0.2s;
transition-delay:0.2s;
}
article:nth-of-type(5) {left:33.3%; top:510px;
-webkit-transition-delay:0.1s;
-moz-transition-delay:0.1s;
-o-transition-delay:0.1s;
transition-delay:0.1s;
}
article:nth-of-type(6) {left:66.6%; top:510px;}

nav {position:absolute; left:0; top:150px; width:100%;}
nav ul {padding:0; margin:0 1%; list-style:none; position:relative;}
nav ul li {display:block; position:absolute; top:0; width:12%; margin:0 0.25%;
-webkit-transition:0.5s;
-moz-transition:0.5s;
-o-transition:0.5s;
transition:0.5s;
}
nav ul li a {display:block; width:100%; text-decoration:none; text-align:center; height:40px; background-color:#069; color:#fff; white-space:nowrap; border-radius:8px;
box-shadow:0 10px 5px -10px rgba(0,0,0,0.6);
font:normal 18px/40px 'Ubuntu Condensed', arial, sans-serif;
background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));
background-image: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
background-image: -o-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
}
nav ul li a:hover {background-color:#c60;}

nav ul li:nth-of-type(1) {left:0; transition-delay:0.7s;}
nav ul li:nth-of-type(2) {left:12.5%; transition-delay:0.6s;}
nav ul li:nth-of-type(3) {left:25%; transition-delay:0.5s;}
nav ul li:nth-of-type(4) {left:37.5%; transition-delay:0.4s;}
nav ul li:nth-of-type(5) {left:50%; transition-delay:0.3s;}
nav ul li:nth-of-type(6) {left:62.5%; transition-delay:0.2s;}
nav ul li:nth-of-type(7) {left:75%; transition-delay:0.1s;}
nav ul li:nth-of-type(8) {left:87.5%; transition-delay:0s;}

footer {width:100%; min-width:320px; position:fixed; height:30px; bottom:0; left:0; text-align:center; background:#fff;
box-shadow:0 -5px 10px rgba(0,0,0,0.4);
}
footer p {display:block; padding:0; margin:0; font:normal 12px/30px 'Ubuntu', arial, sans-serif; color:#666;}


@media only screen and (max-width:1024px) {
header h1 {font:normal 60px/60px 'Shadows Into Light Two', arial, sans-serif; padding-top:15px;}
header h1 span:nth-of-type(2) {display:block;}

section {height:1210px;}

article {width:48%;}
article:nth-of-type(1) {left:0; top:240px;}
article:nth-of-type(2) {left:50%; top:240px;}

article:nth-of-type(3) {left:0%; top:550px;}
article:nth-of-type(4) {left:50%; top:550px;}

article:nth-of-type(5) {left:0%; top:860px;}
article:nth-of-type(6) {left:50%; top:860px;}

nav ul li {width:24.5%; margin:0 0.25%;}
nav ul li:nth-of-type(1) {left:0%;}
nav ul li:nth-of-type(2) {left:25%;}
nav ul li:nth-of-type(3) {left:50%;}
nav ul li:nth-of-type(4) {left:75%;}
nav ul li:nth-of-type(5) {left:0%; top:45px;}
nav ul li:nth-of-type(6) {left:25%; top:45px;}
nav ul li:nth-of-type(7) {left:50%; top:45px;}
nav ul li:nth-of-type(8) {left:75%; top:45px;}
}

@media only screen and (max-width:1024px) and (orientation:portrait) {
header h1 {font:normal 40px/40px 'Shadows Into Light Two', arial, sans-serif; padding-top:10px;}
header h1 span {display:block;}

section {height:2230px;}

article {width:98%;}
article:nth-of-type(1) {left:0%; top:330px;}
article:nth-of-type(2) {left:0%; top:640px;}

article:nth-of-type(3) {left:0%; top:950px;}
article:nth-of-type(4) {left:0%; top:1260px;}

article:nth-of-type(5) {left:0%; top:1570px;}
article:nth-of-type(6) {left:0%; top:1880px;}

nav ul li {width:49.5%; margin:0 0.25%;}
nav ul li:nth-of-type(1) {left:0%;}
nav ul li:nth-of-type(2) {left:50%;}
nav ul li:nth-of-type(3) {left:0%; top:45px;}
nav ul li:nth-of-type(4) {left:50%; top:45px;}
nav ul li:nth-of-type(5) {left:0%; top:90px;}
nav ul li:nth-of-type(6) {left:50%; top:90px;}
nav ul li:nth-of-type(7) {left:0%; top:135px;}
nav ul li:nth-of-type(8) {left:50%; top:135px;}
}

@media only screen and (max-width:480px) {
header h1 {font:normal 40px/40px 'Shadows Into Light Two', arial, sans-serif; padding-top:10px;}
header h1 span {display:block;}

section {height:2230px;}

article {width:98%;}
article:nth-of-type(1) {left:0%; top:330px;}
article:nth-of-type(2) {left:0%; top:640px;}

article:nth-of-type(3) {left:0%; top:950px;}
article:nth-of-type(4) {left:0%; top:1260px;}

article:nth-of-type(5) {left:0%; top:1570px;}
article:nth-of-type(6) {left:0%; top:1880px;}

nav ul li {width:49.5%; margin:0 0.25%;}
nav ul li:nth-of-type(1) {left:0%;}
nav ul li:nth-of-type(2) {left:50%;}
nav ul li:nth-of-type(3) {left:0%; top:45px;}
nav ul li:nth-of-type(4) {left:50%; top:45px;}
nav ul li:nth-of-type(5) {left:0%; top:90px;}
nav ul li:nth-of-type(6) {left:50%; top:90px;}
nav ul li:nth-of-type(7) {left:0%; top:135px;}
nav ul li:nth-of-type(8) {left:50%; top:135px;}
}
