/* Body */
/* line 59, ../sass/style.scss */
body {
  background: #ebeff2;
  color: #666666;
  font-family: "RobotoDraft", "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Pen Title */
/* line 71, ../sass/style.scss */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
/* line 76, ../sass/style.scss */
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
/* line 81, ../sass/style.scss */
.pen-title h1 span {
  display: block;
  margin: 0 0 10px;
  color: #d64c4c;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 91, ../sass/style.scss */
.pen-title span {
  font-size: 12px;
}
/* line 94, ../sass/style.scss */
.pen-title span .fa {
  color: #d64c4c;
}
/* line 98, ../sass/style.scss */
.pen-title span a {
  color: #d64c4c;
  font-weight: 600;
  text-decoration: none;
}

/* Rerun Button */
/* line 107, ../sass/style.scss */
.rerun {
  margin: 0 0 30px;
  text-align: center;
}
/* line 111, ../sass/style.scss */
.rerun a {
  cursor: pointer;
  display: inline-block;
  background: #d64c4c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease;
}
/* line 122, ../sass/style.scss */
.rerun a:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Scroll To Bottom */
/* line 129, ../sass/style.scss */
#scrollToBottom, #codepen, #portfolio {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #d64c4c;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.3s ease;
  color: #ffffff;
  text-align: center;
}
/* line 142, ../sass/style.scss */
#scrollToBottom:hover, #codepen:hover, #portfolio:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/* line 146, ../sass/style.scss */
#scrollToBottom i, #codepen i, #portfolio i {
  line-height: 56px;
}

/* CodePen */
/* line 152, ../sass/style.scss */
#codepen {
  bottom: 96px;
  right: 36px;
  background: #363636;
  width: 44px;
  height: 44px;
  animation: buttonFadeInUp 1s ease;
}
/* line 161, ../sass/style.scss */
#codepen i {
  line-height: 44px;
}

/* Portfolio */
/* line 167, ../sass/style.scss */
#portfolio {
  bottom: 150px;
  right: 43px;
  background: #d64c4c;
  width: 30px;
  height: 30px;
  animation: buttonFadeInUp 1s ease;
}
/* line 176, ../sass/style.scss */
#portfolio i {
  line-height: 30px;
}

/* Tip */
/* line 182, ../sass/style.scss */
#tip {
  max-width: 600px;
  border-radius: 3px;
  margin: 0 auto 100px;
  line-height: 1.7em;
  text-align: center;
}
/* line 189, ../sass/style.scss */
#tip h1 {
  margin: 0 0 10px;
  color: #333333;
  font-size: 24px;
  font-weight: 300;
}
/* line 196, ../sass/style.scss */
#tip p {
  margin: 0 0 10px;
  color: #666666;
}
/* line 200, ../sass/style.scss */
#tip p b {
  font-weight: 600;
}
/* line 205, ../sass/style.scss */
#tip code {
  display: block;
  background: #232e34;
  margin: 0 0 100px;
  padding: 10px 20px;
  color: #CDD3DE;
  letter-spacing: 2px;
  text-align: left;
}
/* line 213, ../sass/style.scss */
#tip code h1 {
  dsplay: block;
  background: #263238;
  margin: -10px -20px 20px;
  padding: 10px 20px;
  color: #CDD3DE;
  font-size: 18px;
}
/* line 220, ../sass/style.scss */
#tip code h1:before {
  content: '\f121';
  display: inline-block;
  margin: 0 10px 0 0;
  color: #546E7A;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  transform: translate(0, 0);
}
/* line 231, ../sass/style.scss */
#tip code p {
  color: inherit;
}
/* line 234, ../sass/style.scss */
#tip code p:nth-child(2) {
  color: #C3E88D;
}
/* line 238, ../sass/style.scss */
#tip code p span {
  color: #C38FE5;
}
/* line 241, ../sass/style.scss */
#tip code p span:nth-child(2), #tip code p span:nth-child(3), #tip code p span:nth-child(4) {
  color: #FF5370;
  /* color: #C3E88D; */
}

/* Card */
/* line 253, ../sass/style.scss */
.card {
  z-index: 1;
  position: relative;
  background: #ffffff;
  width: 360px;
  height: 480px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}
/* line 267, ../sass/style.scss */
.card .panel {
  position: absolute;
  width: 100%;
  background: #363636;
  padding: 30px;
  box-sizing: border-box;
  color: #ffffff;
}
/* line 275, ../sass/style.scss */
.card .panel:last-child {
  bottom: 0;
}
/* line 279, ../sass/style.scss */
.card .panel .rank {
  display: inline-block;
  font-size: 42px;
  font-weight: 100;
}
/* line 285, ../sass/style.scss */
.card .panel .suit {
  display: inline-block;
  padding: 6px 0 0 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  float: right;
}
/* line 294, ../sass/style.scss */
.card .panel .icon {
  background: #ffffff;
  width: 47px;
  height: 47px;
  margin: 15px 0 -54px -10px;
  padding: 13px;
  border-radius: 100%;
  line-height: 47px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
/* line 306, ../sass/style.scss */
.card .panel .icon svg {
  display: block;
  height: 100%;
  margin: 0 auto;
}
/* line 313, ../sass/style.scss */
.card .panel.bottom {
  transform: rotate(180deg);
}
/* line 318, ../sass/style.scss */
.card .content {
  display: table;
  width: 100%;
  height: 480px;
  padding: 110px 20px;
  box-sizing: border-box;
  text-align: center;
}
/* line 326, ../sass/style.scss */
.card .content div {
  display: table-cell;
  vertical-align: middle;
}
/* line 331, ../sass/style.scss */
.card .content svg {
  margin: 10px;
}
/* line 334, ../sass/style.scss */
.card .content svg:nth-child(6), .card .content svg:nth-child(7), .card .content svg:nth-child(8), .card .content svg:nth-child(9), .card .content svg:nth-child(10) {
  transform: rotate(180deg);
}
/* line 344, ../sass/style.scss */
.card .content.one svg {
  transform: scale(2);
}
/* line 352, ../sass/style.scss */
.card .content.two svg:nth-child(2), .card .content.three svg:nth-child(2) {
  transform: rotate(180deg);
}
/* line 358, ../sass/style.scss */
.card .content.four {
  padding: 0 100px;
}
/* line 362, ../sass/style.scss */
.card .content.four svg:nth-child(3), .card .content.four svg:nth-child(4) {
  transform: rotate(180deg);
}
/* line 369, ../sass/style.scss */
.card .content.five, .card .content.six {
  padding: 0 70px;
}
/* line 374, ../sass/style.scss */
.card .content.five svg:nth-child(4), .card .content.five svg:nth-child(5), .card .content.six svg:nth-child(4), .card .content.six svg:nth-child(5) {
  transform: rotate(180deg);
}
/* line 381, ../sass/style.scss */
.card .content.seven, .card .content.eight {
  padding: 0 60px;
}
/* line 386, ../sass/style.scss */
.card .content.seven svg:nth-child(5), .card .content.eight svg:nth-child(5) {
  transform: rotate(180deg);
}
/* line 392, ../sass/style.scss */
.card .content.jack, .card .content.queen, .card .content.king {
  padding: 0 100px;
}
/* line 397, ../sass/style.scss */
.card .content.jack svg, .card .content.queen svg, .card .content.king svg {
  margin: 0;
}
/* line 400, ../sass/style.scss */
.card .content.jack svg:nth-child(3), .card .content.queen svg:nth-child(3), .card .content.king svg:nth-child(3) {
  transform: rotate(180deg);
}
/* line 405, ../sass/style.scss */
.card .content.jack span, .card .content.queen span, .card .content.king span {
  display: block;
  width: 100%;
  margin: 0 0 3px;
  text-align: center;
}
/* line 411, ../sass/style.scss */
.card .content.jack span:before, .card .content.jack span:after, .card .content.queen span:before, .card .content.queen span:after, .card .content.king span:before, .card .content.king span:after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  margin: 0 3px;
}
/* line 422, ../sass/style.scss */
.card .content.jack span.red:before, .card .content.jack span.red:after, .card .content.queen span.red:before, .card .content.queen span.red:after, .card .content.king span.red:before, .card .content.king span.red:after {
  background: #ea474c;
}
/* line 429, ../sass/style.scss */
.card .content.jack span.black:before, .card .content.jack span.black:after, .card .content.queen span.black:before, .card .content.queen span.black:after, .card .content.king span.black:before, .card .content.king span.black:after {
  background: #35424a;
}

/* Animation Level: 1 */
/* line 440, ../sass/style.scss */
.card {
  position: relative;
  margin: 0 auto 100px;
  animation: card 1s ease;
}
/* line 445, ../sass/style.scss */
.card .panel {
  animation: slideInTop 3s ease;
}
/* line 448, ../sass/style.scss */
.card .panel:last-child {
  animation: slideInBottom 3s ease;
}
/* line 452, ../sass/style.scss */
.card .panel .rank {
  animation: fadeInBottom 4s ease;
}
/* line 456, ../sass/style.scss */
.card .panel .suit {
  animation: fadeInRight 4s ease;
}
/* line 460, ../sass/style.scss */
.card .panel .icon {
  animation: scaleIn 3s ease;
}
/* line 465, ../sass/style.scss */
.card .content {
  animation: spinIn 3s ease;
}
/* line 469, ../sass/style.scss */
.card .ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #f7f7f7;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  animation: ripple 1.5s ease;
  opacity: 0;
  animation-delay: 1s;
}
/* line 482, ../sass/style.scss */
.card .ripple:nth-child(2) {
  background: #ffffff;
  animation-delay: 1.3s;
}

/* Keyframes */
@keyframes card {
  0% {
    transform: translateY(200%) rotate(90deg);
  }
}
@keyframes ripple {
  0% {
    display: block;
    transform: scale(0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(50);
    opacity: 0;
  }
}
@keyframes spinIn {
  0% {
    opacity: 0;
    transform: rotate(90deg);
  }
  66% {
    opacity: 0;
    transform: rotate(90deg);
  }
  90% {
    transform: rotate(0deg);
  }
}
@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(0);
  }
}
@keyframes slideInTop {
  0% {
    top: -200px;
    opacity: 0;
  }
  66% {
    top: -200px;
    opacity: 0;
  }
  100% {
    top: 0;
  }
}
@keyframes slideInBottom {
  0% {
    bottom: -200px;
    opacity: 0;
  }
  66% {
    bottom: -200px;
    opacity: 0;
  }
  100% {
    bottom: 0;
  }
}
@keyframes fadeInBottom {
  0% {
    transform: translateY(120%);
    opacity: 0;
  }
  60% {
    transform: translateY(30%);
    opacity: 0;
  }
}
@keyframes fadeInRight {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }
  60% {
    transform: translateX(30%);
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
