/*issues:
-let all the images with different size fit in the container keeping their same ratio. Solved with:
object-fit: cover and wid-hei values

*/

body {
  font-family: Arial;
  background-color: #ecf0f1;
  margin: 0px;
}

h1 {
  font-weight: lighter;
  line-height: 50px;
}

header {
  background: #2e455f;
  color: #fff;
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 10px;
}

.text {
  padding: 0px 15px;
}

h2 {
  color: #e15444;
  font-weight: lighter;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  flex-wrap: wrap;
}

.column {
  flex-basis: 32%;
  background-color: #fff;
  color: #9d9d9d;
  box-shadow: 3px 3px 5px;
}

.column:hover {
  box-shadow: 5px 5px 5px;
}

img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}
