@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Roboto+Condensed:300";
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #ffe9e9;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  line-height: 1.875em;
}

.container {
  flex: 1 0 auto;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(16, 10px);
  grid-template-rows: repeat(16, 10px);
  grid-template-areas: "	.		ЁЯША	ЁЯША	ЁЯША	.		ЁЯШГ	ЁЯШГ	ЁЯШГ	ЁЯШГ	ЁЯШГ	ЁЯШГ	.		ЁЯШД	ЁЯШД	ЁЯШД	." "	ЁЯШБ	ЁЯХР	.		.		ЁЯШЖ	ЁЯХС	.		.		.		.		ЁЯХТ	ЁЯШЕ	.		.		ЁЯХУ	ЁЯШВ" "	ЁЯШБ	.		.		.		.		.		.		.		.		.		.		.		.		.		.		ЁЯШВ" "	ЁЯШБ	.		.		.		.		.		.		.		.		.		.		.		.		.		.		ЁЯШВ" "	ЁЯШБ	.		.		.		.		.		.		.		.		.		.		.		.		.		.		ЁЯШВ" "	ЁЯШБ	ЁЯХФ	.		.		.		.		.		.		.		.		.		.		.		.		ЁЯХХ	ЁЯШВ" "	ЁЯШБ	ЁЯХФ	.		.		.		.		.		ЁЯдг	.		ЁЯШК	.		.		.		.		ЁЯХХ	ЁЯШВ" "	.		ЁЯШЗ	.		.		.		.		.		ЁЯдг	.		ЁЯШК	.		.		.		.		ЁЯЩВ	." "	.		ЁЯШЗ	ЁЯХШ	.		.		ЁЯХЦ	ЁЯХЦ	ЁЯдг	.		ЁЯШК	ЁЯХЧ	.		.		ЁЯХЩ	ЁЯЩВ	." "	.		ЁЯШЗ	ЁЯЩГ	ЁЯЩГ	.		.		.		.		.		.		.		.		ЁЯШЙ	ЁЯШЙ	ЁЯЩВ	." "	ЁЯШМ	ЁЯХЪ	ЁЯХЪ	ЁЯХЪ	ЁЯШН	.		.		.		ЁЯШо	.		.		ЁЯШШ	ЁЯХЫ	ЁЯХЫ	ЁЯХЫ	ЁЯШЧ" "	ЁЯШМ	ЁЯХЬ	ЁЯХЬ	ЁЯХЬ	ЁЯХЬ	ЁЯШЩ	ЁЯХЭ	.		.		ЁЯХЮ	ЁЯШЪ	ЁЯХЯ	ЁЯХЯ	ЁЯХЯ	ЁЯХЯ	ЁЯШЧ" "	.		ЁЯШЛ	ЁЯХа	ЁЯХа	ЁЯХа	ЁЯХа	ЁЯШЭ	ЁЯХв	ЁЯХв	ЁЯШЫ	ЁЯХб	ЁЯХб	ЁЯХб	ЁЯХб	ЁЯШЬ	." "	.		.		ЁЯдС	ЁЯдС	ЁЯХг	ЁЯХг	ЁЯШЭ	ЁЯШП	ЁЯШП	ЁЯШЫ	ЁЯХд	ЁЯХд	ЁЯШО	ЁЯШО	.		." "	.		.		.		.		ЁЯШТ	ЁЯШТ	.		.		.		.		ЁЯШЮ	ЁЯШЮ	.		.		.		." "	.		.		.		.		.		.		.		.		.		.		.		.		.		.		.		.";
  margin-top: 50px;
  padding: 30px;
  animation-name: jump;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.kirby-pixel-group {
  background-color: #ff6060;
}

.kirby-pixel-group-inner {
  background-color: #ffacac;
}

.pixel-group-1 {
  grid-area: ЁЯША;
}

.pixel-group-2 {
  grid-area: ЁЯШГ;
}

.pixel-group-3 {
  grid-area: ЁЯШД;
}

.pixel-group-4 {
  grid-area: ЁЯШБ;
}

.pixel-group-5 {
  grid-area: ЁЯШЖ;
}

.pixel-group-6 {
  grid-area: ЁЯШЕ;
}

.pixel-group-7 {
  grid-area: ЁЯШВ;
}

.pixel-group-8 {
  grid-area: ЁЯдг;
}

.pixel-group-9 {
  grid-area: ЁЯШК;
}

.pixel-group-10 {
  grid-area: ЁЯШЗ;
}

.pixel-group-11 {
  grid-area: ЁЯЩВ;
}

.pixel-group-12 {
  grid-area: ЁЯЩГ;
}

.pixel-group-13 {
  grid-area: ЁЯШЙ;
}

.pixel-group-14 {
  grid-area: ЁЯШМ;
}

.pixel-group-15 {
  grid-area: ЁЯШН;
}

.pixel-group-16 {
  grid-area: ЁЯШШ;
}

.pixel-group-17 {
  grid-area: ЁЯШЧ;
}

.pixel-group-18 {
  grid-area: ЁЯШЩ;
}

.pixel-group-19 {
  grid-area: ЁЯШЪ;
}

.pixel-group-20 {
  grid-area: ЁЯШЛ;
}

.pixel-group-21 {
  grid-area: ЁЯШЬ;
}

.pixel-group-22 {
  grid-area: ЁЯШЭ;
}

.pixel-group-23 {
  grid-area: ЁЯШЫ;
}

.pixel-group-24 {
  grid-area: ЁЯдС;
}

.pixel-group-25 {
  grid-area: ЁЯШО;
}

.pixel-group-26 {
  grid-area: ЁЯШо;
}

.pixel-group-27 {
  grid-area: ЁЯШП;
}

.pixel-group-28 {
  grid-area: ЁЯШТ;
}

.pixel-group-29 {
  grid-area: ЁЯШЮ;
}

.pixel-group-30 {
  grid-area: ЁЯХР;
}

.pixel-group-31 {
  grid-area: ЁЯХС;
}

.pixel-group-32 {
  grid-area: ЁЯХТ;
}

.pixel-group-33 {
  grid-area: ЁЯХУ;
}

.pixel-group-34 {
  grid-area: ЁЯХФ;
}

.pixel-group-35 {
  grid-area: ЁЯХХ;
}

.pixel-group-36 {
  grid-area: ЁЯХЦ;
}

.pixel-group-37 {
  grid-area: ЁЯХЧ;
}

.pixel-group-38 {
  grid-area: ЁЯХШ;
}

.pixel-group-39 {
  grid-area: ЁЯХЩ;
}

.pixel-group-40 {
  grid-area: ЁЯХЪ;
}

.pixel-group-41 {
  grid-area: ЁЯХЫ;
}

.pixel-group-42 {
  grid-area: ЁЯХЬ;
}

.pixel-group-43 {
  grid-area: ЁЯХЭ;
}

.pixel-group-44 {
  grid-area: ЁЯХЮ;
}

.pixel-group-45 {
  grid-area: ЁЯХЯ;
}

.pixel-group-46 {
  grid-area: ЁЯХа;
}

.pixel-group-47 {
  grid-area: ЁЯХб;
}

.pixel-group-48 {
  grid-area: ЁЯХв;
}

.pixel-group-49 {
  grid-area: ЁЯХг;
}

.pixel-group-50 {
  grid-area: ЁЯХд;
}

@keyframes jump {
  0%, 19%, 100% {
    grid-template-areas: "	.		.		.		.		.		.		ЁЯША	ЁЯША	ЁЯША	ЁЯША	.		.		.		.		.		." "	.		.		.		.		ЁЯШГ	ЁЯШГ	ЁЯХР	.		.		ЁЯХС	ЁЯШД	ЁЯШД	.		.		.		." "	.		.		.		ЁЯШБ	ЁЯШБ	.		.		.		.		.		.		ЁЯШЖ	ЁЯШЖ	.		.		." "	.		.		.		ЁЯШЕ	.		.		.		.		.		.		.		.		ЁЯШВ	.		.		." "	.		.		ЁЯдг	ЁЯХТ	.		.		.		.		.		.		.		.		ЁЯХУ	ЁЯШК	.		." "	.		ЁЯШЗ	ЁЯХФ	.		.		.		.		ЁЯЩВ	.		ЁЯЩГ	.		.		.		ЁЯХХ	ЁЯШЙ	." "	.		ЁЯШЗ	.		.		.		.		.		ЁЯЩВ	.		ЁЯЩГ	.		.		.		.		ЁЯШЙ	." "	ЁЯШМ	ЁЯХЦ	.		.		.		.		.		ЁЯЩВ	.		ЁЯЩГ	.		.		.		.		ЁЯХЧ	ЁЯШН" "	ЁЯШМ	.		.		.		.		.		.		.		.		.		.		.		.		.		.		ЁЯШН" "	ЁЯШМ	.		.		.		.		.		.		.		.		.		.		.		.		.		.		ЁЯШН" "	ЁЯШМ	ЁЯХШ	.		ЁЯХЩ	.		.		.		.		ЁЯШо	.		.		.		ЁЯХЪ	.		ЁЯХЫ	ЁЯШН" "	.		ЁЯШШ	ЁЯХЬ	ЁЯШЩ	.		.		.		.		.		.		.		.		ЁЯШЪ	ЁЯХЭ	ЁЯШЧ	." "	.		.		ЁЯШЛ	ЁЯШЛ	ЁЯШЛ	.		.		.		.		.		.		ЁЯШЬ	ЁЯШЬ	ЁЯШЬ	.		." "	.		ЁЯШЭ	ЁЯХЮ	ЁЯХЮ	ЁЯХЮ	ЁЯШЫ	ЁЯШЫ	ЁЯШЫ	ЁЯШЫ	ЁЯШЫ	ЁЯШЫ	ЁЯХЯ	ЁЯХЯ	ЁЯХЯ	ЁЯдС	." "	.		ЁЯШЭ	ЁЯХа	ЁЯХа	ЁЯХа	ЁЯХа	ЁЯХа	ЁЯШО	ЁЯШО	ЁЯХб	ЁЯХб	ЁЯХб	ЁЯХб	ЁЯХб	ЁЯдС	." "	.		.		ЁЯШП	ЁЯШП	ЁЯШП	ЁЯШП	ЁЯШП	.		.		ЁЯШТ	ЁЯШТ	ЁЯШТ	ЁЯШТ	ЁЯШТ	.		.";
    transform: translateY(0);
  }
  20%, 29%, 55%, 74% {
    grid-template-areas: "	.		.		.		.		.		.		ЁЯША	ЁЯША	ЁЯША	ЁЯША	.		.		.		.		.		." "	.		.		ЁЯШГ	ЁЯШГ	ЁЯШГ	ЁЯШГ	.		.		.		.		ЁЯШД	ЁЯШД	ЁЯШД	ЁЯШД	.		." "	.		ЁЯШБ	.		ЁЯШЖ	.		.		.		.		.		.		.		.		ЁЯШЕ	.		ЁЯШВ	." "	ЁЯдг	.		.		.		.		.		.		ЁЯШК	.		ЁЯШЗ	.		.		.		.		.		ЁЯЩВ" "	ЁЯдг	.		.		.		.		.		.		ЁЯШК	.		ЁЯШЗ	.		.		.		.		.		ЁЯЩВ" "	ЁЯдг	.		.		.		.		ЁЯХР	ЁЯХР	ЁЯШК	.		ЁЯШЗ	ЁЯХС	ЁЯХС	.		.		.		ЁЯЩВ" "	ЁЯдг	ЁЯХТ	.		.		.		.		.		.		.		.		.		.		.		.		ЁЯХУ	ЁЯЩВ" "	.		ЁЯЩГ	.		.		.		.		.		.		ЁЯШо	.		.		.		.		.		ЁЯШЙ	." "	.		ЁЯЩГ	ЁЯХФ	.		.		.		.		.		ЁЯШо	.		.		.		.		ЁЯХХ	ЁЯШЙ	." "	.		.		ЁЯШМ	.		.		.		.		.		.		.		.		.		.		ЁЯШН	.		." "	.		.		.		ЁЯШШ	.		.		.		.		.		.		.		.		ЁЯШЧ	.		.		." "	.		.		.		ЁЯШШ	ЁЯШЩ	ЁЯХЦ	.		.		.		.		ЁЯХЧ	ЁЯШЪ	ЁЯШЧ	.		.		." "	.		.		.		ЁЯШШ	ЁЯХШ	ЁЯШЛ	ЁЯШЛ	ЁЯШЛ	ЁЯШЛ	ЁЯШЛ	ЁЯШЛ	ЁЯХЩ	ЁЯШЧ	.		.		." "	.		.		.		ЁЯШШ	ЁЯХШ	ЁЯХЪ	ЁЯХЪ	ЁЯШЬ	ЁЯШЬ	ЁЯХЫ	ЁЯХЫ	ЁЯХЩ	ЁЯШЧ	.		.		." "	.		.		.		.		ЁЯШЭ	ЁЯХЪ	ЁЯХЪ	ЁЯШЬ	ЁЯШЬ	ЁЯХЫ	ЁЯХЫ	ЁЯШЫ	.		.		.		." "	.		.		.		.		.		ЁЯдС	ЁЯдС	.		.		ЁЯШО	ЁЯШО	.		.		.		.		.";
  }
  29% {
    transform: translateY(-25px);
  }
  30%, 44% {
    grid-template-areas: "	.		ЁЯША	ЁЯША	ЁЯША	.		ЁЯШГ	ЁЯШГ	ЁЯШГ	ЁЯШГ	ЁЯШГ	ЁЯШГ	.		ЁЯШД	ЁЯШД	ЁЯШД	." "	ЁЯШБ	ЁЯХР	.		.		ЁЯШЖ	ЁЯХС	.		.		.		.		ЁЯХТ	ЁЯШЕ	.		.		ЁЯХУ	ЁЯШВ" "	ЁЯШБ	.		.		.		.		.		.		.		.		.		.		.		.		.		.		ЁЯШВ" "	ЁЯШБ	.		.		.		.		.		.		.		.		.		.		.		.		.		.		ЁЯШВ" "	ЁЯШБ	.		.		.		.		.		.		.		.		.		.		.		.		.		.		ЁЯШВ" "	ЁЯШБ	ЁЯХФ	.		.		.		.		.		.		.		.		.		.		.		.		ЁЯХХ	ЁЯШВ" "	ЁЯШБ	ЁЯХФ	.		.		.		.		.		ЁЯдг	.		ЁЯШК	.		.		.		.		ЁЯХХ	ЁЯШВ" "	.		ЁЯШЗ	.		.		.		.		.		ЁЯдг	.		ЁЯШК	.		.		.		.		ЁЯЩВ	." "	.		ЁЯШЗ	ЁЯХШ	.		.		ЁЯХЦ	ЁЯХЦ	ЁЯдг	.		ЁЯШК	ЁЯХЧ	.		.		ЁЯХЩ	ЁЯЩВ	." "	.		ЁЯШЗ	ЁЯЩГ	ЁЯЩГ	.		.		.		.		.		.		.		.		ЁЯШЙ	ЁЯШЙ	ЁЯЩВ	." "	ЁЯШМ	ЁЯХЪ	ЁЯХЪ	ЁЯХЪ	ЁЯШН	.		.		.		ЁЯШо	.		.		ЁЯШШ	ЁЯХЫ	ЁЯХЫ	ЁЯХЫ	ЁЯШЧ" "	ЁЯШМ	ЁЯХЬ	ЁЯХЬ	ЁЯХЬ	ЁЯХЬ	ЁЯШЩ	ЁЯХЭ	.		.		ЁЯХЮ	ЁЯШЪ	ЁЯХЯ	ЁЯХЯ	ЁЯХЯ	ЁЯХЯ	ЁЯШЧ" "	.		ЁЯШЛ	ЁЯХа	ЁЯХа	ЁЯХа	ЁЯХа	ЁЯШЭ	ЁЯХв	ЁЯХв	ЁЯШЫ	ЁЯХб	ЁЯХб	ЁЯХб	ЁЯХб	ЁЯШЬ	." "	.		.		ЁЯдС	ЁЯдС	ЁЯХг	ЁЯХг	ЁЯШЭ	ЁЯШП	ЁЯШП	ЁЯШЫ	ЁЯХд	ЁЯХд	ЁЯШО	ЁЯШО	.		." "	.		.		.		.		ЁЯШТ	ЁЯШТ	.		.		.		.		ЁЯШЮ	ЁЯШЮ	.		.		.		." "	.		.		.		.		.		.		.		.		.		.		.		.		.		.		.		.";
  }
  45%, 49%, 50%, 54%, 75%, 79% {
    grid-template-areas: "	.		.		.		.		.		.		.		.		.		.		.		.		.		.		.		." "	.		.		.		.		.		.		.		.		.		.		.		.		.		.		.		." "	.		.		.		.		.		.		.		.		.		.		.		.		.		.		.		." "	.		.		.		.		.		.		.		.		.		.		.		.		.		.		.		." "	.		.		.		.		.		.		.		.		.		.		.		.		.		.		.		." "	.		.		.		.		.		.		.		.		.		.		.		.		.		.		.		." "	.		.		ЁЯША	ЁЯША	ЁЯША	ЁЯША	.		.		.		.		ЁЯШД	ЁЯШД	ЁЯШД	ЁЯШД	.		." "	.		ЁЯШБ	ЁЯХР	.		.		ЁЯХС	ЁЯШГ	ЁЯШГ	ЁЯШГ	ЁЯШГ	ЁЯХТ	.		.		ЁЯХУ	ЁЯШЖ	." "	ЁЯШЕ	ЁЯХФ	.		.		ЁЯХХ	.		.		.		.		.		.		ЁЯХЦ	.		.		ЁЯХЧ	ЁЯШВ" "	ЁЯШЕ	.		.		.		.		.		.		.		.		.		.		.		.		.		ЁЯХЧ	ЁЯШВ" "	ЁЯШЕ	ЁЯдг	.		.		.		.		ЁЯШЗ	.		.		ЁЯЩВ	.		.		.		.		ЁЯШК	ЁЯШВ" "	ЁЯШЕ	.		.		.		.		.		.		ЁЯЩГ	.		ЁЯЩВ	.		.		.		.		.		ЁЯШВ" "	ЁЯШЕ	.		.		.		.		.		.		.		.		.		.		.		.		.		.		ЁЯШВ" "	ЁЯШЕ	ЁЯШЙ	.		.		.		.		.		.		ЁЯШо	.		.		.		.		ЁЯХШ	ЁЯШМ	ЁЯШВ" "	ЁЯШЕ	ЁЯХЩ	ЁЯШН	ЁЯШН	.		.		.		.		.		.		.		ЁЯХЪ	ЁЯШШ	ЁЯШШ	ЁЯХЫ	ЁЯШВ" "	.		ЁЯШЧ	ЁЯШЧ	ЁЯШЧ	ЁЯШЧ	ЁЯШЧ	ЁЯШЧ	ЁЯШЧ	ЁЯШЧ	ЁЯШЧ	ЁЯШЧ	ЁЯШЧ	ЁЯШЧ	ЁЯШЧ	ЁЯШЧ	.";
  }
  45%, 54% {
    transform: translateY(100px);
  }
  52%, 53% {
    transform: translateY(105px);
  }
  72% {
    transform: translateY(-10px);
  }
  74% {
    transform: translateY(0);
  }
  80%, 99% {
    grid-template-areas: "	.		.		.		.		.		.		ЁЯША	ЁЯША	ЁЯША	ЁЯША	ЁЯША	ЁЯША	ЁЯША	ЁЯША	.		." "	.		.		.		.		ЁЯШГ	ЁЯШГ	ЁЯХР	.		.		.		.		ЁЯХС	ЁЯШД	.		ЁЯШБ	." "	.		.		.		ЁЯШЖ	ЁЯХТ	.		.		.		.		.		.		.		.		ЁЯХУ	.		ЁЯШЕ" "	.		.		ЁЯШВ	ЁЯХФ	.		.		.		ЁЯдг	.		ЁЯШК	.		.		.		.		.		ЁЯШЕ" "	.		.		ЁЯШВ	.		.		.		.		ЁЯдг	.		ЁЯШК	.		.		.		.		ЁЯХХ	ЁЯШЕ" "	.		ЁЯШЗ	.		.		.		.		.		ЁЯдг	.		ЁЯШК	.		.		.		.		.		ЁЯШЕ" "	ЁЯЩВ	ЁЯХЦ	.		.		.		.		.		.		.		.		.		.		.		.		.		ЁЯШЕ" "	ЁЯЩВ	.		.		.		.		.		.		.		ЁЯШо	.		.		.		.		.		ЁЯХЧ	ЁЯШЕ" "	ЁЯЩВ	.		.		.		.		.		.		.		ЁЯШо	.		.		.		.		.		ЁЯЩГ	." "	.		ЁЯШЙ	.		ЁЯХШ	.		.		.		.		.		.		.		.		.		ЁЯХЩ	ЁЯЩГ	." "	.		.		ЁЯШМ	ЁЯШМ	ЁЯШМ	.		.		.		.		.		.		.		.		ЁЯХЩ	ЁЯЩГ	." "	.		ЁЯШН	ЁЯХЪ	ЁЯХЪ	ЁЯХЪ	ЁЯШШ	.		.		.		.		.		.		ЁЯХЭ	ЁЯШЧ	.		." "	.		ЁЯШН	ЁЯХЪ	ЁЯХЪ	ЁЯХЪ	ЁЯХЫ	ЁЯШЩ	.		.		.		.		ЁЯХЮ	ЁЯШЪ	ЁЯШЪ	ЁЯШЪ	." "	.		ЁЯШН	ЁЯХЪ	ЁЯХЪ	ЁЯХЪ	ЁЯХЫ	ЁЯШЩ	ЁЯХЯ	ЁЯХЯ	ЁЯХЯ	ЁЯШЛ	ЁЯШЛ	ЁЯХа	ЁЯХа	ЁЯХа	ЁЯШЬ" "	.		.		ЁЯШЭ	ЁЯХЬ	ЁЯХЬ	ЁЯХЫ	ЁЯШЩ	ЁЯШЫ	ЁЯШЫ	ЁЯШЫ	ЁЯХб	ЁЯХб	ЁЯХа	ЁЯХа	ЁЯХа	ЁЯШЬ" "	.		.		.		ЁЯдС	ЁЯдС	ЁЯдС	.		.		.		.		ЁЯШО	ЁЯШО	ЁЯШО	ЁЯШО	ЁЯШО	.";
  }
}
