	html{text-align:center;}
	body{width:950px;margin:0 auto;font-family:trebuchet ms;text-align:left}
	#myslide {width:425px;overflow:hidden;position: relative;height:276px;margin-bottom:20px}
 
	#myslide .cover{
		width:1275px; /*------- class mystuff width * number of mystuff divs (425 * 3 = 480)---------- */
		position: absolute;
		height:276px;
	}
 
	#myslide .mystuff {width:425px;float:left;padding:20px 0;}
 
	.button1,.button2,.button3{background:#999;padding:6px;display:block;float:left;margin-right:5px;}
	.active{background:#111;padding:6px;display:block;float:left;outline:none;}
	.clear{clear:both;}

div.description{
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:0px; /* position will be on bottom */
	
	width:425px;
	/* styling bellow */
	background-color:black;
	font-family: 'tahoma';
	font-size:15px;
	color:white;
	opacity:0.6; /* transparency */
	filter:alpha(opacity=60); /* IE transparency */
}
p.description_content{
	padding:10px;
	margin:0px;
}
