/* line 19, ../sass/style.scss */
body {
  background: lightblue;
}

/* line 23, ../sass/style.scss */
svg {
  height: 50%;
  max-width: 350px;
  padding: 3% 10% 0;
  width: 50%;
  margin: 0 auto;
  display: block;
}

/* line 32, ../sass/style.scss */
.wing.right {
  -o-animation: wing-right 0.2s infinite;
  -moz-animation: wing-right 0.2s infinite;
  -webkit-animation: wing-right 0.2s infinite;
  animation: wing-right 0.2s infinite;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

/* line 37, ../sass/style.scss */
.wing.left {
  -o-animation: wing-left 0.2s infinite;
  -moz-animation: wing-left 0.2s infinite;
  -webkit-animation: wing-left 0.2s infinite;
  animation: wing-left 0.2s infinite;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

/* line 42, ../sass/style.scss */
.bug-body {
  -o-animation: bug-body 1s infinite;
  -moz-animation: bug-body 1s infinite;
  -webkit-animation: bug-body 1s infinite;
  animation: bug-body 1s infinite;
}

@-o-keyframes wing-right {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -moz-transform: translateX(10px) rotate(15deg);
    -ms-transform: translateX(10px) rotate(15deg);
    -webkit-transform: translateX(10px) rotate(15deg);
    transform: translateX(10px) rotate(15deg);
  }
  100% {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-moz-keyframes wing-right {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -moz-transform: translateX(10px) rotate(15deg);
    -ms-transform: translateX(10px) rotate(15deg);
    -webkit-transform: translateX(10px) rotate(15deg);
    transform: translateX(10px) rotate(15deg);
  }
  100% {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes wing-right {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -moz-transform: translateX(10px) rotate(15deg);
    -ms-transform: translateX(10px) rotate(15deg);
    -webkit-transform: translateX(10px) rotate(15deg);
    transform: translateX(10px) rotate(15deg);
  }
  100% {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes wing-right {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -moz-transform: translateX(10px) rotate(15deg);
    -ms-transform: translateX(10px) rotate(15deg);
    -webkit-transform: translateX(10px) rotate(15deg);
    transform: translateX(10px) rotate(15deg);
  }
  100% {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-o-keyframes wing-left {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -moz-transform: translateX(10px) rotate(-15deg);
    -ms-transform: translateX(10px) rotate(-15deg);
    -webkit-transform: translateX(10px) rotate(-15deg);
    transform: translateX(10px) rotate(-15deg);
  }
  100% {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-moz-keyframes wing-left {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -moz-transform: translateX(10px) rotate(-15deg);
    -ms-transform: translateX(10px) rotate(-15deg);
    -webkit-transform: translateX(10px) rotate(-15deg);
    transform: translateX(10px) rotate(-15deg);
  }
  100% {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes wing-left {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -moz-transform: translateX(10px) rotate(-15deg);
    -ms-transform: translateX(10px) rotate(-15deg);
    -webkit-transform: translateX(10px) rotate(-15deg);
    transform: translateX(10px) rotate(-15deg);
  }
  100% {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes wing-left {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -moz-transform: translateX(10px) rotate(-15deg);
    -ms-transform: translateX(10px) rotate(-15deg);
    -webkit-transform: translateX(10px) rotate(-15deg);
    transform: translateX(10px) rotate(-15deg);
  }
  100% {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-o-keyframes bug-body {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-moz-keyframes bug-body {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes bug-body {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes bug-body {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
