@import 'addons';

html {
  font: 100%/1.6 'Karla', arial, sans-serif;
  background: #fbfcfc;
  color: #4c4e4d;
}
a {
  color: #304ffe;
}
a:hover {
  text-decoration: none;
}

p {
  font-size: 1.25em;
  width: 80%;
  max-width: 35em;
  margin: 3em auto 0 auto;
}

p::first-letter {
  -webkit-initial-letter: 3 2;
  initial-letter: 3 2;

  color: #c69c6d;
  margin: 1em.5em 0 0;
  font-weight: bold;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/martian.jpg');
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
