/* line 1, ../sass/style.scss */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

/* line 9, ../sass/style.scss */
.cutLine {
  stroke: #fff;
}

/* line 13, ../sass/style.scss */
.shape,
.accent {
  fill: #21F3B6;
}

/* line 18, ../sass/style.scss */
#logo {
  transform-origin: center;
  transform: rotate(31deg) translateY(6px);
}

/* line 23, ../sass/style.scss */
.st6 {
  fill: #fff;
}
