/*The CSS example*/
/* line 2, ../sass/style.scss */
.item {
  padding: 100px;
  color: white;
  width: 70px;
  text-align: center;
  font-size: 3em;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}

/* line 13, ../sass/style.scss */
.animated {
  display: inline-block;
}

/* line 20, ../sass/style.scss */
.blue {
  background-color: #3498db;
}

/* line 24, ../sass/style.scss */
.orange {
  background-color: #FBB44C;
}

/* line 28, ../sass/style.scss */
.pink {
  background-color: #FC797A;
}

/* line 32, ../sass/style.scss */
.green {
  background-color: #2ABB9B;
}

/* line 36, ../sass/style.scss */
.container p.scroll-me {
  color: #888;
  padding: 40px 0px 50px 0px;
}

/*End CSS example*/
/*Other CSS*/
/* line 44, ../sass/style.scss */
body {
  font-family: helvetica;
  font-size: 1.2em;
  margin: 0px;
}

/* line 50, ../sass/style.scss */
body a {
  color: #4183c4;
}

/* line 54, ../sass/style.scss */
.container {
  margin-top: 50px;
  min-width: 300px;
  width: 50%;
}

/* line 60, ../sass/style.scss */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* line 68, ../sass/style.scss */
footer {
  color: #ecded1;
  text-align: center;
  background: #eee;
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 10px 0px;
}

/* line 78, ../sass/style.scss */
.sentences {
  color: #7f8c8d;
  font-size: 0.8em;
  padding: 0px 20px;
  background: red;
  min-width: 300px;
  background: #eee;
  display: table;
  border-radius: 5px;
  margin-bottom: 60px;
}

/* line 90, ../sass/style.scss */
.anijs-reserved-word {
  font-size: 1em;
  font-weight: bolder;
}

/* line 95, ../sass/style.scss */
.anijs-if {
  color: #D14;
}

/* line 99, ../sass/style.scss */
.anijs-on {
  color: #008080;
}

/* line 103, ../sass/style.scss */
.anijs-do {
  color: #D56100;
}

/* line 107, ../sass/style.scss */
.anijs-to {
  color: #4188D2;
}

/* line 111, ../sass/style.scss */
.margin-right {
  margin-right: 50px;
}

/* line 115, ../sass/style.scss */
.margin-left {
  margin-left: 50px;
}

/* line 119, ../sass/style.scss */
.sticky {
  background: #F6F6F6;
  color: #666;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 0px 15px;
  font-size: 80%;
  font-style: italic;
  border-radius: 5px;
}

/* line 131, ../sass/style.scss */
.sticky.left {
  top: 20px;
  left: 0px;
  right: inherit;
  padding: 20px;
  width: 200px;
  font-size: 0.7em;
  border-radius: 0px 10px 10px 0px;
}

/* line 141, ../sass/style.scss */
.sticky.left h4 {
  font-size: 150%;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.33em;
  text-align: left;
}

/* line 148, ../sass/style.scss */
.sticky h4 {
  text-align: center;
}

/* line 152, ../sass/style.scss */
.sticky ul {
  list-style-type: disc;
  color: #4183c4;
  font-size: 90%;
}

/* line 158, ../sass/style.scss */
.sticky ul li {
  margin-bottom: 10px;
}

/* line 162, ../sass/style.scss */
.discover {
  margin-left: -5%;
  color: #7f8c8d;
  font-size: 80%;
}

/* line 168, ../sass/style.scss */
.discover img {
  width: 16px;
  height: 16px;
}

/* line 173, ../sass/style.scss */
.pure-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 100%;
  padding: 0.5em 1.5em 0.5em;
  color: #444;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #999;
  border: none transparent;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: 0.1s linear -webkit-box-shadow;
  -moz-transition: 0.1s linear -moz-box-shadow;
  -ms-transition: 0.1s linear box-shadow;
  -o-transition: 0.1s linear box-shadow;
  transition: 0.1s linear box-shadow;
  padding: 0.4em 1em;
  border-radius: 5px;
  font-size: 80%;
}

/* line 205, ../sass/style.scss */
.pure-button.primary {
  background-color: #1f8dd6;
  color: white;
}

/* line 210, ../sass/style.scss */
.pure-button.secondary {
  background: #42b8dd;
  color: white;
}
