@import url(https://fonts.googleapis.com/css?family=Lemon)
  
*
  box-sizing border-box
  padding 0
  margin 0
  
html
body
  height 100%

.hero
  position relative
  background-image url(http://lorempizza.com/800/600)
  background-size cover
  width 100%
  height 100%
  opacity 0
  transition opacity .5s
  
  &.ready
    opacity 1
    
    h1
      display none

  h1
    position absolute
    top 50%
    left @top
    transform translate(-50%, -50%)
    color white
    font-family Lemon, sans-serif
  
  canvas
    position absolute
    top 0
    left 0