.container {
  padding-top: 50px;
  span { font-size: 40%; }
  .row { margin-bottom: 30px; }
  
  img.starter {
    box-shadow: 0 0 0 100px inset;
    transition: box-shadow 0.5s;
    &:hover { box-shadow: 0 0 0 5px inset; }
    
    &.bulbasaur { color: rgba(71,121,94,.9); }
    &.charmander { color: rgba(221,86,63,.9); }
    &.squirtle { color: rgba(65,102,114,.9); }
    
    &.overlay {
      display: block;
      width: 200px;
      height: 200px;
      
      &.bulbasaur { background-image: url('http://webstaging.uvu.edu/testingsite/kam/images/bulbasaur.png'); }
      &.charmander { background-image: url('http://webstaging.uvu.edu/testingsite/kam/images/charmander.png'); }
      &.squirtle { background-image: url('http://webstaging.uvu.edu/testingsite/kam/images/squirtle.png'); }
    }
  }
}