* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #F7F9FB;
  color: #333;
}

.container {
  width: 90%;
  margin: 100px auto;
  max-width: 1170px;
}

.card {
  padding: 0;
  width: 46%;
  float: left;
  margin: 30px 2%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 20px 150px #d6dee4;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.card figure {
  padding: 0;
  margin: 0;
}
.card figure img {
  max-width: 100%;
}
.card .content {
  padding: 30px;
}
.card .content p {
  line-height: 1.47;
  color: #555;
}
