.boxes
  .box
    .sides
      .back L
      .front L
  .box
    .sides
      .back O
      .front O
  .box
    .sides
      .back A
      .front A
  .box
    .sides
      .back D
      .front D
  .box
    .sides
      .back I
      .front I
  .box
    .sides
      .back N
      .front N
  .box
    .sides
      .back G
      .front G
  .box
    .sides
      .back .
      .front .
  .box
    .sides
      .back .
      .front .
  .box
    .sides
      .back .
      .front .