@import url(https://fonts.googleapis.com/css?family=Nunito:700);

body {
  margin: 0;
  background: #FED75A;
  overflow: hidden;
}

figure { 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

circle {
  fill: none;
  stroke-linecap: round;
}

p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  color: #EC6D76;
  text-align: center;
  text-transform: uppercase;
  line-height: 100vh;
  letter-spacing: 4px;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
}