div.checkbox
    input(
      type='checkbox',
      id='time'
    )
    label(for='time')
section.stages
  div.night
    - for (var stars = 1; stars <= 450; stars++)
      div(class='star', data-star=stars)
  div.day
    - for (var clouds = 1; clouds <= 50; clouds++)
        div(class='cloud', data-cloud=clouds)