html {
  height: 100%;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF2EA8E5', endColorstr='#FF0077B2');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlYThlNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNzdiMiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse cover, #2ea8e5 0%, #0077b2 100%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #2ea8e5 0%, #0077b2 100%);
  background-image: radial-gradient(ellipse cover at center, #2ea8e5 0%, #0077b2 100%);
  background-size: cover;
}

.bubble {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
  background: #c1f1ff;
  -webkit-animation: bubbles-appear, bubbles;
  animation: bubbles-appear, bubbles;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.bubble.big-bubble {
  height: 35px;
  width: 35px;
  border: 4px solid #c1f1ff;
  -moz-box-shadow: #e0f9ff 8px 0px 0px inset;
  -webkit-box-shadow: #e0f9ff 8px 0px 0px inset;
  box-shadow: #e0f9ff 8px 0px 0px inset;
  -webkit-animation-duration: 0.05s, 5s;
  animation-duration: 0.05s, 5s;
  -webkit-animation-delay: 0.9s, 1s;
  animation-delay: 0.9s, 1s;
}
.bubble.medium-bubble {
  top: 120px;
  left: 80px;
  height: 25px;
  width: 25px;
  border: 4px solid #c1f1ff;
  -moz-box-shadow: #e0f9ff 5px 0px 0px inset;
  -webkit-box-shadow: #e0f9ff 5px 0px 0px inset;
  box-shadow: #e0f9ff 5px 0px 0px inset;
  -webkit-animation-duration: 0.05s, 4.9s;
  animation-duration: 0.05s, 4.9s;
  -webkit-animation-delay: 0.8s, 1s;
  animation-delay: 0.8s, 1s;
}
.bubble.small-bubble {
  top: 100px;
  left: -60px;
  height: 15px;
  width: 15px;
  -moz-box-shadow: #e0f9ff 3px 0px 0px inset;
  -webkit-box-shadow: #e0f9ff 3px 0px 0px inset;
  box-shadow: #e0f9ff 3px 0px 0px inset;
  -webkit-animation-duration: 0.05s, 4.6s;
  animation-duration: 0.05s, 4.6s;
  -webkit-animation-delay: 0.7s, 1s;
  animation-delay: 0.7s, 1s;
}

@-webkit-keyframes bubbles {
  from {
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    -moz-transform: translate3d(0, -100px, 0px);
    -ms-transform: translate3d(0, -100px, 0px);
    -webkit-transform: translate3d(0, -100px, 0px);
    transform: translate3d(0, -100px, 0px);
  }
}
@keyframes bubbles {
  from {
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    -moz-transform: translate3d(0, -100px, 0px);
    -ms-transform: translate3d(0, -100px, 0px);
    -webkit-transform: translate3d(0, -100px, 0px);
    transform: translate3d(0, -100px, 0px);
  }
}
@-webkit-keyframes bubbles-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bubbles-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
