.container
  %h1 Backwards Breaking Menu
  %ul#menu
    %li Eight
    %li Seven
    %li Six
    %li Five
    %li Four
    %li Three
    %li Two
    %li.active One
  %p This is a simple script I had to write for a client to reverse the order of his menu list. A php program was creating the structure for his html so when I made the site responsive I had to reverse the items prior to floating them on multiple lines. The site was a right to left website but the menu was written so that the first item was last and would be on the bottom of the pile. The jQuery below reversed the list order. Note: this is not the same as the 'reversed' list attribute.
