/* line 1, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 3, ../sass/style.scss */
body {
  background: black;
  font-family: sans-serif;
}

/* ---- parallax ---- */
/* line 10, ../sass/style.scss */
.sprite {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/yoshis-island-parallax-sprite.png");
  background-repeat: no-repeat;
}

/* line 15, ../sass/style.scss */
.parallax {
  width: 512px;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 40px;
  background-position: 0 -1344px;
  margin: 40px auto 20px;
}

/* line 28, ../sass/style.scss */
.parallax__carousel__cell {
  width: 512px;
  height: 448px;
}

/* line 33, ../sass/style.scss */
.parallax__carousel__cell:nth-child(1) {
  background-position: -0px -448px;
}

/* line 34, ../sass/style.scss */
.parallax__carousel__cell:nth-child(2) {
  background-position: -512px -448px;
}

/* line 35, ../sass/style.scss */
.parallax__carousel__cell:nth-child(3) {
  background-position: -1024px -448px;
}

/* line 36, ../sass/style.scss */
.parallax__carousel__cell:nth-child(4) {
  background-position: -1536px -448px;
}

/* line 37, ../sass/style.scss */
.parallax__carousel__cell:nth-child(5) {
  background-position: -2048px -448px;
}

/* line 39, ../sass/style.scss */
.parallax__layer {
  position: absolute;
  height: 448px;
  left: 0;
  top: 0;
}

/* line 46, ../sass/style.scss */
.parallax__layer--bg {
  width: 2224px;
}

/* line 50, ../sass/style.scss */
.parallax__layer--fg {
  pointer-events: none;
  width: 5200px;
  background-position: 0 -896px;
}

/* line 56, ../sass/style.scss */
.flickity-prev-next-button {
  z-index: 2;
}

/* line 58, ../sass/style.scss */
.flickity-page-dots {
  /*  bottom: 10px;*/
  z-index: 2;
}

/* line 63, ../sass/style.scss */
.flickity-page-dots .dot {
  background: white;
}

/* line 67, ../sass/style.scss */
.tagline {
  font-size: 20px;
  text-align: center;
  margin: 0 0 20px;
}

/* line 73, ../sass/style.scss */
.tagline a {
  color: #666;
  text-decoration: none;
}

/* line 78, ../sass/style.scss */
.tagline a:hover {
  color: #8C8;
}
