/* line 1, ../sass/style.scss */
.BinaryClock .BinaryClock-digits div {
  display: block;
  height: 4vw;
  flex-basis: 5vw;
  margin: 0.5vw 0.25vw;
}

/* line 8, ../sass/style.scss */
body {
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-basis: 100%;
  justify-content: space-around;
  align-items: center;
}

/* line 18, ../sass/style.scss */
.BinaryClock {
  background-color: #dedede;
  width: 100vw;
}
/* line 21, ../sass/style.scss */
.BinaryClock .BinaryClock-digits {
  display: flex;
  margin-left: 0.25vw;
  margin-right: 0.25vw;
}
/* line 27, ../sass/style.scss */
.BinaryClock .BinaryClock-digits div.zero, .BinaryClock .BinaryClock-digits div.one {
  flex-grow: 10;
  transition: background-color 0.2s ease-out;
}
/* line 31, ../sass/style.scss */
.BinaryClock .BinaryClock-digits div.zero {
  background: #fefefe;
}
/* line 34, ../sass/style.scss */
.BinaryClock .BinaryClock-digits div.one {
  background: #333;
}
/* line 37, ../sass/style.scss */
.BinaryClock .BinaryClock-digits div.divider {
  flex-grow: 1;
  flex-basis: 1.25vw;
  background: transparent;
}
