#wrapper
  %form.form{action: ''}
    %p.field.required.half
      %label.label.required{for: 'name'} Name
      %input.text-input#name{type: 'text', name: 'name', required: true}
    %p.field.required.half
      %label.label{for: 'email'} E-mail
      %input.text-input#email{type: 'email', name: 'email', required: true}
    %p.field
      %label.label{for: "message"} Message
      %textarea.textarea#message{cols: 50, name: "message", rows: 4, required: true}
    %p.field
      %input.button{type: "submit", value: "Send message"}