/* General Washington */
body, html {
  height: 100%;
}
*:before, *:after {
  position: absolute;
  display: block;
  content: '';
}
h1 {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0; right: 1em;
  font: 40px 'Anton';
  color: #555;
  text-align: right;
  text-transform: capitalize; 
}

/* Weird Thing */
#isthisweird /*?*/ {
  z-index: 2;
  position: absolute;
  width: 185px; height: 250px;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
  /* This is so sweet */
  .face {
    width: 185px; height: 250px;
    background: #fece04;
    border-radius: 185px;
  }
  /* Eyes man, eyes! */
  #isthisweird:before {
    width: 16px; height: 16px;
    top: 140px; left: 50%;
    margin-left: -8px;
    border-radius: 14px;
    box-shadow: 
      71px  0 0 #fff,
      -71px 0 0 #fff,
      /* and ears */
      92px  0 0 8px #fece04,
      -92px 0 0 8px #fece04;
  }
  /* Neck. */
  #isthisweird:after {
    width: 40px; height: 50px;
    top: 100%; left: 50%;
    margin: -2px 0 0 -20px;
    background: #fece04;
  }
  /* Hair */
  .hair-back,
  .hair-front {
    position: absolute;
    top: 0; left: 50%;
    transform: translateX(-50%);
  }
  .hair-back {z-index: -1}
  /* Mouth */
  .mouth {
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
    .mouth:before {
      top: 0; left: 50%;
      width: 72px; height: 30px;
      background: #fece04;
      border-radius: 7px 7px 30px 30px;
      transform: translateX(-50%);
    }
    .mouth:after {
      z-index: 1;
      top: 0; left: 50%;;
      width: 100%; height: 100%;
      background: #cca503;
      transform: translateX(-50%);
    }
    .teeth {
      z-index: 2;
      position: absolute;
      top: 0; left: 50%;
      width: 28px; height: 16px;
      margin-left: -14px;
      background: #fff;
      border-radius: 0 0 16px 16px;
    }
  /* Moustache */
  .moustache {
    position: absolute;
    top: 158px; left: 50%;
    width: 74px; height: 30px;
    border-radius: 30px 30px 0 0;
    transform: translateX(-50%);
  }
  /* Beard */
  .beard {
    z-index: 1;
    position: absolute;
    bottom: -48px; left: 50%;
    width: 74px; height: 30px;
    border-radius: 30px 30px 0 0;
    transform: translateX(-50%);
  }

/* Lucy */
  .lucy#isthisweird:before {
    box-shadow: 
      71px  0 0 #fff,
      -71px 0 0 #fff;
  }
  .lucy .hair-back {
    width: 245px; height: 298px;
    background: #ff6600;
    border-radius: 90px 90px 10px 10px;
  }
  .lucy .hair-front {
    width: 245px; height: 128px;
    background: #ff6600;
    border-radius: 90px 90px 0 0;
  }
  .lucy .mouth {
    top: 184px;
    width: 54px; height: 28px;
    border-radius: 0 0 28px 28px;
  }
    .lucy .mouth:after {
        border-radius: 0 0 28px 28px;
    }

/* Chen */
  .chen#isthisweird:before {
    box-shadow: 
      71px  0 0 #fff,
      -71px 0 0 #fff;
  }
  .chen .hair-back {
    width: 245px; height: 186px;
    background: #368da1;
    border-radius: 90px 90px 10px 10px;
  }
  .chen .hair-front {
    width: 245px; height: 95px;
    background: #368da1;
    border-radius: 90px 90px 0 0;
  }
  .chen .mouth {
    top: 184px;
    width: 24px; height: 24px;
    border-radius: 100%;
  }
    .chen .mouth:after {
      border-radius: 100%;
    }
    .chen .teeth {
      opacity: 0;
    }

/* Mr. Johnson */
  .mrjohnson .hair-back {
    opacity: 0;
  }
  .mrjohnson .hair-front {
    width: 216px; height: 98px;
    margin-left: 15px;
    background: #333;
    border-radius: 90px 0 90px 0;
  }
  .mrjohnson .moustache {
    background: #333;
  }
  .mrjohnson .mouth {
    top: 184px;
    width: 54px; height: 28px;
    border-radius: 0 0 28px 28px;
  }
    .mrjohnson .mouth:after {
      width: 54px; height: 28px;
      border-radius: 0 0 28px 28px;
    }

/* Donna <3 */
  .donna#isthisweird:before {
    box-shadow: 
      71px  0 0 #fff,
      -71px 0 0 #fff;
  }
  .donna .hair-back {
    width: 245px; height: 228px;
    background: #de7b18;
    border-radius: 90px 90px 80px 80px;
  }
  .donna .hair-front {
    overflow: hidden;
    width: 245px; height: 132px;
    border-radius: 90px 90px 0 0;
  }
    .donna .hair-front:before {
      width: 70px; height: 100%;
      background: #de7b18;
      border-radius: 0 0 35px 0;
    }
    .donna .hair-front:after {
      left: 60px;
      width: 190px; height: 100%;
      background: #de7b18;
      border-radius: 0 0 0 35px;
    }
  .donna .mouth {
    top: 184px;
    width: 54px; height: 28px;
    border-radius: 0 0 28px 28px;
  }
    .donna .mouth:after {
      border-radius: 0 0 28px 28px;
    }
    .donna .teeth {
      opacity: 0;
    }

/* Jenna */
  .jenna#isthisweird:before {
    box-shadow: 
      71px  0 0 #fff,
      -71px 0 0 #fff;
  }
  .jenna .hair-back {
    width: 247px; height: 170px;
    background: #ff6600;
    border-radius: 85px 85px 80px 80px;
  }
    .jenna .hair-back:after {
      top: 128px; left: 50%;
      width: 240px; height: 46px;
      margin-left: -120px;
      background: #ff6600;
      border-radius: 22px;
    }
  .jenna .hair-front {
    overflow: hidden;
    width: 247px; height: 105px;
    border-radius: 85px 85px 0 0;
  }
    .jenna .hair-front:after {
      top: 0; left: 50%;
      width: 46px; height: 100%;
      margin-left: -23px;
      background: #ff6600;
      border-radius: 0 0 22px 22px;
      box-shadow:
        46px  0 0 #ff6600,
        92px  0 0 #ff6600,
        -46px 0 0 #ff6600,
        -92px 0 0 #ff6600;
    }
  .jenna .mouth {
    top: 184px;
    width: 54px; height: 28px;
    border-radius: 0 0 28px 28px;
  }
    .jenna .mouth:after {
      border-radius: 0 0 28px 28px;
    }

/* Akeno */
  .akeno .hair-front {
    top: 70px;
    width: 11px; height: 100px;
    border-radius: 9px;
    box-shadow: 
      88px  0 0 #368da1, 
      -88px 0 0 #368da1;
  }
    .akeno .hair-front:before {
      top: -70px; left: -110px;
      width: 130px; height: 105px;
      background: #368da1;
      border-radius: 85px 0 85px 0;
    }
    .akeno .hair-front:after {
      top: -70px; right: -110px;
      width: 130px; height: 105px;
      background: #368da1;
      border-radius: 0 85px 0 85px;
    }
  .akeno .mouth {
    top: 184px;
    width: 54px; height: 28px;
    border-radius: 0 0 28px 28px;
  }
    .akeno .mouth:after {
      border-radius: 0 0 28px 28px;
    }

/* Joshua */
  .joshua .hair-back {
    opacity: 0;
  }
  .joshua .hair-front {
    width: 216px; height: 98px;
    margin-left: 15px;
    background: #de7b18;
    border-radius: 90px 0 90px 0;
  }
    .joshua .hair-front:before {
      bottom: -80px; left: 0;
      width: 11px; height: 80px;
      background: #de7b18;
    }
    .joshua .hair-front:after {
      bottom: -80px; right: 30px;
      width: 11px; height: 150px;
      background: #de7b18;
    }
  .joshua .moustache {
    background: #de7b18;
  }
  .joshua .mouth {
    top: 184px;
    width: 54px; height: 28px;
    border-radius: 0 0 28px 28px;
  }
    .joshua .mouth:after {
      width: 50px; height: 20px;
      border-radius: 0 0 50px 50px;
    }
    .joshua .teeth {
      height: 13px;
    }
  .joshua .beard {
    width: 186px; height: 126px;
    background: #de7b18;
    border-radius: 0 0 43px 43px;
  }

/* Jackson */
  .jackson .hair-back {
    opacity: 0;
  }
  .jackson .hair-front {
    width: 216px; height: 98px;
    margin-left: 15px;
    border-radius: 90px 0 90px 0;
  }
    .jackson .hair-front:before {
      bottom: -80px; left: 0;
      width: 11px; height: 60px;
      background: #ff5819;
      border-radius: 11px;
    }
    .jackson .hair-front:after {
      bottom: -80px; right: 30px;
      width: 11px; height: 60px;
      background: #ff5819;
      border-radius: 11px;
    }
  .jackson .moustache {
    background: #ff5819;
  }
  .jackson .mouth {
    top: 184px;
    width: 54px; height: 28px;
    border-radius: 0 0 28px 28px;
  }
    .jackson .mouth:after {
      width: 50px; height: 20px;
      border-radius: 0 0 50px 50px;
    }
    .jackson .teeth {
      height: 13px;
    }
  .jackson .beard {
    width: 186px; height: 126px;
    background: #ff5819;
    border-radius: 0 0 43px 43px;
  }