@css {
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
}

/* flatuicolors.com */
$red    = rgba(231, 76, 60, 1.0)
$orange = rgba(230, 126, 34,1.0)
$yellow = rgba(241, 196, 15,1.0)
$green  = rgba(46, 204, 113,1.0)
$blue   = rgba(52, 152, 219,1.0)
$purple = rgba(155, 89, 182,1.0)
$drkblu = rgba(52, 73, 94, 1.0)
$gray   = rgba(189, 195, 199,1.0)



html
  font-size 150%

body
  font-family "Open Sans", open-sans, sans-serif
  margin 2rem

button
  font-family inherit
  font-size 1rem
  font-weight inherit
  cursor pointer
  font-weight 300
  color white

.flat-button
  padding .25rem .5rem
  border-radius 4px
  border none
  transition all .05s linear
  position relative
  top 0
  box-shadow inset 0 -3px rgba(0,0,0,.20), inset 0 3px rgba(255,255,255,.40)
  &:active
    box-shadow inset 0 3px rgba(0,0,0,.10)
    top 2px
  &:focus
    outline none
  &.dark-text
    color #333

.red-button
  background $red
.orange-button
  background $orange
.yellow-button
  background $yellow
.green-button
  background $green
.blue-button
  background $blue
.purple-button
  background $purple
.dark-blue-button
  background $drkblu
.gray-button
  background $gray



.button-holder
  font-size 0
  > button
    display inline-block
    margin 0 5% 5% 0
    width 28.33333%