body {
  font-family: "Open Sans", Arial;
  color: #666;
}

@media (max-width: 980px) {
  .container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .column:nth-child(1) {
    flex-basis: 49.5%;
  }
  .column:nth-child(2) {
    flex-basis: 49.5%;
    margin-bottom: 1%;
  }
  .column:nth-child(3) {
    flex-basis: 100%;
    background: red;
  }
}

@media (max-width: 680px) {
  .container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .column:nth-child(1) {
    flex-basis: 100%;
    margin-bottom: 1%;
  }
  .column:nth-child(2) {
    flex-basis: 100%;
  }
  .column:nth-child(3) {
    flex-basis: 100%;
  }
}

.container1 {
  border: 1px solid #ccc;
  width: 70%;
  padding: 5px 5px 2.5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: hidden;
}

.container2 {
  border: 1px solid #ccc;
  width: 70%;
  padding: 2.5px 5px 2.5px 5px;
  border-top: hidden;
  border-bottom: hidden;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
}

.container3 {
  border: 1px solid #ccc;
  width: 70%;
  padding: 2.5px 5px 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: hidden;
  align-items: flex-start;
}

.header {
  border: 1px solid #ccc;
  flex: 1;
  padding-left: 15px;
}

.column {
  border: 1px solid #ccc;
  flex-basis: 33%;
  box-sizing: border-box;
  padding: 0 15px;
}

.column:nth-child(odd) {
  background: #F0EEEF;
}
