/**
 * Two column <dl> with two lines of CSS! Thank you Grid Layout!
 * Limitation: Breaks if we have multiple consecutive <dt>s or <dd>s
 */
dl {
  display: grid;
  grid-template: auto / 10em 1fr;
}

dt {
  background: #fee;
}

dd {
  background: #f1f2f4;
}

dt, dd {
  margin: 0;
  padding: .3em .5em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
