@import "compass";


////////////////////
/// Typhography ///

// Font Family
$font-family: Montserrat;

// Font Weights
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;

// Font Size
$fs-small: 12px;
$fs-medium: 14px;
$fs-default: 16px;
$fs-large: 18px;
$fs-extra-large: 24px;

////////////////////
///    colors   /// 

// Base Colors
$white: #fff;
$black: #000;
$gray: #333;
$puple: #b95ed5;

// Text Colors
$font-white: $white;
$font-black: $black;
$font-gray: $gray;
$font-puple: $puple;

// Background Colors
$background-white: $white;
$background-black: $black;
$background-gray: $gray;
$background-puple: $puple;

// Border Colors
$border-white: $white;
$border-black: $black;
$border-gray: $gray;

/*======================
 mixins 
========================*/
// Create mixin for font-weight and font-size properties
@mixin custom-font($fontsize, $fontweight) {
    font-weight: $fontweight;
    font-size: $fontsize;
}

// Create mixin for transition property
@mixin transition($time, $type, $property) {
    transition: $time $type $property;
    -moz-transition: $time $type $property;
    -webkit-transition: $time $type $property;
}

// Create mixin for border-radius property
@mixin border-radius($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

// Create mixin for transition property
@mixin box-shadow($shadow) {
    box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
}

// Create mixin for vibrate keyframe
@mixin vibrate() {
    @keyframes vibrate {
        0% {
            transform: rotateZ(10deg)
        }
        50% {
            transform: rotateZ(-10deg)
        }
        75% {
            transform: rotateZ(10deg)
        }
        100% {
            transform: rotateZ(-10deg)
        }
    }
    @-webkit-keyframes vibrate {
        0% {
            transform: rotateZ(10deg)
        }
        50% {
            transform: rotateZ(-10deg)
        }
        75% {
            transform: rotateZ(10deg)
        }
        100% {
            transform: rotateZ(-10deg)
        }
    }
    @-moz-keyframes vibrate {
        0% {
            transform: rotateZ(10deg)
        }
        50% {
            transform: rotateZ(-10deg)
        }
        75% {
            transform: rotateZ(10deg)
        }
        100% {
            transform: rotateZ(-10deg)
        }
    }
}

// Create mixin for jump-up keyframe
@mixin jump-up-keyframe() {
    @keyframes jump-up {
        0% {
            transform: translateY(0px)
        }
        50% {
            transform: translateY(-20px)
        }
        100% {
            transform: translateY(0px)
        }
    }
    @-webkit-keyframes jump-up {
        0% {
            transform: translateY(0px)
        }
        50% {
            transform: translateY(-20px)
        }
        100% {
            transform: translateY(0px)
        }
    }
    @-moz-keyframes jump-up {
        0% {
            transform: translateY(0px)
        }
        50% {
            transform: translateY(-20px)
        }
        100% {
            transform: translateY(0px)
        }
    }
}

// Create mixin for jump-down keyframe
@mixin jump-down-keyframe() {
    @keyframes jump-down {
        0% {
            transform: translateY(0px)
        }
        50% {
            transform: translateY(20px)
        }
        100% {
            transform: translateY(0px)
        }
    }
    @-webkit-keyframes jump-down {
        0% {
            transform: translateY(0px)
        }
        50% {
            transform: translateY(20px)
        }
        100% {
            transform: translateY(0px)
        }
    }
    @-moz-keyframes jump-down {
        0% {
            transform: translateY(0px)
        }
        50% {
            transform: translateY(20px)
        }
        100% {
            transform: translateY(0px)
        }
    }
}

// Create mixin for ring keyframe
@mixin ring-keyframe() {
    @keyframes ring {
        0%,
        100% {
            transform: rotate(0deg);
        }
        5% {
            transform: rotate(-30deg);
        }
        10% {
            transform: rotate(25deg);
        }
        15% {
            transform: rotate(-25deg);
        }
        20% {
            transform: rotate(20deg);
        }
        25% {
            transform: rotate(-20deg);
        }
        30% {
            transform: rotate(15deg);
        }
        35% {
            transform: rotate(-15deg);
        }
        40% {
            transform: rotate(15deg);
        }
        45% {
            transform: rotate(0deg);
        }
    }
    @-webkit-keyframes ring {
        0%,
        100% {
            transform: rotate(0deg);
        }
        5% {
            transform: rotate(-30deg);
        }
        10% {
            transform: rotate(25deg);
        }
        15% {
            transform: rotate(-25deg);
        }
        20% {
            transform: rotate(20deg);
        }
        25% {
            transform: rotate(-20deg);
        }
        30% {
            transform: rotate(15deg);
        }
        35% {
            transform: rotate(-15deg);
        }
        40% {
            transform: rotate(15deg);
        }
        45% {
            transform: rotate(0deg);
        }
    }
    @-moz-keyframes ring {
        0%,
        100% {
            transform: rotate(0deg);
        }
        5% {
            transform: rotate(-30deg);
        }
        10% {
            transform: rotate(25deg);
        }
        15% {
            transform: rotate(-25deg);
        }
        20% {
            transform: rotate(20deg);
        }
        25% {
            transform: rotate(-20deg);
        }
        30% {
            transform: rotate(15deg);
        }
        35% {
            transform: rotate(-15deg);
        }
        40% {
            transform: rotate(15deg);
        }
        45% {
            transform: rotate(0deg);
        }
    }
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700i,800,800i,900,900i');

/*======================
  Reset Default Styles 
========================*/

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: $font-family, sans-serif;
}

a,
h1,
h2,
img,
li,
p,
section,
ul,
{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

section {
    display: block
}

ul {
    list-style: none
}

a {
    outline: 0 !important;
    text-decoration: none !important;
}


/*======================
 Common Style 
========================*/

a.back-to-article {
    width: 100%;
    float: left;
    padding: 10px 0px;
    margin-bottom: 30px;
    background: $background-gray;
    color: $font-white;
    text-align: left;
    text-indent: 20px;
    font-size: $fs-small;
    text-transform: uppercase;
    text-decoration: none;
    &.back-to-article:hover {
        color: $font-puple;
    }
}

a.github {
    width: 150px;
    right: -32px;
    top: 27px;
    position: fixed;
    padding: 5px 0 8px;
    color: $font-white;
    @include custom-font($fs-medium,
    $fw-500);
    background-color: $background-puple;
    text-transform: capitalize;
    text-align: center;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 111;
    @include box-shadow(1px 1px 1px 1px rgba(0, 0, 0, 0.5));
    &:hover {
        background-color: $background-white;
        color: $font-puple;
    }
}

main {
    padding: 30px 0;
    background-color: $background-white;
    h1 {
        color: $font-gray;
        @include custom-font($fs-extra-large,
        $fw-600);
        text-align: center;
        text-transform: uppercase;
    }
    p {
        max-width: 700px;
        margin: 5px auto 0;
        text-align: center;
    }
    section {
        width: 100%;
        //max-width: 900px;
        height: auto;
        float: left;
        display: block;
        margin: 30px auto;
        padding: 40px 0;
        background-color: $background-gray;
        li,
        a {
            display: block;
        }
        li {
            width: 25%;
            height: auto;
            float: left;
            position: relative;
            padding: 30px 0;
            &:nth-child(4n+1) {
                clear: left;
            }
            a,
            a:active,
            a:focus,
            a:visited {
                border: 2px solid $border-white;
                background-color: transparent;
            }
            a {
                width: 100%;
                max-width: 120px;
                position: relative;
                margin: 0 auto;
                padding: 10px 0;
                border: 2px solid $border-white;
                background-color: transparent;
                text-align: center;
                text-transform: uppercase;
                color: $font-white;
                @include custom-font($fs-medium,
                $fw-400);
                @include transition(0.5s,
                ease,
                background-color);
                &:hover {
                    background-color: $background-white;
                    color: $font-gray;
                }
            }
        }
    }
}


/*---- View < 1024px ----*/

@media(max-width:1024px) {
    main section li {
        width: 50%;
        &:nth-child(4n+1) {
            clear: none;
        }
        &:nth-child(2n+1) {
            clear: left;
        }
    }
}


/*---- View < 450px ----*/

@media(max-width:450px) {
    main section li {
        width: 100%;
    }
}
/*======================
 Tooltip style
========================*/

.link {
    &:before,
    &:after {
        position: absolute;
    }
    &:before {
        width: 0;
        height: 0;
        content: "";
    }
    &:after {
        content: attr(data-tooltip);
        width: 120px;
        display: block;
        padding: 10px 0;
        @include border-radius(4px);
        background-color: $background-black;
        color: $font-white;
        @include custom-font($fs-small, $fw-400);
        text-align: center;
        text-transform: none;
    }
    &.top,
    &.bottom {
        &:after,
        &:before {
            left: 0;
            right: 0;
            margin: auto;
        }
        &:before {
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
        }
    }
    &.left,
    &.right {
        &:after,
        &:before {
            top: 0;
            bottom: 0;
            margin: auto;
        }
        &:before {
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
        }
    }
    &.top {
        &:after {
            bottom: calc(100% + 10px);
        }
        &:before {
            border-top: 7px solid $border-black;
            bottom: calc(100% + 3px);
        }
    }
    &.bottom {
        &:after {
            top: calc(100% + 10px);
        }
        &:before {
            border-bottom: 7px solid $border-black;
            top: calc(100% + 3px);
        }
    }
    &.left {
        &:after {
            right: calc(100% + 10px);
        }
        &:before {
            border-left: 7px solid $border-black;
            right: calc(100% + 3px);
        }
    }
    &.right {
        &:after {
            left: calc(100% + 10px);
        }
        &:before {
            border-right: 7px solid $border-black;
            left: calc(100% + 3px);
        }
    }
}


/*-------------------------------
 tooltip-1 to tooltip-4 styles 
 -------------------------------*/

.tooltip-1,
.tooltip-2,
.tooltip-3,
.tooltip-4 {
    &:before,
    &:after {
        opacity: 0;
        z-index: -1;
        @include transition(0.5s, ease, all);
    }
    &:hover {
        &:before,
        &:after {
            opacity: 1;
            z-index: 11;
            @include transition(0.25s, ease, all);
        }
    }
}


/*-------------------------------
  tooltip-5 to tooltip-8 styles 
  ------------------------------*/

.tooltip-5,
.tooltip-6,
.tooltip-7,
.tooltip-8 {
    &:before {
        opacity: 0;
        z-index: -1;
        @include transition(0.75s, ease, all);
    }
    &:hover {
        &:before {
            opacity: 1;
            z-index: 11;
            @include transition(0.25s, ease, all);
        }
    }
}


/*---- tooltip-5 and tooltip-8 styles ----*/

.tooltip-5,
.tooltip-8 {
    &:after {
        opacity: 0;
        z-index: -1;
        height: 0;
        padding: 0;
        line-height: 0;
        @include transition(0.75s, ease, all);
    }
    &:hover {
        &:after {
            opacity: 1;
            z-index: 11;
            height: 35px;
            line-height: 35px;
            @include transition(0.25s, ease, all);
        }
    }
}


/*---- tooltip-6 and tooltip-7 styles ----*/

.tooltip-6,
.tooltip-7 {
    &:after {
        opacity: 0;
        z-index: -1;
        width: 0;
        @include transition(0.75s, ease, all);
    }
    &:hover {
        &:after {
            opacity: 1;
            z-index: 11;
            width: 120px;
            @include transition(0.25s, ease, all);
        }
    }
}


/*-------------------------------
  tooltip-9 to tooltip-12 styles
  ------------------------------*/

.tooltip-9,
.tooltip-10,
.tooltip-11,
.tooltip-12 {
    &:after {
        transform: scale(0);
        -webkit-transform: scale(0);
        transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5);
        -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5);
    }
    &:before {
        opacity: 0;
        z-index: -1;
        @include transition(0.4s, ease, all);
        transition-delay: 0.4s;
        -webkit-transition-delay: 0.4s;
    }
    &:hover {
        &:after {
            transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
            -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
            transform: scale(1);
            -webkit-transform: scale(1);
        }
        &:before {
            opacity: 1;
            z-index: 11;
            @include transition(0.4s, ease, all);
            transition-delay: 0.4s;
            -webkit-transition-delay: 0.4s;
        }
    }
}


/*---- tooltip-9 style ----*/

.tooltip-9 {
    &:after {
        bottom: calc(100% + 5px);
        transform-origin: bottom center;
        -webkit-transform-origin: bottom center;
    }
    &:hover {
        &:after {
            bottom: calc(100% + 10px);
        }
    }
}


/*---- tooltip-10 style ----*/

.tooltip-10 {
    &:after {
        right: calc(100% + 5px);
        transform-origin: center left;
        -webkit-transform-origin: center left;
    }
    &:hover {
        &:after {
            right: calc(100% + 10px);
        }
    }
}


/*---- tooltip-11 style ----*/

.tooltip-11 {
    &:after {
        left: calc(100% + 5px);
        transform-origin: center right;
        -webkit-transform-origin: center right;
    }
    &:hover {
        &:after {
            left: calc(100% + 10px);
        }
    }
}


/*---- tooltip-12 style ----*/

.tooltip-12 {
    &:after {
        top: calc(100% + 5px);
        transform-origin: top center;
        -webkit-transform-origin: top center;
    }
    &:hover {
        &:after {
            top: calc(100% + 10px);
        }
    }
}


/*-------------------------------
  tooltip-13 and tooltip-14 styles
  ------------------------------*/

@include vibrate();
.tooltip-13,
.tooltip-14 {
    &:after,
    &:before {
        opacity: 0;
        z-index: -1;
    }
    &:after {
        @include transition(0.4s, linear, opacity);
    }
    &:before {
        @include transition(0.4s, ease, all);
    }
    &:hover {
        &:after,
        &:before {
            opacity: 1;
            z-index: 11;
        }
        &:after {
            animation-name: vibrate;
            animation-duration: 300ms;
        }
        &:before {
            @include transition(0.4s, ease, all);
        }
    }
}


/*-------------------------------
  tooltip-15 style
  ------------------------------*/

@include jump-up-keyframe();
.tooltip-15 {
    &:after,
    &:before {
        opacity: 0;
        z-index: -1;
    }
    &:after {
        @include transition(0.4s, linear, opacity);
    }
    &:before {
        @include transition(0.4s, ease, all);
    }
    &:hover {
        &:after,
        &:before {
            opacity: 1;
            z-index: 11;
        }
        &:before,
        &:after {
            animation-name: jump-up;
            animation-duration: 300ms;
        }
        &:before {
            @include transition(0.4s, ease, all);
        }
    }
}


/*-------------------------------
  tooltip-16 style
  ------------------------------*/

@include jump-down-keyframe();
.tooltip-16 {
    &:after,
    &:before {
        opacity: 0;
        z-index: -1;
    }
    &:after {
        @include transition(0.4s, linear, opacity);
    }
    &:before {
        @include transition(0.4s, ease, all);
    }
    &:hover {
        &:after,
        &:before {
            opacity: 1;
            z-index: 11;
        }
        &:before,
        &:after {
            animation-name: jump-down;
            animation-duration: 300ms;
        }
        &:before {
            @include transition(0.4s, ease, all);
        }
    }
}


/*-------------------------------
  tooltip-17 and tooltip-18 styles
  ------------------------------*/

.tooltip-17,
.tooltip-18 {
    &:after,
    &:before {
        opacity: 0;
        z-index: -1;
        @include transition(0.4s, ease-in-out, all);
    }
    &:hover {
        &:after,
        &:before {
            opacity: 1;
            z-index: 11;
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
        }
    }
}


/*-------------------------------
  tooltip-19 and tooltip-20 styles
  ------------------------------*/

@include ring-keyframe();
.tooltip-19,
.tooltip-20 {
    &:after,
    &:before {
        opacity: 0;
        z-index: -1;
    }
    &:after {
        transform: rotate(0);
        transform-origin: top center;
    }
    &:before {
        @include transition(0.4s, ease-in-out, all);
    }
    &:hover {
        &:after,
        &:before {
            opacity: 1;
            z-index: 11;
            animation-name: ring;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
    }
}