.button-holder
  button.flat-button.red-button Click Me
  button.flat-button.orange-button Click Me
  button.flat-button.yellow-button Click Me
  button.flat-button.green-button Click Me
  button.flat-button.blue-button Click Me
  button.flat-button.purple-button Click Me
  button.flat-button.dark-blue-button Click Me
  button.flat-button.gray-button.dark-text Click Me