<div>
  <h2>{{ productFormCtrl.product.name }}</h2>
  <p>
    <label for="product_name">Name:</label>
    <input type="text" id="product_name"
           ng-model="productFormCtrl.product.name">
  </p>
  <p>
    <label for="product_description">Description:</label>
    <textarea id="product_name"
              ng-model="productFormCtrl.product.description"></textarea>
  </p>
  <p>
    <label for="product_price">Price:</label>
    <input type="text" id="product_price"
           ng-model="productFormCtrl.product.price">
  </p>
  <p>
    <button ng-click="productFormCtrl.saveProduct()">Save</button> or
    <a href="#" ng-click="productFormCtrl.cancel()">Cancel</a>
  </p>
</div>
