@-webkit-keyframes clockwise {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes clockwise {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes counter-clockwise {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-moz-keyframes counter-clockwise {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #333;
  position: relative;
  height: 100%;
  margin: 0px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
}

.hours {
  position: absolute;
  left: -345px;
}
.hours .gearbox {
  position: absolute;
}
.hours .gearbox .solar-gear {
  position: absolute;
  height: 240px;
  width: 240px;
  -moz-border-radius: 120px;
  -webkit-border-radius: 120px;
  border-radius: 120px;
  left: -120px;
  top: -120px;
}
.hours .gearbox .solar-gear .body {
  position: relative;
  height: 100%;
  width: 100%;
  background: #242424;
  -moz-border-radius: 120px;
  -webkit-border-radius: 120px;
  border-radius: 120px;
  border: 1px solid #1F1F1F;
}
.hours .gearbox .solar-gear .bar {
  background: #242424;
  height: 24px;
  width: 259.2px;
  position: absolute;
  left: 50%;
  margin-left: -129.6px;
  top: 50%;
  margin-top: -12px;
  -moz-border-radius: 4.8px;
  -webkit-border-radius: 4.8px;
  border-radius: 4.8px;
  border-left: 1px solid #1F1F1F;
  border-right: 1px solid #1F1F1F;
}
.hours .gearbox .solar-gear .bar:nth-child(2) {
  -moz-transform: rotate(22.5deg);
  -ms-transform: rotate(22.5deg);
  -webkit-transform: rotate(22.5deg);
  transform: rotate(22.5deg);
}
.hours .gearbox .solar-gear .bar:nth-child(3) {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hours .gearbox .solar-gear .bar:nth-child(4) {
  -moz-transform: rotate(67.5deg);
  -ms-transform: rotate(67.5deg);
  -webkit-transform: rotate(67.5deg);
  transform: rotate(67.5deg);
}
.hours .gearbox .solar-gear .bar:nth-child(5) {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.hours .gearbox .solar-gear .bar:nth-child(6) {
  -moz-transform: rotate(112.5deg);
  -ms-transform: rotate(112.5deg);
  -webkit-transform: rotate(112.5deg);
  transform: rotate(112.5deg);
}
.hours .gearbox .solar-gear .bar:nth-child(7) {
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.hours .gearbox .solar-gear .bar:nth-child(8) {
  -moz-transform: rotate(157.5deg);
  -ms-transform: rotate(157.5deg);
  -webkit-transform: rotate(157.5deg);
  transform: rotate(157.5deg);
}
.hours .gearbox .gears {
  width: 100%;
  height: 100%;
}
.hours .gearbox .gear {
  position: absolute;
  height: 180px;
  width: 180px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  border-radius: 90px;
}
.hours .gearbox .gear.one {
  left: 129.6px;
  top: -90px;
}
.hours .gearbox .gear.two {
  left: -90px;
  top: 129.6px;
}
.hours .gearbox .gear.two .numbers {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.hours .gearbox .gear.three {
  left: -309.6px;
  top: -90px;
}
.hours .gearbox .gear.three .numbers {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.hours .gearbox .gear.four {
  left: -90px;
  top: -309.6px;
}
.hours .gearbox .gear.four .numbers {
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.hours .gearbox .gear .body {
  position: relative;
  height: 100%;
  width: 100%;
  background: #242424;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  border-radius: 90px;
  border: 1px solid #1F1F1F;
}
.hours .gearbox .gear .numbers {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  margin-top: -90px;
}
.hours .gearbox .gear .numbers .number {
  position: absolute;
  width: 100%;
  font-size: 75px;
  line-height: 75px;
  color: #F09004;
  top: 51.5px;
  padding-left: 101.25px;
}
.hours .gearbox .gear .numbers .number:nth-child(2) {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}
.hours .gearbox .gear .numbers .number:nth-child(3) {
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
}
.hours .gearbox .gear .bars {
  width: 100%;
  height: 100%;
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
.hours .gearbox .gear .bars .bar {
  background: #242424;
  height: 24px;
  width: 199.2px;
  position: absolute;
  left: 50%;
  margin-left: -99.6px;
  top: 50%;
  margin-top: -12px;
  -moz-border-radius: 4.8px;
  -webkit-border-radius: 4.8px;
  border-radius: 4.8px;
  border-left: 1px solid #1F1F1F;
  border-right: 1px solid #1F1F1F;
}
.hours .gearbox .gear .bars .bar:nth-child(2) {
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.hours .gearbox .gear .bars .bar:nth-child(3) {
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
.hours .gearbox .gear .bars .bar:nth-child(4) {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.hours .gearbox .gear .bars .bar:nth-child(5) {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}
.hours .gearbox .gear .bars .bar:nth-child(6) {
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}
.hours .spider {
  position: absolute;
  height: 180px;
  width: 180px;
  left: -90px;
  top: -90px;
}
.hours .spider > .body {
  position: relative;
  height: 100%;
  width: 100%;
  background: #464A4C;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  border-radius: 90px;
  border: 1px solid #555;
}
.hours .spider > .body .ring {
  position: absolute;
  width: 90px;
  height: 90px;
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  border: 1px solid #555;
  top: 45px;
  left: 45px;
}
.hours .spider > .body .bars {
  width: 100%;
  height: 100%;
}
.hours .spider > .body .bars .bar {
  height: 19.2px;
  width: 458.4px;
  position: absolute;
  left: 50%;
  margin-left: -229.2px;
  top: 50%;
  margin-top: -9.6px;
}
.hours .spider > .body .bars .bar:nth-child(2) {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.hours .spider > .body .bars .bar:nth-child(3) {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.hours .spider > .body .bars .bar:nth-child(4) {
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.hours .spider > .body .bars .bar:nth-child(5) {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.hours .spider > .body .bars .bar .body {
  position: absolute;
  height: 19.2px;
  width: 229.2px;
  background: #464A4C;
  -moz-border-radius: 9.6px;
  -webkit-border-radius: 9.6px;
  border-radius: 9.6px;
}
.hours .spider > .body .bars .bar .screw {
  position: absolute;
  height: 9.6px;
  width: 9.6px;
  background: #242424;
  -moz-border-radius: 9.6px;
  -webkit-border-radius: 9.6px;
  border-radius: 9.6px;
  top: 4.8px;
  left: 4.8px;
}
.hours .spider > .body .bars .bar .screw .slot {
  position: absolute;
  height: 2.88px;
  width: 6.72px;
  background: #1f1f1f;
  left: 1.44px;
  top: 3.36px;
}

.minute-container {
  position: absolute;
  left: 275px;
}
.minute-container .minute-gearbox {
  position: absolute;
}
.minute-container .minute-gearbox .central-gear {
  position: absolute;
  height: 250px;
  width: 250px;
  -moz-border-radius: 125px;
  -webkit-border-radius: 125px;
  border-radius: 125px;
  left: -125px;
  top: -125px;
}
.minute-container .minute-gearbox .central-gear .gear-inner {
  position: relative;
  height: 100%;
  width: 100%;
  background: #242424;
  -moz-border-radius: 125px;
  -webkit-border-radius: 125px;
  border-radius: 125px;
  border: 1px solid #1F1F1F;
}
.minute-container .minute-gearbox .central-gear .bar {
  background: #242424;
  height: 20px;
  width: 266px;
  position: absolute;
  left: 50%;
  margin-left: -133px;
  top: 50%;
  margin-top: -10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-left: 1px solid #1F1F1F;
  border-right: 1px solid #1F1F1F;
}
.minute-container .minute-gearbox .central-gear .bar:nth-child(2) {
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -webkit-transform: rotate(18deg);
  transform: rotate(18deg);
}
.minute-container .minute-gearbox .central-gear .bar:nth-child(3) {
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg);
}
.minute-container .minute-gearbox .central-gear .bar:nth-child(4) {
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -webkit-transform: rotate(54deg);
  transform: rotate(54deg);
}
.minute-container .minute-gearbox .central-gear .bar:nth-child(5) {
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -webkit-transform: rotate(72deg);
  transform: rotate(72deg);
}
.minute-container .minute-gearbox .central-gear .bar:nth-child(6) {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.minute-container .minute-gearbox .central-gear .bar:nth-child(7) {
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -webkit-transform: rotate(108deg);
  transform: rotate(108deg);
}
.minute-container .minute-gearbox .central-gear .bar:nth-child(8) {
  -moz-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  -webkit-transform: rotate(126deg);
  transform: rotate(126deg);
}
.minute-container .minute-gearbox .central-gear .bar:nth-child(9) {
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -webkit-transform: rotate(144deg);
  transform: rotate(144deg);
}
.minute-container .minute-gearbox .central-gear .bar:nth-child(10) {
  -moz-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  -webkit-transform: rotate(162deg);
  transform: rotate(162deg);
}
.minute-container .minute-gearbox .gears {
  width: 100%;
  height: 100%;
}
.minute-container .minute-gearbox .gear {
  position: absolute;
  height: 100px;
  width: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.minute-container .minute-gearbox .gear.one {
  left: -233px;
  top: -50px;
}
.minute-container .minute-gearbox .gear.one .bars {
  -moz-transform: rotate(22deg);
  -ms-transform: rotate(22deg);
  -webkit-transform: rotate(22deg);
  transform: rotate(22deg);
}
.minute-container .minute-gearbox .gear.two {
  left: -106.55011px;
  top: -224.04334px;
}
.minute-container .minute-gearbox .gear.two .bars {
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}
.minute-container .minute-gearbox .gear.two .numbers {
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -webkit-transform: rotate(72deg);
  transform: rotate(72deg);
}
.minute-container .minute-gearbox .gear.three {
  left: 98.05011px;
  top: -157.5647px;
}
.minute-container .minute-gearbox .gear.three .bars {
  -moz-transform: rotate(31deg);
  -ms-transform: rotate(31deg);
  -webkit-transform: rotate(31deg);
  transform: rotate(31deg);
}
.minute-container .minute-gearbox .gear.three .numbers {
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -webkit-transform: rotate(144deg);
  transform: rotate(144deg);
}
.minute-container .minute-gearbox .gear.four {
  left: 98.05011px;
  top: 57.5647px;
}
.minute-container .minute-gearbox .gear.four .bars {
  -moz-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  -webkit-transform: rotate(13deg);
  transform: rotate(13deg);
}
.minute-container .minute-gearbox .gear.four .numbers {
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -webkit-transform: rotate(216deg);
  transform: rotate(216deg);
}
.minute-container .minute-gearbox .gear.five {
  left: -106.55011px;
  top: 124.04334px;
}
.minute-container .minute-gearbox .gear.five .bars {
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
.minute-container .minute-gearbox .gear.five .numbers {
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -webkit-transform: rotate(288deg);
  transform: rotate(288deg);
}
.minute-container .minute-gearbox .gear .gear-inner {
  position: relative;
  height: 100%;
  width: 100%;
  background: #242424;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid #1F1F1F;
}
.minute-container .minute-gearbox .gear .numbers {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}
.minute-container .minute-gearbox .gear .numbers .number {
  font-size: 75px;
  line-height: 75px;
  color: #F09004;
  position: absolute;
  top: 11.5px;
}
.minute-container .minute-gearbox .gear .numbers .number:nth-child(1) {
  left: 2px;
}
.minute-container .minute-gearbox .gear .numbers .number:nth-child(2) {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  right: 2px;
}
.minute-container .minute-gearbox .gear .bars {
  width: 100%;
  height: 100%;
}
.minute-container .minute-gearbox .gear .bars .bar {
  background: #242424;
  height: 20px;
  width: 116px;
  position: absolute;
  left: 50%;
  margin-left: -58px;
  top: 50%;
  margin-top: -10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-left: 1px solid #1F1F1F;
  border-right: 1px solid #1F1F1F;
}
.minute-container .minute-gearbox .gear .bars .bar:nth-child(2) {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.minute-container .minute-gearbox .gear .bars .bar:nth-child(3) {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.minute-container .minute-gearbox .gear .bars .bar:nth-child(4) {
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.minute-container .minute-gearbox .spider {
  position: absolute;
  height: 187.5px;
  width: 187.5px;
  left: -93.75px;
  top: -93.75px;
}
.minute-container .minute-gearbox .spider > .body {
  position: relative;
  height: 100%;
  width: 100%;
  background: #464A4C;
  -moz-border-radius: 93.75px;
  -webkit-border-radius: 93.75px;
  border-radius: 93.75px;
  border: 1px solid #464A4C;
}
.minute-container .minute-gearbox .spider > .body .ring {
  position: absolute;
  width: 93.75px;
  height: 93.75px;
  -moz-border-radius: 46.875px;
  -webkit-border-radius: 46.875px;
  border-radius: 46.875px;
  border: 1px solid #555;
  top: 46.875px;
  left: 46.875px;
}
.minute-container .minute-gearbox .spider > .body .bars {
  width: 100%;
  height: 100%;
}
.minute-container .minute-gearbox .spider > .body .bars .bar {
  height: 20px;
  width: 386px;
  position: absolute;
  left: 50%;
  margin-left: -193px;
  top: 50%;
  margin-top: -10px;
}
.minute-container .minute-gearbox .spider > .body .bars .bar:nth-child(2) {
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -webkit-transform: rotate(72deg);
  transform: rotate(72deg);
}
.minute-container .minute-gearbox .spider > .body .bars .bar:nth-child(3) {
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -webkit-transform: rotate(144deg);
  transform: rotate(144deg);
}
.minute-container .minute-gearbox .spider > .body .bars .bar:nth-child(4) {
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -webkit-transform: rotate(216deg);
  transform: rotate(216deg);
}
.minute-container .minute-gearbox .spider > .body .bars .bar:nth-child(5) {
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -webkit-transform: rotate(288deg);
  transform: rotate(288deg);
}
.minute-container .minute-gearbox .spider > .body .bars .bar .body {
  position: absolute;
  height: 20px;
  width: 193px;
  background: #464A4C;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.minute-container .minute-gearbox .spider > .body .bars .bar .screw {
  position: absolute;
  height: 10px;
  width: 10px;
  background: #242424;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  top: 5px;
  left: 5px;
}
.minute-container .minute-gearbox .spider > .body .bars .bar .screw .slot {
  position: absolute;
  height: 3px;
  width: 7px;
  background: #1f1f1f;
  left: 1.5px;
  top: 3.5px;
}

.tens-container {
  position: absolute;
  top: -62.5px;
}

.tens-disk {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -100px;
  left: -100px;
}
.tens-disk .body {
  position: relative;
  height: 100%;
  width: 100%;
  background: #1f1f1f;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: 1px solid #1F1F1F;
}
.tens-disk .body .numbers {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;
}
.tens-disk .body .numbers .bar {
  position: absolute;
  width: 100%;
  height: 100%;
}
.tens-disk .body .numbers .bar:nth-child(2) {
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
.tens-disk .body .numbers .bar:nth-child(3) {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}
.tens-disk .body .numbers .bar:nth-child(4) {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.tens-disk .body .numbers .bar:nth-child(5) {
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
}
.tens-disk .body .numbers .bar:nth-child(6) {
  -moz-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}
.tens-disk .body .numbers .number {
  position: absolute;
  font-size: 75px;
  line-height: 75px;
  color: #F09004;
  left: 100px;
  top: 125px;
}

.pulsating-colon {
  position: absolute;
}
.pulsating-colon .zipper {
  position: absolute;
  width: 20px;
  height: 300px;
  background: #242424;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #1F1F1F;
  top: -200px;
  left: -25px;
}
.pulsating-colon .zipper .tooth {
  position: absolute;
  width: 100%;
  height: 100%;
}
.pulsating-colon .zipper .tooth .teeth {
  position: absolute;
  width: 6px;
  height: 5px;
  background: #242424;
  top: 5px;
  right: -4px;
  border-right: 1px solid #1F1F1F;
}
.pulsating-colon .zipper .tooth .teeth:nth-child(2) {
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
.pulsating-colon .zipper .tooth .teeth:nth-child(3) {
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}
.pulsating-colon .zipper .tooth .teeth:nth-child(4) {
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
}
.pulsating-colon .zipper .tooth .teeth:nth-child(5) {
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}
.pulsating-colon .zipper .tooth .teeth:nth-child(6) {
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}
.pulsating-colon .zipper .tooth .teeth:nth-child(7) {
  -moz-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
}
.pulsating-colon .zipper .tooth .teeth:nth-child(8) {
  -moz-transform: translateY(70px);
  -ms-transform: translateY(70px);
  -webkit-transform: translateY(70px);
  transform: translateY(70px);
}
.pulsating-colon .zipper .tooth .teeth:nth-child(9) {
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -webkit-transform: translateY(80px);
  transform: translateY(80px);
}
.pulsating-colon .zipper .tooth .teeth:nth-child(10) {
  -moz-transform: translateY(90px);
  -ms-transform: translateY(90px);
  -webkit-transform: translateY(90px);
  transform: translateY(90px);
}
.pulsating-colon .zipper .bars {
  position: absolute;
  width: 100%;
  height: 100%;
}
.pulsating-colon .zipper .bars .bar {
  position: absolute;
  width: 18px;
  height: 10px;
  background: #F09004;
  top: 267.5px;
}
.pulsating-colon .zipper .bars .bar:nth-child(2) {
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}
.pulsating-colon .gear {
  position: absolute;
  height: 26px;
  width: 26px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  top: -129.4375px;
  left: -1.25px;
}
.pulsating-colon .gear .body {
  position: relative;
  height: 100%;
  width: 100%;
  background: #242424;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  border: 1px solid #1F1F1F;
}
.pulsating-colon .gear .body .bars {
  width: 100%;
  height: 100%;
}
.pulsating-colon .gear .body .bar {
  background: #242424;
  height: 5px;
  width: 34px;
  position: absolute;
  left: 50%;
  margin-left: -17px;
  top: 50%;
  margin-top: -2.5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border-left: 1px solid #1F1F1F;
  border-right: 1px solid #1F1F1F;
}
.pulsating-colon .gear .body .bar:nth-child(2) {
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg);
}
.pulsating-colon .gear .body .bar:nth-child(3) {
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -webkit-transform: rotate(72deg);
  transform: rotate(72deg);
}
.pulsating-colon .gear .body .bar:nth-child(4) {
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -webkit-transform: rotate(108deg);
  transform: rotate(108deg);
}
.pulsating-colon .gear .body .bar:nth-child(5) {
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -webkit-transform: rotate(144deg);
  transform: rotate(144deg);
}
.pulsating-colon .frame {
  position: absolute;
  width: 30px;
  height: 100px;
  top: -11.5px;
  left: -30px;
}
.pulsating-colon .frame .vertical-bars {
  position: absolute;
  width: 100%;
  height: 100%;
}
.pulsating-colon .frame .vertical-bars .bar {
  position: absolute;
  width: 10px;
  height: 100%;
  background: #464A4C;
}
.pulsating-colon .frame .vertical-bars .bar:nth-child(2) {
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}
.pulsating-colon .frame .horizontal-bars {
  position: absolute;
  width: 100%;
  height: 100%;
}
.pulsating-colon .frame .horizontal-bars .bar {
  position: absolute;
  width: 30px;
  height: 10px;
  background: #464A4C;
}
.pulsating-colon .frame .horizontal-bars .bar:nth-child(1) {
  -moz-transform: translateY(90px);
  -ms-transform: translateY(90px);
  -webkit-transform: translateY(90px);
  transform: translateY(90px);
}
.pulsating-colon .frame .horizontal-bars .bar:nth-child(2) {
  -moz-transform: translateY(70px);
  -ms-transform: translateY(70px);
  -webkit-transform: translateY(70px);
  transform: translateY(70px);
}
.pulsating-colon .frame .body {
  position: absolute;
  width: 30px;
  height: 60px;
  background: #464A4C;
}
