/* line 1, ../sass/style.scss */
body {
  background-color: #0F242E;
}

/* line 5, ../sass/style.scss */
.cover {
  width: 100vw;
  height: 100vh;
  background-color: tomato;
  mix-blend-mode: multiply;
  mix-blend-mode: screen;
  mix-blend-mode: overlay;
  mix-blend-mode: darken;
  mix-blend-mode: lighten;
  mix-blend-mode: color-dodge;
  position: fixed;
}
