body {
  background: #222;
  cursor: pointer;
  font-size: 100px;
  font-family: "Luckiest Guy", Arial;
  color: #fff;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div, canvas {
  position: absolute;
  left: 0;
}

#text {
  display: none;
  top: 60%;
  z-index: 200;
}

.text {
  width: 100%;
  text-align: center;
  z-index: 10;
  text-shadow:
   -5px -5px 0 #1a1a1a,  
    5px -5px 0 #1a1a1a,
    -5px 5px 0 #1a1a1a,
     5px 5px 0 #1a1a1a;
  top: 60%;
  opacity: 0.9
}