.buttons
  .set.blue
    %a.btn.sec Back
    %a.btn.sec.ico Back
    %a.btn.pri Continue
    %a.btn.pri.ico Continue
  .set.green
    %a.btn.sec Discard
    %a.btn.sec.ico Discard
    %a.btn.pri Save
    %a.btn.pri.ico Save
  .set.red
    %a.btn.sec Keep
    %a.btn.sec.ico Keep
    %a.btn.pri Delete
    %a.btn.pri.ico Delete
  .set.black
    %a.btn.sec Whitelist
    %a.btn.sec.ico Whitelist
    %a.btn.pri Blacklist
    %a.btn.pri.ico Blacklist