doctype
html
  head
    // Meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='vietport', content='width=device-width, initial-scale=1')
    meta(description='', content='')
    meta(keywords='', content='')
    meta(author='', content='Andy Tran')

    // Title
    title Maverick - App &amp; Software Landing Page

    // Stylesheets
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arvo:400,700|Lato:100,300,400,700,900')
    // bower:css
    // endbower
    link(rel='stylesheet' href='assets/css/main.css')

  body
    header.header
      .container
        .row
          .col-12
            nav.nav
              ul
                li: a.current(href='') Home
                li: a(href='') Take A Tour
                li: a.logo(href=''): img(src='assets/img/logo.png')
                li: a(href='') Testimonials
                li: a(href='') Buy Now
    .hero
      .container
        .row.center
          .col-7
            .hero-text
              h1 Stay calm. <br><b>Maverick</b> is here.
              p Maverick is a one page, responsive, landing page that is perfect for promoting your <strong>applications, softwares, and products</strong>! Maverick concludes of 7 different color choices, and 4 different layouts to choose from! This theme's uniqueness and ingeniousness will SNATCH your customer's attention and will bring up your sales!
          .col-4
            .phone
              .screen
                iframe(src='index.html')

    // Intro Section
    section.section.intro
      .container
        .row
          .col-12
            // Section Header
            .section-header
              span Introducing
              h1 Perfect Landing Page, Maverick

        // Intro BG
        .row.intro-bg
          // Icons
          .intro-pin
          .intro-plane
          .intro-cloud
          .col-4
            .intro-text.one
              h3 1. Clean Navigation
              p Maecenas pulvinar tincidunt quam, ac consequat odio semper eget. Aliquam vulputate justo ut nunc ullamcorper, non pellentesque lectus consequat.
            .intro-text.two
              h3 2. Seductive Button!
              p Maecenas pulvinar tincidunt quam, ac consequat odio semper eget. Aliquam vulputate justo ut nunc ullamcorper, non pellentesque lectus consequat.
          .col-4
            .phone
              .screen
                iframe(src='index.html')
          .col-4
            .intro-text.three
              h3 3. Elegant Cover Design
              p Maecenas pulvinar tincidunt quam, ac consequat odio semper eget. Aliquam vulputate justo ut nunc ullamcorper, non pellentesque lectus consequat.

    // Features Section
    section.section.features
      .container
        .row
          .col-12
            // Section Header
            .section-header.alt
              span Our Amazing Features
              h1 Maverick is amazing. Here's why.
      .container
        .row
          .col-4
            img(src='assets/img/icon-1.png')
            h3 Navigate with Breeze
            p Donec pellentesque sem at turpis fringilla, et rhoncus felis cursus. Fusce orci erat, convallis at lectus vel, pretium fringilla nisi.
          .col-4
            img(src='assets/img/icon-2.png')
            h3 Navigate with Breeze
            p Donec pellentesque sem at turpis fringilla, et rhoncus felis cursus. Fusce orci erat, convallis at lectus vel, pretium fringilla nisi.
          .col-4
            img(src='assets/img/icon-3.png')
            h3 Navigate with Breeze
            p Donec pellentesque sem at turpis fringilla, et rhoncus felis cursus. Fusce orci erat, convallis at lectus vel, pretium fringilla nisi.

    // Features Section
    section.section.promo
      .container
        .row
          .col-12
            // Section Header
            .section-header
              span Still unsure? Here's a promo video.
              h1 Why you should use Maverick
      .container
        .row.promo-video
          .col-12
            .laptop
              .screen
                .promo-video-play
    // JavaScript
    // bower:js
    // endbower
    script(src='assets/js/script.js')