@import url(https://fonts.googleapis.com/css?family=Jacques+Francois);
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
/* line 4, ../sass/style.scss */
body {
  background-color: #979797;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/style.scss */
.gallery {
  width: 400px;
  padding: 20px;
  float: left;
}

/* line 15, ../sass/style.scss */
#photo-viewer {
  position: relative;
  height: 300px;
  overflow: hidden;
}

/* line 21, ../sass/style.scss */
.page {
  max-width: 640px;
  margin: 0 auto 30px auto;
}

/* line 25, ../sass/style.scss */
.panel {
  background-color: #fff;
  color: #666;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

/* line 31, ../sass/style.scss */
button {
  border: none;
}

/********** LOGO **********/
/* line 35, ../sass/style.scss */
h1 {
  text-align: center;
  width: 200px;
  height: 100px;
  margin: 40px auto 40px auto;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/********** TYPOGRAPHY **********/
/* line 47, ../sass/style.scss */
body, button {
  font-family: 'Jacques Francois', serif;
}

/* line 50, ../sass/style.scss */
h2, h3 {
  font-weight: normal;
  margin: 0;
}

/* line 53, ../sass/style.scss */
h2 {
  color: #666;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  font-size: 230%;
  line-height: 1em;
  padding: 20px 0 0 20px;
}

/* line 60, ../sass/style.scss */
h3 {
  font-size: 90%;
  letter-spacing: 0.2em;
}

/* line 64, ../sass/style.scss */
p {
  font-family: 'Quattrocento Sans', sans-serif;
  line-height: 1.4em;
}

/* line 68, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 71, ../sass/style.scss */
button {
  font-size: 90%;
  text-align: left;
  text-transform: uppercase;
}

/*****************  No JS ***************/
/* line 77, ../sass/style.scss */
#billboard {
  text-align: center;
}

/* line 78, ../sass/style.scss */
.js-warning {
  display: none;
}

/* line 80, ../sass/style.scss */
.no-js .js-warning {
  display: block;
  border: 3px solid #fff;
  text-align: center;
  background-color: #fff;
  color: #db5391;
  padding: 10px;
}

/* line 87, ../sass/style.scss */
#photo-viewer {
  position: relative;
  height: 300px;
  overflow: hidden;
}

/* line 92, ../sass/style.scss */
#photo-viewer.is-loading:after {
  content: url("../img/load.gif");
  position: absolute;
  top: 0;
  left: 0;
}

/* line 98, ../sass/style.scss */
#photo-viewer img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
}

/********** THUMBNAILS **********/
/* line 107, ../sass/style.scss */
#thumbnails {
  margin: 10px 5px 0 0;
  height: 60px;
}

/* line 111, ../sass/style.scss */
a.active {
  opacity: 0.3;
}

/********** PARTS OF PAGES **********/
/* line 116, ../sass/style.scss */
.gallery {
  width: 400px;
  padding: 20px;
  float: left;
}

/* line 121, ../sass/style.scss */
.description {
  width: 180px;
  float: right;
  padding: 20px 20px 0 0;
  font-size: 85%;
  line-height: 1em;
}

/* line 128, ../sass/style.scss */
.standfirst {
  margin: 0;
}

/********** BUY BUTTON **********/
/* line 133, ../sass/style.scss */
a#buy {
  background-color: #ed8e6c;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 7px 10px 9px 10px;
  margin: 5px 0 20px 0;
  float: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* line 144, ../sass/style.scss */
a#buy:hover {
  background-color: #ed612f;
}
