html, body {
  width: 80%;
  height: 80%;
  margin: 2em auto;
  padding: 0;
}

#Logo {
  max-width: 100%;
  max-height: 100%;
}

.st0 {
  fill: none;
}

.st1 {
  fill: none;
  stroke: #525252;
  stroke-miterlimit: 10;
}

.st2 {
  fill: none;
  stroke: #525252;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

@keyframes offset {
  to {
    stroke-dashoffset: 0;
  }
}
#First, #Second, #Third, #Fourth, #Text {
  animation: offset 2s linear forwards;
}

#First {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

#Second {
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation-delay: .25s;
}

#Third {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation-delay: .75s;
}

#Fourth {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation-delay: 1s;
}

#Text {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation-delay: 2s;
}
