/* === USING LINE HEIGHT === */
section#line-height h2 {
  line-height: 100vh;
  text-align: center;
}

/* === USING CSS3 TRANSFORM === */
section#transform h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* === USING MATH === */
section#math h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  margin-left: calc(-500px/2);
  margin-top: calc(-300px/2);
  text-align: center;
  line-height: 300px;
  transition: background 1s;
}

section#math h2:hover {
  background: rgba(231, 76, 60, 0.6);
}

/* === STRETCHING === */
section#stretching h2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 30%;
  margin: auto;
  text-align: center;
}

/* === USING A SIMULATED TABLE === */
section#table {
  display: table;
  width: 100%;
  text-align: center;
}

section#table h2,
section#table h1 {
  display: table-cell;
  vertical-align: middle;
}

/*******************************
 *                             *
 *           STYLES            *
 *                             *
 *******************************/
section {
  height: 100vh;
  color: white;
  position: relative;
}

#table h1 {
  font: 400 400% 'Noto Serif', serif;
}

#table h1 span {
  font-style: italic;
  font-size: 120%;
}

#table h1:first-letter {
  font-size: 200%;
}

section h2 {
  font-size: 500%;
}

code {
  font: 70% 'Source Code Pro';
  padding: 20px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: .15em;
}

section:nth-child(odd) {
  font-family: 'Roboto Condensed', sans-serif;
}

section:nth-child(even) {
  font-family: 'Noto Serif', serif;
}

section:nth-of-type(1) {
  background: #2a82bc;
}

section:nth-of-type(2) {
  background: #e74c3c;
}

section:nth-of-type(3) {
  background: #f39c12;
}

section:nth-of-type(4) {
  background: #7f8c8d;
}

section:nth-of-type(5) {
  background: #16A085;
}

section:nth-of-type(6) {
  background: #2c3e50;
}
