html {
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
  -ms-touch-action: none;
  -ms-content-zooming: none;
  user-select: none;
  background: #000;
  color: #000;
  min-height: 100%;
  height: 100%;
  font-weight: 700;
}
html body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html body #copy {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  line-height: 14px;
  font-size: 10px;
  font-weight: 400;
  z-index: 999;
}
html body #copy a {
  color: #898989;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
}
html body #copy a b {
  font-weight: 700;
}
html body #copy a:hover {
  color: #fff;
}
html body #editor {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  text-align: center;
}
html body #editor .typer input {
  border: 0;
  border-bottom: solid 1px #2f2f2f;
  background: transparent;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: 100;
}
html body #editor .typer input:focus {
  outline: none;
  box-shadow: 0 none;
}
html body #editor .typer .hint {
  position: relative;
  font-size: 10px;
  font-weight: 100;
  text-align: center;
  float: none;
  display: block;
  width: 100%;
  color: #767676;
  cursor: default;
}
html body #wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
html body #wrapper .text:nth-child(30) {
  font-size: 120px;
}
html body #wrapper .text:nth-child(29) {
  font-size: 117px;
}
html body #wrapper .text:nth-child(28) {
  font-size: 114px;
}
html body #wrapper .text:nth-child(27) {
  font-size: 111px;
}
html body #wrapper .text:nth-child(26) {
  font-size: 108px;
}
html body #wrapper .text:nth-child(25) {
  font-size: 105px;
}
html body #wrapper .text:nth-child(24) {
  font-size: 102px;
}
html body #wrapper .text:nth-child(23) {
  font-size: 99px;
}
html body #wrapper .text:nth-child(22) {
  font-size: 96px;
}
html body #wrapper .text:nth-child(21) {
  font-size: 93px;
}
html body #wrapper .text:nth-child(20) {
  font-size: 90px;
}
html body #wrapper .text:nth-child(19) {
  font-size: 87px;
}
html body #wrapper .text:nth-child(18) {
  font-size: 84px;
}
html body #wrapper .text:nth-child(17) {
  font-size: 81px;
}
html body #wrapper .text:nth-child(16) {
  font-size: 78px;
}
html body #wrapper .text:nth-child(15) {
  font-size: 75px;
}
html body #wrapper .text:nth-child(14) {
  font-size: 72px;
}
html body #wrapper .text:nth-child(13) {
  font-size: 69px;
}
html body #wrapper .text:nth-child(12) {
  font-size: 66px;
}
html body #wrapper .text:nth-child(11) {
  font-size: 63px;
}
html body #wrapper .text:nth-child(10) {
  font-size: 60px;
}
html body #wrapper .text:nth-child(9) {
  font-size: 57px;
}
html body #wrapper .text:nth-child(8) {
  font-size: 54px;
}
html body #wrapper .text:nth-child(7) {
  font-size: 51px;
}
html body #wrapper .text:nth-child(6) {
  font-size: 48px;
}
html body #wrapper .text:nth-child(5) {
  font-size: 45px;
}
html body #wrapper .text:nth-child(4) {
  font-size: 42px;
}
html body #wrapper .text:nth-child(3) {
  font-size: 39px;
}
html body #wrapper .text:nth-child(2) {
  font-size: 36px;
}
html body #wrapper .text:nth-child(1) {
  font-size: 33px;
}
html body #wrapper .text {
  cursor: default;
  position: absolute;
  height: 100%;
  width: 2000px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  left: 50%;
  transform: translate(-50%);
  letter-spacing: 10px;
  opacity: 0;
}
