div.title
	h1 Animated Cube Slider
	p CSS Only

div.slider
	div.container
		div.slide.x
		div.slide.y
		div.slide.z

	div.shadow
	
p.credit by 
	span
		a(href="http://www.albertohartzet.com" target="_blank") Alberto Hartzet
	