.slider
  .slider__slide.slider__slide--active( data-slide="1" )
    .slider__wrap
      .slider__back
    .slider__inner
      .slider__content
        h1 Slide <br> One
        a.go-to-next next
  .slider__slide( data-slide="2" )
    .slider__wrap
      .slider__back
    .slider__inner
      .slider__content
        h1 Slide <br> Two
        a.go-to-next next
  .slider__slide( data-slide="3" )
    .slider__wrap
      .slider__back
    .slider__inner
      .slider__content
        h1 Slide <br> Three
        a.go-to-next next
  .slider__indicators
    




a(href="http://nathan.tokyo" target="_blank").sig NATHAN.TOKYO