/*==============================
=            Colours           =
==============================*/

$primary: red;
$secondary: blue;
$tertiary: green;

$black: #1f1f1f;
$white: #f4f4f4;

/*=============================
=            Fonts            =
=============================*/

$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$georgia: Georgia, Times, "Times New Roman", serif;
$helvetica: "Helvetica Neue", Helvetica, arial, sans-serif;
$verdana: Verdana, Geneva, sans-serif;

/*====================================
=            Break Points            =
====================================*/

$small: 'min-width: 20em';
$medium: 'min-width: 40em';
$large: 'min-width: 60em';


/*==============================
=            Layout            =
==============================*/

$layout-gutter: 24px;

/*================================
=            Settings            =
================================*/

$debugmode: false;


