* {
  font-style: normal;
}
.container {
  margin-top: 40px;
  margin-bottom: 40px;
}
.well {
  background: none;
  border: 1px solid #DDDDDD;
  margin-bottom: 20px;
}
#plaintext-signature {
  font-size: 12px;
}
.help-block {
  font-size: 12px;
}
.form-group {
  margin-bottom: 22px;
}
.alert ol, .alert ul {
  margin-bottom: 0;
}
.tab-pane {
  padding: 20px;
  border: 1px solid #DDDDDD;
  border-top: 0 none;
}
a:focus {
  outline: none !important;
}
#instructions {
  background: #f5f5f5;
  padding: 15px;
  border: 1px solid #31708f;
}
#instructions img {
  border: 1px solid #dfdfdf;
}
#instructions li {
  margin-bottom: 1em;
}