<section class="first">
  <h1 class="block-title">Give Feedback<span class="script"> On Chicago Legislations</span></h1>
  <hr>

  <%= form_tag legislations_path, :method => 'get', id: "legislations_search" do %>
    <div id="legislations"><%= render 'legislations' %></div>
  <% end %>


</section>
