.demo
  .demo__title Checkboxes
  .demo__content
    label.switcher
      input(type="checkbox")
      .switcher__indicator
      span Normal
    br
    br
    label.switcher
      input(type="checkbox" checked)
      .switcher__indicator
      span Checked
    br
    br
    label.switcher
      input(type="checkbox" disabled)
      .switcher__indicator
      span Disabled
    br
    br
    label.switcher
      input(type="checkbox" disabled checked)
      .switcher__indicator
      span Disabled