.container
	.block.first
		p.citation "There is a quote."
		p.author - and the author -

	.block.second
		p.citation "There is an other quote."
		p.author - and the author -
		
	.block.third
		p.citation "Guess what. A quote."
		p.author - and the author -
		
	.block.fourth
		p.citation "Ahem... This is not even a quote"
		p.author - and the author -