@font-face {
  font-family: "CaviarDreams";
  src: url("http://alancollins.24ht.in/fonts/CaviarDreams/CaviarDreams.ttf");
}
@font-face {
  font-family: "CaviarDreams_bold";
  src: url("http://alancollins.24ht.in/fonts/CaviarDreams/CaviarDreams_Bold.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-decoration: none;
}

body {
  background: #f0f1f2;
  font-family: "CaviarDreams", Helvetica;
  font-size: 12px;
}

.centro {
  width: 290px;
  background: #fff;
  border-radius: 6px;
  min-height: 300px;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -155px;
}

.centroCadastro {
  top: 95px;
}

.centro p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.centro a:link {
  color: #fff;
}

form {
  margin: 7px 18px;
}

form .titulo {
  font-family: "CaviarDreams_bold";
  font-size: 30px;
  color: #3d3d3d;
  width: 255px;
  height: 60px;
  text-align: center;
}

.titulo {
  font-family: "CaviarDreams_bold";
  font-size: 30px;
  color: #3d3d3d;
  width: 290px;
  height: 50px;
  text-align: center;
  padding-top: 30px;
}

form .input {
  background: #efefef;
  width: 250px;
  height: 50px;
  margin-bottom: 10px;
  float: left;
  padding-left: 5px;
  border-radius: 5px;
  font-family: "CaviarDreams";
}

form .input:active {
  background: #3d3d3d;
}

.red {
  background: #c47777;
}

.botaoEntra {
  margin-top: 20px;
  width: 255px;
  height: 45px;
  background: #3d3d3d;
  color: #FFF;
  border-radius: 5px;
  font-family: "CaviarDreams";
}

.botaoCadastra {
  width: 255px;
  height: 45px;
  background: #c47777;
  color: #FFF;
  border-radius: 5px;
  text-align: center;
  font-family: "CaviarDreams";
  margin-bottom: 10px;
}

.botaoEntra:hover {
  background: rgba(0, 0, 0, 0.7);
}

.botaoCadastra:hover {
  background: rgba(196, 119, 119, 0.86);
}
