body{
  background: #333;
  margin: 0;
}

.svg-shapes {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.svg-shapes,
.svg-shapes div {
  position: absolute;
}

svg polygon,
svg.fill.switch polygon{
  stroke: rgb(0, 191, 168);
  stroke-width: 4px;
  fill: transparent;
}

svg.fill polygon,
svg.switch polygon{
  fill: rgb(0, 191, 168);
}

.svg-shapes div {
  animation-name: Spinning;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.svg-shapes div.rev {
  animation-direction: reverse;
}

#fly1 {top: 0%; left: 0%} /*first row top*/
#fly2 {top: 66.66%; left: 0%} /*first row bottom*/
#fly3 {top: 33.33%; left: 16.66%} /*second row top*/
#fly4 {bottom: 0%; left: 16.66%} /*second row bottom*/
#fly5 {top: 0%; left: 33.33%} /*third row top*/
#fly6 {top: 66.66%; left: 33.33%} /*third row bottom*/
#fly7 {top: 33.33%; left: 50%} /*middle row top*/
#fly8 {bottom: 0%; left: 50%} /*middle row bottom*/
#fly9 {top: 0%; left: 66.66%} /*fifth row top*/
#fly10 {top: 66.66%; left: 66.66%} /*fifth row bottom*/
#fly11 {top: 33.33%; left: 83.33%} /*sixth row top*/
#fly12 {bottom: 0%; left: 83.33%} /*sixth row bottom*/
#fly13 {top: 0%; right: 0%} /*last row top*/
#fly14 {top: 66.66%; right: 0%} /*last row bottom*/

@keyframes Spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
