/* Flexi Bootstrap -
https://codepen.io/bootstrapped/pen/RrabNe */
@media only screen and (min-width : 481px) {
  .flex-row.row {
    display: flex;
	 flex-wrap: wrap;
  }
  .flex-row.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
	 flex-grow: 1;

  }
  .flex-row.row:after, 
  .flex-row.row:before {
	 display: flex;
  }
}

/* Flexy Bootstrap addon for bordered grid flex boxes */
@media only screen and (min-width: 992px) {
	.bgfbox .flex-row .col-md-4:first-child > a, 
	.bgfbox-first, 
	.bgfbox-content {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
	}
}





/* Borders */
.bgfbox .flex-row {
	border: 1px solid #eee;
	border-width: 1px 0 0 1px;
}
.bgfbox .flex-row .col-md-4 .bgfbox-content {
	border: 1px solid #eee;
	border-width: 0 1px 1px 0;
}




/* No row margins */
.bgfbox .flex-row {
	margin-left: 0px;
	margin-right: 0px;
}
/* No column padding */
.bgfbox .col-md-4 {
	padding: 0;
}
/* Add padding to content */
.bgfbox .bgfbox-content {
	padding: 50px;
}


/* Colors */
.bgfbox .bgfbox-first a {
    color: #fff;
}
.bgfbox .bgfbox-first h2 {
	margin-bottom: 50px;
}
.bg-white {
	background-color: #fff;
}
.bg-white.bg-hover-inverse:hover {
	background-color: #000;
}
.bg-white.bg-hover-inverse:hover * {
	color: #fff;
}

/* Icons */
.bgfbox-icon-wrap {
	margin-bottom: 10px;
	font-size: 32px;
}

/* Hover Animation */
.bg-hover-fade {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.bg-hover-fade:hover, 
.bg-hover-fade:focus, 
.bg-hover-fade:active {
  background-color: #2098d1;
  color: white;
}

/* DEMO STYLES  */
.bgfbox {
	padding-top: 80px;
	padding-bottom: 80px;
}
.bgfbox h2, .bgfbox h4 {
	font-family: 'Montserrat', serif;
}
.bgfbox h4 {
	margin-bottom: 15px;
}
.bgfbox p, a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}