/* line 1, ../sass/style.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

/* line 8, ../sass/style.scss */
body,
html {
  width: 100%;
  height: 100%;
  font-family: arial;
  background: #2A2C2E;
}

/* line 16, ../sass/style.scss */
#app {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

/* line 25, ../sass/style.scss */
.slider-wrapper {
  width: 400px;
  height: 250px;
  border: 1px solid #333;
  overflow: hidden;
  border-radius: 4px !important;
}

/* line 33, ../sass/style.scss */
.slider {
  width: 2000px;
}

/* line 37, ../sass/style.scss */
.slider-item, .hide {
  float: left;
  position: relative;
  text-transform: uppercase;
  color: #fff;
  line-height: 250px;
  font-size: 20px;
  background: #383838;
  text-align: center;
  border-radius: 4px !important;
  transition: all .2s linear;
}

/* line 54, ../sass/style.scss */
.buttons-wrapper {
  width: 400px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  margin-top: -15px;
}

/* line 63, ../sass/style.scss */
.buttons-wrapper .prev-button, .buttons-wrapper .next-button {
  background-image: url(http://static.birgun.net/static/images/slider-arrow-left.svg);
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 30px;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;
}

/* line 77, ../sass/style.scss */
.buttons-wrapper .next-button {
  background-image: url(http://static.birgun.net/static/images/slider-arrow-right.svg);
}

/* line 82, ../sass/style.scss */
.buttons-wrapper button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* indicators */
/* line 89, ../sass/style.scss */
.indicators {
  width: 400px;
  position: absolute;
  bottom: -4px;
  z-index: 2 !important;
  text-align: center;
}

/* line 97, ../sass/style.scss */
.indicators li {
  display: inline-block;
  margin-right: 5px;
  width: 12px;
  height: 12px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  text-indent: -9999px;
  cursor: pointer;
  transition: all 0.2s linear;
}

/* line 113, ../sass/style.scss */
.indicators li:last-child {
  margin-right: 0;
}

/* line 117, ../sass/style.scss */
.active-indicator {
  background: rgba(0, 0, 0, 0.3) !important;
  color: #fff !important;
}

/* indicators */
