body {
  background: #454555;  
}

.polar-gantt {
  width: 320px;
  height: 320px;
  margin: 20px auto 0;
  
  svg {
    width: 100%;
    height: 100%;
    
    .hours-hand,
    .minutes-hand,
    .seconds-hand {
      stroke-linecap: round;      
      stroke: rgba(#fff, 0.5);
    }
        
    .hours-hand   { stroke-width: 3; }
    .minutes-hand { stroke-width: 2; }
    .seconds-hand { stroke-width: 1; }
    
    .hands-cover { fill: #fff; } 

    .hours-tick{  stroke: #fff;  }
    
    .hours-label { 
      font-size: 10px;
      fill: rgba(#fff, 0.5); 
    }
  }
}