body {
	margin: 0;
	padding: 0;
	background: url('../img/fon3.jpg');
	background-position-y: -80px;
	font-family: tahoma;
}

button.close, button.close_call {
	border: 0;
	background: #fff;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 91%;
	color: #666666; 
	font: 14px tahoma;	
}
button.close_call {
	margin-left: 82%;
}

a:link {	
	color: #666666; 
	font: 14px tahoma;	 
	text-decoration: none
}

a:visited {
	color: #666666; 
	font family: 14px tahoma;	 
	text-decoration: none; 
}

a:hover {
	color:#339933; 
	font family: 14px tahoma;	 
	text-decoration: none;
}

.wrapper {
	margin: 0 auto;
	width: 1088px;
	/*background-color: green;*/
	height: 1000px; 
}

.header {
	/*background-color: yellow;*/
	position:relative;
}

.head {
	background: url('../img/h2.jpg');
	width: 1088px;
	height: 53px;

}

.name_logo {	
	background: url('../img/h1.jpg');
	margin-left: 62px;
	width: 547px; 
	height: 579px;
	float:left; 
}

.bonus {
	margin-top: 275px;
	width: 547px;
	height: 300px;	
}

.phone {
	background: url('../img/tel.jpg');
	width: 419px;
	height: 71px;
	overflow: hidden;
}

.phone2 {
	margin: 0 auto;
	margin-top: 20px;
	background-image: url('../img/zvonok2.png'); 
	height: 95px; 
	width: 410px;
}

.phone_link {
	margin-top: 50px;
}

.jingle {
	background: url('../img/zvonok.jpg'); 
	width: 419px;
	height: 47px;
	overflow: hidden; 
}

.jingle_footer {
	background: url('../img/zvonok_foter.jpg'); 
	height: 43px; 
	width: 414px;
	overflow: hidden;  
}


.basket {
	background-image: url('../img/basket.png');
	position:fixed;
	z-index: 2;
	height: 53px;
	width: 243px;
	/*left: 970px;
	top: 0px;*/
	margin-left: 675px;
	cursor: pointer;

}

.hit_sales {
	/*background-color: #fff;*/
	width: 418px;
	height: 417px;
	overflow: hidden;
}

.hit_left_side {
	background-image: url('../img/hit_lift.jpg'); 
	height: 345px; 
	width: 61px;
	float: left;
}

.hit_right_side {
	background-image: url('../img/hit_right.jpg'); 
	height: 345px; 
	width: 32px;
	float: right;
	margin-left: 0px;
}

.hit_top {
	background: url('../img/hit_top.jpg'); 
	height: 96px; 
	width: 326px;
	margin-left: 60px; 
}

.hit_border {
	background: url('../img/hit_foto.jpg'); 
	height: 168px; 
	width: 174px;
	float:left; 
}

.hit_photo {
	height: 153px; 
	width: 157px;
	padding-left: 9px;
	padding-top: 7px;
	overflow: hidden;
	 
}

.hit_bonus {
	background: url('../img/hit_product_text.jpg'); 
	height: 168px; 
	width: 151px;
	overflow: hidden;	
}

.hit_center {
	background-image: url('../img/hit_senter.jpg'); 
	height: 21px; 
	width: 326px;
	margin-left: 60px;
}

.hit_button {
	background-image: url('../img/hit_buton.jpg'); 
	height: 20px; 
	width: 326px;
	margin-left: 60px;	
}

.hit_button_submit {
	background-image: url('../img/hit_buton.jpg'); 
	height: 60px; 
	width: 326px;
	margin-left: 1px;
	position: relative;
	top: -60px;	
	border: 0;
	cursor: pointer;
	
}

.hit_category {
	width: 150;
	color: #fff;
	font-size: 28px;		
	margin-left: 10px;
	margin-top: 10px;

}

.hit_price {
	color: #fff224;
	width: 150;
	font-size: 20px;		
	margin-left: 10px;
	margin-top: -20px;
}

.hit_price_currency {
	font-size: 16px;
}

.hit_footer {
	background-image: url('../img/hit_foter.jpg'); 
	height: 62px; 
	width: 419px;
	overflow: hidden; 
}

/* Content, Products part */
.content {
	margin: 0 auto;
	/*background-color: gray;*/
	width: 961px;
}

.plus {
	background-image: url('../img/benefits.jpg');	
	height: 171px;
	width: 961px;

}

.lights1vt {
	margin-top: 20px;
	background-image: url('../img/1vt.jpg'); 
	height: 70px; 
	width: 967px; 
}

.lights3vt {
	margin-top: 20px;
	background-image: url('../img/3vt.jpg'); 
	height: 70px; 
	width: 967px;
}

.line3 {
	background-image: url('../img/line3.jpg'); 
	height: 7px; 
	width: 961px;
}

.line1 {
	background-image: url('../img/line1.jpg'); 
	height: 17px; 
	width: 967px;
}

.line4 {
	background-image: url('../img/line4.png'); 
	height: 35px; 
	width: 967px;  
}

.products {	
	overflow: hidden;
}

.certificate {
	background-image: url('../img/sf1.jpg'); 
	height: 403px; 
	width: 967px; 
}

.cert_1_pos {
	height: 296px; 
	width: 201px;
	margin-top: 86px;
	margin-left: 78px;
}

.cert_2_pos {
	height: 296px; 
	width: 201px;
	margin-top: 86px;
	margin-left: 90px;
}

.cert_3_pos {
	height: 296px; 
	width: 201px;
	margin-top: 86px;
	margin-left: 103px;
}

.plus2 {
	background-image: url('../img/benefits2.png');	
	height: 171px;
	width: 961px;
	
}
.tovary {
	text-align: center;
	position: relative;
	/*height: 1112px;*/
	width: 961px;
	/*left: 155px;
	top: 829px;*/
}

.tovary2 {
	text-align: center;
	position: relative;
	height: 2060px;
	width: 967px;
	left: 155px;
	top: 830px;
}

/* my add  */
.product {  
  margin-top: 10px;
  margin-right: 8px;
  margin-left: 9px;
  /*background-color: #f00;*/
  width: 223px;
  height: 450px;
  float: left;
}

.category {
	width: 223px;
	height: 48px;  
	font-family: Tahoma; 
	font-size: 19.45px; 
	color: #fff;	
}

.category_image {
	background-image: url('../img/button_top.jpg'); 
	width: 223px;
	height: 36px; 
}

.category_name {
	padding-top: 5px;
	text-align: center;	
}


.price {	
	margin: 0 auto;
	width: 223px;
	height: 50px;
	font-family: Tahoma; 
	font-size: 19.44px; 
	color: #CC0066;
	text-align: center;
	padding-top: 5px;
	overflow: hidden;
}


.big_block {
	background-image: url('../img/block1.png');
	width: 223px;
	height: 208px;
	margin-bottom: 10px;  
}


.product_big_image {
	width: 204px;
	height: 193px;  
	padding-left: 9px; 
	padding-top: 7px;
}


.small_block {
	background-image: url('../img/smal_block.png'); 
	width: 65px;
	height: 58px;  
	margin-left:4px;
	margin-right:6px; 
	float:left;
}


.product_prev_image {
	width: 54px;
	height: 50px;  
	padding-left: 5px; 
	padding-top: 4px;
}

/**/

.oplata {
	background-image: url('../img/payment.png');
	height: 262px;
	width: 961px;	
}

.opt, .delivery {
	font-family: Tahoma;
	font-size: 16px;
	font-style: normal;
    font-weight:bold;
	color: #333;
	background-image: url('../img/optovikam.png');
	height: 307px;
	width: 962px;		
}
.delivery {
	margin-top: 30px;
	height: 600px;
	font-size: 15px;
	background-image: url('../img/dostavka.png');
	background-repeat: no-repeat;
}
.delivery a {
	font-size: 15px;
}

.opt_text, .opt_text_delivery {
	height: 210px; 
	width: 520px;
	margin-left: 270px;
	margin-top: 100px;
	float: left;
	line-height: 27px;
	text-align: justify; 
}

.opt_text_delivery {
	margin-top: 70px;
	width: 615px;
}


.opt_logo {
	padding-top: 125px;
	padding-left: 30px;
	height: 98px; 
	width: 111px;
	overflow: hidden; 
}


.button_basket {
    display: block;
    margin-top: 5px;
    width: 226px;
    height: 55px;
    background: url('../img/vkt1.jpg');
    border: 0px;
    cursor: pointer; 
}
.button_basket:hover {
    background-position: 0 -54px; 
}

.slider1 {
	margin: 0 auto;
	margin-top: 10px;
	height: 40px;
	width: 163px;	
	cursor: pointer;
	background: url('../img/slayder1.png');
	
}

.slider2 {
	margin: 0 auto;
	margin-top: 10px;
	height: 40px;
	width: 163px;
	cursor: pointer;
	background: url('../img/slayder1.png');	
}

.footer {
	margin: 0 auto;	
	height: 250px;
	width: 1088px;	
}

.foot_image {
	margin-top: 20px;
	background-image: url('../img/footer_img.png');
	width:1088px;
	height: 157px;
}

.jingle_footer_img {
	
	margin-top: 48px;
	margin-left: 48px;
}

.modal_close { position: absolute; top: 12px; right: 12px; display: block; width: 14px; height: 14px; background: url(../img/modal_close.png); z-index: 2; }

.basket_msg {
	color: #fff;
	margin-left: 22px;
	margin-top: 29px;
	font: 14px tahoma;
}

#modal_basket {
	font: 14px tahoma;	
}

#modal_confirm, #in_detail, #modal_basket, #modal_call_order {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.order_form {
	margin-top: 15px;
	background: url('../img/order.png');
	width: 98px;
	height: 30px;
	border: 0px;
	cursor: pointer;
}

/* styles for table from bootstrap framework */
.table {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 15px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}

#modal_call_order {
	width: 400px;
	margin-left: -200px;
	padding-left: 10px;
	margin-top: -10px;
}

#modal_call_order h3 {
	margin-top: -10px;
}

.how_we_work {
	background: url('../img/how_we_work.png');
	width: 962px;
	height: 271px;
}

.delivery_string {
	font-size: 13px;
}
