@import url("https://wallaceerick.com.br/clientes/flat-ui/assets/css/modules/_mixins.scss");
@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: lato;
  color: #fff;
  background: #2ecc71;
  padding: 55px 30px;
}

h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
}
h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}

p {
  display: block;
  float: left;
  font-size: 20px;
  margin: 70px 0;
  padding: 10px 30px 12px;
}

.checkbox-styled {
  display: block;
  margin: 40px 0 0 0;
  float: left;
}
.checkbox-styled input[type="checkbox"] {
  display: none;
}
.checkbox-styled input[type="checkbox"] + span {
  text-transform: uppercase;
  background: #27ae60;
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 200px;
  height: 100px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  position: relative;
  padding-top: 60px;
  -moz-transition: background 0.1s ease-in;
  -o-transition: background 0.1s ease-in;
  -webkit-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in;
}
.checkbox-styled input[type="checkbox"] + span:hover {
  background: #1e8449;
}
.checkbox-styled input[type="checkbox"] + span:before {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -12px;
  font-size: 55px;
  display: block;
  content: ":)";
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.checkbox-styled input[type="checkbox"] + span.sad:before {
  content: ":(";
}
.checkbox-styled input[type="checkbox"]:checked + span {
  background: #145b32;
}
