.wrapper
  .camera
    .lens
    .flashLight
    .pictureCard
      .imgBox
        img(src="https://images.unsplash.com/photo-1508141701145-f7f5d95c7c3d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=99aef93eaa82c05e57b2f09b72de941f&auto=format&fit=crop&w=1900&q=80", alt="")
      .text
        h1 Hello!
        h2 This is awesome! 🙌
    .mouse