button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #32B481;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
}

button:focus {
}

button:active {
    transform: scale(0.99);
}

[v-cloak] {
  display: none;
}

body {
  height: 100vh;
  background: linear-gradient(-149deg, #32B481, #085E90);
  color: white;
  font-family: sans-serif;
  padding: 20px;
  margin: auto;
  max-width: 560px;
}

form {
  padding-top: 1rem;
  margin-bottom: 2rem;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

input {
  flex-grow: 1;
  background: none;
  border: none;
  padding: .4rem;
  margin-right: .3rem;
}

.input-wrapper {
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: .5rem;
  display: flex;
  padding: .3rem;
  background: white;
}

form button {
  font-weight: bold;
  background: #085E90;
  border-radius: 3px;
  padding: .5rem;
}

.result {
  font-size: 1.7rem;
}

.is-millennial {
  margin-top: 0px;
  margin-bottom: 1rem;
}

.birthday {
  font-size: .7em;
}