/* line 1, ../sass/style.scss */
html, body * {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* line 3, ../sass/style.scss */
body {
  background: linear-gradient(120deg, #30baff 0%, #06a4f5 100%);
  padding: 50px 0 400px;
  opacity: 50%;
}

/* line 9, ../sass/style.scss */
.wrapper {
  width: 450px;
  height: 800px;
  background: #F2F4F6;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 40px 50px -50px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: all .5s ease;
  overflow: hidden;
}

/* line 21, ../sass/style.scss */
.nav {
  background: linear-gradient(120deg, #06a4f5 0%, #099cf5 27.31%, #1286f3 69.57%, #1a73f2 99.1%);
  padding: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 100px;
}

/* line 29, ../sass/style.scss */
.nav-resize {
  max-width: 100%;
}

/* line 33, ../sass/style.scss */
.nav-left, .nav-middle, .nav-right {
  float: left;
  width: 33.33%;
}

/* line 38, ../sass/style.scss */
.nav-right {
  text-align: right;
}

/* line 42, ../sass/style.scss */
.nav-left {
  padding: 15px 10px;
}

/* line 46, ../sass/style.scss */
.nav-middle {
  text-align: center;
  opacity: 0;
}

/* line 51, ../sass/style.scss */
.icon-resize {
  width: 25%;
}

/* line 55, ../sass/style.scss */
.title {
  position: relative;
  opacity: 1;
  top: 0;
  transition: opacity .15s ease;
  transition: top .25s ease;
}

/* line 63, ../sass/style.scss */
h1 {
  font-family: Open Sans;
  font-size: 22px;
  color: #7F858F;
  font-weight: 400;
  text-align: center;
  margin-bottom: 45px;
}

/* line 72, ../sass/style.scss */
.box, .second-box, .third-box {
  background: #ffffff;
  width: 430px;
  height: 150px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 0px 20px rgba(19, 74, 140, 0.05);
  margin-left: 30px;
  margin-top: 35px;
  padding: 0 60px 0 30px;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
  clear: both;
  transition: all .25s ease;
}

/* line 92, ../sass/style.scss */
.second-box, .third-box {
  top: -26px;
}

/* line 96, ../sass/style.scss */
.box:before, .second-box:before, .third-box:before {
  content: "APRIL 11, 2017";
  font-family: Open Sans;
  font-size: 10px;
  letter-spacing: 1.3px;
  color: #CCD1D8;
  font-weight: 400;
  position: relative;
  float: left;
  top: -20px;
  left: -27px;
}

/* line 109, ../sass/style.scss */
.second-box:before {
  content: 'SEPTEMBER 26, 2016';
}

/* line 113, ../sass/style.scss */
.third-box:before {
  content: 'JULY 15, 2016';
}

/* line 117, ../sass/style.scss */
.icon {
  float: left;
  width: 15%;
  clear: both;
}

/* line 123, ../sass/style.scss */
.blue-icon-resize {
  max-width: 70%;
  padding-top: 10px;
}

/* line 128, ../sass/style.scss */
.text {
  float: right;
  width: 85%;
  padding-left: 15px;
  position: relative;
  top: 0;
}

/* line 136, ../sass/style.scss */
.h2, h2 {
  font-family: Open Sans;
  font-size: 22px;
  color: #7F858F;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 50px;
}

/* line 146, ../sass/style.scss */
.h3, h3 {
  font-family: Open Sans;
  font-size: 13px;
  color: #CCD1D8;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 16px;
}

/* line 156, ../sass/style.scss */
.p, p {
  font-family: Open Sans;
  font-size: 10px;
  letter-spacing: 1.3px;
  color: #CCD1D8;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 35px;
}

/* line 167, ../sass/style.scss */
.span, span {
  color: #7F858F;
}

/* line 171, ../sass/style.scss */
.photo {
  width: 25px;
  height: 25px;
  background: #000;
  float: left;
  border-radius: 50%;
  margin: 5px 10px 0 0;
  box-shadow: 0px 3px 10px -3px rgba(34, 131, 117, 0.7);
}

/* line 181, ../sass/style.scss */
#photo-1 {
  background: url(https://dl.dropboxusercontent.com/u/22006283/Preview/codepen/pexels-photo-206559.jpeg) no-repeat 30% center;
  background-size: cover;
}

/* line 187, ../sass/style.scss */
#photo-2 {
  background: url(https://dl.dropboxusercontent.com/u/22006283/Preview/codepen/chris.png) no-repeat 30% center;
  background-size: cover;
}

/* line 193, ../sass/style.scss */
#photo-3 {
  background: url(https://dl.dropboxusercontent.com/u/22006283/Preview/codepen/StockSnap_4I9YB9U4S9.jpg) no-repeat 30% center;
  background-size: cover;
}

/* line 200, ../sass/style.scss */
.dots {
  position: relative;
  top: -110px;
  left: 255px;
}

/* line 206, ../sass/style.scss */
.x {
  position: relative;
  top: -140px;
  left: 340px;
  width: 30%;
}

/* animation */
/* line 219, ../sass/style.scss */
.box:hover, .second-box:hover, .third-box:hover {
  box-shadow: 0px 0px 50px rgba(19, 74, 140, 0.08);
  margin-left: 20px;
  transition: all .25s ease;
  cursor: pointer;
}

/* line 226, ../sass/style.scss */
.wrapper-move .box {
  background: -moz-linear-gradient(8.87% -91.46% -30deg, #06a4f5 0%, #099cf5 27.31%, #1286f3 69.57%, #1a73f2 99.1%);
  background: -webkit-linear-gradient(-30deg, #06a4f5 0%, #099cf5 27.31%, #1286f3 69.57%, #1a73f2 99.1%);
  background: -webkit-gradient(linear, 8.87% -91.46%, 91.13% 191.46%, color-stop(0, #06a4f5), color-stop(0.2731, #099cf5), color-stop(0.6957, #1286f3), color-stop(0.991, #1a73f2));
  background: -o-linear-gradient(-30deg, #06a4f5 0%, #099cf5 27.31%, #1286f3 69.57%, #1a73f2 99.1%);
  background: -ms-linear-gradient(-30deg, #06a4f5 0%, #099cf5 27.31%, #1286f3 69.57%, #1a73f2 99.1%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#06A4F5', endColorstr='#1A73F2' ,GradientType=0)";
  background: linear-gradient(120deg, #06a4f5 0%, #099cf5 27.31%, #1286f3 69.57%, #1a73f2 99.1%);
  width: 390px;
  height: 150px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0px 0px 20px rgba(19, 74, 140, 0.05);
  margin-left: 30px;
  margin-top: 0;
  position: relative;
  padding: 0 60px 0 30px;
  top: -60px;
  transition: all .25s ease;
}

/* line 249, ../sass/style.scss */
.wrapper-move .box:hover {
  margin-left: 30px;
}

/* line 253, ../sass/style.scss */
.wrapper-move .title {
  position: relative;
  top: -40px;
  opacity: 0;
  transition: all .2s ease;
}

/* line 260, ../sass/style.scss */
.wrapper-move .h2 {
  font-family: Open Sans;
  font-size: 22px;
  color: #ffffff;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 50px;
  transition: all .15s ease;
}

/* line 271, ../sass/style.scss */
.wrapper-move .h3 {
  font-family: Open Sans;
  font-size: 13px;
  color: #ffffff;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 16px;
  transition: all .15s ease;
}

/* line 282, ../sass/style.scss */
.wrapper-move .p {
  font-family: Open Sans;
  font-size: 10px;
  letter-spacing: 1.3px;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 35px;
  transition: all .15s ease;
}

/* line 294, ../sass/style.scss */
.wrapper-move .span {
  color: #ffffff;
  transition: all .15s ease;
}

/* line 299, ../sass/style.scss */
.wrapper-move .text {
  float: right;
  width: 85%;
  padding-left: 15px;
  position: relative;
  top: -6px;
  transition: all .15s ease;
}

/* line 308, ../sass/style.scss */
.wrapper-move .dots {
  position: relative;
  top: -110px;
  left: 215px;
  transition: all .15s ease;
}

/* line 315, ../sass/style.scss */
.wrapper-move .x {
  position: relative;
  top: -140px;
  left: 262px;
  width: 30%;
}

/* line 322, ../sass/style.scss */
.wrapper-move .second-box, .wrapper-move .third-box {
  background: #FFFFFF;
  background: white;
  width: 430px;
  height: 150px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 0px 20px rgba(19, 74, 140, 0.05);
  margin-left: 30px;
  margin-top: 35px;
  padding: 0 60px 0 30px;
  position: relative;
  top: -26px;
  left: -465px;
  z-index: 1;
  clear: both;
  transition: all .25s ease;
}

/* line 343, ../sass/style.scss */
.wrapper-move .third-box {
  transition: all .25s ease .07s;
}

/* line 347, ../sass/style.scss */
.expanding {
  background: white;
  width: 390px;
  height: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 0px 20px rgba(19, 74, 140, 0.05);
  position: relative;
  padding: 20px 30px 0 30px;
  top: -30px;
  left: -90px;
  opacity: 0;
  z-index: 2;
  transition: all .25s ease;
}

/* line 363, ../sass/style.scss */
.wrapper-move .expanding {
  background: white;
  width: 390px;
  height: 470px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 0px 20px rgba(19, 74, 140, 0.05);
  position: relative;
  padding: 20px 30px 0 30px;
  top: -33px;
  left: -90px;
  opacity: 1;
  z-index: 2;
  overflow: hidden;
  transition: all .25s ease .25s;
}

/* line 380, ../sass/style.scss */
.expanding h3 {
  color: #7F858F;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 15px;
}

/* line 387, ../sass/style.scss */
.expanding span {
  font-weight: 700;
}

/* line 391, ../sass/style.scss */
.timeline {
  width: 8%;
  float: left;
  padding-top: 13px;
  display: none;
}

/* line 398, ../sass/style.scss */
.summary {
  width: 92%;
  float: right;
  display: none;
}

/* line 404, ../sass/style.scss */
.wrapper-move .timeline {
  width: 8%;
  float: left;
  padding-top: 13px;
  display: inline-block;
}

/* line 411, ../sass/style.scss */
.wrapper-move .summary {
  width: 92%;
  float: right;
  display: inline-block;
}

/* line 417, ../sass/style.scss */
#remove {
  cursor: pointer;
}

/* line 421, ../sass/style.scss */
.close {
  position: absolute;
  letter-spacing: 1px;
  top: 670px;
  left: 75px;
  transition: all .25s ease;
}

/* line 429, ../sass/style.scss */
.wrapper-move .close {
  position: absolute;
  letter-spacing: 1px;
  top: 628px;
  left: 75px;
  transition: all .5s ease .25s;
}

/* icon colors */
/* line 438, ../sass/style.scss */
#stop1 {
  stop-color: #06A4F5;
}

/* line 442, ../sass/style.scss */
#stop2 {
  stop-color: #099CF5;
}

/* line 446, ../sass/style.scss */
#stop3 {
  stop-color: #1286F3;
}

/* line 450, ../sass/style.scss */
#stop4 {
  stop-color: #1A73F2;
}

/* line 454, ../sass/style.scss */
.icon-white {
  position: absolute;
  left: 30px;
  top: 14px;
  display: none;
}

/* line 461, ../sass/style.scss */
.wrapper-move .icon-white {
  position: absolute;
  left: 30px;
  top: 14px;
  display: inline-block;
}

/* line 468, ../sass/style.scss */
#stop5, #stop6, #stop7, #stop8 {
  stop-color: #ffffff;
}

/* line 472, ../sass/style.scss */
#white-icon-resize {
  width: 60%;
}

/* refresh button styling */
/* line 482, ../sass/style.scss */
#refresh {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  padding: 13px 0 0 13px;
}

/* line 494, ../sass/style.scss */
.refreshicon {
  fill: #d3d3d3;
  transform: rotate(0deg);
  transition: fill .25s ease, transform .25s ease;
}

/* line 500, ../sass/style.scss */
.refreshicon:hover {
  cursor: pointer;
  fill: #1A73F2;
  transform: rotate(180deg);
}

/* end refresh button styling */
