div.cover.first-cover
div.cover.second-cover
div.content
  h2 My Locations
  .location
      p Oakland, CA 
        span.zip 94611
        span.remove &times;
  .location.current
      p Beverly Hills, CA 
        span.zip 90210
        span.remove &times;
  .location
      p Bristol, CT 
        span.zip 06010
        span.remove &times;
  .input-wrapper
    input#zip(placeholder="Enter new zip code...")
    button.btn.inactive#add Add
  button.btn#save-and-return Weather for selected location
