@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body, html{
  background: rgb(165, 214, 232);
}

*{
  font-family: Open Sans;
}

h1{
  font-size: 2.8em;
}

.center{
  text-align: center;
}

.center div{
  text-align: left;
}

#search{
  display: inline-block;
}

.clean-search-input{
  width:300px;
  height: 1.5em;
  border-color: #999;
  border-radius: 2px;
  border-style: solid;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 0.2em 0.4em;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

.clean-search-input:focus{
  outline: none;
  border-color: #777;
}

.clean-search-result{
  width: 300px;
  border-style: solid;
  border-color: #aaa;
  border-width: 0 2px 2px 2px;
  padding: 0 0.3em;
  border-radius: 4px;
  margin-left: 2px;
  margin-top: -3px;
  padding-top: 7px;
  padding-bottom: 3px;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.08);
  transition: width 2s, height 2s;
}
