@import url(https://fonts.googleapis.com/css?family=Headland+One);
/* line 1, ../sass/style.scss */
body {
  background: #37353a;
}

/* line 5, ../sass/style.scss */
.wrapper {
  width: 704px;
  margin: 0 auto;
}

/* line 10, ../sass/style.scss */
.icon {
  width: 175px;
  height: 175px;
  float: left;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: inset -1px -1px 0px 0px rgba(255, 255, 255, 0.04);
  border-left: 0;
  border-top: 0;
}

/****************** file ****************/
/* line 24, ../sass/style.scss */
.file {
  width: 80px;
  height: 108px;
  background: #9e99c4;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: 50%;
  margin-top: -54px;
  border-radius: 6px;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}

/* line 37, ../sass/style.scss */
.file:before {
  content: "";
  width: 25px;
  height: 25px;
  background: #37353a;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 47, ../sass/style.scss */
.file .flip {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 25px solid #bbb7dc;
  border-right: 25px solid transparent;
}

/* line 55, ../sass/style.scss */
.file .flip:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 25px solid rgba(0, 0, 0, 0.3);
  border-left: 25px solid transparent;
  position: absolute;
  top: 25px;
}

/* line 65, ../sass/style.scss */
.file .holes {
  width: 8px;
  height: 8px;
  background: #37353a;
  border-radius: 50%;
  box-shadow: inset 0 2px 0 0px rgba(0, 0, 0, 0.25), 0 1px 0 0 rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -4px;
}

/* line 77, ../sass/style.scss */
.file .holes:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #37353a;
  border-radius: 50%;
  box-shadow: inset 0 2px 0 0px rgba(0, 0, 0, 0.25), 0 1px 0 0 rgba(255, 255, 255, 0.2);
  position: absolute;
  top: -30px;
}

/* line 88, ../sass/style.scss */
.file .holes:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #37353a;
  border-radius: 50%;
  box-shadow: inset 0 2px 0 0px rgba(0, 0, 0, 0.25), 0 1px 0 0 rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 30px;
}

/* line 99, ../sass/style.scss */
.file .lines {
  width: 34px;
  height: 9px;
  border-top: 5px solid rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 28px;
  top: 30px;
}

/* line 109, ../sass/style.scss */
.file .lines:after {
  content: "";
  width: 34px;
  height: 9px;
  border-top: 5px solid rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 23px;
}

/* line 119, ../sass/style.scss */
.file .lines:before {
  content: "";
  width: 7px;
  height: 9px;
  background: #9e99c4;
  position: absolute;
  top: 35px;
  z-index: 2;
  right: 0;
}

/****************** mail ****************/
/* line 132, ../sass/style.scss */
.mail {
  width: 108px;
  height: 78px;
  background: #eeecdf;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  margin-left: -54px;
  top: 50%;
  margin-top: -39px;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

/* line 146, ../sass/style.scss */
.mail:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 6px;
  border-left: 54px solid transparent;
  border-right: 54px solid transparent;
  border-top: 50px solid rgba(0, 0, 0, 0.3);
}

/* line 157, ../sass/style.scss */
.mail:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 6px;
  border-left: 54px solid transparent;
  border-right: 54px solid transparent;
  border-top: 39px solid #eeecdf;
}

/* line 168, ../sass/style.scss */
.mail .shadows {
  width: 0;
  height: 0;
  border-left: 42px solid transparent;
  border-right: 42px solid transparent;
  border-bottom: 30px solid rgba(0, 0, 0, 0.12);
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -42px;
}

/* line 179, ../sass/style.scss */
.mail .shadows:after {
  content: "";
  position: absolute;
  left: -54px;
  top: -41px;
  width: 0;
  height: 0;
  border-top: 41px solid transparent;
  border-left: 54px solid rgba(0, 0, 0, 0.06);
  border-bottom: 39px solid transparent;
}

/* line 190, ../sass/style.scss */
.mail .shadows:before {
  content: "";
  position: absolute;
  right: -54px;
  top: -42px;
  width: 0;
  height: 0;
  border-top: 42px solid transparent;
  border-right: 54px solid rgba(0, 0, 0, 0.2);
  border-bottom: 39px solid transparent;
}

/****************** comments ****************/
/* line 204, ../sass/style.scss */
.comments {
  width: 86px;
  height: 64px;
  background: #f15f4c;
  border-radius: 6px;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 50%;
  margin-left: -54px;
  top: 50px;
}

/* line 216, ../sass/style.scss */
.comments:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 22px solid #f15f4c;
  border-right: 34px solid transparent;
  position: absolute;
  bottom: -21px;
  left: 22px;
  border-bottom-left-radius: 3px;
}

/* line 228, ../sass/style.scss */
.comments:before {
  content: "";
  width: 86px;
  height: 64px;
  background: #bd4232;
  border-radius: 6px;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 22px;
  top: -11px;
  z-index: -1;
}

/* line 241, ../sass/style.scss */
.comments .shadow {
  width: 22px;
  height: 49px;
  background: rgba(0, 0, 0, 0.2);
  right: -22px;
  top: 4px;
  border-bottom-right-radius: 6px;
  position: absolute;
}

/* line 251, ../sass/style.scss */
.comments .shadow:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 22px solid #bd4232;
  border-left: 22px solid transparent;
  position: absolute;
}

/****************** clock ****************/
/* line 262, ../sass/style.scss */
.clock {
  width: 108px;
  height: 108px;
  background: #45c1ae;
  border-radius: 50%;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 50%;
  margin-left: -54px;
  top: 50%;
  margin-top: -54px;
  cursor: pointer;
}

/* line 276, ../sass/style.scss */
.clock .circle {
  content: "";
  width: 84px;
  height: 84px;
  background: #cccabf;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -42px;
  overflow: hidden;
  top: 50%;
  margin-top: -42px;
}

/* line 290, ../sass/style.scss */
.clock .circle:before {
  content: "";
  width: 84px;
  height: 84px;
  background: #edebde;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -42px;
  overflow: hidden;
  top: 50%;
  margin-top: -37px;
}

/* line 304, ../sass/style.scss */
.clock .circle:after {
  content: "";
  width: 14px;
  height: 14px;
  background: #4b494f;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  margin-left: -7px;
  top: 50%;
  margin-top: -7px;
  z-index: 5;
}

/* line 318, ../sass/style.scss */
.clock .clockwise {
  width: 29px;
  height: 4px;
  background: #4b494f;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 6px;
  margin-top: -2px;
  transform-origin: -5px 2px;
  transition: transform 0.5s;
}

/* line 331, ../sass/style.scss */
.clock .clockwise:after {
  content: "";
  width: 21px;
  height: 4px;
  background: #4b494f;
  position: absolute;
  left: -33px;
  transform-origin: 26px center;
  transform: rotate(30deg);
}

/* line 342, ../sass/style.scss */
.clock .clockwise:before {
  content: "";
  width: 28px;
  height: 4px;
  background: #9f9ba7;
  position: absolute;
  transform-origin: -6px center;
  transform: rotate(-90deg);
}

/* line 352, ../sass/style.scss */
.clock .shadows {
  width: 14px;
  height: 14px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  border-radius: 50%;
  left: 50%;
  margin-left: -7px;
  top: 50%;
  margin-top: -3px;
  z-index: 3;
  transition: transform 0.5s;
}

/* line 366, ../sass/style.scss */
.clock .shadows:after {
  content: "";
  width: 21px;
  height: 4px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 4px;
  left: -21px;
  transform-origin: 26px center;
  transform: rotate(30deg);
}

/* line 378, ../sass/style.scss */
.clock .shadows:before {
  content: "";
  width: 29px;
  height: 4px;
  left: 13px;
  top: 4px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
}

/* line 388, ../sass/style.scss */
.clock:hover .clockwise, .clock:hover .shadows {
  transform: rotate(1060deg);
}

/****************** calendar ****************/
/* line 394, ../sass/style.scss */
.calendar {
  width: 108px;
  height: 96px;
  background: #eeecdf;
  position: absolute;
  left: 50%;
  margin-left: -54px;
  top: 50%;
  margin-top: -48px;
  border-radius: 6px;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  font-family: Arial, helvetica, 'sans';
  font-size: 45px;
  line-height: 112px;
  text-align: center;
}

/* line 411, ../sass/style.scss */
.calendar:after {
  content: "";
  width: 108px;
  height: 27px;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  background: #d64646;
  position: absolute;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  top: 0;
  left: 0;
}

/* line 423, ../sass/style.scss */
.calendar:before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 23px solid #37353a;
  border-left: 23px solid transparent;
  position: absolute;
  bottom: -2px;
  right: 0;
}

/* line 434, ../sass/style.scss */
.calendar .flip {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 23px solid #fff;
  border-right: 23px solid transparent;
}

/* line 443, ../sass/style.scss */
.calendar .flip:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 23px solid rgba(0, 0, 0, 0.25);
  border-left: 23px solid transparent;
  position: absolute;
  top: -23px;
  right: 0;
}

/* line 455, ../sass/style.scss */
.calendar .holes {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  background: #37353a;
  left: 22px;
  top: 10px;
  z-index: 10;
  box-shadow: inset 0 2px 0 0px rgba(0, 0, 0, 0.25), 0 1px 0 0 rgba(255, 255, 255, 0.2);
}

/* line 467, ../sass/style.scss */
.calendar .holes:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  background: #37353a;
  left: 56px;
  box-shadow: inset 0 2px 0 0px rgba(0, 0, 0, 0.25), 0 1px 0 0 rgba(255, 255, 255, 0.2);
}

/****************** letter ****************/
/* line 481, ../sass/style.scss */
.letter {
  width: 96px;
  height: 96px;
  background: #ffde8d;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  margin-left: -48px;
  top: 50%;
  margin-top: -48px;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}

/* line 494, ../sass/style.scss */
.letter:after {
  content: "";
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  height: 25px;
  position: absolute;
}

/* line 502, ../sass/style.scss */
.letter:before {
  content: "";
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  height: 23px;
  position: absolute;
  top: 49px;
}

/* line 511, ../sass/style.scss */
.letter .fold {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 10;
}

/* line 518, ../sass/style.scss */
.letter .fold.left {
  top: 10px;
  left: 0;
  border-top: 15px solid transparent;
  border-left: 5px solid #37353a;
  border-bottom: 22px solid transparent;
}

/* line 526, ../sass/style.scss */
.letter .fold.left:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-top: 22px solid transparent;
  border-left: 5px solid #37353a;
  border-bottom: 15px solid transparent;
  left: -5px;
  top: 25px;
}

/* line 538, ../sass/style.scss */
.letter .fold.right {
  top: 10px;
  right: 0px;
  border-top: 15px solid transparent;
  border-right: 5px solid #37353a;
  border-bottom: 22px solid transparent;
}

/* line 546, ../sass/style.scss */
.letter .fold.right:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-top: 22px solid transparent;
  border-right: 5px solid #37353a;
  border-bottom: 15px solid transparent;
  left: 0;
  top: 25px;
}

/****************** ticket ****************/
/* line 560, ../sass/style.scss */
.ticket {
  width: 83px;
  height: 73px;
  background: #95b849;
  border-bottom-right-radius: 6px;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  position: absolute;
  transform: rotate(45deg);
  margin-left: 47px;
  margin-top: 54px;
}

/* line 572, ../sass/style.scss */
.ticket:before {
  content: "";
  width: 55px;
  height: 55px;
  background: #95b849;
  top: 9px;
  left: -28px;
  position: absolute;
  transform: rotate(45deg);
  border-radius: 6px;
  box-shadow: -1px 2px 0 0px rgba(0, 0, 0, 0.25);
}

/* line 585, ../sass/style.scss */
.ticket:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 25px solid #37353a;
  border-left: 25px solid transparent;
  position: absolute;
  top: -2px;
  right: -1px;
}

/* line 596, ../sass/style.scss */
.ticket .flip {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 23px solid #b5d763;
  border-right: 23px solid transparent;
}

/* line 605, ../sass/style.scss */
.ticket .flip:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 23px solid rgba(0, 0, 0, 0.25);
  border-left: 23px solid transparent;
  position: absolute;
  top: 23px;
  right: -23px;
}

/* line 616, ../sass/style.scss */
.ticket .square {
  width: 56px;
  height: 36px;
  background: rgba(255, 255, 255, 0.25);
  position: absolute;
  top: 50%;
  margin-top: -18px;
  left: 50%;
  margin-left: -29px;
}

/* line 627, ../sass/style.scss */
.ticket .square:after {
  content: "";
  width: 9px;
  height: 9px;
  background: #37353a;
  position: absolute;
  border-radius: 50%;
  left: -30px;
  top: 16px;
  box-shadow: inset 0 2px 0 0px rgba(0, 0, 0, 0.25), 0 1px 0 0 rgba(255, 255, 255, 0.2);
}

/****************** safe ****************/
/* line 641, ../sass/style.scss */
.safe {
  width: 104px;
  height: 82px;
  background: #dddacb;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  margin-left: -52px;
  top: 50%;
  margin-top: -47px;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

/* line 655, ../sass/style.scss */
.safe:after, .safe:before {
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  background: #adaca2;
  bottom: -11px;
  z-index: -10;
}

/* line 666, ../sass/style.scss */
.safe:after {
  left: 10px;
}

/* line 667, ../sass/style.scss */
.safe:before {
  right: 10px;
}

/* line 669, ../sass/style.scss */
.safe .wheel {
  width: 55px;
  height: 55px;
  background: #edebde;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  top: 13px;
  left: 10px;
  transition: transform 0.5s;
}

/* line 681, ../sass/style.scss */
.safe .wheel:after {
  content: "";
  width: 25px;
  height: 25px;
  background: #cb3131;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  margin-left: -13px;
  top: 50%;
  margin-top: -12px;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25);
}

/* line 695, ../sass/style.scss */
.safe .wheel:before {
  content: "";
  width: 12px;
  height: 3px;
  background: #cb3131;
  position: absolute;
  transform-origin: center right;
  transform: rotate(45deg);
  top: 16px;
  left: 7px;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

/* line 709, ../sass/style.scss */
.safe .wheel .line {
  width: 3px;
  height: 46px;
  background: #adaca2;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 50%;
  margin-top: -23px;
  transform-origin: center center;
}

/* line 721, ../sass/style.scss */
.safe .wheel .line:first-child {
  transform: rotate(45deg);
}

/* line 725, ../sass/style.scss */
.safe .wheel .line:last-child {
  transform: rotate(-45deg);
}

/* line 729, ../sass/style.scss */
.safe .wheel .line:nth-child(2) {
  transform: rotate(90deg);
}

/* line 733, ../sass/style.scss */
.safe .lever {
  width: 15px;
  height: 15px;
  background: #cb3131;
  border-radius: 50%;
  position: absolute;
  top: 17px;
  right: 12px;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}

/* line 744, ../sass/style.scss */
.safe .lever:before {
  content: "";
  width: 5px;
  height: 20px;
  background: #adaca2;
  position: absolute;
  left: 5px;
  top: 17px;
}

/* line 754, ../sass/style.scss */
.safe:hover .wheel {
  transform: rotate(30deg);
}

/* line 758, ../sass/style.scss */
.safe:hover .lever {
  transform: translateY(3px);
}

/* line 761, ../sass/style.scss */
.safe:hover .lever:before {
  height: 16px;
}

/****************** news ****************/
/* line 767, ../sass/style.scss */
.news {
  width: 108px;
  height: 94px;
  background: linear-gradient(-135deg, #37353a 7px, transparent 0), linear-gradient(135deg, #37353a 7px, #cccabf 0);
  background-color: #333538;
  background-position: -9px top;
  background-repeat: repeat-x;
  background-size: 14px 94px;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  margin-left: -54px;
  top: 50%;
  margin-top: -47px;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25);
}

/* line 786, ../sass/style.scss */
.news:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 30px solid #37353a;
  border-left: 30px solid transparent;
  position: absolute;
  bottom: -2px;
  right: -2px;
}

/* line 797, ../sass/style.scss */
.news .flip {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 28px solid #e3e1d4;
  border-right: 28px solid transparent;
}

/* line 806, ../sass/style.scss */
.news .flip:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 28px solid rgba(0, 0, 0, 0.3);
  border-left: 28px solid transparent;
  position: absolute;
  bottom: 0;
  left: -28px;
}

/* line 817, ../sass/style.scss */
.news .content {
  width: 86px;
  height: 10px;
  background: #539ebe;
  position: absolute;
  left: 50%;
  margin-left: -43px;
  top: 20px;
}

/* line 827, ../sass/style.scss */
.news .content:before {
  content: "";
  width: 40px;
  height: 50px;
  position: absolute;
  background-color: transparent;
  background-image: linear-gradient(#37353a 40px, transparent 40px, transparent 45px, rgba(255, 255, 255, 0.25) 45px, rgba(255, 255, 255, 0.25) 48px);
  background-size: 40px 50px;
  top: 15px;
}

/* line 838, ../sass/style.scss */
.news .content:after {
  content: "";
  width: 40px;
  height: 50px;
  position: absolute;
  background-color: transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0.25) 0px, rgba(255, 255, 255, 0.25) 4px, transparent 4px, transparent 8px);
  background-size: 40px 9px;
  top: 15px;
  right: 0;
}

/****************** map ****************/
/* line 852, ../sass/style.scss */
.map {
  width: 108px;
  height: 88px;
  position: absolute;
  left: 50%;
  margin-left: -54px;
  top: 50%;
  margin-top: -44px;
  cursor: pointer;
}

/* line 863, ../sass/style.scss */
.map:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 38px solid #37353a;
  border-left: 38px solid transparent;
  position: absolute;
  bottom: -10px;
  right: -2px;
}

/* line 875, ../sass/style.scss */
.map .folded {
  position: absolute;
}

/* line 878, ../sass/style.scss */
.map .fold {
  width: 36px;
  height: 88px;
  background: #eae8db;
  float: left;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  position: relative;
}

/* line 887, ../sass/style.scss */
.map .fold:first-child, .map .fold:last-child {
  transform-origin: center left;
  transform: skewY(15deg);
}

/* line 892, ../sass/style.scss */
.map .fold:nth-child(2) {
  transform-origin: center right;
  transform: skewY(-15deg);
}

/* line 897, ../sass/style.scss */
.map .fold:first-child {
  border-top-left-radius: 6px;
}

/* line 901, ../sass/style.scss */
.map .fold .content {
  width: 32px;
  height: 80px;
  position: absolute;
  left: 4px;
  top: 4px;
  overflow: hidden;
}

/* line 910, ../sass/style.scss */
.map .fold:first-child .content:after {
  content: "";
  width: 66px;
  height: 66px;
  background: #9ebec7;
  position: absolute;
  transform: rotate(45deg);
  left: -33px;
}

/* line 920, ../sass/style.scss */
.map .fold:first-child .content:before {
  content: "";
  width: 21px;
  height: 21px;
  background: #9ebec7;
  position: absolute;
  transform: rotate(45deg);
  left: 16px;
  bottom: -10px;
}

/* line 931, ../sass/style.scss */
.map .fold:first-child .content {
  border-top-left-radius: 3px;
}

/* line 935, ../sass/style.scss */
.map .fold:nth-child(2) .content {
  left: 0;
  width: 36px !important;
}

/* line 940, ../sass/style.scss */
.map .fold:last-child .content {
  left: 0;
  width: 32px !important;
}

/* line 945, ../sass/style.scss */
.map .fold:nth-child(2) .content:after {
  content: "";
  width: 47px;
  height: 47px;
  background: #9ebec7;
  position: absolute;
  transform: rotate(48deg);
  top: -28px;
  left: -2px;
}

/* line 956, ../sass/style.scss */
.map .fold:nth-child(2) .content:before {
  content: "";
  width: 47px;
  height: 47px;
  background: #9ebec7;
  position: absolute;
  transform: rotate(50deg);
  left: -42px;
  top: 10px;
}

/* line 967, ../sass/style.scss */
.map .fold:nth-child(2) .content .other {
  width: 98px;
  height: 98px;
  background: #9ebec7;
  position: absolute;
  transform: rotate(50deg);
  left: 25px;
  top: 15px;
}

/* line 977, ../sass/style.scss */
.map .fold:nth-child(2) .content .other:after {
  content: "";
  width: 23px;
  height: 23px;
  background: #9ebec7;
  position: absolute;
  bottom: -35px;
}

/* line 986, ../sass/style.scss */
.map .fold:last-child .content:after {
  content: "";
  width: 98px;
  height: 98px;
  background: #9ebec7;
  position: absolute;
  transform: rotate(40deg);
  left: -7px;
  top: 9px;
}

/* line 997, ../sass/style.scss */
.map .fold:last-child .content:before {
  content: "";
  width: 49px;
  height: 49px;
  background: #9ebec7;
  position: absolute;
  transform: rotate(40deg);
  left: -27px;
  top: -46px;
}

/* line 1008, ../sass/style.scss */
.map .flip {
  position: absolute;
  right: 0;
  bottom: -2px;
  width: 0;
  height: 0;
  border-top: 28px solid #fff;
  border-right: 28px solid transparent;
}

/* line 1017, ../sass/style.scss */
.map .flip:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 32px solid rgba(0, 0, 0, 0.3);
  border-left: 28px solid transparent;
  position: absolute;
  bottom: -3px;
  left: -28px;
}

/* line 1028, ../sass/style.scss */
.map .shadow {
  width: 36px;
  height: 88px;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  transform-origin: center right;
  transform: skewY(-15deg);
  position: absolute;
  left: 36px;
}

/* line 1039, ../sass/style.scss */
.map .pin {
  width: 32px;
  height: 32px;
  border-radius: 50% 50% 50% 0;
  background: #d65746;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -16px;
  transition: transform 0.5s;
  -webkit-backface-visibility: hidden;
}

/* line 1052, ../sass/style.scss */
.map .pin:after {
  content: "";
  width: 14px;
  height: 14px;
  margin: 9px 0 0 9px;
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  border-radius: 50%;
}

/* line 1062, ../sass/style.scss */
.map:hover .pin {
  transform: rotate(-45deg) translateY(-4px) translateX(4px);
}

/****************** book ****************/
/* line 1070, ../sass/style.scss */
.book {
  width: 96px;
  height: 104px;
  background: #73a0bd;
  border-radius: 6px;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 50%;
  margin-left: -48px;
  top: 50%;
  margin-top: -52px;
  font-size: 50px;
  color: #4b494f;
  line-height: 130px;
  text-align: center;
  font-family: 'Headland One', serif;
  cursor: pointer;
}

/* line 1089, ../sass/style.scss */
.book .pages {
  width: 91px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  overflow: hidden;
  background: #73a0bd;
}

/* line 1102, ../sass/style.scss */
.book .pages .page {
  width: 91px;
  height: 91px;
  position: absolute;
  border-top-right-radius: 6px;
}

/* line 1108, ../sass/style.scss */
.book .pages .page:nth-child(odd) {
  background: #eeecdf;
}

/* line 1112, ../sass/style.scss */
.book .pages .page:nth-child(even) {
  background: #d6d4c8;
}

/* line 1116, ../sass/style.scss */
.book .pages .page:nth-child(2) {
  top: 2px;
}

/* line 1117, ../sass/style.scss */
.book .pages .page:nth-child(3) {
  top: 4px;
}

/* line 1118, ../sass/style.scss */
.book .pages .page:nth-child(4) {
  top: 6px;
}

/* line 1119, ../sass/style.scss */
.book .pages .page:nth-child(5) {
  top: 8px;
}

/* line 1120, ../sass/style.scss */
.book .pages .page:nth-child(6) {
  top: 10px;
}

/* line 1121, ../sass/style.scss */
.book .pages .page:nth-child(7) {
  top: 12px;
}

/* line 1122, ../sass/style.scss */
.book .pages .page:nth-child(8) {
  top: 14px;
}

/* line 1123, ../sass/style.scss */
.book .pages .page:nth-child(9) {
  top: 16px;
}

/* line 1124, ../sass/style.scss */
.book .pages .page:nth-child(10) {
  top: 18px;
  background-image: -webkit-linear-gradient(left, #51768f 0px, #51768f 2px, #749cb5 2px, #749cb5 4px, #95b4c9 4px);
  background-image: -moz-linear-gradient(left, #51768f 0px, #51768f 2px, #749cb5 2px, #749cb5 4px, #95b4c9 4px);
  background-image: -o-linear-gradient(left, #51768f 0px, #51768f 2px, #749cb5 2px, #749cb5 4px, #95b4c9 4px);
  background-image: linear-gradient(left, #51768f 0px, #51768f 2px, #749cb5 2px, #749cb5 4px, #95b4c9 4px);
}

/* line 1132, ../sass/style.scss */
.book .pages .page:nth-child(11) {
  top: 23px;
  background-image: -webkit-linear-gradient(left, #51768f 0px, #51768f 2px, #749cb5 2px, #749cb5 4px, #73a0bd 4px);
  background-image: -moz-linear-gradient(left, #51768f 0px, #51768f 2px, #749cb5 2px, #749cb5 4px, #73a0bd 4px);
  background-image: -o-linear-gradient(left, #51768f 0px, #51768f 2px, #749cb5 2px, #749cb5 4px, #73a0bd 4px);
  background-image: linear-gradient(left, #51768f 0px, #51768f 2px, #749cb5 2px, #749cb5 4px, #73a0bd 4px);
}

/* line 1140, ../sass/style.scss */
.book .top {
  width: 96px;
  height: 28px;
  background: rgba(255, 255, 255, 0.3);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  position: absolute;
}

/* line 1150, ../sass/style.scss */
.book .top:after {
  content: "";
  width: 2px;
  height: 73px;
  background: #51768f;
  position: absolute;
  left: 5px;
  top: 31px;
}

/* line 1160, ../sass/style.scss */
.book .top:before {
  content: "";
  width: 2px;
  height: 73px;
  background: #749cb5;
  position: absolute;
  left: 7px;
  top: 31px;
}

/* line 1170, ../sass/style.scss */
.bookmark {
  width: 20px;
  height: 21px;
  background: #d64646;
  position: absolute;
  top: -4px;
  left: 9px;
}

/* line 1179, ../sass/style.scss */
.bookmark:after {
  content: "";
  width: 20px;
  height: 30px;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  transform: skewX(-45deg);
  top: 21px;
  left: -15px;
}

/* line 1190, ../sass/style.scss */
.bookmark:before {
  content: "";
  width: 20px;
  height: 30px;
  background: #37353a;
  position: absolute;
  z-index: 10;
  left: -29px;
  top: 21px;
}

/* line 1201, ../sass/style.scss */
.book:hover .bookmark {
  transform: translateY(2px);
  height: 19px;
}

/* line 1205, ../sass/style.scss */
.book:hover .bookmark:after {
  transform: translateY(-2px) skewX(-45deg);
}

/****************** media ****************/
/* line 1211, ../sass/style.scss */
.media {
  width: 100px;
  height: 100px;
  background: #e5b742;
  border-radius: 6px;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}

/* line 1224, ../sass/style.scss */
.media:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 33px solid #37353a;
  border-left: 33px solid transparent;
  position: absolute;
  bottom: -2px;
  right: -2px;
}

/* line 1235, ../sass/style.scss */
.media .flip {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 30px solid #fce366;
  border-right: 30px solid transparent;
}

/* line 1244, ../sass/style.scss */
.media .flip:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 30px solid rgba(0, 0, 0, 0.25);
  border-left: 30px solid transparent;
  position: absolute;
  bottom: 0;
  left: -30px;
}

/* line 1255, ../sass/style.scss */
.media .play {
  width: 64px;
  height: 64px;
  background: #eae8db;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -32px;
  top: 50%;
  margin-top: -32px;
}

/* line 1267, ../sass/style.scss */
.media .play:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 19px solid #37353a;
  border-bottom: 12px solid transparent;
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: 50%;
  margin-top: -12px;
}

/****************** bag ****************/
/* line 1285, ../sass/style.scss */
.bag {
  width: 96px;
  height: 102px;
  background: #ebca79;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  margin-left: -48px;
  top: 50%;
  margin-top: -51px;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

/* line 1299, ../sass/style.scss */
.bag:before {
  content: "";
  width: 90px;
  height: 22px;
  background: #9e8549;
  position: absolute;
  left: 50%;
  margin-left: -45px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

/* line 1311, ../sass/style.scss */
.bag:after {
  content: "";
  width: 96px;
  height: 55px;
  background: rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 22px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 1321, ../sass/style.scss */
.bag .flip.left {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 11px 0 5px 8px;
  border-color: transparent transparent transparent #ba9d58;
  position: absolute;
  left: 1px;
  border-top-left-radius: 5px;
}

/* line 1332, ../sass/style.scss */
.bag .flip.left:before {
  content: "";
  width: 3px;
  height: 21px;
  background: #37353a;
  position: absolute;
  left: -9px;
  top: -10px;
}

/* line 1342, ../sass/style.scss */
.bag .flip.left:after {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 11px 9px;
  border-color: transparent transparent #dcbb6a transparent;
  position: absolute;
  left: -9px;
}

/* line 1353, ../sass/style.scss */
.bag .flip.right {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 11px 8px 5px 0px;
  border-color: transparent #ba9d58 transparent transparent;
  position: absolute;
  right: 1px;
  border-top-left-radius: 5px;
}

/* line 1364, ../sass/style.scss */
.bag .flip.right:before {
  content: "";
  width: 3px;
  height: 21px;
  background: #37353a;
  position: absolute;
  right: -9px;
  top: -10px;
}

/* line 1374, ../sass/style.scss */
.bag .flip.right:after {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 9px 11px 0;
  border-color: transparent transparent #dcbb6a transparent;
  position: absolute;
  right: -9px;
}

/* line 1385, ../sass/style.scss */
.bag .handle {
  width: 45px;
  height: 40px;
  position: absolute;
  border-style: solid;
  border-width: 4px;
  border-color: transparent #fff #fff #fff;
  border-radius: 0 0 50% 50%;
  left: 22px;
  top: 39px;
  z-index: 10;
  box-shadow: 0 4px 0 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s, height 0.5s;
}

/* line 1400, ../sass/style.scss */
.bag .handle:before {
  content: "";
  width: 4px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: -4px;
  top: -4px;
}

/* line 1411, ../sass/style.scss */
.bag .handle:after {
  content: "";
  width: 4px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: -4px;
  top: -4px;
}

/* line 1422, ../sass/style.scss */
.bag .holes {
  width: 8px;
  height: 8px;
  background: #37353a;
  position: absolute;
  border-radius: 50%;
  left: 20px;
  top: 36px;
}

/* line 1432, ../sass/style.scss */
.bag .holes:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #37353a;
  position: absolute;
  border-radius: 50%;
  left: 49px;
}

/* line 1442, ../sass/style.scss */
.bag:hover .handle {
  height: 10px;
  transform: translateY(-1px);
}

/****************** photo ****************/
/* line 1449, ../sass/style.scss */
.photo {
  width: 96px;
  height: 84px;
  background: #edebde;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  margin-left: -48px;
  top: 50%;
  margin-top: -42px;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}

/* line 1462, ../sass/style.scss */
.photo:before {
  content: "";
  width: 96px;
  height: 84px;
  background: #b6b5aa;
  border-radius: 6px;
  position: absolute;
  z-index: -1;
  transform: rotate(-10deg);
  transform-origin: bottom right;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}

/* line 1475, ../sass/style.scss */
.photo .frame {
  width: 77px;
  height: 63px;
  background: #9ebec7;
  border-radius: 3px;
  position: absolute;
  left: 9px;
  top: 10px;
  overflow: hidden;
}

/* line 1486, ../sass/style.scss */
.photo .frame .content {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: #708d30;
  position: absolute;
  top: 42px;
  left: -30px;
}

/* line 1497, ../sass/style.scss */
.photo .frame .content:after {
  content: "";
  width: 111px;
  height: 111px;
  border-radius: 50%;
  background: #8fb243;
  position: absolute;
  top: -10px;
  left: 50px;
}

/* line 1508, ../sass/style.scss */
.photo .frame .content:before {
  content: "";
  width: 16px;
  height: 16px;
  background: #ebe9dc;
  border-radius: 50%;
  left: 79px;
  top: -32px;
  position: absolute;
}

/* line 1519, ../sass/style.scss */
.photo .flip {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 24px solid #ffffff;
  border-right: 24px solid transparent;
}

/* line 1528, ../sass/style.scss */
.photo .flip:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 24px solid rgba(0, 0, 0, 0.25);
  border-left: 24px solid transparent;
  position: absolute;
  bottom: 0;
  left: -24px;
}

/* line 1539, ../sass/style.scss */
.photo .angle {
  width: 36px;
  height: 36px;
  background: #37353a;
  transform: rotate(45deg);
  position: absolute;
  right: -19px;
  bottom: -19px;
  overflow: hidden;
}

/* line 1550, ../sass/style.scss */
.photo .angle:after {
  content: "";
  width: 41px;
  height: 26px;
  background: #b6b5aa;
  border-radius: 6px;
  position: absolute;
  z-index: -1;
  top: -7px;
  left: -25px;
  transform: rotate(-55deg);
  transform-origin: bottom right;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}

/****************** calculator ****************/
/* line 1567, ../sass/style.scss */
.calculator {
  width: 90px;
  height: 108px;
  background: #d7d4c5;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  margin-left: -45px;
  top: 50%;
  margin-top: -54px;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}

/* line 1580, ../sass/style.scss */
.calculator:after {
  content: "";
  width: 90px;
  height: 31px;
  background: rgba(0, 0, 0, 0.1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: absolute;
  top: 4px;
}

/* line 1591, ../sass/style.scss */
.calculator .display {
  width: 74px;
  height: 20px;
  background: #868d83;
  position: absolute;
  left: 50%;
  margin-left: -37px;
  top: 11px;
  border-radius: 2px;
  background-image: linear-gradient(45deg, transparent 37px, rgba(0, 0, 0, 0.1) 37px);
  box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2);
}

/* line 1604, ../sass/style.scss */
.calculator .controls {
  font-size: 30px;
  font-weight: bold;
  color: #908e86;
  line-height: 1em;
  margin-top: 41px;
  margin-left: 15px;
}

/* line 1613, ../sass/style.scss */
.calculator .controls .big {
  font-size: 50px;
  line-height: 0em;
}

/* line 1618, ../sass/style.scss */
.calculator .controls .medium {
  font-size: 35px;
  line-height: 0em;
  color: #8fb243;
  font-weight: bold;
}

/****************** count ****************/
/* line 1628, ../sass/style.scss */
.count {
  width: 87px;
  height: 108px;
  background: #988da7;
  border-radius: 6px;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 50%;
  margin-left: -44px;
  top: 50%;
  margin-top: -54px;
  font-family: Arial,Helvetica,'sans';
  color: #fff;
  text-align: center;
  font-size: 54px;
  font-weight: bold;
  line-height: 108px;
  text-shadow: 0 2px rgba(0, 0, 0, 0.25);
}

/* line 1648, ../sass/style.scss */
.count:before {
  content: "";
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.16);
  position: absolute;
}

/* line 1656, ../sass/style.scss */
.count:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 27px solid #37353a;
  border-left: 27px solid transparent;
  position: absolute;
  bottom: -2px;
  right: -2px;
}

/* line 1667, ../sass/style.scss */
.count .flip {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 24px solid #beb4cb;
  border-right: 24px solid transparent;
}

/* line 1676, ../sass/style.scss */
.count .flip:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 24px solid rgba(0, 0, 0, 0.3);
  border-left: 24px solid transparent;
  position: absolute;
  bottom: 0;
  left: -24px;
}

/* line 1687, ../sass/style.scss */
.count .flip:before {
  content: "";
  width: 87px;
  height: 2px;
  background: #37353a;
  position: absolute;
  top: -55px;
  left: -63px;
}

/* ANIMATIONS */
/*
.icon {
  transition:transform 0.5s;
}
.icon:hover {
  transform:translateY(-5px);
}
*/
