body {
  font-size: 76%;
  font-family: "trebuchet MS", verdana, arial, sans-serif;
  background: #f0f0f0;
  word-wrap: break-word;
}

#header {
  background: #a31e39;
}

#outer1 {
  float: left;
  width: 180px;
  padding: 10px;
  background: #e0d0d0;
}

#outer3 {
  float: right;
  width: 180px;
  padding: 10px;
  background: #b0b0b0;
}

#outer2 {
  background: #e0e0e0;
  margin: 10px 210px;
}

#outer1, #outer2, #outer3 {
  padding-bottom: 32767px;
  margin-bottom: -32767px;
}

#wrapper {
  overflow: hidden;
  background: #e0e0e0;
}

#footer {
  clear: both;
  background: #455c5a;
}

.content {
  padding: 10px;
}

h1 {
  font-size: 20px;
  margin: 0;
  padding: 10px 0;
  color: #fff;
}

h3 {
  font-size: 18px;
  margin: 0;
  padding: 8px 0;
}

p {
  font-size: 12px;
  line-height: 1.5em;
  margin: 0;
  padding: 5px 0;
}

#footer p,
#header p {
  color: #fff;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  text-decoration: none;
}
