.board
  %header
    %h1 Educational Keyboard
    %h2 Multiplication X
  .keys
    - (1..9).each do
      .row
        - (1..9).each do
          .key{ tabindex: 0 }
            %dl
              %dt
              %dd
