<div class="media">
  <div class="media__image">
    <img src="{{ src }}"{{# if alt }}alt="{{ alt }}"{{/ if }}>
  </div>
  <div class="media__body">
    {{render '@paragraph' }}
  </div>
</div>
<!--/.media-->
