body {
	background: #000000;
}

#pattern {
	width: 90%;
	margin: 0 auto;
	left: 0;
	right: 0;
	position: absolute;
}


.st0 {
	fill: none;
	stroke: #ffffff;
	stroke-width: 1.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

.st1 {
	fill: none;
	stroke: #ffffff;
	stroke-width: 1.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}