<h3>Protoc<i class="fa fa-code"></i>de
    <small>From idea to mobile app</small>
</h3>
<br>
<div class="row">
    <div class="col-md-10">
        <div class="well about-section col-md-12">
            <div>
                <img src="../img/about/code_icon.png" class="code-icon">
                <img src="../img/about/poli_logo.png" class="poli-logo">
                <div class="about-text col-md-7">
                    Protocode v4.0 is a thesis project done at Politecnico di Milano,
                    <br>master degree in Computer Science and Engineering.
                    <br>Made by Massimo Beccari from the original projects of Alessio Rossotti, Aldo Pintus and Mattia Natali.
                    <br>
                </div>
            </div>
            <hr class="col-md-12">
            <div class="about-links col-md-12">
                <div class="col-md-4 github-title">
                    <img src="../img/about/github_logo.png" class="github-icon">
                    <span>GitHub Links :</span>
                </div>
                <div class="list-group col-md-5 github-links">
                    <a href="https://github.com/massimo-beccari/protocode4" class="list-group-item list-group-item-action active">
                        Protocode v4.0  - Massimo Beccari
                    </a>
                    <a href="https://github.com/alessioros/protocode3" class="list-group-item list-group-item-action">
                        Protocode v3.0  - Alessio Rossotti
                    </a>
                    <a href="https://github.com/aldopolimi/protocode" class="list-group-item list-group-item-action">
                        Protocode v2.0  - Aldo Pintus
                    </a>
                    <a href=href="https://github.com/deib-polimi/protocode" class="list-group-item list-group-item-action">
                        Protocode v1.0  - Mattia Natali
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
