<h3>Protoc<i class="fa fa-code"></i>de
    <small>From idea to mobile app</small>
</h3>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="well text-center">
            <i class="fa fa-5x fa-lightbulb-o"></i> <i class="fa fa-5x fa-pencil"></i>
            <h5>Make your app with Protoc<i class="fa fa-code"></i>de</h5>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well text-center">
            <i class="fa fa-5x fa-magic"></i> <i class="fa fa-5x fa-cubes"></i>
            <h5>Generate the model</h5>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well text-center">
            <i class="fa fa-5x fa-apple"></i>
            <i class="fa fa-5x fa-angle-left"></i>
            <i class="fa fa-5x fa-mobile"></i>
            <i class="fa fa-5x fa-angle-right"></i>
            <i class="fa fa-5x fa-android"></i>
            <h5>Have fun with native mobile apps</h5>
        </div>
    </div>
</div>
