build/
node_modules/
logs?/
docs/
csv/
backup/
coverage/
vendor/
uploads/
*cache*
*journal
*.pwd
*.swp
*.db
*.pyc
*.codekit
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.ilk
*.log
*.dll
*.lib
*.sbr
.DS_Store
._*
.Spotlight-V100
.Trashes
.com.apple.*