@import url('https://fonts.googleapis.com/css?family=Sarpanch:900');

$rotationAmt: -12;

body {
  display: grid;
  grid-template-areas: ". . ." ". text ." ". . .";
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  background-image: radial-gradient(circle, #333333, #222222)
}

h1 {
  transform: skew(#{$rotationAmt}deg) rotate(#{$rotationAmt}deg);
  grid-area: text;
  font-family: 'Sarpanch', sans-serif;
  font-size: 20vmin;
  margin: 0;
  padding: 30px;
  color: #1d9099;
  text-shadow: 1vmin 1vmin 0 #E79C10, -1vmin -1vmin 0 #D53A33;
}