.business-card
    .content 
        .top
            .name Joe Hastings
            .profession // Front end developer
        .bottom
            .left
                .email me@joehastings.co.uk
                .phone +447123456789
                .website joehastings.co.uk
            .right
                .location Cambridge, UK
    .background
        .slice
            .container
                - (1..5).each do |i|
                    %div{:class => "layer-#{i}"}
                        - (1..15).each do |j|
                            %div{:class => "star-#{j}"}
