/* 
 * Gradient
 */
/* 
 * Opacity
 */
/* 
 * Box shadow
 */
/* 
 * Box sizing
 */
/* 
 * Text shadow
 */
/* 
 * Column
 */
/* 
 * Transition
 */
/* 
 * Transform
 */
/* 
 * Borders
 */
/* 
 * User selection
 */
/* 
 * Columns
 */
/* 
 * Background clip
 */
/* 
 * Size
 */
/* 
 * Alignment
 */
/* 
 * Block
 */
/* 
 * Miscellaneous
 */
/*
 * Coloring
 */
/* 
 * Reset filers for IE
 */
.background {
  fill: #b2f4da;
  mask: url(#mask);
}

.arc {
  fill: #043865;
  mask: url(#mask);
}

html {
  font-size: 10px;
}

.wrapper {
  width: 15rem;
  padding: 2rem 0;
  margin: 0 auto;
}

.header {
  background: #fff;
}

.input--range {
  width: 15rem;
}

.content {
  background: #2cc7a2;
}

.content__wrapper {
  padding: 10rem 0 0 0;
}
