<div class="jumbotron"><div class="intro">
  <h1>We saw a problem... Now we have a solution!</h1>
</div>
<p><strong>CrowdSurf is </strong>a platform striving to reinvent the way you find and interact with events nearby.
  CrowdSurf lets you discover new things to do, host events, purchase tickets,
  share with your crowd (friends/network) and make the most out of your day… or night!</p>
<p>We’re a young team of outgoing entrepreneurs who simply enjoy…well…going out,
  but find it difficult to sift through the web of entangled networks trying to find something to do. We decided to
  build one central platform that would reduce the time spent looking and increase your satisfaction in finding
  exactly what you want to do, what’s popular amongst your crowd, purchasing tickets and ultimately going! Don’t
  waste time searching hashtags and retweets because when you’re sitting at home on a Friday night bored not knowing
  what to do, the only way to find an answer is to CrowdSurf.</p>
<h2>Key Features:</h2>
<ul>
  <li>Find Events</li>
  <li>Host Events</li>
  <li>Invite Friends</li>
  <li>Event management tools</li>
  <li>Ticket Purchasing</li>
  <li>Check into events</li>
  <li>Upload photos to events</li>
  <li>Automatic user photo galleries created & sorted by event</li>
</ul></div>