<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <div class="container pull-down jumbotron bg">
        <h1>Welcome to CrowdSurf!!</h1>
        <h2>A World of Events In One Place</h2>
        <%= image_tag('iphonedemolaunch.png') %>
      </div>
    </div>

    <div class="item">
      <div class="container pull-down jumbotron bg">
        <h1>We saw a problem... Now we have a solution!</h1>
        <p><strong>CrowdSurf is </strong>a platform striving to reinvent the way you find and interact with events nearby
      </div>
    </div>

    <div class="item">
      <div class="container pull-down jumbotron bg">
        <h1>Whether it's the next concert...</h1>
      </div>
    </div>

    <div class="item">
      <div class="container pull-down jumbotron bg">
        <h1>Or huge event at the club...</h1>
      </div>
    </div>

    <div class="item">
      <div class="container pull-dow jumbotron">
        <h1>With CrowdSurf,</h1>
        <h2>We guarantee you'll find what you are looking for!!</h2>
        <div class="page-scroll">
          <a href="#about" class="btn btn-lg btn-primary">Learn More</a>
        </div>
      </div>
    </div>

  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->