<div class="jumbotron"><div class="team intro">
  <h1>Our Team</h1>
</div>
<div class="founders col-md-12">
  <div class="allen col-md-4">
    <%= image_tag 'Allen_Whearry.jpg' %>
    <h2>Allen Whearry</h2>
    <h3>Founder / Chief Executive Officer</h3>
    <ul>
      <li>6+ yrs event marketing & Promotions</li>
      <li>Successfully managed teams of 30+ people</li>
      <li>Produced events where total profits exceeded $40k</li>
    </ul>
  </div>
  <div class="evan col-md-4">
    <%= image_tag 'Evan_Shields.jpg' %>
    <h2>Evan Shields</h2>
    <h3>CMO/ Co-founder</h3>
    <ul>
      <li>6+ yrs event marketing & Promotions</li>
      <li>Successfully managed teams of 30+ people</li>
      <li>Produced events where total profits exceeded $40k</li>
    </ul>
  </div>
  <div class="james col-md-4">
    <%= image_tag 'James_Roberson_III.jpg' %>
    <h2>James Roberson III</h2>
    <h3>COO/ Co-founder</h3>
    <ul>
      <li>6+ yrs event marketing & Promotions</li>
      <li>Successfully managed teams of 30+ people</li>
      <li>Produced events where total profits exceeded $40k</li>
    </ul>
  </div>
</div></div>