<section id="intro">
  <%= render 'prelaunch/slides' %>
</section>
<section id="about">
  <div class="container"><%= render 'about' %></div>
</section>

<section id="team">
<div class="container"><%= render 'team' %></div>
</section>

<section id="contact">

</section>
