#face
  .tear
    - for (var i = 0; i < 20; i++)
      .tear_left
        .drops
          .drop
      .tear_right
        .drops
          .drop
  .eye.left
    - for (var j = 0; j < 8; j++)
      .eyelash
  .eye.right
    - for (var j = 0; j < 8; j++)
      .eyelash