.landscape
  .inner
    .title
      Sass Brick Function
    .text
      This function generates pixel-perfect shaded bricks for CSS illustrations. It takes the size you choose and calculates exactly the number of box-shadows you need for each object. To make this work, your width and height must end with 0.
    .test
      <input id="overflow" type="checkbox" checked /> <label for="overflow">overflow: hidden</label>
  .building
    .part
      .bricks.hidden
    .part
      .bricks.hidden
    .part
      .bricks.hidden