* {
  padding: 0;
  margin: 0;
}

html {
  text-align: center;
}

body {
  width: 950px;
  margin: 40px auto;
  font-family: trebuchet ms;
  text-align: left;
}

.container h3 {
  margin: 10px 0;
}

.clear {
  clear: both;
}

.none {
  display: none;
}

ul.uploadifyDropdown {
  padding: 0;
  float: left;
  width: 250px !important;
  position: relative;
  background: #eee;
  margin-right: 15px;
}

ul.uploadifyDropdown li[name=selected] {
  border: 1px solid #ccc;
  cursor: default;
  padding: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  webkit-border-radius: 2px;
  background: #eee;
}

ul.uploadifyDropdown li[name=selected] span.selectText {
  padding: 2px 4px;
}

ul.uploadifyDropdown li[name=selected] a.changeValue {
  text-decoration: underline;
  color: #000;
  float: right;
  border-left: 1px solid #ddd;
  padding: 2px 4px;
}

ul.uploadifyDropdown li.generated {
  border-right: 1px solid #ddd;
  padding: 2px 4px;
  border-left: 1px solid #ddd;
}

ul.uploadifyDropdown li.generated:last-child {
  border-bottom: 1px solid #ddd;
  -moz-border-radius: 2px;
  border-radius: 2px;
  webkit-border-radius: 2px;
}

ul.uploadifyDropdown li.generated:hover {
  color: #eee;
  background: #39f;
}

ul.uploadifyDropdown li[name=selected] a.changeValue:focus {
  outline: 0;
}
