.toots
 - (1..5).each do |i|
  %div.toot #{}
.poo
 .top
 .mid
 .bottom
 .eyes
  .eye
  .eye
 .mouth
 
 <!-- based on a shot by Yasir Eryılmaz : https://dribbble.com/shots/3409721-Gummy-Monsters-Poop -->