:root {
  --red: #B22234;
  --offwhite: #E3DED4;
  --blue: #3C3b6E;
  --purple: #832C4B;
}

body {
  overflow: hidden;
}

svg {
  width: 100vw;
  height: 100vh;
}

.state, .territory, .circle {
  position: relative;
  stroke: #000;
  stroke-width: 1;
  fill: var(--offwhite);
}

[data-visited] {
  fill: var(--red);
}

.border {
  fill: none;
  stroke: #ccc;
  stroke-width: 1;
}
