@import url("https://fonts.googleapis.com/css?family=Montserrat:600,700,800,900");
.fieldNotes:nth-of-type(1) {
  color: #4b2711;
  transform: rotate(-2deg);
  z-index: -1;
  background-color: #dcb17b;
  background: #dcb17b;
  background: -webkit-linear-gradient(to right, rgba(110, 74, 29, 0.25), #dcb17b 7%);
  background: -o-linear-gradient(to right, rgba(110, 74, 29, 0.25), #dcb17b 7%);
  background: -moz-linear-gradient(to right, rgba(110, 74, 29, 0.25), #dcb17b 7%);
  background: linear-gradient(to right, #cc8d3f 0%, #d19953 0%, #d19953 1%, #d7a567 4%, #dcb17b 99%);
}

.fieldNotes:nth-of-type(2) {
  color: #f8dc00;
  transform: rotate(2deg);
  z-index: -2;
  background-color: #f02059;
  background: #f02059;
  background: -webkit-linear-gradient(to right, rgba(64, 4, 21, 0.25), #f02059 7%);
  background: -o-linear-gradient(to right, rgba(64, 4, 21, 0.25), #f02059 7%);
  background: -moz-linear-gradient(to right, rgba(64, 4, 21, 0.25), #f02059 7%);
  background: linear-gradient(to right, #b70c3b 0%, #cf0e43 0%, #cf0e43 1%, #e7104b 4%, #f02059 99%);
}

.fieldNotes:nth-of-type(3) {
  color: #3e257c;
  transform: rotate(-3deg);
  z-index: -3;
  background-color: #f8dc00;
  background: #f8dc00;
  background: -webkit-linear-gradient(to right, rgba(44, 39, 0, 0.25), #f8dc00 7%);
  background: -o-linear-gradient(to right, rgba(44, 39, 0, 0.25), #f8dc00 7%);
  background: -moz-linear-gradient(to right, rgba(44, 39, 0, 0.25), #f8dc00 7%);
  background: linear-gradient(to right, #ac9800 0%, #c5af00 0%, #c5af00 1%, #dfc500 4%, #f8dc00 99%);
}

.fieldNotes:nth-of-type(4) {
  color: #fff400;
  transform: rotate(2deg);
  z-index: -4;
  background-color: #00c091;
  background: #00c091;
  background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.25), #00c091 7%);
  background: -o-linear-gradient(to right, rgba(0, 0, 0, 0.25), #00c091 7%);
  background: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.25), #00c091 7%);
  background: linear-gradient(to right, #007457 0%, #008d6a 0%, #008d6a 1%, #00a77e 4%, #00c091 99%);
}

.fieldNotes:nth-of-type(5) {
  color: #f7f6f2;
  transform: rotate(3deg);
  z-index: -5;
  background-color: #ff5516;
  background: #ff5516;
  background: -webkit-linear-gradient(to right, rgba(73, 20, 0, 0.25), #ff5516 7%);
  background: -o-linear-gradient(to right, rgba(73, 20, 0, 0.25), #ff5516 7%);
  background: -moz-linear-gradient(to right, rgba(73, 20, 0, 0.25), #ff5516 7%);
  background: linear-gradient(to right, #c93600 0%, #e23d00 0%, #e23d00 1%, #fc4400 4%, #ff5516 99%);
}

.fieldNotes:nth-of-type(6) {
  color: #ecf0f3;
  transform: rotate(-2deg);
  z-index: -6;
  background-color: #788440;
  background: #788440;
  background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.25), #788440 7%);
  background: -o-linear-gradient(to right, rgba(0, 0, 0, 0.25), #788440 7%);
  background: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.25), #788440 7%);
  background: linear-gradient(to right, #495027 0%, #59622f 0%, #59622f 1%, #687338 4%, #788440 99%);
}

.fieldNotes:nth-of-type(7) {
  color: #fa2160;
  transform: rotate(3deg);
  z-index: -7;
  background-color: #278bba;
  background: #278bba;
  background: -webkit-linear-gradient(to right, rgba(4, 13, 17, 0.25), #278bba 7%);
  background: -o-linear-gradient(to right, rgba(4, 13, 17, 0.25), #278bba 7%);
  background: -moz-linear-gradient(to right, rgba(4, 13, 17, 0.25), #278bba 7%);
  background: linear-gradient(to right, #1a5c7b 0%, #1e6b90 0%, #1e6b90 1%, #237ba5 4%, #278bba 99%);
}

.fieldNotes:nth-of-type(8) {
  color: #353333;
  transform: rotate(-1deg);
  z-index: -8;
  background-color: #bbdce3;
  background: #bbdce3;
  background: -webkit-linear-gradient(to right, rgba(61, 133, 149, 0.25), #bbdce3 7%);
  background: -o-linear-gradient(to right, rgba(61, 133, 149, 0.25), #bbdce3 7%);
  background: -moz-linear-gradient(to right, rgba(61, 133, 149, 0.25), #bbdce3 7%);
  background: linear-gradient(to right, #85c0cd 0%, #97c9d4 0%, #97c9d4 1%, #a9d3dc 4%, #bbdce3 99%);
}

.fieldNotes:nth-of-type(9) {
  color: #2477b0;
  transform: rotate(1deg);
  z-index: -9;
  background-color: #ff4743;
  background: #ff4743;
  background: -webkit-linear-gradient(to right, rgba(118, 3, 0, 0.25), #ff4743 7%);
  background: -o-linear-gradient(to right, rgba(118, 3, 0, 0.25), #ff4743 7%);
  background: -moz-linear-gradient(to right, rgba(118, 3, 0, 0.25), #ff4743 7%);
  background: linear-gradient(to right, #f60500 0%, #ff1510 0%, #ff1510 1%, #ff2e2a 4%, #ff4743 99%);
}

.fieldNotes:nth-of-type(10) {
  color: #3dd900;
  transform: rotate(-3deg);
  z-index: -10;
  background-color: #441f87;
  background: #441f87;
  background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.25), #441f87 7%);
  background: -o-linear-gradient(to right, rgba(0, 0, 0, 0.25), #441f87 7%);
  background: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.25), #441f87 7%);
  background: linear-gradient(to right, #251149 0%, #2f155e 0%, #2f155e 1%, #3a1a72 4%, #441f87 99%);
}

.fieldNotes:nth-of-type(11) {
  color: #f86900;
  transform: rotate(-3deg);
  z-index: -11;
  background-color: #67d400;
  background: #67d400;
  background: -webkit-linear-gradient(to right, rgba(4, 8, 0, 0.25), #67d400 7%);
  background: -o-linear-gradient(to right, rgba(4, 8, 0, 0.25), #67d400 7%);
  background: -moz-linear-gradient(to right, rgba(4, 8, 0, 0.25), #67d400 7%);
  background: linear-gradient(to right, #428800 0%, #4ea100 0%, #4ea100 1%, #5bbb00 4%, #67d400 99%);
}

.fieldNotes:nth-of-type(12) {
  color: #eaf3f5;
  transform: rotate(-1deg);
  z-index: -12;
  background-color: #ef9c31;
  background: #ef9c31;
  background: -webkit-linear-gradient(to right, rgba(78, 47, 6, 0.25), #ef9c31 7%);
  background: -o-linear-gradient(to right, rgba(78, 47, 6, 0.25), #ef9c31 7%);
  background: -moz-linear-gradient(to right, rgba(78, 47, 6, 0.25), #ef9c31 7%);
  background: linear-gradient(to right, #c4750f 0%, #dc8311 0%, #dc8311 1%, #ed9119 4%, #ef9c31 99%);
}

.fieldNotes:nth-of-type(13) {
  color: #eaf3f5;
  transform: rotate(1deg);
  z-index: -13;
  background-color: #f3cb2d;
  background: #f3cb2d;
  background: -webkit-linear-gradient(to right, rgba(79, 64, 5, 0.25), #f3cb2d 7%);
  background: -o-linear-gradient(to right, rgba(79, 64, 5, 0.25), #f3cb2d 7%);
  background: -moz-linear-gradient(to right, rgba(79, 64, 5, 0.25), #f3cb2d 7%);
  background: linear-gradient(to right, #c8a20b 0%, #e0b50d 0%, #e0b50d 1%, #f2c515 4%, #f3cb2d 99%);
}

.fieldNotes:nth-of-type(14) {
  color: #eaf3f5;
  transform: rotate(1deg);
  z-index: -14;
  background-color: #d75d4b;
  background: #d75d4b;
  background: -webkit-linear-gradient(to right, rgba(70, 23, 16, 0.25), #d75d4b 7%);
  background: -o-linear-gradient(to right, rgba(70, 23, 16, 0.25), #d75d4b 7%);
  background: -moz-linear-gradient(to right, rgba(70, 23, 16, 0.25), #d75d4b 7%);
  background: linear-gradient(to right, #af3827 0%, #c43f2b 0%, #c43f2b 1%, #d24a36 4%, #d75d4b 99%);
}

.fieldNotes:nth-of-type(15) {
  color: #c39d4d;
  transform: rotate(-1deg);
  z-index: -15;
  background-color: #245ea7;
  background: #245ea7;
  background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.25), #245ea7 7%);
  background: -o-linear-gradient(to right, rgba(0, 0, 0, 0.25), #245ea7 7%);
  background: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.25), #245ea7 7%);
  background: linear-gradient(to right, #163b68 0%, #1b467d 0%, #1b467d 1%, #1f5292 4%, #245ea7 99%);
}

.fieldNotes:nth-of-type(16) {
  color: #b0a04c;
  transform: rotate(-1deg);
  z-index: -16;
  background-color: #f6cb00;
  background: #f6cb00;
  background: -webkit-linear-gradient(to right, rgba(42, 35, 0, 0.25), #f6cb00 7%);
  background: -o-linear-gradient(to right, rgba(42, 35, 0, 0.25), #f6cb00 7%);
  background: -moz-linear-gradient(to right, rgba(42, 35, 0, 0.25), #f6cb00 7%);
  background: linear-gradient(to right, #aa8c00 0%, #c3a100 0%, #c3a100 1%, #ddb600 4%, #f6cb00 99%);
}

.fieldNotes:nth-of-type(17) {
  color: #c39d4d;
  transform: rotate(1deg);
  z-index: -17;
  background-color: #cd3c2b;
  background: #cd3c2b;
  background: -webkit-linear-gradient(to right, rgba(36, 11, 8, 0.25), #cd3c2b 7%);
  background: -o-linear-gradient(to right, rgba(36, 11, 8, 0.25), #cd3c2b 7%);
  background: -moz-linear-gradient(to right, rgba(36, 11, 8, 0.25), #cd3c2b 7%);
  background: linear-gradient(to right, #8e291e 0%, #a33022 0%, #a33022 1%, #b83627 4%, #cd3c2b 99%);
}

.fieldNotes:nth-of-type(18) {
  color: #eaf3f5;
  transform: rotate(1deg);
  z-index: -18;
  background-color: #a4714c;
  background: #a4714c;
  background: -webkit-linear-gradient(to right, rgba(25, 17, 11, 0.25), #a4714c 7%);
  background: -o-linear-gradient(to right, rgba(25, 17, 11, 0.25), #a4714c 7%);
  background: -moz-linear-gradient(to right, rgba(25, 17, 11, 0.25), #a4714c 7%);
  background: linear-gradient(to right, #704d34 0%, #81593c 0%, #81593c 1%, #936544 4%, #a4714c 99%);
}

.fieldNotes:nth-of-type(19) {
  color: #eaf3f5;
  transform: rotate(-3deg);
  z-index: -19;
  background-color: #474648;
  background: #474648;
  background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.25), #474648 7%);
  background: -o-linear-gradient(to right, rgba(0, 0, 0, 0.25), #474648 7%);
  background: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.25), #474648 7%);
  background: linear-gradient(to right, #212021 0%, #2e2d2e 0%, #2e2d2e 1%, #3a393b 4%, #474648 99%);
}

.fieldNotes:nth-of-type(20) {
  color: #a97954;
  transform: rotate(-3deg);
  z-index: -20;
  background-color: #edeeb3;
  background: #edeeb3;
  background: -webkit-linear-gradient(to right, rgba(172, 174, 39, 0.25), #edeeb3 7%);
  background: -o-linear-gradient(to right, rgba(172, 174, 39, 0.25), #edeeb3 7%);
  background: -moz-linear-gradient(to right, rgba(172, 174, 39, 0.25), #edeeb3 7%);
  background: linear-gradient(to right, #dee074 0%, #e3e589 0%, #e3e589 1%, #e8e99e 4%, #edeeb3 99%);
}

.fieldNotes:nth-of-type(21) {
  color: #666;
  transform: rotate(-1deg);
  z-index: -21;
  background-color: #151515;
  background: #151515;
  background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.25), #151515 7%);
  background: -o-linear-gradient(to right, rgba(0, 0, 0, 0.25), #151515 7%);
  background: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.25), #151515 7%);
  background: linear-gradient(to right, black 0%, black 0%, black 1%, #080808 4%, #151515 99%);
}

.fieldNotes:nth-of-type(22) {
  color: #cdcec9;
  transform: rotate(-3deg);
  z-index: -22;
  background-color: #f5f5f0;
  background: #f5f5f0;
  background: -webkit-linear-gradient(to right, rgba(163, 163, 118, 0.25), #f5f5f0 7%);
  background: -o-linear-gradient(to right, rgba(163, 163, 118, 0.25), #f5f5f0 7%);
  background: -moz-linear-gradient(to right, rgba(163, 163, 118, 0.25), #f5f5f0 7%);
  background: linear-gradient(to right, #d6d6c2 0%, #e1e1d1 0%, #e1e1d1 1%, #ebebe1 4%, #f5f5f0 99%);
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

.table {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eee;
  overflow-x: scroll;
  padding-left: calc(50vw - 37rem / 2);
  z-index: -100000;
}
.table:before {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  color: gainsboro;
  text-shadow: 0.1rem 0.1rem white;
  content: "Thick Lines. Tiny Ideas.";
  font-size: 2.5rem;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.wrapper:before {
  position: fixed;
  top: 3vh;
  right: 3vw;
  color: #bbbbbb;
  text-shadow: 0.1rem 0.1rem white;
  content: "A Tribute to Field Notes. Scroll Sideways.";
  font-size: 2.5rem;
}

.fieldNotes {
  min-width: 37rem;
  width: 37rem;
  height: 58.46rem;
  margin: 0 10rem 0 0;
  border-radius: 0.666rem;
  border-top-right-radius: 4.07rem;
  border-bottom-right-radius: 4.07rem;
  box-shadow: 0.5rem 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.3), inset -0.1rem -0.1rem 15rem rgba(255, 255, 255, 0.05);
}

.title {
  padding: 7.4rem 0 0 0;
  font-size: 5.55rem;
  letter-spacing: 0.555rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.description {
  padding: 5.55rem 0 0 0;
  font-size: 1.295rem;
  letter-spacing: 0.111rem;
  text-align: center;
}

.binding {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -0.185rem;
}
.binding .staple {
  position: absolute;
  height: 4.81rem;
  width: 0.37rem;
  background: #1e5799;
  background: -moz-linear-gradient(left, #1e5799 0%, #207cca 0%, #207cca 0%, #999999 0%, #bbbbbb 19%, #aaaaaa 28%, #dddddd 48%, #999999 84%, #777777 92%);
  background: -webkit-linear-gradient(left, #1e5799 0%, #207cca 0%, #207cca 0%, #999999 0%, #bbbbbb 19%, #aaaaaa 28%, #dddddd 48%, #999999 84%, #777777 92%);
  background: linear-gradient(to right, #1e5799 0%, #207cca 0%, #207cca 0%, #999999 0%, #bbbbbb 19%, #aaaaaa 28%, #dddddd 48%, #999999 84%, #777777 92%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#777777',GradientType=1 );
  box-shadow: 0.05rem 0rem 0.1rem 0rem rgba(0, 0, 0, 0.3);
}
.binding .staple:nth-of-type(1) {
  top: 4.6768rem;
}
.binding .staple:nth-of-type(2) {
  top: 26.825rem;
}
.binding .staple:nth-of-type(3) {
  bottom: 4.6768rem;
}

.pencil {
  min-width: 40rem;
  display: flex;
  height: 3rem;
  margin-right: 10rem;
}
.pencil .tip {
  flex-grow: 1;
  border-top: solid 1.5rem transparent;
  border-bottom: solid 1.5rem transparent;
  border-right: solid 5rem #f5f5f5;
}
.pencil .body {
  background-color: #222;
  flex-grow: 5;
}
.pencil .eraser {
  background-color: blue;
  flex-grow: .5;
}
