<html ng-app="main" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="/stylesheets/leaflet.css"/>
    <div th:include="fragments/includes :: includes(false)" th:remove="tag"></div>
</head>
<body style="padding: 0px;">
<div>
    <nav>
        <div class="nav-wrapper white">
            <a href="#" class="brand-logo">BT - My Bikes</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>
</div>
<main>
    <!--<div class="container">-->
    <div class="row" style="padding-top:15px; margin-bottom:0px">

        <div class="col s12 m4 l4 center">

            <div class="card green lighten-4 z-depth-4" style="margin-top:0px">
                <div class="card-content black-text">
                    <span class="card-title center">Oliver's Bike</span>
                    <div class="row">
                        <div class="col s12">
                            Inner Ring Road Leeds England LS2 8BQ
                        </div>
                    </div>
                </div>
                <div class="fixed-action-btn toolbar active green lighten-3" data-open="true"
                     style="text-align: center;
                            width: 100%; bottom: 0px; left: 0px; transition:
                            transform 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53), background-color 0s linear 0.2s; overflow:
                            hidden;
                            position:relative;">
                    <ul>
                        <li class="waves-effect waves-light"><a href="#!" style="opacity: 1;"><i class="material-icons">lock_open</i></a>
                        </li>
                        <li class="waves-effect waves-light"><a href="#!" style="opacity: 1;"><i class="material-icons">my_location</i></a>
                        </li>
                        <li class="waves-effect waves-light"><a href="#!" style="opacity: 1;"><i class="material-icons">navigation</i></a>
                        </li>
                        <li class="waves-effect waves-light"><a href="#!" style="opacity: 1;"><i class="material-icons">settings</i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card red lighten-3 z-depth-4" style="margin-top:0px">
                <div class="card-content black-text">
                    <span class="card-title center">Nathan's Bike</span>
                    <div class="row">
                        <div class="col s12">
                            Inner Ring Road Leeds England LS2 8BQ
                        </div>
                    </div>
                </div>
                <div class="fixed-action-btn toolbar active red lighten-2" data-open="true"
                     style="text-align: center;
                            width: 100%; bottom: 0px; left: 0px; transition:
                            transform 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53), background-color 0s linear 0.2s; overflow:
                            hidden;
                            position:relative;">
                    <ul>
                        <li class="waves-effect waves-light"><a href="#!" style="opacity: 1;"><i class="material-icons">lock_outline</i></a>
                        </li>
                        <li class="waves-effect waves-light"><a href="#!" style="opacity: 1;"><i class="material-icons">my_location</i></a>
                        </li>
                        <li class="waves-effect waves-light"><a href="#!" style="opacity: 1;"><i class="material-icons">navigation</i></a>
                        </li>
                        <li class="waves-effect waves-light"><a href="#!" style="opacity: 1;"><i class="material-icons">settings</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12 m8 l8">
            <map-directive class="z-depth-5"></map-directive>
        </div>
    </div>
    <!--</div>-->
</main>

<script src="/javascripts/angular/angular.js"></script>
<script src="/javascripts/angular/angular-leaflet-directive.js"></script>
<script src="/javascripts/leaflet.js"></script>
<script src="/javascripts/angular/app.js"></script>
<script src="/javascripts/angular/bike-location.js"></script>

<div th:include="fragments/scripts :: scripts"></div>


</body>
</html>