/* line 1, ../sass/style.scss */
body {
  background-color: #F8F8F8;
  color: #333;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

/* line 8, ../sass/style.scss */
#quote-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 15, ../sass/style.scss */
#quote {
  width: 600px;
  padding: 20px;
  line-height: 2.5em;
}

/* line 21, ../sass/style.scss */
#quote-text {
  font-family: 'Droid Serif', serif;
  font-size: 2em;
}

/* line 26, ../sass/style.scss */
#quote-author {
  text-align: right;
  font-size: 1em;
}

/* line 31, ../sass/style.scss */
#tweet {
  float: left;
}

/* line 35, ../sass/style.scss */
#get-new-quote {
  float: right;
}

/* line 39, ../sass/style.scss */
button {
  background-color: #F8F8F8;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 8px;
  color: #333;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 640px) {
  /* line 50, ../sass/style.scss */
  #quote {
    width: 100%;
  }

  /* line 53, ../sass/style.scss */
  #quote-container {
    min-width: 320px;
  }

  /* line 56, ../sass/style.scss */
  #quote-text {
    font-size: 1.5em;
  }
}
@media screen and (max-height: 480px) {
  /* line 62, ../sass/style.scss */
  #quote-container {
    margin-top: 20px;
    align-items: flex-start;
  }
}
