<div class="newest-galleries">

    <div class="newest-galleries__title">Newest galleries</div>

    <div class="newest-galleries__container">
        {% for gallery in galleries %}
            <div class="newest-galleries__item">
                {% include 'gallery/partials/gallery-list-item.html.twig' %}
            </div>
        {% endfor %}
    </div>
</div>