<div class="related-galleries">

    <div class="related-galleries__title">Related galleries</div>

    <div class="related-galleries__container">
        {% for gallery in galleries %}
            {% include 'gallery/partials/gallery-list-item.html.twig' %}
        {% endfor %}
    </div>
</div>