* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.gallery {
	width: 100%;
	height: auto;
}

.gallery li {
	width: 25%;
	position: relative;
	float: left;
	overflow: hidden;
}

.transform {
	-webkit-transition: all .25s cubic-bezier(.2, .31, .36, 1);
       -moz-transition: all .25s cubic-bezier(.2, .31, .36, 1);
	     -o-transition: all .25s cubic-bezier(.2, .31, .36, 1);
	        transition: all .25s cubic-bezier(.2, .31, .36, 1);
}

.gallery a {
	width: 100%;
	height: 100%;
	display: block;
}

.gallery img {
	position: relative;
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.gallery .info {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	background: #B1C5F0;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-transform: translateZ(0);
   	        transform: translateZ(0);
}

.gallery .title {
	font-weight: bold;
	font-size: 20px;
    color: rgb(43, 43, 43);
    position: relative;
    top: 45%;
}