<!DOCTYPE html>
<html lang="{{ html_lang|default('en') }}">
  <head>
    <meta charset="utf-8" />
    <title>{% block page_title %}Tortoise GPS{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset_path }}stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    {% block head %}{% endblock %}
  </head>
  <body class="{% block body_classes %}{% endblock %}">
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Tortoise GPS</a>
        </div>
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <script src="{{ asset_path }}javascripts/jquery-1.11.3.js"></script>
    <script src="{{ asset_path }}javascripts/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
