<script src="/public/codemirror/lib/codemirror.js"></script>
<script src="/public/codemirror/mode/markdown/markdown.js"></script>
<script src="/public/codemirror/mode/xml/xml.js"></script>
<script src="/public/javascripts/vendor/details.polyfill.js"></script>
<script src="/public/javascripts/vendor/dialog.polyfill.0.4.3.js"></script>
<script src="/public/javascripts/vendor/jquery-1.11.3.js"></script>
<script src="/public/highlight-within-textarea/jquery.highlight-within-textarea.js"></script>
<script src="/public/javascripts/vendor/jquery.ba-throttle-debounce.js"></script>
<script src="/public/javascripts/vendor/modal-dialog.js"></script>
<script src="/public/javascripts/vendor/accessible-autocomplete.js"></script>
<script src="/public/javascripts/vendor/govuk-government-organisations-autocomplete.js"></script>
<script src="/public/javascripts/vendor/show-hide-content.js"></script>
<script src="/public/javascripts/vendor/modules.js"></script>
<script src="/public/javascripts/modules/live-content-check.js"></script>
<script src="/public/javascripts/modules/slug-from-title.js"></script>
<script src="/public/javascripts/modules/fake-filename-from-title.js"></script>
<script src="/public/javascripts/modules/select-tags.js"></script>
<script src="/public/javascripts/modules/edge.js"></script>
<script src="/public/javascripts/modules/toggle.js"></script>
<script src="/public/javascripts/modules/live-preview.js"></script>
<script src="/public/javascripts/modules/attachment-insert.js"></script>
<script src="/public/javascripts/modules/toggle-markdown-preview.js"></script>
<script src="/public/javascripts/application.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
