{%
  set options = [
    "Transport",
    "Transport > Driving and road transport",
    "Transport > Driving and road transport > Driving instruction and driving lessons",
    "Transport > Driving and road transport > Driving instruction and driving lessons > Approved Driving Instructor registration and renewals",
    "Transport > Driving and road transport > Driving instruction and driving lessons > Approved driving instructors and schools",
    "Transport > Driving and road transport > Driving instruction and driving lessons > Driving examination",
    "Transport > Driving and road transport > Driving instruction and driving lessons > Driving instructor standards and conduct",
    "Transport > Driving and road transport > Driving instruction and driving lessons > Professional development for approved driving instructors",
    "Transport > Driving and road transport > Driving instruction and driving lessons > Driving, motorcycle and LGV instructor qualification process",
    "Transport > Driving and road transport > Professional driving of LGV, HGV and PSV",
    "Transport > Driving and road transport > Professional driving of LGV, HGV and PSV > Drivers' hours for passenger carrying vehicles",
    "Transport > Driving and road transport > Professional driving of LGV, HGV and PSV > HGV road user levy",
    "Transport > Driving and road transport > Professional driving of LGV, HGV and PSV > EU and international driving rules",
    "Transport > Driving and road transport > Professional driving of LGV, HGV and PSV > Drivers' hours for goods vehicles",
    "Transport > Driving and road transport > Professional driving of LGV, HGV and PSV > CPC training",
    "Transport > Driving and road transport > Traffic and congestion",
    "Transport > Driving and road transport > Road transport and the environment",
    "Transport > Driving and road transport > Road transport and the environment > Emission testing",
    "Transport > Driving and road transport > Road transport and the environment > Low emission and electric vehicles",
    "Transport > Driving and road transport > Road transport and the environment > Low emission and electric vehicles > Funding and grants for low emission vehicles",
    "Transport > Driving and road transport > Road transport and the environment > Low emission and electric vehicles > Chargepoints for low emission and electric vehicles",
    "Transport > Driving and road transport > Road transport and the environment > Renewable fuels",
    "Transport > Driving and road transport > Road safety, driving rules and penalties",
    "Transport > Driving and road transport > Road safety, driving rules and penalties > Road accidents",
    "Transport > Driving and road transport > Road safety, driving rules and penalties > Driving and medical conditions",
    "Transport > Driving and road transport > Road safety, driving rules and penalties > Driving and mobile phones",
    "Transport > Driving and road transport > Road safety, driving rules and penalties > Seat belts",
    "Transport > Driving and road transport > Road safety, driving rules and penalties > Speeding",
    "Transport > Driving and road transport > Road safety, driving rules and penalties > Penalty points, fines and driving bans",
    "Transport > Driving and road transport > Road safety, driving rules and penalties > Drink and drug driving",
    "Transport > Driving and road transport > Vans and minibuses",
    "Transport > Driving and road transport > Vehicle registration numbers",
    "Transport > Driving and road transport > Cycling and walking",
    "Transport > Driving and road transport > Autonomous road vehicles",
    "Transport > Driving and road transport > Vehicle ownership",
    "Transport > Driving and road transport > Vehicle ownership > Written off vehicles",
    "Transport > Driving and road transport > Vehicle ownership > Driver and vehicle record",
    "Transport > Driving and road transport > Vehicle ownership > Vehicle export and import",
    "Transport > Driving and road transport > Vehicle ownership > Vehicle tax",
    "Transport > Driving and road transport > Vehicle ownership > Vehicle insurance",
    "Transport > Driving and road transport > Vehicle ownership > Scrapping a vehicle",
    "Transport > Driving and road transport > Vehicle ownership > MOTs (car and motorcycle)",
    "Transport > Driving and road transport > Vehicle ownership > MOTs (car and motorcycle) > MOT status of a vehicle",
    "Transport > Driving and road transport > Vehicle ownership > MOTs (car and motorcycle) > MOT complaints",
    "Transport > Driving and road transport > Vehicle ownership > MOTs (car and motorcycle) > MOT certificate replacement",
    "Transport > Driving and road transport > Vehicle ownership > MOTs (car and motorcycle) > Getting an MOT",
    "Transport > Driving and road transport > Vehicle ownership > Buying selling and registering a vehicle",
    "Transport > Driving and road transport > Vehicle approval and standards",
    "Transport > Driving and road transport > Vehicle approval and standards > Providing MOT tests",
    "Transport > Driving and road transport > Vehicle approval and standards > Individual vehicle approval",
    "Transport > Driving and road transport > Vehicle approval and standards > Towing",
    "Transport > Driving and road transport > Vehicle approval and standards > Public service vehicles standards and checks",
    "Transport > Driving and road transport > Vehicle approval and standards > Vehicle recalls",
    "Transport > Driving and road transport > Vehicle approval and standards > Motorcycle type approval",
    "Transport > Driving and road transport > Vehicle approval and standards > Modification",
    "Transport > Driving and road transport > Vehicle approval and standards > Manufacturing vehicles",
    "Transport > Driving and road transport > Vehicle approval and standards > HGV standards and vehicle checks",
    "Transport > Driving and road transport > Vehicle approval and standards > Annual vehicle tests",
    "Transport > Driving and road transport > Transport businesses and vehicle operators (including licencing)",
    "Transport > Driving and road transport > Transport businesses and vehicle operators (including licencing) > Employing drivers",
    "Transport > Driving and road transport > Transport businesses and vehicle operators (including licencing) > CPC training centres",
    "Transport > Driving and road transport > Transport businesses and vehicle operators (including licencing) > Tachograph systems and centres",
    "Transport > Driving and road transport > Transport businesses and vehicle operators (including licencing) > Vehicle operator licences",
    "Transport > Driving and road transport > Transport businesses and vehicle operators (including licencing) > Vehicle operator licences > Taxi and private hire vehicle licencing",
    "Transport > Driving and road transport > Transport businesses and vehicle operators (including licencing) > Vehicle operator licences > Public service vehicles licencing",
    "Transport > Driving and road transport > Transport businesses and vehicle operators (including licencing) > Vehicle operator licences > HGV and goods carriage vehicle licencing",
    "Transport > Driving and road transport > Transport businesses and vehicle operators (including licencing) > Speed limiter centres",
    "Transport > Driving and road transport > Transport businesses and vehicle operators (including licencing) > Fleet management",
    "Transport > Driving and road transport > Driving licences",
    "Transport > Driving and road transport > Driving licences > Driving in the UK",
    "Transport > Driving and road transport > Driving licences > Driving licence applications and renewals",
    "Transport > Driving and road transport > Driving licences > Personal driving licence information",
    "Transport > Driving and road transport > Driving licences > Driving licences and medical conditions",
    "Transport > Driving and road transport > Driving licences > Foreign driving licences",
    "Transport > Driving and road transport > Driving licences > Driving licence categories",
    "Transport > Driving and road transport > Driving licences > Driving abroad",
    "Transport > Driving and road transport > Driving and motorcycle tests",
    "Transport > Driving and road transport > Driving and motorcycle tests > Motorcycle training",
    "Transport > Driving and road transport > Driving and motorcycle tests > Driving tests for other vehicles",
    "Transport > Driving and road transport > Driving and motorcycle tests > Lorry, bus and coach driving tests",
    "Transport > Driving and road transport > Driving and motorcycle tests > Practical motorcycle riding tests",
    "Transport > Driving and road transport > Driving and motorcycle tests > Practical motorcycle riding tests > Motorcycle test centres",
    "Transport > Driving and road transport > Driving and motorcycle tests > Practical motorcycle riding tests > Motorcycle riding test preparation",
    "Transport > Driving and road transport > Driving and motorcycle tests > Practical motorcycle riding tests > Motorcycle riding test bookings",
    "Transport > Driving and road transport > Driving and motorcycle tests > Practical motorcycle riding tests > During a motorcycle riding test",
    "Transport > Driving and road transport > Driving and motorcycle tests > Practical car driving tests",
    "Transport > Driving and road transport > Driving and motorcycle tests > Practical car driving tests > Practical car driving test bookings",
    "Transport > Driving and road transport > Driving and motorcycle tests > Practical car driving tests > During a car driving test",
    "Transport > Driving and road transport > Driving and motorcycle tests > Practical car driving tests > Driving test centres",
    "Transport > Driving and road transport > Driving and motorcycle tests > Practical car driving tests > Car driving test preparation",
    "Transport > Driving and road transport > Driving and motorcycle tests > Theory tests",
    "Transport > Driving and road transport > Driving and motorcycle tests > Theory tests > Theory test centres",
    "Transport > Driving and road transport > Driving and motorcycle tests > Theory tests > Theory test bookings",
    "Transport > Driving and road transport > Driving and motorcycle tests > Theory tests > Motorcycle theory tests",
    "Transport > Driving and road transport > Driving and motorcycle tests > Theory tests > Driving theory tests",
    "Transport > Transport modelling and appraisal",
    "Transport > Aviation",
    "Transport > Aviation > Air passenger duty",
    "Transport > Aviation > General aviation",
    "Transport > Aviation > Air routes",
    "Transport > Aviation > Aviation and Europe",
    "Transport > Aviation > Surface access to airports",
    "Transport > Aviation > Aviation passenger experience",
    "Transport > Aviation > Aviation forecasts",
    "Transport > Aviation > Night flights",
    "Transport > Aviation > New aviation technology",
    "Transport > Aviation > New aviation technology > Spaceflight",
    "Transport > Aviation > New aviation technology > Drones",
    "Transport > Aviation > Air accidents",
    "Transport > Aviation > Aviation and the environment",
    "Transport > Aviation > Aviation safety and security",
    "Transport > Aviation > Aviation legislation and regulation",
    "Transport > Aviation > Airport capacity and expansion",
    "Transport > Aviation > Air navigation",
    "Transport > Local transport",
    "Transport > Local transport > Travel passes and concessions",
    "Transport > Local transport > Local transport and the environment",
    "Transport > Local transport > Light rail and trams",
    "Transport > Local transport > Inland water boats",
    "Transport > Local transport > Local transport funding",
    "Transport > Local transport > Funicular railway (cable cars)",
    "Transport > Local transport > Tube",
    "Transport > Local transport > Buses",
    "Transport > Local transport > Buses > Buses and the environment",
    "Transport > Local transport > Buses > Bus service registration and permits",
    "Transport > Local transport > Buses > Bus security",
    "Transport > Local transport > Buses > Bus funding",
    "Transport > Local transport > Buses > Improvements to buses",
    "Transport > Local transport > Buses > Bus service performance",
    "Transport > Local transport > Buses > Bus routes",
    "Transport > Local transport > Buses > Bus passenger experience",
    "Transport > Local transport > Buses > Bus accessibility",
    "Transport > Transport and the environment (cross-modal)",
    "Transport > Road infrastructure",
    "Transport > Road infrastructure > Road maintenance",
    "Transport > Road infrastructure > Animals on roads",
    "Transport > Road infrastructure > Traffic cameras",
    "Transport > Road infrastructure > Roads and the environment",
    "Transport > Road infrastructure > Advice for drivers",
    "Transport > Road infrastructure > Speed limits",
    "Transport > Road infrastructure > Road tolls and charges",
    "Transport > Road infrastructure > Road improvement and investment",
    "Transport > Road infrastructure > Road improvement and investment > Improved road surface",
    "Transport > Road infrastructure > Road improvement and investment > Major roads",
    "Transport > Road infrastructure > Road improvement and investment > Local roads",
    "Transport > Road infrastructure > Road improvement and investment > Motorways",
    "Transport > Road infrastructure > Road improvement and investment > Making roads safer",
    "Transport > Road infrastructure > Smart motorways",
    "Transport > Road infrastructure > Parking",
    "Transport > Road infrastructure > Traffic signs, signals and markings",
    "Transport > Road infrastructure > Roadworks and streetworks",
    "Transport > Road infrastructure > Roadworks and streetworks > Weekend closures",
    "Transport > Road infrastructure > Roadworks and streetworks > Planned roadworks",
    "Transport > Road infrastructure > Roadworks and streetworks > Road closures",
    "Transport > Road infrastructure > Roadworks and streetworks > Overnight works",
    "Transport > Road infrastructure > Roadworks and streetworks > Property affected by roadworks and streetworks",
    "Transport > Transport accessibility and mobility",
    "Transport > Transport accessibility and mobility > Taxi and private hire accessibility",
    "Transport > Transport accessibility and mobility > Mobility scooters and wheelchairs",
    "Transport > Transport accessibility and mobility > Help on public transport",
    "Transport > Transport accessibility and mobility > Blue badges",
    "Transport > Rail",
    "Transport > Rail > Rail network",
    "Transport > Rail > Rail interoperability",
    "Transport > Rail > Rolling stock (passenger trains)",
    "Transport > Rail > Rail ticketing and fares",
    "Transport > Rail > Crossrail",
    "Transport > Rail > Rail infrastructure",
    "Transport > Rail > Rail safety and security",
    "Transport > Rail > Rail accessibility",
    "Transport > Rail > Rail stations",
    "Transport > Rail > Rail passenger experience",
    "Transport > Rail > Rail franchising",
    "Transport > Rail > Rail franchising > Rail franchise procurement",
    "Transport > Rail > Rail franchising > Rail franchise public register",
    "Transport > Rail > Rail accidents",
    "Transport > Rail > HS2",
    "Transport > Rail > HS2 > HS2 environment",
    "Transport > Rail > HS2 > HS2 corporate",
    "Transport > Rail > HS2 > HS2 planning",
    "Transport > Rail > HS2 > HS2 planning > HS2 planning (routes and maps)",
    "Transport > Rail > HS2 > HS2 planning > HS2 planning forums",
    "Transport > Rail > HS2 > HS2 business case",
    "Transport > Rail > HS2 > HS2 business case > HS2 strategic case",
    "Transport > Rail > HS2 > HS2 business case > HS2 economic case",
    "Transport > Rail > HS2 > HS2 property",
    "Transport > Rail > HS2 > HS2 property > HS2 property maps",
    "Transport > Rail > HS2 > HS2 property > HS2 property compensation schemes",
    "Transport > Rail > HS2 > HS2 safety and security",
    "Transport > Rail > HS2 > HS2 construction and engineering",
    "Transport > Rail > HS2 > HS2 supply chain",
    "Transport > Rail > HS2 > HS2 costs",
    "Transport > Rail > HS2 > HS2 stations",
    "Transport > Rail > HS2 > HS2 stakeholder and community engagement",
    "Transport > Rail > HS2 > HS2 phase two",
    "Transport > Rail > HS2 > HS2 phase two > HS2 phase 2a",
    "Transport > Rail > HS2 > HS2 phase two > HS2 phase 2b",
    "Transport > Rail > HS2 > HS2 phase one",
    "Transport > Rail > HS2 > HS2 legislation",
    "Transport > Rail > HS2 > HS2 design",
    "Transport > Rail > HS2 > HS2 additional provisions",
    "Transport > Rail > Environmental impact of rail",
    "Transport > Rail > Community rail",
    "Transport > Maritime",
    "Transport > Maritime > UK sea passengers",
    "Transport > Maritime > UK sea passengers > UK international sea passengers",
    "Transport > Maritime > UK sea passengers > UK domestic sea passengers",
    "Transport > Maritime > Maritime passenger rights",
    "Transport > Maritime > Waterways (maritime)",
    "Transport > Maritime > Maritime accidents and wrecks",
    "Transport > Maritime > Ports, harbours and other installations",
    "Transport > Maritime > Maritime safety",
    "Transport > Maritime > Maritime and the environment",
    "Transport > Maritime > Maritime security",
    "Transport > Maritime > Shipping",
    "Transport > Maritime > Shipping > Safe and compliant operation of vessels",
    "Transport > Maritime > Shipping > Maritime navigation",
    "Transport > Maritime > Shipping > Ship crew training and certification",
    "Transport > Maritime > Shipping > Ship crew training and certification > Seafarer examinations",
    "Transport > Maritime > Shipping > Ship crew training and certification > Seafarer certification",
    "Transport > Maritime > Shipping > Ship crew training and certification > Support for maritime training (SMarT)",
    "Transport > Maritime > Shipping > Ship crew training and certification > Maritime training courses",
    "Transport > Maritime > Shipping > Ship crew training and certification > Maritime licences",
    "Transport > Maritime > Shipping > Vessel registration",
    "Transport > Maritime > Shipping > Vessel registration > Pleasure boat registration ",
    "Transport > Maritime > Shipping > Vessel registration > Passenger vessel registration",
    "Transport > Maritime > Shipping > Vessel registration > Fishing vessel registration",
    "Transport > Maritime > Shipping > Vessel registration > Emergency position-indicators radio beacon stations (EPIRBS)",
    "Transport > Maritime > Shipping > Vessel registration > Yachts registration",
    "Transport > Maritime > Shipping > Vessel registration > Merchant vessel registration",
    "Transport > Maritime > Shipping > Vessel design",
    "Transport > Maritime > Shipping > Vessel design > Pleasure boat design",
    "Transport > Maritime > Shipping > Vessel design > Fishing vessel design",
    "Transport > Maritime > Shipping > Vessel design > Merchant vessel design",
    "Transport > Maritime > Shipping > Vessel design > Passenger vessel design",
    "Transport > Maritime > Shipping > Vessel design > Leisure boat design",
    "Transport > Maritime > Shipping > Maritime surveying",
    "Transport > Maritime > Shipping > Ship equipment",
    "Transport > Maritime > Shipping > Ship equipment > Maritime radio (GMDSS)",
    "Transport > Maritime > Shipping > Ship equipment > Vessel log books",
    "Transport > Maritime > Shipping > Ship equipment > Enclosed space",
    "Transport > Maritime > Shipping > Ship equipment > Life saving appliances (LSA)",
    "Transport > Maritime > Shipping > Ship crew management ",
    "Transport > Maritime > Shipping > Ship crew management  > Ship crew health and safety",
    "Transport > Maritime > Shipping > Ship crew management  > Employment of seafarers",
    "Transport > Maritime > Shipping > Ship crew management  > Nautical approved doctors",
    "Transport > Maritime > Shipping > Ship crew management  > Ship crew accomodation",
    "Transport > Maritime > Maritime enforcement",
    "Transport > Maritime > Maritime enforcement > Vessel detentions",
    "Transport > Maritime > Maritime enforcement > Port state control",
    "Transport > Maritime > Fishing",
    "Transport > Maritime > Coastguard search and rescue",
    "Transport > Transport planning",
    "Transport > Transport planning > Reliability of journeys",
    "Transport > Transport planning > Transport connectivity",
    "Transport > Transport planning > Journey times",
    "Transport > Transport security",
    "Transport > Freight and cargo",
    "Transport > Freight and cargo > Air freight and cargo",
    "Transport > Freight and cargo > Rail freight and cargo",
    "Transport > Freight and cargo > Road freight and cargo",
    "Transport > Freight and cargo > Vessel cargo",
    "Transport > Freight and cargo > Transport of dangerous goods",
    "Transport > Freight and cargo > Transport of dangerous goods > Dangerous goods classification",
    "Transport > Freight and cargo > Transport of dangerous goods > Secure transport of dangerous goods",
    "Transport > Freight and cargo > Transport of dangerous goods > Safe transport of dangerous goods",
    "Transport > Freight and cargo > Transport of dangerous goods > Safe transport of dangerous goods > Safe transport of dangerous goods by sea",
    "Transport > Freight and cargo > Transport of dangerous goods > Safe transport of dangerous goods > Safe transport of dangerous goods by air",
    "Transport > Freight and cargo > Transport of dangerous goods > Safe transport of dangerous goods > Safe transport of dangerous goods by rail",
    "Transport > Freight and cargo > Transport of dangerous goods > Safe transport of dangerous goods > Safe transport of dangerous goods by road",
    "Transport > Transport corporate information",
    "Transport > Transport corporate information > Ministerial gifts, hospitality, meetings and overseas travel (transport)",
    "Transport > Transport corporate information > Departmental spend (transport)",
    "Transport > Transport corporate information > Departmental staff numbers and costs (transport)",
    "Transport > Careers in transport",
    "Defence",
    "Defence and armed forces > Nuclear disarmament",
    "Defence and armed forces > Armed forces",
    "Defence and armed forces > Support services for veterans and their families",
    "Defence and armed forces > Support services for veterans and their families > Welfare and support",
    "Defence and armed forces > Support services for veterans and their families > Service records and medals",
    "Defence and armed forces > Support services for veterans and their families > Pensions and compensation",
    "Defence and armed forces > Support services for veterans and their families > Employment",
    "Defence and armed forces > Support services for military and defence personnel and their families",
    "Defence and armed forces > Support services for military and defence personnel and their families > Welfare and support",
    "Defence and armed forces > Support services for military and defence personnel and their families > Service complaints",
    "Defence and armed forces > Support services for military and defence personnel and their families > Security ",
    "Defence and armed forces > Support services for military and defence personnel and their families > Pensions and compensation",
    "Defence and armed forces > Support services for military and defence personnel and their families > Housing and accommodation",
    "Defence and armed forces > Support services for military and defence personnel and their families > Finance",
    "Defence and armed forces > Support services for military and defence personnel and their families > Employment",
    "Defence and armed forces > Support services for military and defence personnel and their families > Education",
    "Defence and armed forces > Support services for military and defence personnel and their families > Armed forces covenant",
    "Defence and armed forces > Support services for military and defence personnel and their families > British Forces Post Office",
    "Defence and armed forces > Military awards and commemorations",
    "Defence and armed forces > Military awards and commemorations > Veterans",
    "Defence and armed forces > Military awards and commemorations > Medals",
    "Defence and armed forces > Military awards and commemorations > Honours and awards",
    "Defence and armed forces > Ministry of Defence estate",
    "Defence and armed forces > Ministry of Defence estate > Sale of land",
    "Defence and armed forces > Ministry of Defence estate > Public access",
    "Defence and armed forces > Ministry of Defence estate > Military crash sites",
    "Defence and armed forces > Ministry of Defence estate > Film locations",
    "Defence and armed forces > Ministry of Defence estate > Environment",
    "Defence and armed forces > Ministry of Defence estate > Art collection",
    "Defence and armed forces > Military recruitment, training and operations",
    "Defence and armed forces > Military recruitment, training and operations > Training",
    "Defence and armed forces > Military recruitment, training and operations > Recruitment",
    "Defence and armed forces > Military recruitment, training and operations > Operations",
    "Defence and armed forces > Military equipment, logistics and technology",
    "Defence and armed forces > Military equipment, logistics and technology > Standards and resources",
    "Defence and armed forces > Military equipment, logistics and technology > Industry",
    "Defence and armed forces > Military equipment, logistics and technology > Equipment and logistics",
    "Defence and armed forces > Armed Forces Covenant",
    "Defence and armed forces > Stability in the Western Balkans",
    "Defence and armed forces > Afghanistan",
    "Defence and armed forces > Armed forces and Ministry of Defence reform",
    "Defence and armed forces > Armed Forces Covenant [P]",
    "Defence and armed forces > International defence commitments [P]",
    "Defence and armed forces > Armed forces support for activities in the UK [P]",
    "Defence and armed forces > UK nuclear deterrent [P]",
    "Defence and armed forces > Weapons proliferation [P]",
    "Government",
    "Government > Government spending",
    "Government > Public sector land use",
    "Government > Voting",
    "Government > Brexit",
    "Government > European Union laws and regulation",
    "Government > Legislative process",
    "Government > Public services",
    "Government > Civil service reform",
    "Government > Cyber security",
    "Government > National security",
    "Government > National security > Emergency planning",
    "Government > Fire prevention and rescue",
    "Government > Constitutional affairs",
    "Government > European single market",
    "Government > Deficit reduction",
    "Government > Major project management",
    "Government > Screening and quality assurance (all programmes)",
    "Government > Screening and quality assurance (all programmes) > Quality assurance resources",
    "Government > Screening and quality assurance (all programmes) > Population screening",
    "Government > European funds",
    "Government > Land Registration Data ",
    "Government > Land Registration Data > A to Z",
    "Government > Content and publishing",
    "Government > Technology guidance",
    "Government > Technology guidance > User research",
    "Government > Technology guidance > Telecommunications",
    "Government > Technology guidance > Smarter working",
    "Government > Technology guidance > Talent acquisition",
    "Government > Technology guidance > Risk management",
    "Government > Technology guidance > Public Service Network (PSN)",
    "Government > Technology guidance > Performance platform",
    "Government > Technology guidance > Phishing",
    "Government > Technology guidance > Passwords",
    "Government > Technology guidance > Open source",
    "Government > Technology guidance > Open standards",
    "Government > Technology guidance > Managing government websites",
    "Government > Technology guidance > Job roles",
    "Government > Technology guidance > Legacy",
    "Government > Technology guidance > Networking",
    "Government > Technology guidance > Identity assurance",
    "Government > Technology guidance > Hosting your service",
    "Government > Technology guidance > Green technology",
    "Government > Technology guidance > GovWifi",
    "Government > Technology guidance > GOV.UK Pay",
    "Government > Technology guidance > GOV.UK Verify",
    "Government > Technology guidance > GOV.UK Registers",
    "Government > Technology guidance > GOV.UK Proposition",
    "Government > Technology guidance > GOV.UK Platform as a Service (PaaS)",
    "Government > Technology guidance > GOV.UK Notify",
    "Government > Technology guidance > Email",
    "Government > Technology guidance > Digital Service Standard",
    "Government > Technology guidance > End user devices",
    "Government > Technology guidance > Digital transformation",
    "Government > Technology guidance > Digital outcomes and specialists framework",
    "Government > Technology guidance > Digital service security",
    "Government > Technology guidance > Digital inclusion",
    "Government > Technology guidance > Digital Marketplace",
    "Government > Technology guidance > Data provisioning and usage",
    "Government > Technology guidance > Design principles",
    "Government > Technology guidance > Data protection",
    "Government > Technology guidance > Cyber security",
    "Government > Technology guidance > Buying technology",
    "Government > Technology guidance > Cloud strategy",
    "Government > Technology guidance > Cloud security",
    "Government > Technology guidance > Application development",
    "Government > Technology guidance > APIs",
    "Government > Technology guidance > Accessibility",
    "Government > Government funding programmes",
    "Government > Europe [PA] (Level 2 Government theme)",
    "Government > Emergency preparation, response and recovery",
    "Government > Government efficiency, transparency and accountability",
    "Money",
    "Money > Expenses and employee benefits",
    "Money > Court claims, debt and bankruptcy",
    "Money > Business tax",
    "Money > Business tax > Life insurance policies",
    "Money > Business tax > IR35: working through an intermediary",
    "Money > Business tax > IR35: working through an intermediary > Further guidance",
    "Money > Business tax > IR35: working through an intermediary > Employment intermediaries",
    "Money > Business tax > IR35: working through an intermediary > Off-payroll working rules",
    "Money > Business tax > IR35: working through an intermediary > Employment status",
    "Money > Business tax > Large and mid-size business guidance",
    "Money > Business tax > Large and mid-size business guidance > Help and support",
    "Money > Business tax > Large and mid-size business guidance > Large businesses",
    "Money > Business tax > Large and mid-size business guidance > Mid-sized businesses",
    "Money > Business tax > Capital allowances",
    "Money > Business tax > Capital allowances > Manuals and helpsheets",
    "Money > Business tax > Capital allowances > Further reading",
    "Money > Business tax > Capital allowances > Introductory guidance",
    "Money > Business tax > Stamp duty on shares",
    "Money > Business tax > Stamp duty on shares > Reference material",
    "Money > Business tax > Stamp duty on shares > Introduction",
    "Money > Business tax > Stamp duty on shares > Stamp tax on electronic shares",
    "Money > Business tax > Stamp duty on shares > Stamp tax on paper shares",
    "Money > Business tax > Air Passenger Duty",
    "Money > Business tax > Air Passenger Duty > Guidance and reference material",
    "Money > Business tax > Aggregates Levy",
    "Money > Business tax > Aggregates Levy > Payments and reliefs",
    "Money > Business tax > Aggregates Levy > Introductory guidance",
    "Money > Business tax > Aggregates Levy > Manuals, forms and reference material",
    "Money > Business tax > Construction Industry Scheme (CIS)",
    "Money > Business tax > Construction Industry Scheme (CIS) > Help and support",
    "Money > Business tax > Construction Industry Scheme (CIS) > Forms, publications and manuals",
    "Money > Business tax > Construction Industry Scheme (CIS) > Payments",
    "Money > Business tax > Construction Industry Scheme (CIS) > Contractors",
    "Money > Business tax > Construction Industry Scheme (CIS) > Subcontractors",
    "Money > Business tax > Construction Industry Scheme (CIS) > Introductory guide",
    "Money > Business tax > Employment related securities",
    "Money > Business tax > Employment related securities > SAYE bonus rates",
    "Money > Business tax > Employment related securities > National Insurance transfers",
    "Money > Business tax > Employment related securities > Manuals and news",
    "Money > Business tax > Employment related securities > Asset valuation",
    "Money > Business tax > Employment related securities > Returns and notifications",
    "Money > Business tax > Employment related securities > Getting started",
    "Money > Business tax > Landfill Tax",
    "Money > Business tax > Landfill Tax > Manuals, forms and reference material",
    "Money > Business tax > Landfill Tax > Payments and reliefs",
    "Money > Business tax > Landfill Tax > Introductory guidance",
    "Money > Business tax > Gambling duties",
    "Money > Business tax > Gambling duties > Paying HMRC",
    "Money > Business tax > Gambling duties > Forms and reference material",
    "Money > Business tax > Gambling duties > General Betting Duty, Pool Betting Duty and Remote Gaming Duty",
    "Money > Business tax > Gambling duties > Machine Games Duty",
    "Money > Business tax > Gambling duties > Lottery Duty",
    "Money > Business tax > Gambling duties > Gaming Duty",
    "Money > Business tax > Gambling duties > Bingo Duty",
    "Money > Business tax > Tobacco Products Duty",
    "Money > Business tax > Tobacco Products Duty > Forms, notices and reference material",
    "Money > Business tax > Tobacco Products Duty > Moving and storing goods",
    "Money > Business tax > Tobacco Products Duty > Payments and reliefs",
    "Money > Business tax > Tobacco Products Duty > Introductory guides",
    "Money > Business tax > Investment schemes",
    "Money > Business tax > Investment schemes > Collective Investment Schemes",
    "Money > Business tax > Investment schemes > Venture capital schemes",
    "Money > Business tax > Stamp duty and other tax on property",
    "Money > Business tax > Stamp duty and other tax on property > Forms and reference material",
    "Money > Business tax > Stamp duty and other tax on property > Annual Tax on Enveloped Dwellings",
    "Money > Business tax > Stamp duty and other tax on property > Stamp Duty before December 2003",
    "Money > Business tax > Stamp duty and other tax on property > SDLT on specific transactions",
    "Money > Business tax > Stamp duty and other tax on property > Pay your SDLT bill",
    "Money > Business tax > Stamp duty and other tax on property > File your SDLT return",
    "Money > Business tax > Stamp duty and other tax on property > Register to send online returns",
    "Money > Business tax > Stamp duty and other tax on property > Introduction",
    "Money > Business tax > Alcohol duties",
    "Money > Business tax > Alcohol duties > Moving and storing goods",
    "Money > Business tax > Alcohol duties > Help and support",
    "Money > Business tax > Alcohol duties > Forms, notices and reference material",
    "Money > Business tax > Alcohol duties > Payments and reliefs",
    "Money > Business tax > Alcohol duties > Guidance",
    "Money > Business tax > Fuel Duty",
    "Money > Business tax > Fuel Duty > Forms, notices and reference material",
    "Money > Business tax > Fuel Duty > Payments and reliefs",
    "Money > Business tax > Fuel Duty > Moving and storing goods",
    "Money > Business tax > Fuel Duty > Introductory guides",
    "Money > Business tax > International tax",
    "Money > Business tax > International tax > Oil and gas",
    "Money > Business tax > International tax > Shipping",
    "Money > Business tax > International tax > Double taxation",
    "Money > Business tax > International tax > Support and guidance",
    "Money > Business tax > Corporation Tax",
    "Money > Business tax > Corporation Tax > Forms and reference material",
    "Money > Business tax > Corporation Tax > Filing your return",
    "Money > Business tax > Corporation Tax > Changes to your company",
    "Money > Business tax > Corporation Tax > Payments and refunds",
    "Money > Business tax > Corporation Tax > Working out your Corporation Tax",
    "Money > Business tax > Corporation Tax > Reliefs",
    "Money > Business tax > Corporation Tax > Getting started",
    "Money > Business tax > Corporation Tax > Preparing accounts for Corporation Tax",
    "Money > Business tax > Pension scheme administration",
    "Money > Business tax > Pension scheme administration > Overseas schemes",
    "Money > Business tax > Pension scheme administration > Tax on pensions",
    "Money > Business tax > Pension scheme administration > Paying into a pension scheme",
    "Money > Business tax > Pension scheme administration > Administering a pension scheme",
    "Money > Business tax > Pension scheme administration > News and manuals",
    "Money > Business tax > Pension scheme administration > Pension scheme trustees",
    "Money > Business tax > Pension scheme administration > Forms and reference material",
    "Money > Business tax > Pension scheme administration > Introductory guides",
    "Money > Business tax > PAYE",
    "Money > Business tax > PAYE > Help and support",
    "Money > Business tax > PAYE > Forms and reference material",
    "Money > Business tax > PAYE > Statutory pay and leave",
    "Money > Business tax > PAYE > Special types of employee pay",
    "Money > Business tax > PAYE > Changes to the business that affect PAYE",
    "Money > Business tax > PAYE > Employees joining, leaving or changing their circumstances",
    "Money > Business tax > PAYE > Expenses and benefits",
    "Money > Business tax > PAYE > Annual PAYE and payroll tasks",
    "Money > Business tax > PAYE > Paying HMRC",
    "Money > Business tax > PAYE > Calculators",
    "Money > Business tax > PAYE > Regular PAYE and payroll tasks",
    "Money > Business tax > PAYE > Log in to PAYE Online for employers",
    "Money > Business tax > PAYE > Registering and getting started",
    "Money > Business tax > PAYE > Introduction to PAYE and payroll",
    "Money > Business tax > VAT",
    "Money > Business tax > VAT > Help and support",
    "Money > Business tax > VAT > Forms and reference material",
    "Money > Business tax > VAT > VAT notices",
    "Money > Business tax > VAT > Rules for particular trades",
    "Money > Business tax > VAT > Exporting goods and services",
    "Money > Business tax > VAT > Importing goods and services",
    "Money > Business tax > VAT > Overseas businesses and UK VAT",
    "Money > Business tax > VAT > Charging VAT",
    "Money > Business tax > VAT > VAT MOSS",
    "Money > Business tax > VAT > Reclaiming VAT on a new home",
    "Money > Business tax > VAT > VAT returns",
    "Money > Business tax > VAT > Paying",
    "Money > Business tax > VAT > Exchange rates",
    "Money > Business tax > VAT > Introductory guidance",
    "Money > Business tax > VAT > Accounting for VAT",
    "Money > Business tax > VAT > Quick links",
    "Money > Business tax > Business tax reform",
    "Money > Business tax > Climate Change Levy",
    "Money > Business tax > Climate Change Levy > Manuals, forms and reference material",
    "Money > Business tax > Climate Change Levy > Introductory guidance",
    "Money > Business tax > Climate Change Levy > Payments",
    "Money > Business tax > Insurance Premium Tax",
    "Money > Business tax > Insurance Premium Tax > Forms, manuals and reference material",
    "Money > Business tax > Insurance Premium Tax > Paying Insurance Premium Tax",
    "Money > Business tax > Insurance Premium Tax > Introduction",
    "Money > Money laundering regulations",
    "Money > Money laundering regulations > Help and support",
    "Money > Money laundering regulations > Notices, forms and related guidance",
    "Money > Money laundering regulations > Registration for specific business types",
    "Money > Money laundering regulations > Problems and compliance checks",
    "Money > Money laundering regulations > Reporting changes",
    "Money > Money laundering regulations > Your role under the regulations",
    "Money > Money laundering regulations > Introductory guide",
    "Money > Money laundering regulations > Getting started",
    "Money > Dealing with HMRC",
    "Money > Dealing with HMRC > Phishing and scams",
    "Money > Dealing with HMRC > Shared Workspace service",
    "Money > Dealing with HMRC > Shared Workspace service > Guidance",
    "Money > Dealing with HMRC > Complaints and appeals",
    "Money > Dealing with HMRC > Paying HMRC",
    "Money > Dealing with HMRC > Paying HMRC > Forms",
    "Money > Dealing with HMRC > Paying HMRC > Other payment methods",
    "Money > Dealing with HMRC > Paying HMRC > Payment problems",
    "Money > Dealing with HMRC > Paying HMRC > Other payments",
    "Money > Dealing with HMRC > Paying HMRC > Transport and environmental duties",
    "Money > Dealing with HMRC > Paying HMRC > Tax credit overpayments",
    "Money > Dealing with HMRC > Paying HMRC > VAT",
    "Money > Dealing with HMRC > Paying HMRC > Property taxes",
    "Money > Dealing with HMRC > Paying HMRC > Shares",
    "Money > Dealing with HMRC > Paying HMRC > Pension schemes",
    "Money > Dealing with HMRC > Paying HMRC > PAYE",
    "Money > Dealing with HMRC > Paying HMRC > Money laundering regulation fees",
    "Money > Dealing with HMRC > Paying HMRC > Insurance Premium Tax",
    "Money > Dealing with HMRC > Paying HMRC > Inheritance Tax",
    "Money > Dealing with HMRC > Paying HMRC > Gambling duties",
    "Money > Dealing with HMRC > Paying HMRC > Income Tax and National Insurance",
    "Money > Dealing with HMRC > Paying HMRC > Corporation Tax",
    "Money > Dealing with HMRC > Paying HMRC > Construction Industry Scheme (through PAYE)",
    "Money > Dealing with HMRC > Paying HMRC > Child Benefit overpayments",
    "Money > Dealing with HMRC > Paying HMRC > Alcohol duties",
    "Money > Dealing with HMRC > Paying HMRC > Capital Gains Tax",
    "Money > Dealing with HMRC > Paying HMRC > Quick links",
    "Money > Dealing with HMRC > Tax avoidance",
    "Money > Dealing with HMRC > Tax avoidance > Forms and reference material",
    "Money > Dealing with HMRC > Tax avoidance > Disguised remuneration schemes",
    "Money > Dealing with HMRC > Tax avoidance > Disclosing avoidance schemes",
    "Money > Dealing with HMRC > Tax avoidance > Identifying avoidance schemes",
    "Money > Dealing with HMRC > Tax compliance",
    "Money > Dealing with HMRC > Tax compliance > International agreements and FATCA",
    "Money > Dealing with HMRC > Tax compliance > Clearances and approvals",
    "Money > Dealing with HMRC > Tax compliance > Disclosing offshore income",
    "Money > Dealing with HMRC > Tax compliance > Reporting tax evasion",
    "Money > Dealing with HMRC > Tax compliance > Non-payment and fraud",
    "Money > Dealing with HMRC > Tax compliance > Disputes",
    "Money > Dealing with HMRC > Tax compliance > Compliance checks",
    "Money > Dealing with HMRC > Tax agent and adviser guidance",
    "Money > Dealing with HMRC > Tax agent and adviser guidance > Money laundering regulations",
    "Money > Dealing with HMRC > Tax agent and adviser guidance > Working with HMRC - joint initiatives",
    "Money > Dealing with HMRC > Tax agent and adviser guidance > Forms, manuals and reference material",
    "Money > Dealing with HMRC > Tax agent and adviser guidance > Appeals and penalties",
    "Money > Dealing with HMRC > Tax agent and adviser guidance > Compliance checks",
    "Money > Dealing with HMRC > Tax agent and adviser guidance > Help and support",
    "Money > Dealing with HMRC > Tax agent and adviser guidance > News and communications",
    "Money > Dealing with HMRC > Tax agent and adviser guidance > Agent authorisation",
    "Money > Dealing with HMRC > Tax agent and adviser guidance > Online Services",
    "Money > Dealing with HMRC > Tax agent and adviser guidance > Quick links",
    "Money > Dealing with HMRC > Software development for HMRC",
    "Money > Dealing with HMRC > Software development for HMRC > Working in partnership",
    "Money > Dealing with HMRC > Software development for HMRC > HMRC recognition scheme",
    "Money > Dealing with HMRC > Software development for HMRC > New to HMRC development",
    "Money > Dealing with HMRC > Software development for HMRC > Software development support",
    "Money > Tax evasion and avoidance",
    "Money > Personal tax",
    "Money > Personal tax > National Insurance",
    "Money > Personal tax > National Insurance > Voluntary contributions",
    "Money > Personal tax > National Insurance > Rates and classes",
    "Money > Personal tax > National Insurance > Refunds",
    "Money > Personal tax > National Insurance > Paying",
    "Money > Personal tax > National Insurance > National Insurance numbers",
    "Money > Personal tax > National Insurance > Introduction",
    "Money > Personal tax > Foreign entertainer tax rules",
    "Money > Personal tax > Foreign entertainer tax rules > Guidance",
    "Money > Personal tax > Coming to the UK",
    "Money > Personal tax > Coming to the UK > A to Z",
    "Money > Personal tax > Capital Gains Tax",
    "Money > Personal tax > Capital Gains Tax > Helpsheets",
    "Money > Personal tax > Capital Gains Tax > Paying HMRC",
    "Money > Personal tax > Capital Gains Tax > Divorce and separation",
    "Money > Personal tax > Capital Gains Tax > Business",
    "Money > Personal tax > Capital Gains Tax > Shares and investments",
    "Money > Personal tax > Capital Gains Tax > Introduction",
    "Money > Personal tax > Capital Gains Tax > Property",
    "Money > Personal tax > Capital Gains Tax > Personal possessions",
    "Money > Personal tax > Income Tax",
    "Money > Personal tax > Income Tax > Forms and information",
    "Money > Personal tax > Income Tax > Contact HMRC",
    "Money > Personal tax > Income Tax > Scottish rate of Income Tax",
    "Money > Personal tax > Income Tax > Pensions",
    "Money > Personal tax > Income Tax > Company benefits and share schemes",
    "Money > Personal tax > Income Tax > Student jobs and loans",
    "Money > Personal tax > Income Tax > Special types of pay",
    "Money > Personal tax > Income Tax > Overpayments and underpayments",
    "Money > Personal tax > Income Tax > Rates, allowances and reliefs",
    "Money > Personal tax > Income Tax > Introduction",
    "Money > Personal tax > Self Assessment",
    "Money > Personal tax > Self Assessment > Help and support",
    "Money > Personal tax > Self Assessment > Forms and helpsheets",
    "Money > Personal tax > Self Assessment > Refunds, appeals and penalties",
    "Money > Personal tax > Self Assessment > Paying your tax bill",
    "Money > Personal tax > Self Assessment > Records you must keep",
    "Money > Personal tax > Self Assessment > Filing a tax return",
    "Money > Personal tax > Self Assessment > Registering for Self Assessment",
    "Money > Personal tax > Self Assessment > Introduction",
    "Money > Personal tax > Self Assessment > Quick links",
    "Money > Personal tax > Non-resident landlord scheme",
    "Money > Personal tax > Non-resident landlord scheme > Guidance",
    "Money > Personal tax > Leaving the UK",
    "Money > Personal tax > Leaving the UK > Guidance",
    "Money > Personal tax > Trusts",
    "Money > Personal tax > Trusts > Manuals and newsletters",
    "Money > Personal tax > Trusts > Guidance",
    "Money > Personal tax > Tax on savings and investments",
    "Money > Personal tax > Tax on savings and investments > Guidance for financial institutions",
    "Money > Personal tax > Tax on savings and investments > Forms and updates",
    "Money > Personal tax > Tax on savings and investments > Tax efficient savings and investments",
    "Money > Personal tax > Tax on savings and investments > Tax on shares",
    "Money > Personal tax > Tax on savings and investments > Tax on savings",
    "Money > Personal tax > Living or working abroad or offshore",
    "Money > Personal tax > Living or working abroad or offshore > Forms and manuals",
    "Money > Personal tax > Living or working abroad or offshore > Rules for specific occupations",
    "Money > Personal tax > Living or working abroad or offshore > Living and working abroad",
    "Money > Personal tax > Inheritance Tax",
    "Money > Personal tax > Personal tax reform",
    "Money > Personal tax > Inheritance Tax",
    "Money > Personal tax > Inheritance Tax > Reliefs",
    "Money > Personal tax > Inheritance Tax > Paying HMRC",
    "Money > Personal tax > Inheritance Tax > Manuals and updates",
    "Money > Personal tax > Inheritance Tax > Forms",
    "Money > Personal tax > Inheritance Tax > Working out the tax",
    "Money > Personal tax > Inheritance Tax > Wills and probate",
    "Money > Personal tax > Inheritance Tax > Introduction",
    "Welfare",
    "Welfare > Carers and disability benefits",
    "Welfare > Child maintenance reform",
    "Welfare > Death and benefits",
    "Welfare > Benefits for families",
    "Welfare > Heating and housing benefits",
    "Welfare > Tax credits",
    "Welfare > Tax credits > Help and support",
    "Welfare > Tax credits > Appeals and complaints",
    "Welfare > Tax credits > Forms, manuals and reference material",
    "Welfare > Tax credits > Overpayments",
    "Welfare > Tax credits > Childcare",
    "Welfare > Tax credits > Report changes",
    "Welfare > Tax credits > Payments",
    "Welfare > Tax credits > Claiming and renewing",
    "Welfare > Tax credits > Introduction",
    "Welfare > Benefits entitlement",
    "Welfare > Jobseeker's Allowance and low income benefits",
    "Welfare > Child Benefit (welfare theme)",
    "Welfare > Child Benefit (welfare theme) > Support for families [P]",
    "Welfare > Child Benefit (welfare theme) > Appeals and complaints",
    "Welfare > Child Benefit (welfare theme) > Forms, manuals and reference material",
    "Welfare > Child Benefit (welfare theme) > Overpayments",
    "Welfare > Child Benefit (welfare theme) > High Income Tax Charge",
    "Welfare > Child Benefit (welfare theme) > Report changes",
    "Welfare > Child Benefit (welfare theme) > Rates and payments",
    "Welfare > Child Benefit (welfare theme) > How to claim",
    "Welfare > Universal Credit",
    "Welfare > Welfare reform",
    "Work",
    "Work > Secondments with government",
    "Work > Government graduate schemes",
    "Work > Self-employment",
    "Work > Self-employment > Help and support",
    "Work > Self-employment > Stopping or selling your business",
    "Work > Self-employment > Paying HMRC",
    "Work > Self-employment > Records you must keep",
    "Work > Self-employment > Managing expenses",
    "Work > Self-employment > Self Assessment",
    "Work > Self-employment > Tax and National Insurance",
    "Work > Self-employment > How to register",
    "Work > Self-employment > Introductory guides",
    "Work > Labour market reform",
    "Work > Health and safety reform",
    "Work > Work and disabled people",
    "Work > Working, jobs and pensions",
    "Work > Working, jobs and pensions > Your rights at work and trade unions",
    "Work > Working, jobs and pensions > Workplace and personal pensions",
    "Work > Working, jobs and pensions > Holidays, time off, sick leave, maternity and paternity leave",
    "Work > Working, jobs and pensions > Your contract and working hours",
    "Work > Working, jobs and pensions > Your pay, tax and the National Minimum Wage",
    "Work > Working, jobs and pensions > Finding a job",
    "Work > Working, jobs and pensions > Recruiting and hiring",
    "Work > Working, jobs and pensions > Redundancies, dismissals and disciplinaries",
    "Work > Working, jobs and pensions > State Pension",
    "Work > Payroll",
    "Work > Pensions and ageing society",
    "Work > Pensions and ageing society > Public service pensions",
    "Work > Pensions and ageing society > Older people",
    "Work > Pensions and ageing society > State Pension age",
    "Work > Pensions and ageing society > State Pension simplification",
    "Work > Pensions and ageing society > Automatic enrolment in workplace pensions"
  ]
%}
  <option value="" selected>Pick an option</option>
  {% for option in options %}
    <option value="{{ option }}"  >{{ option }}</option>
  {% endfor %}
