notebook = #ffffff
notebookshell = #bdc2c7
screen = #afe0ea
keysandtouchpad = #dadadb

mouse = #bdc2c7
mousecord = #dededf

notes = #ffffff
notesborder = #dededf
notelines = #afe0ea

pencilcolor = #fdd36f
wood = #c2b59b
plumb = #394147
eraser = #f38fb5
metal = #c5cbd2

*
*::before
*::after
  box-sizing border-box

html
body
  margin 0
  overflow hidden

.shot
  width 800px
  height 600px
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
 
.notebook
  width 302px
  height 336px
  background notebook
  border solid 14px notebookshell
  position absolute
  left 249px
  top 132px
  border-radius 6px

  .screen
    width 274px
    height 138px
    background screen
    border solid 15px notebook
    position absolute
    left 0 //263px
    top 0 //145px

  .hinge
    width 274px
    height 13px
    background notebookshell
    position absolute
    top 138px
    left 0
    

  .keyboard
    width 274px
    height 156px
    //background #fe5e8e //afe0ea
    border solid 15px transparent
    position absolute
    left 0 //263px
    bottom 0 //145px

    .k
      width 20px
      height 13px
      background keysandtouchpad
      position absolute
      border-radius 8px

    .k1
      top 3px
      left 2px
    
    .k2
      top 3px
      left 29px

    .k3
      top 3px
      left 57px

    .k4
      top 3px
      left 84px

    .k5
      top 3px
      left 112px

    .k6
      top 3px
      left 139px
    
    .k7
      top 3px
      left 167px
    
    .k8
      top 3px
      left 194px

    .k9
      top 3px
      left 222px

    .k10
      top 24px
      left 2px
      width 33px
    
    .k11
      top 24px
      left 41px

    .k12
      top 24px
      left 69px

    .k13
      top 24px
      left 96px

    .k14
      top 24px
      left 124px

    .k15
      top 24px
      left 151px
    
    .k16
      top 24px
      left 179px
    
    .k17
      top 24px
      left 205px
      width 38px

    .k18
      top 45px
      left 2px

    .k19
      top 45px
      left 29px

    .k20
      top 45px
      left 56px
      width 132px

    .k21
      top 45px
      left 194px

    .k22
      top 45px
      left 222px
    

    .touchpad
      width 88px
      height 41px
      position absolute
      bottom 4px
      left 78px
      background keysandtouchpad
    
.cablemouse
  .cord
    width 108px
    height 130px
    top 208px
    left 551px
    position absolute

    .p1
      bottom 1px
      left -14px
      height 114px
      width 71px
      border solid 14px mousecord
      clip rect(14px 81px 114px 14px)
      border-bottom-right-radius 34px
      position absolute
    
    .p2
      top 0px
      left 43px
      position absolute
      width 65px
      height 63px
      border solid 14px mousecord
      border-radius 50%
      clip rect(0 65px 29px 0)

    .p3
      height 102px
      width 14px
      position absolute
      bottom -1px
      right 0
      background mousecord
  
  .mouse
    width 64px
    height 92px
    border solid 14px mouse
    border-radius 32px
    position absolute
    top 338px
    left 620px

    &::after
      content ''
      height 14px
      width 14px
      background mouse
      border-radius 7px
      position absolute
      top 12px
      left 11px
    

.notes
  width 120px
  height 134px
  background notes
  border solid 12px notesborder
  position absolute
  transform rotate(7.5deg)
  transform-origin top left
  top 252px
  left 106px
  border-radius 6px
  
  .l
    width 78px
    height 8px
    position absolute
    left 9px
    border-radius 4px
    background notelines

  .l1
    top 13px
  
  .l2
    top 39px
  
  .l3
    top 65px
  
  .l4
    top 90px
  
.pencil
  height 110px
  width 14px
  border-radius 7px
  background pencilcolor
  position absolute
  top 225px
  left 207px
  transform rotate(-7.5deg)
  transform-origin top left
  
  .eraser
    height 12px
    width 14px
    position absolute
    top 0
    background eraser
    border-top-left-radius 7px
    border-top-right-radius 7px
    
  .metal
    height 10px
    width 14px
    position absolute
    top 12px
    background metal
    
  .wood
    height 6px
    width 14px
    position absolute
    bottom 8px
    background wood
    
  .plumb
    height 8px
    width 14px
    position absolute
    bottom 0
    background plumb
    border-bottom-left-radius 7px
    border-bottom-right-radius 7px
  
