.wrapper
  .ant1
  .ant2
  .hex
    .hex1
    .hex2
    .hex3
  .wifi1
  .wifi2
  .wifi3
  .eye1
  .eye2
  .mouth
  
.credit
  Inspired by <a href="https://dribbble.com/shots/1693789-Funny-WiFi-Characters-Animation?list=animated&sort=popular&timeframe=now&offset=137">this</a> shot.