.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/config.js
functions/google-push-key.json
functions/firebase-adminsdk.json

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
