@import "https://fonts.googleapis.com/css?family=Mouse+Memoirs";
/* line 3, ../sass/style.scss */
HTML, BODY {
  height: 100%;
}

/* line 7, ../sass/style.scss */
BODY {
  background-color: lightyellow;
  background: radial-gradient(#ffffe0, #ffd700, #008080, #4b0082);
}

/* line 12, ../sass/style.scss */
.hidden {
  display: none;
}

/* line 16, ../sass/style.scss */
.marked {
  outline: 2px solid red;
  stroke: red;
  stroke-width: 2;
}

/* line 22, ../sass/style.scss */
.svg {
  position: absolute;
  width: 250px;
  height: 250px;
  overflow: visible;
  mix-blend-mode: multiply;
}

/* line 30, ../sass/style.scss */
.svg--defs {
  width: 0;
  height: 0;
}

/* line 35, ../sass/style.scss */
.demo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  isolation: isolate;
}

/* line 45, ../sass/style.scss */
.demo__title {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 4.9rem;
  color: #FFF;
  cursor: pointer;
}

/* line 57, ../sass/style.scss */
.demo-title__splash {
  position: absolute;
  top: -75px;
  left: -40px;
  opacity: 0;
  pointer-events: none;
}

/* line 65, ../sass/style.scss */
.demo__tip {
  display: block;
  font-size: 1rem;
  font-family: Trebuchet MS;
}

/* line 71, ../sass/style.scss */
.bubble {
  cursor: pointer;
}

/* line 75, ../sass/style.scss */
.bubble__splash {
  opacity: 0;
  pointer-events: none;
}
