.container
  // Btn
  button.btn
    span Account Settings
    i.material-icons public
    
    ul.dropdown
      li.active: a(href='#') Profile Information
      li: a(href='#') Change Password
      li: a(href='https://codepen.io/pro') Become <b>PRO</b>
      li: a(href='#') Help
      li: a(href='#') Log Out