$primary = #225CFF
$gray = #C8CCD4

body
  font-family: "Roboto", sans-serif

.radio
  position: relative
  cursor: pointer
  line-height: 20px
  font-size: 14px
  margin: 15px
  .label
    position: relative
    display: block
    float: left
    margin-right: 10px
    width: 20px
    height: 20px
    border: 2px solid $gray
    border-radius: 100%
    -webkit-tap-highlight-color: transparent
    &:after
      content: ''
      position: absolute
      top 3px
      left 3px
      width 10px
      height 10px
      border-radius 100%
      background $primary
      transform scale(0)
      transition all .2s ease
      opacity .08
      pointer-events: none
  &:hover
    .label:after
      transform scale(3.6)
    
  
input[type="radio"]:checked + .label
  border-color $primary
  &:after
    transform scale(1)
    transition all .2s cubic-bezier(.35,.9,.4,.9)
    opacity 1

.cntr
  position absolute
  top calc(50% - 10px)
  left 0
  width 100%
  text-align center

.hidden
  display none
  
//dribbble 
.credit
  position: fixed
  right: 20px
  bottom: 20px
  transition: all .2s ease
  -webkit-user-select: none
  user-select: none
  opacity: .6
  img
    width: 72px
  &:hover
    transform: scale(.95)