/* line 1, ../sass/style.scss */
body {
  background: #f1c40f;
}

/* line 5, ../sass/style.scss */
.button {
  background: #3498db;
  width: 180px;
  padding: 4px 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;
}
/* line 16, ../sass/style.scss */
.button p {
  font-family: 'Roboto';
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  user-select: none;
}
/* line 24, ../sass/style.scss */
.button:hover {
  cursor: pointer;
}
/* line 28, ../sass/style.scss */
.button:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  border-radius: 50%;
  background-color: #927608;
  opacity: 0.4;
  bottom: -30px;
}
