@import url("https://fonts.googleapis.com/css?family=Nunito");
.nunito,
.tab-show__inner__button-container--button__label,
.container .content--article__h2 {
  font-family: 'Nunito', sans-serif;
}
.no-select,
.tab-show__inner__button-container--button__label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tab-show {
  width: 37.5rem;
  height: 18.75;
  margin: 0.75rem auto 1.5rem;
  overflow: hidden;
  position: relative;
}
.tab-show__inner {
  position: relative;
}
.tab-show__inner--button-container {
  display: block;
}
.tab-show__inner--hidden-checkbox {
  position: absolute;
  width: 0;
  height: 0;
  left: -10000px;
}
.tab-show__inner--hidden-checkbox:checked {
  transform: scale(1.1);
  border-radius: 0 0 0.3rem 0.3rem;
}
.tab-show__inner--hidden-checkbox:checked + .tab-show__inner--image-container {
  display: block;
}
.tab-show__inner--hidden-checkbox:checked + .tab-show__inner--image-container .tab-show__inner--image-container__image-floor {
  animation: slide-over 1.125s forwards ease-out;
}
.tab-show__inner--image-container {
  position: relative;
  z-index: 1;
  display: none;
  margin-bottom: 0.175rem;
}
.tab-show__inner--image-container__image-floor {
  position: absolute;
  left: 0;
  top: 99.25%;
  bottom: -3%;
  right: 100%;
  transition: 11s ease-in;
  background-color: #da8754;
}
.tab-show__inner .tab-show__inner--image-container:nth-of-type(1) .tab-show__inner--image-container__image-floor {
  background-color: #334895;
}
.tab-show__inner .tab-show__inner--image-container:nth-of-type(2) .tab-show__inner--image-container__image-floor {
  background-color: #453395;
}
.tab-show__inner .tab-show__inner--image-container:nth-of-type(3) .tab-show__inner--image-container__image-floor {
  background-color: #6d3395;
}
.tab-show__inner .tab-show__inner--image-container:nth-of-type(4) .tab-show__inner--image-container__image-floor {
  background-color: #943395;
}
.tab-show__inner .tab-show__inner--image-container:nth-of-type(5) .tab-show__inner--image-container__image-floor {
  background-color: #95336f;
}
.tab-show__inner .tab-show__inner--image-container:nth-of-type(6) .tab-show__inner--image-container__image-floor {
  background-color: #953348;
}
.tab-show__inner .tab-show__inner--image-container:nth-of-type(7) .tab-show__inner--image-container__image-floor {
  background-color: #954533;
}
.tab-show__inner .tab-show__inner--image-container:nth-of-type(8) .tab-show__inner--image-container__image-floor {
  background-color: #956d33;
}
.tab-show__inner__button-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: space-between;
  background: #444;
  position: relative;
  transform: translateY(0.5rem);
  z-index: 2;
}
.tab-show__inner__button-container--button {
  flex-basis: 100%;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}
.tab-show__inner__button-container--button:nth-of-type(1) {
  background-color: #da8754;
  background-color: #334895;
}
.tab-show__inner__button-container--button:nth-of-type(2) {
  background-color: #da8754;
  background-color: #453395;
}
.tab-show__inner__button-container--button:nth-of-type(3) {
  background-color: #da8754;
  background-color: #6d3395;
}
.tab-show__inner__button-container--button:nth-of-type(4) {
  background-color: #da8754;
  background-color: #943395;
}
.tab-show__inner__button-container--button:nth-of-type(5) {
  background-color: #da8754;
  background-color: #95336f;
}
.tab-show__inner__button-container--button:nth-of-type(6) {
  background-color: #da8754;
  background-color: #953348;
}
.tab-show__inner__button-container--button:nth-of-type(7) {
  background-color: #da8754;
  background-color: #954533;
}
.tab-show__inner__button-container--button:nth-of-type(8) {
  background-color: #da8754;
  background-color: #956d33;
}
.tab-show__inner__button-container--button__label {
  font-size: 1.2rem;
  display: block;
  cursor: pointer;
  padding: 0.6rem;
  background-color: inherit;
  color: #fafdfe;
  transform-origin: center center;
  transition: 0.3s ease-out transform;
}
.tab-show__inner__button-container--button__label:hover {
  transform: scale(1.075);
  border-radius: 0 0 0.3rem 0.3rem;
}
html,
html * {
  box-sizing: border-box;
}
body {
  background: #eee;
  width: 100%;
  height: 100%;
}
.container {
  height: 100%;
  max-width: 42.5rem;
  margin: 0 auto;
}
.container .content {
  height: 100%;
  background: #fff;
  padding: 1rem;
}
.container .content--article {
  height: 100%;
  margin: 1.45rem;
}
.container .content--article__h2 {
  font-size: 1.85rem;
  margin: 0.75rem auto 0.75rem auto;
}
.container .content--article__p {
  text-indent: 1.5rem;
  margin-top: 0.75rem;
}
@-moz-keyframes slide-over {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
@-webkit-keyframes slide-over {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
@-o-keyframes slide-over {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
@keyframes slide-over {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
