/* line 29, ../sass/style.scss */
body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
}

/* line 37, ../sass/style.scss */
h1 {
  margin: 0.5em 0;
}

/* line 42, ../sass/style.scss */
.table td, .table th {
  text-align: center;
  border-color: #d6d6d6;
}
/* line 46, ../sass/style.scss */
.table thead th {
  border-bottom-width: 1px;
}
/* line 51, ../sass/style.scss */
.table .eff-immune {
  background-color: #d6d6d6;
}
/* line 54, ../sass/style.scss */
.table .eff-veryeffective {
  background-color: #ccfbcc;
}
/* line 57, ../sass/style.scss */
.table .eff-noteffective {
  background-color: #fdd0d0;
}
/* line 62, ../sass/style.scss */
.table .type {
  color: #fff;
  text-shadow: 0 0 8px rgba(93, 93, 93, 0.39);
}
/* line 65, ../sass/style.scss */
.table .type-bug {
  background-color: #a8b820;
  border-color: #a8b820;
}
/* line 68, ../sass/style.scss */
.table .type-dragon {
  background-color: #a8b820;
  border-color: #a8b820;
}
/* line 71, ../sass/style.scss */
.table .type-dark {
  background-color: #705848;
  border-color: #705848;
}
/* line 74, ../sass/style.scss */
.table .type-dragon {
  background-color: #7038f8;
  border-color: #7038f8;
}
/* line 77, ../sass/style.scss */
.table .type-electric {
  background-color: #f8d030;
  border-color: #f8d030;
}
/* line 80, ../sass/style.scss */
.table .type-fairy {
  background-color: #ee99ac;
  border-color: #ee99ac;
}
/* line 83, ../sass/style.scss */
.table .type-fighting {
  background-color: #c03028;
  border-color: #c03028;
}
/* line 86, ../sass/style.scss */
.table .type-fire {
  background-color: #f08030;
  border-color: #f08030;
}
/* line 89, ../sass/style.scss */
.table .type-flying {
  background-color: #a890f0;
  border-color: #a890f0;
}
/* line 92, ../sass/style.scss */
.table .type-ghost {
  background-color: #705898;
  border-color: #705898;
}
/* line 95, ../sass/style.scss */
.table .type-grass {
  background-color: #78c850;
  border-color: #78c850;
}
/* line 98, ../sass/style.scss */
.table .type-ground {
  background-color: #e0c068;
  border-color: #e0c068;
}
/* line 101, ../sass/style.scss */
.table .type-ice {
  background-color: #98d8d8;
  border-color: #98d8d8;
}
/* line 104, ../sass/style.scss */
.table .type-normal {
  background-color: #a8a878;
  border-color: #a8a878;
}
/* line 107, ../sass/style.scss */
.table .type-poison {
  background-color: #a040a0;
  border-color: #a040a0;
}
/* line 110, ../sass/style.scss */
.table .type-psychic {
  background-color: #f85888;
  border-color: #f85888;
}
/* line 113, ../sass/style.scss */
.table .type-rock {
  background-color: #b8a038;
  border-color: #b8a038;
}
/* line 116, ../sass/style.scss */
.table .type-steel {
  background-color: #b8b8d0;
  border-color: #b8b8d0;
}
/* line 119, ../sass/style.scss */
.table .type-water {
  background-color: #6890f0;
  border-color: #6890f0;
}
