.pane
    .cube
        .side
        .side
        .side
        .side
        .side
        .side
    .circle
        .atomWrap
            .atom
    .circle.two
        .atomWrap
            .atom
    .circle.three
        .atomWrap
            .atom
    .circle.four
        .atomWrap
            .atom
    .circle.five
        .atomWrap
            .atom
.shadow