html {
  background: #8bd2f9;
  color: #fff;
  font-family: sans-serif;
  font-size: calc(10px + 10vmin);
  font-weight: bold;
  overflow: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}