h1.clickme Click on a card
.cards.js-cards
  .card.card--enlarged
    span.card__img-holder 
      img(src="http://placekitten.com/415/315").card__img
    h3.card__title Frontend Development
    p.card__desc
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, non, adipisci! Nam!
    a.card__link(href="#") See more
  .card
    span.card__img-holder 
      img(src="http://placekitten.com/g/420/320").card__img
    h3.card__title Woodworking
    p.card__desc
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, iure!
    a.card__link(href="#") See more
  .card
    span.card__img-holder 
      img(src="http://placekitten.com/410/310").card__img
    h3.card__title Scramples
    p.card__desc
      |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, odit.
    a.card__link(href="#") See more
  .full-card
    .full-card__title-bar
      h2.full-card__title 
      a(href="#").full-card__close-link.js-close-link 
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 30 30')
          g(stroke='currentColor', stroke-width='2', stroke-linecap='square', fill='none', fill-rule='evenodd')
            path(d='M5.5 5.5l20 20M5.5 25.5l20-20')
    .full-card__content 
      | Content could be loaded here...But not in this pen.      