/* line 1, ../sass/style.scss */
main {
  position: relative;
}

/* line 6, ../sass/style.scss */
.lines__line {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 14, ../sass/style.scss */
.lines__line:nth-child(1) {
  left: 25%;
}
/* line 18, ../sass/style.scss */
.lines__line:nth-child(2) {
  left: 50%;
}
/* line 22, ../sass/style.scss */
.lines__line:nth-child(3) {
  right: 25%;
}

/* line 28, ../sass/style.scss */
.over-lines {
  position: relative;
  z-index: 2;
}

/* line 33, ../sass/style.scss */
.box {
  width: 80%;
  height: 300px;
}
/* line 37, ../sass/style.scss */
.box:nth-child(even) {
  margin-left: 20%;
}
/* line 41, ../sass/style.scss */
.box:nth-child(1n) {
  background-color: #cfc;
}
/* line 45, ../sass/style.scss */
.box:nth-child(2n) {
  background-color: #fcc;
}
/* line 49, ../sass/style.scss */
.box:nth-child(3n) {
  background-color: #ccf;
}
