:root {
  --paper: #e2c795;
  --text: #122a59;
}

body {
  background: var(--paper);
  font-family: sans-serif;
}

form {
  width: 350px;
  margin: 50px auto;
}

label {
  margin-bottom: 25px;
  border-bottom: 1px dashed var(--text);
  display: flex;
}

label span {
  text-transform: uppercase;
  background: var(--paper);
  color: var(--text);
  bottom: -4px;
  padding-right: 3px;
  position: relative;
  letter-spacing: 1px;
  font-weight: bold;
}

input {
  display: block;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 14px;
  color: #555;
  font-weight: 100;
}
