#menu
  .panel.active.bio
    h1.name Listing
    h2.type Carousel
    span.icon [icon]
  .panel.hidden.work
    h1.name Features
    h2.type Tables
    span.icon [icon]
  .panel.hidden.edu
    h1.name Location
    h2.type Map
    span.icon [icon]
  .panel.hidden.social
    h1.name Agents
    h2.type And  office
    span.icon [icon]