.menu-animated {
  -webkit-transition: 500ms !important;
  transition: 500ms !important;
}

.side-menu {
  width: 300px !important;
}

.side-menu h1,
.side-menu h2,body
{
	background-color: black;
	overflow: hidden;
}