.box {
  height: 400px;
  background: #008aff;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.vertical-middle {
  display: table;
  width: 100%;
  text-align: center;
}

.vertical-middle > * {
  display: table-cell;
  vertical-align: middle;
}
