body
  h1 CSS Switches
  .container
    .switch.switch--horizontal
      input#radio-a(type="radio", name="first-switch", checked)
      label(for="radio-a") Off
      input#radio-b(type="radio", name="first-switch")
      label(for="radio-b") On
      span.toggle-outside
        span.toggle-inside
    
    .switch.switch--vertical
      input#radio-c(type="radio", name="second-switch", checked)
      label(for="radio-c") Off
      input#radio-d(type="radio", name="second-switch")
      label(for="radio-d") On
      span.toggle-outside
        span.toggle-inside

    .switch.switch--horizontal.switch--no-label
      input#radio-e(type="radio", name="third-switch", checked)
      label(for="radio-e") Off
      input#radio-f(type="radio", name="third-switch")
      label(for="radio-f") On
      span.toggle-outside
        span.toggle-inside

    .switch.switch--vertical.switch--no-label
      input#radio-e(type="radio", name="fourth-switch", checked)
      label(for="radio-g") Off
      input#radio-f(type="radio", name="fourth-switch")
      label(for="radio-h") On
      span.toggle-outside
        span.toggle-inside

    .switch.switch--horizontal.switch--expanding-inner
      input#radio-i(type="radio", name="fifth-switch", checked)
      label(for="radio-i") Off
      input#radio-j(type="radio", name="fifth-switch")
      label(for="radio-j") On
      span.toggle-outside
        span.toggle-inside
    
    .switch.switch--vertical.switch--expanding-inner
      input#radio-k(type="radio", name="sixth-switch", checked)
      label(for="radio-k") Off
      input#radio-l(type="radio", name="sixth-switch")
      label(for="radio-l") On
      span.toggle-outside
        span.toggle-inside

    .switch.switch--horizontal.switch--no-label.switch--expanding-inner
      input#radio-m(type="radio", name="seventh-switch", checked)
      label(for="radio-m") Off
      input#radio-n(type="radio", name="seventh-switch")
      label(for="radio-n") On
      span.toggle-outside
        span.toggle-inside

    .switch.switch--vertical.switch--no-label.switch--expanding-inner
      input#radio-o(type="radio", name="eighth-switch", checked)
      label(for="radio-o") Off
      input#radio-p(type="radio", name="eighth-switch")
      label(for="radio-p") On
      span.toggle-outside
        span.toggle-inside