/* line 19, ../sass/style.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../sass/style.scss */
body {
  min-width: 1200px;
  margin: 0;
  padding: 50px;
  color: #eee9dc;
  font: 16px Verdana, sans-serif;
  background: #2e6ba7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 38, ../sass/style.scss */
#wrapper {
  position: relative;
}

/* line 42, ../sass/style.scss */
.branch {
  position: relative;
  margin-left: 250px;
}
/* line 45, ../sass/style.scss */
.branch:before {
  content: "";
  width: 50px;
  border-top: 2px solid #eee9dc;
  position: absolute;
  left: -100px;
  top: 50%;
  margin-top: 1px;
}

/* line 56, ../sass/style.scss */
.entry {
  position: relative;
  min-height: 60px;
}
/* line 59, ../sass/style.scss */
.entry:before {
  content: "";
  height: 100%;
  border-left: 2px solid #eee9dc;
  position: absolute;
  left: -50px;
}
/* line 66, ../sass/style.scss */
.entry:after {
  content: "";
  width: 50px;
  border-top: 2px solid #eee9dc;
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: 1px;
}
/* line 76, ../sass/style.scss */
.entry:first-child:before {
  width: 10px;
  height: 50%;
  top: 50%;
  margin-top: 2px;
  border-radius: 10px 0 0 0;
}
/* line 83, ../sass/style.scss */
.entry:first-child:after {
  height: 10px;
  border-radius: 10px 0 0 0;
}
/* line 89, ../sass/style.scss */
.entry:last-child:before {
  width: 10px;
  height: 50%;
  border-radius: 0 0 0 10px;
}
/* line 94, ../sass/style.scss */
.entry:last-child:after {
  height: 10px;
  border-top: none;
  border-bottom: 2px solid #eee9dc;
  border-radius: 0 0 0 10px;
  margin-top: -9px;
}
/* line 103, ../sass/style.scss */
.entry.sole:before {
  display: none;
}
/* line 106, ../sass/style.scss */
.entry.sole:after {
  width: 50px;
  height: 0;
  margin-top: 1px;
  border-radius: 0;
}

/* line 115, ../sass/style.scss */
.label {
  display: block;
  min-width: 150px;
  padding: 5px 10px;
  line-height: 20px;
  text-align: center;
  border: 2px solid #eee9dc;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
}
