/**
 * Adjective dictionary says hi!
 */
/** 
 * Gimme some styles
 */
/* line 11, ../sass/style.scss */
.be {
  display: inline-block;
  vertical-align: middle;
  font: 111px/1 'BebasNeueRegular', sans-serif;
  text-shadow: 1px 1px 4px #333333;
  text-transform: uppercase;
  /**
   * One loop to rule them all
   * One loop to find them
   * One loop to bring them all
   * And in the Sassy way bind them
   */
  /* Biggest size */
}
@media screen and (max-width: 1910px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Unconventional.";
  }
}
@media screen and (max-width: 1900px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Flabbergasting.";
  }
}
@media screen and (max-width: 1890px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Scintillating.";
  }
}
@media screen and (max-width: 1880px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Extraordinary.";
  }
}
@media screen and (max-width: 1870px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Unforgettable.";
  }
}
@media screen and (max-width: 1860px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Unpredictable.";
  }
}
@media screen and (max-width: 1850px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Dumbfounding.";
  }
}
@media screen and (max-width: 1840px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Electrifying.";
  }
}
@media screen and (max-width: 1830px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Overwhelming.";
  }
}
@media screen and (max-width: 1820px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Incomparable.";
  }
}
@media screen and (max-width: 1810px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Entertaining.";
  }
}
@media screen and (max-width: 1800px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Magnificient.";
  }
}
@media screen and (max-width: 1790px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Confounding.";
  }
}
@media screen and (max-width: 1780px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Resourceful.";
  }
}
@media screen and (max-width: 1770px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Interesting.";
  }
}
@media screen and (max-width: 1760px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Adventurous.";
  }
}
@media screen and (max-width: 1750px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Bewildering.";
  }
}
@media screen and (max-width: 1740px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Astonishing.";
  }
}
@media screen and (max-width: 1730px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Fascinating.";
  }
}
@media screen and (max-width: 1720px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Outstanding.";
  }
}
@media screen and (max-width: 1710px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Influential.";
  }
}
@media screen and (max-width: 1700px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Imaginative.";
  }
}
@media screen and (max-width: 1690px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Nonsensical.";
  }
}
@media screen and (max-width: 1680px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Stimulating.";
  }
}
@media screen and (max-width: 1670px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Exceptional.";
  }
}
@media screen and (max-width: 1660px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Resplendent.";
  }
}
@media screen and (max-width: 1650px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Commanding.";
  }
}
@media screen and (max-width: 1640px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Determined.";
  }
}
@media screen and (max-width: 1630px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Remarkable.";
  }
}
@media screen and (max-width: 1620px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Incredible.";
  }
}
@media screen and (max-width: 1610px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Impressive.";
  }
}
@media screen and (max-width: 1600px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Perplexing.";
  }
}
@media screen and (max-width: 1590px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Passionate.";
  }
}
@media screen and (max-width: 1580px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Formidable.";
  }
}
@media screen and (max-width: 1570px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Stupefying.";
  }
}
@media screen and (max-width: 1560px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Refreshing.";
  }
}
@media screen and (max-width: 1550px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Delightful.";
  }
}
@media screen and (max-width: 1540px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Incredible.";
  }
}
@media screen and (max-width: 1530px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Innovative.";
  }
}
@media screen and (max-width: 1520px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Monumemtal.";
  }
}
@media screen and (max-width: 1510px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Surprising.";
  }
}
@media screen and (max-width: 1500px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Stupendous.";
  }
}
@media screen and (max-width: 1490px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Staggering.";
  }
}
@media screen and (max-width: 1480px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Delectable.";
  }
}
@media screen and (max-width: 1470px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Astounding.";
  }
}
@media screen and (max-width: 1460px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Responsive.";
  }
}
@media screen and (max-width: 1450px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Courageous.";
  }
}
@media screen and (max-width: 1440px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Outlandish.";
  }
}
@media screen and (max-width: 1430px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Marvelous.";
  }
}
@media screen and (max-width: 1420px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Whimsical.";
  }
}
@media screen and (max-width: 1410px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Versatile.";
  }
}
@media screen and (max-width: 1400px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Motivated.";
  }
}
@media screen and (max-width: 1390px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Brilliant.";
  }
}
@media screen and (max-width: 1380px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Eccentric.";
  }
}
@media screen and (max-width: 1370px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Wonderful.";
  }
}
@media screen and (max-width: 1360px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Excellent.";
  }
}
@media screen and (max-width: 1350px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Thrilling.";
  }
}
@media screen and (max-width: 1340px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Inspiring.";
  }
}
@media screen and (max-width: 1330px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Exquisite.";
  }
}
@media screen and (max-width: 1320px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Inventive.";
  }
}
@media screen and (max-width: 1310px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Colourful.";
  }
}
@media screen and (max-width: 1300px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Delicious.";
  }
}
@media screen and (max-width: 1290px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Fantastic.";
  }
}
@media screen and (max-width: 1280px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Audacious.";
  }
}
@media screen and (max-width: 1270px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Dexterous.";
  }
}
@media screen and (max-width: 1260px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Different.";
  }
}
@media screen and (max-width: 1250px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Confident.";
  }
}
@media screen and (max-width: 1240px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Enthused.";
  }
}
@media screen and (max-width: 1230px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Peculiar.";
  }
}
@media screen and (max-width: 1220px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Glorious.";
  }
}
@media screen and (max-width: 1210px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Smashing.";
  }
}
@media screen and (max-width: 1200px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Splendid.";
  }
}
@media screen and (max-width: 1190px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Adaptive.";
  }
}
@media screen and (max-width: 1180px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Daunting.";
  }
}
@media screen and (max-width: 1170px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Imposing.";
  }
}
@media screen and (max-width: 1160px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Striking.";
  }
}
@media screen and (max-width: 1150px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Charming.";
  }
}
@media screen and (max-width: 1140px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Dazzling.";
  }
}
@media screen and (max-width: 1130px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Engaging.";
  }
}
@media screen and (max-width: 1120px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Resolute.";
  }
}
@media screen and (max-width: 1110px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Intrepid.";
  }
}
@media screen and (max-width: 1100px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Dramatic.";
  }
}
@media screen and (max-width: 1090px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Original.";
  }
}
@media screen and (max-width: 1080px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Fearless.";
  }
}
@media screen and (max-width: 1070px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Flexible.";
  }
}
@media screen and (max-width: 1060px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Creative.";
  }
}
@media screen and (max-width: 1050px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Animated.";
  }
}
@media screen and (max-width: 1040px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Puzzling.";
  }
}
@media screen and (max-width: 1030px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Shocking.";
  }
}
@media screen and (max-width: 1020px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Intense.";
  }
}
@media screen and (max-width: 1010px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Elastic.";
  }
}
@media screen and (max-width: 1000px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Pointed.";
  }
}
@media screen and (max-width: 990px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Unusual.";
  }
}
@media screen and (max-width: 980px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Devoted.";
  }
}
@media screen and (max-width: 970px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Amusing.";
  }
}
@media screen and (max-width: 960px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Radiant.";
  }
}
@media screen and (max-width: 950px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Refined.";
  }
}
@media screen and (max-width: 940px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Natural.";
  }
}
@media screen and (max-width: 930px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Dynamic.";
  }
}
@media screen and (max-width: 920px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Radical.";
  }
}
@media screen and (max-width: 910px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Bizarre.";
  }
}
@media screen and (max-width: 900px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Curious.";
  }
}
@media screen and (max-width: 890px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Amazing.";
  }
}
@media screen and (max-width: 880px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Lively.";
  }
}
@media screen and (max-width: 870px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Modest.";
  }
}
@media screen and (max-width: 860px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Mighty.";
  }
}
@media screen and (max-width: 850px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be August.";
  }
}
@media screen and (max-width: 840px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Unique.";
  }
}
@media screen and (max-width: 830px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Absurd.";
  }
}
@media screen and (max-width: 820px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Brazen.";
  }
}
@media screen and (max-width: 810px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Crafty.";
  }
}
@media screen and (max-width: 800px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Astute.";
  }
}
@media screen and (max-width: 790px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Shrewd.";
  }
}
@media screen and (max-width: 780px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Daring.";
  }
}
@media screen and (max-width: 770px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Lovely.";
  }
}
@media screen and (max-width: 760px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Nimble.";
  }
}
@media screen and (max-width: 750px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Classy.";
  }
}
@media screen and (max-width: 740px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Humble.";
  }
}
@media screen and (max-width: 730px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Limber.";
  }
}
@media screen and (max-width: 720px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Superb.";
  }
}
@media screen and (max-width: 710px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Super.";
  }
}
@media screen and (max-width: 700px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Ready.";
  }
}
@media screen and (max-width: 690px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Crazy.";
  }
}
@media screen and (max-width: 680px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Proud.";
  }
}
@media screen and (max-width: 670px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be First.";
  }
}
@media screen and (max-width: 660px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Light.";
  }
}
@media screen and (max-width: 650px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Alert.";
  }
}
@media screen and (max-width: 640px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Lithe.";
  }
}
@media screen and (max-width: 630px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Fiery.";
  }
}
@media screen and (max-width: 620px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Eager.";
  }
}
@media screen and (max-width: 610px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Quick.";
  }
}
@media screen and (max-width: 600px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Risky.";
  }
}
@media screen and (max-width: 590px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Adept.";
  }
}
@media screen and (max-width: 580px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Sharp.";
  }
}
@media screen and (max-width: 570px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Smart.";
  }
}
@media screen and (max-width: 560px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Brisk.";
  }
}
@media screen and (max-width: 550px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Fresh.";
  }
}
@media screen and (max-width: 540px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Swift.";
  }
}
@media screen and (max-width: 530px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Novel.";
  }
}
@media screen and (max-width: 520px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Giant.";
  }
}
@media screen and (max-width: 510px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Funky.";
  }
}
@media screen and (max-width: 500px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Weird.";
  }
}
@media screen and (max-width: 490px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Grand.";
  }
}
@media screen and (max-width: 480px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Alive.";
  }
}
@media screen and (max-width: 470px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Happy.";
  }
}
@media screen and (max-width: 460px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Keen.";
  }
}
@media screen and (max-width: 450px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Bold.";
  }
}
@media screen and (max-width: 440px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Wild.";
  }
}
@media screen and (max-width: 430px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Spry.";
  }
}
@media screen and (max-width: 420px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Zany.";
  }
}
@media screen and (max-width: 410px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Nice.";
  }
}
@media screen and (max-width: 400px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Loud.";
  }
}
@media screen and (max-width: 390px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Lean.";
  }
}
@media screen and (max-width: 380px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Fine.";
  }
}
@media screen and (max-width: 370px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Busy.";
  }
}
@media screen and (max-width: 360px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Cool.";
  }
}
@media screen and (max-width: 350px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Rare.";
  }
}
@media screen and (max-width: 340px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Apt.";
  }
}
@media screen and (max-width: 330px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Fun.";
  }
}
@media screen and (max-width: 320px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Hot.";
  }
}
@media screen and (max-width: 310px) {
  /* line 25, ../sass/style.scss */
  .be:after {
    content: "Be Big.";
  }
}

/**
 * Nice font is nice
 */
@font-face {
  font-family: 'BebasNeueRegular';
  src: url("font/BebasNeue-webfont.eot");
  src: url("https://css-tricks.com/examples/LarkQueries/font/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("https://css-tricks.com/examples/LarkQueries/font/BebasNeue-webfont.woff") format("woff"), url("https://css-tricks.com/examples/LarkQueries/font/BebasNeue-webfont.ttf") format("truetype"), url("https://css-tricks.com/examples/LarkQueries/font/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**
 * What a beautiful wall
 */
/* line 52, ../sass/style.scss */
html {
  background: url("http://arleym.com/wp-content/themes/ChapterX/images/wall_4.png"), url("http://arleym.com/wp-content/themes/ChapterX/images/wall_3.png"), url("http://arleym.com/wp-content/themes/ChapterX/images/wall_2.png"), url("http://arleym.com/wp-content/themes/ChapterX/images/wall_1.png");
  background-attachment: fixed;
  height: 100%;
}

/**
 * What about a shadow?
 */
/* line 65, ../sass/style.scss */
body {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI1NCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI5NyUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC45MSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuOTEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
  background-attachment: fixed !important;
  background-position: top;
  background-repeat: none;
  background-size: cover;
  height: 100%;
  text-align: center;
}
/* line 73, ../sass/style.scss */
body:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
