/**
 * Blending over <body>
 */

body {
	background: url('https://leaverou.github.io/talks/even-more-css-secrets/img/whisper.jpg') center / cover no-repeat gray;
	min-height: 100vh;
}

div {
	mix-blend-mode: screen;
	font: bold 800%/1 Helvetica Neue, sans-serif;
	background: #f06;
}
