.wrap
  .instructions
    .first Choose a staff member
  .staff
    .member 
      .avatar(style='background-image: url(http://i.pravatar.cc/300?img=69)')
      .name James Hunter
      .deselect-member change
      .deselect-date change
      .deselect-slot change
      .calendar
      ul.slots
      form.form
        label Name
        input(type="text" name="name" required)
        label Email
        input(type="email" name="email" required)
        input(type="submit" value="Confirm Booking")
      .confirm-message Booking Complete!
        span.restart Book Again?
    .member  
      .avatar(style='background-image: url(http://i.pravatar.cc/300?img=25)')
      .name Selena Yamada
      .deselect-member change
      .deselect-date change
      .deselect-slot change
      .calendar
      ul.slots
      form.form
        label Name
        input(type="text" name="name" required)
        label Email
        input(type="email" name="email" required)
        input(type="submit" value="Confirm Booking")
      .confirm-message Booking Complete!
        span.restart Book Again?
    .member  
      .avatar(style='background-image: url(http://i.pravatar.cc/300?img=32)')
      .name Sarah Belmoris
      .deselect-member change
      .deselect-date change
      .deselect-slot change
      .calendar
      ul.slots
      form.form
        label Name
        input(type="text" name="name" required)
        label Email
        input(type="email" name="email" required)
        input(type="submit" value="Confirm Booking")
      .confirm-message Booking Complete!
        span.restart Book Again?
    .member  
      .avatar(style='background-image: url(http://i.pravatar.cc/300?img=15)')
      .name Phillip Fry
      .deselect-member change
      .deselect-date change
      .deselect-slot change
      .calendar
      ul.slots
      form.form
        label Name
        input(type="text" name="name" required)
        label Email
        input(type="email" name="email" required)
        input(type="submit" value="Confirm Booking")
      .confirm-message Booking Complete!
        span.restart Book Again?



a(href="http://nathan.tokyo" target="_blank").sig NATHAN.TOKYO