@charset "UTF-8";
/* line 1, ../sass/style.scss */
:root {
  --page-background: #fff5fb;
  --color-purple: #7d5ba6;
  --font-deco: "freight-text-pro", serif;
  --font-serif: "freight-text-pro", serif;
  --font-sans-serif: "freight-sans-pro";
  --color-text: #283845;
  --color-text-subtle: var(--color-purple);
}

/* line 11, ../sass/style.scss */
* + * {
  margin-top: 1rem;
}

/* line 15, ../sass/style.scss */
body {
  margin: 0 auto;
  padding: 5%;
  max-width: 740px;
  font-size: 22px;
  line-height: 1.5;
  background: var(--page-background);
  font-family: var(--font-sans-serif);
  color: var(--color-text);
  background: linear-gradient(to bottom, rgba(250, 250, 249, 0.95), rgba(250, 250, 249, 0.95)), url("https://kr├дuter-entdecken.de/assets/images/bg.png") no-repeat center;
  background-attachment: fixed;
}

/* line 33, ../sass/style.scss */
h1 {
  font-family: var(--font-deco);
  font-size: 5rem;
  color: var(--color-text-subtle);
  line-height: 1;
  text-align: center;
  grid-column: 1;
}

/* line 42, ../sass/style.scss */
h1 + * {
  text-align: center;
  margin-top: 2rem;
  color: #919098;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-family: var(--font-sans-serif);
  grid-column: 1;
}

/* line 52, ../sass/style.scss */
h1 + *:before,
h1 + *:after {
  background: #919098;
  opacity: 0.5;
  display: block;
  width: 18%;
  height: 1px;
  content: "";
  position: relative;
  top: 1rem;
  float: left;
}

/* line 65, ../sass/style.scss */
h1 + *:after {
  float: right;
}

/* line 69, ../sass/style.scss */
h2 {
  font-family: var(--font-serif);
  text-align: center;
  font-style: italic;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 8rem;
  color: #577590;
  font-weight: 400;
  grid-column: 1;
}

/* line 81, ../sass/style.scss */
h3 {
  font-family: var(--font-sans-serif);
  color: #577590;
}

/* line 86, ../sass/style.scss */
p + p {
  margin-top: 3rem;
}

/* line 90, ../sass/style.scss */
blockquote,
h3,
p,
ul {
  grid-column: 2;
}

/* line 96, ../sass/style.scss */
h2 + p {
  background: #bbc2e2;
  grid-column: 1;
  margin-left: -8rem;
}

/* line 101, ../sass/style.scss */
img {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  width: 105%;
  margin: -2rem -25% 2rem 5%;
  transition: all 0.25s;
}

/* line 108, ../sass/style.scss */
img:hover {
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
}

/* line 112, ../sass/style.scss */
ul {
  font-family: var(--font-sans-serif);
  font-weight: 600;
  color: var(--color-text-subtle);
}

/* line 118, ../sass/style.scss */
blockquote {
  font-family: var(--font-serif);
  font-style: italic;
  font-size: 2rem;
  color: var(--color-text-subtle);
}

/* line 125, ../sass/style.scss */
blockquote p {
  line-height: 1.3;
}

/* line 129, ../sass/style.scss */
p + h3 {
  margin-top: 3rem;
}

/* line 132, ../sass/style.scss */
ol {
  margin-top: 1rem;
}
