@charset "UTF-8";
/*------------тИЮ
|  reset.css  |
тИЮ------------*/
/* тИЮтИЮ postcss тИЮтИЮ */
@import url(https://fonts.googleapis.com/css?family=Lato:300,900);
@use postcss-nested;
/* тИЮтИЮ font тИЮтИЮ */
body {
  font-family: 'Lato', sans-serif;
}

/* тИЮтИЮ global тИЮтИЮ */
* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 100%;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding: 0;
}

/* тИЮтИЮ text styling тИЮтИЮ */
h1, h2, h3, h4, h5, h6, p, em, a, b, strong {
  font-style: normal;
  font-weight: 300;
}

strong {
  font-size: 1.15em;
}

small {
  font-size: .85em;
}

ul,
ol,
menu {
  list-style: none;
}

sub,
sup {
  font-size: .75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

dfn {
  font-style: italic;
}

/* тИЮтИЮ form elements тИЮтИЮ */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 0;
  appearance: none;
}

button,
select {
  text-transform: none;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  min-width: 0;
}

textarea {
  resize: none;
}

/* тИЮтИЮ link styling тИЮтИЮ */
a {
  display: inline;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:active,
a:hover {
  outline: 0;
}

	/* a::before {
		width: 100%;
		height: .2rem;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: #7ac;
	}

	a:hover::before {
		background-color: #49e;
		height: .35rem;
	} */
/* тИЮтИЮ hr using box тИЮтИЮ */
hr {
  border: none;
  box-sizing: border-box;
  height: .075rem;
}

/* тИЮтИЮ hidden тИЮтИЮ */
[hidden],
template {
  display: none;
}

/* тИЮтИЮ media specific тИЮтИЮ */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* тИЮтИЮ tables тИЮтИЮ */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

td,
th {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  text-align: inherit;
}

/*====================================================== тИЮтИЮ browser specific тИЮтИЮ */
/* тИЮтИЮ IE тИЮтИЮ */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

a {
  background-color: transparent;
}

button {
  overflow: visible;
}

html {
  -ms-text-size-adjust: 100%;
}

img {
  border: none;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

legend {
  border: none;
  padding: 0;
}

mark {
  background: #ff0;
  color: #000;
}

svg:not(:root) {
  overflow: hidden;
}

textarea {
  overflow: auto;
}

/* тИЮтИЮ moz тИЮтИЮ */
body {
  -moz-osx-font-smoothing: grayscale;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: none;
  padding: 0;
}

input {
  line-height: normal;
}

/* тИЮтИЮ webkit тИЮтИЮ */
* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased !important;
}

blockquote {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

fieldset {
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
progress {
  -webkit-appearance: none;
}

main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: radial-gradient(at top left at top left, #585f63, #3c4042);
}

#clock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
}

svg:first-of-type,
svg:nth-of-type(2) {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  stroke-width: 40;
  border-radius: 50%;
}

svg:last-of-type,
svg:nth-of-type(3) {
  width: 104%;
  height: 104%;
  position: absolute;
  top: -2%;
  left: -2%;
  stroke-width: 1.5;
  border-radius: 50%;
}

svg:last-of-type {
  stroke-width: 2;
}

#hour {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  background: #transparent;
  border-radius: 50%;
}

#hour div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#hour div:nth-child(2),
#hour div:nth-child(4) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

#hour div:nth-child(3),
#hour div:nth-child(5) {
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

#hour div::before,
#hour div::after {
  content: '';
  position: absolute;
  background: #282828;
}

#hour div:first-child::before {
  width: 2%;
  height: 12%;
  top: 10%;
  left: 49%;
}

#hour div:nth-child(2)::before,
#hour div:nth-child(3)::before {
  width: 2%;
  height: 4%;
  top: 10%;
  left: 49%;
}

#hour div:first-child::after {
  width: 2%;
  height: 12%;
  bottom: 10%;
  left: 49%;
}

#hour div:nth-child(2)::after,
#hour div:nth-child(3)::after {
  width: 2%;
  height: 4%;
  bottom: 10%;
  left: 49%;
}

#hour div:last-child::before {
  width: 12%;
  height: 2%;
  top: 49%;
  left: 10%;
}

#hour div:nth-child(4)::before,
#hour div:nth-child(5)::before {
  width: 4%;
  height: 2%;
  top: 49%;
  left: 10%;
}

#hour div:last-child::after {
  width: 12%;
  height: 2%;
  top: 49%;
  right: 10%;
}

#hour div:nth-child(4)::after,
#hour div:nth-child(5)::after {
  width: 4%;
  height: 2%;
  top: 49%;
  right: 10%;
}

#hour span {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  width: 3%;
  height: 40%;
  position: absolute;
  bottom: 45%;
  left: 48.5%;
  background: #fff;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  -webkit-transform-origin: 50% 88%;
  transform-origin: 50% 88%;
}
