body {
  background-color: #F8F8F8;
  color: #333;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

#quote-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote {
  width: 600px;
  padding: 20px;
  line-height: 2.5em;
}

#quote-text {
  font-family: 'Droid Serif', serif;
  font-size: 2em;
}

#quote-author {
  text-align: right;
  font-size: 1em;
}

#tweet {
  float: left;
}

#get-new-quote {
  float: right;
}

button {
  background-color: #F8F8F8;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 8px;
  color: #333;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 640px) {
  #quote {
    width: 100%
  }
  #quote-container {
    min-width: 320px;
  }
  #quote-text {
    font-size: 1.5em;
  }
}

@media screen and (max-height: 480px) {
  #quote-container {
    margin-top: 20px;
    align-items: flex-start;
  }
}
