.browser
  .browser-header
    .browser-btns
      .browser-btn.close
      .browser-btn.retract
      .browser-btn.expand
    ul.tabs
      li.tab.active
        i.fa.fa-codepen
        |  Active Tab
        span.close x
      li.tab
        i.fa.fa-apple
        |  Inactive Tab
        span.close x
  .browser-bar
    .button
      i.fa.fa-arrow-left
    .button.inactive
      i.fa.fa-arrow-right
    .button
      i.fa.fa-rotate-right
    input.address(value="http://css.browser.com")
    .button
      i.fa.fa-bars
  .page
    h1
      span Browser
      |  in CSS
    h2 Just because it's fun
    
    .lines
      -for(var i=0; i<13; i++)
        .line
    