<div class="modal">
  <label for="modal-1">
    <div class="btn js-btn">Find your Ward</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <iframe id="frame" width="850" height="840" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://webapps1.cityofchicago.org/ezbuy/geoWardLookup.do"></iframe>
    </div>
  </div>
</div>
