#stage {
  background-color: #eee;
  min-height: 1000px;
  max-width: 700px;
  margin: auto;
  padding: 300px 0;
  overflow: hidden;
}
#stage .perspective-controller {
  perspective: 800px;
  perspective-origin: 50% 0px;
}
#stage .perspective-controller p {
  text-align: center;
  color: #555;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
}
#stage .perspective-controller .box {
  position: relative;
  transform-style: preserve-3d;
  width: 200px;
  left: 50%;
  top: 130px;
  transform: translateX(-50%);
}
#stage .perspective-controller .box .sprite {
  width: 96px;
  height: 96px;
  background-image: url('http://webstaging.uvu.edu/testingsite/kam/images/sprites/dino_stand_normal.png');
  position: absolute;
  top: 120px;
  left: 0;
}
#stage .perspective-controller .box div:not(.sprite) {
  position: absolute;
  height: 200px;
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.4);
  background-image: url("https://media.freestocktextures.com/cache/76/c2/76c21994e5cded3325b9e50a7d841545.jpg");
  background-size: cover;
}
#stage .perspective-controller .box div.box-top {
  transform: rotateX(-90deg) translateY(-100px) translateX(-100px);
  transform-origin: top center;
  width: 400px;
  background-image: url("https://media.freestocktextures.com/cache/bc/fc/bcfc7b6694542e0da1a6562ee676301e.jpg");
}
#stage .perspective-controller .box div.box-bottom {
  transform: rotateX(90deg) translateY(100px) translateX(-100px);
  transform-origin: bottom center;
  width: 400px;
  background-image: url("https://www.textures.com/system/gallery/photos/Nature/Grass/50182/Grass0130_1_270.jpg");
}
#stage .perspective-controller .box div.box-front {
  transform: translateZ(100px) translateX(-100px);
  width: 400px;
}
#stage .perspective-controller .box div.box-back {
  transform: translateZ(-100px) translateX(-100px) rotateY(180deg);
  width: 400px;
}
#stage .perspective-controller .box div.box-left {
  transform: rotateY(270deg) translateX(-100px) translateZ(100px);
  transform-origin: center left;
  width: 200px;
}
#stage .perspective-controller .box div.box-right {
  transform: rotateY(-270deg) translateX(100px) translateZ(100px);
  transform-origin: top right;
  width: 200px;
}
#touch-controls {
  display: none;
}
#touch-controls button {
  position: fixed;
  bottom: 10px;
  width: 160px;
  height: 160px;
  background: transparent url('http://webstaging.uvu.edu/testingsite/kam/images/sprites/arrow.png');
  border: none;
}
#touch-controls #touch-left {
  transform: scaleX(-0.5) scaleY(0.5);
  left: 10px;
}
#touch-controls #touch-right {
  transform: scaleX(0.5) scaleY(0.5);
  right: 10px;
}
.touchevents #touch-controls {
  display: block;
}
