html {
	height:100%; 
	max-height:100%; 
	padding:0; 
	margin:0; 
	border:0; 
	background:rgb(209,205,193);
	font-size:76%; 
	font-family:georgia, palatino linotype, times new roman, serif;
	/* hide overflow:hidden from IE5/Mac */ 
	/* \*/ 
	overflow: hidden; 
	/* */ 
	}

body {
	height:100%; 
	max-height:100%; 
	overflow:hidden; 
	padding:0; 
	margin:0; 
	border:0;
	background:rgb(209,205,193);
	}

#content {
	display:block; 
	overflow:auto; 
	position:absolute; 
	z-index:3; 
	top:150px; 
	bottom:52px; 
	width:640px; 
	margin-left:-321px; 
	left:50%; 
	border-left:1px solid #000;
	border-right:1px solid #000;
	background:#fff;
	}

* html #content {
	top:0; 
	bottom:0; 
	height:100%;
	width:642px;
	border-top:154px solid #fff; 
	border-bottom:50px solid #fff;
	}

#head {
	position:absolute; 
	margin-left:-321px; 
	left:50%; 
	top:0; 
	width:640px; 
	min-width:640px; 
	height:150px; 
	background:#fff; 
	font-size:1em; 
	z-index:5; 
	border:1px solid #000;
	}

* html #head {
	top:2px; width:642px; height:148px;
	}

a.nav1, a.nav2, a.nav3, a.nav4, a.nav5, a.nav6, a.nav7, a.nav8 {width:80px; height:150px; display:block; float:left; background:url(../images/heading.jpg); text-align:center; font-size:1em; font-weight:bold; color:#000; text-decoration:none; font-family:verdana, arial, sans-serif; line-height:25px; overflow:hidden;}
#head a .pad {display:block; width:80px; height:125px;background:transparent; border-bottom:1px solid #000;}

a.nav1 {background-position:0 150px;}
a.nav2 {background-position:-80px 150px;}
a.nav3 {background-position:-160px 150px;}
a.nav4 {background-position:-240px 150px;}
a.nav5 {background-position:-320px 150px;}
a.nav6 {background-position:-400px 150px;}
a.nav7 {background-position:-480px 150px;}
a.nav8 {background-position:-560px 150px;}

a.nav1:hover {background-position:0 0;}
a.nav1:hover .button {background:#f80; color:#fff; cursor:pointer; display:block; width:80px; height:25px; cursor:hand;}
a.nav2:hover {background-position:-80px 0;}
a.nav2:hover .button {display:block; width:80px; height:25px; background:#f80; color:#fff; cursor:pointer; cursor:hand;}
a.nav3:hover {background-position:-160px 0;}
a.nav3:hover .button {display:block; width:80px; height:25px; background:#f80; color:#fff; cursor:pointer; cursor:hand;}
a.nav4:hover {background-position:-240px 0;}
a.nav4:hover .button {display:block; width:80px; height:25px; background:#f80; color:#fff; cursor:pointer; cursor:hand;}
a.nav5:hover {background-position:-320px 0;}
a.nav5:hover .button {display:block; width:80px; height:25px; background:#f80; color:#fff; cursor:pointer; cursor:hand;}
a.nav6:hover {background-position:-400px 0;}
a.nav6:hover .button {display:block; width:80px; height:25px; background:#f80; color:#fff; cursor:pointer; cursor:hand;}
a.nav7:hover {background-position:-480px 0;}
a.nav7:hover .button {display:block; width:80px; height:25px; background:#f80; color:#fff; cursor:pointer; cursor:hand;}
a.nav8:hover {background-position:-560px 0;}
a.nav8:hover .button {display:block; width:80px; height:25px; background:#f80; color:#fff; cursor:pointer; cursor:hand;}


#foot {
	text-align:center;
	position:absolute; 
	margin-left:-321px; 
	left:50%; 
	bottom:0; 
	width:640px; 
	min-width:640px; 
	height:50px; 
	background:url(../images/heading.jpg); background-position:0 100px;
	font-size:1em; 
	z-index:5; 
	border:1px solid #000;
	font-family: trebuchet MS, tahoma, verdana, arial, sans-serif;
	font-weight:bold;
	color:#000;
	}

* html #foot {
	bottom:2px; width:642px; height:48px;
	}


#content p {
	padding:5px; text-align:justify;
	}
.boldhead {
	font-size:1.5em; 
	font-weight:bold;
	}
.bold {font-weight:bold;}
.left {float:left; margin:10px; border:1px solid #000;}
.right {float:right; margin:10px; border:1px solid #000;}
.lefttext {float:left; width:300px; text-align:justify;}
.righttext {float:right; width:300px; text-align:justify;}

* html .lefttext {float:left; width:310px; text-align:justify;}
* html .righttext {float:right; width:310px; text-align:justify;}