@import url("https://fonts.googleapis.com/css?family=Patrick+Hand+SC");
body {
  margin: 0;
}
.on {
  width: 720px;
  position: absolute;
  margin-left: -15px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.table {
  height: 377px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #deb778;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-box-shadow: inset 0 -16px 0 0 rgba(114,72,34,0.4);
  box-shadow: inset 0 -16px 0 0 rgba(114,72,34,0.4);
}
.notepad {
  height: 193px;
  width: 136px;
  background: -webkit-linear-gradient(top, #f17777 0px, #f17777 34px, #fff 34px, #fff 62px, #cee8ef 62px, #cee8ef 66px, #fffefe 66px, #fff 90px, #cee8ef 90px, #cee8ef 94px, #fff 94px, #fff 118px, #cee8ef 118px, #cee8ef 122px, #fff 122px, #fff 146px, #cee8ef 146px, #cee8ef 150px, #fff 150px, #fff 176px, #cee8ef 176px, #cee8ef 193px);
  background: -moz-linear-gradient(top, #f17777 0px, #f17777 34px, #fff 34px, #fff 62px, #cee8ef 62px, #cee8ef 66px, #fffefe 66px, #fff 90px, #cee8ef 90px, #cee8ef 94px, #fff 94px, #fff 118px, #cee8ef 118px, #cee8ef 122px, #fff 122px, #fff 146px, #cee8ef 146px, #cee8ef 150px, #fff 150px, #fff 176px, #cee8ef 176px, #cee8ef 193px);
  background: -o-linear-gradient(top, #f17777 0px, #f17777 34px, #fff 34px, #fff 62px, #cee8ef 62px, #cee8ef 66px, #fffefe 66px, #fff 90px, #cee8ef 90px, #cee8ef 94px, #fff 94px, #fff 118px, #cee8ef 118px, #cee8ef 122px, #fff 122px, #fff 146px, #cee8ef 146px, #cee8ef 150px, #fff 150px, #fff 176px, #cee8ef 176px, #cee8ef 193px);
  background: -ms-linear-gradient(top, #f17777 0px, #f17777 34px, #fff 34px, #fff 62px, #cee8ef 62px, #cee8ef 66px, #fffefe 66px, #fff 90px, #cee8ef 90px, #cee8ef 94px, #fff 94px, #fff 118px, #cee8ef 118px, #cee8ef 122px, #fff 122px, #fff 146px, #cee8ef 146px, #cee8ef 150px, #fff 150px, #fff 176px, #cee8ef 176px, #cee8ef 193px);
  background: linear-gradient(to bottom, #f17777 0px, #f17777 34px, #fff 34px, #fff 62px, #cee8ef 62px, #cee8ef 66px, #fffefe 66px, #fff 90px, #cee8ef 90px, #cee8ef 94px, #fff 94px, #fff 118px, #cee8ef 118px, #cee8ef 122px, #fff 122px, #fff 146px, #cee8ef 146px, #cee8ef 150px, #fff 150px, #fff 176px, #cee8ef 176px, #cee8ef 193px);
  -webkit-box-shadow: -10px 0 0 0 rgba(172,91,20,0.2);
  box-shadow: -10px 0 0 0 rgba(172,91,20,0.2);
  position: absolute;
  bottom: 43px;
  left: 76px;
  overflow: hidden;
  line-height: 1.9em;
  font-family: 'Patrick Hand SC', Arial, sans-serif;
  font-weight: bold;
}
.notebook {
  height: 522px;
  width: 457px;
  position: absolute;
  bottom: 84px;
  left: 262px;
}
.display {
  position: relative;
  height: 290px;
  width: 100%;
  background: -webkit-linear-gradient(60deg, #333 0%, #333 50%, #3b3b3b 50%, #3b3b3b 100%);
  background: -moz-linear-gradient(60deg, #333 0%, #333 50%, #3b3b3b 50%, #3b3b3b 100%);
  background: -o-linear-gradient(60deg, #333 0%, #333 50%, #3b3b3b 50%, #3b3b3b 100%);
  background: -ms-linear-gradient(60deg, #333 0%, #333 50%, #3b3b3b 50%, #3b3b3b 100%);
  background: linear-gradient(30deg, #333 0%, #333 50%, #3b3b3b 50%, #3b3b3b 100%);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 25px solid #515555;
}
.keyboard {
  position: relative;
  height: 232px;
  width: 100%;
  background: #d7e2e6;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 -15px 0 0 #959fa0, -15px 0 0 0 rgba(172,91,20,0.2);
  box-shadow: inset 0 -15px 0 0 #959fa0, -15px 0 0 0 rgba(172,91,20,0.2);
}
.arrow::before,
.arrow::after {
  content: "";
  height: 12px;
  width: 36px;
  background: #ccc;
  position: absolute;
  border-radius: 6px;
  left: 21px;
}
.arrow::before {
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center;
  top: 44px;
}
.arrow::after {
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center;
  top: 38px;
}
.cursor {
  height: 62px;
  width: 50px;
  border-radius: 6px;
  background: -webkit-linear-gradient(60deg, #4d4d4d 0%, #4d4d4d 50%, #545454 50%, #545454 100%);
  background: -moz-linear-gradient(60deg, #4d4d4d 0%, #4d4d4d 50%, #545454 50%, #545454 100%);
  background: -o-linear-gradient(60deg, #4d4d4d 0%, #4d4d4d 50%, #545454 50%, #545454 100%);
  background: -ms-linear-gradient(60deg, #4d4d4d 0%, #4d4d4d 50%, #545454 50%, #545454 100%);
  background: linear-gradient(30deg, #4d4d4d 0%, #4d4d4d 50%, #545454 50%, #545454 100%);
  position: relative;
  top: 15px;
  left: 77px;
  background-position: 0px -3px;
  -webkit-background-size: 220%;
  -moz-background-size: 220%;
  background-size: 220%;
  -webkit-animation: blink 2s step-end infinite;
  -moz-animation: blink 2s step-end infinite;
  -o-animation: blink 2s step-end infinite;
  animation: blink 2s step-end infinite;
}
.key {
  height: 25px;
  width: 25px;
  background: #515555;
  border-radius: 8px;
  position: absolute;
}
.key:nth-child(1) {
  top: 22px;
  left: 61px;
}
.key:nth-child(2) {
  top: 22px;
  left: 92px;
}
.key:nth-child(3) {
  top: 22px;
  left: 123px;
}
.key:nth-child(4) {
  top: 22px;
  left: 154px;
}
.key:nth-child(5) {
  top: 22px;
  left: 185px;
}
.key:nth-child(6) {
  top: 22px;
  left: 216px;
}
.key:nth-child(7) {
  top: 22px;
  left: 247px;
}
.key:nth-child(8) {
  top: 22px;
  left: 278px;
}
.key:nth-child(9) {
  top: 22px;
  left: 308px;
}
.key:nth-child(10) {
  top: 22px;
  left: 339px;
}
.key:nth-child(11) {
  top: 22px;
  left: 370px;
}
.key:nth-child(12) {
  top: 56px;
  left: 58px;
  width: 59px;
}
.key:nth-child(13) {
  top: 56px;
  left: 123px;
}
.key:nth-child(14) {
  top: 56px;
  left: 154px;
}
.key:nth-child(15) {
  top: 56px;
  left: 185px;
}
.key:nth-child(16) {
  top: 56px;
  left: 216px;
}
.key:nth-child(17) {
  top: 56px;
  left: 247px;
}
.key:nth-child(18) {
  top: 56px;
  left: 278px;
}
.key:nth-child(19) {
  top: 56px;
  left: 308px;
}
.key:nth-child(20) {
  top: 56px;
  left: 339px;
  width: 60px;
}
.key:nth-child(21) {
  top: 90px;
  left: 58px;
  width: 42px;
}
.key:nth-child(22) {
  top: 90px;
  left: 105px;
  width: 41px;
}
.key:nth-child(23) {
  top: 90px;
  left: 151px;
  width: 155px;
}
.key:nth-child(24) {
  top: 90px;
  left: 311px;
  width: 42px;
}
.key:nth-child(25) {
  top: 90px;
  left: 358px;
  width: 41px;
}
.trackpad {
  height: 60px;
  width: 124px;
  border-radius: 6px;
  background: #c2cdcf;
  position: absolute;
  top: 134px;
  left: 167px;
}
.cup {
  height: 155px;
  width: 131px;
  position: absolute;
  bottom: 269px;
  left: 60px;
  background: #1d80c2;
  border-top-left-radius: 50% 34%;
  border-top-right-radius: 50% 34%;
  border-bottom-left-radius: 45% 67%;
  border-bottom-right-radius: 45% 67%;
}
.cupshadow {
  height: 56px;
  width: 100px;
  background: rgba(172,91,20,0.2);
  border-bottom-left-radius: 56px;
  border-bottom-right-radius: 56px;
  position: absolute;
  bottom: 265px;
  left: 52px;
}
.top {
  height: 97px;
  width: 131px;
  background: #8f6739;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 12px solid #46a8eb;
  -webkit-box-shadow: inset 0 50px 0 -20px #6b4b28;
  box-shadow: inset 0 50px 0 -20px #6b4b28;
  position: absolute;
}
.handle {
  height: 66px;
  width: 60px;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 16px solid #1d80c2;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 80% 60%;
  position: absolute;
  top: 60px;
  left: -31px;
}
.teatag {
  height: 36px;
  width: 32px;
  position: absolute;
  top: 103px;
  left: -20px;
  background: #c1ebc3;
  -webkit-box-shadow: inset 0 -6px 0 0 #45ac71;
  box-shadow: inset 0 -6px 0 0 #45ac71;
}
.teatag::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: -8px;
  border-style: solid;
  border-width: 0 16px 8px 16px;
  border-color: transparent transparent #c1ebc3 transparent;
}
.teabagcord {
  height: 57px;
  width: 60px;
  position: absolute;
  top: 57px;
  left: -7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 6px solid #fff5e6;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  clip: rect(0px 44px 41px 0px);
}
.teabagcordbeginingandend {
  position: absolute;
  top: 57px;
  left: -7px;
}
.teabagcordbeginingandend::before,
.teabagcordbeginingandend::after {
  content: "";
  background: #fff5e6;
  border-radius: 50%;
  position: absolute;
}
.teabagcordbeginingandend::before {
  top: 3.1px;
  left: 40px;
  height: 7.1px;
  width: 6.6px;
  clip: rect(0px 6.6px 7px 3.8px);
}
.teabagcordbeginingandend::after {
  top: 38px;
  left: 0px;
  height: 6px;
  width: 6px;
}
@-moz-keyframes blink {
  50% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes blink {
  50% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes blink {
  50% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
