{% extends "layout.html" %}
{% block page_title %}Flash notices{% endblock %}

{% block content %}
<main role="main" class="govuk-o-main-wrapper">
  <h1 class="govuk-heading-xl">
    Buttons
  </h1>

  <h2 class="heading-large">Buttons from GOV.UK Elements</h2>
  <p>
    <a href="#" class="govuk-c-button">Standard button</a>
  </p>
  <p>
    <a href="#" class="govuk-c-button govuk-c-button--start">Start now button</a>
  </p>

  <h2 class="heading-large">Custom buttons</h2>
  <p>
    <a href="#" class="govuk-c-button govuk-c-button--secondary">Grey secondary button</a>
  </p>

  <p>
    <a href="#" class="govuk-c-button govuk-c-button--tertiary">Grey secondary button</a>
  </p>
</main>
{% endblock %}
