{% extends "layout.html" %}
{% block page_title %}Document list{% endblock %}

{% block content %}
<main role="main" class="govuk-o-main-wrapper">
  <h1 class="govuk-heading-xl">
    Document list
  </h1>

  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      <p class="govuk-body-l">A combination of the task list and check your answers patterns.</p>

      <h2 class="govuk-heading-l">New document list</h2>
      <ol class="document-list">
        <li>
          <ul class="document-list-items">
            <li class="document-list-item">
              <h3 class="document-task">
                Title, summary and body
              </h3>
              <a class="document-task-action" href="#">Add</a>
            </li>
            <li class="document-list-item">
              <h3 class="document-task">
                Images
              </h3>
              <a href="#" class="document-task-action">Add</a>
            </li>
          </ul>
        </li>
      </ol>

      <h2 class="govuk-heading-l">Partially completed document list</h2>
      <ol class="document-list document-list--large">
        <li>
          <ul class="document-list-items">
            <li class="document-list-item">
              <h3 class="document-task">
                Title, summary and body
              </h3>
              <a class="document-task-action" href="#">Change</a>

              <dl class="document-task-part">
                <div>
                  <dt class="document-part-label">
                    Title
                  </dt>
                  <dd class="document-part-value">
                    Some title
                  </dd>
                </div>

                <div>
                  <dt class="document-part-label">
                    Summary
                  </dt>
                  <dd class="document-part-value">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </dd>
                </div>

                <div>
                  <dt class="document-part-label">
                    Body
                  </dt>
                  <dd class="document-part-value document-part-value--empty">
                    This field is empty
                  </dd>
                </div>
              </dl>
            </li>
            <li class="document-list-item">
              <h3 class="document-task">
                Images
              </h3>
              <a href="#" class="document-task-action">Add</a>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</main>
{% endblock %}
