{% extends "layout.html" %}
{% block page_title %}Flash notices{% endblock %}

{% block content %}
<main role="main" class="govuk-o-main-wrapper">
  <h1 class="govuk-heading-xl">
    Flash notices
  </h1>
  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      <h2 class="heading-large">Error summary</h2>
      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
        <h3 class="govuk-heading-m error-summary-heading" id="error-summary-heading-example-1">
          There was a problem saving your draft
        </h3>
        <p>
          Optional description of the errors and how to correct them
        </p>
        <ul class="error-summary-list">
          <li><a href="#example-personal-details">Descriptive link to the question with an error</a></li>
        </ul>
      </div>

      <div class="error-summary" role="alert" tabindex="-1">
        <p>
          There was a problem saving your draft
        </p>
      </div>

      <h2 class="heading-large">Success summary</h2>
      <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
        <h3 class="govuk-heading-m success-summary-heading" id="success-summary-heading-example-1">
          Your draft has been saved
        </h3>
        <p>
          Optional description of the success
        </p>
        <ul class="success-summary-list">
          <li><a href="#example-personal-details">Descriptive link to something related to the success</a></li>
        </ul>
      </div>

      <div class="success-summary" role="alert" tabindex="-1">
        <p>
          Your draft has been saved
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
