{% extends "layout.html" %}
{% block page_title %}Markdown editor{% endblock %}

{% block content %}
<main role="main" class="govuk-o-main-wrapper">
  <h1 class="govuk-heading-xl">
    Markdown editor
  </h1>
  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      <div class="govuk-!-mb-r6">
        <textarea name="body" class="govuk-c-textarea" name="textarea" id="body-with-markdown" rows="20"></textarea>
      </div>
    </div>
  </div>
</main>
{% endblock %}
