body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #54BAB3;
  height: 100vh;
  margin: 0;
}

.button {
  appearance: none;
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: 0;
  border: none;
  outline: none;
}

.button,
.pulse {
  background-color: #fff;
  border-radius: 50%;
}

.pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  transform: scale(0);
  border: 2px solid #fff;
  backface-visibility: hidden;
}