!!!5
%html
  %head
    %meta{:name => "viewport", :content => "user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi"}
  %body
    #topbar
      %label#sidebar-toggle{:for => "sidebar-check", :onclick => ""} ☰
      #page-title Content & Sidebar toggle
    /top
    #content
      %input#sidebar-check{:type => "checkbox", :checked => true}
      #sidebar
        %input#category-1.category-check{:type => "checkbox", :checked => true}
        .category
          %label.category-label{:for => "category-1", :onclick => ""} Category One
          %ul.category-list
            %li
              %label{:for => "content-1-1"} Option One
            %li
              %label{:for => "content-1-2"} Option Two
            %li
              %label{:for => "content-1-3"} Option Three
        %input#category-2.category-check{:type => "checkbox"}
        .category
          %label.category-label{:for => "category-2", :onclick => ""} Category One
          %ul.category-list
            %li
              %label{:for => "content-2-1"} Option One
            %li
              %label{:for => "content-2-2"} Option Two
            %li
              %label{:for => "content-2-3"} Option Three
        %input#category-3.category-check{:type => "checkbox"}
        .category
          %label.category-label{:for => "category-3", :onclick => ""} Category One
          %ul.category-list
            %li
              %label{:for => "content-3-1"} Option One
            %li
              %label{:for => "content-3-2"} Option Two
            %li
              %label{:for => "content-3-3"} Option Three
      /sidebar
      #main
        %input#content-1-1.content-check{:type => "radio", :name => "main-content", :checked => true}
        .content
          %h1 Content One One
          %p Chose another content from the sidebar.<br> Toggle sidebar to enter content mode.
        %input#content-1-2.content-check{:type => "radio", :name => "main-content"}
        .content
          %h1 Content One Two
          %p Chose another content from the sidebar.<br> Toggle sidebar to enter content mode.
        %input#content-1-3.content-check{:type => "radio", :name => "main-content"}
        .content
          %h1 Content One Three
          %p Chose another content from the sidebar.<br> Toggle sidebar to enter content mode.
        %input#content-2-1.content-check{:type => "radio", :name => "main-content"}
        .content
          %h1 Content Two One
          %p Chose another content from the sidebar.<br> Toggle sidebar to enter content mode.
        %input#content-2-2.content-check{:type => "radio", :name => "main-content"}
        .content
          %h1 Content Two Two
          %p Chose another content from the sidebar.<br> Toggle sidebar to enter content mode.
        %input#content-2-3.content-check{:type => "radio", :name => "main-content"}
        .content
          %h1 Content Two Three
          %p Chose another content from the sidebar.<br> Toggle sidebar to enter content mode.
        %input#content-3-1.content-check{:type => "radio", :name => "main-content"}
        .content
          %h1 Content Three One
          %p Chose another content from the sidebar.<br> Toggle sidebar to enter content mode.
        %input#content-3-2.content-check{:type => "radio", :name => "main-content"}
        .content
          %h1 Content Three Two
          %p Chose another content from the sidebar.<br> Toggle sidebar to enter content mode.
        %input#content-3-3.content-check{:type => "radio", :name => "main-content"}
        .content
          %h1 Content Three Three
          %p Chose another content from the sidebar.<br> Toggle sidebar to enter content mode.
      /main
    /content