body {
  background-color: #F2F2F2;
  font-family: sans-serif;
}
.wrapper {
  padding: 2em;
  max-width:  980px;
  margin: 0 auto;
  background-color: #FFF;
  position: relative;
}
.footer {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.footer > li {
  display: table-cell;
  width: 33.3%;
  padding: 1em;
  border-left: 1px solid #FF6A00;
  border-right: 1px solid #FF6A00;
}

.footer h1 {
  font-size: 1.4em;
}
.footer h2 {
  font-size: 1.2em;
}
img.news {
  float: left;
  margin-right: 1em;
}
