<div class="panel panel-default">
  <ul class="list-group">
    {{#each model as |sighting|}}
      <li class="list-group-item">{{sighting.location}} - {{sighting.sighted_at}}</li>
    {{/each}}
  </ul>
</div>
