.similar-color
  input(class="similar-color__input" type="text" name="color" placeholder="Insira o URL da imagem...") 
  .similar-color__image
  ul.similar-color__pallet.similar-color__pallet--from-image
  ul.similar-color__pallet.similar-color__pallet--from-pallet

// https://jariz.github.io/vibrant.js/examples/2.jpg