/* fonts  */
@import url("https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web");
/* line 4, ../sass/style.scss */
body {
  background: #DFC2F2;
  background-image: linear-gradient(135deg, #CE9FFC 10%, #7367F0 100%);
  background-attachment: fixed;
  background-size: cover;
}

/* line 11, ../sass/style.scss */
#container {
  box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 5em auto;
  height: 350px;
  width: 700px;
}

/* 	Product details  */
/* line 26, ../sass/style.scss */
.product-details {
  position: relative;
  text-align: left;
  overflow: hidden;
  padding: 30px;
  height: 100%;
  float: left;
  width: 40%;
}

/* 	Product Name */
/* line 38, ../sass/style.scss */
#container .product-details h1 {
  font-family: 'Old Standard TT', serif;
  display: inline-block;
  position: relative;
  font-size: 34px;
  color: #344055;
  margin: 0;
}

/* line 48, ../sass/style.scss */
#container .product-details h1:before {
  position: absolute;
  content: '';
  right: 0%;
  top: 0%;
  transform: translate(25px, -15px);
  font-family: 'Farsan', cursive;
  display: inline-block;
  background: #FFA69E;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
  color: #FFF;
  margin: 0;
  animation: chan-sh 6s ease infinite;
}

@keyframes chan-sh {
  from {
    content: 'free shipping';
  }
  to {
    content: 'New';
  }
}
/*Product Rating  */
/* line 74, ../sass/style.scss */
.hint-star {
  display: inline-block;
  margin-left: 0.5em;
  color: gold;
  width: 50%;
}

/* The most important information about the product */
/* line 83, ../sass/style.scss */
#container .product-details > p {
  font-family: 'Farsan', cursive;
  text-align: center;
  font-size: 20px;
  color: #7d7d7d;
}

/* control */
/* line 93, ../sass/style.scss */
.control {
  position: absolute;
  bottom: 20%;
  left: 22.8%;
}

/* the Button */
/* line 100, ../sass/style.scss */
.btn {
  transform: translateY(0px);
  transition: 0.3s linear;
  background: #49C608;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
  color: #eee;
  padding: 0;
  margin: 0;
}

/* line 116, ../sass/style.scss */
.btn:hover {
  transform: translateY(-4px);
}

/* line 118, ../sass/style.scss */
.btn span {
  font-family: 'Farsan', cursive;
  transition: transform 0.3s;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 0;
}

/* shopping cart icon */
/* line 128, ../sass/style.scss */
.btn .price, .shopping-cart {
  background: #333;
  border: 0;
  margin: 0;
}

/* line 134, ../sass/style.scss */
.btn .price {
  transform: translateX(-10%);
  padding-right: 15px;
}

/* the Icon */
/* line 139, ../sass/style.scss */
.btn .shopping-cart {
  transform: translateX(-100%);
  position: absolute;
  background: #333;
  z-index: 1;
  left: 0;
  top: 0;
}

/* buy */
/* line 149, ../sass/style.scss */
.btn .buy {
  z-index: 3;
  font-weight: bolder;
}

/* line 151, ../sass/style.scss */
.btn:hover .price {
  transform: translateX(-110%);
}

/* line 153, ../sass/style.scss */
.btn:hover .shopping-cart {
  transform: translateX(0%);
}

/* product image  */
/* line 158, ../sass/style.scss */
.product-image {
  transition: all 0.3s ease-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  float: right;
  width: 50%;
  display: inline-block;
}

/* line 169, ../sass/style.scss */
#container img {
  width: 100%;
  height: 100%;
}

/* line 171, ../sass/style.scss */
.info {
  background: rgba(27, 26, 26, 0.9);
  font-family: 'Farsan', cursive;
  transition: all 0.3s ease-out;
  transform: translateX(-100%);
  position: absolute;
  line-height: 1.9;
  text-align: left;
  font-size: 120%;
  cursor: no-drop;
  color: #FFF;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

/* line 188, ../sass/style.scss */
.info h2 {
  text-align: center;
}

/* line 189, ../sass/style.scss */
.product-image:hover .info {
  transform: translateX(0);
}

/* line 191, ../sass/style.scss */
.info ul li {
  transition: 0.3s ease;
}

/* line 192, ../sass/style.scss */
.info ul li:hover {
  transform: translateX(50px) scale(1.3);
}

/* line 194, ../sass/style.scss */
.product-image:hover img {
  transition: all 0.3s ease-out;
}

/* line 195, ../sass/style.scss */
.product-image:hover img {
  transform: scale(1.2, 1.2);
}
