%body
	#messages
		- (1..5).each do |i|
			.message.me Lorem ipsum dolor sit amet
			.message.friend Aenean sed arcu imperdiet
			.message.friend Sed eleifend blandit ante vitae fermentum
			.message.me In auctor pulvinar metus id eleifend. Donec eu.
			.message.me Lorem ipsum dolor sit amet
