#intro 
  h1 MOUSE MOVEMENT<br/><b>MOTION BLUR</b>
  h2 Move the cursor fast and slooooooooowww
  .select
    span(class="circle") Circle
    span(class="pointer") Pointer
  a(href="https://codepen.io/igcorreia/pen/ZGGzWZ",target="_blank") Also Visit Background Cursor motion blur
-for (var x = 0; x < 30; x++)
 .box
 
#copy <a href="https://twitter.com/igcorreia" target="_blank">Crafted by: <b>@igcorreia</b></a>