// Social Likes by Artem Sapegin. http://sapegin.github.io/social-likes/
// Light skin
// Design: Genn Osipenko, http://genn.org/

@import './include/base'
@import './include/colors'

.social-likes {
	min-height:36px;
	margin:-.4em -.6em;
	line-height:1.45;

	&__widget {
		min-width:0;
		margin:.45em;
		line-height:inherit;
		border:0;
		text-align:left;
	}
	&__widget:hover,
	&__widget:active,
	&__widget:focus {
		filter: saturate(0.85) brightness(1.2);
	}
	&__widget:focus {
		outline: 1px dotted;
	}

	&__button {
		min-width:0;
		padding-left:1.4em;
		vertical-align:middle;
		font-size:.95em;
		font-weight:normal;
		text-decoration:underline;
	}

	&__icon {
		top:.2em;
		left:.15em;
	}

	// No text mode
	&__widget_notext {
		margin: 0.45em 0.30em;
	}

	// Facebook
	&__widget_facebook {
		color:facebook-color;
	}

	// Twitter
	&__widget_twitter {
		color:twitter-color;
	}

	// Google+
	&__widget_plusone {
		color:plusone-color;
	}

	// Vkontakte
	&__widget_vkontakte {
		color:vkontakte-color;
	}

	// Odnoklassniki
	&__widget_odnoklassniki {
		color:odnoklassniki-color;
	}

	// Pinterest
	&__widget_pinterest {
		color:pintereset-color;
	}

	// Telegram
	&__widget_telegram {
		color:telegram-color;
	}

	// LinkedIn
	&__widget_linkedin {
		color:linkedin-color;
	}
}
