*, *:before, *:after {
  transition: .25s ease-in-out;
}

body {
  font-family: helvetica neue,helvetica,arial,sans-serif;
  font-size: 14px;
  font-weight: 200;
  padding: 50px;
  background: #f6f6f6;
}

h1 {
  font-size: 30px;
  text-align: center;
  padding: 0 0 25px 0;
  color: #606060;
}

.checkbox-label {
  display: block;
  background: #f3f3f3;
  height: 50px;
  width: 80px;
  border-radius: 50px;
  margin: 50px auto;
  position: relative;
  box-shadow: 0 0 0 2px #dddddd;
}
.checkbox-label .on {
  display: block;
  position: absolute;
  z-index: 0;
  left: 0;
  opacity: 1;
  min-width: 300px;
  line-height: 50px;
  opacity: 0;
  color: #13bf11;
}
.checkbox-label .off {
  display: block;
  position: absolute;
  z-index: 0;
  right: 100px;
  text-align: right;
  opacity: 1;
  min-width: 300px;
  line-height: 50px;
  opacity: 1;
  color: #bbbbbb;
}
.checkbox-label:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  background: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
}

.checkbox {
  position: absolute;
  left: -5000px;
}
.checkbox:checked + .checkbox-label {
  background: #13bf11;
  box-shadow: 0 0 0 2px #13bf11;
}
.checkbox:checked + .checkbox-label .on {
  left: 100px;
  opacity: 1;
}
.checkbox:checked + .checkbox-label .off {
  right: 0px;
  opacity: 0;
}
.checkbox:checked + .checkbox-label:before {
  left: 30px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #13bf11;
}

.checkbox.blue {
  position: absolute;
  left: -5000px;
}
.checkbox.blue + .checkbox-label .on {
  color: #1fc1c8;
}
.checkbox.blue:checked + .checkbox-label {
  background: #1fc1c8;
  box-shadow: 0 0 0 2px #1fc1c8;
}
.checkbox.blue:checked + .checkbox-label .on {
  left: 100px;
  opacity: 1;
}
.checkbox.blue:checked + .checkbox-label .off {
  right: 0px;
  opacity: 0;
}
.checkbox.blue:checked + .checkbox-label:before {
  left: 30px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #1fc1c8;
}
