/* line 3, ../sass/style.scss */
#controls {
  width: 17vw;
  position: absolute;
  left: 80vw;
}

/* line 8, ../sass/style.scss */
.container {
  transform-style: preserve-3d;
  perspective: 1700px;
  width: 80vw;
}
/* line 13, ../sass/style.scss */
.container #cubicle {
  width: 10em;
  height: 10em;
  margin: 0 auto;
  position: relative;
  transform-style: preserve-3d;
  transform: translateX(20em) translateY(5em) rotateX(123deg);
  transition-origin: 50% 50%;
  transition: all 4s;
}
/* line 22, ../sass/style.scss */
.container #cubicle p {
  font-size: 6em;
  margin: .25em .5em;
}
/* line 26, ../sass/style.scss */
.container #cubicle figure {
  margin: 0 auto;
  width: 10em;
  height: 10em;
  border: 1px solid black;
  position: absolute;
}
/* line 33, ../sass/style.scss */
.container #cubicle figure.front {
  transform: rotateY(0deg) translateZ(-5em);
  background-color: #345;
}
/* line 37, ../sass/style.scss */
.container #cubicle figure.back {
  transform: rotateX(180deg) translateZ(-5em);
  background-color: #29445f;
}
/* line 41, ../sass/style.scss */
.container #cubicle figure.left {
  transform: rotateY(90deg) translateZ(-5em);
  background-color: #1f4469;
}
/* line 45, ../sass/style.scss */
.container #cubicle figure.right {
  transform: rotateY(-90deg) translateZ(-5em);
  background-color: #144474;
}
/* line 49, ../sass/style.scss */
.container #cubicle figure.top {
  transform: rotateX(90deg) translateZ(-5em);
  background-color: #0a447e;
}
/* line 53, ../sass/style.scss */
.container #cubicle figure.bottom {
  transform: rotateX(-90deg) translateZ(-5em);
  background-color: #004488;
}

/* line 62, ../sass/style.scss */
html {
  background-color: #da8;
}
/* line 64, ../sass/style.scss */
html #controls {
  background: #fef;
  padding: .75rem;
  width: 8.2em;
  border: 1px solid #667;
}
/* line 70, ../sass/style.scss */
html label, html input {
  display: block;
  margin-top: 1rem;
}
/* line 74, ../sass/style.scss */
html input {
  margin-top: .4rem;
}
/* line 77, ../sass/style.scss */
html button {
  width: 8em;
  height: 1.75em;
  margin-top: .4em;
  background: #ededed;
}
