/* line 1, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 3, ../sass/style.scss */
article {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: auto;
  max-height: 100%;
}

/* line 10, ../sass/style.scss */
.text-mitte {
  display: table-cell;
  vertical-align: middle;
  background-color: #e0c071;
  color: white;
  padding: 1em;
  font-family: arial;
  font-size: 4em;
}

/* line 19, ../sass/style.scss */
.bild {
  display: table-cell;
}
