/*
// ALPHA MIXIN - PARAMATERS

$color - Required
Foreground color that are wanting to become semi-transparent and to which provide a hex fallback for.

$alpha - Optional
Transparency amount of foreground color, as a percentage inc % unit. Defaults to 50%.

$bgcolor - Optional but highly recomended
Color that appears behind the semi-transparent foreground color. Defaults to white.

$property - Optional
Which CSS property the semi-transparent color is to be applied to. Defaults to background-color.

*/
.red {
  background: #aaa;
}

.red li:nth-child(1) {
  background-color: #b39999;
  background-color: rgba(255, 0, 0, 0.1);
}
.ie8 .red li:nth-child(1) {
  background-color: #b39999;
}

.red li:nth-child(2) {
  background-color: #bb8888;
  background-color: rgba(255, 0, 0, 0.2);
}
.ie8 .red li:nth-child(2) {
  background-color: #bb8888;
}

.red li:nth-child(3) {
  background-color: #c47777;
  background-color: rgba(255, 0, 0, 0.3);
}
.ie8 .red li:nth-child(3) {
  background-color: #c47777;
}

.red li:nth-child(4) {
  background-color: #cc6666;
  background-color: rgba(255, 0, 0, 0.4);
}
.ie8 .red li:nth-child(4) {
  background-color: #cc6666;
}

.red li:nth-child(5) {
  background-color: #d55555;
  background-color: rgba(255, 0, 0, 0.5);
}
.ie8 .red li:nth-child(5) {
  background-color: #d55555;
}

.red li:nth-child(6) {
  background-color: #dd4444;
  background-color: rgba(255, 0, 0, 0.6);
}
.ie8 .red li:nth-child(6) {
  background-color: #dd4444;
}

.red li:nth-child(7) {
  background-color: #e63333;
  background-color: rgba(255, 0, 0, 0.7);
}
.ie8 .red li:nth-child(7) {
  background-color: #e63333;
}

.red li:nth-child(8) {
  background-color: #ee2222;
  background-color: rgba(255, 0, 0, 0.8);
}
.ie8 .red li:nth-child(8) {
  background-color: #ee2222;
}

.red li:nth-child(9) {
  background-color: #f71111;
  background-color: rgba(255, 0, 0, 0.9);
}
.ie8 .red li:nth-child(9) {
  background-color: #f71111;
}

.red li:nth-child(10) {
  background-color: red;
  background-color: red;
}
.ie8 .red li:nth-child(10) {
  background-color: red;
}

.blue {
  background: #aaa;
}

.blue li:nth-child(1) {
  background-color: #9999b3;
  background-color: rgba(0, 0, 255, 0.1);
}
.ie8 .blue li:nth-child(1) {
  background-color: #9999b3;
}

.blue li:nth-child(2) {
  background-color: #8888bb;
  background-color: rgba(0, 0, 255, 0.2);
}
.ie8 .blue li:nth-child(2) {
  background-color: #8888bb;
}

.blue li:nth-child(3) {
  background-color: #7777c4;
  background-color: rgba(0, 0, 255, 0.3);
}
.ie8 .blue li:nth-child(3) {
  background-color: #7777c4;
}

.blue li:nth-child(4) {
  background-color: #6666cc;
  background-color: rgba(0, 0, 255, 0.4);
}
.ie8 .blue li:nth-child(4) {
  background-color: #6666cc;
}

.blue li:nth-child(5) {
  background-color: #5555d5;
  background-color: rgba(0, 0, 255, 0.5);
}
.ie8 .blue li:nth-child(5) {
  background-color: #5555d5;
}

.blue li:nth-child(6) {
  background-color: #4444dd;
  background-color: rgba(0, 0, 255, 0.6);
}
.ie8 .blue li:nth-child(6) {
  background-color: #4444dd;
}

.blue li:nth-child(7) {
  background-color: #3333e6;
  background-color: rgba(0, 0, 255, 0.7);
}
.ie8 .blue li:nth-child(7) {
  background-color: #3333e6;
}

.blue li:nth-child(8) {
  background-color: #2222ee;
  background-color: rgba(0, 0, 255, 0.8);
}
.ie8 .blue li:nth-child(8) {
  background-color: #2222ee;
}

.blue li:nth-child(9) {
  background-color: #1111f7;
  background-color: rgba(0, 0, 255, 0.9);
}
.ie8 .blue li:nth-child(9) {
  background-color: #1111f7;
}

.blue li:nth-child(10) {
  background-color: blue;
  background-color: blue;
}
.ie8 .blue li:nth-child(10) {
  background-color: blue;
}

.green {
  background: #aaa;
}

.green li:nth-child(1) {
  background-color: #99a699;
  background-color: rgba(0, 128, 0, 0.1);
}
.ie8 .green li:nth-child(1) {
  background-color: #99a699;
}

.green li:nth-child(2) {
  background-color: #88a288;
  background-color: rgba(0, 128, 0, 0.2);
}
.ie8 .green li:nth-child(2) {
  background-color: #88a288;
}

.green li:nth-child(3) {
  background-color: #779d77;
  background-color: rgba(0, 128, 0, 0.3);
}
.ie8 .green li:nth-child(3) {
  background-color: #779d77;
}

.green li:nth-child(4) {
  background-color: #669966;
  background-color: rgba(0, 128, 0, 0.4);
}
.ie8 .green li:nth-child(4) {
  background-color: #669966;
}

.green li:nth-child(5) {
  background-color: #559555;
  background-color: rgba(0, 128, 0, 0.5);
}
.ie8 .green li:nth-child(5) {
  background-color: #559555;
}

.green li:nth-child(6) {
  background-color: #449144;
  background-color: rgba(0, 128, 0, 0.6);
}
.ie8 .green li:nth-child(6) {
  background-color: #449144;
}

.green li:nth-child(7) {
  background-color: #338d33;
  background-color: rgba(0, 128, 0, 0.7);
}
.ie8 .green li:nth-child(7) {
  background-color: #338d33;
}

.green li:nth-child(8) {
  background-color: #228822;
  background-color: rgba(0, 128, 0, 0.8);
}
.ie8 .green li:nth-child(8) {
  background-color: #228822;
}

.green li:nth-child(9) {
  background-color: #118411;
  background-color: rgba(0, 128, 0, 0.9);
}
.ie8 .green li:nth-child(9) {
  background-color: #118411;
}

.green li:nth-child(10) {
  background-color: green;
  background-color: green;
}
.ie8 .green li:nth-child(10) {
  background-color: green;
}

body, html {
  background: #f6f0ee;
}

* {
  box-sizing: border-box;
}

div {
  overflow: hidden;
  margin-bottom: 20px;
}

ul, li {
  margin: 0;
  list-style: none;
}

ul {
  overflow: hidden;
  padding: 20px;
}

li {
  width: 20%;
  text-align: center;
  padding: 20px 0;
  float: left;
  color: white;
}

.toggle {
  background: black;
  padding: 10px;
  display: block;
  text-align: center;
  border-bottom: 2px #666 solid;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
}
.toggle:hover {
  background: #333;
}
.toggle.hex:before {
  content: 'View with RGBA Values';
}
.toggle.rgba:before {
  content: 'View with Hex Values';
}
