.container
  ol
    li: a(href='#link1') Click on me and watch new disappear
    li: a(href='#link2') Pretty cool eh? Try again here
    li: a(href='#link3') One last try
    //- Clicked on all of the links? Just change the href!