#wrapper
   -for (var x = 0; x < 30; x++)
    .text Infinite
#editor
  .typer
    input(type='text' name='text' value='Infinite')
    .hint Type Something
#copy <a href="https://twitter.com/igcorreia" target="_blank">Crafted by: <b>@igcorreia</b><br/>Searching for a Dribbble invite :)</a>