<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController as tb">
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in tb.toBuyItems">
         Buy {{ item.quantity }} {{ item.name }}
         <button class="btn btn-default" ng-click="tb.buyItem(item, $index);">
           <span class="glyphicon glyphicon-ok"></span> Bought
         </button>
       </li>

     </ul>
     <div class="emptyMessage" ng-if="!tb.toBuyItems.length">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as ab">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in ab.boughtItems">Bought {{ item.quantity }} {{ item.name }}</li>
     </ul>
     <div class="emptyMessage" ng-if="!ab.boughtItems.length">Nothing bought yet.</div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>
