h1.intro [illusion] Penrose hug
  small `:hover` it to see effect

.box
  .Penrose-box
    .di
      .s.s-x
        .s.s-y
          .s.s-z

blockquote.info
  | inspired from #[a(href="https://dribbble.com/shots/2105831-Penrose-hug") Penrose hug] by #[a(href="https://dribbble.com/fabiandenter") Fabian Denter]