canvas {
	display: block;
	height: auto;
	width: 100%;
}

canvas:hover {
	opacity: 0.5;
}

.canvas-container {
	display: grid;
	max-height: 1024px;
	max-width: 1024px;
	grid-template-columns: 1fr 1fr;
}

@media (min-width: 512px) {
	.canvas-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.container {
	max-width: 1024px;
	padding-left: 1em;
	padding-right: 1em;
	margin-left: auto;
	margin-right: auto;
}