/* line 150, ../sass/style.scss */
.awesome_btn_2 {
  display: inline-block;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 3px;
  filter: dropshadow(#cd8700, offx=0, offy=-1);
  -webkit-box-shadow: inset 0 0 5px 0 #b47600;
  box-shadow: inset 0 0 5px 0 #b47600;
  background: #ffba34;
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -moz-linear-gradient(top, #ffba34 0%, #cd8700 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffba34), color-stop(100%, #cd8700));
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -webkit-linear-gradient(top, #ffba34 0%, #cd8700 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -o-linear-gradient(top, #ffba34 0%, #cd8700 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -ms-linear-gradient(top, #ffba34 0%, #cd8700 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, linear-gradient(to bottom, #ffba34 0%, #cd8700 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$btn_main_color', endColorstr='$btn_side_color',GradientType=0 );
}
/* line 63, ../sass/style.scss */
.awesome_btn_2 span {
  color: #010100;
  text-shadow: 0 1px 0 #ffcb67;
  display: block;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding: 6px 15px;
  border: 1px dashed #674400;
  cursor: pointer;
}
/* line 93, ../sass/style.scss */
.awesome_btn_2:hover {
  background: #ffb11b;
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -moz-linear-gradient(top, #ffb11b 0%, #b47600 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb11b), color-stop(100%, #b47600));
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -webkit-linear-gradient(top, #ffb11b 0%, #b47600 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -o-linear-gradient(top, #ffb11b 0%, #b47600 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -ms-linear-gradient(top, #ffb11b 0%, #b47600 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, linear-gradient(to bottom, #ffb11b 0%, #b47600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$btn_main_color', endColorstr='$btn_side_color',GradientType=0 );
}
/* line 120, ../sass/style.scss */
.awesome_btn_2:active {
  transform: translateY(2px);
  background: #ffaa06;
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -moz-linear-gradient(top, #ffaa06 0%, #9f6900 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffaa06), color-stop(100%, #9f6900));
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -webkit-linear-gradient(top, #ffaa06 0%, #9f6900 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -o-linear-gradient(top, #ffaa06 0%, #9f6900 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -ms-linear-gradient(top, #ffaa06 0%, #9f6900 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, linear-gradient(to bottom, #ffaa06 0%, #9f6900 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$btn_main_color', endColorstr='$btn_side_color',GradientType=0 );
}

/* line 154, ../sass/style.scss */
.awesome_btn_1 {
  display: inline-block;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 3px;
  filter: dropshadow(#62761c, offx=0, offy=-1);
  -webkit-box-shadow: inset 0 0 5px 0 #516117;
  box-shadow: inset 0 0 5px 0 #516117;
  background: #a6c830;
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -moz-linear-gradient(top, #a6c830 0%, #62761c 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a6c830), color-stop(100%, #62761c));
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -webkit-linear-gradient(top, #a6c830 0%, #62761c 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -o-linear-gradient(top, #a6c830 0%, #62761c 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -ms-linear-gradient(top, #a6c830 0%, #62761c 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, linear-gradient(to bottom, #a6c830 0%, #62761c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$btn_main_color', endColorstr='$btn_side_color',GradientType=0 );
}
/* line 63, ../sass/style.scss */
.awesome_btn_1 span {
  color: white;
  text-shadow: 0 -1px 0 #404d12;
  display: block;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding: 6px 15px;
  border: 1px dashed #ecf4d0;
  cursor: pointer;
}
/* line 93, ../sass/style.scss */
.awesome_btn_1:hover {
  background: #95b32b;
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -moz-linear-gradient(top, #95b32b 0%, #516117 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #95b32b), color-stop(100%, #516117));
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -webkit-linear-gradient(top, #95b32b 0%, #516117 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -o-linear-gradient(top, #95b32b 0%, #516117 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -ms-linear-gradient(top, #95b32b 0%, #516117 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, linear-gradient(to bottom, #95b32b 0%, #516117 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$btn_main_color', endColorstr='$btn_side_color',GradientType=0 );
}
/* line 120, ../sass/style.scss */
.awesome_btn_1:active {
  transform: translateY(2px);
  background: #87a327;
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -moz-linear-gradient(top, #87a327 0%, #435113 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #87a327), color-stop(100%, #435113));
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -webkit-linear-gradient(top, #87a327 0%, #435113 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -o-linear-gradient(top, #87a327 0%, #435113 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, -ms-linear-gradient(top, #87a327 0%, #435113 100%);
  background: url(https://dl.dropboxusercontent.com/u/5600704/bg_noise_pattern.png) repeat scroll 0 0, linear-gradient(to bottom, #87a327 0%, #435113 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$btn_main_color', endColorstr='$btn_side_color',GradientType=0 );
}

/* line 171, ../sass/style.scss */
body {
  background: #121212;
  padding: 30px;
  color: #fff;
}
