<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/registration_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">

      <div class="header">
	<img src="/images/logo.png">
	<h3>Register for CrowdSurf</h3>
	<h5>It's free and always will be</h5>
	<br>
      </div>

       <% if (message.length > 0) { %>
       <div class="alert alert-danger" style="width: 325px; margin-left: auto; margin-right: auto;">
         <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
         <strong><%= message %></strong>
       </div>
       <% } %>

      <div class="well" id="login_form">
	<form role="form" action="/signup" method="post">
	  <div class="form-group has-feedback">
	    <label for="email">Email address:</label>
	    <input type="email" class="form-control" name="email" placeholder="email address" id="email">
	    <i class="glyphicon glyphicon-user form-control-feedback"></i>
	  </div>
	  <div class="form-group has-feedback">
	    <label for="pwd">Password:</label>
	    <input type="password" class="form-control" name="password" placeholder="password" id="pwd">
	    <i class="glyphicon glyphicon-lock form-control-feedback"></i>
	  </div>
	  <div class="form-group has-feedback">
	    <label for="pwd">Confirm Password:</label>
	    <input type="password" class="form-control" name="password_confirm" placeholder="confirm password" id="pwdconf">
	    <i class="glyphicon glyphicon-lock form-control-feedback"></i>
	  </div>
	  <button type="submit" class="btn btn-primary btn-block" id="sigin_button">Register Now</button>
	</form>
      </div>

      <div class="well" id="register">
	Already a member? <a href="http://127.0.0.1:8080/login">Sign In Here</a>
      </div>

    </div>
  </body>

</html>
