/* General Washington */
/* line 2, ../sass/style.scss */
body, html {
  height: 100%;
}

/* line 5, ../sass/style.scss */
*:before, *:after {
  position: absolute;
  display: block;
  content: '';
}

/* line 10, ../sass/style.scss */
h1 {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  right: 1em;
  font: 40px 'Anton';
  color: #555;
  text-align: right;
  text-transform: capitalize;
}

/* Weird Thing */
/* line 22, ../sass/style.scss */
#isthisweird {
  z-index: 2;
  position: absolute;
  width: 185px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* This is so sweet */
/* line 30, ../sass/style.scss */
.face {
  width: 185px;
  height: 250px;
  background: #fece04;
  border-radius: 185px;
}

/* Eyes man, eyes! */
/* line 36, ../sass/style.scss */
#isthisweird:before {
  width: 16px;
  height: 16px;
  top: 140px;
  left: 50%;
  margin-left: -8px;
  border-radius: 14px;
  box-shadow: 71px 0 0 #fff, -71px 0 0 #fff, 92px 0 0 8px #fece04, -92px 0 0 8px #fece04;
}

/* Neck. */
/* line 49, ../sass/style.scss */
#isthisweird:after {
  width: 40px;
  height: 50px;
  top: 100%;
  left: 50%;
  margin: -2px 0 0 -20px;
  background: #fece04;
}

/* Hair */
/* line 56, ../sass/style.scss */
.hair-back,
.hair-front {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* line 62, ../sass/style.scss */
.hair-back {
  z-index: -1;
}

/* Mouth */
/* line 64, ../sass/style.scss */
.mouth {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* line 70, ../sass/style.scss */
.mouth:before {
  top: 0;
  left: 50%;
  width: 72px;
  height: 30px;
  background: #fece04;
  border-radius: 7px 7px 30px 30px;
  transform: translateX(-50%);
}

/* line 77, ../sass/style.scss */
.mouth:after {
  z-index: 1;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background: #cca503;
  transform: translateX(-50%);
}

/* line 84, ../sass/style.scss */
.teeth {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 50%;
  width: 28px;
  height: 16px;
  margin-left: -14px;
  background: #fff;
  border-radius: 0 0 16px 16px;
}

/* Moustache */
/* line 94, ../sass/style.scss */
.moustache {
  position: absolute;
  top: 158px;
  left: 50%;
  width: 74px;
  height: 30px;
  border-radius: 30px 30px 0 0;
  transform: translateX(-50%);
}

/* Beard */
/* line 102, ../sass/style.scss */
.beard {
  z-index: 1;
  position: absolute;
  bottom: -48px;
  left: 50%;
  width: 74px;
  height: 30px;
  border-radius: 30px 30px 0 0;
  transform: translateX(-50%);
}

/* Lucy */
/* line 112, ../sass/style.scss */
.lucy#isthisweird:before {
  box-shadow: 71px  0 0 #fff, -71px 0 0 #fff;
}

/* line 117, ../sass/style.scss */
.lucy .hair-back {
  width: 245px;
  height: 298px;
  background: #ff6600;
  border-radius: 90px 90px 10px 10px;
}

/* line 122, ../sass/style.scss */
.lucy .hair-front {
  width: 245px;
  height: 128px;
  background: #ff6600;
  border-radius: 90px 90px 0 0;
}

/* line 127, ../sass/style.scss */
.lucy .mouth {
  top: 184px;
  width: 54px;
  height: 28px;
  border-radius: 0 0 28px 28px;
}

/* line 132, ../sass/style.scss */
.lucy .mouth:after {
  border-radius: 0 0 28px 28px;
}

/* Chen */
/* line 137, ../sass/style.scss */
.chen#isthisweird:before {
  box-shadow: 71px  0 0 #fff, -71px 0 0 #fff;
}

/* line 142, ../sass/style.scss */
.chen .hair-back {
  width: 245px;
  height: 186px;
  background: #368da1;
  border-radius: 90px 90px 10px 10px;
}

/* line 147, ../sass/style.scss */
.chen .hair-front {
  width: 245px;
  height: 95px;
  background: #368da1;
  border-radius: 90px 90px 0 0;
}

/* line 152, ../sass/style.scss */
.chen .mouth {
  top: 184px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

/* line 157, ../sass/style.scss */
.chen .mouth:after {
  border-radius: 100%;
}

/* line 160, ../sass/style.scss */
.chen .teeth {
  opacity: 0;
}

/* Mr. Johnson */
/* line 165, ../sass/style.scss */
.mrjohnson .hair-back {
  opacity: 0;
}

/* line 168, ../sass/style.scss */
.mrjohnson .hair-front {
  width: 216px;
  height: 98px;
  margin-left: 15px;
  background: #333;
  border-radius: 90px 0 90px 0;
}

/* line 174, ../sass/style.scss */
.mrjohnson .moustache {
  background: #333;
}

/* line 177, ../sass/style.scss */
.mrjohnson .mouth {
  top: 184px;
  width: 54px;
  height: 28px;
  border-radius: 0 0 28px 28px;
}

/* line 182, ../sass/style.scss */
.mrjohnson .mouth:after {
  width: 54px;
  height: 28px;
  border-radius: 0 0 28px 28px;
}

/* Donna <3 */
/* line 188, ../sass/style.scss */
.donna#isthisweird:before {
  box-shadow: 71px  0 0 #fff, -71px 0 0 #fff;
}

/* line 193, ../sass/style.scss */
.donna .hair-back {
  width: 245px;
  height: 228px;
  background: #de7b18;
  border-radius: 90px 90px 80px 80px;
}

/* line 198, ../sass/style.scss */
.donna .hair-front {
  overflow: hidden;
  width: 245px;
  height: 132px;
  border-radius: 90px 90px 0 0;
}

/* line 203, ../sass/style.scss */
.donna .hair-front:before {
  width: 70px;
  height: 100%;
  background: #de7b18;
  border-radius: 0 0 35px 0;
}

/* line 208, ../sass/style.scss */
.donna .hair-front:after {
  left: 60px;
  width: 190px;
  height: 100%;
  background: #de7b18;
  border-radius: 0 0 0 35px;
}

/* line 214, ../sass/style.scss */
.donna .mouth {
  top: 184px;
  width: 54px;
  height: 28px;
  border-radius: 0 0 28px 28px;
}

/* line 219, ../sass/style.scss */
.donna .mouth:after {
  border-radius: 0 0 28px 28px;
}

/* line 222, ../sass/style.scss */
.donna .teeth {
  opacity: 0;
}

/* Jenna */
/* line 227, ../sass/style.scss */
.jenna#isthisweird:before {
  box-shadow: 71px  0 0 #fff, -71px 0 0 #fff;
}

/* line 232, ../sass/style.scss */
.jenna .hair-back {
  width: 247px;
  height: 170px;
  background: #ff6600;
  border-radius: 85px 85px 80px 80px;
}

/* line 237, ../sass/style.scss */
.jenna .hair-back:after {
  top: 128px;
  left: 50%;
  width: 240px;
  height: 46px;
  margin-left: -120px;
  background: #ff6600;
  border-radius: 22px;
}

/* line 244, ../sass/style.scss */
.jenna .hair-front {
  overflow: hidden;
  width: 247px;
  height: 105px;
  border-radius: 85px 85px 0 0;
}

/* line 249, ../sass/style.scss */
.jenna .hair-front:after {
  top: 0;
  left: 50%;
  width: 46px;
  height: 100%;
  margin-left: -23px;
  background: #ff6600;
  border-radius: 0 0 22px 22px;
  box-shadow: 46px  0 0 #ff6600, 92px  0 0 #ff6600, -46px 0 0 #ff6600, -92px 0 0 #ff6600;
}

/* line 261, ../sass/style.scss */
.jenna .mouth {
  top: 184px;
  width: 54px;
  height: 28px;
  border-radius: 0 0 28px 28px;
}

/* line 266, ../sass/style.scss */
.jenna .mouth:after {
  border-radius: 0 0 28px 28px;
}

/* Akeno */
/* line 271, ../sass/style.scss */
.akeno .hair-front {
  top: 70px;
  width: 11px;
  height: 100px;
  border-radius: 9px;
  box-shadow: 88px  0 0 #368da1,  -88px 0 0 #368da1;
}

/* line 279, ../sass/style.scss */
.akeno .hair-front:before {
  top: -70px;
  left: -110px;
  width: 130px;
  height: 105px;
  background: #368da1;
  border-radius: 85px 0 85px 0;
}

/* line 285, ../sass/style.scss */
.akeno .hair-front:after {
  top: -70px;
  right: -110px;
  width: 130px;
  height: 105px;
  background: #368da1;
  border-radius: 0 85px 0 85px;
}

/* line 291, ../sass/style.scss */
.akeno .mouth {
  top: 184px;
  width: 54px;
  height: 28px;
  border-radius: 0 0 28px 28px;
}

/* line 296, ../sass/style.scss */
.akeno .mouth:after {
  border-radius: 0 0 28px 28px;
}

/* Joshua */
/* line 301, ../sass/style.scss */
.joshua .hair-back {
  opacity: 0;
}

/* line 304, ../sass/style.scss */
.joshua .hair-front {
  width: 216px;
  height: 98px;
  margin-left: 15px;
  background: #de7b18;
  border-radius: 90px 0 90px 0;
}

/* line 310, ../sass/style.scss */
.joshua .hair-front:before {
  bottom: -80px;
  left: 0;
  width: 11px;
  height: 80px;
  background: #de7b18;
}

/* line 315, ../sass/style.scss */
.joshua .hair-front:after {
  bottom: -80px;
  right: 30px;
  width: 11px;
  height: 150px;
  background: #de7b18;
}

/* line 320, ../sass/style.scss */
.joshua .moustache {
  background: #de7b18;
}

/* line 323, ../sass/style.scss */
.joshua .mouth {
  top: 184px;
  width: 54px;
  height: 28px;
  border-radius: 0 0 28px 28px;
}

/* line 328, ../sass/style.scss */
.joshua .mouth:after {
  width: 50px;
  height: 20px;
  border-radius: 0 0 50px 50px;
}

/* line 332, ../sass/style.scss */
.joshua .teeth {
  height: 13px;
}

/* line 335, ../sass/style.scss */
.joshua .beard {
  width: 186px;
  height: 126px;
  background: #de7b18;
  border-radius: 0 0 43px 43px;
}

/* Jackson */
/* line 342, ../sass/style.scss */
.jackson .hair-back {
  opacity: 0;
}

/* line 345, ../sass/style.scss */
.jackson .hair-front {
  width: 216px;
  height: 98px;
  margin-left: 15px;
  border-radius: 90px 0 90px 0;
}

/* line 350, ../sass/style.scss */
.jackson .hair-front:before {
  bottom: -80px;
  left: 0;
  width: 11px;
  height: 60px;
  background: #ff5819;
  border-radius: 11px;
}

/* line 356, ../sass/style.scss */
.jackson .hair-front:after {
  bottom: -80px;
  right: 30px;
  width: 11px;
  height: 60px;
  background: #ff5819;
  border-radius: 11px;
}

/* line 362, ../sass/style.scss */
.jackson .moustache {
  background: #ff5819;
}

/* line 365, ../sass/style.scss */
.jackson .mouth {
  top: 184px;
  width: 54px;
  height: 28px;
  border-radius: 0 0 28px 28px;
}

/* line 370, ../sass/style.scss */
.jackson .mouth:after {
  width: 50px;
  height: 20px;
  border-radius: 0 0 50px 50px;
}

/* line 374, ../sass/style.scss */
.jackson .teeth {
  height: 13px;
}

/* line 377, ../sass/style.scss */
.jackson .beard {
  width: 186px;
  height: 126px;
  background: #ff5819;
  border-radius: 0 0 43px 43px;
}
