Flask==0.10.1
Flask-HTTPAuth==3.1.2
Flask-Migrate==1.8.0
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Jinja2==2.8
Mako==1.0.4
MarkupSafe==0.23
SQLAlchemy==1.0.12
Werkzeug==0.11.4
alembic==0.8.5
bcrypt==2.0.0
cffi==1.6.0
flake8==2.5.4
itsdangerous==0.24
mccabe==0.4.0
passlib==1.6.5
pep8==1.7.0
psycopg2==2.6.1
pycparser==2.14
pyflakes==1.0.0
python-editor==0.5
six==1.10.0
