* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

ul li:nth-child(1) {
  color: rgba(60, 60, 80, 0.8);
  background: rgba(0, 0, 255, 0.03333);
}

ul li:nth-child(2) {
  color: rgba(120, 120, 160, 0.8);
  background: rgba(0, 0, 255, 0.06667);
}

ul li:nth-child(3) {
  color: rgba(180, 180, 240, 0.8);
  background: rgba(0, 0, 255, 0.1);
}

ul li:nth-child(4) {
  color: rgba(240, 240, 255, 0.8);
  background: rgba(0, 0, 255, 0.13333);
}

ul li:nth-child(5) {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 255, 0.16667);
}

ul li:nth-child(6) {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 255, 0.2);
}

ul li:nth-child(7) {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 255, 0.23333);
}

ul li:nth-child(8) {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 255, 0.26667);
}

ul li:nth-child(9) {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 255, 0.3);
}

ul li:nth-child(10) {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 255, 0.33333);
}

ul li:nth-child(11) {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 255, 0.36667);
}

ul li:nth-child(12) {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 255, 0.4);
}

ul li:nth-child(13) {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 255, 0.43333);
}

ul li:nth-child(14) {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 255, 0.46667);
}

ul li:nth-child(15) {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 255, 0.5);
}

ul li:nth-child(16) {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 255, 0.53333);
}

ul li:nth-child(17) {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 255, 0.56667);
}

ul li:nth-child(18) {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 255, 0.6);
}

ul li:nth-child(19) {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 255, 0.63333);
}

ul li:nth-child(20) {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 255, 0.66667);
}

ul {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  max-width: 300px;
  height: 90%;
  overflow: auto;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
ul li {
  width: 100%;
  height: 80px;
  font: 300 12px/80px Arial, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  list-style: none;
  cursor: pointer;
}
ul li.is-selected {
  background: #fbfbfb;
  color: rgba(0, 0, 255, 0.5);
}
