@import "bourbon/bourbon";

body {
  overflow: hidden;
  margin: 0 auto;
  background: black;
}

.overlay {
 width: 1600px;
  height: 1600px;
  border-radius: 50%;
  background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  box-shadow: inset 0 0 80px rgba(0, 0, 0, 1);
  position: absolute;

  // transform: translate(50%, 50%);
}

canvas {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}