/* line 39, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 43, ../sass/style.scss */
html {
  box-sizing: border-box;
  height: 100%;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* line 16, ../sass/style.scss */
html {
  font-size: 0.8rem;
}
@media screen and (min-width: 20rem) {
  /* line 16, ../sass/style.scss */
  html {
    font-size: calc(0.8rem + 1.2 * ((100vw - 20rem) / 30));
  }
}
@media screen and (min-width: 50rem) {
  /* line 16, ../sass/style.scss */
  html {
    font-size: 2rem;
  }
}

/* line 51, ../sass/style.scss */
body {
  line-height: 1.5rem;
  padding: 1.5rem 0;
  margin: 0 auto;
  background-image: linear-gradient(rgba(200, 50, 50, 0.25) 1px, transparent 1px);
  background-size: 1px 1.5rem;
  width: 22rem;
}

/* line 60, ../sass/style.scss */
p {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

/* line 65, ../sass/style.scss */
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

/* line 74, ../sass/style.scss */
h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin-top: calc((1.5rem - 2rem) + 1.5rem);
}

/* line 80, ../sass/style.scss */
h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: calc((1.5rem - 1.5rem) + 1.5rem*2);
}

/* line 86, ../sass/style.scss */
h3 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-top: calc((1.5rem - 1.25rem) + 1.5rem*2);
}

/* line 92, ../sass/style.scss */
h4 {
  font-size: 1rem;
  line-height: 1rem;
  margin-top: calc((1.5rem - 1rem) + 1.5rem*2);
}

/* line 98, ../sass/style.scss */
h5 {
  font-size: 0.875rem;
  line-height: 0.875rem;
  margin-top: calc((1.5rem - 0.875rem) + 1.5rem*2);
}
