<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Animation Demo</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta charset="UTF-8" />
        <meta name="description" content="TEST API" />
        <meta name="keywords" content="TEST,API" />
        <meta name="author" content="Alexander R." />
        <meta name="theme-color" content="#000000" />
        <meta name="copyright" content="Alexander R." />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#000000" />
        <meta name="apple-mobile-web-app-title" content="TEST API" />
        <meta name="msapplication-TileImage" content="/images/icons/144x144.png" />
        <meta name="msapplication-TileColor" content="#000000" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300",rel="stylesheet" type="text/css" charset="utf-8" media="all" />
        <link rel="stylesheet" href="stylesheets/style.css" type="text/css" charset="utf-8" media="all" />
    </head>
<!--  header -->
<body>
<div id="app" class="container">
	<div id="wrapper" class="chat-wrapper">
		<bubble 
			v-for="content in contents"
			v-bind:bubbtext="content.text"
			v-bind:class="content.isUser ? 'bubble-right' : 'bubble-left'"
		>
		</bubble>
		<div v-show="isTyping" class="bubble bubble-right bubble-thinking">
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
		</div>
		<p v-if="noResponses" class="small disabled">User has left the chat. ☹️</p>
	</div>
	
	<div class="chat-input">
		<input 
			v-on:keyup.enter="addToChat"
			v-model="newMessage"
			type="text" 
			name="chatText" 
			id="chatText" 
			class="input-control input-text" 
			placeholder="Type a message" 
		/>
		<button v-on:click="addToChat" class="input-control input-button">Send</button>
	</div>
</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	
</body>
<!--  footer -->
</html>
