/* Nav */
.nav {
  &,
  &__menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    margin: 0 12px;
    color: #2C2C2C;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;

    &--active {
      font-weight: 600;
    }
  }
}
