.wrap
	.music
		.music-song
			.music-song--artist
				p Jamie-Jones
			.music-song--name
				p Hot Summmer Jams
		.music-player
			.music-player--button
				a(href=""): span.button--pause
			.music-player--timeline
				span.timeline-line
				a(href="").timeline-cursor