@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600|Quicksand);
body {
  background: #292426;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-weight: normal;
  line-height: 1.1;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-size: 3em;
  position: absolute;
  top: 0;
  left: 0;
}

h4, p {
  margin: 0 0 3px;
}

h4 {
  font-weight: normal;
}

p {
  color: #9e9f9e;
}

.container {
  float: left;
  margin: 0 40px 40px;
  width: 1280px;
  position: relative;
}

.screen-wrap {
  float: left;
  position: relative;
  top: 38px;
  text-align: center;
  margin: 0 60px 40px 0;
  height: 370px;
}

.screen-type {
  position: relative;
  height: 273px;
  margin-bottom: 22px;
}

.imac {
  width: 350px;
}
.imac .screen {
  border: 2px solid;
  height: 234px;
  border-radius: 10px;
  position: relative;
}
.imac .screen:before {
  content: "";
  display: block;
  border: 2px solid;
  height: 179px;
  margin: 11px 10px;
}
.imac .screen:after {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 2px solid;
  bottom: 28px;
  left: 0;
}
.imac .stand {
  width: 128px;
  height: 35px;
  position: absolute;
  bottom: 0px;
  border-bottom: 2px solid;
  left: 50%;
  margin-left: -64px;
  overflow: hidden;
}
.imac .stand:after, .imac .stand:before {
  content: "";
  border-radius: 20px;
  width: 40px;
  height: 90px;
  border: 2px solid;
  position: absolute;
  bottom: -2px;
  left: -17px;
}
.imac .stand:after {
  right: -17px;
  left: auto;
}

.mac-book {
  width: 228px;
}
.mac-book .screen {
  position: absolute;
  border: 2px solid;
  width: 174px;
  height: 115px;
  bottom: 15px;
  left: 50%;
  margin-left: -87px;
  border-radius: 7px 7px 0 0;
  border-bottom: none;
}
.mac-book .screen:before {
  content: "";
  display: block;
  border: 2px solid;
  height: 94px;
  margin: 8px 7px;
}
.mac-book .stand {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid;
  height: 11px;
  border-radius: 0 0 40% 40%;
}

.iphone {
  width: 220px;
}
.iphone .screen {
  width: 30px;
  height: 60px;
  bottom: 0;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  border: 2px solid;
  border-radius: 5px;
}
.iphone .screen:before {
  content: "";
  display: block;
  border: 2px solid;
  height: 41px;
  margin: 7px 1px 1px;
}
.iphone .screen:after {
  content: "";
  display: block;
  border: 2px solid;
  height: 2px;
  width: 2px;
  margin: auto;
  border-radius: 5px;
}

.ipad {
  width: 220px;
}
.ipad .screen {
  width: 97px;
  height: 127px;
  bottom: 0;
  position: absolute;
  left: 50%;
  margin-left: -48px;
  border: 2px solid;
  border-radius: 5px;
}
.ipad .screen:before {
  content: "";
  display: block;
  border: 2px solid;
  height: 103px;
  margin: 10px 8px 1px;
}
.ipad .screen:after {
  content: "";
  display: block;
  border: 2px solid;
  height: 4px;
  width: 4px;
  margin: auto;
  border-radius: 5px;
}

footer {
  clear: both;
  padding-top: 60px;
  color: #9e9f9e;
  text-align: right;
}
