/**
 * Letterpress
 */

body {
	font: 250%/1.6 Baskerville, Palatino, serif;
}

p {
	padding: .8em 1em;
	background: hsl(210, 13%, 60%);
	color: hsl(210, 13%, 30%);
	text-shadow: 0 1px 1px hsla(0,0%,100%,.8);
}

p + p {
	background: hsl(210, 13%, 30%);	
	color: hsl(210, 13%, 60%);
	text-shadow: 0 -1px 1px black;
}
