.shot
  .notebook
    .screen
    .hinge
    .keyboard
      - (1..22).each do |i|
        %div( class="k#{i} k" )
      .touchpad
      
  .cablemouse
    .cord
      .p1
      .p2
      .p3
    .mouse
    
  .notes
    - (1..4).each do |i|
      %div( class="l#{i} l" )
      
  .pencil
    .eraser
    .metal
    .wood
    .plumb
  
    