.row {
  background: #f8f9fa;
  margin-top: 20px;
}

.col {
  border: solid 1px #6c757d;
  padding: 10px;
}

.correct {
  color: rgb(63, 81, 181);
  font-size: 22px;
}

.typo {
  color: #f00;
  font-size: 22px;
}