button.button-modal Open modal
.modal.is-open
  .modal-header
    span.modal-close
  .modal-body
    img(src="http://www.hiyabna.com/wp-content/uploads/2014/11/christmas-tree-handsome-christmas-tree-decorations-christmas-tree-john-roberts-christmas-tree-john-lewis-christmas-tree-jeremiah-christmas-tree-jewelry-christmas-tree-java-christmas-tree-jubile.jpg").modal-image
    .modal-info
      h3.modal-title Awesome Christmas Tree 2016
      p.modal-label Christmas Tree with decoration
      
      span.item-price $120
      
      p.item-description Make your festive decor sparkle with this classic Christmas tree pre-lit with 150 warm white LED lights. Standing around 6 feet tall, the tree is a great choice for those wanting a nice looking Christmas tree without the hassle of adding lights.
      
      .size
        h3 Size
        ul.sizes-list
          li.item-size.size-selected S
          li.item-size M
          li.item-size L
          li.item-size XL
          
      .color
        h3 Color of decoration
        ul.colors-list
          li.silver.color-selected
            .item-color
              input(type="radio")
          li.purple
            .item-color
              input(type="radio")
          li.red
            .item-color
              input(type="radio")
          li.orange
            .item-color
              input(type="radio")   
          li.green
            .item-color
              input(type="radio") 
              
  .modal-actions
    button.button-cart Add to cart
    button.button-wishlist Add to wishlist

