@charset "UTF-8";
/* line 1, ../sass/style.scss */
body {
  background: black;
  height: 100vh;
  margin: 0;
}

/* line 7, ../sass/style.scss */
svg {
  position: absolute;
  top: 10vh;
  height: 80vh;
  min-height: 450px;
  overflow: visible;
}

/* line 15, ../sass/style.scss */
svg path {
  filter: url(#dropshadow);
}

/* line 19, ../sass/style.scss */
#stage {
  height: 100%;
  perspective: 9999px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  transform: rotateX(10deg);
  transition: transform 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* line 29, ../sass/style.scss */
#stage svg {
  opacity: 0;
  animation: ЁЯПГЁЯР▓ .75s forwards;
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(1) {
  transform: rotateZ(180deg) translateZ(-16px);
  animation-delay: 0ms;
  fill: rgba(64, 92, 61, 0.06818);
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(2) {
  transform: rotateZ(180deg) translateZ(-3px);
  animation-delay: 50ms;
  fill: rgba(64, 92, 61, 0.13636);
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(3) {
  transform: rotateZ(180deg) translateZ(10px);
  animation-delay: 100ms;
  fill: rgba(64, 92, 61, 0.20455);
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(4) {
  transform: rotateZ(180deg) translateZ(23px);
  animation-delay: 150ms;
  fill: rgba(64, 92, 61, 0.27273);
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(5) {
  transform: rotateZ(180deg) translateZ(36px);
  animation-delay: 200ms;
  fill: rgba(64, 92, 61, 0.34091);
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(6) {
  transform: rotateZ(180deg) translateZ(49px);
  animation-delay: 250ms;
  fill: rgba(64, 92, 61, 0.40909);
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(7) {
  transform: rotateZ(180deg) translateZ(62px);
  animation-delay: 300ms;
  fill: rgba(64, 92, 61, 0.47727);
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(8) {
  transform: rotateZ(180deg) translateZ(75px);
  animation-delay: 350ms;
  fill: rgba(64, 92, 61, 0.54545);
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(9) {
  transform: rotateZ(180deg) translateZ(88px);
  animation-delay: 400ms;
  fill: rgba(64, 92, 61, 0.61364);
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(10) {
  transform: rotateZ(180deg) translateZ(101px);
  animation-delay: 450ms;
  fill: rgba(64, 92, 61, 0.68182);
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(11) {
  transform: rotateZ(180deg) translateZ(114px);
  animation-delay: 500ms;
  fill: rgba(64, 92, 61, 0.75);
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(12) {
  transform: rotateZ(180deg) translateZ(127px);
  animation-delay: 550ms;
  fill: rgba(64, 92, 61, 0.81818);
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(13) {
  transform: rotateZ(180deg) translateZ(140px);
  animation-delay: 600ms;
  fill: rgba(64, 92, 61, 0.88636);
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(14) {
  transform: rotateZ(180deg) translateZ(153px);
  animation-delay: 650ms;
  fill: rgba(64, 92, 61, 0.95455);
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(15) {
  transform: rotateZ(180deg) translateZ(166px);
  animation-delay: 700ms;
  fill: #405c3d;
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(16) {
  transform: rotateZ(180deg) translateZ(179px);
  animation-delay: 750ms;
  fill: #405c3d;
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(17) {
  transform: rotateZ(180deg) translateZ(192px);
  animation-delay: 800ms;
  fill: #405c3d;
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(18) {
  transform: rotateZ(180deg) translateZ(205px);
  animation-delay: 850ms;
  fill: #405c3d;
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(19) {
  transform: rotateZ(180deg) translateZ(218px);
  animation-delay: 900ms;
  fill: #405c3d;
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(20) {
  transform: rotateZ(180deg) translateZ(231px);
  animation-delay: 950ms;
  fill: #405c3d;
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(21) {
  transform: rotateZ(180deg) translateZ(244px);
  animation-delay: 1000ms;
  fill: #405c3d;
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(22) {
  transform: rotateZ(180deg) translateZ(257px);
  animation-delay: 1050ms;
  fill: #405c3d;
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(23) {
  transform: rotateZ(180deg) translateZ(270px);
  animation-delay: 1100ms;
  fill: #405c3d;
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(24) {
  transform: rotateZ(180deg) translateZ(283px);
  animation-delay: 1150ms;
  fill: #405c3d;
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(25) {
  transform: rotateZ(180deg) translateZ(296px);
  animation-delay: 1200ms;
  fill: #405c3d;
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(26) {
  transform: rotateZ(180deg) translateZ(309px);
  animation-delay: 1250ms;
  fill: #405c3d;
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(27) {
  transform: rotateZ(180deg) translateZ(322px);
  animation-delay: 1300ms;
  fill: #405c3d;
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(28) {
  transform: rotateZ(180deg) translateZ(335px);
  animation-delay: 1350ms;
  fill: #405c3d;
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(29) {
  transform: rotateZ(180deg) translateZ(348px);
  animation-delay: 1400ms;
  fill: #405c3d;
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(30) {
  transform: rotateZ(180deg) translateZ(361px);
  animation-delay: 1450ms;
  fill: #405c3d;
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(31) {
  transform: rotateZ(180deg) translateZ(374px);
  animation-delay: 1500ms;
  fill: #405c3d;
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(32) {
  transform: rotateZ(180deg) translateZ(387px);
  animation-delay: 1550ms;
  fill: #405c3d;
}

/* line 36, ../sass/style.scss */
#stage svg:nth-of-type(33) {
  transform: rotateZ(180deg) translateZ(400px);
  animation-delay: 1600ms;
  fill: #405c3d;
}

@keyframes ЁЯПГЁЯР▓ {
  to {
    opacity: 1;
  }
}
