@import url(https://fonts.googleapis.com/css?family=Jura);
body {
  font-family: 'Jura';
  background: #fff;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  width: 100vw;
}

.content {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.logo {
  position: relative;
  left: 50%;
  margin-top: 10px;
  margin-left: -121px;
  background: transparent;
}

.desc {
  font-size: 1em;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  letter-spacing: -5px;
  animation: letterSpacing 1.5s ease-in-out 3.5s;
  -webkit-animation: letterSpacing 1.5s ease-in-out 3.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes letterSpacing {
  0% {
    letter-spacing: -5px;
    opacity: 0;
  }
  100% {
    letter-spacing: 1px;
    opacity: 1;
  }
}
@-webkit-keyframes letterSpacing {
  0% {
    letter-spacing: -5px;
    opacity: 0;
  }
  100% {
    letter-spacing: 1px;
    opacity: 1;
  }
}
