html,body{
  width: 100%;
  height: 100%;
  min-height:100%;
  overflow:hidden;
  margin: 0;  
  background: #da552f;
  background: linear-gradient(135deg, #da552f 0%, #B53C19 100%);
  font-family: 'Merriweather', serif;
}
h1{
  text-align: center;
  overflow: visible;
  position:absolute;
  left:50%;
  top:3%;
  transform:translate(-50%,-50%);  
  text-shadow: 0 0px 7px #840707;
  font-weight: 100;
  z-index:2;
  font-size:20px;
  color: #fff;
  opacity:1;
  cursor:default;
  
  a{
    color:#fff;
    text-decoration:none;
    
    span{
      font-size:10px;
    }
  }
  
}
#featured{
   //background: linear-gradient(135deg, #aaa 0%, #ddd  100%);
  //background: linear-gradient(135deg, #FF6C42 0%, #BD573A 100%);
  text-align: center;
  overflow: visible;
  position:absolute;
  left:50%;
  cursor:default;
  top:40%;
  transform:translate(-50%,-50%);  
  text-shadow: 0 10px 17px #840707;
  font-weight: 900;
  z-index:2;
  font-size:200px;
  color: rgb(218, 85, 47);
  opacity:0.2;
  visibility: hidden;
  width: 980px;
}
#logo{
  text-decoration:none;
  position:absolute;
  bottom:1%;
  left:50%;
  transform:translate(-50%,-50%);  
  text-align:center;
}
.product{
  
  //background: linear-gradient(135deg, #aaa 0%, #ddd  100%);
  background: linear-gradient(135deg, #FF6C42 0%, #BD573A 100%);
  width: 280px;
  height: 223px;
  overflow: visible;
  position:absolute;
  left:50%;
  top:40%;
  transform:translate(-50%,-50%);  
  border-radius:5px;
  box-shadow: 0 0 100px rgba(140, 45, 0, 0.72);
  z-index:9;
  display:block;
  text-decoration:none;
  visibility:hidden;
  
  .circle{
    width: 100px;
    height: 99px;
    margin: -55px auto -38px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(49, 49, 49, 0.2);
    z-index: 1;
    position: relative;
  }
  .thumb{
    margin-left:-10px;
    border-radius:5px;
    overflow: hidden;
    width: 300px;
    height: 210px;
    box-shadow: 0 0 50px rgba(00, 00,000, 0.20);
  }
  .votes{
    position:relative;
    //width: 50px;
    //height: 50px;
    //background: #fff;
    //border-radius:50%;
    //margin: -25px auto 0;
    //box-shadow: 0 0 50px rgba(00, 00,000, 0.20);
    font-size:200px;
    font-weight: 100;
    letter-spacing:-0.5px;
    text-align:center;
    text-shadow: 0 10px 17px #840707;
    color: rgb(218, 85, 47);
    opacity:0.2;
    margin: -150px -400px 0px;
    z-index:1;
  }
  .name{
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin: 75px -400px 0;
    text-shadow: 0 10px 17px #840707;
    font-weight: 700;
    position:relative;
    z-index:2;
  }
   .tag{
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin: 5px -400px 0;
    text-shadow: 0 10px 17px #840707;
    font-weight: 100;
    position:relative;
    z-index:2;
  }
}
#copy{
  text-align:center;
  text-transform:uppercase;
  line-height: 14px;
  font-size:10px;
  padding:10px 0 0;
  
  a{
    color:#fff;
    text-decoration:none;  
  }
}
#codepen{
    font-size:10px;
    color:#fff;
    text-decoration:none;
    margin-top:10px;
    position:relative;
    display:block;
}
#icone{
  font-weight: 700;
}
.arrows{
  position:fixed;
  top:50%;
  width: 100px;
  //height: 32px;
  padding:30px 0;
  //background: #ccc;
  z-index: 100;
  text-align:center;
  transform:translateY(-50%);
  color:#fff;
  cursor:pointer;
  
  &#next{
    right: 0;
  }
}