/* line 1, ../sass/style.scss */
body {
  font: 90%/150% Arial, Helvetica, sans-serif;
  color: #333;
  width: 800px;
  margin: 20px auto;
}

/* line 7, ../sass/style.scss */
a {
  color: #F60;
  text-decoration: none;
}

/* line 11, ../sass/style.scss */
p {
  margin: 0 0 2em;
}

/* line 14, ../sass/style.scss */
h1, h2, h3 {
  line-height: 110%;
}

/* line 17, ../sass/style.scss */
h1 {
  font: bold 80% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 0 0 2px;
  color: #666;
}

/* line 23, ../sass/style.scss */
h2 {
  margin: 0 0 8px;
  font-size: 200%;
}

/* line 28, ../sass/style.scss */
.image-wrap {
  margin-right: 10px;
}

/* line 31, ../sass/style.scss */
.box {
  margin: 0 0 50px;
  border-top: solid 1px #ccc;
}

/************************************************************************************
NORMAL
*************************************************************************************/
/* line 40, ../sass/style.scss */
.normal img {
  border: solid 5px #000;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
}

/************************************************************************************
CIRCLE
*************************************************************************************/
/* line 53, ../sass/style.scss */
.circle .image-wrap {
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
}

/************************************************************************************
PHOTO
*************************************************************************************/
/* line 62, ../sass/style.scss */
.card .image-wrap {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/************************************************************************************
EMBOSSED
*************************************************************************************/
/* line 74, ../sass/style.scss */
.embossed .image-wrap {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8), inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -7px 0 rgba(0, 0, 0, 0.6), inset 0 -9px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8), inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -7px 0 rgba(0, 0, 0, 0.6), inset 0 -9px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8), inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -7px 0 rgba(0, 0, 0, 0.6), inset 0 -9px 0 rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/************************************************************************************
SOFT EMBOSSED
*************************************************************************************/
/* line 86, ../sass/style.scss */
.soft-embossed .image-wrap {
  -webkit-box-shadow: inset 0 0 4px black, inset 0 2px 1px rgba(255, 255, 255, 0.5), inset 0 -9px 2px rgba(0, 0, 0, 0.6), inset 0 -12px 2px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 4px black, inset 0 2px 1px rgba(255, 255, 255, 0.5), inset 0 -9px 2px rgba(0, 0, 0, 0.6), inset 0 -12px 2px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 4px black, inset 0 2px 1px rgba(255, 255, 255, 0.5), inset 0 -9px 2px rgba(0, 0, 0, 0.6), inset 0 -12px 2px rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/************************************************************************************
CUTOUT
*************************************************************************************/
/* line 98, ../sass/style.scss */
.cutout {
  background: #222;
  padding: 20px 40px 50px;
  color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* line 106, ../sass/style.scss */
.cutout .image-wrap {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 4px 5px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 4px 5px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 4px 5px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 30em;
  -moz-border-radius: 30em;
  border-radius: 30em;
}

/************************************************************************************
MORPHING + GLOWING
*************************************************************************************/
/* line 118, ../sass/style.scss */
.morphing-glowing {
  background: #222;
  padding: 20px 40px 50px;
  color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* line 126, ../sass/style.scss */
.morphing-glowing .image-wrap {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* line 134, ../sass/style.scss */
.morphing-glowing .image-wrap:hover {
  -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.6), inset 0 0 20px white;
  -moz-box-shadow: 0 0 20px rgba(255, 255, 255, 0.6), inset 0 0 20px white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6), inset 0 0 20px white;
  -webkit-border-radius: 60em;
  -moz-border-radius: 60em;
  border-radius: 60em;
}

/************************************************************************************
GLOSSY
*************************************************************************************/
/* line 146, ../sass/style.scss */
.glossy {
  background: #222;
  padding: 20px 40px 50px;
  color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* line 154, ../sass/style.scss */
.glossy .image-wrap {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* line 162, ../sass/style.scss */
.glossy .image-wrap:after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 100%);
}

/************************************************************************************
REFLECTION
*************************************************************************************/
/* line 180, ../sass/style.scss */
.reflection .image-wrap {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* line 191, ../sass/style.scss */
.reflection .image-wrap:after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 30px;
  bottom: -31px;
  left: 0;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.3)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
}

/* line 208, ../sass/style.scss */
.reflection .image-wrap:hover {
  position: relative;
  top: -8px;
}

/************************************************************************************
GLOSSY + REFLECTION
*************************************************************************************/
/* line 216, ../sass/style.scss */
.glossy-reflection {
  background: #000;
  padding: 20px 40px 50px;
  color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* line 224, ../sass/style.scss */
.glossy-reflection .image-wrap {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.6);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* line 235, ../sass/style.scss */
.glossy-reflection .image-wrap:before {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 100%);
}

/* line 249, ../sass/style.scss */
.glossy-reflection .image-wrap:after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 30px;
  bottom: -31px;
  left: 0;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: -moz-linear-gradient(top, rgba(230, 230, 230, 0.3) 0%, rgba(230, 230, 230, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.3)), color-stop(100%, rgba(230, 230, 230, 0)));
  background: linear-gradient(top, rgba(230, 230, 230, 0.3) 0%, rgba(230, 230, 230, 0) 100%);
}

/************************************************************************************
TAPE
*************************************************************************************/
/* line 270, ../sass/style.scss */
.tape .image-wrap {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.7), inset 0 2px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.7), inset 0 2px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.7), inset 0 2px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.4);
}

/* line 275, ../sass/style.scss */
.tape .image-wrap:after {
  position: absolute;
  content: ' ';
  width: 60px;
  height: 25px;
  top: -10px;
  left: 50%;
  margin-left: -30px;
  border: solid 1px rgba(137, 130, 48, 0.2);
  background: -moz-linear-gradient(top, rgba(254, 243, 127, 0.6) 0%, rgba(240, 224, 54, 0.6) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 243, 127, 0.6)), color-stop(100%, rgba(240, 224, 54, 0.6)));
  background: linear-gradient(top, rgba(254, 243, 127, 0.6) 0%, rgba(240, 224, 54, 0.6) 100%);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 0 rgba(0, 0, 0, 0.2);
}

/************************************************************************************
MORPHING & TINTING
*************************************************************************************/
/* line 293, ../sass/style.scss */
.morphing-tinting .image-wrap {
  position: relative;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* line 302, ../sass/style.scss */
.morphing-tinting .image-wrap:hover {
  -webkit-border-radius: 30em;
  -moz-border-radius: 30em;
  border-radius: 30em;
}

/* line 307, ../sass/style.scss */
.morphing-tinting .image-wrap:after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  -webkit-border-radius: 30em;
  -moz-border-radius: 30em;
  border-radius: 30em;
}

/* line 321, ../sass/style.scss */
.morphing-tinting .image-wrap:hover:after {
  background: -webkit-gradient(radial, 50% 50%, 40, 50% 50%, 80, from(transparent), to(black));
  background: -moz-radial-gradient(50% 50%, circle, transparent 40px, black 80px);
}

/************************************************************************************
FEATHER
*************************************************************************************/
/* line 329, ../sass/style.scss */
.feather .image-wrap {
  position: relative;
  -webkit-border-radius: 30em;
  -moz-border-radius: 30em;
  border-radius: 30em;
}

/* line 335, ../sass/style.scss */
.feather .image-wrap:after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(radial, 50% 50%, 50, 50% 50%, 70, from(rgba(255, 255, 255, 0)), to(white));
  background: -moz-radial-gradient(50% 50%, circle, rgba(255, 255, 255, 0) 50px, white 70px);
}
