.container
  .info
    %h1 :focus tooltip
  .form
    %input.form-input{:type => "text", :placeholder => "Select this to fold tooltip"}
    .form-tooltip Information only visible on :focus
    %input.form-input{:type => "text", :placeholder => "Or this to fold another"}
    .form-tooltip Another tooltip with.<br> Only this with some more content.
  .info
    %p
      Written by
      %a{:href => "https://twitter.com/vpegado", :target => "_blank"} Victor Pegado