<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Animation Demo</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta charset="UTF-8" />
        <meta name="description" content="TEST API" />
        <meta name="keywords" content="TEST,API" />
        <meta name="author" content="Alexander R." />
        <meta name="theme-color" content="#000000" />
        <meta name="copyright" content="Alexander R." />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#000000" />
        <meta name="apple-mobile-web-app-title" content="TEST API" />
        <meta name="msapplication-TileImage" content="/images/icons/144x144.png" />
        <meta name="msapplication-TileColor" content="#000000" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
       
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" type="text/css" charset="utf-8" media="all" />
        <link rel="stylesheet" href="stylesheets/style.css" type="text/css" charset="utf-8" media="all" />
    </head>
<!--  header -->
<body>
<div id="app">
  <div class="container">
    <div class="copy">
            <h1>Pug to HTML</h1>
<h2>Compiling & rendering Pug templates at runtime with Vue.js</h2>
      <p>While not recommended to use on a production website, the standalone version of Pug can be used to compile any string template at runtime. Combined with <a href="https://vuejs.org/">Vue.js</a> you can easily build dynamic live previews that don’t
        require a server or NodeJS runtime. Only downside: filesize of the <a href="https://pugjs.org/js/pug.js">Pug.js</a> (500kb). But if you are building code playgrounds, style guides or desktop apps, this is no big deal, right?</p>
    </div>
  </div>

  <div class="container mtop">
    <div class="row">
      <div class="one-half column">
        <label>
  Pug
  </label>

        <textarea name="" id="" v-model="jadeTemplate"></textarea>
        <label>Name</label>
        <input type="text" v-model="name" />

      </div>
      <div class="one-half column">
        <label>HTML</label>
        <div class="render" v-html="renderedTemplate"></div>
      </div>
    </div>
  </div>
</div>


    <script src="https://pugjs.org/js/pug.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/229301/jade.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/script.js" type="text/javascript" charset="utf-8"></script>

</body>
<!--  footer -->
</html>
