/* line 1, ../sass/style.scss */
table#board {
  float: left;
}
/* line 4, ../sass/style.scss */
table#board td {
  border: 1px solid;
  width: 4em;
  height: 6em;
}

/* line 11, ../sass/style.scss */
.one {
  background: #ffedcc;
}

/* line 15, ../sass/style.scss */
.two {
  background: #ccccff;
}

/* line 19, ../sass/style.scss */
.hand {
  padding-left: 0;
  position: relative;
  z-index: 100;
}
/* line 25, ../sass/style.scss */
.hand li {
  display: inline-block;
  vertical-align: text-top;
}
/* line 29, ../sass/style.scss */
.hand li ul.card {
  position: relative;
  z-index: -1;
}

/* line 36, ../sass/style.scss */
ul.card {
  border: 2px solid !important;
  width: 4em;
  height: 6em;
}
/* line 44, ../sass/style.scss */
ul.card.a {
  color: red;
}
/* line 44, ../sass/style.scss */
ul.card.b {
  color: orange;
}
/* line 44, ../sass/style.scss */
ul.card.c {
  color: green;
}
/* line 44, ../sass/style.scss */
ul.card.d {
  color: blue;
}
/* line 44, ../sass/style.scss */
ul.card.e {
  color: purple;
}

/* line 50, ../sass/style.scss */
ul.card {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
/* line 59, ../sass/style.scss */
ul.card .modifiers, ul.card li {
  height: 1em;
  width: 1.5em;
  border: 1px solid;
  text-align: center;
  line-height: 1;
}
/* line 66, ../sass/style.scss */
ul.card .modifiers:empty, ul.card li:empty {
  visibility: hidden;
}

/* line 72, ../sass/style.scss */
.selected {
  box-shadow: 0 0 .25em .25em yellow;
}
