h1.intro dailyUI - 01
  small day / night switcher

.card
  input#card-switcher.sr-only(type="checkbox", schecked)
  .card__canvas
    .sun
    .mountain--L
    .mountain--S
    .cloud--day-1
    .cloud--day-2
    .cloud--day-3
    .cloud--night-1
    .cloud--night-2
    .cloud--night-3

  .card__caption
    .card__caption__title.card__caption__title--day It's morning!
    .card__caption__title.card__caption__title--night Good night.
    label.card__caption__switcher(for="card-switcher")


blockquote.info
  | inspired from <a href="https://dribbble.com/shots/2324734-Switch-day-night">https://dribbble.com/shots/2324734-Switch-day-night</a>
