/* line 1, ../sass/style.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*   background-color: #52eeff20; */
  background-color: #3F87E7;
}

/* line 9, ../sass/style.scss */
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 15, ../sass/style.scss */
a {
  outline: 0;
  color: #fff;
  text-decoration: none;
}

/* line 16, ../sass/style.scss */
.author {
  color: #fff;
  filter: blur(1px);
  font-size: 1.2em;
  font-family: Arial, sans-serif;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.4em;
  background-color: rgba(0, 0, 0, 0.43);
  -webkit-transition: all 0.56s cubic-bezier(0.93, 0.1, 1, 1);
  -moz-transition: all 0.56s cubic-bezier(0.93, 0.1, 1, 1);
  transition: all 0.56s cubic-bezier(0.93, 0.1, 1, 1);
  -ms-transition: all 0.56s cubic-bezier(0.93, 0.1, 1, 1);
}

/* line 29, ../sass/style.scss */
.author:hover {
  background-color: #000;
  filter: blur(0em);
}

/* line 30, ../sass/style.scss */
.author p span {
  font-weight: normal;
}

/* line 31, ../sass/style.scss */
.author p {
  height: 0;
  margin: 0;
  overflow: hidden;
  -webkit-transition: all 0.56s cubic-bezier(0.93, 0.1, 1, 1);
  -moz-transition: all 0.56s cubic-bezier(0.93, 0.1, 1, 1);
  transition: all 0.56s cubic-bezier(0.93, 0.1, 1, 1);
  -ms-transition: all 0.56s cubic-bezier(0.93, 0.1, 1, 1);
}

/* line 37, ../sass/style.scss */
.author:hover p {
  height: 1.2em;
  margin: .22em 0 0 .2em;
}

/* line 38, ../sass/style.scss */
.fancy-underline a {
  text-decoration: none;
  -webkit-transition: all .13s linear;
  -moz-transition: all .13s linear;
  transition: all .13s linear;
  -ms-transition: all .13s linear;
  text-shadow: -1px 0 0 #000, 1px 0 0 #000, -2px 0 0 #000, 2px 0 0 #000;
}

/* line 49, ../sass/style.scss */
.fancy-underline a:hover {
  background: linear-gradient(to bottom, transparent 50%, #fff 50%) repeat-x 0 0.96em;
  background-size: .2em .2em;
}
