/**
/* Mixins:
*/
/**
/* Animations:
*/
@-webkit-keyframes wiggle {
  50% {
    -webkit-transform: rotate(-1.5deg);
  }
  100% {
    -webkit-transform: scale(1.25);
    -webkit-transform: rotate(1.5deg);
  }
}
@-moz-keyframes wiggle {
  50% {
    -webkit-transform: rotate(-1.5deg);
  }
  100% {
    -webkit-transform: scale(1.25);
    -webkit-transform: rotate(1.5deg);
  }
}
@-ms-keyframes wiggle {
  50% {
    -webkit-transform: rotate(-1.5deg);
  }
  100% {
    -webkit-transform: scale(1.25);
    -webkit-transform: rotate(1.5deg);
  }
}
@-o-keyframes wiggle {
  50% {
    -webkit-transform: rotate(-1.5deg);
  }
  100% {
    -webkit-transform: scale(1.25);
    -webkit-transform: rotate(1.5deg);
  }
}
@keyframes wiggle {
  50% {
    -webkit-transform: rotate(-1.5deg);
  }
  100% {
    -webkit-transform: scale(1.25);
    -webkit-transform: rotate(1.5deg);
  }
}
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1.25);
    -webkit-transform: rotate(1deg);
  }
}
@-moz-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1.25);
    -webkit-transform: rotate(1deg);
  }
}
@-ms-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1.25);
    -webkit-transform: rotate(1deg);
  }
}
@-o-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1.25);
    -webkit-transform: rotate(1deg);
  }
}
@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1.25);
    -webkit-transform: rotate(1deg);
  }
}
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1.25);
    -webkit-transform: rotate(1deg);
  }
}
@-moz-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1.25);
    -webkit-transform: rotate(1deg);
  }
}
@-ms-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1.25);
    -webkit-transform: rotate(1deg);
  }
}
@-o-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1.25);
    -webkit-transform: rotate(1deg);
  }
}
@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1.25);
    -webkit-transform: rotate(1deg);
  }
}
/**
/* Styles:
*/
* {
  box-sizing: border-box;
}

body {
  margin: 3em;
  background: beige;
}

.animate-me {
  display: inline-block;
  position: relative;
  height: 45px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 3em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.animate-me:hover span {
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.animate-me span {
  display: inline-block;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 45px;
  color: white;
  text-shadow: 0px -1px 1px #239ed0;
  -moz-transform: translateY(45px);
  -ms-transform: translateY(45px);
  -webkit-transform: translateY(45px);
  transform: translateY(45px);
  -moz-transition: all 0.25s cubic-bezier(0.75, -0.25, 0.25, 1.75);
  -o-transition: all 0.25s cubic-bezier(0.75, -0.25, 0.25, 1.75);
  -webkit-transition: all 0.25s cubic-bezier(0.75, -0.25, 0.25, 1.75);
  transition: all 0.25s cubic-bezier(0.75, -0.25, 0.25, 1.75);
}

.skyblue {
  background: skyblue;
}

.salmon {
  background: salmon;
}

.teal {
  background: #00c0a4;
}

.wiggle:hover {
  -webkit-animation: wiggle 0.25s cubic-bezier(0, -1, 1, 1.25) infinite;
  -moz-animation: wiggle 0.25s cubic-bezier(0, -1, 1, 1.25) infinite;
  -ms-animation: wiggle 0.25s cubic-bezier(0, -1, 1, 1.25) infinite;
  -o-animation: wiggle 0.25s cubic-bezier(0, -1, 1, 1.25) infinite;
  animation: wiggle 0.25s cubic-bezier(0, -1, 1, 1.25) infinite;
}

.zoom:hover {
  -webkit-animation: zoom 0.25s cubic-bezier(0, -1, 1, 1.25) alternate;
  -moz-animation: zoom 0.25s cubic-bezier(0, -1, 1, 1.25) alternate;
  -ms-animation: zoom 0.25s cubic-bezier(0, -1, 1, 1.25) alternate;
  -o-animation: zoom 0.25s cubic-bezier(0, -1, 1, 1.25) alternate;
  animation: zoom 0.25s cubic-bezier(0, -1, 1, 1.25) alternate;
}

/**
 * Circular nav:
**/
nav.circular {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: silver;
}
nav.circular:hover .circle1 {
  display: inline-block;
}
