html {
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  background: #fff;
  font-size: 76%;
  font-family: georgia, palatino linotype, times new roman, serif;
  /* hide overflow:hidden from IE5/Mac */
  /* \*/
  overflow: hidden;
  /* */
}

body {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
}

#head {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100px;
  background: url(../images/fish.jpg) #e9eef2;
  background-repeat: no-repeat;
  font-size: 4em;
  z-index: 5;
  color: #fff;
}

#foot {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 50px;
  background: #e9eef2;
  font-size: 0.8em;
  z-index: 5;
  text-align: right;
  color: #9d4e54;
}

#left1, #left2, #left3, #left4 {
  position: absolute;
  left: 0;
  top: 100px;
  bottom: 50px;
  width: 25%;
  font-size: 1em;
  z-index: 4;
  overflow: auto;
}

* html #left1, * html #left2, * html #left3, * html #left4 {
  height: 100%;
  top: 0;
  bottom: 0;
  border-top: 100px solid #fff;
  border-bottom: 50px solid #fff;
}

#left1 {
  left: 0;
  background: #ede4d6;
}

#left2 {
  left: 25%;
  background: #f3d9bc;
}

#left3 {
  left: 50%;
  background: #dfbfc4;
}

#left4 {
  left: 75%;
  background: #e5dad4;
}

.inner {
  display: block;
  padding: 0 10px 10px 10px;
}

.bold {
  font-size: 1.5em;
  font-weight: bold;
}
