/* line 1, ../sass/style.scss */
body {
  background-color: #222;
  font-family: Arial, sans-serif;
}

/* line 6, ../sass/style.scss */
canvas {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
