{
    "presets": [
        [ "es2015", { "modules": false } ]
    ],
    "retainLines": true,
    "plugins": [
        "angularjs-annotate",
        "transform-object-assign",
        "transform-object-rest-spread"
    ],
    "compact": false,
    "comments": true,
    "env": {
        "development": {
            "plugins": [ ]
        }
    }
}