html { text-align: center; }

body { background: #000; color: #fff; }

svg { width: 65vmin; hight: 65vmin; }

path { cursor: pointer }

h1, p { font: 2em trebuchet ms, verdana, sans-serif; }

p { font-size: 1em; }

a { color: greenyellow; }