/* line 1, ../sass/style.scss */
body {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background: #464545;
}

/* line 9, ../sass/style.scss */
div {
  display: inline-block;
  width: 10vw;
  height: 10vw;
  background: #464545;
  animation: spin 4s linear infinite;
}

/* line 17, ../sass/style.scss */
div:nth-child(2n) {
  background: #F0F3B0;
  z-index: -1;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
