*{padding:0;margin:0}
		html{text-align:center;}
		body{width:950px;margin:0 auto;font-family:trebuchet ms;text-align:left;margin-top:10px;}
		#rightclickarea{padding:50px 0;width:620px;text-align:center;border:1px solid #ccc;margin-top:10px;}
		.vmenu{
		border:1px solid #aaa;
		position:absolute;
		background:#fff;
		display:none;font-size:0.75em;}
		.first_li{}
		.first_li span{width:100px;display:block;padding:5px 10px;cursor:pointer}
		.inner_li{display:none;margin-left:120px;position:absolute;border:1px solid #aaa;border-left:1px solid #ccc;margin-top:-28px;background:#fff;}
		.sep_li{border-top: 1px ridge #aaa;margin:5px 0}
		.fill_title{font-size:11px;font-weight:bold;height:15px;overflow:hidden;word-wrap:break-word;}