<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Animation Demo</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta charset="UTF-8" />
        <meta name="description" content="TEST API" />
        <meta name="keywords" content="TEST,API" />
        <meta name="author" content="Alexander R." />
        <meta name="theme-color" content="#000000" />
        <meta name="copyright" content="Alexander R." />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#000000" />
        <meta name="apple-mobile-web-app-title" content="TEST API" />
        <meta name="msapplication-TileImage" content="/images/icons/144x144.png" />
        <meta name="msapplication-TileColor" content="#000000" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300",rel="stylesheet" type="text/css" charset="utf-8" media="all" />
        <link rel="stylesheet" href="stylesheets/style.css" type="text/css" charset="utf-8" media="all" />
    </head>
<!--  header -->
<body>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 155 45">
  <defs>
    <g id="bunTop">
      <path class="burg-main burg-bun" d="M77.5,2c-31.82,0-59,10.93-70,22.32A18.26,18.26,0,0,0,2.5,37h0a5,5,0,0,0,5,5h140a5,5,0,0,0,5-5h0a18.26,18.26,0,0,0-5-12.68C136.51,12.93,109.32,2,77.5,2Z"/>
      <g>
        <line class="burg-deets" x1="46.56" y1="10.85" x2="44.44" y2="12.97"/>
        <line class="burg-deets" x1="66.56" y1="10.85" x2="64.44" y2="12.97"/>
        <line class="burg-deets" x1="86.56" y1="10.85" x2="84.44" y2="12.97"/>
        <line class="burg-deets" x1="106.56" y1="10.85" x2="104.44" y2="12.97"/>
        <line class="burg-deets" x1="58.56" y1="19.41" x2="56.44" y2="17.29"/>
        <line class="burg-deets" x1="38.56" y1="19.41" x2="36.44" y2="17.29"/>
        <line class="burg-deets" x1="78.56" y1="19.41" x2="76.44" y2="17.29"/>
        <line class="burg-deets" x1="98.56" y1="19.41" x2="96.44" y2="17.29"/>
        <line class="burg-deets" x1="118.56" y1="19.41" x2="116.44" y2="17.29"/>
      </g>
    </g>
    <path id="bunBottom" class="burg-main burg-bun" d="M7.5,2h140a5,5,0,0,1,5,5v5a10,10,0,0,1-10,10H12.5a10,10,0,0,1-10-10V7a5,5,0,0,1,5-5Z"/>
    <rect id="patty" class="burg-topping burg-topping-brown" x="2.5" y="2" width="150" height="25" rx="12.5" ry="12.5"/>
    <path id="mustard" class="burg-topping burg-topping-yellow" d="M142.5,2H12.5a5,5,0,0,0,0,10h6.56V26.11a2.5,2.5,0,0,0,5,0V12h5.06a4,4,0,0,0-.06.61v7a4,4,0,1,0,8,0v-7A4,4,0,0,0,37,12H142.5a5,5,0,0,0,0-10Z"/>
    <path id="ketchup" class="burg-topping burg-topping-red" d="M142.5,2H12.5a5,5,0,0,0,0,10H76.12a4,4,0,0,0-.06.61v7a4,4,0,0,0,8,0v-7A4,4,0,0,0,84,12h5.06v4.11a2.5,2.5,0,0,0,5,0V12H142.5a5,5,0,0,0,0-10Z"/>
    <rect id="tomato" class="burg-topping burg-topping-red" x="5" y="2" width="145" height="10" rx="5" ry="5"/>
    <path id="cheese" class="burg-topping burg-topping-yellow" d="M141.64,2H12.83A5.33,5.33,0,0,0,7.5,7.33h0a5.33,5.33,0,0,0,4.62,5.29l95.55,12.81a5.86,5.86,0,0,0,2.74-.28L143.6,13.38a5.86,5.86,0,0,0,3.9-5.52h0A5.86,5.86,0,0,0,141.64,2Z"/>
    <path id="lettuce" class="burg-topping burg-topping-green" d="M117.5,26a15.64,15.64,0,0,1-14.71-10.32,5.64,5.64,0,0,0-10.58,0,15.64,15.64,0,0,1-29.41,0,5.64,5.64,0,0,0-10.58,0,15.64,15.64,0,0,1-29.42,0,5.64,5.64,0,0,0-10.58,0,5,5,0,0,1-9.42-3.37,15.64,15.64,0,0,1,29.42,0,5.64,5.64,0,0,0,10.58,0,15.64,15.64,0,0,1,29.42,0,5.64,5.64,0,0,0,10.58,0,15.64,15.64,0,0,1,29.41,0,5.64,5.64,0,0,0,10.58,0,15.64,15.64,0,0,1,29.42,0,5,5,0,0,1-9.41,3.37,5.64,5.64,0,0,0-10.59,0A15.63,15.63,0,0,1,117.5,26Z"/>
  </defs>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 205 155">
	<defs>
		<path id="boxBottom" class="burg-box burg-main" d="M9.64,72.67H194.36a5.17,5.17,0,0,1,5,6.54l-15.88,58.72a19.85,19.85,0,0,1-19.12,14.73H39.68a19.85,19.85,0,0,1-19.12-14.73L4.68,79.22A5.17,5.17,0,0,1,9.64,72.67Z"/>
		<path id="boxTop" class="burg-box burg-main" d="M196.73,82H7.27a5.2,5.2,0,0,1-5.08-6.54L18.47,16.73A20.28,20.28,0,0,1,38.08,2H165.92a20.28,20.28,0,0,1,19.61,14.73l16.29,58.72A5.2,5.2,0,0,1,196.73,82Z"/>
	</defs>
</svg>

<div id="app">
	<div class="wrapper" :class="{'burg-completed': complete}">
		<transition name="squish-width">
			<div v-if="!complete" class="container container-controls">
				<label v-for="(topping, index) in toppings" class="input-checkbox">
					<input 
						type="checkbox"
						class="checkbox-control"
						:value="topping"
						v-model="checked"/>
					<span class="checkbox-label">
						{{ topping.name }}
					</span>
				</label>
			</div>
		</transition>
		<div class="container container-burg">
			<div class="burg">
				<div class="burg-bun-container">
					<svg class="burg-topping-img" viewBox="0 0 155 45">
						<use xlink:href="#bunTop"/>
					</svg>
				</div>
				<transition-group 
					tag="div"
					:css="false"
					v-on:before-enter="bounceStart"
					v-on:enter="bounceEnter"
					v-on:leave="bounceLeave">
					<div v-for="(item,key) in checked" :key="item" :id="'topping'+item.name" class="burg-topping-container" :data-height="item.height">
						<svg :id="'svg'+item.name" class="burg-topping-img" viewBox="0 0 155 45">
							<use :xlink:href="'#' + item.name | lowercase" class="topping"/>
						</svg>
					</div>
				</transition-group>
				<div class="burg-bun-container">
					<svg class="burg-topping-img" viewBox="0 0 155 45">
						<use xlink:href="#bunBottom"/>
					</svg>
				</div>
			</div>
			<transition name="fade-up">
				<svg v-if="complete" id="svgBoxBottom" class="burg-box-img" viewBox="0 70 205 90">
					<use xlink:href="#boxBottom"/>
				</svg>
			</transition>
			<transition name="fade-down">
				<svg v-if="complete" id="svgBoxTop" class="burg-box-img" viewBox="0 0 205 90">
					<use xlink:href="#boxTop"/>
				</svg>
			</transition>
			<transition name="drop-down">
				<svg v-if="complete" id="svgPop" class="pop-img" viewBox="0 -100 115 325">
					<g id="pop">
						<path class="pop pop-straw" d="M89.55,9h-36a2,2,0,0,0-2,2V87a2,2,0,0,0,2,2h6a2,2,0,0,0,2-2V21a2,2,0,0,1,2-2h26a2,2,0,0,0,2-2V11A2,2,0,0,0,89.55,9Z"/>
						<path class="pop pop-cup" d="M96.85,222.39H16.44a5.13,5.13,0,0,1-5.12-4.79L2,57.86a5.13,5.13,0,0,1,5.12-5.47h99a5.13,5.13,0,0,1,5.12,5.47L102,217.6A5.13,5.13,0,0,1,96.85,222.39Z"/>
					</g>
				</svg>
			</transition>
			<transition name="drop-down">
				<svg v-if="complete" id="svgFries" class="fries-img" viewBox="0 -100 117 250">
					<g id="fries">
						<g>
							<rect id="fry1" class="fries fries-fry" x="50.49" y="9" width="15" height="45" rx="2" ry="2"/>
							<rect id="fry2" class="fries fries-fry" x="65.49" y="12.68" width="15" height="45" rx="2" ry="2"/>
							<rect id="fry3" class="fries fries-fry" x="12.28" y="26.44" width="15" height="45" rx="2" ry="2"/>
							<rect id="fry4" class="fries fries-fry" x="25.32" y="20.65" width="15" height="45" rx="2" ry="2"/>
							<rect id="fry5" class="fries fries-fry" x="40.83" y="26.44" width="15" height="45" rx="2" ry="2"/>
							<rect id="fry6" class="fries fries-fry" x="54.99" y="31.5" width="15" height="45" rx="2" ry="2"/>
							<rect id="fry7" class="fries fries-fry" x="74.29" y="26.44" width="15" height="45" rx="2" ry="2"/>
							<rect id="fry8" class="fries fries-fry" x="89.29" y="20.65" width="15" height="45" rx="2" ry="2"/>
						</g>
						<path class="fries fries-container" d="M103.71,147H11.94A10,10,0,0,1,2,137.92L3.32,52.45a5,5,0,0,1,5-5.45h99.06a5,5,0,0,1,5,5.45l1.32,85.47A10,10,0,0,1,103.71,147Z"/>
					</g>
				</svg>
			</transition>
		</div>
	</div>
	<transition name="fade-squish">
		<button v-if="!complete" @click="completeOrder" class="button button-large button-block">Order!</button>
	</transition>
	
	<transition name="fade">
		<button v-if="complete" class="button-reset" @click="complete = false">Go back</button>
	</transition>
</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	
</body>
<!--  footer -->
</html>
