.header {
  background: map-get($white, 100);
  padding: 20px 0;
  box-shadow: 0 6px 0 map-get($black, 10);
}

/* Nav */
.nav {
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0;
  }

  li {
    margin: 0;
  }

  a {
    display: block;
    margin: 0 40px;
    color: map-get($black, 60);
    font-size: 12px;
    font-weight: $bold;
    text-transform: uppercase;
    transition: 0.3s ease;

    &:hover {
      color: map-get($black, 80);
    }

    &.current {
      color: $accent;
    }

    &.logo {
      img {
        max-height: 46px;
      }
    }
  }
}