.hero {
  background: map-get($black, 80) url("../img/overlay.png");
  border-bottom: 10px solid $accent;
  overflow: hidden;

  // Hero Text
  &-text {
    color: map-get($white, 100);

    h1 {
      color: inherit;
      font-family: $body-font, sans-serif;
      font-size: 72px;
      font-weight: $light;

      b {
        color: $accent;
        font-family: $header-font, sans-serif;
        font-weight: $regular;
      }
    }

    p {
      font-size: 18px;
      line-height: 2em;
    }
  }

  // Phone
  .phone {
    margin: 40px auto -40px;
  }
}