div {
  background: linear-gradient(to bottom, yellow, green);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.25);
  font-size: 300px;
  font-weight: bold;
}

u {
  text-decoration: overline underline;
}
