* {
  padding: 0;
  margin: 0;
}

html {
  text-align: center;
}

body {
  width: 950px;
  margin: 40px auto;
  font-family: trebuchet ms;
  text-align: left;
}

.container h3 {
  margin: 10px 0;
}

.clear {
  clear: both;
}

.none {
  display: none;
}

#auto_box {
  border: 1px solid #ccc;
  padding: 5px;
}

#auto_box span b {
  float: right;
  margin: 3px 0 0 3px;
  font-size: 10px;
  color: red;
  cursor: pointer;
}

#auto_box span {
  font-weight: bold;
  display: inline-block;
  border: 1px solid #eee;
  padding: 0 4px;
  margin-right: 5px;
  -moz-border-radius: 5px;
}

#auto_box input {
  border: 0;
}

.highlight {
  background: #DFF7FF;
}

#auto_box .list_name {
  overflow-y: scroll;
  height: 200px;
}
