/* line 1, ../sass/style.scss */
html {
  text-align: center;
}

/* line 3, ../sass/style.scss */
body {
  background: #000;
  color: #fff;
}

/* line 5, ../sass/style.scss */
svg {
  width: 65vmin;
  hight: 65vmin;
}

/* line 7, ../sass/style.scss */
path {
  cursor: pointer;
}

/* line 9, ../sass/style.scss */
h1, p {
  font: 2em trebuchet ms, verdana, sans-serif;
}

/* line 11, ../sass/style.scss */
p {
  font-size: 1em;
}

/* line 13, ../sass/style.scss */
a {
  color: greenyellow;
}
