/* line 1, ../sass/style.scss */
div {
  width: 100px;
  height: 100px;
  margin-top: 180px;
  transform-origin: 200% center;
  position: relative;
  animation: rotate 3s linear infinite;
}

/* line 2, ../sass/style.scss */
div:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: blue;
  animation: rotate 3s linear reverse infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
/* line 5, ../sass/style.scss */
body {
  background: #141414;
}

/* The best color ever */
