input.action.night(type='checkbox', data-text="NIGHT")
input.action.headlight(type='checkbox', data-text="HEADLIGHT")
input.action.window(type='checkbox', data-text="WINDOW")
input.action.bonnet(type='checkbox', data-text="BONNET")
input.action.luggage(type='checkbox', data-text="LUGGAGE")
input.action.door(type='checkbox', data-text="DOOR")
input.action.gull(type='checkbox', data-text="SCISSOR")
input.action.roof(type='checkbox', data-text="CONVERTIBLE")
input.action.lowdown(type='checkbox', data-text="LOWDOWN")
input.action.aero(type='checkbox', data-text="CUSTOM")
input.action.neon(type='checkbox', data-text="NEON")
input.action.run(type='checkbox', data-text="DRIVE")
input.action.zoom(type='checkbox', data-text="ZOOM")
input.action.ride(type='checkbox', data-text="RIDE")

#field
#showcase
  .camera
    .shadow
      .blur
    .car
      .body
        .front
          .bumper
            .aero
              .parts
          .bonnet
            .aero
              .parts
          .headlight.headlight_left
            .headlight_cover
            .headlight_unit
            .headlight_unit_left
            .headlight_unit_right
          .headlight.headlight_right
            .headlight_cover
            .headlight_unit
            .headlight_unit_left
            .headlight_unit_right
          .fender.fender_left
            .aero
              .parts
            .panel
          .fender.fender_right
            .aero
              .parts
            .panel
          .under
        .cockpit
          .inner.inner_front
          .inner.inner_back
          .window.window_front
          .roof
            .roof_top
            .roof_back.window
            .roof_left
            .roof_right
            .roof_bottom
          .door.door_left
            .gull
              .window
                .glass
              .panel
              .mirror
              .aero
                .parts
          .door.door_right
            .gull
              .window
                .glass
              .panel
              .mirror
              .aero
                .parts
          .under
          .seat.seat_left
          .seat.seat_right
          .handle
          .back_mirror
        .rear
          .bumper
            .taillight.taillight_left
            .taillight.taillight_right
            .aero
              .parts
                //- .garnish
                .arm.arm_left
                .arm.arm_right
                .wing
                .bottom
          .fender.fender_left
            .panel
            .aero
              .parts
          .fender.fender_right
            .panel
            .aero
              .parts
          .luggage
            .panel
          .under
          .lamp.lamp_left
          .lamp.lamp_right
          .muffler
      .wheel
        .front
          .shaft
          .tire.tire_left
          .tire.tire_right
        .rear
          .shaft
          .tire.tire_left
          .tire.tire_right