/* line 1, ../sass/style.scss */
body {
  background: black;
  color: white;
  text-align: center;
}

/* line 7, ../sass/style.scss */
header {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.8em 0;
  width: 100%;
}
/* line 13, ../sass/style.scss */
header h1 {
  margin: 0;
}

/* line 18, ../sass/style.scss */
canvas {
  margin-top: 10px;
  background: linear-gradient(#000022, #110000);
  border: 1px solid grey;
  image-rendering: pixelated;
}
