body {
  padding-top: 70px;
  background-color: #eee;
}

.categories-button {
  padding-left: 0.5em;
}

.search-buttons {
  padding-top: 1em;
  padding-bottom: 1em;
}

.carousel-button {
  margin-bottom: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #eee;
  border: 1px dashed rgba(0, 0, 0, 0.5);
}

.carousel-button a:hover,
.btn-default:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: #ddd;
  border: 1px dashed rgba(0, 0, 0, 0.75);
}

.main-carousel {
  padding-left: 0px;
  padding-right: 0px;
}

.side-carousel {
  padding-left: 0px;
  padding-right: 0px;
}

.all-carousel {
  margin-bottom: 1em;
}

.sell-alert {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.navbar-default {
  background-color: #fff;
}

.item-image {
  border-radius: 4px 4px 0px 0px;
}

.item-panel {
  padding-bottom: 10px;
  display: inline-block;
  text-align: left;
}

.item-title {
  padding: 0px 19px 0px 19px;
}

.item-price, .item-heart {
/*   margin: 0px 10px 0px 10px; */
}

#main-carousel {
  height: 30.714em;
}
#carousel-img-1 {
  height: 30.714em;
  width: auto;
/*   background-image: url(https://static.pexels.com/photos/103886/pexels-photo-103886.jpeg); */
  background-position: center center;
  background-size: cover;
}
#carousel-img-2 {
  height: 30.714em;
  width: auto;
/*   background-image: url(https://static.pexels.com/photos/70497/pexels-photo-70497.jpeg); */
  background-position: center center;
  background-size: cover;
}
#carousel-img-3 {
  height: 30.714em;
  width: auto;
/*   background-image: url(https://static.pexels.com/photos/29302/pexels-photo.jpg); */
  background-position: center center;
  background-size: cover;
}

.side-carousel-img {
  width: 26.786em;
  height: 15.357em;
/*   background-image: url(https://baconmockup.com/375/215/); */
}

.cta-account {
  margin-top: 30px;
  margin-bottom: 0px;
  border-radius: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

.cta-app {
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

.footer-links-header,
.categories-links-header,
.countries-links-header {
  color: #a9a9a9;
  margin-top: 20px;
}

.footer-links-item a:hover,
.categories-links-item a:hover,
.countries-links-item a:hover {
  color: #777;
}

.footer-links {
  border-right: 1px solid #e3e3e3;
}

.footer-row {
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

.footer-copyright {
  color: #a9a9a9;
  margin-top: 50px;
}

.languages-list {
  border-top: 1px solid #e3e3e3;
  padding-top: 15px;
}

@media (max-width: 1200px) {
  .side-carousel-img {
    max-width: 100%;
    width: 100%;
    height: 24.286em;
  }
}

@media (max-width: 768px) {
  .item-panel {
    width: 218px;
  }
}

@media (max-width: 1200px) {
  .footer-links {
    text-align: center;
    border: 0px;
  }
}

@media (min-width: 1200px) {
  .col-lg-2-4th {
    position: relative;
    float: left;
    width: 20%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 768px) {
  .col-xs-6 {
/*     padding-left: 5.214em;
    padding-right: 5.214em; */
/*     width: auto; */
  }
  .xs-2-items-container {
/*     width: 35.429em; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .col-xs-12 {
    text-align: center;
  }
}

.alert-dismissible {
  padding-left: 35px;
}

@media (max-width: 576px) {
  .item-panel {
    width: 150px;
  }
}

#img-responsive-carousel {
  display: block;
  max-width: 100%;
}