@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
/* line 5, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/style.scss */
body, html {
  height: 100%;
}

/* line 10, ../sass/style.scss */
body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: #d0d0d0;
  color: #444444;
}

/* line 19, ../sass/style.scss */
h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

/* line 24, ../sass/style.scss */
h2 {
  margin-bottom: 3em;
}

/* line 28, ../sass/style.scss */
p {
  width: 23em;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
/* line 33, ../sass/style.scss */
p:last-of-type {
  margin-bottom: 2em;
}

/* line 38, ../sass/style.scss */
strong {
  font-weight: 700;
}

/* line 42, ../sass/style.scss */
.container {
  height: 100%;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
}

/* line 69, ../sass/style.scss */
.dropdown {
  height: 3em;
  width: 16.18em;
  text-align: left;
  position: relative;
  background-color: #f5f5f5;
}
/* line 79, ../sass/style.scss */
.dropdown .dropdown_switch {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transform: scale(0.75);
  -ms-transform: scale(0.75);
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  right: 0.75em;
  top: 0.75em;
  z-index: 0;
  width: 1.5em;
  height: 1.5em;
  background-color: #3498db;
}
/* line 91, ../sass/style.scss */
.dropdown .dropdown_switch:focus {
  -moz-transform: scale(0.75);
  -ms-transform: scale(0.75);
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
}
/* line 96, ../sass/style.scss */
.dropdown:focus {
  background-color: transparent;
}
/* line 100, ../sass/style.scss */
.dropdown:focus .dropdown_list {
  background-color: #f5f5f5;
}
/* line 104, ../sass/style.scss */
.dropdown:focus .dropdown_list input:not(:checked) + label {
  height: auto;
  padding: 1em 1.2em;
}
/* line 109, ../sass/style.scss */
.dropdown:focus .dropdown_list input:checked + label {
  color: #f0f0f0;
  background-color: #444444;
}
/* line 114, ../sass/style.scss */
.dropdown:focus .dropdown_list + .dropdown_switch {
  z-index: 2;
  background-color: #e74c3c;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 123, ../sass/style.scss */
.dropdown .dropdown_list {
  z-index: 1;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
/* line 131, ../sass/style.scss */
.dropdown .dropdown_list input {
  display: none;
}
/* line 135, ../sass/style.scss */
.dropdown .dropdown_list label {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 1em 1.2em;
  position: relative;
  display: block;
}
/* line 142, ../sass/style.scss */
.dropdown .dropdown_list input:not(:checked) + label,
.dropdown .dropdown_list li:first-child input:not(:checked) + label {
  height: 0;
  padding: 0 1.2em;
  overflow: hidden;
}
/* line 149, ../sass/style.scss */
.dropdown .dropdown_list li:first-child input:not(:checked) + label {
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

@media screen and (max-width: 480px) {
  /* line 160, ../sass/style.scss */
  body .dropdown:focus {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  /* line 168, ../sass/style.scss */
  body .dropdown:focus .dropdown_list {
    height: 100%;
    overflow: auto;
  }
  /* line 173, ../sass/style.scss */
  body .dropdown:focus .dropdown_list li:first-child label {
    opacity: 0;
  }
  /* line 177, ../sass/style.scss */
  body .dropdown:focus .dropdown_list input:not(:checked) + label {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    height: auto;
    padding: 1em 1.2em;
  }
  /* line 183, ../sass/style.scss */
  body .dropdown:focus .dropdown_list:focus {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
