/* line 1, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 8, ../sass/style.scss */
#coke {
  width: 510px;
  height: 400px;
  overflow: auto;
}

/* line 15, ../sass/style.scss */
img {
  border: 0;
  margin-left: -172px;
}

/* line 21, ../sass/style.scss */
a {
  display: block;
  padding-top: 19px;
  width: 194px;
}

/* line 28, ../sass/style.scss */
a:hover img {
  background-image: url(../images/coke-title.png);
  background-repeat: no-repeat;
  background-position: 15px 100px;
}

/* line 35, ../sass/style.scss */
div div {
  background-image: url(../images/coke-scroll.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 300px;
  width: 660px;
}

/* line 44, ../sass/style.scss */
p {
  margin: 0;
  padding: 0;
  float: left;
  height: 336px;
  background-image: url(../images/coke-label.jpg);
  background-attachment: fixed;
  background-repeat: repeat-x;
  width: 1px;
}

/* line 56, ../sass/style.scss */
#x1 {
  background-position: 5px 30px;
}

/* line 57, ../sass/style.scss */
#x2 {
  background-position: 0px 30px;
}

/* line 58, ../sass/style.scss */
#x3 {
  background-position: -3px 30px;
}

/* line 59, ../sass/style.scss */
#x4 {
  background-position: -6px 30px;
}

/* line 60, ../sass/style.scss */
#x5 {
  background-position: -8px 30px;
}

/* line 61, ../sass/style.scss */
#x6 {
  background-position: -10px 30px;
}

/* line 62, ../sass/style.scss */
#x7 {
  background-position: -12px 30px;
}

/* line 63, ../sass/style.scss */
#x8 {
  background-position: -14px 30px;
}

/* line 64, ../sass/style.scss */
#x9 {
  background-position: -15px 30px;
}

/* line 65, ../sass/style.scss */
#x10 {
  background-position: -16px 30px;
}

/* line 66, ../sass/style.scss */
#x11 {
  background-position: -17px 30px;
}

/* line 67, ../sass/style.scss */
#x12 {
  background-position: -18px 30px;
}

/* line 68, ../sass/style.scss */
#x13 {
  background-position: -19px 30px;
}

/* line 69, ../sass/style.scss */
#x14 {
  background-position: -20px 30px;
}

/* line 70, ../sass/style.scss */
#x15 {
  background-position: -21px 30px;
}

/* line 71, ../sass/style.scss */
#x16 {
  background-position: -22px 30px;
  width: 2px;
}

/* line 72, ../sass/style.scss */
#x17 {
  background-position: -23px 30px;
}

/* line 73, ../sass/style.scss */
#x18 {
  background-position: -24px 30px;
  width: 2px;
}

/* line 74, ../sass/style.scss */
#x19 {
  background-position: -25px 30px;
  width: 2px;
}

/* line 75, ../sass/style.scss */
#x20 {
  background-position: -26px 30px;
  width: 2px;
}

/* line 76, ../sass/style.scss */
#x21 {
  background-position: -27px 30px;
  width: 2px;
}

/* line 77, ../sass/style.scss */
#x22 {
  background-position: -28px 30px;
  width: 3px;
}

/* line 78, ../sass/style.scss */
#x23 {
  background-position: -29px 30px;
  width: 3px;
}

/* line 79, ../sass/style.scss */
#x24 {
  background-position: -30px 30px;
  width: 4px;
}

/* line 80, ../sass/style.scss */
#x25 {
  background-position: -31px 30px;
  width: 5px;
}

/* line 81, ../sass/style.scss */
#x26 {
  background-position: -32px 30px;
  width: 7px;
}

/* line 82, ../sass/style.scss */
#x27 {
  background-position: -33px 30px;
  width: 12px;
}

/* line 83, ../sass/style.scss */
#x28 {
  background-position: -34px 30px;
  width: 55px;
}

/* line 84, ../sass/style.scss */
#x29 {
  background-position: -35px 30px;
  width: 11px;
}

/* line 85, ../sass/style.scss */
#x30 {
  background-position: -36px 30px;
  width: 6px;
}

/* line 86, ../sass/style.scss */
#x31 {
  background-position: -37px 30px;
  width: 5px;
}

/* line 87, ../sass/style.scss */
#x32 {
  background-position: -38px 30px;
  width: 4px;
}

/* line 88, ../sass/style.scss */
#x33 {
  background-position: -39px 30px;
  width: 3px;
}

/* line 89, ../sass/style.scss */
#x34 {
  background-position: -40px 30px;
  width: 2px;
}

/* line 90, ../sass/style.scss */
#x35 {
  background-position: -41px 30px;
  width: 3px;
}

/* line 91, ../sass/style.scss */
#x36 {
  background-position: -42px 30px;
  width: 2px;
}

/* line 92, ../sass/style.scss */
#x37 {
  background-position: -43px 30px;
  width: 2px;
}

/* line 93, ../sass/style.scss */
#x38 {
  background-position: -44px 30px;
}

/* line 94, ../sass/style.scss */
#x39 {
  background-position: -45px 30px;
  width: 2px;
}

/* line 95, ../sass/style.scss */
#x40 {
  background-position: -46px 30px;
}

/* line 96, ../sass/style.scss */
#x41 {
  background-position: -47px 30px;
}

/* line 97, ../sass/style.scss */
#x42 {
  background-position: -48px 30px;
}

/* line 98, ../sass/style.scss */
#x43 {
  background-position: -49px 30px;
}

/* line 99, ../sass/style.scss */
#x44 {
  background-position: -50px 30px;
}

/* line 100, ../sass/style.scss */
#x45 {
  background-position: -51px 30px;
}

/* line 101, ../sass/style.scss */
#x46 {
  background-position: -52px 30px;
}

/* line 102, ../sass/style.scss */
#x47 {
  background-position: -53px 30px;
}

/* line 103, ../sass/style.scss */
#x48 {
  background-position: -54px 30px;
}

/* line 104, ../sass/style.scss */
#x49 {
  background-position: -56px 30px;
}

/* line 105, ../sass/style.scss */
#x50 {
  background-position: -58px 30px;
}

/* line 106, ../sass/style.scss */
#x51 {
  background-position: -60px 30px;
}

/* line 107, ../sass/style.scss */
#x52 {
  background-position: -62px 30px;
}

/* line 108, ../sass/style.scss */
#x53 {
  background-position: -65px 30px;
}

/* line 109, ../sass/style.scss */
#x54 {
  background-position: -68px 30px;
}

/* line 110, ../sass/style.scss */
#x55 {
  background-position: -74px 30px;
}
