html, body * { box-sizing: border-box; font-family: 'Open Sans', sans-serif; }

body {
  padding-top: 100px;
  background: linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),
  url(https://dl.dropboxusercontent.com/u/22006283/Preview/codepen/nature-forest-trees-fog.jpeg) no-repeat center center fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  width: 220px;
  height: 50px;
  font-size: 10px;
}

.btn {
  margin: 0 auto;
  text-align: center;
  letter-spacing: 3px;
  position: relative;
  border: 1px solid rgba(26,169,122,1);
  width: 200px;
  height: 50px;
  padding: 17px 26px 10px 0px;
  color: rgba(255,255,255,1);
  transition: all ease .5s;
}

.btn:hover {
  color: rgba(26,169,122,1);
}

.btn:before {
  content: "";
  position: relative;
  border-bottom: 1px solid rgba(26,169,122,1);
  width: 30px;
  height: 1px;
  left: -15px;
  top: 5px;
  float: left;
  transition: all ease .5s;
}

.btn:hover:before {
  left: 185px;
}
