*.iml
*.class

# Package Files #
# ignore .crap files only in the crap dir, nowhere else.
/crap/*.crap
*.jar
*.war
*.ear
*.crap
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# files I want to ignore are .zip, .gz, logs, databases (they change constantly), OS files, user uploaded content (like in NNB)