* {
  position: relative;
  box-sizing: border-box;
}
html,body {
  padding: 0;
  margin: 0;
  height: 100%;
}
.wrapper {
  height: 100%;
  background-color: #FDE05F;
}
.handle {
  width: 80px;
  height: 180px;
  background-color: #FDE05F;
  border: solid 20px #FFFAC6;
  
  position: absolute;
  top: 50%;
  right: -60px;
  transform: translateY(-50%);
  border-radius: 0px 32px 32px 0px;
}
.cup {
  width: 240px;
  height: 360px;
  background-color: #FFFAC6;
  border-bottom: 40px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 2px 2px 16px 16px;

  .top {
    width: 200px;
    height: 70px;
    background-color: #fff;
    
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.foam {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.foam1 {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
}
.foam2 {
  position: absolute;
  top: -70%;
  left: 24%;
  width: 120px;
  height: 120px;
}
.foam3 {
  position: absolute;
  top: -50%;
  right: 0%;
  width: 60px;
  height: 60px;
}
.bottom {
  background-color: #FFF05A;
  width: 200px;
  height: 290px;
  border-radius: 0 0 16px 16px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
  
.bubble {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
}
.bubble1 {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 75%;
  left: 15%;
}
.bubble2 {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 45%;
  left: 24%;
}
.bubble3 {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 18%;
  left: 46%;
}
.bubble4 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8%;
  right: 8%;
}