.container
  .text
    .text-main Find the Christmas gift
    .title!= 'Pick ' + '<span id="number">3</span>' + ' gifts'
  .help
    input(id='pickWin' type='checkbox' name='see')
    p See result?
  .wrapper
    each val in [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
      .cube(class='gradiant-' + val)
        .cube-contain
          .cube-top
          .cube-front
          .cube-back
          .cube-left
          .cube-right
          .cube-bottom
          .gift 😢
.container-modal
  .modal
    a(class='modal-close', href='#') close
    h1(class='modal-tilte')
    a(class='refresh', href='#') Try Again
    