html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EF494D;
}

.loader {
  height: 100px;
  margin: 50px;
  position: relative;
}
.loader .loader__arm {
  animation: height .5s infinite alternate linear;
  background: #fff;
  width: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.loader::before {
  animation: pulse-in 2s infinite linear;
  position: absolute;
  top: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  content: '';
  transform: translate(-50%, -50%);
  transform-origin: center top;
  border-radius: 50%;
}
.loader::after {
  animation: pulse-out 2s infinite linear;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  content: '';
  transform: translate(-50%, 50%);
  border-radius: 50%;
}
.loader:nth-child(2n) .loader__arm, .loader:nth-child(2n)::before, .loader:nth-child(2n)::after {
  animation-delay: 250ms;
}
.loader:nth-child(3n) .loader__arm, .loader:nth-child(3n)::before, .loader:nth-child(3n)::after {
  animation-delay: 500ms;
}
.loader:nth-child(4n) .loader__arm, .loader:nth-child(4n)::before, .loader:nth-child(4n)::after {
  animation-delay: 750ms;
}

@keyframes height {
  0% {
    transform: translateX(-50%) scaleY(1);
  }
  100% {
    transform: translateX(-50%) scaleY(0);
  }
}
@keyframes pulse-in {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
    top: 0;
  }
  25% {
    transform: translate(-50%, -50%) scale(0.5);
    top: 50%;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    top: 100%;
  }
  75% {
    transform: translate(-50%, -50%) scale(2);
    top: 50%;
  }
}
@keyframes pulse-out {
  0%, 100% {
    transform: translate(-50%, 50%) scale(1);
    bottom: 0;
  }
  25% {
    transform: translate(-50%, 50%) scale(2);
    bottom: 50%;
  }
  50% {
    transform: translate(-50%, 50%) scale(1);
    bottom: 100%;
  }
  75% {
    transform: translate(-50%, 50%) scale(0.5);
    bottom: 50%;
  }
}
