/* line 1, ../sass/style.scss */
html {
  height: 100%;
  color: white;
}

/* line 6, ../sass/style.scss */
body {
  background: teal linear-gradient(transparent, #ff0099);
  text-align: center;
}

/* line 11, ../sass/style.scss */
canvas {
  border: 3px solid yellow;
}

/* line 15, ../sass/style.scss */
#sources {
  display: none;
}
