// Custom Jade Code Here
.container

.footer Template by Branko Stancevic, 2018

.wrapper
	.poll-box
		.poll-container
			.poll-question Will Poland win the footboal match?
			.poll-panel.row.mt-30
				.btn.poll-panel-btn(aria-role='button' data-result=0 data-vote=0) 
					span Yes
				.btn.poll-panel-btn(aria-role='button' data-result=0 data-vote=1) 
					span No