body {
  color: #ede5e5;
}

.color-bar {
  position: fixed;
  left: 0;
  right: 0;
  height: 50%;
  padding: 30px;
  text-align: center;
}
	
#top {
	top: 0;
	background-color: #a34560;
}
	
#bottom {
	bottom: 0;
	background-color: #eb696b;
	}

.box{
  display: none;
  position: absolute;
  opacity: 0;
  width: 100%;
}

.iframe {
  border: none;
}
a {
  color: #901256;
  text-decoration: none;
  &:visited {
    text-decoration: none;
  }
}

a:hover +.box, .box:hover {
  display: block;
  opacity: 1;
  z-index: 100;
  width: 80%;
  border: none;
  text-align: center;
}


