html {
    height: 100%;
    color: white;
}

body {
    background: teal linear-gradient(transparent, #ff0099);
    text-align: center;
}

canvas {
    border: 3px solid yellow;
}

#sources {
    display: none;
}