/* -------------------------------------*/
html{ position:relative; }
html  body{ padding:0px; margin:0px;}

.wrapper{
width:100%;
max-width:1024px;
height:auto;
display:block;
margin:0px auto;
}

a.back-to-article{
width:100%;
float:left;
background:#999;
color:#fff;
text-align:left;
text-indent:20px;
padding:10px 0px;
font-size:0.8em;
text-transform:uppercase;
text-decoration:none;
}

a.back-to-article:hover{
color:#000;
}

.wrapper  h1.logo{
padding-left:15px;
}

/*
-- Break Points ---------
>> 1200px @media(min-width:992px){}
>> 992px  @media(min-width:992px){}
>> 768px  @media(min-width:768px){}
------------------------*/

/*
-- Navigation bar ----------*/

.navigation-bar{
width:100%;
height:auto;
float:left;
margin:  0px;
display: block;
position: relative;
}

/*
-- Navigation Trigger ------*/
.navigation-bar  .navigation-trigger{
width:auto;
max-width: 38px;
top:15px;
right:5px;
position:absolute;
display:none;
margin:10px;
cursor:pointer;
}
.navigation-bar  .navigation-trigger i{
padding:5px 10px;
border:1px solid #ddd;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-o-border-radius:4px;
-ms-border-radius:4px;
color:#999;
}

@media(max-width:767px){
.navigation-bar  .navigation-trigger{
display:block;
}
.navigation-bar  .navigation-trigger .fa-close{
display:none;
}
.navigation-bar  .navigation-trigger.active .fa-close{
display:block;
color:#fff;
background:rgba(0,0,0,0.8);
border:1px solid rgba(0,0,0,0.8);
}
.navigation-bar  .navigation-trigger.active .fa-bars{
display:none;
}
}

/*
-- Menu 1 -----------------*/
.menu-3  ul{
width:100%;
height:auto;
float:left;
display:block;
padding:5px 0px;
margin:0px;
background-color:rgba(0,0,0,1);
border-top:2px solid #ddd;
border-bottom:2px solid #ddd;
list-style-type:none;
}

.menu-3 ul  li{
float:left;
padding:5px 10px;
text-align:center;
}

.menu-3 ul  li a{
text-decoration:none;
color:#fff;
font-size:0.9em;
font-weight:normal;
font-family: Montserrat,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu-3 ul  li a i{
margin-right:10px;
}

.menu-3 ul  li a:hover ,
.menu-3 ul  li a:active ,
.menu-3 ul  li a:focus {
color:#ddd;
}

@media(max-width:767px){
.menu-3 ul{
width: 100%;
height: 100%;
display: none;
border: none;
top: 0px;
left: 0px;
position: relative;
background: rgba(0,0,0,0.8);
padding: 6px 0px 5px;
}

.menu-3 ul li{
width: 100%;
float: left;
Padding: 0px;
margin: 5px 0px;
text-align: left;
}

.menu-3 ul li  a{
width: auto;
float: left;
display: block;
Padding: 10px 30px;
transition:all 0.2s ease;
-moz-transition:all 0.2s ease;
-webkit-transition:all 0.2s ease;
}

.menu-3 ul li  a:hover,
.menu-3 ul li  a:active,
.menu-3 ul li  a:focus{
border-left:10px solid #fff;
}
}