/**
 * Flexible background positioning
 * via extended background-position
 */

div {
	background: url(http://placehold.it/350)
	            no-repeat bottom right #58a;
	background-position: right 20px bottom 10px;
	/*background-position: calc(100% - 20px) calc(100% - 10px);*/
	
	/* Styling */
	max-width: 10em;
	min-height: 5em;
	padding: 10px;
	color: white;
	font: 100%/1 sans-serif;
}