h1 Who doesn't like fun buttons?
button.btn.first Button 1
button.btn.second Button 2
button.btn.third Button 3
button.btn.fourth Button 4
button.btn.fifth Button 5
button.btn.sixth Button 6
p Inspiration for new ways to make interactive buttons using linear-gradients, box-shadows, and pseudo classes!