
.fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_On leaf__4ac959fc_1176_4a1b_8190_91cd38fd5458_0 {
    
     display: inline-block;
     width: 64px;
     height: 65px;
     background:url("WA_iconsite.png");
     position: relative;
     top: -100px;
     left: auto;
     margin: 0px 0px 0px 40px;
     z-index: 1000;

     -moz-animation-name: ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_0;
     -moz-animation-duration: 5174ms;
     -moz-animation-timing-function: linear;
     -moz-animation-iteration-count:infinite;
     -moz-animation-direction: normal;

     -webkit-animation-name: ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_0;
     -webkit-animation-duration: 5174ms;
     -webkit-animation-timing-function: linear;
     -webkit-animation-iteration-count:infinite;
     -webkit-animation-direction: normal;      
}


@-moz-keyframes ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_0 {
     0% {
         opacity: 1;
         -moz-transform: translate(0px, -130px) rotateZ(0deg);
     }     
     100% {
          opacity: 0;
          -moz-transform: translate(6px, 290px) rotateZ(360deg);
     }
}

@-webkit-keyframes ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_0 {
     0% {
         opacity: 1;
         -webkit-transform: translate(0px, -130px) rotateZ(0deg);
     }
     100% {
          opacity: 0;
          -webkit-transform: translate(6px, 290px) rotateZ(360deg);
     }
}



.fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_On leaf__4ac959fc_1176_4a1b_8190_91cd38fd5458_1 {
    
     display: inline-block;
     width: 64px;
     height: 65px;
     background:url("WA_iconsite.png");
     position: relative;
     top: -100px;
     left: auto;
     margin: 0px 0px 0px 13px;
     z-index: 1000;

     -moz-animation-name: ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_1;
     -moz-animation-duration: 4226ms;
     -moz-animation-timing-function: linear;
     -moz-animation-iteration-count:infinite;
     -moz-animation-direction: normal;

     -webkit-animation-name: ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_1;
     -webkit-animation-duration: 4226ms;
     -webkit-animation-timing-function: linear;
     -webkit-animation-iteration-count:infinite;
     -webkit-animation-direction: normal;      
}


@-moz-keyframes ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_1 {
     0% {
         opacity: 1;
         -moz-transform: translate(0px, -130px) rotateZ(0deg);
     }     
     100% {
          opacity: 0;
          -moz-transform: translate(-46px, 290px) rotateZ(360deg);
     }
}

@-webkit-keyframes ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_1 {
     0% {
         opacity: 1;
         -webkit-transform: translate(0px, -130px) rotateZ(0deg);
     }
     100% {
          opacity: 0;
          -webkit-transform: translate(-46px, 290px) rotateZ(360deg);
     }
}



.fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_On leaf__4ac959fc_1176_4a1b_8190_91cd38fd5458_2 {
    
     display: inline-block;
     width: 64px;
     height: 65px;
     background:url("WA_iconsite.png");
     position: relative;
     top: -100px;
     left: auto;
     margin: 0px 0px 0px 89px;
     z-index: 1000;

     -moz-animation-name: ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_2;
     -moz-animation-duration: 3997ms;
     -moz-animation-timing-function: linear;
     -moz-animation-iteration-count:infinite;
     -moz-animation-direction: normal;

     -webkit-animation-name: ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_2;
     -webkit-animation-duration: 3997ms;
     -webkit-animation-timing-function: linear;
     -webkit-animation-iteration-count:infinite;
     -webkit-animation-direction: normal;      
}


@-moz-keyframes ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_2 {
     0% {
         opacity: 1;
         -moz-transform: translate(0px, -130px) rotateZ(0deg);
     }     
     100% {
          opacity: 0;
          -moz-transform: translate(-64px, 290px) rotateZ(360deg);
     }
}

@-webkit-keyframes ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_2 {
     0% {
         opacity: 1;
         -webkit-transform: translate(0px, -130px) rotateZ(0deg);
     }
     100% {
          opacity: 0;
          -webkit-transform: translate(-64px, 290px) rotateZ(360deg);
     }
}



.fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_On leaf__4ac959fc_1176_4a1b_8190_91cd38fd5458_3 {
    
     display: inline-block;
     width: 64px;
     height: 65px;
     background:url("WA_iconsite.png");
     position: relative;
     top: -100px;
     left: auto;
     margin: 0px 0px 0px 13px;
     z-index: 1000;

     -moz-animation-name: ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_3;
     -moz-animation-duration: 3362ms;
     -moz-animation-timing-function: linear;
     -moz-animation-iteration-count:infinite;
     -moz-animation-direction: normal;

     -webkit-animation-name: ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_3;
     -webkit-animation-duration: 3362ms;
     -webkit-animation-timing-function: linear;
     -webkit-animation-iteration-count:infinite;
     -webkit-animation-direction: normal;      
}


@-moz-keyframes ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_3 {
     0% {
         opacity: 1;
         -moz-transform: translate(0px, -130px) rotateZ(0deg);
     }     
     100% {
          opacity: 0;
          -moz-transform: translate(-98px, 290px) rotateZ(360deg);
     }
}

@-webkit-keyframes ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_3 {
     0% {
         opacity: 1;
         -webkit-transform: translate(0px, -130px) rotateZ(0deg);
     }
     100% {
          opacity: 0;
          -webkit-transform: translate(-98px, 290px) rotateZ(360deg);
     }
}



.fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_On leaf__4ac959fc_1176_4a1b_8190_91cd38fd5458_4 {
    
     display: inline-block;
     width: 64px;
     height: 65px;
     background:url("WA_iconsite.png");
     position: relative;
     top: -100px;
     left: auto;
     margin: 0px 0px 0px 150px;
     z-index: 1000;

     -moz-animation-name: ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_4;
     -moz-animation-duration: 2632ms;
     -moz-animation-timing-function: linear;
     -moz-animation-iteration-count:infinite;
     -moz-animation-direction: normal;

     -webkit-animation-name: ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_4;
     -webkit-animation-duration: 2632ms;
     -webkit-animation-timing-function: linear;
     -webkit-animation-iteration-count:infinite;
     -webkit-animation-direction: normal;      
}


@-moz-keyframes ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_4 {
     0% {
         opacity: 1;
         -moz-transform: translate(0px, -130px) rotateZ(0deg);
     }     
     100% {
          opacity: 0;
          -moz-transform: translate(56px, 290px) rotateZ(360deg);
     }
}

@-webkit-keyframes ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_4 {
     0% {
         opacity: 1;
         -webkit-transform: translate(0px, -130px) rotateZ(0deg);
     }
     100% {
          opacity: 0;
          -webkit-transform: translate(56px, 290px) rotateZ(360deg);
     }
}



.fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_On leaf__4ac959fc_1176_4a1b_8190_91cd38fd5458_5 {
    
     display: inline-block;
     width: 64px;
     height: 65px;
     background:url("WA_iconsite.png");
     position: relative;
     top: -100px;
     left: auto;
     margin: 0px 0px 0px 59px;
     z-index: 1000;

     -moz-animation-name: ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_5;
     -moz-animation-duration: 2618ms;
     -moz-animation-timing-function: linear;
     -moz-animation-iteration-count:infinite;
     -moz-animation-direction: normal;

     -webkit-animation-name: ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_5;
     -webkit-animation-duration: 2618ms;
     -webkit-animation-timing-function: linear;
     -webkit-animation-iteration-count:infinite;
     -webkit-animation-direction: normal;      
}


@-moz-keyframes ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_5 {
     0% {
         opacity: 1;
         -moz-transform: translate(0px, -130px) rotateZ(0deg);
     }     
     100% {
          opacity: 0;
          -moz-transform: translate(-85px, 290px) rotateZ(360deg);
     }
}

@-webkit-keyframes ani_fallingLeafes__4ac959fc_1176_4a1b_8190_91cd38fd5458_5 {
     0% {
         opacity: 1;
         -webkit-transform: translate(0px, -130px) rotateZ(0deg);
     }
     100% {
          opacity: 0;
          -webkit-transform: translate(-85px, 290px) rotateZ(360deg);
     }
}





