.demo-scene img {
    max-width: 200px;
    transition: opacity 0.35s ease;
}

.demo-scene:not(.nothover) img.colorify {
    opacity: 0;
}

.demo-scene .image-container:hover img {
    opacity: 1;
}

.demo-scene .image-container {
    display: inline-block;
    padding: 0;
    margin: 0 4px;
}

img {
    border: 0;
}

.image-container {
    display: inline-block;
    padding: 0;
    margin: 0 4px;
}