.hero {
  height: 100vh;
  background-color: #69ACFF;
}

.wave {
  width: 100%;
  height: 50vh;
  margin-top: 50vh;
}
.wave path {
  fill: rgba(49, 84, 127, 0.15);
  animation: wave infinite linear;
}
.wave path:first-child {
  animation-duration: 18s;
}
.wave path:last-child {
  animation-duration: 30s;
}

@keyframes wave {
  0%, 100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.3);
  }
}
