body {
  background: #00263a;
  padding: 50px;
  color: #fff;
}

.bayleyssvg {
  display: block;
  margin: 80px auto;
  width: 800px;
  margin-bottom: 15px;
}

#bayleys {
  fill: #ffffff;
  stroke: #ffffff;
}

#bayleys {
  stroke-width: 0;
  animation: logo 5s linear infinite;
}

@keyframes logo {
  0% {
    stroke-width: 1pt;
    stroke-dashoffset: 1200;
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 0pt;
  }
}