/* line 1, ../sass/style.scss */
.instamask {
  margin: 20px auto;
  text-align: center;
}

/* line 5, ../sass/style.scss */
.instamask img {
  width: 200px;
  height: 200px;
}

/* line 9, ../sass/style.scss */
.instamask > * {
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
  font-size: 2em;
}

/* line 15, ../sass/style.scss */
.instamask img:last-of-type {
  -webkit-mask: url("http://iamvdo.me/conf/2012/kiwiparty/img/masque2.png");
  mask: url("#mask");
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: center;
  transition: -webkit-mask-size .3s;
}

/* line 23, ../sass/style.scss */
.instamask img:hover {
  -webkit-mask-size: calc(100% / 3) calc(100% / 3);
}

/* line 29, ../sass/style.scss */
html {
  text-align: center;
  min-height: 100%;
  background: linear-gradient(white, #ddd);
}

/* line 34, ../sass/style.scss */
h1, p {
  margin-top: 50px;
  color: rgba(0, 0, 0, 0.3);
}
