/*
ONLY WORKS IN WEBKIT!
 */
body {
    background-color: #1E1E20;
    display: flex;
	justify-content: center;
	align-items: center;
    background: radial-gradient(#212934, #1E1E20);
}

*, *:before, *:after {
  box-sizing: border-box;
}

#nowebkit {
    display: none;
    color: #34ADE3;
    text-align: center;
    padding-top:20px;
    
    a {
        color: white;
    }
}
.poly-wrapper {
    position: relative;
    height: 400px;
    width: 400px;
    padding-left: 50px;
}

.poly {
    width: 100%;
	height: 100%;
    position:absolute;
    transform: scale(0);
}

.poly:nth-child(1) {
	background: linear-gradient(#3D84D8, #BA32BF);
	clip-path: polygon(14% 55%, 4% 100%, 0 51%);
    animation: show 500ms ease-in 100ms forwards;
}
.poly:nth-child(2) {
	background: linear-gradient(-90deg,#3D84D8, #BA32BF);
	clip-path: polygon(12% 62%, 4% 100%, 33% 75%);
    animation: show 500ms ease-in 200ms forwards;
}
.poly:nth-child(3) {
	background: linear-gradient(45deg, #3EA8E6, darken(#3EA8E6,5%));
	clip-path: polygon(12% 62%, 36% 53%, 14% 55%);
    animation: show 500ms ease-in 300ms forwards;
}

.poly:nth-child(4) {
	background: linear-gradient(#4345AF, #194CAA);
	clip-path: polygon(36% 53%, 12% 62%, 33% 75%);
    animation: show 500ms ease-in 400ms forwards;
}

.poly:nth-child(5) {
	background: linear-gradient(#3D3495, #1D3B92);
	clip-path: polygon(36% 53%, 33% 75%, 50% 62%);
    animation: show 500ms ease-in 500ms forwards;
}

.poly:nth-child(6) {
	background: linear-gradient(darken(#3D3495, 15%), #1D3B92);
	clip-path: polygon(36% 53%,50% 62%, 65% 62%);
    animation: show 500ms ease-in 600ms forwards;
}

.poly:nth-child(7) {
	background: linear-gradient(lighten(#3D3495, 15%), #1D3B92);
	clip-path: polygon(36% 53%, 65% 62%, 69% 58%);
    animation: show 500ms ease-in 700ms forwards;
}

.poly:nth-child(8) {
	background: linear-gradient(lighten(#0C68C8, 5%), lighten(#1D3B92, 5%));
	clip-path: polygon(36% 53%, 69% 58%, 65% 50%, 47% 50% );
    animation: show 500ms ease-in 800ms forwards;
}

.poly:nth-child(9) {
	background: linear-gradient(darken(#0C68C8, 2%), darken(#1D3B92, 2%));
	clip-path: polygon(69% 58%, 65% 50%, 69% 48%, 74% 50%);
    animation: show 500ms ease-in 900ms forwards;
}

.poly:nth-child(10) {
	background: linear-gradient(#0FA2E3, darken(#0FA2E3, 5%));
	clip-path: polygon(65% 50%, 69% 48%, 52% 41%, 46% 42%, 47% 50%);
    animation: show 500ms ease-in 1000ms forwards;
}
.poly:nth-child(11) {
	background: linear-gradient(#134CA1, lighten(#134CA1, 5%));
	clip-path: polygon(46% 42%, 47% 50%, 36% 53%, 35% 39%);
    animation: show 500ms ease-in 1100ms forwards;
}

.poly:nth-child(12) {
	background: linear-gradient(white, lighten(white, 1%));
	clip-path: polygon(44% 39% ,46% 42%, 35% 39%);
    animation: show 500ms ease-in 1200ms forwards;
}

.poly:nth-child(13) {
	background: linear-gradient(#0E9AD8, lighten(#0E9AD8, 25%));
	clip-path: polygon(44% 39% ,46% 42%, 52% 41%, 45% 36%);
    animation: show 500ms ease-in 1300ms forwards;
}

.poly:nth-child(14) {
	background: linear-gradient(#0E9AD8, lighten(#0E9AD8, 25%));
	clip-path: polygon(44% 39%, 45% 36%, 31% 29%, 35% 39%);
    animation: show 500ms ease-in 1400ms forwards;
}

.poly:nth-child(15) {
	background: linear-gradient(lighten(#0E9AD7, 10%), lighten(#1D3B92, 14%));
	clip-path: polygon(14% 55%, 25% 40%, 36% 53%);
    animation: show 500ms ease-in 1500ms forwards;
}

.poly:nth-child(16) {
	background: linear-gradient(#0E9AD7, #1D3B92);
	clip-path: polygon(25% 40%, 36% 53%, 35% 39%);
    animation: show 500ms ease-in 1600ms forwards;
}

.poly:nth-child(17) {
	background: linear-gradient(#0E9AD8, lighten(#0E9AD8, 5%));
	clip-path: polygon(25% 40%, 35% 39%, 31% 29%, 24% 25%);
    animation: show 500ms ease-in 1700ms forwards;
}

.poly:nth-child(18) {
	background: linear-gradient(#175BC2, darken(#0E9AD8, 5%));
	clip-path: polygon(25% 40%, 24% 25%, 14% 55%);
    animation: show 500ms ease-in 1800ms forwards;
}

.poly:nth-child(19) {
	background: linear-gradient(#34ADE3, darken(#0E9AD8, 5%));
	clip-path: polygon(0% 51%, 14% 55%, 24% 25%, 17% 24%);
    animation: show 500ms ease-in 1900ms forwards;
}

.poly:nth-child(20) {
	background: linear-gradient(lighten(#37A5E5, 5%), lighten(#37A5E5, 10%));
	clip-path: polygon(24% 25%, 17% 24%, 32% 13%);
    animation: show 500ms ease-in 2000ms forwards;
}

.poly:nth-child(21) {
	background: linear-gradient(lighten(#1451AC, 2%), lighten(#1451AC, 3%));
	clip-path: polygon(24% 25%, 32% 13%, 31% 29%);
    animation: show 500ms ease-in 2100ms forwards;
}

@keyframes show {
    0% {
        transform: scale(0.8);
    }
    
    50% {
        transform: scale(1.1);
    }
    
    100% {
        transform: scale(1);
    }
}
