/* line 1, ../sass/style.scss */
.wrap {
  margin: 30px auto;
  max-width: 1000px;
  width: 90vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: sans-serif;
}

/* line 12, ../sass/style.scss */
.box {
  width: calc(20%);
  margin: 20px 20px;
  background: #ddd;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  line-height: 130px;
}

/* line 23, ../sass/style.scss */
.blue {
  background-color: rgba(56, 207, 248, 0.5);
}

/* line 28, ../sass/style.scss */
.scaleX {
  transform: scaleX(1);
  transition: transform 0.5s ease;
}

/* line 34, ../sass/style.scss */
.box:hover .scaleX {
  transform: scaleX(2);
}

/* line 38, ../sass/style.scss */
.scaleY {
  transform: scaleY(1);
  transition: transform 0.5s ease;
}

/* line 44, ../sass/style.scss */
.box:hover .scaleY {
  transform: scaleY(2);
}

/* line 48, ../sass/style.scss */
.scale {
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

/* line 54, ../sass/style.scss */
.box:hover .scale {
  transform: scale(1.5, 1.5);
}

/* line 58, ../sass/style.scss */
.translateX {
  transform: translateX(1);
  transition: transform 0.5s ease;
}

/* line 64, ../sass/style.scss */
.box:hover .translateX {
  transform: translateX(2em);
}

/* line 68, ../sass/style.scss */
.translateY {
  transform: translateY(1);
  transition: transform 0.5s ease;
}

/* line 74, ../sass/style.scss */
.box:hover .translateY {
  transform: translateY(2em);
}

/* line 78, ../sass/style.scss */
.translate {
  transform: translate(1, 1);
  transition: transform 0.5s ease;
}

/* line 84, ../sass/style.scss */
.box:hover .translate {
  transform: translate(2em, 2em);
}

/* line 88, ../sass/style.scss */
.matrix {
  transform: matrix(1, 1, 1, 1);
  transition: transform 0.5s ease;
}

/* line 93, ../sass/style.scss */
.box:hover .matrix {
  transform: matrix(1, -1, 0, 1, 0, 0);
  /* Standard syntax */
}

/* line 97, ../sass/style.scss */
.rotate {
  transform: rotate(0);
  transition: transform 0.5s ease;
}

/* line 102, ../sass/style.scss */
.box:hover .rotate {
  transform: rotate(270deg);
  /* Standard syntax */
}

/* line 106, ../sass/style.scss */
.skew {
  transform: skew(1, 1);
  transition: transform 0.5s ease;
}

/* line 111, ../sass/style.scss */
.box:hover .skew {
  transform: skew(30deg, 20deg);
  /* Standard syntax */
}

/* line 116, ../sass/style.scss */
.skewX {
  transform: skewX(1);
  transition: transform 0.5s ease;
}

/* line 121, ../sass/style.scss */
.box:hover .skewX {
  transform: skewX(30deg);
  /* Standard syntax */
}

/* line 126, ../sass/style.scss */
.skewY {
  transform: skewY(1);
  transition: transform 0.5s ease;
}

/* line 131, ../sass/style.scss */
.box:hover .skewY {
  transform: skewY(30deg);
  /* Standard syntax */
}

/* line 136, ../sass/style.scss */
.matrix3d {
  transform: matrix3d(1);
  transition: transform 0.5s ease;
}

/* line 141, ../sass/style.scss */
.box:hover .matrix3d {
  transform: matrix3d(0.85355, 0.5, 0.14645, 0, -0.5, 0.70711, 0.5, 0, 0.14645, -0.5, 0.85355, 0, 22.62994, -20.32233, 101.37006, 1);
}

/* line 146, ../sass/style.scss */
.translate3d {
  transform: translate3d(1px, 1px, 1);
  transition: transform 0.5s ease;
}

/* line 151, ../sass/style.scss */
.box:hover .translate3d {
  transform: translate3d(1px, 1px, 50px) rotate3d(3, 2, 2, 90deg);
  /* Standard syntax */
}

/* line 156, ../sass/style.scss */
.rotateY {
  transform: perspective(1) scaleZ(1) rotateY(0deg);
  transition: transform 0.5s ease;
  /*   perspective: 300px; */
  /*   transform-style: preserve-3d; */
}

/* line 163, ../sass/style.scss */
.box:hover .rotateY {
  /*   transform: translate3d(42px, 42px, 42px); */
  transform: perspective(500px) scaleZ(2) rotateY(45deg);
  /* Standard syntax */
}

/* line 169, ../sass/style.scss */
.rotateX {
  /*   perspective: 100px; */
  transform: perspective(1) scaleZ(1) rotateX(0deg);
  transition: transform 0.5s ease;
}

/* line 175, ../sass/style.scss */
.box:hover .rotateX {
  transform: perspective(500px) scaleZ(2) rotateX(45deg);
  /* Standard syntax */
}

/* line 180, ../sass/style.scss */
.translateZ {
  transform: translateZ(1px);
  transition: transform 0.5s ease;
}

/* line 185, ../sass/style.scss */
.box:hover .translateZ {
  transform: rotate3d(3, 2, 2, 90deg) translateZ(50px);
  /* Standard syntax */
}

/* General style */
/* line 192, ../sass/style.scss */
header {
  width: 100%;
  display: block;
  background: #FFF;
  height: 40px;
  margin-bottom: 4%;
  color: #ccc;
  font-family: sans-serif;
  font-weight: bold;
  box-shadow: 0px 2px 0px 0px rgba(125, 121, 125, 0.3);
  overflow: hidden;
}

/* line 204, ../sass/style.scss */
header h1, header a {
  display: inline-block;
  font-size: .8rem;
  margin: auto 10px;
  line-height: 40px;
}

/* line 211, ../sass/style.scss */
header h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 215, ../sass/style.scss */
header a {
  text-decoration: none;
  background-color: #eee;
  color: #999;
  padding: 0 20px;
  transition: all ease-in-out .3s;
}

/* line 222, ../sass/style.scss */
header a:hover {
  background-color: #93dfec;
  color: #eee;
  margin-left: -3px;
}
