.container-fluid
	.customer-card.row
		.media.col-sm-5.col-xs-5(style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/people_11.png)")
		.card-body.col-sm-7.col-xs-7
			span.approved
			.customer-name Jane Doe
			.category
				span.value $4500
				span.key - monthly movements
			ul.customer-info
				li BA in Marketing
				li Office supervisor
				li Annual income: $75K
				li Has no debt
		