input#cbx.inp-cbx(type='checkbox', style='display: none')
label.cbx(for='cbx')
  span
    svg(width='12px', height='10px', viewbox='0 0 12 10')
      polyline(points='1.5 6 4.5 9 10.5 1')
  span CodePenChallenge