// DEMO STYLES
// ==========================================================

html,body{height: 100%;}body{display: flex;flex-direction:column;align-items: center;justify-content:center;width:100%;background:#252329;}


// REQUIRED STYLES
// ==========================================================

#xandali {
  width: 1400px;
  height: 1400px;
  max-width: 100%;
  -webkit-filter: drop-shadow(-1px 0 1px rgba(#C88500, 0.10));
}

#xandali g[id*="-stripes"] {
  visibility: hidden;
  path {
    stroke: rgba(255,255,255,0.05);
    stroke-width: 20;
  }
}