<%= provide(:id, "id=home") %>
<div class="jumbotron">
  <h1>Welcome to CrowdSurf!!</h1>
  <h2>A World of Events In One Place</h2>
  <%= link_to 'Learn More', about_path, class: "btn btn-primary btn-lg", role: 'button' %>
</div>