<h1>About</h1>
<p>CrowdSurf is a new ticket discover and management system geared toward helping people find the events they want in
  their area.
</p>
<h2>CrowdSurf's Features:</h2>
<li></li>
<h2>About the Team</h2>
<ul>
  <li><strong>Allen Whearry</strong><i>(CEO),</i> is just a master of event management and promotions!</li>
  <li><strong>Evan Shields</strong><i>(CMO),</i>  can sell salt to a slug...we've seen it! It was crazy!!</li>
  <li><strong>James Roberson</strong><i>(COO),</i>  will out run you, out swim you, and out bike you.</li>
  <li><strong>Douglas Lightfoot</strong><i>(CTO),</i>  will somehow find a reason to take his shirt off...ladies keep
    watch.</li>
</ul>