body {
  margin: 50px 200px;
}

.container {
  width: 210px;
  height: 140px;
  position: relative;
  perspective: 1000px;
}

#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
}

#carousel figure {
  display: block;
  position: absolute;
  width: 186px;
  height: 116px;
  left: 10px;
  top: 10px;
  border: 2px solid black;
  background: rgba(0, 0, 0, 0.1);
}

#carousel figure {
  text-align: center;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Arial, sans-serif;
}

#carousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}

#carousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}

#carousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}

#carousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}

#carousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}

#carousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}

#carousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}

#carousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}

#carousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}
