body {
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.dna {
  position: fixed;
  top: 10px; left: 10px;
  textarea {
    font-size: 18px;
    background: none;
    border: none;
    font-family: 'Ubuntu Mono', monospace;
    width:170px; max-width:170px;
    overflow:hidden;
    line-height:.7;
    white-space: pre-wrap;
    color: white;
  }
}

.camera {
  display:none;
  position: fixed;
  top: 0;
  left: 10px;
  background: none;
  label {
    color: white;
    display: block;
    width: 100px;
  }
}

canvas {
  //position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%
}