%h1 For best view please use Chrome!
#robot
  #head
    .front
    .back
    .left
    .right
  #torso
    .front
    .back
    .left
    .right
  #left_arm
    .upper_arm
      .front
      .back
      .left
      .right
      .top
      .bottom
    .forearm
      .front
      .back
      .left
      .right
      .top
      .bottom
  #right_arm
    .upper_arm
      .front
      .back
      .left
      .right
      .top
      .bottom
    .forearm
      .front
      .back
      .left
      .right
      .top
      .bottom
  #left_leg
    .thigh
      .front
      .back
      .left
      .right
      .top
      .bottom
    .lower_leg
      .front
      .back
      .left
      .right
      .top
      .bottom
  #right_leg
    .thigh
      .front
      .back
      .left
      .right
      .top
      .bottom
    .lower_leg
      .front
      .back
      .left
      .right
      .top
      .bottom