.container-fluid
	.col-sm-6.text-right
		.ticket.light
			.ticket-head.text-center(style='background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/bg_15.png)')
				.layer
				.from-to ams #[span.icon.icon-airplane] jfk
			.ticket-body
				.passenger
					p passenger
					h4 michelle doe
				.flight-info.row
					.col-xs-6
						p flight
						h4 NY341
					.col-xs-6
						p seat
						h4 14A
				.flight-date jun-28-2017 at 08:30am
				.barcode
			.footer
				.disclaimer Disclaimer: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate debitis doloremque in inventore eum
	.col-xs-6.text-left.hidden-xs
		.ticket.dark
			.ticket-head.text-center(style='background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/bg_15.png)')
				.layer
				.from-to ams #[span.icon.icon-airplane] jfk
			.ticket-body
				.passenger
					p passenger
					h4 michelle doe
				.flight-info.row
					.col-xs-6
						p flight
						h4 NY341
					.col-xs-6
						p seat
						h4 14A
				.flight-date jun-28-2017 at 08:30am
				.barcode
			.footer
				.disclaimer Disclaimer: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate debitis doloremque in inventore eum