!!!5
%html
  %head
    %meta{:name => "viewport", :content => "user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi"}
  %body
    %div{:role => "main"}
      %h1 css3 lightbox
      %p
        %label.btn{:for => "lightbox-toggle", :onclick => ""} push me
    %input#lightbox-toggle{:type => "checkbox", :style => "display:none", :checked => true}
    %label.lightbox{:for => "lightbox-toggle"}
      .lightbox-container
        .lightbox-content
          %h1 About the CSS3 Lightbox
          %p This Lightbox depends only on CSS3 and has no need for <del>JavaScript</del>.
          %p It uses the :checked pseudo-selector from CSS3 to store the state in a checkbox
          %h2 How to close the Lightbox
          %p To close the lightbox, click anywhere in the dark area or just hit the × in the ↗ corner.