html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #252329;
}

#xandali {
  width: 1400px;
  height: 1400px;
  max-width: 100%;
  -webkit-filter: drop-shadow(-1px 0 1px rgba(200, 133, 0, 0.1));
}

#xandali g[id*="-stripes"] {
  visibility: hidden;
}
#xandali g[id*="-stripes"] path {
  stroke: rgba(255, 255, 255, 0.05);
  stroke-width: 20;
}
