/* line 1, ../sass/style.scss */
body {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 7, ../sass/style.scss */
body.ready {
  opacity: 1;
}

/* line 10, ../sass/style.scss */
.logo-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: -40px;
}

/* line 17, ../sass/style.scss */
.letters {
  position: relative;
  display: flex;
  width: 682px;
  height: 162px;
}

/* line 23, ../sass/style.scss */
.letter {
  position: relative;
  width: 162px;
  height: 162px;
}

/* line 28, ../sass/style.scss */
.letter:not(:first-child) {
  margin-left: -42px;
}

/* line 31, ../sass/style.scss */
.letter-i {
  z-index: 1;
  width: 82px;
  transform-origin: 100% 50%;
}

/* line 36, ../sass/style.scss */
.dot {
  position: absolute;
  width: 42px;
  height: 42px;
  transform: scale(0);
}

/* line 42, ../sass/style.scss */
.dot-i {
  top: 0;
  left: 240px;
}

/* line 46, ../sass/style.scss */
.dot-e {
  bottom: 0;
  right: 0;
}

/* line 50, ../sass/style.scss */
.logo-icon {
  display: flex;
  position: absolute;
  left: 230px;
  top: -10px;
  width: 222px;
  height: 62px;
}

/* line 58, ../sass/style.scss */
.icon {
  width: 62px;
  height: 62px;
  opacity: 0;
}

/* line 63, ../sass/style.scss */
.icon-text {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 160px;
  height: 62px;
}

/* line 70, ../sass/style.scss */
.icon-text path,
.icon-text polygon {
  opacity: 0;
}
