#liniensystem line {
  stroke-dasharray: 0 100%;
  stroke-width: 0;
  animation: strokes 1s ease-in-out forwards;
}
#liniensystem line:nth-child(1) {
  animation-delay: 0.25s;
}
#liniensystem line:nth-child(2) {
  animation-delay: 0.5s;
}
#liniensystem line:nth-child(3) {
  animation-delay: 0.75s;
}
#liniensystem line:nth-child(4) {
  animation-delay: 1s;
}

@keyframes strokes {
  0% {
    stroke-dasharray: 0% 100%;
    stroke-width: 0;
  }
  100% {
    stroke-dasharray: 150% 100%;
    stroke-width: 3;
  }
}
.letter-wrapper path {
  opacity: 0;
  transform-origin: 50%;
  animation: letters 1s ease-in-out forwards;
}
.letter-wrapper path:nth-child(1) {
  animation-delay: 1.25s;
}
.letter-wrapper path:nth-child(2) {
  animation-delay: 1.5s;
}
.letter-wrapper path:nth-child(3) {
  animation-delay: 1.75s;
}
.letter-wrapper path:nth-child(4) {
  animation-delay: 2s;
}

@keyframes letters {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  85% {
    transform: scale(0.84);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.details-wrapper line {
  stroke-width: 0;
  animation: stroke-width 1s ease-in-out forwards;
  transform-origin: 50%;
}
.details-wrapper line:nth-child(1) {
  animation-delay: 2.5s;
}
.details-wrapper line:nth-child(2) {
  animation-delay: 2.75s;
}
.details-wrapper line:nth-child(3) {
  animation-delay: 3s;
}
.details-wrapper line:nth-child(4) {
  animation-delay: 3.25s;
}
.details-wrapper line.for-o {
  transform: rotate(1.87deg);
}
.details-wrapper line.for-g-first {
  transform: rotate(-0.81deg);
}
.details-wrapper line.for-g-second {
  transform: rotate(6.7deg);
}

@keyframes stroke-width {
  0% {
    stroke-width: 0;
  }
  30% {
    stroke-width: 10;
  }
  100% {
    stroke-width: 10;
    transform: rotate(0);
  }
}
.details-circles circle {
  transform: scale(0);
  animation: circles 1s ease-in-out forwards;
  transform-origin: 50%;
}
.details-circles circle:nth-child(1) {
  animation-delay: 3.25s;
}
.details-circles circle:nth-child(2) {
  animation-delay: 3.5s;
}
.details-circles circle:nth-child(3) {
  animation-delay: 3.75s;
}
.details-circles circle:nth-child(4) {
  animation-delay: 4s;
}

@keyframes circles {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.details-other path {
  opacity: 0;
  animation: others 1s ease-in-out forwards;
}
.details-other path:nth-child(1) {
  animation-delay: 3.75s;
}
.details-other path:nth-child(2) {
  animation-delay: 4s;
}
.details-other path:nth-child(3) {
  animation-delay: 4.25s;
}
.details-other path:nth-child(4) {
  animation-delay: 4.5s;
}

@keyframes others {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
