{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">

        <div class="home">

            <div class="home__galleries-container">
                {% include 'partials/home-galleries-lazy-load.html.twig' %}
            </div>

            <div class="text-center">
                <a href="javascript:void(0)" class="btn btn-primary home__lazy-load-cta">
                    Load more
                </a>
            </div>

        </div>

    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            var nextPage = 2;
            var $galleriesContainer = $('.home__galleries-container');
            var $lazyLoadCta = $('.home__lazy-load-cta');

            function onScroll() {
                var y = $(window).scrollTop() + $(window).outerHeight();
                if (y >= $('body').innerHeight() - 100) {
                    $(window).off('scroll.lazy-load');
                    $lazyLoadCta.click();
                }
            }

            $lazyLoadCta.on('click', function () {
                var url = "{{ url('home.lazy-load') }}";
                $.ajax({
                    url: url,
                    data: {page: nextPage},
                    success: function (data) {
                        if (data.success === true) {
                            $galleriesContainer.append(data.data);
                            nextPage++;
                            $(window).on('scroll.lazy-load', onScroll);
                        }
                    }
                });
            });

            $(window).on('scroll.lazy-load', onScroll);
        });
    </script>
{% endblock %}