/* line 7, ../sass/style.scss */
body {
  text-align: center;
}

/* line 11, ../sass/style.scss */
.center-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 18, ../sass/style.scss */
button.colins-submit {
  background: transparent;
  border: none;
}
/* line 21, ../sass/style.scss */
button.colins-submit.is-active {
  cursor: default;
}
/* line 24, ../sass/style.scss */
button.colins-submit:focus {
  outline: none;
}
/* line 27, ../sass/style.scss */
button.colins-submit::-moz-focus-inner {
  border: 0;
}
/* line 33, ../sass/style.scss */
button.colins-submit svg text {
  font-family: 'Montserrat', sans-serif;
}
/* line 35, ../sass/style.scss */
button.colins-submit svg text.textNode {
  fill: #1ecd97;
}
/* line 38, ../sass/style.scss */
button.colins-submit svg text.checkNode {
  fill-opacity: 0;
}
/* line 44, ../sass/style.scss */
button.colins-submit svg rect.btn-shape.btn-bg {
  stroke: #c8c8c8;
  fill: white;
}
/* line 48, ../sass/style.scss */
button.colins-submit svg rect.btn-shape.btn-color {
  stroke: #1ecd97;
  fill: white;
  stroke-dasharray: 453;
  stroke-dashoffset: 0;
}

/* line 59, ../sass/style.scss */
p {
  font-family: Montserrat, sans-serif;
  color: #575757;
  font-size: 1rem;
  max-width: 330px;
}
/* line 64, ../sass/style.scss */
p a {
  color: #1ecd97;
}
/* line 66, ../sass/style.scss */
p a:hover, p a:active {
  color: #07e5a0;
}
/* line 69, ../sass/style.scss */
p a:visited {
  color: #36b68e;
}
