@keyframes ten1 {
  10% {
    top: 44px;
    transform: rotateX(36deg);
    color: rgba(255, 255, 255, 0.2);
  }
  20% {
    top: 71px;
    transform: rotateX(72deg);
    color: rgba(255, 255, 255, 0.2);
  }
  30% {
    top: 71px;
    transform: rotateX(108deg);
    color: rgba(255, 255, 255, 0.2);
  }
  40% {
    top: 44px;
    transform: rotateX(144deg);
    color: rgba(255, 255, 255, 0.2);
  }
  50% {
    top: 0px;
    transform: rotateX(180deg);
    color: rgba(255, 255, 255, 0.2);
  }
  60% {
    top: -45px;
    transform: rotateX(144deg);
    color: rgba(255, 255, 255, 0.2);
  }
  70% {
    top: -72px;
    transform: rotateX(108deg);
    color: rgba(255, 255, 255, 0.2);
  }
  80% {
    top: -72px;
    transform: rotateX(72deg);
    color: rgba(255, 255, 255, 0.2);
  }
  90% {
    top: -45px;
    transform: rotateX(36deg);
    color: rgba(255, 255, 255, 0.2);
  }
  0%, 100% {
    top: 0px;
    transform: rotateX(0deg);
    color: #FFF;
  }
}
@keyframes ten2 {
  10% {
    top: 0px;
    transform: rotateX(0deg);
    color: #FFF;
  }
  20% {
    top: 44px;
    transform: rotateX(36deg);
    color: rgba(255, 255, 255, 0.2);
  }
  30% {
    top: 71px;
    transform: rotateX(72deg);
    color: rgba(255, 255, 255, 0.2);
  }
  40% {
    top: 71px;
    transform: rotateX(108deg);
    color: rgba(255, 255, 255, 0.2);
  }
  50% {
    top: 44px;
    transform: rotateX(144deg);
    color: rgba(255, 255, 255, 0.2);
  }
  60% {
    top: 0px;
    transform: rotateX(180deg);
    color: rgba(255, 255, 255, 0.2);
  }
  70% {
    top: -45px;
    transform: rotateX(144deg);
    color: rgba(255, 255, 255, 0.2);
  }
  80% {
    top: -72px;
    transform: rotateX(108deg);
    color: rgba(255, 255, 255, 0.2);
  }
  90% {
    top: -72px;
    transform: rotateX(72deg);
    color: rgba(255, 255, 255, 0.2);
  }
  0%, 100% {
    top: -45px;
    transform: rotateX(36deg);
  }
}
@keyframes ten3 {
  10% {
    top: -45px;
    transform: rotateX(36deg);
    color: rgba(255, 255, 255, 0.2);
  }
  20% {
    top: 0px;
    transform: rotateX(0deg);
    color: #FFF;
  }
  30% {
    top: 44px;
    transform: rotateX(36deg);
    color: rgba(255, 255, 255, 0.2);
  }
  40% {
    top: 71px;
    transform: rotateX(72deg);
    color: rgba(255, 255, 255, 0.2);
  }
  50% {
    top: 71px;
    transform: rotateX(108deg);
    color: rgba(255, 255, 255, 0.2);
  }
  60% {
    top: 44px;
    transform: rotateX(144deg);
    color: rgba(255, 255, 255, 0.2);
  }
  70% {
    top: 0px;
    transform: rotateX(180deg);
    color: rgba(255, 255, 255, 0.2);
  }
  80% {
    top: -45px;
    transform: rotateX(144deg);
    color: rgba(255, 255, 255, 0.2);
  }
  90% {
    top: -72px;
    transform: rotateX(108deg);
    color: rgba(255, 255, 255, 0.2);
  }
  0%, 100% {
    top: -72px;
    transform: rotateX(72deg);
  }
}
@keyframes ten4 {
  10% {
    top: -72px;
    transform: rotateX(72deg);
    color: rgba(255, 255, 255, 0.2);
  }
  20% {
    top: -45px;
    transform: rotateX(36deg);
    color: rgba(255, 255, 255, 0.2);
  }
  30% {
    top: 0px;
    transform: rotateX(0deg);
    color: #FFF;
  }
  40% {
    top: 44px;
    transform: rotateX(36deg);
    color: rgba(255, 255, 255, 0.2);
  }
  50% {
    top: 71px;
    transform: rotateX(72deg);
    color: rgba(255, 255, 255, 0.2);
  }
  60% {
    top: 71px;
    transform: rotateX(108deg);
    color: rgba(255, 255, 255, 0.2);
  }
  70% {
    top: 44px;
    transform: rotateX(144deg);
    color: rgba(255, 255, 255, 0.2);
  }
  80% {
    top: 0px;
    transform: rotateX(180deg);
    color: rgba(255, 255, 255, 0.2);
  }
  90% {
    top: -45px;
    transform: rotateX(144deg);
    color: rgba(255, 255, 255, 0.2);
  }
  0%, 100% {
    top: -72px;
    transform: rotateX(108deg);
  }
}
@keyframes ten5 {
  10% {
    top: -72px;
    transform: rotateX(108deg);
    color: rgba(255, 255, 255, 0.2);
  }
  20% {
    top: -72px;
    transform: rotateX(72deg);
    color: rgba(255, 255, 255, 0.2);
  }
  30% {
    top: -45px;
    transform: rotateX(36deg);
    color: rgba(255, 255, 255, 0.2);
  }
  40% {
    top: 0px;
    transform: rotateX(0deg);
    color: #FFF;
  }
  50% {
    top: 44px;
    transform: rotateX(36deg);
    color: rgba(255, 255, 255, 0.2);
  }
  60% {
    top: 71px;
    transform: rotateX(72deg);
    color: rgba(255, 255, 255, 0.2);
  }
  70% {
    top: 71px;
    transform: rotateX(108deg);
    color: rgba(255, 255, 255, 0.2);
  }
  80% {
    top: 44px;
    transform: rotateX(144deg);
    color: rgba(255, 255, 255, 0.2);
  }
  90% {
    top: 0px;
    transform: rotateX(180deg);
    color: rgba(255, 255, 255, 0.2);
  }
  0%, 100% {
    top: -45px;
    transform: rotateX(144deg);
  }
}
@keyframes ten6 {
  10% {
    top: -45px;
    transform: rotateX(144deg);
    color: rgba(255, 255, 255, 0.2);
  }
  20% {
    top: -72px;
    transform: rotateX(108deg);
    color: rgba(255, 255, 255, 0.2);
  }
  30% {
    top: -72px;
    transform: rotateX(72deg);
    color: rgba(255, 255, 255, 0.2);
  }
  40% {
    top: -45px;
    transform: rotateX(36deg);
    color: rgba(255, 255, 255, 0.2);
  }
  50% {
    top: 0px;
    transform: rotateX(0deg);
    color: #FFF;
  }
  60% {
    top: 44px;
    transform: rotateX(36deg);
    color: rgba(255, 255, 255, 0.2);
  }
  70% {
    top: 71px;
    transform: rotateX(72deg);
    color: rgba(255, 255, 255, 0.2);
  }
  80% {
    top: 71px;
    transform: rotateX(108deg);
    color: rgba(255, 255, 255, 0.2);
  }
  90% {
    top: 44px;
    transform: rotateX(144deg);
    color: rgba(255, 255, 255, 0.2);
  }
  0%, 100% {
    top: 0px;
    transform: rotateX(180deg);
  }
}
@keyframes ten7 {
  10% {
    top: -1px;
    transform: rotateX(180deg);
    color: rgba(255, 255, 255, 0.2);
  }
  20% {
    top: -45px;
    transform: rotateX(144deg);
    color: rgba(255, 255, 255, 0.2);
  }
  30% {
    top: -72px;
    transform: rotateX(108deg);
    color: rgba(255, 255, 255, 0.2);
  }
  40% {
    top: -72px;
    transform: rotateX(72deg);
    color: rgba(255, 255, 255, 0.2);
  }
  50% {
    top: -45px;
    transform: rotateX(36deg);
    color: rgba(255, 255, 255, 0.2);
  }
  60% {
    top: 0px;
    transform: rotateX(0deg);
    color: #FFF;
  }
  70% {
    top: 44px;
    transform: rotateX(36deg);
    color: rgba(255, 255, 255, 0.2);
  }
  80% {
    top: 71px;
    transform: rotateX(72deg);
    color: rgba(255, 255, 255, 0.2);
  }
  90% {
    top: 71px;
    transform: rotateX(108deg);
    color: rgba(255, 255, 255, 0.2);
  }
  0%, 100% {
    top: 44px;
    transform: rotateX(144deg);
  }
}
@keyframes ten8 {
  10% {
    top: 44px;
    transform: rotateX(144deg);
    color: rgba(255, 255, 255, 0.2);
  }
  20% {
    top: -1px;
    transform: rotateX(180deg);
    color: rgba(255, 255, 255, 0.2);
  }
  30% {
    top: -45px;
    transform: rotateX(144deg);
    color: rgba(255, 255, 255, 0.2);
  }
  40% {
    top: -72px;
    transform: rotateX(108deg);
    color: rgba(255, 255, 255, 0.2);
  }
  50% {
    top: -72px;
    transform: rotateX(72deg);
    color: rgba(255, 255, 255, 0.2);
  }
  60% {
    top: -45px;
    transform: rotateX(36deg);
    color: rgba(255, 255, 255, 0.2);
  }
  70% {
    top: 0px;
    transform: rotateX(0deg);
    color: #FFF;
  }
  80% {
    top: 44px;
    transform: rotateX(36deg);
    color: rgba(255, 255, 255, 0.2);
  }
  90% {
    top: 71px;
    transform: rotateX(72deg);
    color: rgba(255, 255, 255, 0.2);
  }
  0%, 100% {
    top: 71px;
    transform: rotateX(108deg);
  }
}
@keyframes ten9 {
  10% {
    top: 71px;
    transform: rotateX(108deg);
    color: rgba(255, 255, 255, 0.2);
  }
  20% {
    top: 44px;
    transform: rotateX(144deg);
    color: rgba(255, 255, 255, 0.2);
  }
  30% {
    top: -1px;
    transform: rotateX(180deg);
    color: rgba(255, 255, 255, 0.2);
  }
  40% {
    top: -45px;
    transform: rotateX(144deg);
    color: rgba(255, 255, 255, 0.2);
  }
  50% {
    top: -72px;
    transform: rotateX(108deg);
    color: rgba(255, 255, 255, 0.2);
  }
  60% {
    top: -72px;
    transform: rotateX(72deg);
    color: rgba(255, 255, 255, 0.2);
  }
  70% {
    top: -45px;
    transform: rotateX(36deg);
    color: rgba(255, 255, 255, 0.2);
  }
  80% {
    top: 0px;
    transform: rotateX(0deg);
    color: #FFF;
  }
  90% {
    top: 44px;
    transform: rotateX(36deg);
    color: rgba(255, 255, 255, 0.2);
  }
  0%, 100% {
    top: 71px;
    transform: rotateX(72deg);
  }
}
@keyframes ten10 {
  10% {
    top: 71px;
    transform: rotateX(72deg);
    color: rgba(255, 255, 255, 0.2);
  }
  20% {
    top: 71px;
    transform: rotateX(108deg);
    color: rgba(255, 255, 255, 0.2);
  }
  30% {
    top: 44px;
    transform: rotateX(144deg);
    color: rgba(255, 255, 255, 0.2);
  }
  40% {
    top: -1px;
    transform: rotateX(180deg);
    color: rgba(255, 255, 255, 0.2);
  }
  50% {
    top: -45px;
    transform: rotateX(144deg);
    color: rgba(255, 255, 255, 0.2);
  }
  60% {
    top: -72px;
    transform: rotateX(108deg);
    color: rgba(255, 255, 255, 0.2);
  }
  70% {
    top: -72px;
    transform: rotateX(72deg);
    color: rgba(255, 255, 255, 0.2);
  }
  80% {
    top: -45px;
    transform: rotateX(36deg);
    color: rgba(255, 255, 255, 0.2);
  }
  90% {
    top: 0px;
    transform: rotateX(0deg);
    color: #FFF;
  }
  0%, 100% {
    top: 44px;
    transform: rotateX(36deg);
  }
}
@keyframes six1 {
  16.66667% {
    top: 65px;
    transform: rotateX(60deg);
    color: rgba(255, 255, 255, 0.2);
  }
  33.33333% {
    top: 65px;
    transform: rotateX(120deg);
    color: rgba(255, 255, 255, 0.2);
  }
  50% {
    top: 0px;
    transform: rotateX(180deg);
    color: rgba(255, 255, 255, 0.2);
  }
  66.66667% {
    top: -65px;
    transform: rotateX(120deg);
    color: rgba(255, 255, 255, 0.2);
  }
  83.33333% {
    top: -65px;
    transform: rotateX(60deg);
    color: rgba(255, 255, 255, 0.2);
  }
  0%, 100% {
    top: 0px;
    transform: rotateX(0deg);
    color: #FFF;
  }
}
@keyframes six2 {
  16.66667% {
    top: 0px;
    transform: rotateX(0deg);
    color: #FFF;
  }
  33.33333% {
    top: 65px;
    transform: rotateX(60deg);
    color: rgba(255, 255, 255, 0.2);
  }
  50% {
    top: 65px;
    transform: rotateX(120deg);
    color: rgba(255, 255, 255, 0.2);
  }
  66.66667% {
    top: 0px;
    transform: rotateX(180deg);
    color: rgba(255, 255, 255, 0.2);
  }
  83.33333% {
    top: -65px;
    transform: rotateX(120deg);
    color: rgba(255, 255, 255, 0.2);
  }
  0%, 100% {
    top: -65px;
    transform: rotateX(60deg);
  }
}
@keyframes six3 {
  16.66667% {
    top: -65px;
    transform: rotateX(60deg);
    color: rgba(255, 255, 255, 0.2);
  }
  33.33333% {
    top: 0px;
    transform: rotateX(0deg);
    color: #FFF;
  }
  50% {
    top: 65px;
    transform: rotateX(60deg);
    color: rgba(255, 255, 255, 0.2);
  }
  66.66667% {
    top: 65px;
    transform: rotateX(120deg);
    color: rgba(255, 255, 255, 0.2);
  }
  83.33333% {
    top: 0px;
    transform: rotateX(180deg);
    color: rgba(255, 255, 255, 0.2);
  }
  0%, 100% {
    top: -65px;
    transform: rotateX(120deg);
  }
}
@keyframes six4 {
  16.66667% {
    top: -65px;
    transform: rotateX(120deg);
    color: rgba(255, 255, 255, 0.2);
  }
  33.33333% {
    top: -65px;
    transform: rotateX(60deg);
    color: rgba(255, 255, 255, 0.2);
  }
  50% {
    top: 0px;
    transform: rotateX(0deg);
    color: #FFF;
  }
  66.66667% {
    top: 65px;
    transform: rotateX(60deg);
    color: rgba(255, 255, 255, 0.2);
  }
  83.33333% {
    top: 65px;
    transform: rotateX(120deg);
    color: rgba(255, 255, 255, 0.2);
  }
  0%, 100% {
    top: 0px;
    transform: rotateX(180deg);
  }
}
@keyframes six5 {
  16.66667% {
    top: -1px;
    transform: rotateX(180deg);
    color: rgba(255, 255, 255, 0.2);
  }
  33.33333% {
    top: -65px;
    transform: rotateX(120deg);
    color: rgba(255, 255, 255, 0.2);
  }
  50% {
    top: -65px;
    transform: rotateX(60deg);
    color: rgba(255, 255, 255, 0.2);
  }
  66.66667% {
    top: 0px;
    transform: rotateX(0deg);
    color: #FFF;
  }
  83.33333% {
    top: 65px;
    transform: rotateX(60deg);
    color: rgba(255, 255, 255, 0.2);
  }
  0%, 100% {
    top: 65px;
    transform: rotateX(120deg);
  }
}
@keyframes six6 {
  16.66667% {
    top: 65px;
    transform: rotateX(120deg);
    color: rgba(255, 255, 255, 0.2);
  }
  33.33333% {
    top: -1px;
    transform: rotateX(180deg);
    color: rgba(255, 255, 255, 0.2);
  }
  50% {
    top: -65px;
    transform: rotateX(120deg);
    color: rgba(255, 255, 255, 0.2);
  }
  66.66667% {
    top: -65px;
    transform: rotateX(60deg);
    color: rgba(255, 255, 255, 0.2);
  }
  83.33333% {
    top: 0px;
    transform: rotateX(0deg);
    color: #FFF;
  }
  0%, 100% {
    top: 65px;
    transform: rotateX(60deg);
  }
}
@keyframes three1 {
  33.33333% {
    top: 65px;
    transform: rotateX(120deg);
    color: rgba(255, 255, 255, 0.2);
  }
  66.66667% {
    top: -65px;
    transform: rotateX(120deg);
    color: rgba(255, 255, 255, 0.2);
  }
  0%, 100% {
    top: 0px;
    transform: rotateX(0deg);
    color: #FFF;
  }
}
@keyframes three2 {
  33.33333% {
    top: 0px;
    transform: rotateX(0deg);
    color: #FFF;
  }
  66.66667% {
    top: 65px;
    transform: rotateX(120deg);
    color: rgba(255, 255, 255, 0.2);
  }
  0%, 100% {
    top: -65px;
    transform: rotateX(120deg);
  }
}
@keyframes three3 {
  33.33333% {
    top: -65px;
    transform: rotateX(120deg);
    color: rgba(255, 255, 255, 0.2);
  }
  66.66667% {
    top: 0px;
    transform: rotateX(0deg);
    color: #FFF;
  }
  0%, 100% {
    top: 65px;
    transform: rotateX(120deg);
  }
}
.hourTens li:nth-child(2) {
  animation: three1 108000s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -8067s;
}
.hourTens li:nth-child(3) {
  animation: three2 108000s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -8067s;
}
.hourTens li:nth-child(1) {
  animation: three3 108000s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -8067s;
}

.hourOnes li:nth-child(3) {
  animation: ten1 36000s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -867s;
}
.hourOnes li:nth-child(4) {
  animation: ten2 36000s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -867s;
}
.hourOnes li:nth-child(5) {
  animation: ten3 36000s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -867s;
}
.hourOnes li:nth-child(6) {
  animation: ten4 36000s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -867s;
}
.hourOnes li:nth-child(7) {
  animation: ten5 36000s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -867s;
}
.hourOnes li:nth-child(8) {
  animation: ten6 36000s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -867s;
}
.hourOnes li:nth-child(9) {
  animation: ten7 36000s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -867s;
}
.hourOnes li:nth-child(10) {
  animation: ten8 36000s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -867s;
}
.hourOnes li:nth-child(1) {
  animation: ten9 36000s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -867s;
}
.hourOnes li:nth-child(2) {
  animation: ten10 36000s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -867s;
}

.minuteTens li:nth-child(2) {
  animation: six1 3600s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -267s;
}
.minuteTens li:nth-child(3) {
  animation: six2 3600s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -267s;
}
.minuteTens li:nth-child(4) {
  animation: six3 3600s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -267s;
}
.minuteTens li:nth-child(5) {
  animation: six4 3600s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -267s;
}
.minuteTens li:nth-child(6) {
  animation: six5 3600s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -267s;
}
.minuteTens li:nth-child(1) {
  animation: six6 3600s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -267s;
}

.minuteOnes li:nth-child(5) {
  animation: ten1 600s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -27s;
}
.minuteOnes li:nth-child(6) {
  animation: ten2 600s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -27s;
}
.minuteOnes li:nth-child(7) {
  animation: ten3 600s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -27s;
}
.minuteOnes li:nth-child(8) {
  animation: ten4 600s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -27s;
}
.minuteOnes li:nth-child(9) {
  animation: ten5 600s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -27s;
}
.minuteOnes li:nth-child(10) {
  animation: ten6 600s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -27s;
}
.minuteOnes li:nth-child(1) {
  animation: ten7 600s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -27s;
}
.minuteOnes li:nth-child(2) {
  animation: ten8 600s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -27s;
}
.minuteOnes li:nth-child(3) {
  animation: ten9 600s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -27s;
}
.minuteOnes li:nth-child(4) {
  animation: ten10 600s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -27s;
}

.secondTens li:nth-child(3) {
  animation: six1 60s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -7s;
}
.secondTens li:nth-child(4) {
  animation: six2 60s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -7s;
}
.secondTens li:nth-child(5) {
  animation: six3 60s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -7s;
}
.secondTens li:nth-child(6) {
  animation: six4 60s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -7s;
}
.secondTens li:nth-child(1) {
  animation: six5 60s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -7s;
}
.secondTens li:nth-child(2) {
  animation: six6 60s cubic-bezier(1, 0, 1, 0) infinite;
  animation-delay: -7s;
}

.secondOnes li:nth-child(8) {
  animation: ten1 10s cubic-bezier(0.9, 0, 0.9, 0) infinite;
}
.secondOnes li:nth-child(9) {
  animation: ten2 10s cubic-bezier(0.9, 0, 0.9, 0) infinite;
}
.secondOnes li:nth-child(10) {
  animation: ten3 10s cubic-bezier(0.9, 0, 0.9, 0) infinite;
}
.secondOnes li:nth-child(1) {
  animation: ten4 10s cubic-bezier(0.9, 0, 0.9, 0) infinite;
}
.secondOnes li:nth-child(2) {
  animation: ten5 10s cubic-bezier(0.9, 0, 0.9, 0) infinite;
}
.secondOnes li:nth-child(3) {
  animation: ten6 10s cubic-bezier(0.9, 0, 0.9, 0) infinite;
}
.secondOnes li:nth-child(4) {
  animation: ten7 10s cubic-bezier(0.9, 0, 0.9, 0) infinite;
}
.secondOnes li:nth-child(5) {
  animation: ten8 10s cubic-bezier(0.9, 0, 0.9, 0) infinite;
}
.secondOnes li:nth-child(6) {
  animation: ten9 10s cubic-bezier(0.9, 0, 0.9, 0) infinite;
}
.secondOnes li:nth-child(7) {
  animation: ten10 10s cubic-bezier(0.9, 0, 0.9, 0) infinite;
}

html {
  height: 100%;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #DB6713;
  background: linear-gradient(45deg, #dba013, #df2445);
  font-family: 'Lato', sans-serif;
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul {
  position: relative;
  width: 30px;
  height: 35px;
  margin: 0;
  padding: 0;
  float: left;
  list-style-type: none;
  font-size: 35px;
  font-weight: bold;
}
ul:nth-of-type(even) {
  margin-right: 15px;
  padding-right: 15px;
}
ul:nth-of-type(even)::after {
  content: ":";
  position: absolute;
  right: 0;
  color: #FFF;
  line-height: 1;
}
ul:last-of-type::after {
  display: none;
}
ul li {
  position: absolute;
  backface-visibility: hidden;
  color: rgba(255, 255, 255, 0.2);
  font-size: 35px;
  line-height: 1;
}
