body,html{
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  background-color:#ADBD90;
}

svg{
  display:block;
  padding:0;
  margin:0 auto;
  width:50%;
}

p{
  width:100%;
  text-align:center;
  margin:0;
  padding-top:20px;
  font-family:Arial,sans-serif;
  font-size:.85em;
}
