#wrapper
  span.label Root
  .branch.lv1
    .entry
      span.label Entry-1
      .branch.lv2
        .entry
          span.label Entry-1-1
          .branch.lv3
            .entry.sole
              span.label Entry-1-1-1
        .entry
          span.label Entry-1-2
          .branch.lv3
            .entry.sole
              span.label Entry-1-2-1
        .entry
          span.label Entry-1-3
          .branch.lv3
            .entry.sole
              span.label Entry-1-3-1
    .entry
      span.label Entry-2
    .entry
      span.label Entry-3
      .branch.lv2
        .entry
          span.label Entry-3-1
        .entry
          span.label Entry-3-2
        .entry
          span.label Entry-3-3
          .branch.lv3
            .entry
              span.label Entry-3-3-1
            .entry
              span.label Entry-3-3-2
              .branch.lv4
                .entry
                  span.label Entry-3-3-2-1
                .entry
                  span.label Entry-3-3-2-2
            .entry
              span.label Entry-3-3-3
        .entry
          span.label Entry-3-4
    .entry
      span.label Entry-4
    .entry
      span.label Entry-5