%h1 CSS checkbox toggle
%h2 A full css checkbox button
%hr

.checkbox
  %label.checkbox__container
    %input.checkbox__toggle{:type => "checkbox"}
    %span.checkbox__checker
    %span.checkbox__cross
    %span.checkbox__ok
    %svg.checkbox__bg{:space => "preserve", :style => "enable-background:new 0 0 110 43.76;", :version => "1.1", :viewbox => "0 0 110 43.76"}
      %path.shape{:d => "M88.256,43.76c12.188,0,21.88-9.796,21.88-21.88S100.247,0,88.256,0c-15.745,0-20.67,12.281-33.257,12.281,S38.16,0,21.731,0C9.622,0-0.149,9.796-0.149,21.88s9.672,21.88,21.88,21.88c17.519,0,20.67-13.384,33.263-13.384,S72.784,43.76,88.256,43.76z"}
      
.checkbox
  %label.checkbox__container
    %input.checkbox__toggle{:type => "checkbox"}
    %span.checkbox__checker
    %span.checkbox__txt-left On
    %span.checkbox__txt-right Off
    %svg.checkbox__bg{:space => "preserve", :style => "enable-background:new 0 0 110 43.76;", :version => "1.1", :viewbox => "0 0 110 43.76"}
      %path.shape{:d => "M88.256,43.76c12.188,0,21.88-9.796,21.88-21.88S100.247,0,88.256,0c-15.745,0-20.67,12.281-33.257,12.281,S38.16,0,21.731,0C9.622,0-0.149,9.796-0.149,21.88s9.672,21.88,21.88,21.88c17.519,0,20.67-13.384,33.263-13.384,S72.784,43.76,88.256,43.76z"}

      
%hr

%footer
  %a.link{:href => "http://timguignard.com", :target => "_blank"} timguignard.com

       