body {
  background-color: #36caa7;
  color: white;
  font-family: "Lato";
}
.container-fluid {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
}
.customer-card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.5);
  color: #7A7A7A;
  height: 230px;
  margin: 0 auto;
  width: 460px;
}
.card-body {
  letter-spacing: 0.9px;
  padding: 25px;
  position: relative;
}
.approved {
  border-radius: 50%;
  background-color: #36caa7;
  border: 3px solid white;
  height: 40px;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  width: 40px;
  z-index: 1;
}
.approved:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: white;
  content: "\e013";
  font-family: "Glyphicons Halflings";
  font-size: 13px;
}
.customer-name {
  color: #252830;
  font-size: 24px;
}
.category {
  font-size: 12px;
  font-weight: 700;
  margin: 5px 0 20px;
}
.category .value {
  color: #36caa7;
}
.category .key {
  margin-left: 4px;
  text-transform: uppercase;
}
.customer-info li + li {
  margin-top: 3px;
}
.media {
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  height: 100%;
}
