/* line 1, ../sass/style.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 6, ../sass/style.scss */
.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #ECF0F1;
}

/* line 13, ../sass/style.scss */
.box {
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: width 200ms ease-in;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px 0px 20px #000;
}

/* line 24, ../sass/style.scss */
p, h1 {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
  font-size: 24pt;
  text-align: right;
  margin-right: 10%;
  /*color: rgba(0, 47, 47, 0.5);*/
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  text-overflow: inherit;
  z-index: 1;
}

/* line 38, ../sass/style.scss */
p {
  font-size: 50pt;
}

/* line 42, ../sass/style.scss */
div#hoursBox {
  background-color: #EFECCA;
  background-image: url("https://static.pexels.com/photos/398456/pexels-photo-398456.jpeg");
}

/* line 46, ../sass/style.scss */
div#minutesBox {
  background-color: #A7A37E;
  background-image: url("https://static.pexels.com/photos/33545/sunrise-phu-quoc-island-ocean.jpg");
}

/* line 50, ../sass/style.scss */
div#secondsBox {
  background-color: #046380;
  background-image: url("https://static.pexels.com/photos/111739/pexels-photo-111739.jpeg");
}

/* line 55, ../sass/style.scss */
div#hoursBox p {
  margin-top: 10vh;
}

/* line 58, ../sass/style.scss */
div#minutesBox p {
  margin-top: 30vh;
}

/* line 61, ../sass/style.scss */
div#secondsBox p {
  margin-top: 55vh;
}
