*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg {
  position: absolute;
}

.demo {
  width: 100vw;
  height: 100vh;  
  
  background-color: darken(#CC9EC6, 35%);
  
  &__buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    
    transform: translate(-100px, -100px);
    filter: url("#goo");
    
    &.step-0 {
      .demo__social-btn-1, .demo__social-btn-2, .demo__social-btn-3, .demo__social-btn-4 {
        transform: translate3d(-50px, -50px, 0);
      }
    }
    &.step-1 {
      .demo__social-btn-1 {
        transform: translate3d(-50px, -50px, 0);
      }
      .demo__social-btn-2, .demo__social-btn-3, .demo__social-btn-4 {
        transform: translate3d(-50px, 50px, 0);
      }
    }
    &.step-2 {      
      .demo__social-btn-1 {
        transform: translate3d(-50px, -50px, 0);
      }
      
      .demo__social-btn-2 {
        transform: translate3d(-50px, 50px, 0);
      }
      
      .demo__social-btn-3, .demo__social-btn-4 {
        transform: translate3d(50px, 50px, 0);
      }
    }
    &.step-3 {
      .demo__social-btn-1 {
        transform: translate3d(-50px, -50px, 0);
      }      
      .demo__social-btn-2 {
        transform: translate3d(-50px, 50px, 0);
      }
      
      .demo__social-btn-3 {
        transform: translate3d(50px, 50px, 0);
      }
      .demo__social-btn-4 {
        transform: translate3d(50px, -50px, 0);
      }
    }
  }
  
  &__social-btn {
    position: absolute;    
    left: 65px;
    top: 65px;
    
    width: 70px;
    height: 70px;
    
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    
    background: white;
    color: #261758;
    
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.25s ease;
    
    &:hover {
      color: #106279;
    }
  }
  
  &__open-btn {
    position: absolute;
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    
    text-align: center;
    line-height: 70px;
    font-weight: 700;
    font-size: 30px;
    font-family: sans-serif;
    
    background: white;
    color: #261758;
    
    border-radius: 50%;
    cursor: pointer;
    
    transition: all 0.2s ease;
    
    &:hover {
      color: #106279;
    }
  }
}

.about-me {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  color: white;  
  font-family: sans-serif;
  
  & a {
    color: white;
    
    &:hover {
      color: lighten(blue, 20%);
    }
  }
}
