.table
  .on
    .notepad(contenteditable="")
    .notebook
      .display
        .arrow
        .cursor
      .keyboard
        - for (var i = 0; i < 25; i++)
          .key
        .trackpad
    .cupshadow
    .cup
      .teatag
      .handle
      .top
      .teabagcord
      .teabagcordbeginingandend