html, body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #696565;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.calculator {
  width: 100%;
  height: 100%;
  min-height: 600px;
  background-image: linear-gradient(to bottom, hotpink, salmon);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-body {
  width: 85%;
  max-width: 300px;
  height: 373px;
  /*background-image: linear-gradient(to bottom, #004D59, #012024);*/
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 25px 35px -15px rgba(113, 23, 67, 0.8);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
}

.calc-body-screen {
  flex: 1 0 100%;
  height: 24%;
  /*box-shadow: inset 0 0 0 1px #225861;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.calc-body-screen .input-text {
  width: 100%;
  line-height: 40px;
  padding: 0 5%;
  box-sizing: border-box;
  font-size: 15px;
}

.calc-body-screen .answer {
  line-height: 50px;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
  font-size: 38px;
}

.calc-body-btn {
  cursor: pointer;
  opacity: .6;
  font-size: 23px;
  flex: 0 1 18%;
  height: 14.5%;
  /*box-shadow: inset 0 0 0 1px #225861;*/
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-body-btn:hover {
  background-color: #ffe2ede6;
  transition: all 0.1s ease-in-out;
}

.calc-body-btn.calculate {
  height: 28%;
}

.calc-body-btn.zero {
  flex: 0 1 38.5%;
}

.math-operator {
  display: none;
}
