audio(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/128337/ongoing-thing-crop.ogg' muted autoplay)
.controls
  button#btn-restart.controls__btn(title="Play it with audio!")
    svg(viewBox="0 0 24 24")
      path(d="M19,12H22.32L17.37,16.95L12.42,12H16.97C17,10.46 16.42,8.93 15.24,7.75C12.9,5.41 9.1,5.41 6.76,7.75C4.42,10.09 4.42,13.9 6.76,16.24C8.6,18.08 11.36,18.47 13.58,17.41L15.05,18.88C12,20.69 8,20.29 5.34,17.65C2.22,14.53 2.23,9.47 5.35,6.35C8.5,3.22 13.53,3.21 16.66,6.34C18.22,7.9 19,9.95 19,12Z")
  button#btn-audio.controls__btn(title="Play it with audio!").controls__btn--toggled
    svg(viewBox="0 0 24 24")
      path(d="M14,3.23V5.29C16.89,6.15 19,8.83 19,12C19,15.17 16.89,17.84 14,18.7V20.77C18,19.86 21,16.28 21,12C21,7.72 18,4.14 14,3.23M16.5,12C16.5,10.23 15.5,8.71 14,7.97V16C15.5,15.29 16.5,13.76 16.5,12M3,9V15H7L12,20V4L7,9H3Z")

    svg(viewBox="0 0 24 24")
      path(d="M12,4L9.91,6.09L12,8.18M4.27,3L3,4.27L7.73,9H3V15H7L12,20V13.27L16.25,17.53C15.58,18.04 14.83,18.46 14,18.7V20.77C15.38,20.45 16.63,19.82 17.68,18.96L19.73,21L21,19.73L12,10.73M19,12C19,12.94 18.8,13.82 18.46,14.64L19.97,16.15C20.62,14.91 21,13.5 21,12C21,7.72 18,4.14 14,3.23V5.29C16.89,6.15 19,8.83 19,12M16.5,12C16.5,10.23 15.5,8.71 14,7.97V10.18L16.45,12.63C16.5,12.43 16.5,12.21 16.5,12Z")

#root
  .card
    img(src='https://yt3.ggpht.com/-lNGwllze1Xk/AAAAAAAAAAI/AAAAAAAAAAA/N6QnsHGN7Fk/s100-c-k-no-mo-rj-c0xffffff/photo.jpg', alt="Marques Brownlee")
    h1.name
      span M
      span K
      span B
      span H
      span D

  .wrapper
    - var n = 0
    - var qx = 12
    - var qy = 9
    - var elems = qx * qy - 1
      while n < elems
        .dot
        .dot
        .bg-line
        - n++
      .logo-mkbhd
        .skewed-box.white.bottom.over
          .mask
            .line.left
        .skewed-box.white.top.over
          .mask
            .line.left
        .skewed-box.white.top
          .stripe.top
          .stripe.topBottom
          .stripe.bottomTop
          .stripe.bottom
          .mask
            .line.top
            .line.right
        .skewed-box.pink
          .stripe.bottom
          .stripe.top
          .bg
        .skewed-box.white.bottom
          .mask
            .line.bottom
            .line.right
      .stripe.final-stripe.right
      .stripe.final-stripe.left
