/* line 1, ../sass/style.scss */
* {
  position: relative;
  box-sizing: border-box;
}

/* line 5, ../sass/style.scss */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

/* line 10, ../sass/style.scss */
.wrapper {
  height: 100%;
  background-color: #FDE05F;
}

/* line 14, ../sass/style.scss */
.handle {
  width: 80px;
  height: 180px;
  background-color: #FDE05F;
  border: solid 20px #FFFAC6;
  position: absolute;
  top: 50%;
  right: -60px;
  transform: translateY(-50%);
  border-radius: 0px 32px 32px 0px;
}

/* line 26, ../sass/style.scss */
.cup {
  width: 240px;
  height: 360px;
  background-color: #FFFAC6;
  border-bottom: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px 2px 16px 16px;
}
/* line 38, ../sass/style.scss */
.cup .top {
  width: 200px;
  height: 70px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* line 50, ../sass/style.scss */
.foam {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* line 56, ../sass/style.scss */
.foam1 {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
}

/* line 62, ../sass/style.scss */
.foam2 {
  position: absolute;
  top: -70%;
  left: 24%;
  width: 120px;
  height: 120px;
}

/* line 69, ../sass/style.scss */
.foam3 {
  position: absolute;
  top: -50%;
  right: 0%;
  width: 60px;
  height: 60px;
}

/* line 76, ../sass/style.scss */
.bottom {
  background-color: #FFF05A;
  width: 200px;
  height: 290px;
  border-radius: 0 0 16px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 88, ../sass/style.scss */
.bubble {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
}

/* line 94, ../sass/style.scss */
.bubble1 {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 75%;
  left: 15%;
}

/* line 101, ../sass/style.scss */
.bubble2 {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 45%;
  left: 24%;
}

/* line 108, ../sass/style.scss */
.bubble3 {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 18%;
  left: 46%;
}

/* line 115, ../sass/style.scss */
.bubble4 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8%;
  right: 8%;
}
