@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
body {
  background: #000;
}
.items { display: none; }
.container {
  width: 16rem;
  margin: 2rem auto;
  font-family: "Open Sans";
}


.categories {
  background: #333;
  header {
    overflow: hidden;
    color: white;
    font-weight: 600;
    box-shadow: 0px 2px 0px rgba(255,255,255,0.2) inset, 0px -2px 0px rgba(0,0,0,0.35) inset;
    //border-bottom: 2px solid rgba(0,0,0,0.35);
    //border-top: 2px solid rgba(255,255,255,0.05);
    -webkit-transition: background-color 0.2s ease;
    span {
      padding: 1rem;
      display: block;
      float: left;
    }
    .tab {
      font-family: "Open Sans";
      padding: 1rem;
      float: right;
      display: block;
      background: rgba(255,255,255,0.1);      
    }
    &:hover {
      background-color: #222;
      cursor: pointer;
    }
  }
}

a {
  color: #fff;
  text-decoration: none;
  font-weight:600;
}

.items {
  background: #777;
  li a {
    display: block;
    padding: 1rem;
    &:hover {
      background-color: #888;
    }
  }
}