/* line 3, ../sass/style.scss */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Arial', 'Helvetica', sans-serif;
}

/* line 11, ../sass/style.scss */
.phone {
  width: 348px;
  height: 716px;
  background-image: url("//resources.framerjs.com/static/DeviceResources/apple-iphone-6s-silver.webp");
  background-size: 100%;
  background-repeat: no-repeat;
}

/* line 19, ../sass/style.scss */
.phone-vp {
  overflow: hidden;
  width: 304px;
  height: 537px;
  position: relative;
  top: 88px;
  left: 22px;
}

/* line 28, ../sass/style.scss */
.app {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

/* line 36, ../sass/style.scss */
.hdg {
  font-size: 50px;
  padding: 0 0 24px;
  color: #aeae42;
  font-family: 'Amatic SC', cursive;
}

/* line 46, ../sass/style.scss */
.app-menu {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
}

/* line 54, ../sass/style.scss */
.app-menu-inner {
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  padding: 12px;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* line 64, ../sass/style.scss */
.app-menu-inner-bd {
  padding: 24px 0;
}

/* line 70, ../sass/style.scss */
.app-splash {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ffffff;
}

/* line 80, ../sass/style.scss */
.app-splash-logo {
  width: 200px;
}

/* line 86, ../sass/style.scss */
.app-learn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ffffff;
}

/* line 96, ../sass/style.scss */
.app-learn-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: -60px;
  text-align: center;
}

/* line 106, ../sass/style.scss */
.app-learn-start > * + * {
  margin-top: 24px;
}

/* line 110, ../sass/style.scss */
.app-learn-start > *:nth-child(2),
.app-learn-start > *:nth-child(3) {
  opacity: 0;
}

/* line 115, ../sass/style.scss */
.app-learn-close {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 18px;
  right: 18px;
  color: #000000;
}

/* line 127, ../sass/style.scss */
.app-home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ffffff;
  opacity: 1;
}

/* line 137, ../sass/style.scss */
.app-home-hd {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  min-height: 24px;
}

/* line 144, ../sass/style.scss */
.app-home-hd-menu {
  display: block;
  width: 25px;
  height: 25px;
  color: #000000;
}

/* line 151, ../sass/style.scss */
.app-home-hd-logo {
  display: block;
  width: 60px;
}

/* line 156, ../sass/style.scss */
.app-home-hd-logo svg {
  width: 100%;
}

/* line 160, ../sass/style.scss */
.app-home-bd {
  overflow: auto;
  flex-grow: 1;
}

/* line 167, ../sass/style.scss */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 24px 0;
}

/* line 176, ../sass/style.scss */
.profile-figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-bottom: 12px;
  background-color: #286a7d;
  border-radius: 50%;
  color: #ffffff;
  font-size: 24px;
}

/* line 189, ../sass/style.scss */
.profile-title {
  color: #286a7d;
  font-size: 16px;
}

/* line 196, ../sass/style.scss */
.app-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  background-color: #ffffff;
}

/* line 206, ../sass/style.scss */
.app-grid-hd {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

/* line 212, ../sass/style.scss */
.app-grid-hd-menu {
  display: block;
  width: 25px;
  height: 25px;
  color: #000000;
}

/* line 219, ../sass/style.scss */
.app-grid-hd-logo {
  display: block;
  width: 60px;
}

/* line 224, ../sass/style.scss */
.app-grid-hd-logo svg {
  width: 100%;
}

/* line 228, ../sass/style.scss */
.app-grid-bd {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

/* line 238, ../sass/style.scss */
.productList {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 300px;
  padding-bottom: 24px;
}

/* line 246, ../sass/style.scss */
.productList > * {
  width: 33.333%;
  height: 33.333%;
  background-size: cover;
}

/* line 252, ../sass/style.scss */
.productList > *:nth-child(1) {
  background-image: url("https://c4.staticflickr.com/6/5262/5573045331_90b2a06446.jpg");
}

/* line 256, ../sass/style.scss */
.productList > *:nth-child(2) {
  background-image: url("https://c4.staticflickr.com/4/3171/12978414043_8b325512ea.jpg");
}

/* line 260, ../sass/style.scss */
.productList > *:nth-child(3) {
  background-image: url("https://c8.staticflickr.com/6/5328/9312082879_0f48f6d19c.jpg");
}

/* line 264, ../sass/style.scss */
.productList > *:nth-child(4) {
  background-image: url("https://c7.staticflickr.com/7/6030/5987836942_26528af819.jpg");
}

/* line 268, ../sass/style.scss */
.productList > *:nth-child(5) {
  background-image: url("https://c7.staticflickr.com/9/8673/16014574470_03bd46af01.jpg");
}

/* line 272, ../sass/style.scss */
.productList > *:nth-child(6) {
  background-image: url("https://c6.staticflickr.com/6/5575/15241771501_b4e8993200.jpg");
}

/* line 276, ../sass/style.scss */
.productList > *:nth-child(7) {
  background-image: url("https://c5.staticflickr.com/6/5171/5508731772_6365c77de9.jpg");
}

/* line 280, ../sass/style.scss */
.productList > *:nth-child(8) {
  background-image: url("https://c2.staticflickr.com/4/3037/3033956681_a8d1d5f6d1.jpg");
}

/* line 284, ../sass/style.scss */
.productList > *:nth-child(9) {
  background-image: url("https://c2.staticflickr.com/9/8369/8441739257_ca3ea32ca3.jpg");
}

/* line 288, ../sass/style.scss */
.productList > li {
  position: relative;
}

/* line 292, ../sass/style.scss */
.productList > li > svg {
  width: 5px;
  height: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  stroke-width: 4px;
  stroke: #666666;
  opacity: 0;
}

/* line 303, ../sass/style.scss */
.productList > li > div {
  box-sizing: border-box;
  width: 100%;
  padding: 4px 1px;
  position: absolute;
  top: 100%;
  font-size: 4px;
  opacity: 0;
}

/* line 315, ../sass/style.scss */
.nav {
  font-size: 14px;
  color: #286a7d;
}

/* line 320, ../sass/style.scss */
.nav li {
  margin-bottom: 16px;
}

/* line 326, ../sass/style.scss */
.slides {
  width: 100%;
  height: 100%;
}

/* line 331, ../sass/style.scss */
.slides-item {
  width: 100%;
  height: 100%;
  outline: none !important;
}

/* line 337, ../sass/style.scss */
.slides-item-inner {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 24px;
}

/* line 347, ../sass/style.scss */
.slick-arrow {
  display: none !important;
}

/* line 351, ../sass/style.scss */
.slick-list,
.slick-track {
  width: 100%;
  height: 100%;
}

/* line 357, ../sass/style.scss */
.slick-dots {
  bottom: 0;
}

/* line 363, ../sass/style.scss */
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 369, ../sass/style.scss */
.feature-figure {
  width: 60px;
  height: 60px;
  margin-bottom: 12px;
  position: relative;
  border: 1px solid #286a7d;
  border-radius: 50%;
}

/* line 378, ../sass/style.scss */
.feature-title {
  margin-bottom: 12px;
  position: relative;
  color: #286a7d;
  font-size: 16px;
  font-family: 'Gloria Hallelujah', cursive;
}

/* line 386, ../sass/style.scss */
.feature-bd {
  position: relative;
  color: #286a7d;
  font-size: 12px;
  text-align: center;
}

/* line 395, ../sass/style.scss */
.btn {
  appearance: none;
  width: 200px;
  padding: 12px 24px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  background-color: #286a7d;
  position: relative;
  outline: none !important;
}

/* line 407, ../sass/style.scss */
.btn_light {
  background-color: #6dbaf3;
}

/* line 413, ../sass/style.scss */
.learnClose {
  width: 50px;
  height: 50px;
  color: #727272;
  margin-top: 32px !important;
}

/* line 423, ../sass/style.scss */
.menu-item img {
  display: block;
  max-width: 100%;
  filter: saturate(60%);
}

/* line 429, ../sass/style.scss */
.menu-item {
  position: relative;
}

/* line 433, ../sass/style.scss */
.menu-item:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}

/* line 443, ../sass/style.scss */
.menu-item-desc {
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0;
  background-color: #286a7d;
  color: #ffffff;
  font-size: 11px;
  box-sizing: border-box;
  padding: 12px;
}
