<div class="page-header">
  <h1>Admin Panel: <%= current_user.username %></h1>
</div>
<ul>
  <li><%= link_to "Create New Event Category", new_category_path %></li>
  <li><%= link_to "Create New State", new_state_path %></li>
  <li><%= link_to "Create New City", new_city_path %></li>
</ul>