@keyframes spin {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
.loader {
  display: inline-block;
  height: 10em;
  width: 10em;
  background: #fff;
  position: relative;
  border-radius: 500px;
  transition: 0.5s;
}
.loader:after {
  content: '';
  background: #069;
  position: absolute;
  width: 50.5%;
  height: 50.5%;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  border-radius: 0 0 500px;
  animation: spin 3s linear infinite;
}
.loader:before {
  content: '';
  position: absolute;
  top: 7%;
  left: 7%;
  width: 86%;
  height: 86%;
  background: #333;
  border-radius: 500px;
  z-index: 1;
  transition: 0.2s;
}
.loader:hover {
  border-radius: 0;
}
.loader:hover:before {
  top: 14%;
  left: 14%;
  width: 72%;
  height: 72%;
  opacity: 0.9;
}

body {
  background: #333;
  padding: 5em;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}
