/* line 27, ../sass/style.scss */
:root {
  background: #94c6fd;
  padding: 3em;
}
/* line 30, ../sass/style.scss */
:root .contain {
  background: white;
  box-shadow: 0 2px 2px #499efc;
  color: #111;
  font-size: 1.3em;
  height: 300px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  position: relative;
}
/* line 39, ../sass/style.scss */
:root .contain + .contain {
  margin-top: 3em;
}
/* line 42, ../sass/style.scss */
:root .contain a {
  color: #111;
}

/* line 48, ../sass/style.scss */
#ponyo, #billmurray {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
}
/* line 19, ../sass/style.scss */
#ponyo > *, #billmurray > * {
  display: block;
  padding: 0 10px;
  text-align: center;
  width: 100%;
}

/* line 52, ../sass/style.scss */
#jeffgolenski {
  position: absolute;
  top: 50%;
  left: 95%;
  -ms-transform: translate(-95%, -50%);
  -webkit-transform: translate(-95%, -50%);
  transform: translate(-95%, -50%);
  width: 50%;
}
/* line 19, ../sass/style.scss */
#jeffgolenski > * {
  display: block;
  padding: 0 10px;
  text-align: left;
  width: 100%;
}

/* line 56, ../sass/style.scss */
#poppop {
  position: absolute;
  top: 50%;
  left: 5%;
  -ms-transform: translate(-5%, -50%);
  -webkit-transform: translate(-5%, -50%);
  transform: translate(-5%, -50%);
  width: auto;
}
/* line 19, ../sass/style.scss */
#poppop > * {
  display: block;
  padding: 0 10px;
  text-align: left;
  width: 100%;
}

/* line 60, ../sass/style.scss */
#cred {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
}
/* line 19, ../sass/style.scss */
#cred > * {
  display: block;
  padding: 0 10px;
  text-align: center;
  width: 100%;
}
