<div class="form-group">
    <label>
            {{view Ember.Checkbox checked=checked}} {{label}}</input>
    </label>
    {{#if checked}}
        {{view Ember.Select class="form-control" viewName="select" content=content optionLabelPath=optionLabelPath
               optionValuePath=optionValuePath selection=selection prompt=prompt}}
    {{/if}}
</div>
