<div class="input-group">
    <span class="input-group-addon">{{label}}</span>
    {{input
        value=value
        class="form-control"
        placeholder=label
        type=type
        viewName="textField"
        focus-out="acceptChanges"
        insert-newline="acceptChanges"}}
</div>
