<div class="input-group">
    {{input
        value=value
        class="form-control"
        placeholder=label
        type=type
        viewName="textField"
        focus-out="acceptChanges"
        insert-newline="acceptChanges"}}
    <span class="input-group-addon">{{label}}</span>
</div>
