<div class="form-group">
    <label {{bind-attr for="numericField.elementId"}} class="col-sm-5"
                                                      style="padding:8px 10px;text-align:right">{{label}}</label>
    <div class="col-sm-7">
        {{input
            value=value
            class="form-control input-sm"
            placeholder=label
            type="number"
            min=min
            max=max
            step=step
            viewName="numericField"
            focus-out="acceptChanges"
            insert-newline="acceptChanges"
            disabled=disabled
        }}
    </div>
</div>
