<div class="form-group">
    <label {{bind-attr for="textField.elementId"}} class="col-sm-5"
                                                   style="padding:8px 10px;text-align:right">{{label}}</label>
    <div class="col-sm-7">
        {{input
            value=value
            class="form-control input-sm"
            placeholder=label
            maxlength=maxlength
            type=type
            viewName="textField"
            focus-out="acceptChanges"
            insert-newline="acceptChanges"
            disabled=disabled}}
    </div>
</div>
