<div class="form-group">
    <label class="col-sm-5" style="padding: 10px 10px;text-align:right">{{label}}</label>
    <div class="col-sm-7">
        {{input type="checkbox"
        class="input-sm"
        viewName="checkbox"
        checked=checked
        disabled=disabled}}
    </div>
</div>
