<div class="form-group">
    <label class="col-sm-5" style="padding:8px 10px;text-align:right">{{label}}</label>
    <div class="col-sm-7">
        {{view Ember.Select
               class="form-control input-sm"
               viewName="select"
               content=content
               optionLabelPath=optionLabelPath
               optionValuePath=optionValuePath
               selection=selection
               value=value
               prompt=prompt
               disabled=disabled
           }}
    </div>
</div>
