<span class="input-group-btn" style="vertical-align: top; left: 90%;">
    <button class="btn btn-default btn-sm" {{action 'updateReportAction'}}>
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
    </button>
</span>
<br>
<div></div>
