@import 'addons';

.ranking {

  font-family: $roboto;
  margin: 2rem auto;
  max-width: 52rem;
  min-height: 32.5rem;
  padding: 0 2rem;

  &__label {
    display: block;
    font-family: $font;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &__control {
    display: none;
  }

  &__chart {
    counter-reset: years 2003;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    position: relative;
  }

  &__row {
    counter-increment: years;
    counter-reset: position;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__row:before {
    color: $gray-70;
    content: counter(years) '';
    display: block;
    font-size: 12px;
    font-weight: 300;
    margin: auto;
    padding-right: 1rem;
    text-align: center;
  }

  &__cell {
    align-items: center;
    counter-increment: position;
    cursor: pointer;
    display: flex;
    flex: 1;
    font-weight: 300;
    justify-content: center;
    padding: 1rem 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    will-change: transform, opacity;

    &:before {
      content: counter(position) 'º';
      display: block;
      margin: auto;
    }

    &--active {
      transform: scale(3);
      z-index: 2;

      &:nth-child(7) {
        position: relative;
        right: 3.5rem;
      }

      &:before { display: none; }

      .ranking__cell-info {
        display: block;
      }
    }

    &--unfocused {
      opacity: 0.2;
    }
  }

  &__cell-info {
    display: none;
    font-size: 5px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @include medium {
    max-width: 76.8rem;

    &__label {
      font-size: 18px;
    }

    &__control {
      display: flex;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }

    &__control-cell {
      border-right: 1px solid $gray-30;
      cursor: pointer;
      display: flex;
      flex: 1;
      height: 40px;
      transition: box-shadow 0.3s ease;

      &:first-child {
        border-left: 1px solid $gray-30;
      }

      &[data-state="active"],
      &:hover {
        border-bottom: 2px solid $blue;
      }
    }

    &__control-text {
      color: $gray-90;
      font-family: $roboto;
      font-size: 13px;
      font-weight: 300;
      margin: auto;
      pointer-events: none;
      text-align: center;
    }

    &__chart {
      flex-direction: row;
      padding-left: 0;
      padding-right: 0;
    }

    &__row {
      flex-direction: column;
      width: calc(100% / 11);

      &:before {
        padding-bottom: 0.5rem;
        padding-right: 0;
      }
    }

    &__cell {

      padding: 1rem 0.5rem;

      &:before {
        display: none;
      }

      &--active {
        transform: scale(1);
        z-index: 1;

        &:before { display: none; }

        .ranking__cell-info {
          display: block;
        }
      }
    }

    &__cell-info {
      color: $gray-90;
      display: initial;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 2rem;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  //Color fix
  &__cell[data-code="PTAX"] .ranking__cell-info,
  &__cell[data-code="PTAX"]:before,
  &__cell[data-code="IFMM"] .ranking__cell-info,
  &__cell[data-code="IFMM"]:before,
  &__cell[data-code="IBOV"] .ranking__cell-info,
  &__cell[data-code="IBOV"]:before {
    color: $gray-10;
  }
}
