/* line 1, ../sass/style.scss */
.card,
.envelope {
  background: #fff;
  -webkit-box-shadow: 0 8px 3px -1px rgba(0, 0, 0, 0.7);
  box-shadow: 0 8px 3px -1px rgba(0, 0, 0, 0.7);
  height: 21em;
  padding: 2em;
  position: relative;
  width: 15em;
}

/* line 12, ../sass/style.scss */
.envelope {
  background: #cb231c;
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.8);
  margin: -2em -2em;
  position: absolute;
  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
  z-index: -1;
}

/* line 24, ../sass/style.scss */
h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  width: 90%;
}

/* line 32, ../sass/style.scss */
em {
  color: #cc2119;
  font-style: normal;
}

/* line 37, ../sass/style.scss */
.heart {
  bottom: 4em;
  position: absolute;
  right: 4em;
}

/* line 43, ../sass/style.scss */
.heart::before,
.heart::after {
  background-color: #cd231b;
  border-radius: 50px 50px 0 0;
  content: "";
  height: 25px;
  left: 15px;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  width: 15px;
}

/* line 60, ../sass/style.scss */
.heart::after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

/* line 70, ../sass/style.scss */
body {
  background-color: #eee;
  font: 16px/1.05 "Montserrat", sans-serif;
}
