/* Button (element) */

.e-button {
  display: inline-block;
  border: 0;
  outline: 0;
  appearance: none;
  cursor: pointer;
  font-size: rem(18);
  line-height: rem($unit * 3);
  height: rem(49);
  line-height: rem(31);
  padding: rem($unit) rem(35);
  font-family: $fonts--default;
  text-align: center;
  color: $yellow;
  background: $blue;
  font-weight: $fw-bold;
  border-radius: rem(5);
  border: rem(2) solid $blue;
  border-bottom-color: $dark-blue;
  box-shadow: 0 0 0 rem(2) $beige,
              rem(2) rem(2) 0 rem(2) $green;
  text-shadow: rem(1) rem(1) rgba($dark-blue, 0.8);
  transition: color 100ms,
              box-shadow 100ms,
              border-color 100ms,
              background-color 100ms;

  &:focus,
  &:hover {
    color: $blue;
    text-shadow: none;
    border-color: $green;
    background-color: $yellow;
    box-shadow: 0 0 0 rem(2) $beige,
                0 0 0 rem(4) $blue;
  }

  &:disabled {
    filter: saturate(0.3);
    opacity: 0.6;
    pointer-events: none;
  }
}

.e-button--bg1,
.e-button--bg2 {
  text-shadow: none;
  background-color: $white;
  border-color: transparent;

  &:focus,
  &:hover {
    border-color: $yellow;
  }
}

.e-button--bg1 {
  color: $pink;
  box-shadow: 0 0 0 rem(2) $pink,
              rem(2) rem(2) 0 rem(2) $yellow;

  &:focus,
  &:hover {
    color: $pink;
    box-shadow: 0 0 0 rem(2) $pink,
                0 0 0 rem(4) $yellow;
  }
}

.e-button--bg2 {
  color: $blue;
  box-shadow: 0 0 0 rem(2) $blue,
              rem(2) rem(2) 0 rem(2) $green;

  &:focus,
  &:hover {
    color: $blue;
    box-shadow: 0 0 0 rem(2) $blue,
                0 0 0 rem(4) $green;
  }
}

.e-button--bg1.e-button--shadow:not(:focus):not(:hover) {
  box-shadow: 0 0 0 rem(2) $pink,
              rem(2) rem(2) 0 rem(2) $yellow,
               4px  4px 0 4px #eb6983,
               8px  8px 0 4px #eb6983,
              12px 12px 0 4px #eb6983,
              16px 16px 0 4px #eb6983,
              20px 20px 0 4px #eb6983,
              24px 24px 0 4px #eb6983,
              28px 28px 0 4px #eb6983,
              32px 32px 0 4px #eb6983,
              36px 36px 0 4px #eb6983,
              40px 40px 0 4px #eb6983,
              44px 44px 0 4px #eb6983,
              48px 48px 0 4px #eb6983,
              52px 52px 0 4px #eb6983,
              56px 56px 0 4px #eb6983,
              60px 60px 0 4px #eb6983,
              64px 64px 0 4px #eb6983,
              68px 68px 0 4px #eb6983,
              72px 72px 0 4px #eb6983,
              76px 76px 0 4px #eb6983,
              80px 80px 0 4px #eb6983;
}

.e-button--bg2.e-button--shadow:not(:focus):not(:hover) {
  box-shadow: 0 0 0 rem(2) $blue,
              rem(2) rem(2) 0 rem(2) $green,
               4px  4px 0 4px #2b8bae,
               8px  8px 0 4px #2b8bae,
              12px 12px 0 4px #2b8bae,
              16px 16px 0 4px #2b8bae,
              20px 20px 0 4px #2b8bae,
              24px 24px 0 4px #2b8bae,
              28px 28px 0 4px #2b8bae,
              32px 32px 0 4px #2b8bae,
              36px 36px 0 4px #2b8bae,
              40px 40px 0 4px #2b8bae,
              44px 44px 0 4px #2b8bae,
              48px 48px 0 4px #2b8bae,
              52px 52px 0 4px #2b8bae,
              56px 56px 0 4px #2b8bae,
              60px 60px 0 4px #2b8bae,
              64px 64px 0 4px #2b8bae,
              68px 68px 0 4px #2b8bae,
              72px 72px 0 4px #2b8bae,
              76px 76px 0 4px #2b8bae,
              80px 80px 0 4px #2b8bae;
}
