.row1 { 
  background-color: #399;
  color: #fff;
  font-weight: bold;
  padding: 1em;
}
.row1 a { color: #fff; }
.row2 { 
  background-color: #fff; 
  padding: 1em;
}
.row2 a:hover { 
  background-color: #333;
  color: #fff; 
}
.row3 { 
  background-color: #9ff; 
  color: #000;
  padding: 1em;
}
.row3 a { color: #000; }
.row3 a:hover { 
  color: #fff; 
}
