// Not Required
// =========================================================================

html,body{height: 100%;}body{display: flex;flex-direction:column;align-items: center;justify-content:center;width:100%;background:#313940;}


// Required
// =========================================================================

.fm-logo {
  $fm-logo-size: 300px;
  $fm-stroke-gap: 1000;
  height: auto;
  max-width: 100%;
  stroke-dasharray: $fm-stroke-gap;
  stroke-dashoffset: $fm-stroke-gap;
  width: $fm-logo-size;
  path {
    visibility: hidden;
  }
}