!!!
%html{:lang => "en"}
  %head
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:charset => "UTF-8"}
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fontastic.s3.amazonaws.com/yUUyimhStYWcjHQxYTrihd/icons.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/img/parrot.ico", :rel =>"shortcut icon", :type => "image/x-icon"}
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">


    %title Sudoku Solver
  %body
    .container
      = yield

    %script{:src => "js/vendor/jquery-2.1.3.min.js"}
    %script{:src => "js/sudoku.js"}




