@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400,500,600);

// colors
$color01: #241F48;
$color02: #EA552E;
$color03: #22A397;

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 1.6;
	color: #a7a7a7;
	font-size: 14px;
	position: relative;
}

a {
	color: #e9a892;
	text-decoration: none;
}

p {
	margin-bottom: 10px;
}

#hero {
	background-color: $color01;
	display: table;
	position: relative;
	width: 100%;
	height: 100vh;
	
	h1 {
		color: $color02;
		font-size: 90px;
		line-height: 1;
		display: table-cell; 
		vertical-align: middle; 
		text-align: center;
		font-weight: 500;

		span {
			font-size: 40px;
			color: #fff;
		}
	}
}

.arow_down {
	display: block;
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	height: 45px;
	width: 45px;
	margin: 0 auto;
	border-radius: 45px;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	animation-name: bounce;

	svg path {
		fill: #fff;
	}
}

.nav {
	position: relative;

	a {
		color: $color03;
		position: absolute;
		display: inline-block;
		float: left;
		margin-bottom: 3px;
		left: -100px;
		font-weight: bold;
		margin-top: 20px;

		&:hover {opacity: .6}
	}
}

.content {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 140px;
}

h1 {
	font-family: 'Dosis', sans-serif;
	color: $color02;
	font-size: 40px;
	letter-spacing: 2px;
	line-height: 3;
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
}

.arow_top {
	width: 50px;
	height: 50px;
	position: absolute;
	display: block;
	bottom: 50px;
	right: 50px;
	padding: 0;
	
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);

	svg path {
		fill: $color01;
	}
}



/*
CSS ANIMATE BY Daniel Eden
Animate.css - https://daneden.me/animate
Licensed under the MIT license
Copyright (c) 2013 Daniel Eden
*/
 
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-30px);}
    60% {-moz-transform: translateY(-15px);}
}
 
@-ms-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-ms-transform: translateY(0);}
    40% {-ms-transform: translateY(-30px);}
    60% {-ms-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-30px);}
    60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}
