@import url(https://fonts.googleapis.com/css?family=Rubik);
/* line 3, ../sass/style.scss */
body {
  margin: 0px;
  padding: 0px;
  width: 800px;
  font-family: 'Rubik', Arial;
}

/* Controls */
/* line 6, ../sass/style.scss */
.controls {
  position: fixed;
  z-index: 30;
  top: 0;
  padding: 20px;
}

/* line 7, ../sass/style.scss */
.colors a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
  border: 3px solid #e2e2e2;
}

/* line 8, ../sass/style.scss */
.white {
  background-color: #fff;
}

/* line 9, ../sass/style.scss */
.black {
  background-color: #000;
}

/* line 10, ../sass/style.scss */
.red {
  background-color: #f00;
}

/* line 11, ../sass/style.scss */
.yellow {
  background-color: #ff0;
}

/* line 12, ../sass/style.scss */
.blue {
  background-color: #00f;
}

/* line 13, ../sass/style.scss */
.colors .active {
  border: 3px solid yellow;
}

/* line 14, ../sass/style.scss */
button {
  font-family: 'Rubik', Arial;
}

/* line 16, ../sass/style.scss */
#cursor {
  border: 3px solid yellow;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 120px;
  left: 40px;
  z-index: 30;
  border-radius: 10px;
  pointer-events: none;
}

/* line 29, ../sass/style.scss */
#info {
  position: fixed;
  bottom: 0;
  z-index: 30;
  width: 100%;
}

/* line 35, ../sass/style.scss */
#info p {
  background-color: rgba(255, 255, 255, 0.3);
  width: 294px;
  margin-left: 130px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 6px;
}

/* line 43, ../sass/style.scss */
#guida {
  width: 110px;
  height: 110px;
  border-radius: 55px;
  border: 1px solid #AAA;
  display: block;
  position: fixed;
  bottom: 10px;
  left: 10px;
}

/* line 55, ../sass/style.scss */
#disegno {
  position: absolute;
  z-index: 10;
  top: 82px;
  left: 161px;
  opacity: 0.3;
}

/* line 61, ../sass/style.scss */
#log {
  position: absolute;
  top: 0;
  right: 0;
  background: #e0e0e0;
  padding: 20px;
  z-index: 30;
  display: none;
}

/* line 64, ../sass/style.scss */
#opponent {
  position: absolute;
  width: 800px;
}

/* line 65, ../sass/style.scss */
#avatar {
  background: url("https://cdn.pbrd.co/images/YfyvKDt.png") no-repeat 0 -220px;
  position: absolute;
  top: 12px;
  left: 675px;
  z-index: 40;
  width: 110px;
  height: 110px;
  border-radius: 55px;
}

/* line 75, ../sass/style.scss */
#avatar.ok {
  background-position: 0px 0px;
}

/* line 78, ../sass/style.scss */
#avatar.no {
  background-position: 0px -110px;
}

/* line 82, ../sass/style.scss */
canvas {
  position: absolute;
  z-index: 20;
}

/* line 84, ../sass/style.scss */
#filo {
  z-index: 22;
  pointer-events: none;
}

/* line 85, ../sass/style.scss */
#points {
  position: absolute;
  right: 150px;
  top: 45px;
  font-size: 16px;
  z-index: 20;
  background: white;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px #999;
  text-align: right;
}

/* line 97, ../sass/style.scss */
#points.ok {
  color: green;
}

/* line 98, ../sass/style.scss */
#points.no {
  color: red;
}

/* line 100, ../sass/style.scss */
#bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: .8;
  background: url("https://cdn.pbrd.co/images/YfBgLnB.png") #e0e0e0 -1px -1px;
}

/* line 103, ../sass/style.scss */
button {
  padding: 7px;
  border-radius: 4px;
  font-family: 'Raleway', arial;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* Animazione punteggio */
/*
http://www.dreamstime.com/splashpage-colldet12439
*/
