.wrapper
	section.main 
		section.slider.js_slider
			ul.feed
				li.primary.posts
					article.active.back
						.sl-container
						.ar-container
							.ar-ins-a-container.read
								.ar-ins-b-container
									span.leer-mas Leer más
							.ar-ins-a-container.date
								.ar-ins-b-container
									time(datetime="2014 05 01") 
										table
											tr.number 
												td 01 
												td 05 
												td 14
											tr.label 
												td día 
												td mes 
												td año							
							.ar-ins-a-container.title
								.ar-ins-b-container
									h1 The knocks
									span.cat En #[a(href="#" title="Synthlife") Synthlife]
							.ar-ins-a-container.avatar
								.ar-ins-b-container.ins-avatar
									img.avatar(src="http://codecase.work/codepen/wtm/avatar-1.jpg")
					- for (var article= 0; article < 3; article++)
						article
							.sl-container
							.ar-container
								.ar-ins-a-container.read
									.ar-ins-b-container
										span.leer-mas Leer más
								.ar-ins-a-container.date
									.ar-ins-b-container
										time(datetime="2014 05 01") 
											table
												tr.number 
													td 01 
													td 05 
													td 14
												tr.label 
													td día 
													td mes 
													td año							
								.ar-ins-a-container.title
									.ar-ins-b-container
										h1 The knocks
										span.cat En #[a(href="#" title="Synthlife") Synthlife]
								.ar-ins-a-container.avatar
									.ar-ins-b-container.ins-avatar
										img.avatar(src="http://codecase.work/codepen/wtm/avatar-2.jpg")

				li.secondary.posts
					- for (var article= 0; article < 4; article++)
						article
							.sl-container
							.ar-container
								.ar-ins-a-container.read
									.ar-ins-b-container
										span.leer-mas Leer más
								.ar-ins-a-container.date
									.ar-ins-b-container
										time(datetime="2014 05 01") 
											table
												tr.number 
													td 01 
													td 05 
													td 14
												tr.label 
													td día 
													td mes 
													td año							
								.ar-ins-a-container.title
									.ar-ins-b-container
										h1 The knocks
										span.cat En #[a(href="#" title="Synthlife") Synthlife]
								.ar-ins-a-container.avatar
									.ar-ins-b-container.ins-avatar
										img.avatar(src="http://codecase.work/codepen/wtm/avatar-2.jpg")



		header
			nav
				ul
					li.icon.menu.fa.fa-bars
					li.icon.more.fa.fa-plus-square-o
					li.icon.less.fa.fa-minus-square-o
					li.icon.side-l-r.fa.fa-arrow-right
					li.icon.side-r-l.fa.fa-arrow-left
