main
  each _, e in Array(5)
    each _, i in Array(3)
      .block(
        style='background-image: url("https://source.unsplash.com/random/200x150/?random&' + i + e + '")',
        class='effect-'+e
      )