@import "https://fonts.googleapis.com/css?family=Montserrat";
@font-face {
  font-family: Narziss;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/Narziss_Bold_Drops.woff2);
}
@font-face {
  font-family: Narziss-medium;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/Narziss_Bold_Drops.woff2);
}
/* line 28, ../sass/style.scss */
*, *::after, *::before {
  box-sizing: border-box;
}

/* line 32, ../sass/style.scss */
body, html {
  background: transparent;
  font-size: 6px;
  padding: 4rem 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}
@media (min-width: 860px) {
  /* line 32, ../sass/style.scss */
  body, html {
    font-size: 8px;
    padding: 3rem 5rem;
  }
}
@media (min-width: 1200px) {
  /* line 32, ../sass/style.scss */
  body, html {
    font-size: 10px;
    padding: 2rem 3rem;
  }
}

/* line 52, ../sass/style.scss */
.header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 3rem 2rem;
  z-index: 999;
}
/* line 60, ../sass/style.scss */
.header-wrapper .header {
  position: relative;
  display: block;
  width: 100%;
  height: 6rem;
}
/* line 67, ../sass/style.scss */
.header-wrapper .menu-wrapper {
  position: relative;
  float: left;
  display: block;
  cursor: pointer;
  width: 2.5rem;
  height: 3rem;
  right: 0;
  margin: 0;
  text-align: left;
}
/* line 13, ../sass/style.scss */
.header-wrapper .menu-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* line 82, ../sass/style.scss */
.header-wrapper .menu-hamburger {
  position: relative;
  width: 1.4rem;
  display: inline-block;
  vertical-align: middle;
  background: white;
  height: 1px;
  cursor: pointer;
  right: 0;
  top: 1rem;
}
/* line 93, ../sass/style.scss */
.header-wrapper .menu-hamburger::before {
  content: "";
  width: 2.5rem;
  height: 1px;
  background: white;
  position: absolute;
  top: -0.8rem;
  left: 0;
}
/* line 103, ../sass/style.scss */
.header-wrapper .menu-hamburger::after {
  content: "";
  width: 2rem;
  height: 1px;
  background: white;
  position: absolute;
  top: 0.8rem;
  left: 0;
}
/* line 114, ../sass/style.scss */
.header-wrapper .nav-wrapper {
  position: relative;
  float: right;
}
/* line 119, ../sass/style.scss */
.header-wrapper nav {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
  font-weight: 700;
  color: white;
}
/* line 127, ../sass/style.scss */
.header-wrapper nav ul {
  padding: 0;
  display: block;
  list-style: none;
}
/* line 13, ../sass/style.scss */
.header-wrapper nav ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 135, ../sass/style.scss */
.header-wrapper nav li {
  float: left;
  margin: 0 1.2rem;
}
/* line 139, ../sass/style.scss */
.header-wrapper nav li:last-child {
  margin-left: 0;
}

/* line 146, ../sass/style.scss */
.lines-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}
/* line 154, ../sass/style.scss */
.lines-wrapper span.vertical {
  position: absolute;
  height: 1px;
  width: 100%;
  background: white;
  top: 12%;
  left: 0;
  z-index: 1;
  opacity: 0.05;
}
/* line 165, ../sass/style.scss */
.lines-wrapper .croses span {
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 11%;
  left: calc(20% - 2px);
}
/* line 172, ../sass/style.scss */
.lines-wrapper .croses span:nth-child(2) {
  left: calc(40% - 2px);
}
/* line 176, ../sass/style.scss */
.lines-wrapper .croses span:nth-child(3) {
  left: calc(60% - 2px);
}
/* line 180, ../sass/style.scss */
.lines-wrapper .croses span:nth-child(4) {
  left: calc(80% - 2px);
}
/* line 185, ../sass/style.scss */
.lines-wrapper span.horizontal {
  position: absolute;
  width: 1px;
  height: 100%;
  background: white;
  z-index: 1;
  left: 20%;
  opacity: 0.05;
}
/* line 194, ../sass/style.scss */
.lines-wrapper span.horizontal:nth-child(2) {
  left: 40%;
}
/* line 198, ../sass/style.scss */
.lines-wrapper span.horizontal:nth-child(3) {
  left: 60%;
}
/* line 202, ../sass/style.scss */
.lines-wrapper span.horizontal:nth-child(4) {
  left: 80%;
}

/* line 208, ../sass/style.scss */
.slider-content {
  position: relative;
  max-width: 112rem;
  min-width: 480px;
  background: #fff;
  margin: 0 auto;
}
/* line 215, ../sass/style.scss */
.slider-content .slider-container {
  position: relative;
  height: 70rem;
}
/* line 220, ../sass/style.scss */
.slider-content .slide-content {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 226, ../sass/style.scss */
.slider-content .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-size: auto 125%;
  background-position: 0px -45px;
  background-repeat: no-repeat;
  opacity: 0;
}
/* line 13, ../sass/style.scss */
.slider-content .slide:after {
  content: "";
  display: table;
  clear: both;
}
/* line 238, ../sass/style.scss */
.slider-content .slide.active {
  opacity: 1;
  z-index: 50;
}
/* line 243, ../sass/style.scss */
.slider-content .slide.next {
  opacity: 1;
}
/* line 247, ../sass/style.scss */
.slider-content .slide.red {
  background-color: #EE4654;
}
/* line 252, ../sass/style.scss */
.slider-content .slide.blue {
  background-color: #6989E0;
}
/* line 257, ../sass/style.scss */
.slider-content .slide.green {
  background-color: #6cd779;
}
/* line 262, ../sass/style.scss */
.slider-content .slide.grey {
  background-color: #bcbcbc;
}
/* line 268, ../sass/style.scss */
.slider-content .canvas {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 275, ../sass/style.scss */
.slider-content .fake-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-size: auto 125%;
  background-position: 0px -45px;
  background-repeat: no-repeat;
}
/* line 284, ../sass/style.scss */
.slider-content .fake-bg.red {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/karlie-kloss.png);
  background-color: #EE4654;
}
/* line 289, ../sass/style.scss */
.slider-content .fake-bg.blue {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/aline-weber_copy.png);
  background-color: #6989E0;
}
/* line 294, ../sass/style.scss */
.slider-content .fake-bg.green {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/miranda-kerr.png);
  background-color: #6cd779;
}
/* line 299, ../sass/style.scss */
.slider-content .fake-bg.grey {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/kate-moss.png);
  background-color: #bcbcbc;
}
/* line 307, ../sass/style.scss */
.slider-content .image-mask {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 125%;
  overflow: hidden;
}
/* line 315, ../sass/style.scss */
.slider-content .image-mask img {
  position: absolute;
  display: block;
  width: auto;
  height: 100%;
  top: -45px;
}
/* line 324, ../sass/style.scss */
.slider-content .mask-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0rem;
  left: -5rem;
}
/* line 332, ../sass/style.scss */
.slider-content .mask-animation img.clip {
  width: 100%;
  clip-path: url(#svgPathBig);
}
/* line 339, ../sass/style.scss */
.slider-content .image-caption {
  position: absolute;
  color: white;
  transform: rotate(-90deg);
  top: 20rem;
  left: 12rem;
  font-size: 1.3rem;
  z-index: 10;
  clip: rect(0rem, 21rem, 12rem, 0px);
  display: inline-block;
  transition: all 0.3s ease;
}
/* line 351, ../sass/style.scss */
.slider-content .image-caption.mask-up {
  clip: rect(0rem, 0rem, 12rem, 0px);
}
/* line 355, ../sass/style.scss */
.slider-content .image-caption.mask-down {
  clip: rect(0rem, 21rem, 2rem, 200px);
}
/* line 359, ../sass/style.scss */
.slider-content .image-caption span {
  display: inline-block;
  vertical-align: top;
}
/* line 364, ../sass/style.scss */
.slider-content .image-caption .line {
  position: relative;
  background: white;
  height: 1px;
  width: 5rem;
  top: 1rem;
}
/* line 376, ../sass/style.scss */
.slider-content .title-background {
  position: absolute;
  font-size: 25rem;
  font-family: Narziss;
  top: 8rem;
  left: 4rem;
  color: black;
  opacity: 0.03;
  text-align: right;
}
/* line 386, ../sass/style.scss */
.slider-content .title-background span.mask-wrap {
  display: block;
  height: 25rem;
  position: relative;
}
/* line 390, ../sass/style.scss */
.slider-content .title-background span.mask-wrap span.mask {
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0rem, 120rem, 25rem, 0px);
  transition: all 0.3s ease-in;
}
/* line 398, ../sass/style.scss */
.slider-content .title-background span.mask-wrap:last-child span.mask {
  transition-delay: 0.15s;
}
/* line 401, ../sass/style.scss */
.slider-content .title-background span.mask-wrap.mask-up span.mask {
  clip: rect(0rem, 120rem, 0rem, 0px);
}
/* line 404, ../sass/style.scss */
.slider-content .title-background span.mask-wrap.mask-down span.mask {
  clip: rect(25rem, 44rem, 25rem, 0px);
}
/* line 410, ../sass/style.scss */
.slider-content .title-wrapper {
  position: relative;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: right;
  margin-top: 25rem;
  z-index: 5;
}
/* line 420, ../sass/style.scss */
.slider-content .title-wrapper h1 {
  font-size: 12rem;
  margin: 0;
  line-height: 1;
  margin-bottom: 1rem;
  font-weight: 900;
  text-align: right;
  font-family: Narziss-medium;
  margin-left: 5rem;
}
/* line 430, ../sass/style.scss */
.slider-content .title-wrapper h1 span.mask-wrap {
  display: block;
  height: 12rem;
  position: relative;
}
/* line 434, ../sass/style.scss */
.slider-content .title-wrapper h1 span.mask-wrap span.mask {
  position: absolute;
  top: 0;
  right: 0;
  clip: rect(0rem, 48rem, 12rem, 0px);
  transition: all 0.3s ease-in;
}
/* line 442, ../sass/style.scss */
.slider-content .title-wrapper h1 span.mask-wrap:last-child span.mask {
  transition-delay: 0.15s;
}
/* line 446, ../sass/style.scss */
.slider-content .title-wrapper h1 span.mask-wrap.mask-up span.mask {
  clip: rect(0rem, 44rem, 0rem, 0px);
}
/* line 449, ../sass/style.scss */
.slider-content .title-wrapper h1 span.mask-wrap.mask-down span.mask {
  clip: rect(12rem, 44rem, 12rem, 0px);
}
/* line 455, ../sass/style.scss */
.slider-content .title-wrapper span.gallery {
  position: relative;
  text-align: right;
  padding: 0 2rem;
  cursor: pointer;
  margin-right: 5rem;
}
/* line 462, ../sass/style.scss */
.slider-content .title-wrapper span.gallery::before {
  content: "";
  position: absolute;
  left: -2rem;
  display: block;
  width: 1px;
  height: 2.5rem;
  background: white;
  top: -0.5rem;
  opacity: 0.9;
}
/* line 474, ../sass/style.scss */
.slider-content .title-wrapper span.gallery::after {
  content: "";
  position: absolute;
  right: -2rem;
  display: block;
  width: 1px;
  height: 2.5rem;
  background: white;
  top: -0.5rem;
  opacity: 0.9;
}

/* line 490, ../sass/style.scss */
.control-nav {
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}
/* line 497, ../sass/style.scss */
.control-nav ul {
  position: relative;
  list-style: none;
  padding: 0;
}
/* line 503, ../sass/style.scss */
.control-nav li {
  position: relative;
  margin: 0.2rem 0;
  opacity: 0.5;
  border-radius: 3rem;
  color: white;
  font-size: 1rem;
}
/* line 511, ../sass/style.scss */
.control-nav li.active {
  opacity: 1;
}
/* line 514, ../sass/style.scss */
.control-nav li.active .line {
  transform: translateX(-1.2rem);
  width: 1.8rem;
}
/* line 518, ../sass/style.scss */
.control-nav li.active .number {
  opacity: 1;
}
/* line 524, ../sass/style.scss */
.control-nav .line {
  width: 1.5rem;
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  background: white;
  left: -1rem;
  transition: all 0.3s ease;
}
/* line 537, ../sass/style.scss */
.control-nav .number {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* line 544, ../sass/style.scss */
.social-icons {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  z-index: 999;
}
/* line 550, ../sass/style.scss */
.social-icons ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 556, ../sass/style.scss */
.social-icons ul li {
  position: relative;
  display: block;
  padding: 0.3rem 0;
}
/* line 562, ../sass/style.scss */
.social-icons ul a {
  display: block;
  width: 2rem;
  height: 2rem;
}
/* line 567, ../sass/style.scss */
.social-icons ul a svg {
  fill: white;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 577, ../sass/style.scss */
.footer-wrapper {
  position: absolute;
  color: white;
  bottom: 0rem;
  right: 0rem;
  width: 60%;
  height: 6rem;
  z-index: 999;
}
/* line 586, ../sass/style.scss */
.footer-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  height: 100%;
}
/* line 13, ../sass/style.scss */
.footer-wrapper ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 597, ../sass/style.scss */
.footer-wrapper li {
  position: relative;
  float: left;
  width: 25%;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/* line 609, ../sass/style.scss */
.footer-wrapper li:last-child {
  border: none;
}
/* line 613, ../sass/style.scss */
.footer-wrapper li.active .hover-box {
  opacity: 1;
  transform: scale(1.15);
}
/* line 618, ../sass/style.scss */
.footer-wrapper li .hover-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #473243;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in;
  z-index: 1;
}
/* line 630, ../sass/style.scss */
.footer-wrapper li .box-content {
  position: relative;
  z-index: 5;
}
