html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  background: #1d1d1d;
  overflow: hidden;
}
.container {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}
[class^="layer"] {
  height: 100%;
  width: 100%;
  position: absolute;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.31, 0.08, 0.63, 0.15);
  animation-name: zoom;
  opacity: 0;
}
[class^="star"] {
  width: 2px;
  height: 2px;
  background: #fffcd9;
  position: absolute;
  border-radius: 50%;
}
.layer-5 {
  animation-delay: 4s;
}
.layer-5 .star-15 {
  top: 87%;
  left: 74%;
}
.layer-5 .star-14 {
  top: 40%;
  left: 49%;
}
.layer-5 .star-13 {
  top: 29%;
  left: 19%;
}
.layer-5 .star-12 {
  top: 65%;
  left: 88%;
}
.layer-5 .star-11 {
  top: 77%;
  left: 45%;
}
.layer-5 .star-10 {
  top: 49%;
  left: 36%;
}
.layer-5 .star-9 {
  top: 60%;
  left: 90%;
}
.layer-5 .star-8 {
  top: 42%;
  left: 68%;
}
.layer-5 .star-7 {
  top: 78%;
  left: 30%;
}
.layer-5 .star-6 {
  top: 5%;
  left: 35%;
}
.layer-5 .star-5 {
  top: 52%;
  left: 79%;
}
.layer-5 .star-4 {
  top: 11%;
  left: 21%;
}
.layer-5 .star-3 {
  top: 47%;
  left: 42%;
}
.layer-5 .star-2 {
  top: 56%;
  left: 10%;
}
.layer-5 .star-1 {
  top: 36%;
  left: 38%;
}
.layer-4 {
  animation-delay: 3s;
}
.layer-4 .star-15 {
  top: 49%;
  left: 14%;
}
.layer-4 .star-14 {
  top: 84%;
  left: 50%;
}
.layer-4 .star-13 {
  top: 10%;
  left: 56%;
}
.layer-4 .star-12 {
  top: 68%;
  left: 27%;
}
.layer-4 .star-11 {
  top: 68%;
  left: 50%;
}
.layer-4 .star-10 {
  top: 41%;
  left: 46%;
}
.layer-4 .star-9 {
  top: 24%;
  left: 58%;
}
.layer-4 .star-8 {
  top: 66%;
  left: 31%;
}
.layer-4 .star-7 {
  top: 63%;
  left: 37%;
}
.layer-4 .star-6 {
  top: 50%;
  left: 90%;
}
.layer-4 .star-5 {
  top: 37%;
  left: 19%;
}
.layer-4 .star-4 {
  top: 21%;
  left: 90%;
}
.layer-4 .star-3 {
  top: 7%;
  left: 32%;
}
.layer-4 .star-2 {
  top: 15%;
  left: 29%;
}
.layer-4 .star-1 {
  top: 90%;
  left: 46%;
}
.layer-3 {
  animation-delay: 2s;
}
.layer-3 .star-15 {
  top: 59%;
  left: 87%;
}
.layer-3 .star-14 {
  top: 43%;
  left: 34%;
}
.layer-3 .star-13 {
  top: 53%;
  left: 40%;
}
.layer-3 .star-12 {
  top: 53%;
  left: 39%;
}
.layer-3 .star-11 {
  top: 94%;
  left: 63%;
}
.layer-3 .star-10 {
  top: 56%;
  left: 18%;
}
.layer-3 .star-9 {
  top: 24%;
  left: 39%;
}
.layer-3 .star-8 {
  top: 28%;
  left: 18%;
}
.layer-3 .star-7 {
  top: 83%;
  left: 23%;
}
.layer-3 .star-6 {
  top: 92%;
  left: 10%;
}
.layer-3 .star-5 {
  top: 88%;
  left: 30%;
}
.layer-3 .star-4 {
  top: 59%;
  left: 8%;
}
.layer-3 .star-3 {
  top: 71%;
  left: 61%;
}
.layer-3 .star-2 {
  top: 91%;
  left: 72%;
}
.layer-3 .star-1 {
  top: 8%;
  left: 7%;
}
.layer-2 {
  animation-delay: 1s;
}
.layer-2 .star-15 {
  top: 13%;
  left: 73%;
}
.layer-2 .star-14 {
  top: 25%;
  left: 67%;
}
.layer-2 .star-13 {
  top: 22%;
  left: 15%;
}
.layer-2 .star-12 {
  top: 50%;
  left: 92%;
}
.layer-2 .star-11 {
  top: 12%;
  left: 17%;
}
.layer-2 .star-10 {
  top: 31%;
  left: 6%;
}
.layer-2 .star-9 {
  top: 45%;
  left: 89%;
}
.layer-2 .star-8 {
  top: 8%;
  left: 6%;
}
.layer-2 .star-7 {
  top: 25%;
  left: 79%;
}
.layer-2 .star-6 {
  top: 30%;
  left: 93%;
}
.layer-2 .star-5 {
  top: 68%;
  left: 68%;
}
.layer-2 .star-4 {
  top: 22%;
  left: 21%;
}
.layer-2 .star-3 {
  top: 40%;
  left: 60%;
}
.layer-2 .star-2 {
  top: 65%;
  left: 85%;
}
.layer-2 .star-1 {
  top: 74%;
  left: 26%;
}
.layer-1 {
  animation-delay: 0s;
}
.layer-1 .star-15 {
  top: 38%;
  left: 85%;
}
.layer-1 .star-14 {
  top: 86%;
  left: 19%;
}
.layer-1 .star-13 {
  top: 11%;
  left: 30%;
}
.layer-1 .star-12 {
  top: 18%;
  left: 45%;
}
.layer-1 .star-11 {
  top: 35%;
  left: 50%;
}
.layer-1 .star-10 {
  top: 37%;
  left: 72%;
}
.layer-1 .star-9 {
  top: 82%;
  left: 29%;
}
.layer-1 .star-8 {
  top: 45%;
  left: 94%;
}
.layer-1 .star-7 {
  top: 40%;
  left: 87%;
}
.layer-1 .star-6 {
  top: 14%;
  left: 13%;
}
.layer-1 .star-5 {
  top: 84%;
  left: 65%;
}
.layer-1 .star-4 {
  top: 40%;
  left: 90%;
}
.layer-1 .star-3 {
  top: 49%;
  left: 11%;
}
.layer-1 .star-2 {
  top: 58%;
  left: 16%;
}
.layer-1 .star-1 {
  top: 55%;
  left: 67%;
}
@keyframes zoom {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
