.container
	input(type="checkbox" id="toggle")
	.menu__toggle
		label(for="toggle" class="menu__button")
			.menu__bar
			.menu__bar
			.menu__bar
	.menu
		.menu__item
			i.fa.fa-share
		.menu__item
			i.fa.fa-star
		.menu__item
			i.fa.fa-pen-square