.container
  .loading-overlay
  %button hide
  .loading-anim
    .border.out
    .border.in
    .border.mid
    .circle
      %span.dot
      %span.dot
      %span.dot
      %span.dot
      %span.dot
      %span.dot
      %span.dot
      %span.dot
      %span.dot
      %span.dot
      %span.dot
      %span.dot