.poster
  .dash
  .pie
  .horiz
  .slant
  p.date 5<sup>th</sup> June 2010
  p.address 
    span.left 5008 Telegraph Avenue 
    span.right Oakland California 94609
  p.la-pizza.serif 
    span Fate la pizza,
    span non la guerra!
  p.salvando.serif
    span Salvando
    span il mondo
    span una
    span sfornata
    span alla volta
  p.pizzaiolo Pizzaiolo
  p.five
    span 5
    span o
  p.aniversario Aniversario
  p.telefono Telefono 510-652-4888
  .cutter
    .blade
    .handle

p.original <a href="http://i.minus.com/ibsvBTIhMRjEwd.jpg">Check out a picture of the original poster.</a>

<script src="//use.edgefonts.net/stint-ultra-condensed;open-sans-condensed;open-sans.js"></script>
