/**
 * Text-underline-animation
 */
a {
  font-size: 500%;
  text-decoration: none;
  background: linear-gradient(currentColor, currentColor) bottom/0 0.1em no-repeat;
  transition: 1s background-size;
}

a:hover {
  background-size: 100% .1em;
}

/* Variations */
a.left {
  background-position: left bottom;
}

a.right {
  background-position: right bottom;
}
