<button type="button" {{bind-attr class=":btn :btn-block :btn-sm isDirty:btn-warning:btn-default"}} {{action
    "acceptChanges"}}>
    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
</button>
<br>
