@import "compass"

html , body , canvas
  overflow: hidden
  cursor: pointer
  position: absolute
  height: 100%
  width: 100%
  left: 0
  top: 0
  
canvas.is-touch
  @include scale( 0.5 )
  @include transform-origin( top , left )
  width: 200%
  height: 200%