$font-about-description: 18px "Roboto-Light", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;
$font-github-title: 20px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;
$font-github-links: 16px "Roboto-Light", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;

.about-section {

    .code-icon {
        float: left;
        margin-top: -2%;
        margin-left: -2%;
        width: 180px;
        height: 180px;
    }

    .poli-logo {
        float: left;
        width: 120px;
        height: 120px;
        margin-top: 10px;
    }

    .about-text {
        float: left;
        margin-top: 2%;
        margin-left: 2%;
        font: $font-about-description;
    }

    .about-links {
        font: $font-github-title;
        margin-top: 5%;

        .github-title {
            margin-left: 7%;
        }

        .github-icon {
            width: 40px;
            height: 40px;
            margin-right: 0.5%;
        }

        a {
            text-decoration: none;
            font: $font-github-links;
        }

        .github-links {
            margin-left: -9%;
            float: left;
        }
    }
}
