/* line 1, ../sass/style.scss */
body {
  background-color: #EEE;
  color: #222;
  font-size: 16px;
  padding: 2em;
  line-height: 2em;
  min-width: 320px;
  max-width: 1080px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}

/* line 13, ../sass/style.scss */
.center {
  text-align: center;
}

/* line 17, ../sass/style.scss */
#header {
  font-size: 3em;
  line-height: 2em;
}

/* line 22, ../sass/style.scss */
#search-form {
  background-color: #EEE;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #222;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1em;
}

/* line 34, ../sass/style.scss */
#suggestion {
  float: left;
}

/* line 38, ../sass/style.scss */
#hits {
  float: right;
}

/* line 42, ../sass/style.scss */
#pagination {
  text-align: center;
  margin-top: 1em;
}

/* line 47, ../sass/style.scss */
#pagination > a {
  text-decoration: none;
}

/* line 51, ../sass/style.scss */
#pagination > span {
  font-weight: 700;
}

/* line 55, ../sass/style.scss */
#pagination > span, #pagination > a {
  padding: 0.5em;
  font-size: 1.5em;
}

/* line 60, ../sass/style.scss */
a {
  color: #222;
}

/* line 64, ../sass/style.scss */
button {
  color: #222;
  margin: 0 0.5em;
  border: 1px solid #222;
  background-color: #EEE;
  border-radius: 4px;
  padding: 0.75em;
  font-size: 1em;
}

/* line 74, ../sass/style.scss */
.result {
  margin-top: 2em;
}

/* line 78, ../sass/style.scss */
.result > a, h1 {
  font-size: 1.5em;
}

/* line 82, ../sass/style.scss */
.result > p {
  padding-left: 2em;
}

@media screen and (max-width: 480px) {
  /* line 87, ../sass/style.scss */
  body {
    padding: 1em;
  }

  /* line 90, ../sass/style.scss */
  #header {
    font-size: 2em;
  }
}
