.demo-1 {
    --color-text: #fff;
    --color-bg: #1f1b1b;
    --color-link: #464646;
    --color-link-hover: #d8d1d1;
    --color-info: #464646;
}

.bike-1 {
    --animation-color-1:#fec282;
    --animation-color-2:#3f3fe4;
    --animation-color-3:#222240;
    --animation-color-4:#f97281;
    --animation-color-5:#a29999;
    --animation-color-6:#d8d3d1;
    --animation-color-7:#dbb3c1;
    --animation-color-8:#7fb198;
}
.bike-2 {
    --animation-color-1:#586BA4;
    --animation-color-2:#F5DD90;
    --animation-color-3:#F68E5F;
    --animation-color-4:#414361;
    --animation-color-5:#F76C5E;
    --animation-color-6:#303147;
    --animation-color-7:#CB594D;
    --animation-color-8:#CB594D;
}
.bike-3 {
    --animation-color-1:#495887;
    --animation-color-2:#36213E;
    --animation-color-3:#554971;
    --animation-color-4:#8AC6D0;
    --animation-color-5:#B8F3FF;
    --animation-color-6:#B79D94;
    --animation-color-7:#969696;
    --animation-color-8:#F2CCC3;
}
.bike-4 {
    --animation-color-1:#A9FDAC;
    --animation-color-2:#44CF6C;
    --animation-color-3:#32A287;
    --animation-color-4:#6C464E;
    --animation-color-5:#546D64;
    --animation-color-6:#3C896D;
    --animation-color-7:#FFBC42;
    --animation-color-8:#FFBC42;
}
.bike-5 {
    --animation-color-1:#D81159;
    --animation-color-2:#8F2D56;
    --animation-color-3:#476C9B;
    --animation-color-4:#ADD9F4;
    --animation-color-5:#984447;
    --animation-color-6:#0496FF;
    --animation-color-7:#006BA6;
    --animation-color-8:#EABA6B;
}