/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 512px;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.main-background-image {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  background-position: 50% 0%;
  transform: translate3d(0, 0, 0);
  padding: 15px;
}
.main-background-image:before {
  transform: translate3d(0, 0, 0);
  content: '';
  position: fixed;
  width: 150%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0.6;
  overflow-x: hidden;
}

.white-text {
color:white
}

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
