###> symfony/framework-bundle ###
.env
/public/bundles/
/var/*
!/var/placeholder.jpg
!/var/demo-data/
!/var/demo-data/sample-images/
/vendor/
###< symfony/framework-bundle ###

/.idea
/.DS_Store
/**/.DS_Store

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
