// Chrome for best experience, if you're on FF... sorry - correct sequence is at the bottom of the JS file.

// Inspired by a scene from Call of Duty: Advanced warefare this is my attemp to recreate a login panel the player uses towards the middle of the game. The entire design concept as well as behaviors come from the game, I just tried to implement them via the web. Give it a couple of tries and when you've had enough.

block body
  main.page
    section.login
      div.welcome
        h2= 'hope you enjoyed that'
        p= 'I took some shortcuts with error cases, transition events, and backbone in general  but overall it should work well enough as a password form. Hope you liked it and a thanks to the baller designers at Sledgehammer for coming up with this terminal concept. Hit that button if you wanna play with the terminal some more. Cheers =)'
        button(class="btn--rst" terminal-reset)= 'reset'