@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

*, *:after, *:before { 
   -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
   outline: none;
}

body {
	background: #212129;
   font-family: 'Raleway', sans-serif;
}

a {
	color: #999;
	text-decoration: none;
}

a:hover, a:focus {
	color: #7D87AE;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.content {
	text-align: center;
}

.modal-overlay {
/* 	background: rgba(39, 179, 96, 1); */
   background: rgba(33, 33, 61, .5);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
}

.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	pointer-events: none;
}

.modal {
	background: #fff;
	color: #666871;
	text-align: center;
	width: 400px;
	max-width: 90%;
	height: 250px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	margin: auto;
	padding: 40px;
	pointer-events: auto;
	font-weight: bold;
	visibility: hidden;
}

@media screen and (max-width: 40em) {
	.modal { height: 350px; }
}

.modal h2 {
	font-size: 2.25em;
	margin: 0.5em 0 0.25em;
	color: #BDBFCA;
}

.open-modal {
   text-align: center;
	border: none;
	margin: 10em 0 7em 0;
	background: #27ae60;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	padding: 1em 2em;
	font-weight: bold;
	border-radius: 40px;
   cursor: pointer;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}

.open-modal:hover {
	background: #2ecc71;
}

.close-modal {
	color: #aaa;
	background: none;
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	width: 20px;
	height: 20px;
	line-height: 15px;
	font-size: 22px;
	font-weight: bold;
   cursor: pointer;
}

.close-modal:hover {
	color: #666871;
}