body {
  background: #34495e;
}
.container {
  position: relative;
  width: 120px;
  margin: 150px auto 100px auto;
}
#tea {
  width: 50px;
  height: 70px;
  background: #eee8e8;
  position: absolute;
  bottom: 130%;
  left: 25px;
  border-radius: 0.7em/0.3em;
  background: -webkit-linear-gradient(bottom, #9a7272 0%, #9a7272 33%, #eee8e8 90%);
  background: -moz-linear-gradient(bottom, #9a7272 0%, #9a7272 33%, #eee8e8 90%);
  background: -o-linear-gradient(bottom, #9a7272 0%, #9a7272 33%, #eee8e8 90%);
  background: -ms-linear-gradient(bottom, #9a7272 0%, #9a7272 33%, #eee8e8 90%);
  background: linear-gradient(to top, #9a7272 0%, #9a7272 33%, #eee8e8 90%);
  -webkit-animation: teaBagging 5s 1s infinite;
  -moz-animation: teaBagging 5s 1s infinite;
  -o-animation: teaBagging 5s 1s infinite;
  -ms-animation: teaBagging 5s 1s infinite;
  animation: teaBagging 5s 1s infinite;
}
#tea::before {
  content: "";
  position: absolute;
  bottom: 60px;
  left: 15px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #cbc6c6;
  -webkit-box-shadow: 1px 1px 0 #b1b1b1;
  box-shadow: 1px 1px 0 #b1b1b1;
}
#tea::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 999px;
  bottom: 110%;
  left: 24px;
  background: #000;
}
#cup {
  width: 100px;
  height: 150px;
  background: rgba(255,255,255,0.7);
  border-radius: 0 0 0.3em 0.3em;
  position: relative;
}
#cup::before {
  content: "";
  position: absolute;
  display: block;
  top: 30%;
  left: 50%;
  width: 75px;
  height: 70px;
  border-radius: 50%;
  -webkit-box-shadow: 15px 0 0 rgba(255,255,255,0.7);
  box-shadow: 15px 0 0 rgba(255,255,255,0.7);
}
#cup::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 2px;
  bottom: 2px;
  right: 2px;
  display: block;
  border-radius: 0 0 0.3em 0.3em;
  background: #f5f5f5;
  -webkit-animation: changeColor 5s 1s infinite;
  -moz-animation: changeColor 5s 1s infinite;
  -o-animation: changeColor 5s 1s infinite;
  -ms-animation: changeColor 5s 1s infinite;
  animation: changeColor 5s 1s infinite;
}
p {
  font: 300% Arial, sans-serif;
  text-align: center;
  color: rgba(255,255,255,0.4);
  text-transform: uppercase;
}
@-moz-keyframes changeColor {
  from {
    background: #f5f5f5;
  }
  50% {
    background: #f5f5f5;
  }
  80% {
    background: #cb6262;
  }
  95% {
    background: #cb6262;
  }
  to {
    background: #f5f5f5;
  }
}
@-webkit-keyframes changeColor {
  from {
    background: #f5f5f5;
  }
  50% {
    background: #f5f5f5;
  }
  80% {
    background: #cb6262;
  }
  95% {
    background: #cb6262;
  }
  to {
    background: #f5f5f5;
  }
}
@-o-keyframes changeColor {
  from {
    background: #f5f5f5;
  }
  50% {
    background: #f5f5f5;
  }
  80% {
    background: #cb6262;
  }
  95% {
    background: #cb6262;
  }
  to {
    background: #f5f5f5;
  }
}
@keyframes changeColor {
  from {
    background: #f5f5f5;
  }
  50% {
    background: #f5f5f5;
  }
  80% {
    background: #cb6262;
  }
  95% {
    background: #cb6262;
  }
  to {
    background: #f5f5f5;
  }
}
@-moz-keyframes teaBagging {
  from {
    bottom: 130%;
  }
  30% {
    bottom: 100%;
  }
  80% {
    bottom: 20%;
  }
  to {
    bottom: 130%;
  }
}
@-webkit-keyframes teaBagging {
  from {
    bottom: 130%;
  }
  30% {
    bottom: 100%;
  }
  80% {
    bottom: 20%;
  }
  to {
    bottom: 130%;
  }
}
@-o-keyframes teaBagging {
  from {
    bottom: 130%;
  }
  30% {
    bottom: 100%;
  }
  80% {
    bottom: 20%;
  }
  to {
    bottom: 130%;
  }
}
@keyframes teaBagging {
  from {
    bottom: 130%;
  }
  30% {
    bottom: 100%;
  }
  80% {
    bottom: 20%;
  }
  to {
    bottom: 130%;
  }
}
