.card--trending {
  .trending {
    &__icon {
      margin: 6px 16px 0 0;
    }

    &__info {
      flex-grow: 1;
    }

    &__item {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 0 0 12px;

      &:last-child {
        margin: 0;
      }
    }

    &__title {
      color: #2C2C2C;
      font-size: 0.875rem;

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    &__likes {
      color: #A5A7AA;
      font-size: 0.75rem;
    }
  }
}