$counter = 10;
$ring-r = 7rem;
$num-w = 3rem;
$num-h = $ring-r * 2.01 * tan(180deg / $counter);

.ring-wrap {
  position: relative;
  flex: 1;
  margin: auto;
  transform-style: preserve-3d;
  transition: .3s;

  &.is-active ~ .ring-wrap {
    flex: 0;
    width: 0;
    max-width: 0;
    opacity: 0;
    transform: translateZ(-20em);

    .ring {
      transform: rotateX(360deg) !important;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 'calc(50% - %s)' % ($num-w / 2);
    left: @top;
    z-index: -1;
    width: $num-w;
    height: @width;
    border-radius: 50%;
    transform-style: preserve-3d;
    transform: rotateX(-90deg) translateZ($ring-r * 1.15 + 1rem);
    background-color: currentColor;
    opacity: .5;
    box-shadow: 0 0 1.5em 1em, 0 0 7em 1em;
  }
}

.ring {
  position: relative;
  width: $num-w;
  height: $num-h;
  margin: 0 auto;
  padding: 0;
  transform-style: preserve-3d;
  counter-reset: ring-num -1;
  text-align: center;
  list-style-type: none;
  transition: transform 1s;

  &:nth-of-type(1) {
    font-weight: 900;
  }

  &:hover {
    transform: rotateX(360deg) !important;
  }
}

.ring__num {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: $num-h;
  background-color: #ccc;
  box-shadow: inset 0 0 30px 5px rgba(#000, .2);

  &::before {
    content: counter(ring-num);
    counter-increment: ring-num;
  }

  for $i in (1..$counter) {
    &:nth-of-type({$i}) {
      transform: rotateX(360deg * ($i - 1) / $counter) translateZ($ring-r);
    }
  }
}

.precision {
  &::before {
    content: 'precision: ' attr(data-precision);
    display: block;
  }
}

.ring-box {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  perspective: 40em;
}

.box {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
}

/// reset

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  background: linear-gradient(#ccc 30%, #fff) no-repeat fixed;
  color: #333;
}

a {
  color: inherit;
}

.intro {
  width: 90%;
  max-width: 30rem;
  padding-bottom: 1rem;
  margin: 0 auto 1em;
  padding-top: .5em;
  font-size: calc(1rem + 2vmin);
  text-transform: capitalize;
  border-bottom: 1px dashed rgba(#000, .3);
  text-align: center;

  small {
    display: block;
    opacity: .5;
    font-style: italic;
    text-transform: none;
  }
}

.info {
  margin: 0;
  padding: 1em;
  font-size: .9em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  opacity: .5;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
