html {
  height: 100%;
}

body {
  background: fixed linear-gradient(#165, darken(#0099ff, 10%));
  color: white;
  text-align: center;
  height: 100%;
}

a {
  color: #33ff99;
}

canvas {
  border: 1px solid #ccc;
  background: rgba(0,0,0,0.3);
  cursor: crosshair;
}

p.blurb {
  width: 500px;
  margin: 1em auto;
  font-size: 0.8em;
}