html{
  box-sizing: border-box; /* make html use box-model of type border-box */
}

*{
  box-sizing: inherit; /* make each element use box-model of type border-box */
}

body{
  margin: 0; /* Reset body margin to 0 */
  background-color: #639; /* Background color */
  display: flex; /* force body to use flexbox model */
  justify-content: center; /* align items horizontally centered in body */
  align-items: center; /* align items vertically centered in body */
  height: 100vh; /* force body to use full viewport height available */
}

.custom__btn{
  display: flex; /* force element to use flexbox model */
  width: 100px; /* force element to have a total width of 100px */
  padding: 0 10px; /* space inside the border from left & right of 10px and top & bottom of 0. */
  justify-content: center; /* align text horizontally centered */
  align-items: center; /* align text vertically centered */
  height: 35px; /* height of element */
  margin: 0 10px; /* space outside of border from top & bottom of 0 and left & right of 10px */
  background-color: #639; /* background color of button */
  border: 1px solid #fff; /* border color, style and width of button */
  text-decoration: none; /* remove underline from <a> tag */
  text-transform: uppercase; /* convert text in uppercase */
  color: #fff; /* color of text */
  font-family: 'Montserrat'; /* font family used in button */
  font-size: 14px; /* font size of button */
  cursor: pointer; /* convert default cursor type into pointer(hand type symbol) */
  box-shadow: none; /* removes shadow from buttons */
  outline: 0; /* reset outline to 0 */
  border-radius: 2px; /* curve of border in button */
  transition: all .25s; /* delay of state changing (normal state to hover state) */
}

/* button hover state */
.custom__btn:hover{
  background-color: #fff;
  color: #639;
}