.container-fluid
	.chart.col-md-4.col-sm-4.col-xs-12
		.chart-inner.stat-1
			.header
				.tagline
					.velocity
						i.icon.icon-arrow-up-right2
					| page views
				.count 5,923
			canvas(height="100")#lineChart_1
	.chart.col-md-4.col-sm-4.hidden-xs
		.chart-inner.stat-2
			.header
				.tagline
					.velocity
						i.icon.icon-arrow-up-right2
					| unique visitors
				.count 1,277
			canvas(height="100")#lineChart_2
	.chart.col-md-4.col-sm-4.hidden-xs
		.chart-inner.stat-3
			.header
				.tagline
					.velocity
						i.icon.icon-arrow-down-right2
					| active users
				.count 814
			canvas(height="100")#lineChart_3