h1.intro dailyUI - 02
  small PreOrder‬

.order-box
  .order-info
    h2.order-title I am Taiwanese
    .order-subtitle I stand for 
      .ib Taiwan's Independence.
    .order-icons
      .icon
      .icon
      .icon
      .icon
    a.order-button(href="###") stand out
  .order-img
  
blockquote.info
  | inspired from <a href="https://www.facebook.com/groups/895693593842577/permalink/941966625881940/?comment_id=945056122239657">day075 PreOrder</a> by <a href="https://www.facebook.com/wesleyweazin">Wesley Hwang</a>