*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.stage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.stage {
  position: relative;
  background-image: linear-gradient(-35deg, #111, #000);
}