// Fonts
$body-font: "Lato";
$header-font: "Arvo";

// Font Weights
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$ultra: 800;

// Colors
$black: (100: #000000, 80: rgba(0, 0, 0, 0.8), 60: rgba(0, 0, 0, 0.6), 40: rgba(0, 0, 0, 0.4), 20: rgba(0, 0, 0, 0.2), 10: rgba(0, 0, 0, 0.1));

$white: (100: #FFFFFF, 95: rgba(255, 255, 255, 0.95), 80: rgba(255, 255, 255, 0.8), 60: rgba(255, 255, 255, 0.6), 40: rgba(255, 255, 255, 0.4), 10: rgba(255, 255, 255, 0.1));

$colors: (primary: #337AB7, success: #5CB85C, info: #5CB85C, warning: #5CB85C, danger: #5CB85C);

// Theme Colors
$accent: #3498DB;

// Base Setting
$base-background: #F4F4F4;
$base-color: map-get($black, 60);
$base-font-family: $body-font, sans-serif;
$base-font-size: 14px;
$base-font-weight: $regular;
$base-line-height: 1.8em;

// Layout Settings
$max-width: 1280px;
$columns: 12;
$gutters: 20px;