/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/
/*------------------------------------*\
    COLORS
\*------------------------------------*/
/*------------------------------------*\
    SITE-HEADER
\*------------------------------------*/
.site-header {
  max-width: 1024px;
  height: 270px;
  font-size: 1.125rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.site-header__wrapper {
  background-color: #282F35;
}
.site-header__bar {
  background-color: #F96B69;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.25);
  padding-left: 0.625rem;
  margin-top: 1.625rem;
}
.site-header__nav-link {
  color: #fff;
  text-decoration: none;
  line-height: 2.438rem;
  display: inline-block;
  margin: 0 0.5rem;
  position: relative;
  z-index: 2;
  transform: translateZ(0);
}
.site-header__nav-item {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0 0.625rem;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}
.slider-item {
  background-color: #CE5856;
  border-radius: 3px;
  width: 200px;
  height: 2.438rem;
  margin-top: 0.5rem;
  margin-left: -1rem;
  pointer-events: none;
  position: absolute;
  left: 1.125rem;
  top: 0;
  transition: 0.33s transform cubic-bezier(0.01, 0.23, 0.38, 1.33);
  transform-origin: 0 0;
  z-index: 1;
}
.slider-item.is-animated {
  opacity: 0;
  transition: 0.33s opacity ease-in-out;
}
.site-header__nav-link:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
  left: 0;
  width: 100%;
  padding: 0 0.125rem;
  border-radius: 3px;
  background-color: #CE5856;
  transition: 0.2s opacity ease-in-out;
  opacity: 0;
}
.site-header__nav-link.is-active:before {
  opacity: 1;
}
.site-header__search {
  display: none;
}
.site-header__search-btn {
  display: none;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: white;
  background-color: #1D242B;
}

h1 {
  margin-top: 0;
  font-weight: 200;
  font-size: 24px;
  text-transform: uppercase;
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 36px;
    color: #748084;
  }
}
.desc {
  color: #748084;
}
