%h1 iOS checkbox toogle
%h2 A full css iPhone style checkbox button
%hr

.checkbox-ios
  %input#checkboxQuestion.checkbox-ios__toggle{:name => "checkboxQuestion", :type => "checkbox"}
    %label.checkbox-ios__label{:for => "checkboxQuestion"}
      %span.checkbox-ios__value.left No
      %span.checkbox-ios__value.right Yes
      
.checkbox-ios.checkbox-ios--blue
  %input#checkboxQuestionBlue.checkbox-ios__toggle{:name => "checkboxQuestionBlue", :type => "checkbox"}
    %label.checkbox-ios__label{:for => "checkboxQuestionBlue"}
      %span.checkbox-ios__value.left No
      %span.checkbox-ios__value.right Yes
      
.checkbox-ios.checkbox-ios--alert
  %input#checkboxQuestionAlert.checkbox-ios__toggle{:name => "checkboxQuestionAlert", :type => "checkbox"}
    %label.checkbox-ios__label{:for => "checkboxQuestionAlert"}
      %span.checkbox-ios__value.left No
      %span.checkbox-ios__value.right Yes
      
      
%hr

%footer
  %a.link{:href => "http://timguignard.com", :target => "_blank"} timguignard.com

       