body {
  margin:0;padding:0;outline:0;list-style:none;
  background: #111;
}
#sun {
    position: absolute;
    width: 20em; height: 20em;
    top: -10em; left: -10em;
    background: #ffffff;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-animation: flow 10s infinite alternate;
    -moz-animation: flow 10s infinite alternate;
    animation: flow 10s infinite alternate;
    z-index: 1000;
}

@-webkit-keyframes flow {
    0% {
    box-shadow: 0 0 50px #fffc01,
                0 0 150px #ffad01;
        
    }
    25% {
    box-shadow: 0 0 50px #fffc01,
                0 0 200px #ffad01;
        
    }
    50% {
    box-shadow: 0 0 100px #fffc01,
                0 0 300px #ffad01;
        
    }
    75% {
    box-shadow: 0 0 50px #fffc01,
                0 0 200px #ffad01;
        
    }
    100% {
    box-shadow: 0 0 20px #fffc01,
                0 0 150px #ffad01;
    }
}

@-moz-keyframes flow {
    0% {
    box-shadow: 0 0 50px #fffc01,
                0 0 150px #ffad01;
        
    }
    25% {
    box-shadow: 0 0 50px #fffc01,
                0 0 200px #ffad01;
        
    }
    50% {
    box-shadow: 0 0 100px #fffc01,
                0 0 300px #ffad01;
        
    }
    75% {
    box-shadow: 0 0 50px #fffc01,
                0 0 200px #ffad01;
        
    }
    100% {
    box-shadow: 0 0 0px #fffc01,
                0 0 150px #ffad01;
    }
}

@-o-keyframes flow {
    0% {
    box-shadow: 0 0 50px #fffc01,
                0 0 150px #ffad01;
        
    }
    25% {
    box-shadow: 0 0 50px #fffc01,
                0 0 200px #ffad01;
        
    }
    50% {
    box-shadow: 0 0 100px #fffc01,
                0 0 300px #ffad01;
        
    }
    75% {
    box-shadow: 0 0 50px #fffc01,
                0 0 200px #ffad01;
        
    }
    100% {
    box-shadow: 0 0 0px #fffc01,
                0 0 150px #ffad01;
    }
}

@keyframes flow {
    0% {
    box-shadow: 0 0 50px #fffc01,
                0 0 150px #ffad01;
        
    }
    25% {
    box-shadow: 0 0 50px #fffc01,
                0 0 200px #ffad01;
        
    }
    50% {
    box-shadow: 0 0 100px #fffc01,
                0 0 300px #ffad01;
        
    }
    75% {
    box-shadow: 0 0 50px #fffc01,
                0 0 200px #ffad01;
        
    }
    100% {
    box-shadow: 0 0 0px #fffc01,
                0 0 150px #ffad01;
    }
}