/* line 1, ../sass/style.scss */
html {
  height: 100%;
  overflow: hidden;
  font-weight: 100;
}

/* line 6, ../sass/style.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 35em;
  letter-spacing: -0.03em;
  height: 100%;
}

/* line 12, ../sass/style.scss */
svg {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 17, ../sass/style.scss */
svg text {
  text-anchor: middle;
}

/* line 20, ../sass/style.scss */
svg mask rect {
  fill: rgba(255, 255, 255, 0.9);
}

/* line 23, ../sass/style.scss */
svg > rect {
  fill: white;
  -webkit-mask: url(#mask);
  mask: url(#mask);
}

/* line 28, ../sass/style.scss */
video {
  position: absolute;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  /* line 41, ../sass/style.scss */
  html {
    font-size: 0.5em;
    font-weight: 400;
  }
}
