@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,900");
/* line 9, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

/* line 18, ../sass/style.scss */
body {
  background: #34495e;
}

/* line 22, ../sass/style.scss */
.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem auto;
  color: #fff;
}
/* line 29, ../sass/style.scss */
.app-wrapper p {
  font-size: 2em;
}
/* line 32, ../sass/style.scss */
.app-wrapper input {
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 1em;
  border-radius: 2px;
}
/* line 38, ../sass/style.scss */
.app-wrapper button {
  background: #3498db;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 2px;
}
/* line 48, ../sass/style.scss */
.app-wrapper button:hover {
  background: #2980b9;
}
