/* General page styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
body {
  margin: 50px;
  font-size: 16x;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  line-height: 1.2em;
}

h1 {
  font-size: 2.2em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.2em;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 1em;
}

/* General icon styles */
[class^='icon'] {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin: 0 0.5em;
  border-radius: 50%;
  background: #89729e;
  position: relative;
  transition: background 0.1s;
  /* 	border: 10px solid #c97272;
  	box-sizing: border-box; */
}

[class^='icon']:hover {
  background: #5b3256;
}

[class^='icon']:before,
[class^='icon']:after {
  content: '';
  display: inline-block;
  border-color: #fff;
  background-color: #fff;
  position: absolute;
  transform-origin: 50% 50%;
}

/* Plus */
.icon-plus:before {
  width: 0.7em;
  height: 1px;
  top: 50%;
  left: 50%;
  margin-left: -0.35em;
}

.icon-plus:after {
  width: 1px;
  height: 0.7em;
  top: 50%;
  margin-top: -0.35em;
  left: 50%;
}

/* Minus */
.icon-minus:before {
  width: 0.7em;
  border-style: solid;
  border-width: 0 0 1px 0;
  top: 50%;
  left: 50%;
  margin-left: -0.35em;
}

/* Close */
.icon-close:before {
  width: 0.8em;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.icon-close:after {
  width: 1px;
  height: 0.8em;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

/* Check */
.icon-check:before {
  width: 0.6em;
  height: 0.3em;
  background-color: transparent;
  border-width: 0 0 1px 1px;
  border-style: solid;
  top: 50%;
  margin-top: -0.1em;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

/* Up */
.icon-up:before {
  width: 1px;
  height: 0.7em;
  top: 50%;
  margin-top: -0.35em;
  left: 50%;
}

.icon-up:after {
  width: 0.3em;
  height: 0.3em;
  background: transparent;
  border-style: solid;
  border-width: 1px 1px 0 0;
  top: 50%;
  margin-top: -0.35em;
  left: 50%;
  margin-left: -0.15em;
  transform: rotate(-45deg);
}

/* Search */
.icon-search:before {
  width: 0.3em;
  height: 0.3em;
  background: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  top: 50%;
  margin-top: -0.35em;
  left: 50%;
  margin-left: -0.3em;
}

.icon-search:after {
  width: 1px;
  height: 0.3em;
  top: 50%;
  left: 50%;
  margin-left: 2px;
  transform: rotate(-45deg);
}
