.cube
  .face.top
    .row
      .square(data-index="2")
      .square(data-index="1")
    .row
      .square(data-index="3")
    .row
      .square(data-index="4")
      
  .face.left
    .row
      .square(data-index="5")
    .row
      .square(data-index="6")
    .row
      .square(data-index="7")
      .square(data-index="8")
      .square(data-index="9")
  .face.right
    .row
      .square.padding
      .square(data-index="15")
      .square(data-index="14")
    .row
      .square.padding
      .square.padding
      .square(data-index="13")
    .row
      .square(data-index="10")
      .square(data-index="11")
      .square(data-index="12")
  
  .cube.mini
    .face.front
    .face.back
    .face.top
    .face.right
    .face.bottom
    .face.left