.Switcher {
  position: relative;
  display: flex;
  border-radius: 5em;
  box-shadow: inset 0 0 0 1px;
  overflow: hidden;
  cursor: pointer;
  animation: r-n .5s;
  user-select: none;
  font-size: 3vmin;
  will-change: transform;
}
.Switcher__checkbox:checked + .Switcher {
  animation-name: r-p;
}
@keyframes r-p {
  50% {
    transform: rotateY(45deg);
  }
}
@keyframes r-n {
  50% {
    transform: rotateY(-45deg);
  }
}
.Switcher::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200%;
  border-radius: inherit;
  background-color: #fff;
  transform: translateX(-75%);
  transition: transform .5s ease-in-out;
}
.Switcher__checkbox:checked + .Switcher::before {
  transform: translateX(25%);
}

.Switcher__trigger {
  position: relative;
  z-index: 1;
  padding: 1em 5em;
}
.Switcher__trigger::after {
  content: attr(data-value);
}
.Switcher__trigger::before {
  --i: var(--x);
  content: attr(data-value);
  position: absolute;
  color: #00a8ff;
  transition: opacity .3s;
  opacity: calc((var(--i) + 1) / 2);
  transition-delay: calc(.3s * (var(--i) - 1) / -2);
}
.Switcher__checkbox:checked + .Switcher .Switcher__trigger::before {
  --i: calc(var(--x) * -1);
}
.Switcher__trigger:nth-of-type(1)::before {
  --x: 1;
}
.Switcher__trigger:nth-of-type(2)::before {
  --x: -1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.box {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  perspective: 750px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  line-height: 1.4;
  color: #fff;
  background-color: #00a8ff;
}

.intro {
  width: 90%;
  max-width: 50rem;
  padding-top: .5em;
  padding-bottom: 1rem;
  margin: 0 auto 1em;
  font-size: calc(1rem + 2vmin);
  text-transform: capitalize;
  text-align: center;
  font-family: serif;
}
.intro small {
  display: block;
  text-align: right;
  opacity: .5;
  font-style: italic;
  text-transform: none;
  border-top: 1px dashed rgba(255, 255, 255, 0.75);
}

.info {
  margin: 0;
  padding: 1em;
  font-size: .9em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  opacity: .75;
}
.info a {
  color: inherit;
}
