*{ backface-visibility: hidden;}

.section{
	height: 100vh;
	&:nth-child(odd){ background: #eadaea;}
	&:nth-child(even){ background: #daeada;}
}

.pin{
	position: fixed;
	top: 30%;
	left: 30%;
	width: 40%;
	height: 40vh;
	box-sizing: border-box;
	padding: 2rem;
	background: white;
	box-shadow: 0 1rem 5rem -2rem rgba(black,0.5);
	transition: transform 100ms linear;
	p{
		font-size: 5vmin;
		font-family: "Helvetica", "Avenir Next", sans-serif;
		line-height: 1.25; 
		font-weight: 600;
		color: black;
		position: relative;
		top: 50%;
		transform: translatey(-50%);
	}
}