.window
  .toolbar
    ul.window-actions
      li.actions-item
      li.actions-item
      li.actions-item
    .search-box
      input(type="search" value="#Swedish" placeholder="Type to search")
      button.search-button 
        i.fa.fa-search
  
  .content
    .overlay
      .modal
        .modal-title New message
          span.modal-close
        .modal-body
          form.modal-form
            input(type="text", placeholder="To")
            input(type="text", placeholder="Subject")
            textarea(name="message", rows="5", placeholder="Your text")
            .modal-button
              button.send Send
    aside.sidebar
      nav
        button.compose 
          i.fa.fa-pencil
        ul.categories
          li
            .notification
              span 5
            i.fa.fa-inbox.is-active
          li
            i.fa.fa-star
          li
            i.fa.fa-send
          li
            i.fa.fa-trash
      ul.message-labels
        li.message-labels-item.yellow
        li.message-labels-item.blue
        li.message-labels-item.red
        li.message-labels-item.green
        
      .user-profile
        i.fa.fa-cog
        i.fa.fa-sign-out
        
    ul.inbox
      li.inbox-item
        .inbox-sender
          .sender-name 
            a(href="#") Jeremy Boateng 
          .sender-date
            i.sender-label.fa.fa-paperclip
            span Right now
        .inbox-title
          .message-labels-item.blue
          h4 What are you doing tomorrow?
        p.inbox-short Lörem ipsum dolör. Sit amet cönsectetur adipisicing elit sed dö eiusmod. Tempör incididunt ut laböre, et dölöre magnå. Aliquå såpien sollicitudin mi. Dapibus blåndit quäm. Erös risus ornåre leo årcu. 
        
      li.inbox-item
        .inbox-sender
          .sender-name 
            a(href="#") Jeremy Boateng 
          .sender-date
            i.sender-label.fa.fa-paperclip
            span Yesterday, 12:42pm
        .inbox-title
          .message-labels-item.yellow
          h4 What are you doing tomorrow?
        p.inbox-short Lörem ipsum dolör. Sit amet cönsectetur adipisicing elit sed dö eiusmod. Tempör incididunt ut laböre, et dölöre magnå. Aliquå såpien sollicitudin mi. Dapibus blåndit quäm. Erös risus ornåre leo årcu. 
        
      li.inbox-item
        .inbox-sender
          .sender-name 
            a(href="#") Marko Handanovic 
          .sender-date
            i.sender-label.fa.fa-paperclip
            span 2 days ago, 08:32am
        .inbox-title
          .message-labels-item.green
          h4 Fashion News
        p.inbox-short Cardigan before they sold out chartreuse fashion axe, 90's leggings mixtape stumptown waistcoat quinoa. Whatever bicycle rights pop-up keytar. Keytar fingerstache readymade four loko, fanny pack kickstarter.
        
      li.inbox-item.message-is-active
        .inbox-sender
          .sender-name 
            a(href="#") Zlatan Ibrahimovic 
          .sender-date
            i.sender-label.fa.fa-paperclip
            span A month ago, 01:02pm
        .inbox-title
          .message-labels-item.red
          h4 The challenge of learning Swedish
        p.inbox-short Most Swedes speak English – which certainly helps a first-time visitor in Stockholm. But it makes learning Swedish somewhat harder, according to former expat Charlotte West. 

    .message
      .message-info
        .message-from
          img(src="http://blog.sportafolio.com/wp-content/uploads/2015/08/zlatan.jpg", alt="img")
          .message-sender
            h5 Zlatan Ibrahimovic
            span To: <a href="#">destabiliseus@gmail.com</a>
        .message-tools
          i.fa.fa-reply
          i.fa.fa-star-o
          i.fa.fa-trash-o
        
      h2.message-title The challenge of learning Swedish
      p.message-body Most Swedes speak English – which certainly helps a first-time visitor in Stockholm. But it makes learning Swedish somewhat harder, according to former expat Charlotte West.
      
      img(src="http://blogs.haverford.edu/lund/files/2014/02/sweden-798-b74c07f139ac68786a085e2650fd9ad9.jpg", alt="img")
      
      h3 Newly arrived
      p.message-body I arrived in Sweden in August 2002 armed with Prisma’s Abridged English-Swedish and Swedish-English Dictionary and an eight-week intensive Swedish course from the University of California at Berkeley behind me. Four years later, the dog-eared dictionary had grammar notes scribbled in the margins and I had become a fluent Swedish speaker, more or less.
      
      h2 Swedish Word of the Day
      p.message-body A big part of the reason my spoken Swedish got good is that I quickly met Swedish friends who were willing to help me practise. One of our techniques was keeping track of our ‘Swedish Word of the Day’ on a list tacked to the kitchen cupboard.

      
  