/**
 * The problem with brightness()
 */
body {
  display: flex;
}

div {
  width: 150px;
  height: 150px;
  background: #264d73;
  color: white;
  padding: 25px;
}

div:nth-child(1) {
  filter: brightness(250%);
}

div:nth-child(3) {
  background: #b3cce6;
}
