html {
  text-align: center;
}

body {
  width: 950px;
  margin: 0 auto;
  font-family: trebuchet ms;
  text-align: left;
}

#myslide {
  width: 160px;
  overflow: hidden;
  position: relative;
  height: 170px;
  margin-bottom: 20px;
}

#myslide .cover {
  width: 480px;
  /*------- class mystuff width * number of mystuff divs (160 * 3 = 480)---------- */
  position: absolute;
  height: 160px;
}

#myslide .mystuff {
  width: 160px;
  float: left;
  padding: 20px 0;
}

.button1, .button2, .button3 {
  background: #999;
  padding: 6px;
  display: block;
  float: left;
  margin-right: 5px;
}

.active {
  background: #111;
  padding: 6px;
  display: block;
  float: left;
  outline: none;
}

.clear {
  clear: both;
}
