<div class="white lighten-2">
    <style> .mapContainer {height: 90%; width: 100%;}</style>
    <!--<div class="row">-->
        <!--<div class="col s12 center">-->
            <!--<h4 class="black-text">{{carData.imei}}</h4>-->
            <!--<p class="black-text">{{getCarAddress()}}</p>-->
        <!--</div>-->
    <!--</div>-->

    <div class='mapContainer' style='z-index: -1'>

        <leaflet width='100%' height='100%' markers='markers' center='ukCenter' defaults='defaults'></leaflet>
        <!--<div class="fixed-action-btn toolbar active" data-open="true"-->
        <!--style="text-align: center;-->
        <!--width: 100%; bottom: 0px; left: 0px; transition:-->
        <!--transform 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53), background-color 0s linear 0.2s; overflow:-->
        <!--hidden; background-color: rgb(0, 0, 0);-->
        <!--position:relative;">-->
        <!--<ul>-->
        <!--<li class="waves-effect waves-light"><a href="#!" style="opacity: 1;"><i class="material-icons">insert_chart</i></a></li>-->
        <!--<li class="waves-effect waves-light"><a href="#!" style="opacity: 1;"><i class="material-icons">format_quote</i></a></li>-->
        <!--<li class="waves-effect waves-light"><a href="#!" style="opacity: 1;"><i class="material-icons">publish</i></a></li>-->
        <!--<li class="waves-effect waves-light"><a href="#!" style="opacity: 1;"><i class="material-icons">attach_file</i></a></li>-->
        <!--</ul>-->
        <!--</div>-->
    </div>
    <!--<div class="row">-->
        <!--<div class="col s12 center">-->
            <!--<p class="black-text">Last Seen: {{carData.timestamp | date:'HH:mm dd-MM-yyyy'}}</p>-->
        <!--</div>-->
    <!--</div>-->
</div>