<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="featurecontent(header1, body1, header2, body2)">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h4 class="blue-text" th:text="${header1}"></h4>
                    <div th:text="${body1}"></div>
                    <h4 class="blue-text" th:text="${header2}"></h4>
                    <div th:text="${body2}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>