<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="hero(title, title2, blurb, buy, more, image)">
    <div id="index-banner" class="parallax-container valign-wrapper" style="height:512px">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row valign">
                    <div class="col s12 m8 l8">
                        <div class="col l8 m12">
                            <div class="left">
                                <h4 class="blue-text" th:text="${title}">Placeholder</h4>
                                <h4 class="black-text" th:text="${title2}">Placeholder</h4>
                                <p class="black-text flow-text" th:text="${blurb}">Placeholder</p>
                                <div class="col s6 m6 l6 left">
                                    <a href="/checkout" id="buy-button"
                                       class="btn-large waves-effect waves-light blue lighten-1 black-text"
                                       th:text="${buy}">Placeholder</a>
                                </div>

                                <div class="col s6 m6 l6 left">
                                    <a href="#whoweare" id="more-button"
                                       class="btn-large waves-effect waves-light white black-text lighten-1"
                                       th:text="${more}">Placeholder</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/><br/>

            </div>
        </div>
        <div class="parallax"><img src="" th:src="${image}" alt="A cool motorbike"/></div>
    </div>
</div>
</html>