<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="howitworks">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center"><h3 class="blue-text darken-3">How it Works</h3></div>
                <div class="col s12 m4">
                    <div th:include="fragments/infocard :: infocard(#{howitworks.title1},#{howitworks.body1}, 'fa-user', 'lighten-2')"
                         th:remove="tag"></div>
                </div>
                <div class="col s12 m4">
                    <div th:include="fragments/infocard :: infocard(#{howitworks.title2},#{howitworks.body3}, 'fa-cogs', 'lighten-3')"
                         th:remove="tag"></div>
                </div>
                <div class="col s12 m4">
                    <div th:include="fragments/infocard :: infocard(#{howitworks.title3},#{howitworks.body3}, 'fa-motorcycle', 'lighten-2')"
                         th:remove="tag"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>