<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="pricing">
    <a name="pricing" id="pricing">
        <h1 style="padding-top: 40px; margin-top: -40px;"></h1>
        <h1 style="padding-top: 40px; margin-top: -40px;"></h1>
    </a>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="center blue-text " th:text="#{pricing.header}">Placeholder</h3>
                <div class="card pricing" style="margin-bottom:0px">
                    <div class="center">
                        <div class="plan-title waves-effect waves-block waves-light blue lighten-2 z-depth-5">
                            <h5 class="black-text">
                                <span class="plan" th:text="#{pricing.plan1.heading}">Placeholder</span>
                            </h5>
                        </div>

                        <div class="price waves-effect waves-block waves-light blue lighten-3">
                            <h4 class="black-text">
                                <span class="currency" th:text="#{pricing.plan1.currency}">£</span>
                                <span class="amount" th:text="#{pricing.plan1.amount}">9.99</span>
                                <span class="period" th:text="#{pricing.plan1.period}">/mo</span>
                            </h4>
                            <div class="show-on-small hide-on-med-and-up">
                                <a id="start-now-premium"
                                   class="btn waves-effect waves-block waves-light black-text blue z-depth-5"
                                   href="/checkout?plan=annual2"
                                   th:text="#{pricing.plan2.button.text}">Placeholder</a>
                            </div>
                        </div>

                        <div class="show-on-small hide-on-med-and-up">
                            <div class="plan-title waves-effect waves-block waves-light blue lighten-2 z-depth-5">
                                <h5 class="black-text">
                                    <span class="plan" th:text="#{pricing.plan2.heading}">Placeholder</span>
                                </h5>

                            </div>

                            <div class="price waves-effect waves-block waves-light blue lighten-3">
                                <h4 class="black-text">
                                    <span class="currency" th:text="#{pricing.plan2.currency}">£</span>
                                    <span class="amount" th:text="#{pricing.plan2.amount}">9.99</span>
                                    <span class="period" th:text="#{pricing.plan2.period}">/mo</span>
                                </h4>
                                <a id="start-now-premium"
                                   class="btn waves-effect waves-block waves-light black-text blue z-depth-5"
                                   href="/checkout?plan=annual2"
                                   th:text="#{pricing.plan2.button.text}">Placeholder</a>
                            </div>


                            <div class="plan-title waves-effect waves-block waves-light blue lighten-2 z-depth-5">
                                <h5 class="black-text">
                                    <span class="plan" th:text="#{pricing.plan3.heading}">Placeholder</span>
                                </h5>
                            </div>

                            <div class="price waves-effect waves-block waves-light blue lighten-3">
                                <h4 class="black-text">
                                    <span class="currency" th:text="#{pricing.plan3.currency}">£</span>
                                    <span class="amount" th:text="#{pricing.plan3.amount}">9.99</span>
                                    <span class="period" th:text="#{pricing.plan3.period}">/mo</span>
                                </h4>
                                <a id="start-now-premium"
                                   class="btn waves-effect waves-block waves-light black-text blue z-depth-5"
                                   href="/checkout?plan=annual2"
                                   th:text="#{pricing.plan2.button.text}">Placeholder</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="hide-on-small-only">
                <div class="col m6 ">
                    <div class="center">
                        <div class="card pricing style-2 z-depth-5">
                            <div class="plan-title waves-effect waves-block waves-light blue lighten-2 z-depth-5">
                                <h5 class="black-text">
                                    <span class="plan" th:text="#{pricing.plan2.heading}">Placeholder</span>
                                </h5>
                            </div>
                            <div class="price waves-effect waves-block waves-light blue lighten-3">
                                <h4 class="black-text">
                                    <span class="currency" th:text="#{pricing.plan2.currency}">£</span>
                                    <span class="amount" th:text="#{pricing.plan2.amount}">9.99</span>
                                    <span class="period" th:text="#{pricing.plan2.period}">/mo</span>
                                </h4>
                            </div>

                            <div class="card-content">
                                <div class="plan-signup-btn">
                                    <a id="start-now-premium"
                                       class="btn waves-effect waves-block waves-light no-margin black-text blue z-depth-5"
                                       href="/checkout?plan=annual2"
                                       th:text="#{pricing.plan2.button.text}">Placeholder</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col m6">
                    <div class="center">
                        <div class="card pricing style-2 z-depth-5">
                            <div class="plan-title waves-effect waves-block waves-light blue lighten-2 z-depth-5">
                                <h5 class="black-text">
                                    <span class="plan" th:text="#{pricing.plan3.heading}">Placeholder</span>
                                </h5>
                            </div>
                            <div class="price waves-effect waves-block waves-light blue lighten-3">
                                <h4 class="black-text">
                                    <span class="currency" th:text="#{pricing.plan3.currency}">£</span>
                                    <span class="amount" th:text="#{pricing.plan3.amount}">9.99</span>
                                    <span class="period" th:text="#{pricing.plan3.period}">/mo</span>
                                </h4>
                            </div>

                            <div class="card-content">
                                <div class="plan-signup-btn">
                                    <a id="start-now-premium"
                                       class="btn waves-effect waves-block waves-light no-margin black-text blue z-depth-5"
                                       href="/checkout?plan=annual2"
                                       th:text="#{pricing.plan3.button.text}">Placeholder</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>