<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="usp">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h5 class="blue-text bold center" th:inline="text">
                        [[#{home.phrase1.highlight}]]
                        <span class="black-text" th:text="#{home.phrase1.text}">placeholder</span></h5>
                </div>
                <div class="col s12 m6 l6">
                    <h5 class="blue-text bold center" th:inline="text">
                        [[#{home.phrase2.highlight}]]
                        <span class="black-text" th:text="#{home.phrase2.text}">placeholder</span></h5>
                </div>
            </div>
        </div>
    </div>
</div>
</html>