/* line 35, ../sass/style.scss */
html,
body {
  width: 100%;
  min-height: 100%;
  height: 100%;
}

/* line 42, ../sass/style.scss */
html {
  overflow-x: hidden;
  font-size: 16px;
}

/* line 47, ../sass/style.scss */
body {
  font-family: 'Raleway', Arial, Verdana, sans-serif;
  background: #17bebb;
}

/* line 53, ../sass/style.scss */
h1,
h2,
h3 {
  font-weight: 700;
  margin-bottom: 1.618rem;
}

/* line 60, ../sass/style.scss */
h1 {
  font-size: 2.236rem;
}

/* line 64, ../sass/style.scss */
h2 {
  font-size: 1.618rem;
}

/* line 68, ../sass/style.scss */
h3 {
  font-size: 1rem;
}

/* line 72, ../sass/style.scss */
p {
  margin-bottom: 1.618rem;
}

/* line 77, ../sass/style.scss */
main {
  position: relative;
  padding: 2rem;
  min-height: 100%;
}

/* line 83, ../sass/style.scss */
section {
  position: relative;
}

/* line 87, ../sass/style.scss */
.content {
  padding: 1.5rem 2rem .15rem;
  background: #fff;
  border-radius: 2px;
  opacity: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s 0.25s cubic-bezier(0.4, 0, 1, 1);
}

/* line 98, ../sass/style.scss */
.menu-open,
.menu-close {
  display: block;
  font-size: 1.5rem;
  color: #212121;
  cursor: pointer;
}

/* line 106, ../sass/style.scss */
.menu-open {
  padding: 1rem;
  margin-top: -1rem;
  margin-right: 5rem;
  float: right;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}
/* line 118, ../sass/style.scss */
.menu-open:focus, .menu-open:hover, .menu-open.hover {
  color: #575757;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* line 127, ../sass/style.scss */
.menu-close {
  line-height: 29px;
  text-align: center;
}

/* line 132, ../sass/style.scss */
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 17.5rem;
  height: 100%;
  background: #212121;
  box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.16), -4px 0px 6px rgba(0, 0, 0, 0.23);
  transition: right 0.45s cubic-bezier(0.4, 0, 1, 1);
}

/* line 144, ../sass/style.scss */
.sidebar-hidden {
  right: -17.875rem;
}

/* line 148, ../sass/style.scss */
.nav-list,
.nav-media {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* line 155, ../sass/style.scss */
.nav-list li {
  border-bottom: 1px solid #424242;
}

/* line 159, ../sass/style.scss */
.nav-link,
.nav-media a {
  display: block;
  color: #fff;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}
/* line 166, ../sass/style.scss */
.nav-link:focus, .nav-link:hover, .nav-link:active,
.nav-media a:focus,
.nav-media a:hover,
.nav-media a:active {
  text-decoration: none;
  color: #2196f3;
}

/* line 174, ../sass/style.scss */
.nav-link {
  display: block;
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: 1.5rem;
  font-size: 1.2rem;
}
/* line 181, ../sass/style.scss */
.nav-link:focus, .nav-link:hover, .nav-link:active {
  background: #424242;
}

/* line 188, ../sass/style.scss */
.nav-media {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  font-size: 1.5rem;
}

/* line 197, ../sass/style.scss */
.nav-media li:nth-of-type(n+2) {
  margin-left: 1.5rem;
}
