:root {
  --rate: 19.9%;
  --function: ease-in-out;
  --slide-distortion-delay: 0s;
  --slide-distortion-time: 0.5s;
  --slide-reset-delay: 0.4s;
  --slide-reset-time: 0.5s;
  --slider-offset: 0%;
  --slider-time: 1s;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  padding: 0;
}

.slider {
  overflow: hidden;
}

.slider__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transform: translateX(var(--slider-offset));
  transition-property: transform;
  transition-duration: var(--slider-time);
  transition-timing-function: ease;
  will-change: transform;
}

.slider__item {
  flex: 1 0 100%;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: auto;
}


.slider__image {
  width: 100%;
  height: auto;
  transform: translateX(0);
  animation-delay: var(--slide-distortion-delay), var(--slide-reset-delay);
  animation-duration: var(--slide-distortion-time), var(--slide-reset-time);
  animation-fill-mode: forwards, forwards;
  animation-direction: normal, reverse;
}

.slider__image:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}

.slider__image:nth-child(1) {
  clip-path: inset(0 0 calc(var(--rate) * 4) 0);
}

.slider__image:nth-child(2) {
  clip-path: inset(calc(var(--rate) * 1) 0 calc(var(--rate) * 3) 0);
}

.slider__image:nth-child(3) {
  clip-path: inset(calc(var(--rate) * 2) 0 calc(var(--rate) * 2) 0);
}

.slider__image:nth-child(4) {
  clip-path: inset(calc(var(--rate) * 3) 0 calc(var(--rate) * 1) 0);
}

.slider__image:nth-child(5) {
  clip-path: inset(calc(var(--rate) * 4) 0 0 0);
}

// Animation
.slider__item--animating .slider__image:nth-child(1) {
  animation-name: animation-1, animation-1;
}

.slider__item--animating .slider__image:nth-child(2) {
  animation-name: animation-2, animation-2;
}

.slider__item--animating .slider__image:nth-child(3) {
  animation-name: animation-3, animation-3;
}

.slider__item--animating .slider__image:nth-child(4) {
  animation-name: animation-4, animation-4;
}

.slider__item--animating .slider__image:nth-child(5) {
  animation-name: animation-5, animation-5;
}

// Keyframes
@keyframes animation-1 {
  from {
    transform: translateX(0);
  }
  to {
    // transform: translateX(-50px);
    transform: translateX(-5vw);
  }
}

@keyframes animation-2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-3vw);
  }
}

@keyframes animation-3 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1vw);
  }
}

@keyframes animation-4 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(3vw);
  }
}

@keyframes animation-5 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1vw);
  }
}

@keyframes slide {
  to {
    transform: translateX(-100%);
  }
}
