mixin footer(type)
  if type === 1
    section.footer.footer--type-1
  else if type === 2
    section.footer.footer--type-2
  else if type === 3
    section.footer.footer--type-3
  else if type === 4
    section.footer.footer--type-4
  else if type === 5
    section.footer.footer--type-5
  else if type === 6
    section.footer.footer--type-6
  else if type === 7
    section.footer.footer--type-7
  else if type === 8
    section.footer.footer--type-8
  else if type === 9
    section.footer.footer--type-9
  else if type === 10
    section.footer.footer--type-10
  else if type === 11
    section.footer.footer--type-11
  else if type === 12
    section.footer.footer--type-12
  else if type === 13
    section.footer.footer--type-13
  else
    - console.log('Parameter cannot be blank. Please enter a value.')