mixin hero(type)
  if type === 1
    .hero.hero--type-1
  else if type === 2
    .hero.hero--type-2
  else if type === 3
    .hero.hero--type-3
  else if type === 4
    .hero.hero--type-4
  else if type === 5
    .hero.hero--type-5
  else if type === 6
    .hero.hero--type-6
  else if type === 7
    .hero.hero--type-7
  else if type === 8
    .hero.hero--type-8
  else if type === 9
    .hero.hero--type-9
  else if type === 10
    .hero.hero--type-10
  else if type === 11
    .hero.hero--type-11
  else if type === 12
    .hero.hero--type-12
  else if type === 13
    .hero.hero--type-13
  else if type === 14
    .hero.hero--type-14
  else if type === 15
    .hero.hero--type-15
  else
    - console.log('Parameter cannot be blank. Please enter a value.')