mixin navigation(type)
  if type === 1
    .navigation.navigation--type-1
  else if type === 2
    .navigation.navigation--type-2
  else if type === 3
    .navigation.navigation--type-3
  else
    - console.log('Parameter cannot be blank. Please enter a value.')