mixin portfolio(type)
  if type === 1
    section.portfolio.portfolio--type-1
  else if type === 2
    section.portfolio.portfolio--type-2
  else if type === 3
    section.portfolio.portfolio--type-3
  else if type === 4
    section.portfolio.portfolio--type-4
  else if type === 5
    section.portfolio.portfolio--type-5
  else if type === 6
    section.portfolio.portfolio--type-6
  else if type === 7
    section.portfolio.portfolio--type-7
  else if type === 8
    section.portfolio.portfolio--type-8
  else
    - console.log('Parameter cannot be blank. Please enter a value.')