mixin promo(type)
  if type === 1
    section.promo.promo--type-1
  else if type === 2
    section.promo.promo--type-2
  else if type === 3
    section.promo.promo--type-3
  else if type === 4
    section.promo.promo--type-4
  else if type === 5
    section.promo.promo--type-5
  else if type === 6
    section.promo.promo--type-6
  else if type === 7
    section.promo.promo--type-7
  else if type === 8
    section.promo.promo--type-8
  else if type === 9
    section.promo.promo--type-9
  else if type === 10
    section.promo.promo--type-10
  else
    - console.log('Parameter cannot be blank. Please enter a value.')