mixin team(type)
  if type === 1
    section.team.team--type-1
  else if type === 2
    section.team.team--type-2
  else if type === 3
    section.team.team--type-3
  else if type === 4
    section.team.team--type-4
  else if type === 5
    section.team.team--type-5
  else if type === 6
    section.team.team--type-6
  else if type === 7
    section.team.team--type-7
  else
    - console.log('Parameter cannot be blank. Please enter a value.')