mixin testimonials(type)
  if type === 1
    section.testimonials.testimonials--type-1
  else if type === 2
    section.testimonials.testimonials--type-2
  else if type === 3
    section.testimonials.testimonials--type-3
  else if type === 4
    section.testimonials.testimonials--type-4
  else if type === 5
    section.testimonials.testimonials--type-5
  else if type === 6
    section.testimonials.testimonials--type-6
  else if type === 7
    section.testimonials.testimonials--type-7
  else if type === 8
    section.testimonials.testimonials--type-8
  else if type === 9
    section.testimonials.testimonials--type-9
  else
    - console.log('Parameter cannot be blank. Please enter a value.')