body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #efe8dd;
	width: 640px;
	margin: 0 auto;
	padding: 2em 10px;
	box-sizing: border-box;
	
	@media (max-width: 650px) {
		width: 100%;
	}
}

blockquote {
	margin: 0 0 1.5em 0;
}

.c{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 10px;
	max-width: 640px;
	width: 100%;
	
	@media (max-width: 650px) {
		flex-direction: column;
	}
	
	input#control {
		border: 1px solid black;	
	}
	
	#output {
		flex: 1;
		text-align: center;
	}
}

svg {
	border: 1px solid black;
	border-radius: 2px;
	background: white;
	width: 100%;
	height: auto;
	margin-bottom: 3em;
	
	path#curve {
		fill: none;
		stroke: black;
		stroke-width: 10px;
	}
	
	path#indicator {
		fill: none;
		stroke: red;
		stroke-width: 2px;
		stroke-dasharray: 3;
	}	
}