.container
  .light-layer
    .text-container
      h1 Lorem ipsum
      p Velit atque dolorum inventore sequi velit id. Ut illo vel quisquam. Sunt quod in et saepe ipsum. Nostrum voluptate explicabo quo et voluptas. Officiis sed animi itaque quo praesentium in. Incidunt et mollitia dolorum adipisci iusto.
      p Consequatur in eum dicta sunt dolor corporis nihil. Sit eveniet sit quod soluta eum et voluptatem. Exercitationem quisquam necessitatibus delectus omnis.
      blockquote Incidunt et mollitia dolorum adipisci iusto.
      p Enim aspernatur pariatur odit accusamus delectus. Cumque nesciunt incidunt voluptatem qui assumenda ut. Expedita incidunt quisquam id. Sed recusandae et amet eos. Quibusdam et aut minima velit voluptate. Expedita rem adipisci ullam sit rerum est laudantium.
      p Asperiores modi sed quos autem est delectus. Aperiam consequatur adipisci est occaecati. Deserunt incidunt sed qui rerum necessitatibus. Quas laborum enim molestiae aut. Cum ex perferendis veritatis. Officiis est dolores saepe provident et.
      p Sit et odit eum. Qui reprehenderit temporibus iste dignissimos. Tempore quo alias maiores aut quae laborum.
  .dark-layer
    .text-container
    .cta
      .cta-cont 
        a(href="//sjoerdderoij.com/" target="_blank") More
          i.fa.fa-angle-right
          
        .social
          a(href="//facebook.com/sderoij1" target="_blank")
            i.fa.fa-facebook-square.fa-2x
          a(href="//instagram.com/sjoerdderoij" target="_blank")
            i.fa.fa-instagram.fa-2x
          a(href="//open.spotify.com/user/maderoij/playlist/3TiBkirNS2rQV8Yzf9QIRM" target="_blank")
            i.fa.fa-spotify.fa-2x
          a(href="//github.com/sderoij" target="_blank")
            i.fa.fa-github.fa-2x