{% extends "layout.html" %}
{% block page_title %}About content{% endblock %}

{% block content %}

<a href="{{ urlPrefix }}/document-tasks" class="govuk-c-back-link">Back</a>
<main role="main" class="govuk-o-main-wrapper">

  {% if data[prefix + 'show-errors'] and about_content_errors and about_content_errors.length > 0 %}
  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
        <h3 class="govuk-heading-m error-summary-heading" id="error-summary-heading-example-1">
          You need to complete the following sections before you can send to review:
        </h3>
        <ul class="error-summary-list">
          {% for error in about_content_errors %}
          <li><a href="{{ urlPrefix }}/{{ error.page }}#{{ error.field }}">{{ error.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

  <form action="{{ urlPrefix }}/document-tasks" method="post" class="form about" data-module="slug-from-title">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h1 class="form-title govuk-heading-xl govuk-!-mb-r9">
          About this content
        </h1>
      </div>
    </div>

    {% if data[prefix + 'format'] == 'Drug safety update' %}
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <label class="govuk-c-label" for="therapeutic-area">Therapeutic area</label>
        <input type="text" name="{{ prefix }}therapeutic-area" class="govuk-c-input govuk-!-mb-r0" id="therapeutic-area" value="{{data[prefix + 'therapeutic-area']}}">
        <div class="govuk-!-mt-r2 govuk-!-mb-r1">
          <a href="#" class="button button-link govuk-body">Add another therapeutic area</a>
        </div>
      </div>
    </div>
    {% endif %}

    {% if data[prefix + 'format'] == 'Medical safety alert' %}
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <label class="govuk-c-label" for="medical-specialism">Medical specialism</label>
        <input type="text" name="{{ prefix }}medical-specialism" class="govuk-c-input govuk-!-mb-r0" id="medical-specialism" value="{{data[prefix + 'medical-specialism']}}">
        <div class="govuk-!-mt-r2 govuk-!-mb-r1">
            <a href="#" class="button button-link govuk-body">Add another medical specialism</a>
        </div>


        <div style="margin-bottom: -20px">
        {{ govukDateInput({
          fieldset: {
            legendText: 'Issue date',
            legendHintText: 'For example, 31 3 2017'
          },
          id: 'issue-date',
          name: prefix + 'issue-date',
          items:[
            {
              name: 'day',
              value: data[prefix + 'issue-date-day']
            },
            {
              name: 'month',
              value: data[prefix + 'issue-date-month']
            },
            {
              name: 'year',
              value: data[prefix + 'issue-date-year']
            }
          ]
          })
        }}
        </div>
      </div>
    </div>
    {% endif %}

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        {% if not data[prefix + 'specialist'] %}<h2 class="govuk-heading-l">Monitoring</h2>{% endif %}
        <div class="govuk-c-radios">
          <fieldset class="govuk-c-fieldset">
            <legend class="govuk-c-fieldset__legend">
              Review reminder
            </legend>
            {% set fields = [
                {
                  name: 'In one month'
                },
                {
                  name: 'In 6 months'
                },
                {
                  name: 'In 11 months'
                },
                {
                  name: 'Other',
                  more: '<label class="govuk-c-label" for="review-frequency-other">Enter a date to get a reminder to review</label>
                  <span class="govuk-c-label__hint govuk-body">For example, 5 June 2019</span>'
                },
                {
                  name: 'I don’t need to review this document'
                }
              ]
            %}
            {% for field in fields %}
              <div class="govuk-c-radios__item" data-target="radio-part-{{ loop.index }}-extra">
                <input id="radio-part-{{ loop.index }}" type="radio" name="{{ prefix }}review-frequency" value="{{ field.name }}" class="govuk-c-radios__input" {{ checked(prefix + "review-frequency", field.name) }}>
                <label for="radio-part-{{ loop.index }}" class="govuk-c-label govuk-c-radios__label">
                  {{ field.name }}
                  {% if field.more %}
                  <div class="panel panel-border-wide js-hidden govuk-!-mt-r4" id="radio-part-{{ loop.index }}-extra">
                    {{ field.more | safe }}
                    {% if field.name == 'Other' %}
                      <input type="text" name="{{ prefix }}review-frequency-other" class="govuk-c-input govuk-!-width-one-half" id="review-frequency-other" value="{{ data[prefix + 'review-frequency-other']}}">
                    {% endif %}
                  </div>
                  {% endif %}
                </label>
              </div>
            {% endfor %}
          </fieldset>
        </div>
        <div class="govuk-!-mb-r6 is-input">
          <div class="govuk-c-radios">
            <div class="govuk-o-form-group">
              <fieldset class="govuk-c-fieldset">
                <legend class="govuk-c-fieldset__legend">
                  Expected traffic
                </legend>
                <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="expected-audience-1" name="{{ prefix }}expected-audience" type="radio" value="Immediate interest" {{ checked(prefix + "expected-audience", "Immediate interest") }}>
                <label class="govuk-c-label govuk-c-radios__label" for="expected-audience-1">
                  <span class="govuk-c-label--bold">Immediate interest</span>
                  <p class="govuk-body">You expect traffic to decline after a few days</p>
                </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="expected-audience-2" name="{{ prefix }}expected-audience" type="radio" value="Defined interest" {{ checked(prefix + "expected-audience", "Defined interest") }}>
                <label class="govuk-c-label govuk-c-radios__label" for="expected-audience-2">
                  <span class="govuk-c-label--bold">Defined interest</span>
                  <p class="govuk-body">You expect traffic to decline after a known period</p>
                </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="expected-audience-3" name="{{ prefix }}expected-audience" type="radio" value="Constant interest" {{ checked(prefix + "expected-audience", "Constant interest") }}>
                <label class="govuk-c-label govuk-c-radios__label" for="expected-audience-3">
                  <span class="govuk-c-label--bold">Constant interest</span>
                  <p class="govuk-body">You expect continuous traffic</p>
                </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="expected-audience-4" name="{{ prefix }}expected-audience" type="radio" value="Repeat interest" {{ checked(prefix + "expected-audience", "Repeat interest") }}>
                <label class="govuk-c-label govuk-c-radios__label" for="expected-audience-4">
                  <span class="govuk-c-label--bold">Repeat interest</span>
                  <p class="govuk-body">You expect traffic to rise for a regular event</p>
                </label>
              </div>
            </fieldset>
            </div>
          </div>

          {% if not data[prefix + 'specialist'] %}
            <label class="govuk-c-label" for="expert">Subject matter expert</label>
            <span class="govuk-c-label__hint">Policy person or team who must check the accuracy of this content</span>
            <input type="text" name="{{ prefix }}expert" class="govuk-c-input" id="expert" value="{{data[prefix + 'expert']}}">
          {% endif %}

          {% if prefix != 'draft-' %}
          <div class="govuk-c-radios {% if data[prefix + 'show-errors'] and field_errors['published-before'] %}govuk-o-form-group--error{% endif %}">
            <fieldset class="govuk-c-fieldset" id="published-before">
              <legend class="govuk-c-fieldset__legend">
                <h2 class="govuk-heading-s">Has this content been published before?</h2>
                {% if data[prefix + 'show-errors'] and field_errors['published-before'] %}<span class="govuk-c-error-message">{{ field_errors['published-before'] }}</span>{% endif %}
              </legend>
              {% set fields = [
                  {
                    name: 'No, this content is new'
                  },
                  {
                    name: 'Yes, it’s been published on another website',
                    more: '<label class="govuk-c-label" for="published-before-date">Enter its previous publication date</label>
                    <span class="govuk-c-label__hint govuk-body">For example, 5 June 2019</span>'
                  }
                ]
              %}
              {% for field in fields %}
                <div class="govuk-c-radios__item" data-target="before-part-{{ loop.index }}-extra">
                  <input id="before-part-{{ loop.index }}" type="radio" name="{{ prefix }}published-before" value="{{ field.name }}" class="govuk-c-radios__input" {{ checked("published-before", field.name) }}>
                  <label for="before-part-{{ loop.index }}" class="govuk-c-label govuk-c-radios__label">
                    {{ field.name }}
                    {% if field.more %}
                    <div class="panel panel-border-wide js-hidden govuk-!-mt-r4" id="before-part-{{ loop.index }}-extra">
                      {{ field.more | safe }}
                      {% if field.name == 'Yes, it’s been published on another website' %}
                        <input type="text" name="{{ prefix }}published-before-date" class="govuk-c-input govuk-!-width-one-half" id="published-before-date" value="{{ data[prefix + 'published-before-date']}}">
                      {% endif %}
                    </div>
                    {% endif %}
                  </label>
                </div>
              {% endfor %}
            </fieldset>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    {% if not data[prefix + 'specialist'] %}
    <div class="govuk-o-grid" id="tag-on-govuk">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h2 class="govuk-heading-l govuk-!-mt-r4">Tag on GOV.UK</h2>
        <p class="govuk-body">Tags help position this content in <a href="">GOV.UK</a>, they make it easier to find by relating it to existing content that is similar to it.</p>
      </div>
    </div>

    <div class="govuk-o-grid govuk-!-mb-r7" data-module="select-tags" data-prefix="{{ prefix }}">
      {% if data[prefix + 'tag-count'] %}
        {% set tag_count = (data[prefix + 'tag-count'] | int) %}
      {% else %}
        {% set tag_count = 0 %}
      {% endif %}
      <input type="hidden" name="{{ prefix }}tag-count" value="{{ tag_count }}" class="js-tag-count">
      <div class="govuk-o-grid__item govuk-o-grid__item--full">
        <div class="js-none-selected" {% if (tag_count > 0) %}style="display: none"{% endif %}>
          <h3 class="govuk-heading-s">Selected tags</h3>
          <p class="govuk-body empty govuk-!-mb-r6">You haven't selected any tags yet.</p>
        </div>
        <table class="govuk-c-table js-selected-tags-table" {% if (tag_count == 0) %}style="display: none"{% endif %}>
          <caption class="govuk-c-table__caption">Selected tags</caption>
          <tbody class="govuk-c-table__body">
            <tr class="govuk-c-table__row js-selected-tag-row" style="display: none">
              <td class="govuk-c-table__cell tag js-tag"></td>
              <td class="govuk-c-table__cell govuk-c-table__cell--numeric">
                <a href="#">View in GOV.UK</a>
                <input type="hidden" value="" name="{{ prefix }}selected-tag">
              </td>
              <td class="govuk-c-table__cell govuk-c-table__cell--numeric"><a href="" class="js-remove-tag">Remove tag</a></td>
            </tr>
            {% for i in range(0, tag_count) %}
              <tr class="govuk-c-table__row">
                <td class="govuk-c-table__cell tag">{{ data[prefix + 'selected-tag-' + (i + 1)] }}</td>
                <td class="govuk-c-table__cell govuk-c-table__cell--numeric">
                  <a href="#">View in GOV.UK</a>
                  <input type="hidden" value="{{ data[prefix + 'selected-tag-' + (i + 1)] }}" name="{{ prefix }}selected-tag-{{ (i + 1) }}">
                </td>
                <td class="govuk-c-table__cell govuk-c-table__cell--numeric"><a href="" class="js-remove-tag">Remove tag</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <table class="govuk-c-table js-suggested-tags-table">
          <caption class="govuk-c-table__caption">Suggested tags</caption>
          <tbody class="govuk-c-table__body">
            {% set suggested_tags = [
                {
                  name: 'Transport > Rail > HS2 > HS2 stakeholder and community engagement',
                  title_contains: 'hs2'
                },
                {
                  name: 'Transport > Rail > HS2 > HS2 phase one',
                  title_contains: 'hs2'
                },
                {
                  name: 'Transport > Driving and road transport > Autonomous road vehicles',
                  title_contains: 'automated'
                },
                {
                  name: 'Transport > Freight and cargo > Transport of dangerous goods > Safe transport of dangerous goods > Safe transport of dangerous goods by road',
                  title_contains: 'dangerous'
                },
                {
                  name: 'Transport > Freight and cargo > Transport of dangerous goods > Dangerous goods classification',
                  title_contains: 'dangerous'
                },
                {
                  name: 'Transport > Road infrastructure > Road improvement and investment',
                  title_contains: 'highways'
                },
                {
                  name: 'Transport > Road infrastructure > Road maintenance',
                  title_contains: 'highways'
                },
                {
                  name: 'Defence and armed forces > Support services for military and defence personnel and their families > Welfare and support',
                  title_contains: 'mental'
                },
                {
                  name: 'Government > Cyber security',
                  title_contains: 'cyber'
                },
                {
                  name: 'Defence and armed forces',
                  title_contains: 'cyber'
                },
                {
                  name: 'Work > Pensions and ageing society > Automatic enrolment in workplace pensions',
                  title_contains: 'enrolment'
                },
                {
                  name: 'Work > Working, jobs and pensions > Workplace and personal pensions',
                  title_contains: 'enrolment'
                },
                {
                  name: 'Government > Government funding programmes',
                  title_contains: 'employment'
                },
                {
                  name: 'Work > Work and disabled people',
                  title_contains: 'employment'
                }
              ]
            %}

            {% for tag in suggested_tags %}
              {% if tag.title_contains in (data[prefix + 'title'] | lower) %}
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell tag">{{ tag.name }}</td>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric"><a href="#">View in GOV.UK</a></td>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric"><a href="" class="js-select-tag">Select tag</a></td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <div class="{% if data[prefix + 'show-errors'] and field_errors['tag-on-govuk'] %}govuk-o-form-group--error{% endif %}">
          <label class="govuk-c-label" for="tag-search">Search for a tag</label>
          {% if data[prefix + 'show-errors'] and field_errors['tag-on-govuk'] %}<span class="govuk-c-error-message">{{ field_errors['tag-on-govuk'] }}</span>{% endif %}
          <select id="tag-search" name="{{ prefix }}tag-search">
            {% include "includes/topics-select-options.html" %}
          </select>
        </div>
      </div>
      <div class="govuk-o-grid__item govuk-o-grid__item--one-third {% if data[prefix + 'show-errors'] and field_errors['tag-on-govuk'] %}govuk-!-mt-r9{% else %}govuk-!-mt-r7{% endif %}">
        <a href="" class="inline button button-link govuk-body js-add-tag">Select tag</a>
      </div>
    </div>
    {% endif %}

    {% if not data[prefix + 'specialist'] %}
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <div class="govuk-!-mb-r6 is-input">
          <h2 class="govuk-heading-l">Associations</h2>

          <div class="{% if data[prefix + 'show-errors'] and field_errors['lead-organisation'] %}govuk-o-form-group--error{% endif %}">
            <label class="govuk-c-label" for="lead-organisation">Lead organisation</label>
            {% if data[prefix + 'show-errors'] and field_errors['lead-organisation'] %}<span class="govuk-c-error-message">{{ field_errors['lead-organisation'] }}</span>{% endif %}
            <select id="lead-organisation" name="{{ prefix }}lead-organisation">
              {% include "includes/organisation-select-options.html" %}
            </select>
          </div>
          <div class="govuk-!-mt-r2 govuk-!-mb-r1">
            <a href="#" class="button button-link govuk-body">Add another leading organisation</a>
          </div>

          <label class="govuk-c-label" for="supporting-organisation">Supporting organisation</label>
          <select id="supporting-organisation" name="{{ prefix }}supporting-organisation">
            {% include "includes/organisation-select-options.html" %}
          </select>
          <div class="govuk-!-mt-r2 govuk-!-mb-r1">
            <a href="#" class="button button-link govuk-body">Add another supporting organisation</a>
          </div>

          <label class="govuk-c-label" for="minister">Minister</label>
          <input type="text" name="{{ prefix }}minister" class="govuk-c-input" id="minister" value="{{data[prefix + 'minister']}}">

          <label class="govuk-c-label" for="topical-event">Topical events</label>
          <input type="text" name="{{ prefix }}topical-event" class="govuk-c-input" id="topical-event" value="{{data[prefix + 'topical-event']}}">

          <label class="govuk-c-label" for="world-locations">World locations</label>
          <input type="text" name="{{ prefix }}world-location" class="govuk-c-input" id="world-locations" value="{{data[prefix + 'world-location']}}">

        </div>
      </div>
    </div>
    {% endif %}
    <div class="govuk-!-mb-r6">
      <input type="submit" class="govuk-c-button" value="Save">
    </div>

    <div class="govuk-!-mb-r6">
      <a href="{{ urlPrefix }}/document-tasks" class="button button-link govuk-body">Discard changes</a>
    </div>
  </form>
</main>
{% endblock %}

{% block page_scripts %}
<script>
  $('#lead-organisation').val('{{ data[prefix + 'lead-organisation'] }}');
  $('#supporting-organisation').val('{{ data[prefix + 'supporting-organisation'] }}');

  govukGovernmentOrganisationsAutocomplete({
    selectElement: document.getElementById('lead-organisation'),
    showAllValues: true,
    autoselect: false,
    minLength: 2,
    defaultValue: '{{ data[prefix + 'lead-organisation'] }}'
  })

  govukGovernmentOrganisationsAutocomplete({
    selectElement: document.getElementById('supporting-organisation'),
    showAllValues: true,
    autoselect: false,
    minLength: 2,
    defaultValue: '{{ data[prefix + 'supporting-organisation'] }}'
  })

  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.getElementById('tag-search'),
    id: 'tag-search',
    showAllValues: true,
    minLength: 2,
    defaultValue: ''
  })
</script>
{% endblock %}
