{% extends "layout.html" %}
{% block page_title %}Attachments{% endblock %}

{% block content %}
<a href="{{ urlPrefix }}/document-tasks" class="govuk-c-back-link">Back</a>
<main role="main" class="govuk-o-main-wrapper">
  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      <h1 class="form-title govuk-heading-xl">
        <span class="govuk-caption-xl">{{ data['title'] }}</span>
        Attachments
      </h1>
    </div>
  </div>

  <a href="{{ urlPrefix }}/add-attachment" class="govuk-c-button">Add attachment</a>
</main>
{% endblock %}
