{% extends "layout.html" %}
{% block page_title %}Attachment added{% endblock %}

{% block content %}

<a href="{{ urlPrefix }}/document-tasks" class="govuk-c-back-link">Back</a>
<main role="main" class="govuk-o-main-wrapper">
  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      <h1 class="form-title govuk-heading-xl">
        You’ve added an attachment
      </h1>

      <p class="govuk-body">Now you can insert it in the body copy.</p>
      <a href="{{ urlPrefix }}/title-summary-body#body-label" class="govuk-c-button">Insert in the copy</a>
      <p class="govuk-body govuk-!-mb-r9">
        <a href="{{ urlPrefix }}/document-tasks">Go back to draft</a>
      </p>
    </div>
  </div>
</main>
{% endblock %}
