{% extends "layout.html" %}
{% block page_title %}Edit news article{% endblock %}

{% block content %}
<main role="main" class="govuk-o-main-wrapper">
  <form action="{{ urlPrefix }}/news-article-created" method="post" class="form">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h1 class="form-title heading-large">
          Edit news article
        </h1>
        <p class="govuk-body-l">
          Use this format for press releases, news stories and responses to media coverage including official statements. Do not use it for promoting the publication of other formats.
        </p>
      </div>
    </div>

    {% set editing = true %}
    {% include "includes/news-article-fields.html" %}
  </form>
</main>
{% endblock %}

{% block page_scripts %}
<script>
  govukGovernmentOrganisationsAutocomplete({
    selectElement: document.getElementById('government-organisations'),
    showAllValues: false,
    minLength: 2,
    defaultValue: ''
  })
</script>
{% endblock %}
