{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<main role="main" class="govuk-o-main-wrapper">
  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      <h2 class="govuk-heading-l">Examples</h2>
      <p class="govuk-body-l">A collection of prototypes based on existing Whitehall pages</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="/dashboard">Dashboard</a></li>
        <li><a class="govuk-link" href="/intent">News article workflow</a></li>
        <li><a class="govuk-link" href="/format">Format choice</a></li>
        <li><a class="govuk-link" href="/document-type">Format sub-type choice</a></li>
        <li><a class="govuk-link" href="/title-summary-body">Title, summary and body</a></li>
        <li><a class="govuk-link" href="/document-tasks">Content summary</a></li>
        <li><a class="govuk-link" href="/about-content">About the content (tagging)</a></li>
        <li><a class="govuk-link" href="/add-attachment">Add attachment</a></li>
        <li><a class="govuk-link" href="/attachment">Add file attachment</a></li>
        <li><a class="govuk-link" href="/documents">Documents</a></li>
      </ul>

      <h2 class="govuk-heading-l">Patterns</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="/patterns/flash-notices">Flash notices</a></li>
        <li><a class="govuk-link" href="/patterns/modals">Modals</a></li>
        <li><a class="govuk-link" href="/patterns/buttons">Buttons</a></li>
        <li><a class="govuk-link" href="/patterns/document-list">Document list</a></li>
        <li><a class="govuk-link" href="/patterns/organisation-autocomplete">Organisation autocomplete</a></li>
        <li><a class="govuk-link" href="/patterns/topics-autocomplete">Topics autocomplete</a></li>
        <li><a class="govuk-link" href="/patterns/markdown-editor">Markdown editor with syntax highlighting</a></li>
        <li><a class="govuk-link" href="/patterns/live-preview">Live preview of markdown</a></li>
        <li><a class="govuk-link" href="/patterns/content-checker">Content checker</a></li>
      </ul>

      <p class="govuk-body">
        <a href="/prototype-admin/clear-data">Clear all data</a>
      </p>

      <h2 class="govuk-heading-l">Design system</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://govuk-design-system-production.cloudapps.digital">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>
{% endblock %}
