{% extends "layout.html" %}
{% block page_title %}{{ data['title'] }}{% endblock %}

{% block content %}
<main role="main" class="govuk-o-main-wrapper">
  <div class="success-summary" role="alert" tabindex="-1">
    <p>
      Your draft has been saved
    </p>
  </div>

  <h1 class="form-title heading-large">
    <span class="govuk-caption-xl">{{ data['news-article-sub-type'] }}</span>
    {{ data['title'] }}
  </h1>

  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <p class="govuk-body-l">
          {{ data['summary'] }}
        </p>
        <hr />

        <pre class="markdown-body">{{data['body']}}</pre>

        <p class="add-top-margin">
          <a href="{{ urlPrefix }}/edit-news-article" class="govuk-c-button">Edit draft</a>
        </p>
    </div>
    <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
      <div>
        <h2 class="govuk-heading-m remove-top-margin">Workflow</h2>
        <ul class="list">
          <li><a href="#">Preview on website</a></li>
          <li><a href="#">Submit for review</a></li>
          <li><a href="#">Delete draft</a></li>
          <li><a href="#">Schedule publication</a></li>
          <li><a href="#">Request fact check</a></li>
          <li><a href="#">Force publish</a></li>
        </ul>

        <h2 class="govuk-heading-m remove-top-margin">Edit</h2>
        <ul class="list">
          <li><a href="#">Attachments</a></li>
          <li><a href="#">Images</a></li>
          <li><a href="#">Translations</a></li>
          <li><a href="#">User need</a></li>
        </ul>

        <h2 class="govuk-heading-m remove-top-margin">History</h2>
        <ul class="list">
          <li><a href="#">History and notes</a></li>
        </ul>
      </div>
    </div>
  </div>
</main>
{% endblock %}
