body{
  margin: 0;
  padding: 0;
  background: #222;
  overflow: hidden;
}

canvas{
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 250px);
  top: -webkit-calc(50% - 250px);
  left: -webkit-calc(50% - 250px);
}