canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.colour{
  width: 100%;
  line-height: 100vh;
  text-align: center;
  position: absolute;
  z-index: 2;
}
.colour:after{ content: "green" }
.green .colour:after{ content: "green" }
.red .colour:after{ content: "red" }
.blue .colour:after{ content: "blue" }
.yellow .colour:after{ content: "yellow" }
