body {
  background: #000;
  height: 100vh;
  overflow: hidden;
}

#face {
  position: absolute;
  top: 40%;
  left: 50%;
}
#face .eye {
  position: absolute;
  width: 100px;
  height: 50px;
  background: #000;
  border-bottom: 6px solid #fff;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}
#face .eye.left {
  margin-left: -100px;
}
#face .eye.left .eyelash {
  position: absolute;
  width: 25px;
  height: 40px;
  margin: 10px 0 0 65px;
  border-right: 3px solid #fff;
  border-top: 3px solid transparent;
  border-radius: 100%;
  transform-origin: 0% 0%;
}
#face .eye.left .eyelash:nth-child(1) {
  height: 22px;
  transform: rotate(10deg) translateY(8px) translateY(-1px);
}
#face .eye.left .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.left .eyelash:nth-child(2) {
  height: 24px;
  transform: rotate(20deg) translateY(16px) translateY(-2px);
}
#face .eye.left .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.left .eyelash:nth-child(3) {
  height: 26px;
  transform: rotate(30deg) translateY(24px) translateY(-3px);
}
#face .eye.left .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.left .eyelash:nth-child(4) {
  height: 28px;
  transform: rotate(40deg) translateY(32px) translateY(-4px);
}
#face .eye.left .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.left .eyelash:nth-child(5) {
  height: 30px;
  transform: rotate(50deg) translateY(40px) translateY(-5px);
}
#face .eye.left .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.left .eyelash:nth-child(6) {
  height: 32px;
  transform: rotate(60deg) translateY(48px) translateY(-6px);
}
#face .eye.left .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.left .eyelash:nth-child(7) {
  height: 34px;
  transform: rotate(70deg) translateY(56px) translateY(-7px);
}
#face .eye.left .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.left .eyelash:nth-child(8) {
  height: 36px;
  transform: rotate(80deg) translateY(64px) translateY(-8px);
}
#face .eye.left .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.left .eyelash:nth-child(9) {
  height: 38px;
  transform: rotate(90deg) translateY(72px) translateY(-9px);
}
#face .eye.left .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.left .eyelash:nth-child(10) {
  height: 40px;
  transform: rotate(100deg) translateY(80px) translateY(-10px);
}
#face .eye.left .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.left .eyelash:nth-child(11) {
  height: 42px;
  transform: rotate(110deg) translateY(88px) translateY(-11px);
}
#face .eye.left .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.right {
  margin-left: 100px;
}
#face .eye.right .eyelash {
  position: absolute;
  width: 25px;
  height: 40px;
  margin: 10px 0 0 5px;
  border-left: 3px solid #fff;
  border-top: 3px solid transparent;
  border-radius: 100%;
  transform-origin: 100% 0%;
}
#face .eye.right .eyelash:nth-child(1) {
  height: 22px;
  transform: rotate(-10deg) translateY(8px) translateY(-1px);
}
#face .eye.right .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.right .eyelash:nth-child(2) {
  height: 24px;
  transform: rotate(-20deg) translateY(16px) translateY(-2px);
}
#face .eye.right .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.right .eyelash:nth-child(3) {
  height: 26px;
  transform: rotate(-30deg) translateY(24px) translateY(-3px);
}
#face .eye.right .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.right .eyelash:nth-child(4) {
  height: 28px;
  transform: rotate(-40deg) translateY(32px) translateY(-4px);
}
#face .eye.right .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.right .eyelash:nth-child(5) {
  height: 30px;
  transform: rotate(-50deg) translateY(40px) translateY(-5px);
}
#face .eye.right .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.right .eyelash:nth-child(6) {
  height: 32px;
  transform: rotate(-60deg) translateY(48px) translateY(-6px);
}
#face .eye.right .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.right .eyelash:nth-child(7) {
  height: 34px;
  transform: rotate(-70deg) translateY(56px) translateY(-7px);
}
#face .eye.right .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.right .eyelash:nth-child(8) {
  height: 36px;
  transform: rotate(-80deg) translateY(64px) translateY(-8px);
}
#face .eye.right .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.right .eyelash:nth-child(9) {
  height: 38px;
  transform: rotate(-90deg) translateY(72px) translateY(-9px);
}
#face .eye.right .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.right .eyelash:nth-child(10) {
  height: 40px;
  transform: rotate(-100deg) translateY(80px) translateY(-10px);
}
#face .eye.right .eyelash:nth-child(-n+3) {
  display: none;
}
#face .eye.right .eyelash:nth-child(11) {
  height: 42px;
  transform: rotate(-110deg) translateY(88px) translateY(-11px);
}
#face .eye.right .eyelash:nth-child(-n+3) {
  display: none;
}
#face .tear {
  position: absolute;
  width: 1000px;
  height: 1000px;
  background: #000;
  transform: translate(-50%, -50%);
  filter: blur(10px) contrast(30);
}
#face .tear_right .drops {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 40px;
}
#face .tear_right .drops .drop {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 100%;
}
#face .tear_right:nth-child(1) .drops {
  animation: horizontalRight 5648ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(1) .drops .drop {
  animation: vertical 5648ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(2) .drops {
  animation: horizontalRight 4284ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(2) .drops .drop {
  animation: vertical 4284ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(3) .drops {
  animation: horizontalRight 5076ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(3) .drops .drop {
  animation: vertical 5076ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(4) .drops {
  animation: horizontalRight 5256ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(4) .drops .drop {
  animation: vertical 5256ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(5) .drops {
  animation: horizontalRight 4170ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(5) .drops .drop {
  animation: vertical 4170ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(6) .drops {
  animation: horizontalRight 6530ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(6) .drops .drop {
  animation: vertical 6530ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(7) .drops {
  animation: horizontalRight 6388ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(7) .drops .drop {
  animation: vertical 6388ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(8) .drops {
  animation: horizontalRight 6414ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(8) .drops .drop {
  animation: vertical 6414ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(9) .drops {
  animation: horizontalRight 6216ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(9) .drops .drop {
  animation: vertical 6216ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(10) .drops {
  animation: horizontalRight 3209ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(10) .drops .drop {
  animation: vertical 3209ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(11) .drops {
  animation: horizontalRight 6086ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(11) .drops .drop {
  animation: vertical 6086ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(12) .drops {
  animation: horizontalRight 5155ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(12) .drops .drop {
  animation: vertical 5155ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(13) .drops {
  animation: horizontalRight 3071ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(13) .drops .drop {
  animation: vertical 3071ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(14) .drops {
  animation: horizontalRight 3515ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(14) .drops .drop {
  animation: vertical 3515ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(15) .drops {
  animation: horizontalRight 5567ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(15) .drops .drop {
  animation: vertical 5567ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(16) .drops {
  animation: horizontalRight 6940ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(16) .drops .drop {
  animation: vertical 6940ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(17) .drops {
  animation: horizontalRight 4278ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(17) .drops .drop {
  animation: vertical 4278ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(18) .drops {
  animation: horizontalRight 7788ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(18) .drops .drop {
  animation: vertical 7788ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(19) .drops {
  animation: horizontalRight 5877ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(19) .drops .drop {
  animation: vertical 5877ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(20) .drops {
  animation: horizontalRight 3463ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(20) .drops .drop {
  animation: vertical 3463ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(21) .drops {
  animation: horizontalRight 7807ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(21) .drops .drop {
  animation: vertical 7807ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(22) .drops {
  animation: horizontalRight 7084ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(22) .drops .drop {
  animation: vertical 7084ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(23) .drops {
  animation: horizontalRight 4879ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(23) .drops .drop {
  animation: vertical 4879ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(24) .drops {
  animation: horizontalRight 3556ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(24) .drops .drop {
  animation: vertical 3556ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(25) .drops {
  animation: horizontalRight 3621ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(25) .drops .drop {
  animation: vertical 3621ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(26) .drops {
  animation: horizontalRight 5264ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(26) .drops .drop {
  animation: vertical 5264ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(27) .drops {
  animation: horizontalRight 6963ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(27) .drops .drop {
  animation: vertical 6963ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(28) .drops {
  animation: horizontalRight 6818ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(28) .drops .drop {
  animation: vertical 6818ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(29) .drops {
  animation: horizontalRight 5491ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(29) .drops .drop {
  animation: vertical 5491ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(30) .drops {
  animation: horizontalRight 3733ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(30) .drops .drop {
  animation: vertical 3733ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(31) .drops {
  animation: horizontalRight 3749ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(31) .drops .drop {
  animation: vertical 3749ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(32) .drops {
  animation: horizontalRight 3504ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(32) .drops .drop {
  animation: vertical 3504ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(33) .drops {
  animation: horizontalRight 7710ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(33) .drops .drop {
  animation: vertical 7710ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(34) .drops {
  animation: horizontalRight 7125ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(34) .drops .drop {
  animation: vertical 7125ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(35) .drops {
  animation: horizontalRight 5186ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(35) .drops .drop {
  animation: vertical 5186ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(36) .drops {
  animation: horizontalRight 5395ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(36) .drops .drop {
  animation: vertical 5395ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(37) .drops {
  animation: horizontalRight 7544ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(37) .drops .drop {
  animation: vertical 7544ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(38) .drops {
  animation: horizontalRight 5471ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(38) .drops .drop {
  animation: vertical 5471ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(39) .drops {
  animation: horizontalRight 3137ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(39) .drops .drop {
  animation: vertical 3137ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(40) .drops {
  animation: horizontalRight 4340ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(40) .drops .drop {
  animation: vertical 4340ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(41) .drops {
  animation: horizontalRight 4711ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(41) .drops .drop {
  animation: vertical 4711ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(42) .drops {
  animation: horizontalRight 4369ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(42) .drops .drop {
  animation: vertical 4369ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(43) .drops {
  animation: horizontalRight 6248ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(43) .drops .drop {
  animation: vertical 6248ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(44) .drops {
  animation: horizontalRight 4579ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(44) .drops .drop {
  animation: vertical 4579ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(45) .drops {
  animation: horizontalRight 7059ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(45) .drops .drop {
  animation: vertical 7059ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(46) .drops {
  animation: horizontalRight 6534ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(46) .drops .drop {
  animation: vertical 6534ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(47) .drops {
  animation: horizontalRight 7033ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(47) .drops .drop {
  animation: vertical 7033ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(48) .drops {
  animation: horizontalRight 5005ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(48) .drops .drop {
  animation: vertical 5005ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(49) .drops {
  animation: horizontalRight 4135ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(49) .drops .drop {
  animation: vertical 4135ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(50) .drops {
  animation: horizontalRight 7193ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(50) .drops .drop {
  animation: vertical 7193ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(51) .drops {
  animation: horizontalRight 4818ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(51) .drops .drop {
  animation: vertical 4818ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(52) .drops {
  animation: horizontalRight 6675ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(52) .drops .drop {
  animation: vertical 6675ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(53) .drops {
  animation: horizontalRight 7804ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(53) .drops .drop {
  animation: vertical 7804ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(54) .drops {
  animation: horizontalRight 7681ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(54) .drops .drop {
  animation: vertical 7681ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(55) .drops {
  animation: horizontalRight 5742ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(55) .drops .drop {
  animation: vertical 5742ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(56) .drops {
  animation: horizontalRight 6409ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(56) .drops .drop {
  animation: vertical 6409ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(57) .drops {
  animation: horizontalRight 5246ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(57) .drops .drop {
  animation: vertical 5246ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(58) .drops {
  animation: horizontalRight 7797ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(58) .drops .drop {
  animation: vertical 7797ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(59) .drops {
  animation: horizontalRight 3788ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(59) .drops .drop {
  animation: vertical 3788ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(60) .drops {
  animation: horizontalRight 4954ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(60) .drops .drop {
  animation: vertical 4954ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(61) .drops {
  animation: horizontalRight 5411ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(61) .drops .drop {
  animation: vertical 5411ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(62) .drops {
  animation: horizontalRight 6338ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(62) .drops .drop {
  animation: vertical 6338ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(63) .drops {
  animation: horizontalRight 7017ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(63) .drops .drop {
  animation: vertical 7017ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(64) .drops {
  animation: horizontalRight 4292ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(64) .drops .drop {
  animation: vertical 4292ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(65) .drops {
  animation: horizontalRight 7572ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(65) .drops .drop {
  animation: vertical 7572ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(66) .drops {
  animation: horizontalRight 5209ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(66) .drops .drop {
  animation: vertical 5209ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(67) .drops {
  animation: horizontalRight 3599ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(67) .drops .drop {
  animation: vertical 3599ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(68) .drops {
  animation: horizontalRight 5695ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(68) .drops .drop {
  animation: vertical 5695ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(69) .drops {
  animation: horizontalRight 7961ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(69) .drops .drop {
  animation: vertical 7961ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(70) .drops {
  animation: horizontalRight 6501ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(70) .drops .drop {
  animation: vertical 6501ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(71) .drops {
  animation: horizontalRight 4754ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(71) .drops .drop {
  animation: vertical 4754ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(72) .drops {
  animation: horizontalRight 5155ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(72) .drops .drop {
  animation: vertical 5155ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(73) .drops {
  animation: horizontalRight 7650ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(73) .drops .drop {
  animation: vertical 7650ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(74) .drops {
  animation: horizontalRight 4865ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(74) .drops .drop {
  animation: vertical 4865ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(75) .drops {
  animation: horizontalRight 4589ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(75) .drops .drop {
  animation: vertical 4589ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(76) .drops {
  animation: horizontalRight 5515ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(76) .drops .drop {
  animation: vertical 5515ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(77) .drops {
  animation: horizontalRight 4428ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(77) .drops .drop {
  animation: vertical 4428ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(78) .drops {
  animation: horizontalRight 4445ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(78) .drops .drop {
  animation: vertical 4445ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(79) .drops {
  animation: horizontalRight 6604ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(79) .drops .drop {
  animation: vertical 6604ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(80) .drops {
  animation: horizontalRight 5653ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(80) .drops .drop {
  animation: vertical 5653ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(81) .drops {
  animation: horizontalRight 7177ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(81) .drops .drop {
  animation: vertical 7177ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(82) .drops {
  animation: horizontalRight 3141ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(82) .drops .drop {
  animation: vertical 3141ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(83) .drops {
  animation: horizontalRight 5986ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(83) .drops .drop {
  animation: vertical 5986ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(84) .drops {
  animation: horizontalRight 3950ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(84) .drops .drop {
  animation: vertical 3950ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(85) .drops {
  animation: horizontalRight 7565ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(85) .drops .drop {
  animation: vertical 7565ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(86) .drops {
  animation: horizontalRight 5379ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(86) .drops .drop {
  animation: vertical 5379ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(87) .drops {
  animation: horizontalRight 4677ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(87) .drops .drop {
  animation: vertical 4677ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(88) .drops {
  animation: horizontalRight 5637ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(88) .drops .drop {
  animation: vertical 5637ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(89) .drops {
  animation: horizontalRight 7800ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(89) .drops .drop {
  animation: vertical 7800ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(90) .drops {
  animation: horizontalRight 7997ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(90) .drops .drop {
  animation: vertical 7997ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(91) .drops {
  animation: horizontalRight 7242ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(91) .drops .drop {
  animation: vertical 7242ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(92) .drops {
  animation: horizontalRight 4400ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(92) .drops .drop {
  animation: vertical 4400ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(93) .drops {
  animation: horizontalRight 5865ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(93) .drops .drop {
  animation: vertical 5865ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(94) .drops {
  animation: horizontalRight 5981ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(94) .drops .drop {
  animation: vertical 5981ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(95) .drops {
  animation: horizontalRight 7899ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(95) .drops .drop {
  animation: vertical 7899ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(96) .drops {
  animation: horizontalRight 3833ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(96) .drops .drop {
  animation: vertical 3833ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(97) .drops {
  animation: horizontalRight 5382ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(97) .drops .drop {
  animation: vertical 5382ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(98) .drops {
  animation: horizontalRight 3063ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(98) .drops .drop {
  animation: vertical 3063ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(99) .drops {
  animation: horizontalRight 5171ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(99) .drops .drop {
  animation: vertical 5171ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(100) .drops {
  animation: horizontalRight 3326ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_right:nth-child(100) .drops .drop {
  animation: vertical 3326ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left .drops {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -70px;
}
#face .tear_left .drops .drop {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 100%;
}
#face .tear_left:nth-child(1) .drops {
  animation: horizontalLeft 6572ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(1) .drops .drop {
  width: 25px;
  height: 25px;
  animation: vertical 6572ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(2) .drops {
  animation: horizontalLeft 5187ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(2) .drops .drop {
  width: 34px;
  height: 34px;
  animation: vertical 5187ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(3) .drops {
  animation: horizontalLeft 7763ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(3) .drops .drop {
  width: 17px;
  height: 17px;
  animation: vertical 7763ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(4) .drops {
  animation: horizontalLeft 3989ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(4) .drops .drop {
  width: 26px;
  height: 26px;
  animation: vertical 3989ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(5) .drops {
  animation: horizontalLeft 5292ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(5) .drops .drop {
  width: 25px;
  height: 25px;
  animation: vertical 5292ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(6) .drops {
  animation: horizontalLeft 6109ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(6) .drops .drop {
  width: 17px;
  height: 17px;
  animation: vertical 6109ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(7) .drops {
  animation: horizontalLeft 3319ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(7) .drops .drop {
  width: 24px;
  height: 24px;
  animation: vertical 3319ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(8) .drops {
  animation: horizontalLeft 6147ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(8) .drops .drop {
  width: 16px;
  height: 16px;
  animation: vertical 6147ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(9) .drops {
  animation: horizontalLeft 7636ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(9) .drops .drop {
  width: 16px;
  height: 16px;
  animation: vertical 7636ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(10) .drops {
  animation: horizontalLeft 5634ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(10) .drops .drop {
  width: 27px;
  height: 27px;
  animation: vertical 5634ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(11) .drops {
  animation: horizontalLeft 3650ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(11) .drops .drop {
  width: 17px;
  height: 17px;
  animation: vertical 3650ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(12) .drops {
  animation: horizontalLeft 7019ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(12) .drops .drop {
  width: 33px;
  height: 33px;
  animation: vertical 7019ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(13) .drops {
  animation: horizontalLeft 5813ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(13) .drops .drop {
  width: 23px;
  height: 23px;
  animation: vertical 5813ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(14) .drops {
  animation: horizontalLeft 4133ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(14) .drops .drop {
  width: 23px;
  height: 23px;
  animation: vertical 4133ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(15) .drops {
  animation: horizontalLeft 3063ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(15) .drops .drop {
  width: 27px;
  height: 27px;
  animation: vertical 3063ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(16) .drops {
  animation: horizontalLeft 5133ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(16) .drops .drop {
  width: 20px;
  height: 20px;
  animation: vertical 5133ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(17) .drops {
  animation: horizontalLeft 3047ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(17) .drops .drop {
  width: 29px;
  height: 29px;
  animation: vertical 3047ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(18) .drops {
  animation: horizontalLeft 5869ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(18) .drops .drop {
  width: 25px;
  height: 25px;
  animation: vertical 5869ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(19) .drops {
  animation: horizontalLeft 4522ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(19) .drops .drop {
  width: 26px;
  height: 26px;
  animation: vertical 4522ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(20) .drops {
  animation: horizontalLeft 3857ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(20) .drops .drop {
  width: 19px;
  height: 19px;
  animation: vertical 3857ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(21) .drops {
  animation: horizontalLeft 4560ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(21) .drops .drop {
  width: 21px;
  height: 21px;
  animation: vertical 4560ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(22) .drops {
  animation: horizontalLeft 6481ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(22) .drops .drop {
  width: 34px;
  height: 34px;
  animation: vertical 6481ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(23) .drops {
  animation: horizontalLeft 7650ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(23) .drops .drop {
  width: 27px;
  height: 27px;
  animation: vertical 7650ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(24) .drops {
  animation: horizontalLeft 5722ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(24) .drops .drop {
  width: 18px;
  height: 18px;
  animation: vertical 5722ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(25) .drops {
  animation: horizontalLeft 7905ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(25) .drops .drop {
  width: 17px;
  height: 17px;
  animation: vertical 7905ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(26) .drops {
  animation: horizontalLeft 4780ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(26) .drops .drop {
  width: 22px;
  height: 22px;
  animation: vertical 4780ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(27) .drops {
  animation: horizontalLeft 5496ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(27) .drops .drop {
  width: 26px;
  height: 26px;
  animation: vertical 5496ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(28) .drops {
  animation: horizontalLeft 4440ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(28) .drops .drop {
  width: 33px;
  height: 33px;
  animation: vertical 4440ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(29) .drops {
  animation: horizontalLeft 4477ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(29) .drops .drop {
  width: 19px;
  height: 19px;
  animation: vertical 4477ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(30) .drops {
  animation: horizontalLeft 4158ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(30) .drops .drop {
  width: 32px;
  height: 32px;
  animation: vertical 4158ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(31) .drops {
  animation: horizontalLeft 4613ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(31) .drops .drop {
  width: 26px;
  height: 26px;
  animation: vertical 4613ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(32) .drops {
  animation: horizontalLeft 6949ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(32) .drops .drop {
  width: 35px;
  height: 35px;
  animation: vertical 6949ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(33) .drops {
  animation: horizontalLeft 7351ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(33) .drops .drop {
  width: 21px;
  height: 21px;
  animation: vertical 7351ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(34) .drops {
  animation: horizontalLeft 4612ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(34) .drops .drop {
  width: 31px;
  height: 31px;
  animation: vertical 4612ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(35) .drops {
  animation: horizontalLeft 4727ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(35) .drops .drop {
  width: 29px;
  height: 29px;
  animation: vertical 4727ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(36) .drops {
  animation: horizontalLeft 7529ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(36) .drops .drop {
  width: 33px;
  height: 33px;
  animation: vertical 7529ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(37) .drops {
  animation: horizontalLeft 3663ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(37) .drops .drop {
  width: 35px;
  height: 35px;
  animation: vertical 3663ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(38) .drops {
  animation: horizontalLeft 7481ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(38) .drops .drop {
  width: 16px;
  height: 16px;
  animation: vertical 7481ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(39) .drops {
  animation: horizontalLeft 3942ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(39) .drops .drop {
  width: 21px;
  height: 21px;
  animation: vertical 3942ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(40) .drops {
  animation: horizontalLeft 3650ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(40) .drops .drop {
  width: 17px;
  height: 17px;
  animation: vertical 3650ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(41) .drops {
  animation: horizontalLeft 6414ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(41) .drops .drop {
  width: 32px;
  height: 32px;
  animation: vertical 6414ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(42) .drops {
  animation: horizontalLeft 4911ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(42) .drops .drop {
  width: 35px;
  height: 35px;
  animation: vertical 4911ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(43) .drops {
  animation: horizontalLeft 4559ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(43) .drops .drop {
  width: 20px;
  height: 20px;
  animation: vertical 4559ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(44) .drops {
  animation: horizontalLeft 6499ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(44) .drops .drop {
  width: 16px;
  height: 16px;
  animation: vertical 6499ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(45) .drops {
  animation: horizontalLeft 5210ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(45) .drops .drop {
  width: 26px;
  height: 26px;
  animation: vertical 5210ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(46) .drops {
  animation: horizontalLeft 6712ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(46) .drops .drop {
  width: 29px;
  height: 29px;
  animation: vertical 6712ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(47) .drops {
  animation: horizontalLeft 4877ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(47) .drops .drop {
  width: 19px;
  height: 19px;
  animation: vertical 4877ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(48) .drops {
  animation: horizontalLeft 7032ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(48) .drops .drop {
  width: 22px;
  height: 22px;
  animation: vertical 7032ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(49) .drops {
  animation: horizontalLeft 7479ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(49) .drops .drop {
  width: 28px;
  height: 28px;
  animation: vertical 7479ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(50) .drops {
  animation: horizontalLeft 7023ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(50) .drops .drop {
  width: 31px;
  height: 31px;
  animation: vertical 7023ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(51) .drops {
  animation: horizontalLeft 6643ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(51) .drops .drop {
  width: 33px;
  height: 33px;
  animation: vertical 6643ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(52) .drops {
  animation: horizontalLeft 7254ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(52) .drops .drop {
  width: 23px;
  height: 23px;
  animation: vertical 7254ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(53) .drops {
  animation: horizontalLeft 4028ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(53) .drops .drop {
  width: 24px;
  height: 24px;
  animation: vertical 4028ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(54) .drops {
  animation: horizontalLeft 5102ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(54) .drops .drop {
  width: 21px;
  height: 21px;
  animation: vertical 5102ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(55) .drops {
  animation: horizontalLeft 7813ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(55) .drops .drop {
  width: 31px;
  height: 31px;
  animation: vertical 7813ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(56) .drops {
  animation: horizontalLeft 6878ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(56) .drops .drop {
  width: 23px;
  height: 23px;
  animation: vertical 6878ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(57) .drops {
  animation: horizontalLeft 5289ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(57) .drops .drop {
  width: 27px;
  height: 27px;
  animation: vertical 5289ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(58) .drops {
  animation: horizontalLeft 7349ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(58) .drops .drop {
  width: 29px;
  height: 29px;
  animation: vertical 7349ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(59) .drops {
  animation: horizontalLeft 6706ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(59) .drops .drop {
  width: 17px;
  height: 17px;
  animation: vertical 6706ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(60) .drops {
  animation: horizontalLeft 7468ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(60) .drops .drop {
  width: 19px;
  height: 19px;
  animation: vertical 7468ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(61) .drops {
  animation: horizontalLeft 7247ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(61) .drops .drop {
  width: 30px;
  height: 30px;
  animation: vertical 7247ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(62) .drops {
  animation: horizontalLeft 4301ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(62) .drops .drop {
  width: 22px;
  height: 22px;
  animation: vertical 4301ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(63) .drops {
  animation: horizontalLeft 3646ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(63) .drops .drop {
  width: 33px;
  height: 33px;
  animation: vertical 3646ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(64) .drops {
  animation: horizontalLeft 6775ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(64) .drops .drop {
  width: 31px;
  height: 31px;
  animation: vertical 6775ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(65) .drops {
  animation: horizontalLeft 4776ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(65) .drops .drop {
  width: 19px;
  height: 19px;
  animation: vertical 4776ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(66) .drops {
  animation: horizontalLeft 3276ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(66) .drops .drop {
  width: 28px;
  height: 28px;
  animation: vertical 3276ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(67) .drops {
  animation: horizontalLeft 5333ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(67) .drops .drop {
  width: 24px;
  height: 24px;
  animation: vertical 5333ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(68) .drops {
  animation: horizontalLeft 5779ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(68) .drops .drop {
  width: 19px;
  height: 19px;
  animation: vertical 5779ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(69) .drops {
  animation: horizontalLeft 4614ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(69) .drops .drop {
  width: 28px;
  height: 28px;
  animation: vertical 4614ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(70) .drops {
  animation: horizontalLeft 3579ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(70) .drops .drop {
  width: 34px;
  height: 34px;
  animation: vertical 3579ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(71) .drops {
  animation: horizontalLeft 7259ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(71) .drops .drop {
  width: 18px;
  height: 18px;
  animation: vertical 7259ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(72) .drops {
  animation: horizontalLeft 6534ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(72) .drops .drop {
  width: 26px;
  height: 26px;
  animation: vertical 6534ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(73) .drops {
  animation: horizontalLeft 6173ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(73) .drops .drop {
  width: 22px;
  height: 22px;
  animation: vertical 6173ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(74) .drops {
  animation: horizontalLeft 4298ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(74) .drops .drop {
  width: 31px;
  height: 31px;
  animation: vertical 4298ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(75) .drops {
  animation: horizontalLeft 7454ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(75) .drops .drop {
  width: 31px;
  height: 31px;
  animation: vertical 7454ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(76) .drops {
  animation: horizontalLeft 7154ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(76) .drops .drop {
  width: 26px;
  height: 26px;
  animation: vertical 7154ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(77) .drops {
  animation: horizontalLeft 7499ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(77) .drops .drop {
  width: 30px;
  height: 30px;
  animation: vertical 7499ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(78) .drops {
  animation: horizontalLeft 6339ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(78) .drops .drop {
  width: 34px;
  height: 34px;
  animation: vertical 6339ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(79) .drops {
  animation: horizontalLeft 6502ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(79) .drops .drop {
  width: 35px;
  height: 35px;
  animation: vertical 6502ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(80) .drops {
  animation: horizontalLeft 4044ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(80) .drops .drop {
  width: 26px;
  height: 26px;
  animation: vertical 4044ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(81) .drops {
  animation: horizontalLeft 4140ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(81) .drops .drop {
  width: 22px;
  height: 22px;
  animation: vertical 4140ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(82) .drops {
  animation: horizontalLeft 7139ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(82) .drops .drop {
  width: 30px;
  height: 30px;
  animation: vertical 7139ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(83) .drops {
  animation: horizontalLeft 6512ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(83) .drops .drop {
  width: 25px;
  height: 25px;
  animation: vertical 6512ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(84) .drops {
  animation: horizontalLeft 6666ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(84) .drops .drop {
  width: 26px;
  height: 26px;
  animation: vertical 6666ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(85) .drops {
  animation: horizontalLeft 4006ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(85) .drops .drop {
  width: 24px;
  height: 24px;
  animation: vertical 4006ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(86) .drops {
  animation: horizontalLeft 7427ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(86) .drops .drop {
  width: 33px;
  height: 33px;
  animation: vertical 7427ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(87) .drops {
  animation: horizontalLeft 4026ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(87) .drops .drop {
  width: 18px;
  height: 18px;
  animation: vertical 4026ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(88) .drops {
  animation: horizontalLeft 3517ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(88) .drops .drop {
  width: 32px;
  height: 32px;
  animation: vertical 3517ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(89) .drops {
  animation: horizontalLeft 6910ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(89) .drops .drop {
  width: 34px;
  height: 34px;
  animation: vertical 6910ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(90) .drops {
  animation: horizontalLeft 3236ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(90) .drops .drop {
  width: 17px;
  height: 17px;
  animation: vertical 3236ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(91) .drops {
  animation: horizontalLeft 5954ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(91) .drops .drop {
  width: 29px;
  height: 29px;
  animation: vertical 5954ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(92) .drops {
  animation: horizontalLeft 4665ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(92) .drops .drop {
  width: 28px;
  height: 28px;
  animation: vertical 4665ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(93) .drops {
  animation: horizontalLeft 6433ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(93) .drops .drop {
  width: 20px;
  height: 20px;
  animation: vertical 6433ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(94) .drops {
  animation: horizontalLeft 3335ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(94) .drops .drop {
  width: 34px;
  height: 34px;
  animation: vertical 3335ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(95) .drops {
  animation: horizontalLeft 3264ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(95) .drops .drop {
  width: 30px;
  height: 30px;
  animation: vertical 3264ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(96) .drops {
  animation: horizontalLeft 4910ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(96) .drops .drop {
  width: 33px;
  height: 33px;
  animation: vertical 4910ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(97) .drops {
  animation: horizontalLeft 4803ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(97) .drops .drop {
  width: 28px;
  height: 28px;
  animation: vertical 4803ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(98) .drops {
  animation: horizontalLeft 4283ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(98) .drops .drop {
  width: 19px;
  height: 19px;
  animation: vertical 4283ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(99) .drops {
  animation: horizontalLeft 5069ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(99) .drops .drop {
  width: 23px;
  height: 23px;
  animation: vertical 5069ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(100) .drops {
  animation: horizontalLeft 5427ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}
#face .tear_left:nth-child(100) .drops .drop {
  width: 32px;
  height: 32px;
  animation: vertical 5427ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
}

@keyframes horizontalRight {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(85px);
  }
  50% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(-100px);
  }
}
@keyframes horizontalLeft {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-85px);
  }
  50% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(100px);
  }
}
@keyframes vertical {
  0% {
    transform: translateY(0px) scale(0.5);
  }
  18% {
    transform: translateY(8px) scale(1.1);
  }
  35% {
    transform: translateY(-10px) scale(1);
  }
  100% {
    transform: translateY(600px) scale(0);
  }
}
