//
  autor: Marco Barría
  https://twitter.com/marco_bf

figure.circle
  .mask-a(style='background:rgba(27,45,65,0) !important; position:absolute;')
    .hand
    .hand-1
    .hand-2
  // key animation mirror to avoid overflow and mask.
  .mask-b
    .hand
    .hand-1

.credit-design
  p
    a(href='http://www.krop.com/mattwheeler/') Matthew Wheeler
    |  design and illustration of the great 
    a(href='http://www.chrislueders.de/sponsorpay') Chris Luders.