/* line 1, ../sass/style.scss */
.vertical {
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: black;
  top: 0;
  left: 100px;
}

/* line 9, ../sass/style.scss */
.den {
  font-weight: bold;
}

/* line 12, ../sass/style.scss */
.listWrapper {
  position: relative;
}
