/* line 1, ../sass/style.scss */
body {
  font-family: sans-serif;
  line-height: 2em;
}

/* line 5, ../sass/style.scss */
.inactive {
  opacity: 0.5;
}

/* line 8, ../sass/style.scss */
input[type=number] {
  width: 3em;
}

/* line 11, ../sass/style.scss */
#vis {
  fill: none;
  stroke: black;
  margin-left: 10px;
  vertical-align: middle;
}

/* line 17, ../sass/style.scss */
pre {
  padding: 10px;
  border: 1px solid black;
  min-height: 10em;
  overflow-x: auto;
  clear: both;
}

/* line 24, ../sass/style.scss */
.floating {
  float: left;
  margin-right: 30px;
}

/* line 28, ../sass/style.scss */
.floating.example {
  width: 250px;
  height: 400px;
}

/* line 32, ../sass/style.scss */
div.goo {
  position: relative;
  width: 500px;
  height: 800px;
  transform: scale(0.5);
  transform-origin: 0% 0%;
}

/* line 39, ../sass/style.scss */
div.goo div {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

/* line 45, ../sass/style.scss */
div.goo .move {
  width: 160px;
  height: 160px;
  border-radius: 0;
}

/* line 50, ../sass/style.scss */
.hide {
  display: none;
}

/* line 53, ../sass/style.scss */
.bw {
  fill: black;
  background: black !important;
}

/* line 57, ../sass/style.scss */
.fcd {
  filter: url(#component-discrete);
}

/* line 60, ../sass/style.scss */
.fcl {
  filter: url(#component-linear);
}

/* line 63, ../sass/style.scss */
.fmx {
  filter: url(#colormatrix);
}
