html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  background: #fff;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  height: 100%;
  overflow: hidden;
}

.wrapper {
  display: block;
  min-width: 320px;
  -webkit-overflow-scrolling: touch;
}

.menu {
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: 30px;
  background: transparent;
  z-index: 100;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  height: 30px;
  text-align: right;
}

.menu ul li {
  display: inline;
  color: #fff;
}

.menu ul li:first-child {
  float: left;
}

.menu ul li a {
  font-family: 'Ubuntu', verdana, arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  margin: 0 20px;
  font-size: 120%;
}

.menu ul li a:hover {
  text-decoration: underline;
}

.curtain {
  position: fixed;
  top: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  background: url(../images/overlay.png);
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.curtain:first-child {
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/diagonal.png);
  z-index: 50;
}

.inner {
  display: block;
  width: 95%;
  min-width: 300px;
  margin: 0 auto;
  padding: 20px 10px 40px 10px;
  text-align: center;
  position: relative;
  z-index: 100;
}

p {
  font-family: "Ubuntu", helvetica, arial, sans-serif;
  font-weight: 400;
}

.inner a {
  font-family: "Source Sans Pro", helvetica, arial, sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: #fc6;
}

.inner a:hover {
  text-decoration: underline;
}

h1, h2 {
  margin: 40px auto;
  padding: 0;
  width: 85%;
  font-family: "Source Sans Pro", helvetica, arial, sans-serif;
  font-weight: 700;
}

h1 {
  color: #fc6;
  font-size: 400%;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

h2 {
  color: #fff;
  font-size: 200%;
}

p {
  color: #fff;
  font-size: 140%;
}

.bg {
  display: block;
  position: absolute;
  z-index: -1;
}

@media only screen and (max-width: 1024px) {
  html, body {
    font-size: 80%;
  }
}
