/* line 1, ../sass/style.scss */
body {
  font-family: "Helvetica Neue";
  padding: 4rem 2rem;
  background: #111;
  color: rgba(255, 255, 255, 0.5);
}

/* line 9, ../sass/style.scss */
.copy {
  max-width: 740px;
  -webkit-font-smoothing: antialiased;
}

/* line 14, ../sass/style.scss */
.copy h1 {
  color: rgba(255, 255, 255, 0.8);
}

/* line 17, ../sass/style.scss */
textarea {
  font-size: 15px;
  min-height: 250px;
  width: 100%;
}

/* line 23, ../sass/style.scss */
.render {
  padding: 3rem;
  background: #fafafa;
  color: #333;
}

/* line 29, ../sass/style.scss */
.mtop {
  margin-top: 3rem;
}
