<% layout('boilerplate') %>
<% block('title', 'About'); %>

<div class="starter-template" ng-controller="aboutCtrl">
	<div my-sample></div>
	<div my-sample></div>
	<div my-sample></div>
	<h1>About Page!</h1>
	<button type="button" class="btn btn-info" ng-click="scrollTo('last')">Scroll</button>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur autem fuga nemo molestias placeat illo, quibusdam sunt laudantium ab ipsum aut qui, iste mollitia aspernatur ut, maiores id doloribus.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur autem fuga nemo molestias placeat illo, quibusdam sunt laudantium ab ipsum aut qui, iste mollitia aspernatur ut, maiores id doloribus.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur autem fuga nemo molestias placeat illo, quibusdam sunt laudantium ab ipsum aut qui, iste mollitia aspernatur ut, maiores id doloribus.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur autem fuga nemo molestias placeat illo, quibusdam sunt laudantium ab ipsum aut qui, iste mollitia aspernatur ut, maiores id doloribus.</p>


	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur autem fuga nemo molestias placeat illo, quibusdam sunt laudantium ab ipsum aut qui, iste mollitia aspernatur ut, maiores id doloribus.</p>


	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur autem fuga nemo molestias placeat illo, quibusdam sunt laudantium ab ipsum aut qui, iste mollitia aspernatur ut, maiores id doloribus.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur autem fuga nemo molestias placeat illo, quibusdam sunt laudantium ab ipsum aut qui, iste mollitia aspernatur ut, maiores id doloribus.</p>


	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur autem fuga nemo molestias placeat illo, quibusdam sunt laudantium ab ipsum aut qui, iste mollitia aspernatur ut, maiores id doloribus.</p>


	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur autem fuga nemo molestias placeat illo, quibusdam sunt laudantium ab ipsum aut qui, iste mollitia aspernatur ut, maiores id doloribus.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur autem fuga nemo molestias placeat illo, quibusdam sunt laudantium ab ipsum aut qui, iste mollitia aspernatur ut, maiores id doloribus.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur autem fuga nemo molestias placeat illo, quibusdam sunt laudantium ab ipsum aut qui, iste mollitia aspernatur ut, maiores id doloribus.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur autem fuga nemo molestias placeat illo, quibusdam sunt laudantium ab ipsum aut qui, iste mollitia aspernatur ut, maiores id doloribus.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur autem fuga nemo molestias placeat illo, quibusdam sunt laudantium ab ipsum aut qui, iste mollitia aspernatur ut, maiores id doloribus.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur autem fuga nemo molestias placeat illo, quibusdam sunt laudantium ab ipsum aut qui, iste mollitia aspernatur ut, maiores id doloribus.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur autem fuga nemo molestias placeat illo, quibusdam sunt laudantium ab ipsum aut qui, iste mollitia aspernatur ut, maiores id doloribus.</p>


	<p style="color:red;" id="last">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur autem fuga nemo molestias placeat illo, quibusdam sunt laudantium ab ipsum aut qui, iste mollitia aspernatur ut, maiores id doloribus.</p>
   
</div>
