<% layout('boilerplate') %>
<% block('title', 'Contacts'); %>

<div class="starter-template" ng-controller="aboutCtrl">
    <h1>Contacts Page!</h1>
    <a href="contacts/new">new</a>
    
    <div class="row">
        <div class="cl-sm-12" ng-view></div>
    </div>
     
</div>
