<% layout('boilerplate') %>
<% block('title', 'Main'); %>

<div class="starter-template" ng-controller="mainCtrl">	
	<h1>MEAN<small> stack</small></h1><p class="lead">
	<blockquote>
		<p>The MEAN development stack combines the power of MongoDB, Express, AngularJS, 
		and NodeJS to offer a full-stack JavaScript framework, which can help you rapidly develop your applications.</p>
	</blockquote>
	
    <p>{{ myVar }}</p>

    <ng-view></ng-view>
   
</div>
