html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #313940;
}

.fm-logo {
  height: auto;
  max-width: 100%;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  width: 300px;
}
.fm-logo path {
  visibility: hidden;
}
