/* Clients (container) */

.c-clients {
  border-top: 5px solid $pink;
  box-shadow: inset 0 3px 0 0 rgba($yellow, 1);
  padding: rem($unit + ($baseline * 1.5)) 0 rem($baseline *2) 0;
  text-align: center;

  blockquote {
    display: inline-block;
    border: 0;

    &:not(:first-of-type):before {
      display: inline-block;
      vertical-align: top;
      content: "";
      height: 2px;
      width: 10%;
      margin-top: rem(-$baseline / 2);
      background: $yellow;
      box-shadow: 0 4px 0 -2px rgba($dark-red, 0.5);
    }

    .p--large {
      max-width: rem(680);
    }
  }
}

.c-clients__header {
  margin-bottom: rem($baseline / 2);
}

.c-clients__footer {
  margin-top: rem($baseline / 2);
}
