/* Sectors (container) */

.c-sectors {
  z-index: $z-index--home + 1;
  position: relative;
  margin: 0 auto rem($baseline * 2) auto;
  max-width: rem($bp--mobile);
}

.c-sectors__list {
  position: relative;
}

.c-sectors__item {
  margin-bottom: rem($baseline);
  box-shadow: 0 rem($unit * 4) 0 rem(-$unit * 2) rgba($black, 0.1);

  &:first-child {
    &:after {
      z-index: -1;
      content: "";
      position: absolute;
      display: block;
      opacity: 0.5;
      top: rem(49);
      left: rem(35);
      right: rem(35);
      bottom: rem(49);
      background: $canvas;
    }
  }
}

@include respond-max($bp--mobile - 1) {

  .c-sectors {
    margin-left: -#{inner-percent(7)};
    margin-right: -#{inner-percent(7)};
    max-width: none;

    .b-sector {
      padding-left: 7%;
      padding-right: 7%;
      max-width: none;
    }
  }

}

@include respond-min($bp--home) {

  .c-sectors {
    max-width: none;
  }

  .c-sectors__list {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    height: rem(385);
    width: 100%;
  }

  .c-sectors__item {
    flex: 0 1 auto;
    width: 47%;
    height: rem(350);
    max-width: rem(450);
    margin: 0;
    display: flex;
    flex-direction: column;

    &:first-child {
      box-shadow: rem($unit * 4) 0 0 rem(-$unit * 2) rgba($black, 0.1);

      &:after {
        left: 0;
        right: 0;
      }
    }

    &:last-child {
      box-shadow: rem(-$unit * 4) 0 0 rem(-$unit * 2) rgba($black, 0.1);
      align-self: flex-end;
    }
  }

}
