@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';

@media(max-width: 520px){
	div{
		transform: rotate(90deg);
		margin-left: -10px;
	}
}

body{
	overflow: hidden;
}

div{
	font-family: 'Press Start 2P', cursive;
	font-size: 4em;
	display: block;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(220,220,220,.5);
	transition: all 200ms ease-in-out 10ms;
	&:hover{
		font-size: 4.2em;
		text-shadow: 4px 4px 4px rgba(32,32,32,.5);
		color: rgba(220,220,220,.8);
	}
}