body
  .column
    input.flat-check#checkbox1(type="checkbox")
    label.flat-check-label.red-label(for="checkbox1") Red
    input.flat-check#checkbox2(type="checkbox")
    label.flat-check-label.orange-label(for="checkbox2") Orange
    input.flat-check#checkbox3(type="checkbox")
    label.flat-check-label.yellow-label(for="checkbox3") Yellow
    input.flat-check#checkbox4(type="checkbox")
    label.flat-check-label.green-label(for="checkbox4") Green
    input.flat-check#checkbox5(type="checkbox")
    label.flat-check-label.blue-label(for="checkbox5") Blue
    input.flat-check#checkbox6(type="checkbox")
    label.flat-check-label.purple-label(for="checkbox6") Purple
    input.flat-check#checkbox7(type="checkbox")
    label.flat-check-label.dark-label(for="checkbox7") Dark

  .column
    p Horizontal radio group.
    .radio-group.radio-group--horizontal.ilc4
      input.flat-radio#radio1(type="radio", name="radio-group1")
      label.flat-radio-label(for="radio1") A
      input.flat-radio#radio2(type="radio", name="radio-group1")
      label.flat-radio-label(for="radio2") B
      input.flat-radio#radio3(type="radio", name="radio-group1")
      label.flat-radio-label(for="radio3") C
      input.flat-radio#radio4(type="radio", name="radio-group1")
      label.flat-radio-label(for="radio4") D
  
  .column
    p Vertical radio group.
    .radio-group.radio-group--vertical
      input.flat-radio#radio5(type="radio", name="radio-group2")
      label.flat-radio-label(for="radio5") E
      input.flat-radio#radio6(type="radio", name="radio-group2")
      label.flat-radio-label(for="radio6") F
      input.flat-radio#radio7(type="radio", name="radio-group2")
      label.flat-radio-label(for="radio7") G
      input.flat-radio#radio8(type="radio", name="radio-group2")
      label.flat-radio-label(for="radio8") H
  
  .column
    p Checkbox group.
    .checkbox-group
      input.flat-check#checkbox9(type="checkbox")
      label.flat-check-label.orange-label(for="checkbox9") One
      input.flat-check#checkbox10(type="checkbox")
      label.flat-check-label.yellow-label(for="checkbox10") Two
      input.flat-check#checkbox11(type="checkbox")
      label.flat-check-label.green-label(for="checkbox11") Three
      input.flat-check#checkbox12(type="checkbox")
      label.flat-check-label.blue-label(for="checkbox12") Four

  .column
    p Basic checkboxes
    input.basic-check#checkbox-basic-1(type="checkbox")
    label.basic-check-label(for="checkbox-basic-1") Basic
    input.basic-check#checkbox-basic-2(type="checkbox")
    label.basic-check-label(for="checkbox-basic-2") Checkboxes

  .column
    p Text input.
    input(type="text")
    p Disabled input.
    input(type="text", disabled)
    p Another text input.
    input(type="text")
    
    input.flat-slider(type="range", min="1", max="60", value="30", onchange="rangeout.value=value")
    output#rangeout 30
    
    <script src="//use.edgefonts.net/lato:n3.js"></script>