/* line 1, ../sass/style.scss */
body {
  background: #1e2730;
  font-family: Arial;
}

/* line 5, ../sass/style.scss */
svg {
  width: 100vmin;
  margin: 0 auto;
  display: block;
}

/* line 10, ../sass/style.scss */
circle {
  fill: none;
  stroke-width: 3;
}

/* line 14, ../sass/style.scss */
#secondsPath {
  stroke-width: 3;
  pointer-events: none;
  stroke-linecap: round;
}

/* line 19, ../sass/style.scss */
#minPath {
  stroke-width: 3;
  pointer-events: none;
  stroke-linecap: round;
}

/* line 24, ../sass/style.scss */
#hoursPath {
  stroke-width: 3;
  pointer-events: none;
  stroke-linecap: round;
}

/* line 29, ../sass/style.scss */
text {
  dominant-baseline: central;
  text-anchor: middle;
  font-size: 5px;
  fill: Linen;
}

/* line 35, ../sass/style.scss */
svg text::selection {
  background: none;
}

/* line 39, ../sass/style.scss */
#hub {
  fill: #24303a;
  stroke-width: 0;
}

/* line 43, ../sass/style.scss */
#toggle,
#reset {
  cursor: pointer;
}
