* {
	box-sizing: border-box;
}
body{
	color: #333!important;
	font-family: "open sans";
	padding: 20px;
	&.no-scroll{
		overflow: hidden;
	}
}

.main{
	padding-left: 40px;	
	padding-right: 40px;	
}
.col-0{
	flex: 0 0 0%;
	max-width: 0%;
}

.filter-title{
	text-transform: uppercase;
	margin-bottom: 20px;
}

.main-row{
	&.no-menu{
		.menu{
			transform: translate3d(-300px, 0, 0);
		}
	}
}
.col-menu{
	.menu-wrap{
		position: relative;
	}
	.menu{
		transition: 1s;
		position: absolute;
		width: 200px;
		left: 0;
		top: 0;
	}
}


.row-cards{
	&.is-moving{
		.card{
			&.clone{
				transition: 1s;
			}
			&:nth-child(1){
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
			&:nth-child(2){	
				opacity: 0;
			}
		}
	}
}
.col-card{
	&__content{
		position: relative;
	}
}
.card{
	padding: 0;
	border: none;
	margin-bottom: 50px;
	box-shadow: 0 2px 14px 0 rgba(47, 60, 83, 0.16);
	.card-body{
		padding: 30px 20px;
	}
	.card-title{
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
	}
	.card-text{
		font-size: 12px;
		line-height: 1.4;
	}
	.card-list{
		font-size: 12px;
		padding-left: 15px;
	}
}

#btn-toggle{
	margin: 0 auto;
	margin-bottom: 20px;
	width: 200px;
	display: block;
	background: rgb(64,191,246);
	background: linear-gradient(90deg, rgba(64,191,246,1) 0%, rgba(110,102,224,1) 100%);
	border: none;
	font-size: 14px;
	padding: 15px;
	font-weight: 300;
	box-shadow: 0 2px 14px 0 rgba(47, 60, 83, 0.3);
}


//==============
//==============
//GLOBAL PRESENTATION, for header and footer
//==============
//==============
html, body{
	padding: 0;
}
body{
  background-color: #f5f6f7;
}
header.tg-header{
	padding: 40px;
	margin-bottom: 40px;
	background: rgb(247,89,100);
background: linear-gradient(90deg, rgba(247,89,100,1) 0%, rgba(249,148,104,1) 100%);
	color: #fff;
}
h1.tg-h1{
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
	font-weight: bold;
}
h2.tg-h2{
  text-align: center;
  font-size: 12px;
  letter-spacing: 1.2px;
	font-weight: 300;
}
hr.tg-hr{
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
footer.tg-footer{
  text-align: center;
  padding-bottom: 50px;
}

.tg-link{
	display: inline-block;
	margin: 0 20px;
  text-align: center;
  color: #278fb2;
}
//end global
