/* line 34, ../sass/style.scss */
body {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" viewBox="0 0 150 150"><filter id="a" x="0" y="0"><feTurbulence baseFrequency=".7" result="fuzz" numOctaves="2" stitchTiles="stitch"/><feComposite in="SourceGraphic" in2="fuzz" operator="arithmetic" k2="1" k3="-.15" k4=".01"/></filter><rect width="102%" height="102%"/><rect x="-1%" y="-1%" width="102%" height="102%" filter="url(#a)"/></svg>');
  width: 100%;
}

/* line 38, ../sass/style.scss */
.svg-container {
  margin: 0 auto;
  padding: 30px;
}
/* line 41, ../sass/style.scss */
.svg-container svg {
  width: 100%;
}

/* line 45, ../sass/style.scss */
#r1,
#e1,
#v,
#e2,
#r2,
#b {
  stroke: #73462d;
  stroke-width: 2;
  filter: url("#rusty");
}

/* line 55, ../sass/style.scss */
#R1 {
  fill: url("#r-grad3-on");
}

/* line 58, ../sass/style.scss */
#E1 {
  fill: url("#l-grad1-on");
}

/* line 61, ../sass/style.scss */
#V {
  fill: url("#l-grad4-on");
}

/* line 64, ../sass/style.scss */
#E2 {
  fill: url("#r-grad2-on");
}

/* line 67, ../sass/style.scss */
#R2 {
  fill: url("#r-grad2-on");
}

/* line 70, ../sass/style.scss */
#B {
  fill: url("#r-grad4-on");
}

/* line 73, ../sass/style.scss */
.lights {
  filter: url("#lights");
  fill: #f8e81c;
  stroke: #fff;
  stroke-width: 0.5;
}

/* line 80, ../sass/style.scss */
.off .lights {
  filter: url("#lights-off");
  fill-opacity: 0.550000429;
  stroke-opacity: 0.143936821;
  stroke-width: 0.25;
}
/* line 85, ../sass/style.scss */
.off .lights circle {
  fill: url("#r-grad-lights-off");
}
/* line 89, ../sass/style.scss */
.off#E1 {
  fill: url("#l-grad1-off");
}
