.headline
  DOMO DANCE PARTY!
.stage
  - (1..5).each do
    .space
      .shadow
      .domo
        .left-eye
        .right-eye
        .mouth
          .top-teeth
            - (1..4).each do
              .tooth
          .bottom-teeth
            - (1..4).each do
              .tooth