body, html {
  padding: 0;
  margin: 0;
}

div {
  width: 95%;
  height: auto;
  margin: 0 auto;
}

polygon, path, line {
  stroke-width: 3;
  stroke: #21517F;
}

g path:nth-child(1) {
  stroke: none;
  fill: #58AEE1;
}

g path:nth-child(2), #sun, #block {
  stroke: none;
}
