<div class='data-presentation'>
    <div class='data-presentation-title'>
        Choose the data model for your App
    </div>
    <div class="data-presentation-imgs">
        <div class='col-md-3 data-img'>
            {{#if model.prefHandler}}
                {{#link-to 'preference_records'}}
                    <img src="../../img/model_editor/pref_gear.png"/>
                {{/link-to}}
            {{else}}
                {{#link-to 'preference_handler'}}
                    <img src="../../img/model_editor/pref_gear.png"/>
                {{/link-to}}
            {{/if}}
            <span>Preferences</span>
        </div>
        <div class='col-md-3 data-img'>
            {{#if model.databaseHandler}}
                {{#link-to 'entities'}}
                    <img src="../../img/model_editor/database_gear.png"/>
                {{/link-to}}
            {{else}}
                {{#link-to 'database_handler'}}
                    <img src="../../img/model_editor/database_gear.png"/>
                {{/link-to}}
            {{/if}}
            <span>SQL DB</span>
        </div>
        <div class='col-md-3 data-img'>
            {{#if model.storageHandler}}
                {{#link-to 'storage_records'}}
                    <img src="../../img/model_editor/file_doc.png"/>
                {{/link-to}}
            {{else}}
                {{#link-to 'storage_handler'}}
                    <img src="../../img/model_editor/file_doc.png"/>
                {{/link-to}}
            {{/if}}
            <span>Files</span>
        </div>
        <div class='col-md-3 data-img'>
            {{#if model.cloudHandler}}
                {{#link-to 'cloud_objects'}}
                    <img src="../../img/model_editor/cloud_db.png"/>
                {{/link-to}}
            {{else}}
                {{#link-to 'cloud_handler'}}
                    <img src="../../img/model_editor/cloud_db.png"/>
                {{/link-to}}
            {{/if}}
            <span>Cloud DB</span>
        </div>
    </div>
</div>
