@import "compass/css3";

/* Choose your size */

$size: 6px; 


/* SASS function - centering */

@function calc-width($s) {
  @return ($size*20);
}
@function calc-height($s) {
  @return ($size*54);
}

html {
  height: 100%;
}

body {
  @include background(radial-gradient(center 0, circle cover, #787571, #242424) no-repeat);
  background-color: #242424;
  height: 100%;
} 

.character {
  width: calc-width($size);
  height: calc-height($size);
  margin: 20px auto;
  position: relative;
  font-size: $size; 
}

.character:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  box-shadow:
    7em 0 black,
    8em 0 black,
    9em 0 black,
    10em 0 black,
    11em 0 black,
    12em 0 black,
    5em 1em black,
    6em 1em black,
    7em 1em #8c6a3d,
    8em 1em #8e693d,
    9em 1em #8e693d,
    10em 1em #8e693d,
    11em 1em #cfaf89, 
    12em 1em #6e5537,
    13em 1em black,
    14em 1em black,
    4em 2em black,
    5em 2em #8c6a3d,
    6em 2em #6e5537, 
    7em 2em #ae895d, 
    8em 2em #8b683e,
    9em 2em #8c693f, 
    10em 2em #8e693d,
    11em 2em #8e693d,
    12em 2em #ad8a62,
    13em 2em #8d6b3e,
    14em 2em #8c6a3d, 
    15em 2em black,
    3em 3em black,
    4em 3em #af8a60,
    5em 3em #8b683e,
    6em 3em #8c693f,
    7em 3em #6e5537,
    8em 3em #ad8a60,
    9em 3em #8c693f,
    10em 3em #8e693d,
    11em 3em #8e693d,
    12em 3em #8e693d,
    13em 3em #6e5537,
    14em 3em #6e5537,
    15em 3em #8c6a3d,
    16em 3em black,
    3em 4em black,
    4em 4em #8e693f,
    5em 4em #8e693d,
    6em 4em #6e5537,
    7em 4em #6e5537,
    8em 4em #5b4327,
    9em 4em #8e693d,
    10em 4em #8e693d,
    11em 4em #8e693d,
    12em 4em #8e693d,
    13em 4em #8e693d,
    14em 4em #6e5537,
    15em 4em #6e5537,
    16em 4em black,
    2em 5em black,
    3em 5em #ac895f,
    4em 5em #6e5537,
    5em 5em #6e5537,
    6em 5em #6e5537,
    7em 5em #5a4226,
    8em 5em #f0d6b5,
    9em 5em #594427,
    10em 5em #8e693d,
    11em 5em #8e693d,
    12em 5em #8e693d,
    13em 5em #8e693d,
    14em 5em #6e5537,
    15em 5em #6e5537,
    16em 5em #6c5536,
    17em 5em black,
    2em 6em black,
    3em 6em #8e693f,
    4em 6em #5b4327,
    5em 6em #6d5637,
    6em 6em #594427,
    7em 6em #f0d6b5,
    8em 6em #f0d6b1,
    9em 6em #efd7b3,
    10em 6em #5a4228,
    11em 6em #8c693f,
    12em 6em #8c6a3d,
    13em 6em #8c6a3d,
    14em 6em #8e693d,
    15em 6em #6e5537,
    16em 6em #6e5537,
    17em 6em black,
    2em 7em black,
    3em 7em #6d5436,
    4em 7em #5b4327,
    5em 7em #5b4327,
    6em 7em #cea672,
    7em 7em #cea672,
    8em 7em #cea672,
    9em 7em #ffe5c4,
    10em 7em #e8c79a,
    11em 7em #5b4327,
    12em 7em #5b4327,
    13em 7em #5b4327,
    14em 7em #6e5537,
    15em 7em #6d5436,
    16em 7em #6e5536,
    17em 7em black,
    2em 8em black,
    3em 8em #6e5537,
    4em 8em #594425,
    5em 8em #cda572,
    6em 8em #fee4c3,
    7em 8em #fee4c3,
    8em 8em #ffe5c4,
    9em 8em #fee3c6,
    10em 8em #fee3c5,
    11em 8em #fee3c5,
    12em 8em #e8c79c,
    13em 8em #e8c79c,
    14em 8em #5b4327,
    15em 8em #6d5539,
    16em 8em #6e5537,
    17em 8em black,
    2em 9em black,
    3em 9em black,
    4em 9em black,
    5em 9em black,
    6em 9em black,
    7em 9em black,
    8em 9em black,
    9em 9em #f1d4b2,
    10em 9em #efd5b0,
    11em 9em black,
    12em 9em black,
    13em 9em black,
    14em 9em black,
    15em 9em black,
    16em 9em black,
    17em 9em black,
    2em 10em black,
    3em 10em black,
    4em 10em black,
    5em 10em #d9d9d9,
    6em 10em white,
    7em 10em white,
    8em 10em black,
    9em 10em black,
    10em 10em black,
    11em 10em black,
    12em 10em white,
    13em 10em white,
    14em 10em #d9d9d9,
    15em 10em black,
    16em 10em black,
    17em 10em black,
    2em 11em black,
    3em 11em #6e5537,
    4em 11em black,
    5em 11em #d9d9d9,
    6em 11em white,
    7em 11em white,
    8em 11em black,
    9em 11em #efd5b0,
    10em 11em #efd5b0,
    11em 11em black,
    12em 11em white,
    13em 11em white,
    14em 11em #d9d9d9,
    15em 11em black,
    16em 11em #6e5536,
    17em 11em black,
    2em 12em black,
    3em 12em #6d5636,
    4em 12em #5b4327,
    5em 12em black,
    6em 12em black,
    7em 12em black,
    8em 12em #f0d6b3,
    9em 12em #fdeacc,
    10em 12em #ffe9cf,
    11em 12em #f1d4b2,
    12em 12em black,
    13em 12em black,
    14em 12em black,
    15em 12em #584326,
    16em 12em #6e5536,
    17em 12em black,
    1em 13em black,
    2em 13em #ad8a60,
    3em 13em #6f5436,
    4em 13em #5b4329,
    5em 13em #e8c79c,
    6em 13em #fce4c2,
    7em 13em #f0d6b3,
    8em 13em #eed6b2,
    9em 13em #cea672,
    10em 13em #cca770,
    11em 13em #f2d5b3,
    12em 13em #f1d5b0,
    13em 13em #fbe3bf,
    14em 13em #e7c89c,
    15em 13em #594427,
    16em 13em #6e5536,
    17em 13em black,
    0 14em black,
    1em 14em #ac895f,
    2em 14em #8e693d,
    3em 14em #6e5537,
    4em 14em #5a4226,
    5em 14em #e9c69c,
    6em 14em #fce4c2,
    7em 14em #fbe3c1,
    8em 14em #fce4c2,
    9em 14em #f0d6b3,
    10em 14em #f0d6b3,
    11em 14em #efd5b0,
    12em 14em #fbe3c1,
    13em 14em #fce4c2,
    14em 14em #e8c79c,
    15em 14em #5b4327,
    16em 14em #6e5536,
    17em 14em black,
    1em 15em black,
    2em 15em #8e693d,
    3em 15em #6e5537,
    4em 15em #5c4227,
    5em 15em #cca772,
    6em 15em #fcdcb5,
    7em 15em #cea770,
    8em 15em #d9d9d9,
    9em 15em white,
    10em 15em white,
    11em 15em #d9d9d9,
    12em 15em #cea770,
    13em 15em #fcdcb3,
    14em 15em #cea672,
    15em 15em #5c4227,
    16em 15em #6e5536,
    17em 15em black,
    2em 16em black,
    3em 16em #6d5637,
    4em 16em #6f5437,
    5em 16em black,
    6em 16em #cfa773,
    7em 16em #efd5b2,
    8em 16em #f0d6b5,
    9em 16em #da6b4d,
    10em 16em #db6c50,
    11em 16em #efd5b0,
    12em 16em #f1d5b0,
    13em 16em #cea672,
    14em 16em #574426,
    15em 16em black,
    16em 16em black,
    3em 17em black,
    4em 17em black,
    5em 17em black,
    6em 17em black,
    7em 17em #cfa672,
    8em 17em #f0d6b1,
    9em 17em #f0d6b5,
    10em 17em #ffeacf,
    11em 17em #ffe7cb,
    12em 17em #cfa670,
    13em 17em black,
    14em 17em black,
    7em 18em black,
    8em 18em black,
    9em 18em #cfa670,
    10em 18em #cea672,
    11em 18em black,
    12em 18em black,
    6em 19em black,
    7em 19em white,
    8em 19em #bababc,
    9em 19em #f0d6b5,
    10em 19em #efd5b2,
    11em 19em #bababc,
    12em 19em white,
    13em 19em black,
    6em 20em black,
    7em 20em white,
    8em 20em #bababc,
    9em 20em #f0d6b5,
    10em 20em #efd5b2,
    11em 20em #bababc,
    12em 20em white,
    13em 20em black,
    5em 21em black,
    6em 21em #c14e85,
    7em 21em #bababa,
    8em 21em white,
    9em 21em #3a444d,
    10em 21em #3a444d,
    11em 21em white,
    12em 21em #bababa,
    13em 21em #c14e85,
    14em 21em black,
    4em 22em black,
    5em 22em #8882b2,
    6em 22em #ea8dba,
    7em 22em #f4bed6,
    8em 22em black,
    9em 22em #3a444d,
    10em 22em #3a444d,
    11em 22em black,
    12em 22em #f5bdd8,
    13em 22em #ed8bba,
    14em 22em #8981b0,
    15em 22em black,
    3em 23em black,
    4em 23em #ec8cbc,
    5em 23em #f4bed8,
    6em 23em #1e468b,
    7em 23em #70498a,
    8em 23em black,
    9em 23em #3a444d,
    10em 23em #3a444d,
    11em 23em black,
    12em 23em #70498a,
    13em 23em #1e468b,
    14em 23em #f4c0d7,
    15em 23em #ec8cbc,
    16em 23em black,
    3em 24em black,
    4em 24em #6f4b88,
    5em 24em #1e468b,
    6em 24em #f5bdd8,
    7em 24em #dc679e,
    8em 24em black,
    9em 24em #3a444d,
    10em 24em #3a444d,
    11em 24em black,
    12em 24em #dd669e,
    13em 24em #f5bdd8,
    14em 24em #1e468b,
    15em 24em #704a87,
    16em 24em black,
    3em 25em black,
    4em 25em #c15084,
    5em 25em #301a26,
    6em 25em #8983b1,
    7em 25em #714987,
    8em 25em black,
    9em 25em #3a444d,
    10em 25em #3a444d,
    11em 25em black,
    12em 25em #6e4a88,
    13em 25em #8882b2,
    14em 25em #301a26,
    15em 25em #c14e85,
    16em 25em black,
    3em 26em black,
    4em 26em #8a82b1,
    5em 26em black,
    6em 26em #f6bed9,
    7em 26em #e98cb8,
    8em 26em black,
    9em 26em #3a444d,
    10em 26em #3a444d,
    11em 26em black,
    12em 26em #ec8cba,
    13em 26em #f6bed9,
    14em 26em black,
    15em 26em #8981b0,
    16em 26em black,
    3em 27em black,
    4em 27em #eb8bb9,
    5em 27em black,
    6em 27em #1d4688,
    7em 27em #6e4a87,
    8em 27em black,
    9em 27em #3a444d,
    10em 27em #3a444d,
    11em 27em black,
    12em 27em #6e4a88,
    13em 27em #1d4688,
    14em 27em black,
    15em 27em #ec8db9,
    16em 27em black,
    3em 28em black,
    4em 28em #6f4b88,
    5em 28em black,
    6em 28em #f5bdd8,
    7em 28em #dc679e,
    8em 28em black,
    9em 28em #3a444d,
    10em 28em #3a444d,
    11em 28em black,
    12em 28em #dd669e,
    13em 28em #f5bdd8,
    14em 28em black,
    15em 28em #704a87,
    16em 28em black,
    3em 29em black,
    4em 29em #c15084,
    5em 29em black,
    6em 29em #8983b1,
    7em 29em #714987,
    8em 29em black,
    9em 29em #3a444d,
    10em 29em #3a444d,
    11em 29em black,
    12em 29em #6e4a88,
    13em 29em #8882b2,
    14em 29em black,
    15em 29em #c14e85,
    16em 29em black,
    3em 30em black,
    4em 30em #8a82b1,
    5em 30em black,
    6em 30em #f6bed9,
    7em 30em #e98cb8,
    8em 30em black,
    9em 30em #3a444d,
    10em 30em #3a444d,
    11em 30em black,
    12em 30em #ec8cba,
    13em 30em #f6bed9,
    14em 30em black,
    15em 30em #8981b0,
    16em 30em black,
    3em 31em black,
    4em 31em #eb8bb9,
    5em 31em black,
    6em 31em #1d4688,
    7em 31em #6e4a87,
    8em 31em black,
    9em 31em #3a444d,
    10em 31em #3a444d,
    11em 31em black,
    12em 31em #6e4a88,
    13em 31em #1d4688,
    14em 31em black,
    15em 31em #ec8db9,
    16em 31em black,
    3em 32em black,
    4em 32em #6f4b88,
    5em 32em black,
    6em 32em #f5bdd8,
    7em 32em #dc679e,
    8em 32em black,
    9em 32em #3a444d,
    10em 32em #3a444d,
    11em 32em black,
    12em 32em #dd669e,
    13em 32em #f5bdd8,
    14em 32em black,
    15em 32em #704a87,
    16em 32em black,
    3em 33em black,
    4em 33em #c15084,
    5em 33em black,
    6em 33em #8983b1,
    7em 33em #714987,
    8em 33em black,
    9em 33em #3a444d,
    10em 33em #3a444d,
    11em 33em black,
    12em 33em #6e4a88,
    13em 33em #8882b2,
    14em 33em black,
    15em 33em #c14e85,
    16em 33em black,
    3em 34em #cea672,
    4em 34em #f0d6b3,
    5em 34em black,
    6em 34em #f4bed8,
    7em 34em #ec8db9,
    8em 34em black,
    9em 34em #3a444d,
    10em 34em #3a444d,
    11em 34em black,
    12em 34em #ec8cba,
    13em 34em #f6bed9,
    14em 34em black,
    15em 34em #f0d6b3,
    16em 34em #cea770,
    3em 35em #cea770,
    4em 35em #f0d6b3,
    5em 35em black,
    6em 35em #1d4688,
    7em 35em #714a8b,
    8em 35em black,
    9em 35em #3a444d,
    10em 35em #3a444d,
    11em 35em black,
    12em 35em #6e4a8a,
    13em 35em #1d4688,
    14em 35em black,
    15em 35em #f0d6b3,
    16em 35em #cea672,
    3em 36em black,
    4em 36em black,
    5em 36em black,
    6em 36em #f4bed8,
    7em 36em #dc679c,
    8em 36em black,
    9em 36em #3c5a74,
    10em 36em #3c5a74,
    11em 36em black,
    12em 36em #e98cb9,
    13em 36em #f4bed6,
    14em 36em black,
    15em 36em black,
    16em 36em black,
    5em 37em black,
    6em 37em black,
    7em 37em black,
    8em 37em black,
    9em 37em #7a9dbd,
    10em 37em #7a9dbd,
    11em 37em black,
    12em 37em black,
    13em 37em black,
    14em 37em black,
    5em 38em black,
    6em 38em #789cbc,
    7em 38em #799dbd,
    8em 38em #779ebd,
    9em 38em #799dbd,
    10em 38em #799dbd,
    11em 38em #799dbd,
    12em 38em #799dbd,
    13em 38em #799dbd,
    14em 38em black,
    5em 39em black,
    6em 39em #8cafcd,
    7em 39em #799dbd,
    8em 39em #7a9dbd,
    9em 39em black,
    10em 39em black,
    11em 39em #799dbd,
    12em 39em #799dbd,
    13em 39em #8cafcd,
    14em 39em black,
    5em 40em black,
    6em 40em #8cafcd,
    7em 40em #799dbd,
    8em 40em black,
    11em 40em black,
    12em 40em #799dbd,
    13em 40em #8cafcd,
    14em 40em black,
    5em 41em black,
    6em 41em #8cafcd,
    7em 41em #799dbd,
    8em 41em black,
    11em 41em black,
    12em 41em #799dbd,
    13em 41em #8cafcd,
    14em 41em black,
    5em 42em black,
    6em 42em #98b7d3,
    7em 42em #799dbd,
    8em 42em black,
    11em 42em black,
    12em 42em #799dbd,
    13em 42em #98b7d3,
    14em 42em black,
    5em 43em black,
    6em 43em #98b7d3,
    7em 43em #799dbd,
    8em 43em black,
    11em 43em black,
    12em 43em #799dbd,
    13em 43em #98b7d3,
    14em 43em black,
    5em 44em black,
    6em 44em #62809a,
    7em 44em #789cbc,
    8em 44em black,
    11em 44em black,
    12em 44em #799dbd,
    13em 44em #62809a,
    14em 44em black,
    5em 45em black,
    6em 45em #799dbd,
    7em 45em #799dbd,
    8em 45em black,
    11em 45em black,
    12em 45em #799dbd,
    13em 45em #799dbd,
    14em 45em black,
    5em 46em black,
    6em 46em #799dbd,
    7em 46em #799dbd,
    8em 46em black,
    11em 46em black,
    12em 46em #799dbd,
    13em 46em #799dbd,
    14em 46em black,
    5em 47em black,
    6em 47em #799dbd,
    7em 47em #799dbd,
    8em 47em black,
    11em 47em black,
    12em 47em #799dbd,
    13em 47em #799dbd,
    14em 47em black,
    5em 48em black,
    6em 48em #62809a,
    7em 48em #62809a,
    8em 48em black,
    11em 48em black,
    12em 48em #62809a,
    13em 48em #799dbd,
    14em 48em black,
    4em 49em black,
    5em 49em #97b9d4,
    6em 49em #98b8d1,
    7em 49em #799dbd,
    8em 49em black,
    11em 49em black,
    12em 49em #799dbd,
    13em 49em #61819a,
    14em 49em #62809a,
    15em 49em black,
    4em 50em black,
    5em 50em #799dbf,
    6em 50em #799dbd,
    7em 50em #799dbd,
    8em 50em black,
    11em 50em black,
    12em 50em #98b8d1,
    13em 50em #99b9d2,
    14em 50em #99b9d2,
    15em 50em black,
    3em 51em black,
    4em 51em black,
    5em 51em #db669b,
    6em 51em #db669b,
    7em 51em #db669b,
    8em 51em black,
    11em 51em black,
    12em 51em #db669b,
    13em 51em #db669b,
    14em 51em #db669b,
    15em 51em black,
    16em 51em black,
    2em 52em black,
    3em 52em white,
    4em 52em white,
    5em 52em white,
    6em 52em white,
    7em 52em white,
    8em 52em black,
    11em 52em black,
    12em 52em white,
    13em 52em white,
    14em 52em white,
    15em 52em white,
    16em 52em white,
    17em 52em black,
    -2em 53em rgba(0,0,0,0.1),
    -1em 53em rgba(0,0,0,0.2),
    0 53em rgba(0,0,0,0.3),
    1em 53em rgba(0,0,0,0.4),
    2em 53em black,
    3em 53em black,
    4em 53em black,
    5em 53em black,
    6em 53em black,
    7em 53em black,
    8em 53em black,
    9em 53em rgba(0,0,0,0.4),
    10em 53em rgba(0,0,0,0.4),
    11em 53em black,
    12em 53em black,
    13em 53em black,
    14em 53em black,
    15em 53em black,
    16em 53em black,
    17em 53em black,
    18em 53em rgba(0,0,0,0.4),
    19em 53em rgba(0,0,0,0.3),
    20em 53em rgba(0,0,0,0.2),
    21em 53em rgba(0,0,0,0.1);
} 