/* line 1, ../sass/style.scss */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* line 8, ../sass/style.scss */
ul {
  margin: 0;
  list-style: none;
  font-size: 4vw;
  transform-style: preserve-3d;
  animation: three-dimensions-circle 30s linear infinite;
}

/* line 15, ../sass/style.scss */
li {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* line 21, ../sass/style.scss */
li:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg) translateY(-260px) rotateX(90deg);
}

/* line 21, ../sass/style.scss */
li:nth-child(2) {
  transform: translate(-50%, -50%) rotate(30deg) translateY(-260px) rotateX(90deg);
}

/* line 21, ../sass/style.scss */
li:nth-child(3) {
  transform: translate(-50%, -50%) rotate(60deg) translateY(-260px) rotateX(90deg);
}

/* line 21, ../sass/style.scss */
li:nth-child(4) {
  transform: translate(-50%, -50%) rotate(90deg) translateY(-260px) rotateX(90deg);
}

/* line 21, ../sass/style.scss */
li:nth-child(5) {
  transform: translate(-50%, -50%) rotate(120deg) translateY(-260px) rotateX(90deg);
}

/* line 21, ../sass/style.scss */
li:nth-child(6) {
  transform: translate(-50%, -50%) rotate(150deg) translateY(-260px) rotateX(90deg);
}

/* line 21, ../sass/style.scss */
li:nth-child(7) {
  transform: translate(-50%, -50%) rotate(180deg) translateY(-260px) rotateX(90deg);
}

/* line 21, ../sass/style.scss */
li:nth-child(8) {
  transform: translate(-50%, -50%) rotate(210deg) translateY(-260px) rotateX(90deg);
}

/* line 21, ../sass/style.scss */
li:nth-child(9) {
  transform: translate(-50%, -50%) rotate(240deg) translateY(-260px) rotateX(90deg);
}

/* line 21, ../sass/style.scss */
li:nth-child(10) {
  transform: translate(-50%, -50%) rotate(270deg) translateY(-260px) rotateX(90deg);
}

/* line 21, ../sass/style.scss */
li:nth-child(11) {
  transform: translate(-50%, -50%) rotate(300deg) translateY(-260px) rotateX(90deg);
}

/* line 21, ../sass/style.scss */
li:nth-child(12) {
  transform: translate(-50%, -50%) rotate(330deg) translateY(-260px) rotateX(90deg);
}

@keyframes three-dimensions-circle {
  0% {
    transform: rotateX(-100deg) rotate(0);
  }
  100% {
    transform: rotateX(-100deg) rotate(-360deg);
  }
}
