/* line 4, ../sass/style.scss */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/style.scss */
.demo {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #3A3276;
  overflow: hidden;
}
/* line 22, ../sass/style.scss */
.demo__svg {
  flex-shrink: 0;
  fill: transparent;
  stroke: white;
  stroke-width: 2px;
}
/* line 30, ../sass/style.scss */
.demo__rerun {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 80px;
  height: 35px;
  border: none;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: #3A3276;
  background-color: white;
  cursor: pointer;
  outline: none !important;
  z-index: 1;
}
/* line 49, ../sass/style.scss */
.demo__rerun:hover {
  transform: translateY(-1px);
}
/* line 53, ../sass/style.scss */
.demo__rerun:active {
  transform: translateY(1px);
}

/* line 59, ../sass/style.scss */
.me {
  position: absolute;
  left: 0;
  bottom: 10px;
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Montserrat";
  font-size: 18px;
  color: white;
  transform: translateY(10px);
  opacity: 0;
  transition: all 0.3s ease;
}
/* line 77, ../sass/style.scss */
.me a {
  color: white;
}
/* line 80, ../sass/style.scss */
.me a:hover {
  color: yellow;
}

/* line 86, ../sass/style.scss */
.animatable {
  transition: stroke-dashoffset 1s ease, fill 0.3s ease 0.6s;
}

/* line 90, ../sass/style.scss */
.shown {
  transform: none;
  opacity: 1;
}

/* line 95, ../sass/style.scss */
.hidden {
  opacity: 0;
}
