{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "extends",
        "for",
        "function",
        "if",
        "ignores",
        "return"
      ]
    }],
    "color-hex-length": "long",
    "color-hex-case": "upper",
    "selector-pseudo-element-colon-notation": "single",
    "order/properties-order": [
      "content",

      "outline",
      "outline-color",
      "outline-offset",
      "outline-style",
      "outline-width",

      "z-index",
      "position",
      "top",
      "right",
      "bottom",
      "left",

      "display",
      "align-items",
      "align-self",
      "flex",
      "flex-basis",
      "flex-direction",
      "flex-flow",
      "flex-grow",
      "flex-shrink",
      "flex-wrap",
      "justify-content",
      "order",

      "background",
      "background-attachment",
      "background-clip",
      "background-color",
      "background-image",
      "background-position",
      "background-repeat",
      "background-size",

      "width",
      "max-width",
      "min-width",

      "height",
      "max-height",
      "min-height",

      "border",
      "border-color",
      "border-top",
      "border-right",
      "border-bottom",
      "border-left",
      "border-radius",

      "box-shadow",

      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",
      "padding",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",
      "box-sizing",

      "float",
      "clear",

      "columns",
      "column-gap",
      "column-fill",
      "column-rule",
      "column-span",
      "column-count",
      "column-width",

      "transform",
      "transform-origin",

      "transition",
      "transition-delay",
      "transition-duration",
      "transition-property",
      "transition-timing-function",

      "color",
      "font",
      "font-family",
      "font-size",
      "font-smoothing",
      "font-style",
      "font-variant",
      "font-weight",
      "letter-spacing",
      "line-height",
      "text-align",
      "text-decoration",
      "text-indent",
      "text-overflow",
      "text-rendering",
      "text-shadow",
      "text-transform",
      "text-wrap",

      "white-space",
      "word-spacing",

      "overflow",
      "overflow-x",
      "overflow-y",

      "opacity",
      "vertical-align",
      "visibility",
      "cursor"
    ],
  }
}
