/* line 1, ../sass/style.scss */
:root {
  --red: #B22234;
  --offwhite: #E3DED4;
  --blue: #3C3b6E;
  --purple: #832C4B;
}

/* line 8, ../sass/style.scss */
body {
  overflow: hidden;
}

/* line 9, ../sass/style.scss */
svg {
  width: 100vw;
  height: 100vh;
}

/* line 11, ../sass/style.scss */
.state, .territory, .circle {
  position: relative;
  stroke: #000;
  stroke-width: 1;
  fill: var(--offwhite);
}

/* line 18, ../sass/style.scss */
[data-visited] {
  fill: var(--red);
}

/* line 20, ../sass/style.scss */
.border {
  fill: none;
  stroke: #ccc;
  stroke-width: 1;
}
