<!-- Build Details -->
<div class="col-md-9">
    <div class="thumbnail">
        <div class="caption-full">
            <h4 class="pull-right">{{build.duration}}</h4>
            <h4><a href="{{build.url}}">{{build.fullDisplayName}}</a>
            </h4>
            <label>Result</label>
            <span>{{build.result}}</span>
        </div>
    </div>
    <div class="ratings">
        <p class="pull-right">
          <a class="btn btn-default" href="#/jobs/{{jobname}}">
            <i class="fa fa-backward fa-lg"></i> Back</a>
        </p>
    </div>

</div>
