.demo-container
  .button
    i.fa.fa-share-alt
    .fb.soc-but
      a.back(href = '#')
        i.fa.fa-facebook
    .tw.soc-but
      a.back(href = 'https://twitter.com/kiyutin_k' target='_blank')
        i.fa.fa-twitter
    .gp.soc-but
      a.back(href = '#')
        i.fa.fa-google-plus
    .vk.soc-but
      a.back(href = '#')
        i.fa.fa-vk