/**
 * The problem with brightness()
 */

body {
	display: flex;
}

div {
	width: 150px;
	height: 150px;
	background: hsl(210, 50%, 30%);
	color: white;
	padding: 25px;
}

div:nth-child(1) {
	filter: brightness(250%);
}

div:nth-child(3) {
	background: hsl(210, 50%, 80%);
}
