.wrapper
    .poster
        .poster-top
            - (1..100).each do |i|
                %div{:class => "circle circle-#{i}"}
                    .circle-inner

        .title
            .main nove tendencije 2
            .sub galerija suvremene umjetnosti, zagreb, katarinin trg 2 1. august - 15. septembar 1963.

        .poster-bottom
            - (1..20).each do |i|
                %div{:class => "circle circle-#{i}"}
                    .circle-inner

    .credit nove tendencije 2 - Ivan Picelj - 1963