/* Puppy created using the Sassy Shape Machine Mixin!

based on this Dribbble: http://dribbble.com/shots/1146826-Pupface */
/* line 145, ../sass/style.scss */
body {
  background: #7dcdd4;
  margin-top: -80px;
}

/* line 150, ../sass/style.scss */
div {
  position: absolute;
}
/* line 152, ../sass/style.scss */
div:after {
  position: absolute;
}
/* line 155, ../sass/style.scss */
div:before {
  position: absolute;
}

/* line 160, ../sass/style.scss */
.collar {
  width: 200px;
  height: 200px;
  background-color: #f25a2b;
  border-radius: 50%;
  margin: 210px 200px;
}
/* line 163, ../sass/style.scss */
.collar:after {
  width: 50px;
  height: 50px;
  background-color: #e4bb3b;
  border-radius: 50%;
  content: "";
  margin: 100% 40%;
}

/* line 170, ../sass/style.scss */
.neck {
  width: 180px;
  height: 180px;
  background-color: #f4e5be;
  border-radius: 50%;
  margin: 200px 210px;
}

/* line 175, ../sass/style.scss */
.mouth {
  width: 120px;
  height: 120px;
  background-color: #cc9b59;
  border-radius: 50%;
  margin: 210px 180px;
}
/* line 178, ../sass/style.scss */
.mouth:after {
  width: 120px;
  height: 120px;
  background-color: #cc9b59;
  border-radius: 50%;
  content: "";
  margin: 0 95%;
}

/* line 185, ../sass/style.scss */
.face {
  background-color: #f4e5be;
  height: 150px;
  margin: 120px 180px;
  width: 235px;
}

/* line 192, ../sass/style.scss */
.ear--left, .ear--right {
  width: 0;
  height: 0;
  border-bottom: 100px solid #523026;
  border-right: 100px solid transparent;
  border-bottom: 150px solid #523026;
  margin-top: 118px;
}
/* line 196, ../sass/style.scss */
.ear--left:after, .ear--right:after {
  width: 100px;
  height: 100px;
  background-color: #523026;
  border-radius: 50%;
  content: "";
  margin: 108px 0;
}

/* line 203, ../sass/style.scss */
.ear--left {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  margin-left: 80px;
}

/* line 209, ../sass/style.scss */
.ear--right {
  margin-left: 413px;
}

/* line 214, ../sass/style.scss */
.eye--left, .eye--right {
  margin-top: 180px;
  width: 30px;
  height: 30px;
  border: 15px solid #523026;
  border-radius: 50%;
}
/* line 220, ../sass/style.scss */
.eye--left:after, .eye--right:after {
  content: "";
  width: 60px;
  height: 30px;
  background-color: #f4e5be;
  margin: 50% -50%;
}

/* line 229, ../sass/style.scss */
.eye--left {
  margin-left: 200px;
}

/* line 234, ../sass/style.scss */
.eye--right {
  margin-left: 330px;
}

/* line 239, ../sass/style.scss */
.nose {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 45px solid #523026;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin: 230px 267px;
}

/* line 246, ../sass/style.scss */
.freckles--left, .freckles--right {
  width: 15px;
  height: 15px;
  background-color: #523026;
  border-radius: 50%;
  margin-top: 285px;
}
/* line 249, ../sass/style.scss */
.freckles--left:before, .freckles--right:before {
  width: 15px;
  height: 15px;
  background-color: #523026;
  border-radius: 50%;
  content: "";
  margin: -20px 15px;
}
/* line 254, ../sass/style.scss */
.freckles--left:after, .freckles--right:after {
  width: 15px;
  height: 15px;
  background-color: #523026;
  border-radius: 50%;
  content: "";
  margin: -20px -15px;
}

/* line 261, ../sass/style.scss */
.freckles--left {
  margin-left: 220px;
}

/* line 266, ../sass/style.scss */
.freckles--right {
  margin-left: 350px;
}

/* line 271, ../sass/style.scss */
.tongue {
  width: 50px;
  height: 50px;
  background-color: #f9b1e0;
  border-radius: 50%;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
  margin: 240px 270px;
}

/* line 279, ../sass/style.scss */
.dog:hover .tongue {
  margin-top: 290px;
}
