<input type="search" class="form-control" placeholder="Search" ng-model="query"><br>
<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th ng-repeat="field in fields" ng-click="sort(field)">
				{{ field }}
				<span ng-show="sort.field === field && !sort.order" class="glyphicon glyphicon-chevron-down"></span>
				<span ng-show="sort.field === field && sort.order" class="glyphicon glyphicon-chevron-up"></span>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="contact in contacts | filter:query | orderBy: sort.field : sort.order">
			<td ng-repeat="field in fields">
				{{ contact[field] }}
			</td>
		</tr>
	</tbody>	
</table>
