html, body {
  font-family: "Helvetica", sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  color: #FFFFFF;
  background: #f0f0f0;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.poster {
  background-color: #15100E;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 70.4457vw;
  height: 100vw;
}
@media screen and (orientation: landscape) {
  .poster {
    width: 70.4457vh;
    height: 100vh;
  }
}

ul, aside {
  position: absolute;
  bottom: 1.9%;
}

aside {
  letter-spacing: 0.05em;
  font-size: 0.45vw;
  white-space: nowrap;
  left: 98.25%;
  transform-origin: left center;
  transform: rotate(-90deg);
}
@media screen and (orientation: landscape) {
  aside {
    font-size: 0.45vh;
  }
}

ul {
  text-align: right;
  width: 27.34%;
  left: 0;
}

li {
  line-height: 180%;
  letter-spacing: 0.05em;
  font-size: 0.8vw;
}
@media screen and (orientation: landscape) {
  li {
    font-size: 0.8vh;
  }
}

.die, .gute, .form {
  position: absolute;
}

.d, .i, .e, .g, .u, .r:before, .m:before, .m:after, .t, .f, .f, .o, .d:before, .t:before, .f:before, .r, .m {
  backface-visibility: hidden;
  border: 4.375vw solid #FFFFFF;
  position: absolute;
  box-sizing: border-box;
}
@media screen and (orientation: landscape) {
  .d, .i, .e, .g, .u, .r:before, .m:before, .m:after, .t, .f, .f, .o, .d:before, .t:before, .f:before, .r, .m {
    border: 4.375vh solid #FFFFFF;
  }
}

.d, .e, .g, .u, .r:before, .m:before, .m:after, .t, .f, .f, .o, .d:before, .t:before, .f:before, .r {
  width: 16.41vw;
}
@media screen and (orientation: landscape) {
  .d, .e, .g, .u, .r:before, .m:before, .m:after, .t, .f, .f, .o, .d:before, .t:before, .f:before, .r {
    width: 16.41vh;
  }
}

.i, .e, .g, .o, .d:before, .t:before, .f:before, .r, .u, .r:before, .m:before, .m:after {
  height: 16.41vw;
}
@media screen and (orientation: landscape) {
  .i, .e, .g, .o, .d:before, .t:before, .f:before, .r, .u, .r:before, .m:before, .m:after {
    height: 16.41vh;
  }
}

.d, .u, .r:before, .m:before, .m:after, .t, .f {
  border-bottom-left-radius: 100vmax;
  border-bottom-right-radius: 100vmax;
}

.d, .t, .f, .f, .die, .gute, .form {
  height: 24.296vw;
}
@media screen and (orientation: landscape) {
  .d, .t, .f, .f, .die, .gute, .form {
    height: 24.296vh;
  }
}

.d {
  border-left-color: transparent;
  border-top: none;
}
.d:before {
  content: "";
  transform: translate(-50%, 0);
  position: absolute;
  left: 50%;
  bottom: -4.375vw;
}
@media screen and (orientation: landscape) {
  .d:before {
    bottom: -4.375vh;
  }
}

.i {
  border-left: none;
  border-top: none;
  border-bottom: none;
}

.e {
  border-radius: 50%;
  border-bottom-color: transparent;
  transform: rotate(-45deg);
}

.g {
  border-radius: 50%;
  border-top-color: transparent;
  transform: rotate(45deg);
}
.g:before {
  content: "";
  position: absolute;
  border-bottom: 8.205vw solid #FFFFFF;
  border-top: 0 solid transparent;
  border-left: 8.205vw solid transparent;
  top: 50%;
  left: 50%;
  transform-origin: top left;
  transform: rotate(-45deg);
}
@media screen and (orientation: landscape) {
  .g:before {
    border-bottom: 8.205vh solid #FFFFFF;
    border-top: 0 solid transparent;
    border-left: 8.205vh solid transparent;
  }
}

.o, .d:before, .t:before, .f:before, .u, .r:before, .m:before, .m:after {
  border-radius: 50%;
}

.u, .r:before, .m:before, .m:after {
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}

.t, .f {
  border-top: none;
  border-right-color: transparent;
}
.t:before, .f:before {
  backface-visibility: hidden;
  content: "";
  transform: translate(-50%, 0) rotate(45deg);
  position: absolute;
  left: 50%;
  top: auto !important;
  bottom: -4.375vw;
  border-top-color: transparent;
}
@media screen and (orientation: landscape) {
  .t:before, .f:before {
    top: auto !important;
    bottom: -4.375vh;
  }
}
.t:after, .f:after {
  content: "";
  width: 55%;
  background: #FFFFFF;
  position: absolute;
  top: 50%;
  transform: translate(-5%, -50%);
  height: 4.375vw;
}
@media screen and (orientation: landscape) {
  .t:after, .f:after {
    height: 4.375vh;
  }
}

.f {
  transform: scale(1, -1);
}
.f:before {
  left: 50% !important;
}

.r {
  border-radius: 50%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none;
  border-right-color: transparent;
}
.r:before {
  content: "";
  transform: rotate(-135deg);
  left: -4.375vw;
  top: -4.375vw;
}
@media screen and (orientation: landscape) {
  .r:before {
    left: -4.375vh;
    top: -4.375vh;
  }
}

.m {
  border: none;
}
.m:before, .m:after {
  content: "";
}
.m:before {
  transform: rotate(-135deg);
}
.m:after {
  transform: translate(100%) rotate(-135deg);
  left: -4.375vw;
}
@media screen and (orientation: landscape) {
  .m:after {
    left: -4.375vh;
  }
}

.die .i, .die .e {
  bottom: 0;
}
.die .i {
  left: 16.75vw;
}
@media screen and (orientation: landscape) {
  .die .i {
    left: 16.75vh;
  }
}
.die .e {
  left: 21.225vw;
}
@media screen and (orientation: landscape) {
  .die .e {
    left: 21.225vh;
  }
}

.gute .g, .gute .u, .gute .r:before, .gute .m:before, .gute .m:after, .gute .t, .gute .f, .gute .e {
  bottom: 0;
}
.gute .u, .gute .r:before, .gute .m:before, .gute .m:after {
  left: 16.75vw;
}
@media screen and (orientation: landscape) {
  .gute .u, .gute .r:before, .gute .m:before, .gute .m:after {
    left: 16.75vh;
  }
}
.gute .t, .gute .f {
  left: 33.26vw;
}
@media screen and (orientation: landscape) {
  .gute .t, .gute .f {
    left: 33.26vh;
  }
}
.gute .e {
  left: 50.001vw;
}
@media screen and (orientation: landscape) {
  .gute .e {
    left: 50.001vh;
  }
}

.form .f, .form .o, .form .d:before, .form .t:before, .form .f:before, .form .r, .form .m {
  top: 0;
}
.form .o, .form .d:before, .form .t:before, .form .f:before {
  left: 16.75vw;
}
@media screen and (orientation: landscape) {
  .form .o, .form .d:before, .form .t:before, .form .f:before {
    left: 16.75vh;
  }
}
.form .r {
  left: 33.26vw;
}
@media screen and (orientation: landscape) {
  .form .r {
    left: 33.26vh;
  }
}
.form .m {
  left: 50.001vw;
}
@media screen and (orientation: landscape) {
  .form .m {
    left: 50.001vh;
  }
}

.die, .gute, .form {
  transform: scale(0.6875);
}

.form, .gute {
  left: 23.35%;
}

.die {
  top: 18.58%;
  left: 2.57%;
}

.gute {
  top: 30.1%;
}

.form {
  top: 47%;
}
