div {
  height: calc(100vh / 9);
  --primary-hue: 232;
  --secondary-hue: 278;
  --tertiary-hue: 334;
  --darkened-saturation: 70%;
  --darkened-lightness: 30%;
  --default-saturation: 50%;
  --default-lightness: 50%;
  --lightened-saturation: 40%;
  --lightened-lightness: 60%;
}

div:nth-child(1){background: hsl(var(--primary-hue),   var(--darkened-saturation),  var(--darkened-lightness))}
div:nth-child(2){background: hsl(var(--primary-hue),   var(--default-saturation),   var(--default-lightness))}
div:nth-child(3){background: hsl(var(--primary-hue),   var(--lightened-saturation), var(--lightened-lightness))}
div:nth-child(4){background: hsl(var(--secondary-hue), var(--darkened-saturation),  var(--darkened-lightness))}
div:nth-child(5){background: hsl(var(--secondary-hue), var(--default-saturation),   var(--default-lightness))}
div:nth-child(6){background: hsl(var(--secondary-hue), var(--lightened-saturation), var(--lightened-lightness))}
div:nth-child(7){background: hsl(var(--tertiary-hue),  var(--darkened-saturation),  var(--darkened-lightness))}
div:nth-child(8){background: hsl(var(--tertiary-hue),  var(--default-saturation),   var(--default-lightness))}
div:nth-child(9){background: hsl(var(--tertiary-hue),  var(--lightened-saturation), var(--lightened-lightness))}