doctype html
html lang="en"
  head
    title Neon light
  body
    header.header
      nav
        ul.menu
          li
            a.neon href="#"
              span.broken C
              | SS3
          li
            a.neon href="#"
              | neo
              span.broken n
          li
            a.neon href="#"
              | s
              span.broken i
              | gns
