@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
/* line 2, ../sass/style.scss */
* {
  font-family: 'Noto Sans', sans-serif;
}

/* line 6, ../sass/style.scss */
body, html {
  background-color: #222;
  margin: 0;
}

/* line 11, ../sass/style.scss */
canvas {
  display: block;
}

/* line 15, ../sass/style.scss */
#instructions {
  color: orange;
  position: fixed;
  top: 0;
  margin-left: 20px;
}
