/*=============================================
=                    SEARCH                  =
=============================================*/
.search {
  float: right;
}

input[type="search"], input[type="text"] {
  box-shadow: none;
  border: none;
  border-radius: 1px;
  background-color: #768796;
  font-family: NanumGothic, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 25%;
}


input[type="search"]:focus, input[type="text"]:focus {
  outline: #c5de9d auto 1px;
  background: #daf1b3 !important;
  width: 25%;
}




/*=============================================
=              ACCORDIAN/TOGGLES              =
=============================================*/
.container {
  width: 100%;
  margin: 10px auto;
}

.ac-label {
  font-weight: 700;
  position: relative;
  padding: .5em 1em;
  margin-bottom: .5em;
  display: block;
  cursor: pointer;
  color: #011322;
  background-color: #78bfb6;
  text-transform: uppercase;
  transition: background-color .15s ease-in-out;
}

.ac-input:checked + label, .ac-label:hover {
  background-color: #011322;
  color: #78bfb6;
}

.ac-label:after, .ac-input:checked + .ac-label:after {
  content: "+";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 2em;
  height: 100%;
  line-height: 2.25em;
  text-align: center;
  background-color: #566979;
  color: #011322;
  transition: background-color .15s ease-in-out;
}

.ac-label:hover:after, .ac-input:checked + .ac-label:after {
  background-color: #78bfb6;
  color: #011322;
}

.ac-input:checked + .ac-label:after {
  content: "-";
}

.ac-input {
  display: none;
}

.ac-text, .ac-sub-text {
  opacity: 0;
  height: 0;
  margin-bottom: .5em;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
}

.ac-input:checked ~ .ac-text, .ac-sub .ac-input:checked ~ .ac-sub-text {
  opacity: 1;
  height: auto;
}

.ac-sub .ac-label {
  background: none;
  font-weight: 600;
  padding: .5em 2em;
  margin-bottom: 0;
}

.ac-sub .ac-label:checked {
  background: none;
  border-bottom: 1px solid whitesmoke;
}

.ac-sub .ac-label:after, .ac-sub .ac-input:checked + .ac-label:after {
  left: 0;
  background: none;
}

.ac-sub .ac-input:checked + label, .ac-sub .ac-label:hover {
  background: none;
}

.ac-label a {
  color: #011322;
  text-decoration: none;
}

.ac-label a:focus, .ac-label a:active {
  color: #78bfb6;
  text-decoration: none;
}

.ac-sub-text {
  padding: 0 1em 0 2em;
}

.reference, .reference:visited, h2 .reference, h2 .reference:visited {
  font-size: 12px !important;
  text-decoration: none;
  color: #566979;
}

.reference:hover, .reference:focus, .reference:active, h2 .reference:hover, h2 .reference:focus, h2 .reference:active {
  color: #f5686a;
  text-decoration: none;
}

/*=============================================
=                 CONTENT ITEMS               =
=============================================*/

.cheat-item a{
	text-decoration: none;
  font-size: 1.2em;
  color: #011322;

}



/*=============================================
=          GIST FORMAT MODIFICATIONS          =
=============================================*/

.gist, .gist-file, .gist .gist-file {
  border: none !important;
  border-radius: 0 !important;
  font-family: 'Source Code Pro', Monaco, Consolas, "Liberation Mono", Courier, monospace;
}

.gist .gist-file {
  border: 1px solid #eef0f7 !important;
}

.gist {
  border-bottom: none !important;
}

.gist pre {
  font-size: 13px !important;
  line-height: 18px !important;
  font-family: 'Source Code Pro', Monaco, Consolas, "Liberation Mono", Courier, monospace !important;
}


.gist .gist-file .gist-meta {
  text-shadow: none !important;
  background-image: none !important;
  padding: 5px !important;
  color: #737996 !important;
  background-color: #e9eced !important;
}

.line-numbers {
  display: none;
}

/*-----  End of Section comment block  ------*/

/*=============================================
=                      LINKS                  =
=============================================*/



