* {
  box-sizing: border-box;
}
body {
  background: #e6e6e6;
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
}
.container {
  display: inline-block;
  padding: 20px 40px;
  margin: 20px;
  background: #fff;
  border-bottom: 1px solid #cecece;
  text-align: left;
}
li {
  margin-bottom: 20px;
  font-size: 40px;
  color: #cecece;
}
a {
  text-decoration: none;
  color: #2aa1c0;
  border-right: 60px solid #f44336;
}
a:after {
  content: 'NEW';
  position: absolute;
  padding: 2px 5px;
  border-width: 15px 5px 15px 15px;
  border-style: solid;
  border-color: #fff;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}
a:hover {
  color: #0e647d;
  border-color: #d32f2f;
}
a:visited,
a:visited:hover {
  color: #cecece;
  border-color: #fff;
}
@media screen and (max-width: 600px) {
  .container {
    margin: 10px;
    padding: 10px;
  }
  li {
    font-size: 20px;
  }
  a {
    border-right-width: 53px;
  }
  a:after {
    border-width: 3px 3px 3px 10px;
  }
}
