html, body {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  width: 100vw;
}

html {
  overflow-x: hidden;
}

body * {
  padding: 0;
  margin: 0;
  border: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

header {
  display: block;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  text-align: left;
  z-index: 100;
}

header h1 {
  color: #fff;
  font: 400 5vmin 'Lato', arial, sans-serif;
  padding-left: 2vw;
}

header h2 {
  color: #fff;
  font: 400 3vmin 'Lato', arial, sans-serif;
  padding-left: 2vw;
}

header ul {
  list-style: none;
  float: right;
  margin-right: 2vw;
}

header ul li {
  display: inline-block;
}

header ul li a {
  color: #fff;
  font-size: 3vmin;
  text-decoration: none;
  padding: 0 1vw;
}

section {
  display: block;
  position: relative;
}

article {
  padding: 30vh 0;
  width: 80vw;
  margin: 0 10vw;
  text-align: center;
}

article h1 {
  font: 400 10vmin 'Lato', arial, sans-serif;
}

article h2 {
  font: 400 8vmin 'Lato', arial, sans-serif;
}

article h3 {
  font: 400 6vmin 'Lato', arial, sans-serif;
}

article p {
  padding: 1vmin 0;
  font: 400 3.5vmin 'Lato', arial, sans-serif;
}

.column {
  width: 80vw;
  text-align: left;
  -webkit-break-inside: avoid-column;
  -webkit-columns: 2;
  -webkit-column-gap: 3vw;
  -moz-break-inside: avoid-column;
  -moz-columns: 2;
  -moz-column-gap: 3vw;
  break-inside: avoid-column;
  columns: 2;
  column-gap: 3vw;
}

.column p {
  text-align: justify;
  display: inline-block;
}

#a1 {
  color: #fff;
  padding: 15vh 0;
  text-shadow: 0 0 0.5vw #000;
}

#a1 .b-slant {
  width: 0;
  height: 0;
  border-top: 10vh solid transparent;
  border-right: 100vw solid #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

#a3 {
  color: #fff;
  text-shadow: 0 0 0.5vw #000;
}

#a3 .t-slant {
  width: 0;
  height: 0;
  border-bottom: 10vh solid transparent;
  border-right: 100vw solid #fff;
}

#a3 .b-slant {
  width: 0;
  height: 0;
  border-top: 10vh solid transparent;
  border-left: 100vw solid #18b;
}

#a4 {
  background: #18b;
  color: #fff;
}

#a5 {
  color: #fff;
  text-shadow: 0 0 0.5vw #000;
}

#a5 .t-slant {
  width: 0;
  height: 0;
  border-bottom: 10vh solid transparent;
  border-left: 100vw solid #18b;
}

#a5 .b-slant {
  width: 0;
  height: 0;
  border-top: 10vh solid transparent;
  border-right: 100vw solid #fd3;
}

#a6 {
  background: #fd3;
}

#a7 {
  color: #fff;
}

#a7 .t-slant {
  width: 0;
  height: 0;
  border-bottom: 10vh solid transparent;
  border-right: 100vw solid #fd3;
}

#a7 .b-slant {
  width: 0;
  height: 0;
  border-top: 10vh solid transparent;
  border-left: 100vw solid #4d1;
}

#a8 {
  background: #4d1;
}

#a9 {
  color: #fff;
  text-shadow: 0 0 0.5vw #000;
}

#a9 .t-slant {
  width: 0;
  height: 0;
  border-bottom: 10vh solid transparent;
  border-left: 100vw solid #4d1;
}

#a9 .b-slant {
  width: 0;
  height: 0;
  border-top: 10vh solid transparent;
  border-left: 100vw solid #fff;
}

#a10 {
  background: #fff;
}

#a11 .t-slant {
  width: 0;
  height: 0;
  border-bottom: 10vh solid transparent;
  border-right: 100vw solid #fff;
}

#a11 {
  background: #18b;
  color: #fff;
}

#a1 {
  background: url(../images/pic1.jpg) no-repeat center center;
  background-size: cover;
}

#a3 {
  background: url(../images/pic2.jpg) no-repeat center center;
  background-size: cover;
}

#a5 {
  background: url(../images/pic3.jpg) no-repeat center center;
  background-size: cover;
}

#a7 {
  background: url(../images/pic5.jpg) no-repeat center center;
  background-size: cover;
}

#a9 {
  background: url(../images/pic7.jpg) no-repeat center center;
  background-size: cover;
}

footer {
  background: #3ad;
  padding: 2vh 0;
}

footer p {
  text-align: center;
  font: 400 3vmin 'Lato', arial, sans-serif;
}

@viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}
@media only screen and (min-width: 1025px) {
  #a1 {
    background-attachment: fixed;
  }

  #a3 {
    background-attachment: fixed;
  }

  #a5 {
    background-attachment: fixed;
  }

  #a7 {
    background-attachment: fixed;
  }

  #a9 {
    background-attachment: fixed;
  }
}
@media only screen and (max-width: 768px) {
  header h2 {
    font-size: 4.2vmin;
  }

  header ul {
    margin-right: 5vw;
  }

  header ul li a {
    font-size: 4.2vmin;
  }

  article p {
    font-size: 4.2vmin;
  }

  footer p {
    font-size: 4.2vmin;
  }

  .column {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }
}
