@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-35px);
  }
}
body {
  font-family: "Press Start 2P";
  background: #FFDC14;
  padding-top: 35vh;
}

.jumpy {
  font-size: 7vw;
  text-align: center;
  letter-spacing: -.45em;
  color: white;
}
.jumpy .letter {
  display: inline-block;
  text-shadow: 0.13em 0.13em 0 rgba(255, 0, 0, 0.6);
  animation: jump 500ms infinite ease-out alternate;
}
.jumpy .letter:nth-of-type(0) {
  animation-delay: 500ms;
}
.jumpy .letter:nth-of-type(1) {
  animation-delay: 700ms;
}
.jumpy .letter:nth-of-type(2) {
  animation-delay: 900ms;
}
.jumpy .letter:nth-of-type(3) {
  animation-delay: 1100ms;
}
.jumpy .letter:nth-of-type(4) {
  animation-delay: 1300ms;
}
.jumpy .letter:nth-of-type(5) {
  animation-delay: 1500ms;
}
.jumpy .letter:nth-of-type(6) {
  animation-delay: 1700ms;
}
.jumpy .letter:nth-of-type(7) {
  animation-delay: 1900ms;
}
.jumpy .letter:nth-of-type(8) {
  animation-delay: 2100ms;
}
.jumpy .letter:nth-of-type(9) {
  animation-delay: 2300ms;
}
.jumpy .letter:nth-of-type(10) {
  animation-delay: 2500ms;
}
.jumpy .letter:nth-of-type(11) {
  animation-delay: 2700ms;
}
