@keyframes shadow {
  0% {
    background-color: rgba(30, 100, 255, 0.2);
  }
  100% {
    background-color: rgba(150, 200, 255, 0.9);
  }
}
html {
  background: url(/images/textures/black-Linen.png);
}

ul#loader {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  margin: 50px auto;
}

ul#loader li {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 3px;
  margin: 0px;
  border-radius: 30px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.7), 1px 1px 1px rgba(255, 255, 255, 0.1);
}

ul#loader li:before {
  background-color: rgba(30, 100, 255, 0.2);
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 20px;
  box-shadow: inset -5px -5px 20px rgba(25, 255, 255, 0.2);
  animation: shadow 1.5s ease-in-out infinite alternate;
}

ul#loader li:nth-child(1):before {
  animation-delay: 0.1s;
}

ul#loader li:nth-child(2):before {
  animation-delay: 0.2s;
}

ul#loader li:nth-child(3):before {
  animation-delay: 0.3s;
}

ul#loader li:nth-child(4):before {
  animation-delay: 0.4s;
}

ul#loader li:nth-child(5):before {
  animation-delay: 0.5s;
}

ul#loader li:nth-child(6):before {
  animation-delay: 0.6s;
}

ul#loader li:nth-child(7):before {
  animation-delay: 0.7s;
}

ul#loader li:nth-child(8):before {
  animation-delay: 0.8s;
}

ul#loader li:nth-child(9):before {
  animation-delay: 0.9s;
}

ul#loader li:nth-child(10):before {
  animation-delay: 1s;
}

/* Demo credits stuff */
h1#author {
  font-weight: 400;
  text-align: center;
  color: #fff;
  width: 100%;
  padding: 10px;
  font-family: "Nixie One", georgia, serif;
  font-size: 40px;
}

h1#author a {
  color: #5AF;
  text-decoration: none;
}
