@charset "UTF-8";
/**
 * Cutout text with any color тАФ sadly with text repetition
 */
body {
  margin: 0;
}

main {
  background: url("https://leaverou.github.io/talks/even-more-css-secrets/img/whisper.jpg") center/cover no-repeat gray;
  min-height: 100vh;
}

div {
  mix-blend-mode: screen;
  font: bold 800%/1 Helvetica Neue, sans-serif;
  background: white;
  color: black;
  position: absolute;
  padding: .3em;
}

div + div {
  background: #f06;
  color: white;
  mix-blend-mode: multiply;
}
