<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{home.title}"></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <link type="text/css" rel="stylesheet" href="stylesheets/pricing.css" media="screen"/>


    <link th:href="${#httpServletRequest.requestURL.toString()}" rel="canonical"/>
    <meta name="robots" content="index,follow"/>
    <meta name="description" th:content="#{home.meta.description}"/>


    <meta property="og:title" th:content="#{home.title}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" th:content="${canonical}"/>
    <meta property="og:description" th:content="#{home.meta.description}"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:url" th:content="${canonical}"/>
    <meta name="twitter:title" th:content="#{home.title}"/>
    <meta name="twitter:description" th:content="#{home.meta.description}"/>

    <link th:href="${#httpServletRequest.requestURL.toString()}"/>

    <link rel="alternate" th:each="state : ${T(com.javabeast.domain.Language).values()}"
          th:hreflang="${state.displayName}"
          th:href="${#httpServletRequest.requestURL.toString()} + '?lang=' + ${state.displayName}"/>


</head>
<body>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">

    <li th:each="state : ${T(com.javabeast.domain.Language).values()}" th:value="${state}">
        <a th:href="${#httpServletRequest.requestURL.toString()} + '?lang=' + ${state.displayName}"
           th:text="${state.languageName}">Placeholder</a>
    </li>
</ul>

<div class="navbar-fixed">
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">Bike Tracker</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#features">Features</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="/checkout">Buy</a></li>
                <li><a href="/faq">FAQ</a></li>

                <li th:with="lang=${#locale}">
                    <a class="dropdown-button" href="#!" data-activates="dropdown1"
                       th:inline="text">
                        [[${T(com.javabeast.domain.Language).getNameFromCode(lang)}]]
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li><a href="/login">Login</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>

<main>
    <h1>Checkout</h1>

    <div class="row">
        <div class="input-field col s12 m6 l4">
            <select>
                <option selected="" value="1">1 unit - £199</option>
                <option value="2">2 units - £380</option>
                <option value="3">3 units - £545</option>
                <option value="4">4 units - £715</option>
            </select>
            <label>Select number Of units required</label>
        </div>

        <div class="input-field col s12 m6 l4">
            <select>
                <option selected="" value="m">£9.99 monthly</option>
                <option value="a1">£99 - 1 Year</option>
                <option value="a2">£269 - 3 Years</option>
            </select>
            <label>Select your payment plan</label>
        </div>

        <div class="col s12 m6 l4">
            <button class="center">Buy now £199</button>
        </div>

        <div class="col s12 m6 l4">
            <p>Checkout powered by stripe</p>
        </div>

    </div>
</main>


<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like
                    it's
                    our full time job. Any amount would help support and continue development on this project and is
                    greatly appreciated.</p>
            </div>

            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>

            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize.js"></script>
<script src="/javascripts/init.js"></script>

<script>
  $(document).ready(function() {
    $('select').material_select();
  });



</script>
</body>
</html>