.flex>*:nth-child(1){animation-delay: 1.2s;background: #72bf7b}
.flex>*:nth-child(2){animation-delay: 1.4s;background: #72bf7d}
.flex>*:nth-child(3){animation-delay: 1.6s;background: #729bbf}
.flex>*:nth-child(4){animation-delay: 1.8s;background: #84bf72}
.flex>*:nth-child(5){animation-delay: 2s;background: #bf7276}
.flex>*:nth-child(6){animation-delay: 2.2s;background: #72bf92}
.flex>*:nth-child(7){animation-delay: 2.4000000000000004s;background: #72bf85}
.flex>*:nth-child(8){animation-delay: 2.6s;background: #aa72bf}
.flex>*:nth-child(9){animation-delay: 2.8s;background: #72bf9b}
.flex>*:nth-child(10){animation-delay: 3s;background: #bf9072}
.flex>*:nth-child(11){animation-delay: 3.2s;background: #72a3bf}
.flex>*:nth-child(12){animation-delay: 3.4000000000000004s;background: #bf72a1}
.flex>*:nth-child(13){animation-delay: 3.6s;background: #bf729f}
.flex>*:nth-child(14){animation-delay: 3.8000000000000003s;background: #72bf9b}
.flex>*:nth-child(15){animation-delay: 4s;background: #bf8b72}
.flex>*:nth-child(16){animation-delay: 4.2s;background: #bfbc72}
.flex>*:nth-child(17){animation-delay: 4.4s;background: #72bf9b}
.flex>*:nth-child(18){animation-delay: 4.6s;background: #72b2bf}
.flex>*:nth-child(19){animation-delay: 4.800000000000001s;background: #8e72bf}
.flex>*:nth-child(20){animation-delay: 5s;background: #72bf9b}
.flex>*:nth-child(21){animation-delay: 5.2s;background: #72adbf}
.flex>*:nth-child(22){animation-delay: 5.4s;background: #72bf82}
.flex>*:nth-child(23){animation-delay: 5.6000000000000005s;background: #72a8bf}
.flex>*:nth-child(24){animation-delay: 5.800000000000001s;background: #8b72bf}
.flex>*:nth-child(25){animation-delay: 6s;background: #72bf76}
.flex>*:nth-child(26){animation-delay: 6.2s;background: #7296bf}
.flex>*:nth-child(27){animation-delay: 6.4s;background: #728ebf}
.flex>*:nth-child(28){animation-delay: 6.6000000000000005s;background: #bf8872}
.flex>*:nth-child(29){animation-delay: 6.800000000000001s;background: #bf9772}
.flex>*:nth-child(30){animation-delay: 7s;background: #72b7bf}
.flex>*:nth-child(31){animation-delay: 7.2s;background: #bf7b72}
.flex>*:nth-child(32){animation-delay: 7.4s;background: #bf7e72}
.flex>*:nth-child(33){animation-delay: 7.6000000000000005s;background: #72bfaf}
.flex>*:nth-child(34){animation-delay: 7.800000000000001s;background: #bf72ae}
.flex>*:nth-child(35){animation-delay: 8s;background: #abbf72}
.flex>*:nth-child(36){animation-delay: 8.2s;background: #bf9072}
.flex>*:nth-child(37){animation-delay: 8.4s;background: #72a3bf}
.flex>*:nth-child(38){animation-delay: 8.600000000000001s;background: #72bf85}
.flex>*:nth-child(39){animation-delay: 8.8s;background: #72a2bf}
.flex>*:nth-child(40){animation-delay: 9s;background: #72bf74}
.flex>*:nth-child(41){animation-delay: 9.200000000000001s;background: #bfb372}
.flex>*:nth-child(42){animation-delay: 9.4s;background: #7c72bf}
.flex>*:nth-child(43){animation-delay: 9.6s;background: #a7bf72}
.flex>*:nth-child(44){animation-delay: 9.8s;background: #72bf7d}
.flex>*:nth-child(45){animation-delay: 10s;background: #bfb872}
.flex>*:nth-child(46){animation-delay: 10.200000000000001s;background: #7772bf}
.flex>*:nth-child(47){animation-delay: 10.4s;background: #72bf97}
.flex>*:nth-child(48){animation-delay: 10.600000000000001s;background: #bf7672}
.flex>*:nth-child(49){animation-delay: 10.8s;background: #bfba72}
.flex>*:nth-child(50){animation-delay: 11s;background: #b172bf}
.flex>*:nth-child(51){animation-delay: 11.200000000000001s;background: #72b6bf}
.flex>*:nth-child(52){animation-delay: 11.4s;background: #bf8d72}
.flex>*:nth-child(53){animation-delay: 11.600000000000001s;background: #bf727c}
.flex>*:nth-child(54){animation-delay: 11.8s;background: #bfb572}
.flex>*:nth-child(55){animation-delay: 12s;background: #9172bf}
.flex>*:nth-child(56){animation-delay: 12.200000000000001s;background: #72bf87}
.flex>*:nth-child(57){animation-delay: 12.4s;background: #b5bf72}
.flex>*:nth-child(58){animation-delay: 12.600000000000001s;background: #91bf72}
.flex>*:nth-child(59){animation-delay: 12.8s;background: #72a3bf}
.flex>*:nth-child(60){animation-delay: 13s;background: #72bf7b}
.flex>*:nth-child(61){animation-delay: 13.200000000000001s;background: #9abf72}
.flex>*:nth-child(62){animation-delay: 13.4s;background: #bfb272}
.flex>*:nth-child(63){animation-delay: 13.600000000000001s;background: #bf8a72}
.flex>*:nth-child(64){animation-delay: 13.8s;background: #bf8f72}
.flex>*:nth-child(65){animation-delay: 14s;background: #72bebf}
.flex>*:nth-child(66){animation-delay: 14.200000000000001s;background: #72bf96}
.flex>*:nth-child(67){animation-delay: 14.4s;background: #acbf72}
.flex>*:nth-child(68){animation-delay: 14.600000000000001s;background: #72bfb4}
.flex>*:nth-child(69){animation-delay: 14.8s;background: #af72bf}
.flex>*:nth-child(70){animation-delay: 15s;background: #a272bf}
.flex>*:nth-child(71){animation-delay: 15.200000000000001s;background: #9bbf72}
.flex>*:nth-child(72){animation-delay: 15.4s;background: #81bf72}
.flex>*:nth-child(73){animation-delay: 15.600000000000001s;background: #72bf98}
.flex>*:nth-child(74){animation-delay: 15.8s;background: #bf72ba}
.flex>*:nth-child(75){animation-delay: 16s;background: #bdbf72}
.flex>*:nth-child(76){animation-delay: 16.200000000000003s;background: #72bbbf}
.flex>*:nth-child(77){animation-delay: 16.4s;background: #72bf76}
.flex>*:nth-child(78){animation-delay: 16.6s;background: #bbbf72}
.flex>*:nth-child(79){animation-delay: 16.8s;background: #7772bf}
.flex>*:nth-child(80){animation-delay: 17s;background: #bf8d72}
.flex>*:nth-child(81){animation-delay: 17.2s;background: #bf9572}
.flex>*:nth-child(82){animation-delay: 17.400000000000002s;background: #72bf8f}
.flex>*:nth-child(83){animation-delay: 17.6s;background: #bfa872}
.flex>*:nth-child(84){animation-delay: 17.8s;background: #72bfb7}
.flex>*:nth-child(85){animation-delay: 18s;background: #bf7297}
.flex>*:nth-child(86){animation-delay: 18.2s;background: #bfa872}
.flex>*:nth-child(87){animation-delay: 18.400000000000002s;background: #aebf72}
.flex>*:nth-child(88){animation-delay: 18.6s;background: #8cbf72}
.flex>*:nth-child(89){animation-delay: 18.8s;background: #bfa872}
.flex>*:nth-child(90){animation-delay: 19s;background: #a4bf72}
.flex>*:nth-child(91){animation-delay: 19.2s;background: #72bf80}
.flex>*:nth-child(92){animation-delay: 19.400000000000002s;background: #bf7b72}
.flex>*:nth-child(93){animation-delay: 19.6s;background: #90bf72}
.flex>*:nth-child(94){animation-delay: 19.8s;background: #72bf80}
.flex>*:nth-child(95){animation-delay: 20s;background: #bfba72}
.flex>*:nth-child(96){animation-delay: 20.200000000000003s;background: #89bf72}
.flex>*:nth-child(97){animation-delay: 20.400000000000002s;background: #72aabf}
.flex>*:nth-child(98){animation-delay: 20.6s;background: #72bfb1}
.flex>*:nth-child(99){animation-delay: 20.8s;background: #72bfab}
.flex>*:nth-child(100){animation-delay: 21s;background: #86bf72}
.flex>*:nth-child(101){animation-delay: 21.200000000000003s;background: #72bf8a}
.flex>*:nth-child(102){animation-delay: 21.400000000000002s;background: #bf7272}
.flex>*:nth-child(103){animation-delay: 21.6s;background: #72b7bf}
.flex>*:nth-child(104){animation-delay: 21.8s;background: #72bfa3}
.flex>*:nth-child(105){animation-delay: 22s;background: #9dbf72}
.flex>*:nth-child(106){animation-delay: 22.200000000000003s;background: #bf728d}
.flex>*:nth-child(107){animation-delay: 22.400000000000002s;background: #bf7272}
.flex>*:nth-child(108){animation-delay: 22.6s;background: #bf7288}
.flex>*:nth-child(109){animation-delay: 22.8s;background: #72bfab}
.flex>*:nth-child(110){animation-delay: 23s;background: #72b9bf}
.flex>*:nth-child(111){animation-delay: 23.200000000000003s;background: #8e72bf}
.flex>*:nth-child(112){animation-delay: 23.400000000000002s;background: #72bf9e}
.flex>*:nth-child(113){animation-delay: 23.6s;background: #72a3bf}
.flex>*:nth-child(114){animation-delay: 23.8s;background: #82bf72}
.flex>*:nth-child(115){animation-delay: 24s;background: #bf72ab}
.flex>*:nth-child(116){animation-delay: 24.200000000000003s;background: #9d72bf}
.flex>*:nth-child(117){animation-delay: 24.400000000000002s;background: #bf9472}
.flex>*:nth-child(118){animation-delay: 24.6s;background: #a572bf}
.flex>*:nth-child(119){animation-delay: 24.8s;background: #89bf72}
.flex>*:nth-child(120){animation-delay: 25s;background: #bfa872}
.flex>*:nth-child(121){animation-delay: 25.200000000000003s;background: #bbbf72}
.flex>*:nth-child(122){animation-delay: 25.400000000000002s;background: #72b1bf}
.flex>*:nth-child(123){animation-delay: 25.6s;background: #87bf72}
.flex>*:nth-child(124){animation-delay: 25.8s;background: #bf7672}
.flex>*:nth-child(125){animation-delay: 26s;background: #96bf72}
.flex>*:nth-child(126){animation-delay: 26.200000000000003s;background: #be72bf}
.flex>*:nth-child(127){animation-delay: 26.400000000000002s;background: #9572bf}
.flex>*:nth-child(128){animation-delay: 26.6s;background: #bf7283}
.flex>*:nth-child(129){animation-delay: 26.8s;background: #8bbf72}
.flex>*:nth-child(130){animation-delay: 27s;background: #86bf72}
.flex>*:nth-child(131){animation-delay: 27.200000000000003s;background: #72bf83}
.flex>*:nth-child(132){animation-delay: 27.400000000000002s;background: #98bf72}
.flex>*:nth-child(133){animation-delay: 27.6s;background: #72bf80}
.flex>*:nth-child(134){animation-delay: 27.8s;background: #a472bf}
.flex>*:nth-child(135){animation-delay: 28s;background: #72bf82}
.flex>*:nth-child(136){animation-delay: 28.200000000000003s;background: #72bfb7}
.flex>*:nth-child(137){animation-delay: 28.400000000000002s;background: #bf9a72}
.flex>*:nth-child(138){animation-delay: 28.6s;background: #bf8672}
.flex>*:nth-child(139){animation-delay: 28.8s;background: #aa72bf}
.flex>*:nth-child(140){animation-delay: 29s;background: #72bfb4}
.flex>*:nth-child(141){animation-delay: 29.200000000000003s;background: #bbbf72}
.flex>*:nth-child(142){animation-delay: 29.400000000000002s;background: #bf727b}
.flex>*:nth-child(143){animation-delay: 29.6s;background: #727fbf}
.flex>*:nth-child(144){animation-delay: 29.8s;background: #72bfb6}

body{
	perspective: 600px;
  overflow: hidden;
}

.wrapper{
	transform-style: preserve-3d;
	height: 100vh;
	width: 100vw;

}

.flex {
	height: 100vh;
	width: 100vw;
	transform-style: preserve-3d;
	display: flex;
	transform: rotateY(90deg) scale(0.1); 
	animation: rotate 10s infinite linear;
	animation-fill-mode: both;
	transform-origin: 50% 50%;
	overflow: visible;
  flex-flow: wrap row;
}

div div:nth-child(odd) {
	animation: rise 20s infinite ease;
	animation-fill-mode: both;
}

div div:nth-child(even) {
	animation: rise-reverse 20s infinite ease;
	animation-fill-mode: both;
}

.flex div {
  width: calc(100vw / 12);
	height: calc(100vw / 12);
	margin: 1em;
  position: relative;
  transform-style: preserve-3d;
}
.flex div:after,
.flex div:before,
.flex div span {
  content: "";
  display: block;
  position:absolute;
  width: calc(100vw / 12);
	height: calc(20vw / 12);
  transform-origin: 0 0;
  background: inherit;
  transform: rotateX(90deg); 
}

.flex div:after {
  top: 0;
  left: 0;
}

.flex div:before {
  top: 100%;
  left: 0;
  
}

.flex div span:first-child {
  top: 100%;
  left: 0;
  transform: rotateZ(-90deg) rotateX(90deg);
}

.flex div span:last-child {
  top: 0;
  left: 100%;
  transform: rotateZ(90deg) rotateX(90deg);
}

@keyframes rise {
  3% { transform: translateZ(30vh) }
  6% { transform: translateZ(30vh) rotateZ(180deg) }
  10% { transform: translateZ(0vh) translateY(-300vh) rotateZ(180deg) }
  15%, 50% { transform: translateZ(0vh) translateY(-300vh) rotateZ(180deg) }
  65% { transform: translateZ(30vh) translateY(-300vh) rotateZ(180deg) }
  75% { transform: translateZ(30vh) translateY(-300vh) translateX(300vh) rotateZ(180deg) }
  85% { transform: translateZ(30vh) translateX(300vh) }
  90% { transform: translateZ(30vh) }
  95% { transform: translateZ(0) }
}
@keyframes rise-reverse {
  3% { transform: translateZ(-30vh) }
  6% { transform: translateZ(-30vh) rotateZ(180deg) }
  10% { transform: translateZ(0vh) translateY(-300vh) rotateZ(180deg) }
  15%, 50% { transform: translateZ(0vh) translateY(-300vh) rotateZ(180deg) }
  65% { transform: translateZ(-30vh) translateY(-300vh) rotateZ(180deg) }
  75% { transform: translateZ(-30vh) translateY(-300vh) translateX(-300vh) rotateZ(180deg) }
  85% { transform: translateZ(-30vh) translateX(-300vh) }
  90% { transform: translateZ(-30vh) }
  95% { transform: translateZ(0) }
}

@keyframes rotate {
  0% { transform: rotateY(0deg) scale(0.1); }
  100% { transform: rotateY(359deg) scale(0.1); }
}