.c <span>C</span>
.h <span>H</span>
.r <span>R</span>  
.i I
.s <span>S</span>  
//
  .t <span>T</span>
  .o <span>O</span>
  .p <span>P</span>
  .h <span>H</span>
  .e <span>E</span>
  .r <span>R</span>
.o <span>O</span>
.t <span>T</span>
.a <span>A</span>
