@import "compass/css3"

*
  box-sizing: border-box

body
  background: #ffdd1c
  
  
.pickle-rick
  left: 50%
  top: 50%
  position: absolute
  transform: translate(-50%,-50%)
  height: 550px
  width: 180px
  background: linear-gradient(to bottom, #57ba2c, #458026)
  border: 5px solid #334b0d
  border-radius: 100px
  padding: 13px
  
  .shine
    position: absolute
    background: transparent
    height: 57px
    width: 25px
    border-left: 5px solid #ebfb98
    border-right: 5px solid transparent
    border-top: 5px solid transparent
    border-bottom: 5px solid transparent
    border-radius: 50%
    transform: rotate(40deg)
    margin: 9px
    &:before
      content: ""
      position: absolute
      background: transparent
      height: 17px
      width: 0px
      border-left: 5px solid #ebfb98
      border-radius: 50%
      margin: -26px 7px
      transform: rotate(30deg)
    
  .particles
    
    .dots
      height: 3px
      width: 3px
      border-radius: 50%
      position: relative
      z-index: 999
      box-shadow: 150px 300px 0px 1px #8fe138, 20px 315px 0px 1px #305e1a, 52px 357px 0px 3px #8fe138, 113px 371px 0px 2px #438125, 108px 327px 0px 3px #8fe138, 32px 265px 0px 3px #8fe138, 97px 220px 0px 1px #8fe138, 107px 282px 0px 3px #4d9b29, 88px 18px 0px 2px #499729, 27px 39px 0px 1px #beff00, 86px 405px 0px 1px #beff00, 30px 388px 0px 4px #305e1a
  
  .layer-1
    height: 95%
    width: 100%
    background-color: rgba(162,226,25,1)
    background: linear-gradient(to bottom, #a2e219 0%, #4fa029 35%, #4d9a29 65%, #63aa1e 100%)
    border-radius: 100px
    
  .layer-2
    height: 350px
    width: 115px
    position: absolute
    top: 0
    left: 0
    margin: 45px 27px
    background-color: rgba(162,226,25,1)
    background: linear-gradient(to bottom, #bde525 0%, #67c032 35%, #67c032 65%, #52a320 100%)
    border-radius: 100px
    filter: url('#goo')
    
    .c-wrap
      
      .circle
        height: 70px
        width: 70px
        border-radius: 50%
        position: absolute
        
      .circle:nth-of-type(1)
        margin: 167px -10px
        background: #68c032
      .circle:nth-of-type(2)
        margin: 167px 55px
        background: #68c032
        
      .circle:nth-of-type(3)
        margin: 250px -10px
        background: linear-gradient(#63ba2e,#58ab26)
      .circle:nth-of-type(4)
        margin: 248px 55px
        background: linear-gradient(#63ba2e,#58ab26)
        
      .circle:nth-of-type(5)
      .circle:nth-of-type(6)
        
  .layer-3 
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    
    .container
      width: 115px
      margin: 0 auto
    
    .eyebrow
      width: 100%
      position: relative
      margin: 90px 0 0
      z-index: 2
      
      .left-brow
        height: 11px
        width: 65px
        background: #b8e1f2
        border-radius: 100px
        border-right: 0
        float: left
        transform: rotate(30deg)
        
      .right-brow
        height: 11px
        width: 65px
        background: #b8e1f2
        border-radius: 100px
        position: absolute
        right: 0
        transform: rotate(-30deg)
        
    .wrap-eyes
      width: 100%
      margin: 15px auto
      position: relative
      z-index: 1
      
      .eye
        height: 53px
        width: 53px
        border-radius: 50%
        position: absolute
        
        &:before
          content: ""
          position: absolute
          height: 10px
          width: 10px
          background: black
          border-radius: 50%
          margin: 20px
        
        &:after
          content: ""
          position: absolute
          height: 40px
          width: 35px
          background: transparent
          border-radius: 50%
          border-bottom: 3px solid #3a5f13
          border-right: 3px solid transparent
          border-left: 3px solid transparent
          margin: 22px 7px
        
      .eye:nth-of-type(1)
        background: linear-gradient(#fcfef9 50%, #e7f2cc)
        box-shadow: 0px 0px 0px 1px #2e6b12, 0px 0px 0px 8px #74c530, inset 0px 0px 0px 2px #324c0b, inset 0px 0px 0px 6px #e7f2cc
        left: 0
        
      .eye:nth-of-type(2)
        background: linear-gradient(#fcfef9 50%, #e7f2cc)
        box-shadow: 0px 0px 0px 1px #2e6b12, 0px 0px 0px 8px #74c530, inset 0px 0px 0px 2px #324c0b, inset 0px 0px 0px 6px #e7f2cc
        right: 0
        
    .nose-container
      height: 50px
      position: absolute
      width: 100%
      left: 0
      margin: 45px 0
      
      .nose
        height: 40px
        width: 20px
        background: linear-gradient(rgba(61, 99, 21, 0) 20%, #3d6315 0%)
        margin: -3px auto
        border-radius: 50px
        position: relative
        z-index: 1
        
        &:before
          content: ""
          position: absolute
          height: 35px
          width: 15px
          background: #72d237
          border-radius: 50px
          margin: 2.5px 2.6px
      
    .mouth-container
      position: absolute
      width: 100%
      left: 0
      margin: 92px 0
      
      .mouth
        height: 25px
        width: 100px
        background: #162407
        border-radius: 50px
        margin: -5px auto
        overflow: hidden
        border: 2px solid #162407
        
        .wrap:nth-of-type(1)
          margin: -5px auto
          width: 67px
          
          .tooth
            background: #faffeb
            border: 1px solid #0a1003
            height: 15px
            width: 14px
            border-radius: 50%
            display: inline-block
            margin: 0 -2px
            
        .wrap:nth-of-type(2)
          margin: 2px auto
          width: 67px
          
          .tooth
            background: #faffeb
            border: 1px solid #0a1003
            height: 15px
            width: 14px
            border-radius: 50%
            display: inline-block
            margin: 0 -2px
      
      .lines
        margin: -55px 20px
        .line
          position: absolute
          height: 35px
          width: 35px
          background: transparent
          border-radius: 50%
          
        .left-line
          border-bottom: 3px solid transparent
          border-right: 3px solid transparent
          border-left: 3px solid #3a5f13
          border-top: 3px solid transparent
          margin: 25px 7px
          
        .bottom-line
          
          border-bottom: 3px solid #3a5f13
          border-right: 3px solid transparent
          border-left: 3px solid transparent
          border-top: 3px solid transparent
          margin: 36px 40px
          width: 50px
          
        .right-line
          
          border-bottom: 3px solid transparent
          border-right: 3px solid #3a5f13
          border-left: 3px solid transparent
          border-top: 3px solid transparent
          margin: 25px 88px
      

  //.irregularities
    position: absolute
    top: 0
    left: 0
    
    .irregularity
      height: 30px
      width: 30px
      background: #4b9429
      border-radius: 50%
      border: 7px solid #334b0d
