body {
  background: #1e2730;
  font-family: Arial;
}
svg {
  width: 100vmin;
  margin: 0 auto;
  display: block;
}
circle {
  fill: none;
  stroke-width: 3;
}
#secondsPath {
  stroke-width: 3;
  pointer-events: none;
  stroke-linecap: round;
}
#minPath {
  stroke-width: 3;
  pointer-events: none;
  stroke-linecap: round;
}
#hoursPath {
  stroke-width: 3;
  pointer-events: none;
  stroke-linecap: round;
}
text {
  dominant-baseline: central;
  text-anchor: middle;
  font-size: 5px;
  fill: Linen;
}
svg text::selection {
  background: none;
}

#hub {
  fill: #24303a;
  stroke-width: 0;
}
#toggle,
#reset {
  cursor: pointer;
}
