@import url(https://fonts.googleapis.com/css?family=Raleway);
.ombre-social-media {
  padding: 0;
  list-style: none;
  width: 150px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.ombre-social-media a {
  text-decoration: none;
  display: block;
  color: white;
  padding: .1em 0 .15em 0;
}

.ombre-social-media a:hover {
  text-decoration: underline;
}

.ombre-social-media a:focus {
  outline: 1px dotted gray;
  text-decoration: underline;
  overflow: hidden;
}

.twitter-soc {
  background-color: rgba(136, 87, 119, 0.3);
}

.googleplus-soc {
  background-color: rgba(136, 87, 119, 0.4);
}

.pinterest-soc {
  background-color: rgba(136, 87, 119, 0.5);
}

.tumblr-soc {
  background-color: rgba(136, 87, 119, 0.6);
}

.bloglovin-soc {
  background-color: rgba(136, 87, 119, 0.7);
}

.email-soc {
  background-color: rgba(136, 87, 119, 0.8);
}

.rss-soc {
  background-color: rgba(136, 87, 119, 0.9);
}
