@import url(https://fonts.googleapis.com/css?family=Lato:100);
body {
  background: #3498db;
}

h1 {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

h2 {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

a {
  color: #fff;
}

.btn {
  padding: 40px 30px 30px 30px;
  margin: 0 1px 0 0;
  text-decoration: none;
  text-align: center;
  color: #7f8c8d;
  cursor: pointer;
  background: #2c3e50;
  border-bottom: 10px solid #34495e;
  transition-property: border-bottom .6s linear 0s;
  -moz-transition: border-bottom .6s linear 0s;
  -webkit-transition: border-bottom .6s linear 0s;
  -o-transition: border-bottom .6s linear 0s;
  font-size: 25px;
}

.btn.active {
  border-bottom: 10px solid #2ecc71;
  color: #2ecc71;
}

.button-group-navigation li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  zoom: 1;
  background: #7f8c8d;
}

.button-group-navigation li .btn {
  float: left;
  margin-left: -4px;
}

.button-group-navigation>.btn:first-child,
.button-group-navigation li:first-child .btn {
  margin-left: 0;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.button-group-navigation>.btn:last-child,
.button-group-navigation li:last-child>.btn {
  margin-right: 0;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}