#copy <a href="https://twitter.com/igcorreia" target="_blank">Crafted by: <b>@igcorreia</b><br/>Searching for a Dribbble invite :)</a>
#sliderWrapper
  span.play.fa-stack
    i.fa.fa-play.fa-inverse
  span.stop.fa-stack
    i.fa.fa-stop.fa-inverse
  #slider
#wrapper
  #slideshow
    .slide-wrapper
      ul.slides-container
          li.slide
            .bgimage0
              .content Glass <br/> Slideshow 
            .bgglass1
              .content Glass <br/> Slideshow 
            .bgglass2
              .content Glass <br/> Slideshow 
            .bgblury1
              .content Glass <br/> Slideshow 
            